<%= render 'shared/header' %>

<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @training do |form| %>
        <% @training.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>

        <div class="col-sm-3">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingrese el año.">Año:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.number_field :year,  class: "form-control" %>
        </div>

        <br>
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Representante Legal.">Representante Legal:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_legal_representative, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <br>    
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Asesor SST.">Asesor SST:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_adviser_sst, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <br>    
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Responsable SST.">Responsable SST:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_responsible_sst, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <%= form.hidden_field :entity_id, :value => params[:entity_id].to_i, class: "form-control" %>
        <%= form.hidden_field :code, :value => @template.reference, class: "form-control" if @template.present? %>
        <%= form.hidden_field :version, :value => @template.version.to_i, class: "form-control" if @template.present? %>
        <%= form.hidden_field :date_create, :value => @template.date, class: "form-control" if @template.present? %>
        <%= form.hidden_field :date_update, :value => @template.date_updated, class: "form-control" if @template.present? %>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>