<% if @entity.present? %>
    <h2><%= @entity.business_name %></h2>
<% end %>


<% if @trainings.present? %>
    <%= link_to t('.create_training'), new_training_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary' if Current.user.level > 0 && Current.user.level < 3 %>

    <table class="table table-hover"> 

        <% @trainings.each do |training| %>
            <hr>
            <div class="col-sm-8">
                <h3>Cronograma de capacitaciones y actividades: <%= training.year %> </h3>
            </div>        

            <%= link_to t('common.create_item_training'), crear_item_training_trainings_path(training.id), class: 'btn btn-sm btn-warning' %> &nbsp;
            <%= link_to t('common.show_training'), training_path(training.id), class: 'btn btn-sm btn-warning' %> &nbsp;
            <%= link_to 'Excel', training_path(training.id, format: :xlsx), class: 'btn btn-sm btn-success' %> &nbsp;
            <%= link_to "PDF", ver_training_trainings_path(training.id, format: 'pdf'), class: 'btn btn-sm btn-success' %> &nbsp;

            <div class="container col-12">
                <br>
                <div class="row g-2">
                    <div class="col-sm-3">
                        <strong>Fecha de creación</strong><br>
                        <%= training.created_at.strftime("%F") %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong>Última fecha de actualización</strong><br>
                        <%= training.updated_at.strftime("%F") %> 
                    </div>        
                </div>

                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.code') %></strong><br>
                        <%= training.code %> 
                    </div>
                    <div class="col-sm-3">
                        <strong><%= t('.version') %></strong><br>
                        <%= training.version %> 
                    </div>
                    <div class="col-sm-3">
                        <strong><%= t('.date_create') %></strong><br>
                        <%= training.created_at %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_update') %></strong><br>
                        <%= training.updated_at %> 
                    </div>        
                </div>
                <br>

                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.user_legal_representative') %></strong><br>
                        <%=  training.name_user(training.user_legal_representative)  %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.firm_legal_representative') %></strong><br>
                        <%= training.label_firm(training.firm_legal_representative) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_firm_legal_representative') %></strong><br>
                        <%= training.date_firm_legal_representative %> 
                    </div>
                    <div class="col-sm-3">
                        <% if training.firm_legal_representative.to_i == 0 %>
                            <%= link_to t('common.firmar'), firmar_rep_trainings_path(training.id, 1), class: 'btn btn-xs btn btn-warning' %>
                        <% end %>    
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.user_adviser_sst') %></strong><br>
                        <%= training.name_user(training.user_adviser_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.firm_adviser_sst') %></strong><br>
                        <%= training.label_firm(training.firm_adviser_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_firm_adviser_sst') %></strong><br>
                        <%= training.date_firm_adviser_sst %> 
                    </div>
                    <div class="col-sm-3">
                        <% if training.firm_adviser_sst.to_i == 0 %>
                            <%= link_to t('common.firmar'), firmar_adv_trainings_path(training.id, 2), class: 'btn btn-xs btn btn-warning' %>
                        <% end %>    
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.user_responsible_sst') %></strong><br>
                        <%= training.name_user(training.user_responsible_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.firm_responsible_sst') %></strong><br>
                        <%= training.label_firm(training.firm_responsible_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_firm_responsible_sst') %></strong><br>
                        <%= training.date_firm_responsible_sst %> 
                    </div>
                    <div class="col-sm-3">
                        <% if training.firm_responsible_sst == 0 %>
                            <%= link_to t('common.firmar'), firmar_res_trainings_path(training.id, 3), class: 'btn btn-xs btn btn-warning' %>
                        <% end %>           
                    </div>
                </div>

            </div>           
        <% end %>  
        <hr>  
    </table>  
    <br>
<% else %>
    <div>
        <%= link_to t('.create_training'), new_training_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary' if Current.user.level > 0 && Current.user.level < 3  %>
    </div>
<% end %>
