<table class="table table-hover"> 
<thead>
    <tr>
        <th>NRO</th>
        <th>TEMA DE CAPACITACIÓN</th>
        <th>DURACIÓN</th>
        <th>OBJETIVO</th>
        <th>ALCANCE</th>
        <th>RECURSOS</th>
        <th>RESPONSABLE</th>
        <th>FECHA</th>
        <th>% DE COBERTURA EN CAPACITACIONES</th>
        <th>% DE TRABAJADORES CAPACITADOS  </th>
        <th>OBSERVACIONES</th>
    </tr>
</thead>

<% @training_items.each do |training_item| %>             
    <tbody>
        <tr> 
            <td><%= training_item.consecutive %></td>
            <td><%= training_item.training_topic %></td>
            <td><%= training_item.duration %></td>
            <td><%= training_item.goals %></td>
            <td><%= training_item.scope %></td>
            <td><%= training_item.resources %></td>
            <td><%= training_item.responsible %></td>
            <td><%= training_item.date_training  %></td>
            <td><%= training_item.training_coverage_percentage  %></td>
            <td><%= training_item.percentage_trained_workers  %></td>
            <td><%= training_item.observation  %></td>
        </tr>
    </body>
<% end %>
</table>
