<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @health_promoter do |form| %>
        <% @health_promoter.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">    
            <%= form.label :name_entity, style: "display: block" %>
            <%= form.text_field :name_entity,  class: "form-control" %>
        </div>

        <br>    
        <div class="row g-3">
            <div class="col-sm-3">
                <%= form.label :code_entity, style: "display: block" %>
                <%= form.text_field :code_entity,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">    
                <%= form.label :nit_entity, style: "display: block" %>
                <%= form.text_field :nit_entity,  class: "form-control" %>
            </div>                   
            <div class="col-sm-4">
                <%= form.label :regime_entity, style: "display: block" %>
                <%= form.text_field :regime_entity,  class: "form-control" %>
            </div> 
        </div>   
        <div><br> </div>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, health_promoters_path %>
    <% end %>
</div>        
<br>