<tr>
    <td><%= health_promoter.id %></td>
    <td><%= health_promoter.name_entity %></td>
    <td><%= health_promoter.code_entity %></td>
    <td><%= health_promoter.nit_entity %></td>
    <td><%= health_promoter.regime_entity %></td>

    <td><%= link_to t('common.edit'), edit_health_promoter_path(health_promoter), class: 'btn btn-sm btn-primary'  %></td>
</tr>



