<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @table_disease do |form| %>
        <% @table_disease.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">    
            <%= form.label :clasification_disease, style: "display: block" %>
            <%= form.text_field :clasification_disease,  class: "form-control" %>
        </div>


        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, table_diseases_path %>
    <% end %>
</div> 
<br>