<!-- render 'shared/header2' -->
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_table_disease'), new_table_disease_path, class: 'btn btn-sm btn-primary'  %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.clasification_disease') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col">Enfermedades</th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'table_disease', collection: @table_diseases  %>  
        </tbody>      
    </table>
    <div>
        <%= link_to t('.create_table_disease'), new_table_disease_path, class: 'btn btn-sm btn-primary'  %>
    </div>
</div>
