

<tr>
    <td><%= evaluation.date_evaluation %></td> 
    <td><%= evaluation.entity.business_name %></td>
    <td><%= evaluation.rule.name %></td> 

    <td><%= link_to t('common.edit'), edit_evaluation_path(evaluation), class: 'btn btn-sm btn-primary' if Current.user.level > 0 &&  Current.user.level < 3 %></td>
    <td><%= link_to t('common.show'), evaluation, class: 'btn btn-sm btn-primary' %></td>
    <td><%= button_to "Delete", evaluation, method: :delete, class:"btn btn-sm btn-danger" if Current.user.level > 0 &&  Current.user.level < 3 %></td>
    <td><%= link_to t('common.create_items_evaluation'), crear_evaluacion_evaluations_path(evaluation), class: 'btn btn-sm btn-success'  if Current.user.level > 0 &&  Current.user.level < 3 %></td>
    <td><%= link_to t('common.save_history'), crear_historia_evaluations_path(evaluation), class: 'btn btn-sm btn-success' if Current.user.level > 0 &&  Current.user.level < 3 %></td>
    <td><%= link_to t('common.see_history'), ver_history_evaluations_path(evaluation), class: 'btn btn-sm btn-success' %></td>

</tr>   


