
<tr> 
    <td><%= evaluation_items.standar_detail_item.standar_detail.standar.label_cycle(evaluation_items.standar_detail_item.standar_detail.standar.cycle) %></td>
    <td><%= evaluation_items.standar_detail_item.item_nro %></td>
    <td><%= evaluation_items.standar_detail_item.description%></td>
    <td style="width:350px;"><%= form_with model: evaluation_items do |form| %> 
        |<%= form.radio_button :meets, 1 %>
        <label for="si_cumple">SI</label>|&nbsp;   
        |<%= form.radio_button :meets, 0 %>
        <label for="no_cumple">NO</label>|&nbsp; 
        |<%= form.radio_button :meets, 2 %>
        <label for="na">NA</label>| 
        <%= form.submit 'Editar', class: 'btn btn-primary' %>
    <% end %> 
    </td>
    <td><%= evaluation_items.score %></td>
    <td>
        <button type="button" class="btn btn-light" 
            data-bs-toggle="popover"
            title="<%=evaluation_items.standar_detail_item.description%>"
            data-bs-content="CRITERIO: <%=evaluation_items.standar_detail_item.criterion%> 
             MODO DE VERIFICACIÓN:  <%= evaluation_items.standar_detail_item.verification_mode %>" ><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
    
    </td>
    
    <td><%= link_to t('common.veritem'), edit_evaluation_rule_detail_path(evaluation_items), class: 'btn btn-xs btn-primary'  %></td>
  
</tr>  



