

<tr>
    <td><%= evaluation.date_evaluation %></td> 
    <td><%= evaluation.entity.business_name %></td>
    <td><%= evaluation.rule.name %></td> 

    <td><%= link_to t('common.edit'), edit_evaluation_path(evaluation), class: 'btn btn-xs btn-primary'  %></td>
    <td><%= link_to t('common.show'), evaluation, class: 'btn btn-xs btn-primary' %></td>
    <td><%= link_to t('common.delete'), evaluation, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar la evaluación?' }, class: 'btn btn-xs btn-danger' %></td>
    <td><%= link_to t('common.create_items_evaluation'), crear_evaluacion_evaluations_path(evaluation), class: 'btn btn-xs btn-success'  %></td>
    <td><%= link_to t('common.save_history'), crear_historia_evaluations_path(evaluation), class: 'btn btn-xs btn-success'  %></td>
    <td><%= link_to t('common.see_history'), ver_history_evaluations_path(evaluation), class: 'btn btn-xs btn-success' %></td>

</tr>   


