<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-12"> 
    <div class="row g-2">
        <div class="col-sm-10"> 
            <h2 class="display-5"><%= t('.title')%> Nro: <%= @evaluation.id  %></h2>
            <%= link_to "PDF", ver_evaluation_pdf_evaluations_path(@evaluation.id, format: 'pdf'), class: 'btn btn-sm btn-success' %> &nbsp;
            <%= link_to 'Exportar a excel', evaluation_path(@evaluation, @evaluation_items, format: :xlsx), class: 'btn btn-sm btn-success' %>
        </div>         
        <div class="col-sm-1">
           <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, evaluations_path %>
        </div> 
        <hr>
    </div> 
    <br>

    <div class="row g-4">
        <div class="col-sm-3">
            <strong>Empleador o Contratante</strong><br>
            <%=  @evaluation.name_user(@evaluation.user_representante)  %> 
        </div>        
        <div class="col-sm-3">
            <strong>Firma</strong><br>
            <%= @evaluation.label_firm(@evaluation.firm_representante) %> 
        </div>        
        <div class="col-sm-3">
            <strong><%= t('.date_firm_representante') %></strong><br>
            <%= @evaluation.date_firm_representante %> 
        </div>
        <div class="col-sm-3">
            <% if @evaluation.firm_representante.to_i == 0 %>
                <%= link_to t('common.firmar'), firmar_representante_evaluation_path(@evaluation.id, 1), class: 'btn btn-sm btn btn-warning' %>
            <% end %>    
        </div>
    </div>
    <div class="row g-4">
        <div class="col-sm-3">
            <strong>Asesor externo de apoyo en la ejecución del SG-SST</strong><br>
            <%= @evaluation.name_user(@evaluation.user_responsible) %> 
        </div>        
        <div class="col-sm-3">
            <strong><%= t('.firm_responsible') %></strong><br>
            <%= @evaluation.label_firm(@evaluation.firm_responsible) %> 
        </div>        
        <div class="col-sm-3">
            <strong><%= t('.date_firm_responsible') %></strong><br>
            <%= @evaluation.date_firm_responsible %> 
        </div>
        <div class="col-sm-3">
            <% if @evaluation.firm_responsible.to_i == 0 %>
                <%= link_to t('common.firmar'), firmar_responsable_evaluation_path(@evaluation.id, 2), class: 'btn btn-sm btn btn-warning' %>
            <% end %>    
        </div>
    </div>
</div>  

<div class="container col-12">
    <br>
        <div class="row g-3">
            <div class="col-sm-5">
                <strong><%= t('.entity') %></strong>
                <%= @evaluation.entity.business_name %> 
            </div>        
            <div class="col-sm-3">
               <strong><%= t('.date_evaluation') %></strong>
               <%= @evaluation.date_evaluation %>
            </div>        
        </div>   
        
        <div class="row g-3">
            <div class="col-sm-3">
                <strong><%= t('.number_employees') %></strong>
                <%= @evaluation.number_employees %>
            </div>        
            <div class="col-sm-6">
                <strong><%= t('.risk_level') %></strong>
                <%= @evaluation.risk_level.name %> 
            </div>        
        </div>  

        <div class="form-group">    
            <strong><%= t('.rule') %></strong>
            <%= @evaluation.rule.name %>
        </div>

        <div class="row g-3">
            <div class="col-sm-4">
               <strong><%= t('.score') %></strong>
               <%= @evaluation.score  %>
            </div>        
            <div class="col-sm-4">
                <strong><%= t('.percentage') %></strong>
                <%= @evaluation.percentage %>
            </div>        
            <div class="col-sm-4">
                <strong><%= t('.result') %></strong>
                <% if @evaluation.result.to_s == 'ACEPTABLE'  %>
                    <div style="color:#008000";><%= @evaluation.result %> </div>
                <% end  %>    
                <% if @evaluation.result.to_s == 'MODERADAMENTE ACEPTABLE'  %>
                    <div style="color:#FFD200";><%= @evaluation.result %> </div>
                <% end  %>    
                <% if @evaluation.result.to_s == 'CRÍTICO'  %>
                    <div style="color:#FF0000";><%= @evaluation.result %> </div>
                <% end  %>    

            </div>        
        </div>  

        <div class="row g-3">
            <div class="col-sm-4">
                <strong><%= t('.expected_goald') %></strong>
                <%= @evaluation.expected_goald if @evaluation.present? %>
            </div>        
            <div class="col-sm-4">
            </div>        
            <div class="col-sm-4"> 
            </div>        
        </div>  


        <div class="form-group">    
            <strong><%= t('.observation') %></strong>
            <%= @evaluation.observation %>
        </div>
        <br>
        <div class="row g-3">
            <div class="col-sm-10"> 
                <%= pie_chart  @evaluation.calculo_porcentaje_general(@evaluation.id), title: "Porcentaje de cumplimiento Estándares Mínimos", download: {filename: "GraficaCiclo"}, download: {background: "#FFFFFF"}, xtitle: "Estándares Cumplidos", ytitle: "Porcentaje", prefix: "Porcentaje: ", suffix: "%", colors: ["#008000", "#FF0000"], donut: true, label: 'true', library: {plotOptions: { pie: { dataLabels: { enabled: true }}}} if @evaluation.present? %>
            </div>           
        </div>           

        <br>
 

        <div class="row g-3">
            <div class="col-sm-5">
                <%= column_chart  @evaluation.calculo_porcentaje_ciclo(@evaluation.id), title: "Porcentaje de cumplimiento por ciclo", download: {filename: "GraficaCiclo"}, download: {background: "#FFFFFF"}, xtitle: "Ciclo", ytitle: "Porcentaje", prefix: "Porcentaje: ", suffix: "%", colors: ["#008000"] if @evaluation.present? %>
            </div>           
            <div class="col-sm-3">
                <%= column_chart  @evaluation.calculo_cumplidos_evaluacion(@evaluation.id), colors: ["#008000"], title: "Estándares cumplidos por ciclo", download: {filename: "GraficaCiclo"}, download: {background: "#FFFFFF"}, xtitle: "Ciclo", ytitle: "Items cumplidos" if @evaluation.present? %>
            </div>           
            <div class="col-sm-3">
                <%= column_chart  @evaluation.calculo_pendientes_evaluacion(@evaluation.id), colors: ["#b00"], title: "Estándares pendientes por ciclo", download: {filename: "GraficaCiclo"}, download: {background: "#FFFFFF"}, xtitle: "Ciclo", ytitle: "Items pendientes" if @evaluation.present? %>
            </div>           
        </div>           
       
</div>    
<br>
<div class="container col-12" 
    <br>
    <h2 class="display-5"><%= t('.title_detail_apply') %></h2> 

    <input type="button" value="Actualizar Estándares" onClick="location.reload();" style="width: 200px; height: 30px; background: #6699FF; color: #ffffff; cursor: pointer; border: 0px;"/>
    <hr>
</div> 
<br>  

<div class="container col-12">  
    </br>        

    <table class="table table-hover">
        <thead>
            <tr>  
                <th scope="col">Ciclo</th>
                <th scope="col">Item</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cumple</th>
                <th scope="col">Aplica Norma</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Criterio</th> 
                <th scope="col">Ver</th> 
            </tr>
        </thead>  
        <tbody> 
            <% @evaluation_itemstotal.each do |evaluation_items| %> 
                <%= form_with model: evaluation_items do |form| %> 

                    <tr> 
                        <td><%= evaluation_items.standar_detail_item.standar_detail.standar.label_cycle(evaluation_items.standar_detail_item.standar_detail.standar.cycle) %></td>
                        <td><%= evaluation_items.standar_detail_item.item_nro %></td>
                        <td><%= evaluation_items.standar_detail_item.description%></td>
                        <td style="width:150px;">
                                <%= form.radio_button :meets, 1, :onClick=>"javascript: this.form.submit.click();" %>
                                <label for="si_cumple">SI</label>|&nbsp;   
                                <%= form.radio_button :meets, 0, :onClick=>"javascript: this.form.submit.click();" %>
                                <label for="no_cumple">NO</label>|&nbsp; 
                                <div class="actions" style="display:none;">
                                    <%= form.submit "", :name => "submit", :remote => "true" %>
                                </div>                                 
                        </td>
                        <td><%= EvaluationRuleDetail.label_apply(evaluation_items.apply) %></td>
                        <td><%= evaluation_items.score %></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-light" 
                                data-bs-toggle="popover"
                                title="<%=evaluation_items.standar_detail_item.description%>"
                                data-bs-content="CRITERIO: <%=evaluation_items.standar_detail_item.criterion%> 
                                MODO DE VERIFICACIÓN:  <%= evaluation_items.standar_detail_item.verification_mode %>" ><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
    
                        </td>
    
                        <td><%= link_to t('common.veritem'), edit_evaluation_rule_detail_path(evaluation_items), class: 'btn btn-sm btn-primary'  %></td>
                    </tr>  
                <% end %> 
            <% end %> 
        </tbody>   
 
    </table>
    </br>  
    <br>
    <h2 class="display-5"><%= t('.title_detail_no_apply') %></h2> 
    <hr>
    <div class="row g-3">
        <div class="col-sm-4">
           <strong><%= t('.score_int') %>:</strong>
           <%= @evaluation.score_int  %>%
        </div>        
        <div class="col-sm-4">
            <strong><%= t('.percentage_int') %>:</strong>
            <%= @evaluation.percentage_int %>%
        </div>        
        <div class="col-sm-4">
            <strong>Estado:</strong>
            <% if  @evaluation.score_int > 85.99  %>
                <div style="color:#008000";>ACEPTABLE</div>
            <% end  %>    
            <% if @evaluation.score_int > 60.99 && @evaluation.score_int < 86  %>
                <div style="color:#FFD200";>MODERADAMENTE ACEPTABLE</div>
            <% end  %>    
            <% if @evaluation.score_int < 61 %>
                <div style="color:#FF0000";>CRÍTICO</div>
            <% end  %>    
        </div>        
    </div>  

    <table class="table table-hover">
        <thead>
            <tr>  
                <th scope="col">Ciclo</th>
                <th scope="col">Item</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cumple</th>
                <th scope="col">Aplica Norma</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Criterio</th> 
                <th scope="col">Ver</th> 
            </tr>
        </thead>  
        <tbody> 
            <% @evaluation_itemstotalno.each do |evaluation_items| %> 
                <%= form_with model: evaluation_items do |form| %> 

                    <tr> 
                        <td><%= evaluation_items.standar_detail_item.standar_detail.standar.label_cycle(evaluation_items.standar_detail_item.standar_detail.standar.cycle) %></td>
                        <td><%= evaluation_items.standar_detail_item.item_nro %></td>
                        <td><%= evaluation_items.standar_detail_item.description%></td>
                        <td style="width:150px;">
                                <%= form.radio_button :meets, 1, :onClick=>"javascript: this.form.submit.click();" %>
                                <label for="si_cumple">SI</label>|&nbsp;   
                                <%= form.radio_button :meets, 0, :onClick=>"javascript: this.form.submit.click();" %>
                                <label for="no_cumple">NO</label>|&nbsp; 
                                <div class="actions" style="display:none;">
                                    <%= form.submit "", :name => "submit", :remote => "true" %>
                                </div>                                 
                        </td>
                        <td><%= EvaluationRuleDetail.label_apply(evaluation_items.apply) %></td>
                        <td><%= evaluation_items.score %></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-light" 
                                data-bs-toggle="popover"
                                title="<%=evaluation_items.standar_detail_item.description%>"
                                data-bs-content="CRITERIO: <%=evaluation_items.standar_detail_item.criterion%> 
                                MODO DE VERIFICACIÓN:  <%= evaluation_items.standar_detail_item.verification_mode %>" ><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
    
                        </td>
    
                        <td><%= link_to t('common.veritem'), edit_evaluation_rule_detail_path(evaluation_items), class: 'btn btn-sm btn-primary'  %></td>
                    </tr>  
                <% end %> 
            <% end %> 
        </tbody>   
 
    </table>
    </br>  
    
    

    <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, evaluations_path %>
    
</div>  
<br> 








