<head>
    <meta charset='utf-8' />
</head>

<br>

<table style="border:0px solid black;width: 100%">
    <tr>
        <td rowspan="2" style="border:1px solid black; width: 20%; text-align:center">
            <% if @entity.logo.present? %>
                <%= image_tag(Evaluation.wicked_blob_path(@entity.logo),:width => "100",  :height=>"100") %>
            <% end %>   
        </td>
        <td style="border:1px solid black; text-align:center">
            <div class="col-10" style="text-transform:uppercase;"><%= @entity.business_name if @entity.present? %></div>
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; text-align:center">
            <div class="col-10"><%= @template.name if @template.present? %></div>
        </td>
    </tr>
</table>
<table style="border:0px solid black;width: 100%">
    <tr>    
        <td style="border:1px solid black; width: 25%">
            CÓDIGO:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<%= @template.reference if @template.present? %>                
        </td>

        <td style="border:1px solid black; width: 25%">
            VERSIÓN:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<%= @template.version if @template.present? %>                
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; width: 25%">
            FECHA DE ELABORACIÓN:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<%= @template.date if @template.present? %>                
        </td>

        <td style="border:1px solid black; width: 25%">
            FECHA DE ACTUALIZACIÓN:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<%= @template.date_updated if @template.present? %>                
        </td>
    </tr>
</table>
</br>
<table style="border:0px solid black;width: 100%;" >
    <tr>
        <td style="width: 50%;">
            <strong>Fecha de evaluación:</strong>
            <%= @evaluation.date_evaluation %>
        </td>        
        <td style="width: 50%;">
            <strong>Número de empleados:</strong>
            <%= @evaluation.number_employees %>
        </td>        
    </tr>
    <tr>
        <td style="width: 50%;">
            <strong>Unidad agropecuaria:</strong>
            <%= Entity.label_agricultural_unit(@entity.agricultural_unit) %> 
        </td>        
        <td style="width: 50%;">
            <strong>Nivel de riesgo:</strong>
            <%= @evaluation.risk_level.name %> 
        </td>        
    </tr>
   
</table>
</br>
<div class="form-group">    
    <strong>Norma:</strong>
    <%= @evaluation.rule.name %>
</div>
</br>
<table style="width: 100%;" >
    <tr>
        <td style="width: 50%;">
            <strong>Puntaje:</strong>
            <%= @evaluation.score %>
         </td>        
        <td style="width: 50%;">
            <strong>Porcentaje:</strong>
            <%= @evaluation.percentage %>
        </td>        
    </tr>
    <tr>
        <td style="width: 50%;">
            <strong>Resultado:</strong>
            <% if @evaluation.result.to_s == 'ACEPTABLE'  %>
                <div style="color:#008000";><%= @evaluation.result %> </div>
            <% end  %>    
            <% if @evaluation.result.to_s == 'MODERADAMENTE ACEPTABLE'  %>
                <div style="color:#FFD200";><%= @evaluation.result %> </div>
            <% end  %>    
            <% if @evaluation.result.to_s == 'CRÍTICO'  %>
                <div style="color:#FF0000";><%= @evaluation.result %> </div>
            <% end  %>    
        </td>        
        <td style="width: 50%;">

        </td>        
    </tr>
</table>
</br>
<div class="form-group">    
    <strong>Observaciones:</strong>
    <%= @evaluation.observation %>
</div>
<br>
<div class="container col-12" 
    <br>
    <h2 class="display-5">Estándares</h2> 
    <hr>    
</div>  
<br>  
<div class="container col-12"> 
    <table class="table">
            <tr> 
                <td><strong>Ciclo</strong></td>
                <td><strong>Estándar</strong></td>
                <td><strong>Item</strong></td>
                <td><strong>Item del estándar</strong></td>
                <td><strong>Cumple</strong></td>
                <td><strong>Puntaje</strong></td>
            </tr>
        <% @evaluation_rule_details.each do |evaluation_item| %> 
            <tbody>
                <tr>
                    <% if evaluation_item.meets == 0  %>
                        <td style="color: #f70202;"><%= Standar.label_cycle(evaluation_item.standar_detail_item.standar_detail.standar.cycle) %></td>
                        <td style="color: #f70202;"><%= evaluation_item.standar_detail_item.standar_detail.description %></td>
                        <td style="color: #f70202;"><%= evaluation_item.standar_detail_item.item_nro %></td>
                        <td style="color: #f70202;"><%= evaluation_item.standar_detail_item.description%></td>
                        <td style="text-align:center; color: #f70202;" ><%= EvaluationRuleDetail.label_meets(evaluation_item.meets) %></td>
                        <td style="text-align:center; color: #f70202;"><%= evaluation_item.score %></td>
                    <% else %>
                        <td><%= Standar.label_cycle(evaluation_item.standar_detail_item.standar_detail.standar.cycle) %></td>
                        <td><%= evaluation_item.standar_detail_item.standar_detail.description %></td>
                        <td><%= evaluation_item.standar_detail_item.item_nro %></td>
                        <td><%= evaluation_item.standar_detail_item.description%></td>
                        <td style="text-align:center"><%= EvaluationRuleDetail.label_meets(evaluation_item.meets) %></td>
                        <td style="text-align:center"><%= evaluation_item.score %></td>
                    <% end  %>        
                </tr>  
            </tbody>   
        <% end %> 
        <tr>   
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:end">Total</td>
            <td style="text-align:center">
                <% if @evaluation.result.to_s == 'ACEPTABLE'  %>
                    <div style="color:#008000"><%= @evaluation.score %> </div>
                <% end  %>    
                <% if @evaluation.result.to_s == 'MODERADAMENTE ACEPTABLE'  %>
                    <div style="color:#FFD200"><%= @evaluation.score %> </div>
                <% end  %>    
                <% if @evaluation.result.to_s == 'CRÍTICO'  %>
                    <div style="color:#FF0000"><%= @evaluation.score %> </div>
                <% end  %>    
            </td>
        </tr>  
    </table>
    <br> 
    <div class="row"><br></div>
    <table style="width: 100%">
        <tr>    
            <td style="border:0px solid black; width: 50%; text-align:center">
                <% if @user_responsible.present? %>
                    <div class="row  text-center"> 
                        <div>
                            <div>Firma del Asesor externo de apoyo en la ejecución del SG-SST:</div>
                            <% if @evaluation.firm_responsible == 1 %>
                                <% if @user_responsible.firm.attached? && @user_responsible.firm.image?  %>
                                    <div style="height: 50px;" >
                                        <%= image_tag(Evaluation.wicked_blob_path(@user_responsible.firm), class: "firma") %>
                                    </div>    
                                    <p align="center">________________________________</p>
                                <% else %>    
                                    <div style="height: 50px;">

                                    </div>
                                    <p align="center">________________________________</p>
                                <% end %>
                            <% else %>    
                                <div style="height: 50px;">

                                </div>
                                <p align="center">________________________________</p>
                            <% end %>     
                        </div>
                       <div class="col-11">
                            <div class="row">
                                <strong><%= @user_responsible.name %></strong>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                Asesor Externo SG-SST
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <%= @user_responsible.document.abbreviation %>: <%= Firm.miles(@user_responsible.nro_document) %>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                Fecha firma: <%= @evaluation.date_firm_responsible  if @evaluation.date_firm_responsible %>
                            </div>
                        </div>
                    </div>
                    <br>
                <% end %>    
            </td>
            <td style="border:0px solid black; width: 50%; text-align:center">
                <% if @user_representante.present? %>
                    <div class="row  text-center"> 
                        <div>
                            <div>Firma del Empleador o Contratante:</div>
                            <div>&nbsp;</div>
                            <% if  @evaluation.firm_representante == 1 %>
                               <% if @user_representante.firm.attached? &&  @user_representante.firm.image? %>
                                    <div style="height: 50px;">
                                        <%= image_tag(Evaluation.wicked_blob_path(@user_representante.firm), class: "firma") %>
                                        
                                    </div>
                                    <p align="center">________________________________</p>    
                                <% else %>    
                                    <div style="height: 50px;">
                                        
                                    </div>
                                    <p align="center">________________________________</p>
                                <% end %>
                            <% else %>    
                                <div style="height: 50px;">
                                    
                                </div>
                                <p align="center">________________________________</p>                                
                             <% end %>     
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <strong><%= @user_representante.name %></strong>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                Representante Legal
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <%= @user_representante.document.abbreviation %>: <%= Firm.miles(@user_representante.nro_document) %>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                Fecha firma: <%= @evaluation.date_firm_representante  if @evaluation.date_firm_representante %>
                            </div>
                        </div>
        
                    </div>
                    <br> 
                <% end %>    
            </td>
        </tr>
    </table>
</div>     



