<div class="container col-12 card p-5">
    <br>
    <%= form_with model: @occupational_exam_item do |form| %>
        <% @occupational_exam_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    

        <div class="row g-2">
            <div class="col-sm-3">
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar la fecha que se realiza el examen."><%= t('.fec_exam') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.date_field :fec_exam,  class: "form-control" %>
            </div>  
            <div class="col-sm-3">
            </div>  
            <div class="col-sm-4"> 
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar la fecha de vencimiento del examen."><%= t('.fec_venc') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button> <br>          
                <%= form.date_field :fec_venc,  class: "form-control" %>
            </div>        
        </div>   

        <div class="row g-2">
            <div class="col-sm-6"> 
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar la acción que se va a realizar."><%= t('.exam_type') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.select(:exam_type, [['Ingreso', 0], ['Periódicos', 1], ['Egreso', 2]]) %>
            </div>
            <div class="col-sm-6"> 
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar el estado del exámen."><%= t('.state_exam') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.select(:state_exam, [['Pendiente', 0], ['Realizado', 1], ['Cancelado', 2]]) %>
            </div>
        </div>   

        <div class="row g-2">
            <div class="col-sm-3">
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar la número de identificación del empleado."><%= t('.nro_identification') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.text_field :nro_identification,  class: "form-control" %>
            </div>  
            <div class="col-sm-3">
            </div>  
            <div class="col-sm-4"> 
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar los apellídos y nombres del empleado."><%= t('.name') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button> <br>          
                <%= form.text_field :name,  class: "form-control" %>
            </div>        
        </div>   
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar el cargo del empleado."><%= t('.post') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :post,  class: "form-control" %>
        </div>



        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar el concepto."><%= t('.concept') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :concept,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar el direccionamiento."><%= t('.addressing') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :addressing,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar las recomendaciones médicas."><%= t('.recommendations') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :recommendations,  class: "form-control" %>
        </div>


        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar las restricciones médicas."><%= t('.restrictions') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :restrictions,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar el SVE(Sistema de Vigilancia Epidemiológica)."><%= t('.sve') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :sve,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar la acción."><%= t('.action') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :action,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar el seguimiento."><%= t('.follow_up') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :follow_up,  class: "form-control" %>
        </div>


        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
    <% end %>

</div>
<br>