<div class="container col-11 card p-5">
    <div class="bg-info">
            <p><%=@evidence.template.filing if @evidence.present? %></p>
    </div>

    <%= form_with model: @evidence do |form| %>
        <% @evidence.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  

        <% if @evidence.template_id == 25 ||  @evidence.template_id == 26 || @evidence.template_id == 27 then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :letter_value, style: "display: block" %>
                <%= form.text_field :letter_value,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :value, style: "display: block" %>
                <%= form.text_field :value,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_period, style: "display: block" %>
                <%= form.text_field :initial_period,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_period, style: "display: block" %>
                <%= form.text_field :final_period,  class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 34 || @evidence.template_id == 35 || @evidence.template_id == 36  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :number_attendees, style: "display: block" %>
                <%= form.number_field :number_attendees,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :number_officials, style: "display: block" %>
                <%= form.number_field :number_officials,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 37 || @evidence.template_id == 38 || @evidence.template_id == 39  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template_id == 40 || @evidence.template_id == 41 || @evidence.template_id == 42  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 43 || @evidence.template_id == 44 || @evidence.template_id == 45  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_time, style: "display: block" %>
                <%= form.time_field :initial_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        
            <div class="form-group">    
                <%= form.label :year_final, style: "display: block" %>
                <%= form.number_field :year_final,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template_id == 46 || @evidence.template_id == 47 || @evidence.template_id == 48  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_final, style: "display: block" %>
                <%= form.number_field :year_final,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :month_initial, style: "display: block" %>
                <%= form.number_field :month_initial,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :month_final, style: "display: block" %>
                <%= form.number_field :month_final,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :total_votes, style: "display: block" %>
                <%= form.number_field :total_votes,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 49 || @evidence.template_id == 50 || @evidence.template_id == 51  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_time, style: "display: block" %>
                <%= form.time_field :initial_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 58 || @evidence.template_id == 59 || @evidence.template_id == 60  then %>
            <br>
                <h6> Los siguiente campos se diligencian solo para el formato: PROGRAMA DE CAPACITACIÓN ANUAL EN EL SISTEMA DE SEGURIDAD Y SALUD EN EL TRABAJO </h6>
            <br>

            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
            <br>
            <div class="form-group">
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
            <br>
            <div class="row g-2">
                <div class="col-sm-5">
                    <%= form.label :por_cobertura, style: "display: block" %>
                    <%= form.number_field :por_cobertura,  class: "form-control" %>
                </div>
                <div class="col-sm-5">
                    <%= form.label :por_trabajadores, style: "display: block" %>
                    <%= form.number_field :por_trabajadores,  class: "form-control" %>
                </div>
            </div>        
            <br>
            <div class="row g-3">
                <div class="col-sm-4">
                    <%= form.label :por_reacciones, style: "display: block" %>
                    <%= form.number_field :por_reacciones,  class: "form-control" %>
                </div>
                <div class="col-sm-4">
                    <%= form.label :por_aprendizaje, style: "display: block" %>
                    <%= form.number_field :por_aprendizaje,  class: "form-control" %>
                </div>
                <div class="col-sm-3">
                    <%= form.label :por_resultados, style: "display: block" %>
                    <%= form.number_field :por_resultados,  class: "form-control" %>
                </div>
            </div>        
    
        <% end %>

        <% if @evidence.template_id == 61 || @evidence.template_id == 62 || @evidence.template_id == 63  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 64 || @evidence.template_id == 65 || @evidence.template_id == 66  then %>
            <div class="form-group">    
                <%= form.label :object, style: "display: block" %>
                <%= form.text_field :object,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 67 || @evidence.template_id == 68 || @evidence.template_id == 69  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>


        <% if @evidence.template_id == 70 || @evidence.template_id == 71 || @evidence.template_id == 72  then %>
            <div class="form-group">    
                <%= form.label :goals, style: "display: block" %>
                <%= form.text_area :goals,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 82 || @evidence.template_id == 83 || @evidence.template_id == 84 || @evidence.template_id == 124 || @evidence.template_id == 125 || @evidence.template_id == 126 || @evidence.template_id == 127 || @evidence.template_id == 128 || @evidence.template_id == 129 || @evidence.template_id == 130 || @evidence.template_id == 131 || @evidence.template_id == 132 || @evidence.template_id == 133 || @evidence.template_id == 134 || @evidence.template_id == 135 || @evidence.template_id == 136 || @evidence.template_id == 137 || @evidence.template_id == 138 || @evidence.template_id == 145 || @evidence.template_id == 146 || @evidence.template_id == 147 || @evidence.template_id == 148 || @evidence.template_id == 149 || @evidence.template_id == 150 || @evidence.template_id == 190 || @evidence.template_id == 191 || @evidence.template_id == 192 then %>
            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 85 || @evidence.template_id == 86 || @evidence.template_id == 87 || @evidence.template_id == 88 || @evidence.template_id == 89 || @evidence.template_id == 90  then %>
            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 115 || @evidence.template_id == 116 || @evidence.template_id == 117  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 139 || @evidence.template_id == 140 || @evidence.template_id == 141  then %>
            <div class="form-group">    
                <%= form.label :object, style: "display: block" %>
                <%= form.text_field :object,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 154 || @evidence.template_id == 155 || @evidence.template_id == 156  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :number_officials, style: "display: block" %>
                <%= form.number_field :number_officials,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>


        <% if @evidence.template_id == 166 || @evidence.template_id == 167 || @evidence.template_id == 168  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template_id == 178 || @evidence.template_id == 179 || @evidence.template_id == 180  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

        <% end %>


        <% if @evidence.template_id == 187 || @evidence.template_id == 188 || @evidence.template_id == 189  then %>
            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        <% end %>


        <% if @evidence.template_id == 199 || @evidence.template_id == 200 || @evidence.template_id == 201  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template_id == 223 || @evidence.template_id == 224 || @evidence.template_id == 225  then %>

            <div class="form-group">    
                <%= form.label :number_acta, style: "display: block" %>
                <%= form.number_field :number_acta,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :goals, style: "display: block" %>
                <%= form.text_field :goals,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_time, style: "display: block" %>
                <%= form.time_field :initial_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template_id == 226 || @evidence.template_id == 227 || @evidence.template_id == 228  then %>
            <div class="form-group">    
                <%= form.label :number_officials, style: "display: block" %>
                <%= form.number_field :number_officials,  class: "form-control" %>
            </div>
            <br>
            <h6> Los siguiente campos se diligencian solo para el formato: PROGRAMA DE VIGILANCIA EPIDEMIOLÓGICA PARA RIESGO BIOLÓGICO </h6>
            <div class="form-group">    
                <%= form.label :direct_exposure_areas, style: "display: block" %>
                <%= form.text_field :direct_exposure_areas,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :medical_examination_entity, style: "display: block" %>
                <%= form.text_field :medical_examination_entity,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :biologica_risk_area, style: "display: block" %>
                <%= form.text_field :biologica_risk_area,  class: "form-control" %>
            </div>
        <% end %>
        
        <br>
        <%= form.submit 'Guardar', class: "btn btn-primary", data: { turbo_confirm: 'Desea guardar los cambios?' }  %>     
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back  %>
    <% end %>
</div> 
<br>


