<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @evidence do |form| %>
        <% @evidence.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">    
            <%= form.label :date, style: "display: block" %>
            <%= form.date_field :date,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :place, style: "display: block" %>
            <%= form.text_field :place,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :goals, style: "display: block" %>
            <%= form.text_field :goals,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :number_attendees, style: "display: block" %>
            <%= form.number_field :number_attendees,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :number_officials, style: "display: block" %>
            <%= form.number_field :number_officials,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :period, style: "display: block" %>
            <%= form.text_field :period,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :initial_time, style: "display: block" %>
            <%= form.time_field :initial_time,  class: "form-control" %>
        </div>
        <div class="form-group">    
            <%= form.label :final_time, style: "display: block" %>
            <%= form.time_field :final_time,  class: "form-control" %>
        </div>

    

        <br>
        <h6> Los siguiente campos se diligencian solo para el formato: ASIGNACIÓN DE RECURSOS PARA EL SG-SST </h6>
        <div class="form-group">    
            <%= form.label :letter_value, style: "display: block" %>
            <%= form.text_field :letter_value,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :value, style: "display: block" %>
            <%= form.text_field :value,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :initial_period, style: "display: block" %>
            <%= form.text_field :initial_period,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :final_period, style: "display: block" %>
            <%= form.text_field :final_period,  class: "form-control" %>
        </div>

        <br>      
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back  %>
    <% end %>
</div> 
<br>


