<div class="container col-11 card p-5">
    <div class="bg-info">
            <p><%=@evidence.template.filing if @evidence.present? %></p>
    </div>

    <%= form_with model: @evidence do |form| %>
        <% @evidence.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  

        <% if @evidence.template.format_number == 8 then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :letter_value, style: "display: block" %>
                <%= form.text_field :letter_value,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :value, style: "display: block" %>
                <%= form.text_field :value,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_period, style: "display: block" %>
                <%= form.text_field :initial_period,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_period, style: "display: block" %>
                <%= form.text_field :final_period,  class: "form-control" %>
            </div>

            <div class="form-group">
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 11  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :number_attendees, style: "display: block" %>
                <%= form.number_field :number_attendees,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :number_officials, style: "display: block" %>
                <%= form.number_field :number_officials,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 12  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template.format_number == 13  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 14  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_time, style: "display: block" %>
                <%= form.time_field :initial_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        
            <div class="form-group">    
                <%= form.label :year_final, style: "display: block" %>
                <%= form.number_field :year_final,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template.format_number == 15  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :period, style: "display: block" %>
                <%= form.text_field :period,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_final, style: "display: block" %>
                <%= form.number_field :year_final,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :month_initial, style: "display: block" %>
                <%= form.number_field :month_initial,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :month_final, style: "display: block" %>
                <%= form.number_field :month_final,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :total_votes, style: "display: block" %>
                <%= form.number_field :total_votes,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 16  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_time, style: "display: block" %>
                <%= form.time_field :initial_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 19  then %>
            <br>
                <h6> Los siguiente campos se diligencian solo para el formato: PROGRAMA DE CAPACITACIÓN ANUAL EN EL SISTEMA DE SEGURIDAD Y SALUD EN EL TRABAJO </h6>
            <br>

            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <br>
            <div class="form-group">
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
            <br>
            <div class="row g-2">
                <div class="col-sm-5">
                    <%= form.label :por_cobertura, style: "display: block" %>
                    <%= form.number_field :por_cobertura,  class: "form-control" %>
                </div>
                <div class="col-sm-5">
                    <%= form.label :por_trabajadores, style: "display: block" %>
                    <%= form.number_field :por_trabajadores,  class: "form-control" %>
                </div>
            </div>        
            <br>
            <div class="row g-3">
                <div class="col-sm-4">
                    <%= form.label :por_reacciones, style: "display: block" %>
                    <%= form.number_field :por_reacciones,  class: "form-control" %>
                </div>
                <div class="col-sm-4">
                    <%= form.label :por_aprendizaje, style: "display: block" %>
                    <%= form.number_field :por_aprendizaje,  class: "form-control" %>
                </div>
                <div class="col-sm-3">
                    <%= form.label :por_resultados, style: "display: block" %>
                    <%= form.number_field :por_resultados,  class: "form-control" %>
                </div>
            </div>        
    
        <% end %>

        <% if @evidence.template.format_number == 20  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 21  then %>
            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 22 then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>


        <% if @evidence.template.format_number == 23 then %>
            <div class="form-group">    
                <%= form.label :goals, style: "display: block" %>
                <%= form.text_area :goals,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 77 then %>
            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 28 || @evidence.template.format_number == 29 || @evidence.template.format_number == 100 || @evidence.template.format_number == 106 then %>
            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
            <div class="form-group">
                <h5><%= form.label :"Adjuntar_Archivos:", style: "display: block" %></h5>
                <%= form.file_field :evi_files, multiple: true %>
            </div> 
        <% end %>

        <% if @evidence.template.format_number == 38  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 51  then %>
            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :number_officials, style: "display: block" %>
                <%= form.number_field :number_officials,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
        <% end %>


        <% if @evidence.template.format_number == 55  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template.format_number == 59  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template.format_number == 66  then %>
            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :year_initial, style: "display: block" %>
                <%= form.number_field :year_initial,  class: "form-control" %>
            </div>
        <% end %>

        <% if @evidence.template.format_number == 74  then %>

            <div class="form-group">    
                <%= form.label :number_acta, style: "display: block" %>
                <%= form.number_field :number_acta,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :goals, style: "display: block" %>
                <%= form.text_field :goals,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :initial_time, style: "display: block" %>
                <%= form.time_field :initial_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :final_time, style: "display: block" %>
                <%= form.time_field :final_time,  class: "form-control" %>
            </div>

            <div class="form-group">    
                <%= form.label :compliances, style: "display: block" %>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>

        <% end %>

        <% if @evidence.template.format_number == 75 then %>
            <div class="form-group">    
                <%= form.label :number_officials, style: "display: block" %>
                <%= form.number_field :number_officials,  class: "form-control" %>
            </div>
            <br>
            <h6> Los siguiente campos se diligencian solo para el formato: PROGRAMA DE VIGILANCIA EPIDEMIOLÓGICA PARA RIESGO BIOLÓGICO </h6>
            <div class="form-group">    
                <%= form.label :direct_exposure_areas, style: "display: block" %>
                <%= form.text_field :direct_exposure_areas,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :medical_examination_entity, style: "display: block" %>
                <%= form.text_field :medical_examination_entity,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <%= form.label :biologica_risk_area, style: "display: block" %>
                <%= form.text_field :biologica_risk_area,  class: "form-control" %>
            </div>
        <% end %>
        
        <% if @evidence.template.format_number == 109 then %>
            <div class="row g-2">
                <div class="col-sm-5">
                    <%= form.label :year_initial, style: "display: block" %>
                    <%= form.number_field :year_initial,  class: "form-control" %>
                </div>
                <div class="col-sm-5">
                    <h6> Número de personas impactadas: </h6>
                    <%= form.number_field :number_attendees,  class: "form-control" %>
                </div>
            </div>    
            <div class="form-group">    
                <h6> La Semana de la Salud se llevó a cabo los días: </h6>
                <%= form.text_field :period,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <h6> Desarrollo de la actividad: </h6>
                <%= form.rich_text_area :compliances,  class: "form-control" %>
            </div>
            <div class="form-group">    
                <h6> Descripción registro asistencia: </h6>
                <%= form.text_field :goals,  class: "form-control" %>
            </div>
            <div class="form-group">
                <h5><%= form.label :"Adjuntar_Archivos:", style: "display: block" %></h5>
                <%= form.file_field :evi_files, multiple: true %>
            </div> 
        <% end %>
        <br>
        <%= form.submit 'Guardar', class: "btn btn-primary", data: { turbo_confirm: 'Desea guardar los cambios?' }  %>     
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back  %>
    <% end %>
</div> 
<br>


