
<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>

<div class="container col-12">  

    <h2 class="display-5"><%= @entity.business_name if @entity.present? %></h2>
    <h2 class="display-5">Evidencias del ciclo <%= @nombre_ciclo if @nombre_ciclo.present? %></h2>

    </br>  
    <% datos = Evidence.buscar_ciclophva(params[:id]) %> 
    <% if datos.present? %>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <%  datos.each do |dato|  %>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target='#flush-collapse<%= dato.id %>' aria-expanded="false" aria-controls='flush-collapse<%= dato.id %>' >
                            <%= dato.standar_detail_item.item_nro %> <%= dato.standar_detail_item.description %>
                        </button>
                    </h2>
                    <div id='flush-collapse<%= dato.id %>' class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>  
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Nombre</th> 
                                        <th scope="col">Ver</th> 
                                    </tr>
                                </thead> 
                                <% evidencias = Evidence.buscar_evidencias(dato.id) %> 
                                <% if dato.standar_detail_item.item_nro == "4.2.4" %>
                                    <% safetys = SafetyInspection.buscar_safetys(dato.evaluation.entity_id) %> 
                                <% end %>
                                <% if dato.standar_detail_item.item_nro == "4.1.1" %>
                                    <% matrix_danger_risk = MatrixDangerRisk.buscar_matrix_danger_risk(dato.evaluation.entity_id) %> 
                                <% end %>
                                <% if dato.standar_detail_item.item_nro == "1.1.3" %>
                                    <% resources = Resource.buscar_matrix_resources(dato.evaluation.entity_id) %> 
                                <% end %>
                                <% if dato.standar_detail_item.item_nro == "1.2.1" %>
                                    <% trainings = Training.buscar_cronograma(dato.evaluation.entity_id) %> 
                                <% end %>
                                <% if dato.standar_detail_item.item_nro == "2.4.1" %>
                                    <% annual_work_plans = AnnualWorkPlan.buscar_plan_trabajo_anual(dato.evaluation.entity_id) %> 
                                <% end %>
                                <% if dato.standar_detail_item.item_nro == "3.1.4" %>
                                    <% examenes_ocupacionales = OccupationalExam.buscar_examenes_ocupacionales(dato.evaluation.entity_id) %> 
                                <% end %>

                                <% if evidencias.present? %>
                                    <tbody>
                                        <%  evidencias.each do |evidencia|  %>
                                            <tr> 
                                                <td><%= evidencia.date %></td>
                                                <td><%= evidencia.evaluation_rule_detail.standar_detail_item.item_nro %></td>
                                                <td><%= evidencia.evaluation_rule_detail.standar_detail_item.description %></td>
                                                <td><%= link_to t('common.veritem'), ver_evidencia_evaluation_rule_detail_path(evidencia.id), class: 'btn btn-sm btn-primary'  %></td>
                                            </tr> 
                                        <% end %>
                                    </tbody>
                                <% end %>
                                <% if safetys.present? %>
                                    <tbody>
                                        <%  safetys.each do |safety|  %>
                                            <tr> 
                                                <td><%= safety.date_inspection %></td>
                                                <td>Informe Inspección de Seguridad</td>
                                                <td><%= safety.area_inspection %> -- <%= safety.place_inspection %></td>
                                                <td><%= link_to t('common.veritem'), pdf_informe_inspeccion_path(safety.id, format: 'pdf'), class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                        <% end %>
                                    </tbody>
                                <% end %>
                                <% if matrix_danger_risk.present? %>
                                    <tbody>
                                            <tr> 
                                                <td><%= matrix_danger_risk.date_create %></td>
                                                <td>4.1.1</td>
                                                <td>Matriz de identificación de peligros, evaluación y valoración de los riesgos</td>
                                                <td><%= link_to t('common.veritem'), matrix_danger_risk_path(matrix_danger_risk.id), class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                    </tbody>
                                <% end %>
                                <% if resources.present? %>
                                    <tbody>
                                        <%  resources.each do |resource|  %>
                                            <tr> 
                                                <td><%= resource.year %></td>
                                                <td>1.1.3</td>
                                                <td>Matriz asignación de recursos</td>
                                                <td><%= link_to t('common.veritem'), resource_path(resource.id), class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                        <% end %>
                                    </tbody>
                                <% end %>
                                <% if trainings.present? %>
                                    <tbody>
                                        <%  trainings.each do |training|  %>
                                            <tr> 
                                                <td><%= training.year %></td>
                                                <td>1.2.1</td>
                                                <td>Cronograma de capacitaciones y actividades</td>
                                                <td><%= link_to t('common.veritem'), training_path(training.id), class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                        <% end %>
                                    </tbody>
                                <% end %>
                                <% if annual_work_plans.present? %>
                                    <tbody>
                                        <%  annual_work_plans.each do |annual_work_plan|  %>
                                            <tr> 
                                                <td><%= annual_work_plan.year %></td>
                                                <td>2.4.1</td>
                                                <td>Matriz plan anual de seguridad y salud en el trabajo</td>
                                                <td><%= link_to t('common.veritem'), annual_work_plan_path(annual_work_plan.id), class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                        <% end %>
                                    </tbody>
                                <% end %>
                                <% if dato.standar_detail_item.item_nro == "2.5.1" %>
                                    <tbody>
                                            <tr> 
                                                <td></td>
                                                <td>2.5.1</td>
                                                <td>Matriz administración documental</td>
                                                <td><%= link_to t('common.veritem'),  href="/templates/matriz_documental", class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                    </tbody>
                                <% end %>
                                <% if dato.standar_detail_item.item_nro == "3.1.2" %>
                                    <tbody>
                                            <tr> 
                                                <td></td>
                                                <td>3.1.2</td>
                                                <td>Asistencias a reuniones capacitaciones</td>
                                                <td><%= link_to t('common.veritem'),  href="/adm_attendances/", class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                    </tbody>
                                <% end %>
                                <% if examenes_ocupacionales.present? %>
                                    <tbody>
                                        <%  examenes_ocupacionales.each do |examenes_ocupacional|  %>
                                            <tr> 
                                                <td><%= examenes_ocupacional.date_create %></td>
                                                <td>3.1.4</td>
                                                <td>Matriz de seguimiento exámenes ocupacionales</td>
                                                <td><%= link_to t('common.veritem'), occupational_exam_path(examenes_ocupacional.id), class: 'btn btn-sm btn-primary' %> &nbsp;</td>
                                            </tr> 
                                        <% end %>
                                    </tbody>
                                <% end %>


                            </table>
                            </br>
                            <h3>Archivos adjuntos:</h3>
                            <% if dato.files.attached? %>
                                <div data-controller="previews" >
                                     <% dato.files.each do |file|%>
                                        <br>
                                        <% if file.image? %>
                                             <div>
                                                 <%= image_tag file, data: {previews_target: "preview"}, class: "image" %>
                                                <%= link_to "Borrar Archivo", purge_attachment_path(file), method: :delete, class: 'btn btn-sm btn-danger' %> 
                                                <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                                            </div> 
                                        <% elsif file.video? %>
                                             <%= video_tag url_for(file), controls: "", width: "400px" %>          
                                            <%= link_to "Borrar Archivo", purge_attachment_path(file), method: :delete, class: 'btn btn-sm btn-danger' %>
                                            <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                                        <% elsif file.audio? %>
                                            <%= audio_tag(url_for(file), controls: "") %>          
                                            <%= link_to "Borrar Archivo", purge_attachment_path(file), method: :delete, class: 'btn btn-sm btn-danger' %> 
                                            <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                                        <% else %>
                                             <%= link_to file.filename, url_for(file) %>          
                                            <%= link_to "Borrar Archivo", purge_attachment_path(file), method: :delete, class: 'btn btn-sm btn-danger' %>
                                            <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                                        <% end %>
                                    <% end %>  
                                </div>
                            <% end %>  

                        </div>
                    </div>
                </div>     
            <% end %>     
        </div>
    <% end %> 
    <br> 
    <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, home_path %>
</div>





