<tr>
    <td><%= business_day.id %></td>
    <td><%= business_day.entity.business_name %></td>
    <td><%= I18n.l(business_day.date_skilled, format: '%A') %></td>
    <td><%= business_day.date_skilled %></td>
    <td><%= link_to t('common.delete'), business_day, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el día no hábil?' }, class: 'btn btn-sm btn-danger' %></td>
</tr>