<tr>
    <td><%= business_day.id %></td>
    <td><%= business_day.entity.business_name %></td>
    <td><%= I18n.l(business_day.date_skilled, format: '%A') %></td>
    <td><%= business_day.date_skilled %></td>
    <td><%= button_to "Delete", business_day, method: :delete, class:"btn btn-sm btn-danger" %></td>
</tr>