<br>
<div  style="background-color: #0090e4;", class="container col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" >
    <div class="row" >  
            <div class=" text-end">
                <a class="nav-link active" aria-current="page" href="/users/new" style="color: #FFFFFF; " text-left data-bs-toggle="tooltip" data-bs-placement="top" title="Registrarse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </div>
            <div class="text-white">
                <h2><%=t('.title')%></h2>
                <%= form_with(url: sessions_path)  do |form| %>
                    <div class="form-group">    
                        <%= form.label :Usuario,  style: "display: block" %>
                        <%= form.text_field :login,  class: "form-control", required: true %>
                    </div>
                    <div class="form-group">    
                        <%= form.label :Clave,  style: "display: block" %>
                        <%= form.password_field :password,  class: "form-control", required: true %>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-sm btn-primary"><%= form.submit value= t('common.submitlog')  %></button>
                    </div>    
                <% end %> 
                    <div>
                        </br>
                        <a href="http://localhost:3000/users/politicas/1" class="link-light">Política de privacidad aquí</a>
                    </div>

                <div class="text-end">
                    <a class="nav-link active" aria-current="page" href="/sessions/cambioclave/path" style="color: #FFFFFF; " text-left data-bs-toggle="tooltip" data-bs-placement="top" title="Cambio de clave">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                        </svg>
                    </a>
                </div>
            </div>
    </div>
</div>
