<br>
<div  style="background-color: #0090e4;border-top-right-radius: 20px;border-bottom-right-radius: 0px;border-top-left-radius: 20px;border-bottom-left-radius: 0px;padding: 10px;", class="container col-xs-2 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
    <div class="row" > 
        <div align="left"; class="col-sm-2">
            <a class="navbar-brand" href="/">
                <%= image_tag 'LogoConesst202305232.png', height: "150", width: "auto" %>
            </a>
        </div>
        <div class="col-sm-2 text-center">
                <a class="nav-link active" aria-current="page" href="/sessions/cambioclave/path" style="color: #FFFFFF; " text-left data-bs-toggle="tooltip" data-bs-placement="top" title="Cambio de clave">Clave
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                </a>
        </div>
        <div class="col-sm-2 text-center">
                <a class="nav-link active" aria-current="page" href="/users/new" style="color: #FFFFFF; " text-left data-bs-toggle="tooltip" data-bs-placement="top" title="Registrarse">Registrarse
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
        </div>


        <div class="col-sm-2">
            <div class="text-white">
                <%=t('.title')%>
            </div>     
        </div>

        <div class="col-sm-2  text-end">
            <div class="text-white">
                <%= form_with(url: sessions_path)  do |form| %>
                    <div class="input-group mb-3">    
                        <%= form.text_field :login,  class: "form-control form-control-sm", required: true, placeholder: "usuario" %>
                    </div>
                    <div class="input-group mb-3">    
                        <%= form.password_field :password,  class: "form-control form-control-sm", required: true, placeholder: "clave" %>
                    </div>
                    
                    <div>
                        <button type="submit" class="btn btn-sm btn-outline-light">Ingresar</button>
                    </div>    
                <% end %>
            </div>     
        </div>
        <div></br></div>
        <div class="col-sm-12 text-center text-white">
            <strong><h2>Sistema de Gestión de Seguridad y Salud en el Trabajo</h2></strong>
        </div>

    </div>
    <div class="container" style="background-color: #FFFFFF;border-top-right-radius: 20px;border-bottom-right-radius: 0px;border-top-left-radius: 20px;border-bottom-left-radius: 0px;padding: 10px;", class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
        <div class="container col-sm-12 text-center" style="background-color: #0090e4;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;padding: 10px;">
            <table class="table">
                <tr>
                    <td>
                        <div class="col-sm-12 text-white" align="justify">
                            <%= image_tag 'info.png',:width => "50",  :height=>"50" %>
                            <strong>SABÍAS QUE UN SISTEMA DE GESTIÓN DE SEGURIDAD Y SALUD EN EL TRABAJO BIEN IMPLEMENTADO NO SOLO EVITA SANCIONES, SINO QUE TRANSFORMA EL BIENESTAR LABORAL Y MEJORA EL DESEMPEÑO DE TU EMPRESA?</strong>    
                        </div>                            
                    </td>
                </tr>
            </table>
        </div>    
        <div class="container col-sm-10 text-center">    
            </br>  
            <table style="width: 100%;"> 
                <tr>
                    <td style="text-align:center;width: 50%;color: #4169e1;"    >            
                        <div align="justify">      
                            <p><h3><strong>Servicios Ofrecidos</strong></h3>
                            <p><%= image_tag 'diagnostico.png', data: {previews_target: "preview"}, class: "img-inc-loguin" %> Diagnóstico</p>
                            <p><%= image_tag 'diseño.png', data: {previews_target: "preview"}, class: "img-inc-loguin" %> Diseño</p>
                            <p><%= image_tag 'implementacion.png', data: {previews_target: "preview"}, class: "img-inc-loguin" %> Implementación</p>
                            <p><%= image_tag 'reporte.png', data: {previews_target: "preview"}, class: "img-inc-loguin" %> Reporte al Ministerio de Trabajo</p>
                            <p><%= image_tag 'seguimiento.png', data: {previews_target: "preview"}, class: "img-inc-loguin" %> Seguimiento</p>
                            <p><%= image_tag 'capacitaciones.png', data: {previews_target: "preview"}, class: "img-inc-loguin" %> Capacitaciones</p>
                            <p><%= image_tag 'indicadores.png', data: {previews_target: "preview"}, class: "img-inc-loguin" %> Indicadores de gestión</p>
                        </div>
                    </td>
                    <td style="text-align:center;width: 50%;">
                        <div class="col-sm-12 text-white" align="center">
                            <%= image_tag 'mujer_log.png', data: {previews_target: "preview"}, class: "img-loguin" %>
                        </div>                            
                    </td>
                </tr>
            </table>
        </div>


        <div class="container col-sm-10 text-center" style="color: #4169e1;"> 
            <h3><strong>Nuestra Asesoría integrada en SST respaldada por un Software Especializado que se adapta a las necesidades de tu empresa.</strong></h3>    
        </div>
        </br> 
    </div>    
    <div class="row" style="background-color: #0090e4;padding: 10px;">
          
                    <div align="left" class="container col-sm-4 text-white">
                        <p>SOLICITA TU ASESORÍA PERSONALIZADA</p>
                        <p><%= image_tag 'tel.png', data: {previews_target: "preview"}, class: "img-inc-pie" %> 301-248-5111</p>
                        <p><%= image_tag 'email.png', data: {previews_target: "preview"}, class: "img-inc-pie" %> conexionestrategicasst@gmail.com</p>
                        <p><%= image_tag 'what.png', data: {previews_target: "preview"}, class: "img-inc-pie" %> <a href="https://wa.me/573012485111?text=Hola,%20Requiero%20informaci%C3%B3n" class="link-light">Whatsapp</a></p>

                    </div>

                    <div align="left" class="container col-sm-4">
                        <div align="left">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                ¿Por qué elegirnos?
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel1"><strong>CONESST</strong></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" align="justify">
                                        
                                            <p>Somos una empresa que brinda servicios de asesoría externa en todo lo relacionado con el Sistema de Gestión de Seguridad y Salud en el Trabajo, tenemos a su disposición profesionales especializados en el tema, los cuales se encargarán de brindarle una asesoría practica e integral, la cual facilitará todo el proceso de documentación e implementación del Sistema de Gestión en su  Empresa. CONESST pone a su disposición una plataforma de servicios vía web, la cual tendrá la información en tiempo real, donde podrá administrar la documentación y hacer seguimiento al Sistema de Gestión a través de indicadores que facilitará la medición  del  nivel de cumplimiento de su empresa en términos legales.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        </br>
                        <div align="left">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                Nuestros objetivos?
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel2"><strong>Nuestros objetivos</strong></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" align="justify">
                                        
                                            <p>Brindar acompañamiento eficiente en la documentación e implementación del Sistema de Gestión de Seguridad y Salud en el Trabajo según la normatividad legal,  mitigando los riesgos laborales a los que se expone un trabajador. </p>
                                            <p>
                                                <ul>
                                                    <li>Cumplir con la normatividad legal vigente que reglamenta el decreto 1072 de 2015 y la resolución 0312 del 2019.</li>
                                                    <li>Reducir el ausentismo laboral por causas medicas relacionadas con accidentes de trabajo y enfermedades laborales.</li>
                                                    <li>Mejorar la productividad y el rendimiento de los trabajadores.</li>
                                                    <li>Gestionar los reportes internos  y externos del Sistema de Gestión.</li>
                                                    <li>Identificar peligros y riesgos y establecer controles específicos.</li>
                                                </ul>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>    

                    <div align="left" class="container col-sm-4">
                        <a href="https://www.conesst.com/users/politicas/1" class="link-light">Política de privacidad aquí</a>
                    </div>

    </div>
</div>
