<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @firm do |form| %>
        <% @firm.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  
        <% if Current.user.level > 0 && Current.user.level < 4 %>
            <table>
                <tr>
                    <td style="width:40%">
                        <%= form.label :user_id,  style: "display: block" %>
                        <%= form.collection_select :user_id, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
                    </td>
                    <td style="width:30%">
                        <%= form.label :legal_representative,  style: "display: block" %>
                        <%= form.radio_button :legal_representative, 0 %>
                        <label for="No">NO</label>
                        <%= form.radio_button :legal_representative, 1 %>
                        <label for="Si">SI</label>
                    </td>
                    <td style="width:30%">
                        <%= form.label :post, style: "display: block" %>
                        <%= form.text_field :post,  class: "form-control" %>
                    </td>
                </tr>
            </table>
        <% end %>
        <hr>
        <h2 class="display-5">Firma Documento</h2>
        <table>
            <tr>
                <td style="width:40%">
                    <%= form.label :authorize_firm,  style: "display: block" %>
                    <%= form.radio_button :authorize_firm, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :authorize_firm, 1 %>
                    <label for="Si">SI</label>
                </td>
                <td style="width:30%">
                    <%= form.label :date_authorize_firm, style: "display: block" %>
                    <%= form.date_field :date_authorize_firm,  class: "form-control" %>
                </td>
                <td style="width:30%">
 
                </td>
            </tr>
        </table>
        <br>     
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back  %>
    <% end %>
</div>        
<br>