<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11" 
    <br>
        <h5>EVIDENCIAS PENDIENTES POR FIRMAR</h5>
    <hr>
    
    <br>
    
    <% if @firmas_pendientes.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Evidencia</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @firmas_pendientes.each do |firm| %>
                        <% @evidencia =  Evidence.buscar_una_evidencia(firm.evidence_id) %>
                        <% if @evidencia.present?   %>
                            <tr> 
                                <td><%= @evidencia.date %></td>
                                <td><%= @evidencia.template.name %></td>
                                <td><%= link_to t('common.veritem'), ver_evidencia_evaluation_rule_detail_path(@evidencia.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if firm.authorize_firm == 0 %>
                                        <%= link_to t('common.firmar'), firma_pendiente_path(firm), class: 'btn btn-sm btn btn-warning' %>
                                    <% else %>
                                        <%= firm.date_authorize_firm %>
                                    <% end %>
                                </td>
                            </tr>  
                        <% end %> 
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% else %>
        <br>
            <h5>No se encontraron evidencias pendientes por firma!</h5>
        <hr>
    
        <br>

    <% end %>  
    
    <br>
        <h5>ACTAS PENDIENTES POR FIRMAR</h5>
    <hr>
    <br>
    <% if @actas_pendientes.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Acta Número</th>
                        <th scope="col">Clasificación Acta</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @actas_pendientes.each do |acta| %>
                        <% @meeting_minute =  MeetingMinute.buscar_una_acta(acta.meeting_minute_id) %>
                        <% if @meeting_minute.present?   %>
                            <tr> 
                                <td><%= @meeting_minute.date %></td>
                                <td><%= @meeting_minute.record_number %></td>
                                <td><%= MeetingMinute.label_clasificacion(@meeting_minute.version) %></td>
                                <td><%= link_to t('common.veritem'),  meeting_minute_path(@meeting_minute.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if acta.firm_assistant == 0 %>
                                        <%= link_to t('common.firmar'), firma_pendiente_acta_path(acta), class: 'btn btn-sm btn btn-warning' %>
                                    <% else %>
                                        <%= acta.date_firm %>
                                    <% end %>
                                </td>
                            </tr>  
                        <% end %> 
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <br>
        <h5>OTROS DOCUMENTOS POR FIRMAR</h5>
    <hr>
    <br>
    <% if @description_jobs.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @description_jobs.each do |description_job| %>
                            <tr> 
                                <td><%= description_job.created_at.strftime("%Y-%m-%d") %></td>
                                <td>DESCRIPCIÓN DE CARGO</td>
                                <td><%= link_to t('common.veritem'),  description_job_path(description_job.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if description_job.firm_elaboro == 0  && description_job.user_elaboro == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_ela_description_jobs_path(description_job.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif description_job.firm_reviso == 0 && description_job.user_reviso == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_rev_description_jobs_path(description_job.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif description_job.firm_aprobo == 0 && description_job.user_aprobo == Current.user.id %>   
                                        <%= link_to t('common.firmar'), firmar_apr_description_jobs_path(description_job.id, 3), class: 'btn btn-sm btn btn-warning' %> 
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <% if @resources.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Año</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @resources.each do |resource| %>
                            <tr> 
                                <td><%= resource.year %></td>
                                <td>ASIGNACIÓN DE RECURSOS PARA EL SG-SST</td>
                                <td><%= link_to t('common.veritem'),  resource_path(resource.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if resource.firm_legal_representative == 0  && resource.user_legal_representative == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_rep_resources_path(resource.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif resource.firm_adviser_sst == 0 && resource.user_adviser_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_adv_resources_path(resource.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <% if @matrix_protections.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @matrix_protections.each do |matrix_protection| %>
                            <tr> 
                                <td><%= matrix_protection.date_create %></td>
                                <td>MATRIZ DE ELEMENTOS DE PROTECCIÓN PERSONAL</td>
                                <td><%= link_to t('common.veritem'),  matrix_protection_path(matrix_protection.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if matrix_protection.firm_legal_representative == 0  && matrix_protection.user_legal_representative == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_rep_matrix_protections_path(matrix_protection.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_protection.firm_adviser_sst == 0 && matrix_protection.user_adviser_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_adv_matrix_protections_path(matrix_protection.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_protection.firm_responsible_sst == 0 && matrix_protection.user_responsible_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_res_matrix_protections_path(matrix_protection.id, 3), class: 'btn btn-sm btn btn-warning' %>
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <% if @matrix_legals.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @matrix_legals.each do |matrix_legal| %>
                            <tr> 
                                <td><%= matrix_legal.date_create %></td>
                                <td>MATRIZ LEGAL</td>
                                <td><%= link_to t('common.veritem'),  matrix_legal_path(matrix_legal.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if matrix_legal.firm_legal_representative == 0  && matrix_legal.user_legal_representative == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_rep_matrix_legals_path(matrix_legal.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_legal.firm_adviser_sst == 0 && matrix_legal.user_adviser_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_adv_matrix_legals_path(matrix_legal.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_legal.firm_responsible_sst == 0 && matrix_legal.user_responsible_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_res_matrix_legals_path(matrix_legal.id, 3), class: 'btn btn-sm btn btn-warning' %>
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <% if @matrix_goals.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @matrix_goals.each do |matrix_goal| %>
                            <tr> 
                                <td><%= matrix_goal.date_unsafe %></td>
                                <td>OBJETIVOS, METAS E INDICADORES DEL SG-SST SEGURIDAD Y SALUD EN EL TRABAJO</td>
                                <td><%= link_to t('common.veritem'),  matrix_goal_path(matrix_goal.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if matrix_goal.firm_representante == 0  && matrix_goal.user_representante == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_rep_goal_path(matrix_goal.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_goal.firm_asesor == 0 && matrix_goal.user_asesor == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_adv_goal_path(matrix_goal.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_goal.firm_responsible == 0 && matrix_goal.user_responsible == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_res_goal_path(matrix_goal.id, 3), class: 'btn btn-sm btn btn-warning' %>
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <% if @matrix_danger_risks.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @matrix_danger_risks.each do |matrix_danger_risk| %>
                            <tr> 
                                <td><%= matrix_danger_risk.date_create %></td>
                                <td>MATRIZ DE IDENTIFICACIÓN DE PELIGROS, EVALUACIÓN Y VALORACION DE LOS RIESGOS</td>
                                <td><%= link_to t('common.veritem'),  matrix_danger_risk_path(matrix_danger_risk.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if matrix_danger_risk.firm_legal_representative == 0  && matrix_danger_risk.user_legal_representative == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_rep_matrix_danger_risks_path(matrix_danger_risk.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_danger_risk.firm_adviser_sst == 0 && matrix_danger_risk.user_adviser_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_adv_matrix_danger_risks_path(matrix_danger_risk.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_danger_risk.firm_responsible_sst == 0 && matrix_danger_risk.user_responsible_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_res_matrix_danger_risks_path(matrix_danger_risk.id, 3), class: 'btn btn-sm btn btn-warning' %>
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <% if @annual_work_plans.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Año</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @annual_work_plans.each do |annual_work_plan| %>
                            <tr> 
                                <td><%= annual_work_plan.year %></td>
                                <td>Plan de Trabajo Anual</td>
                                <td><%= link_to t('common.veritem'),  annual_work_plan_path(annual_work_plan.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if annual_work_plan.firm_legal_representative == 0  && annual_work_plan.user_legal_representative == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_rep_annual_work_plans_path(annual_work_plan.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif annual_work_plan.firm_adviser_sst == 0 && annual_work_plan.user_adviser_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_adv_annual_work_plans_path(annual_work_plan.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif annual_work_plan.firm_responsible_sst == 0 && annual_work_plan.user_responsible_sst == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_res_annual_work_plans_path(annual_work_plan.id, 3), class: 'btn btn-sm btn btn-warning' %>
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     
    <% if @matrix_conditions.present?   %>
            <table class="table table-hover">
                <thead>
                    <tr>  
                        <th scope="col">Fecha</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ver</th> 
                        <th scope="col">Firmar</th> 
                    </tr>
                </thead>  
                <tbody> 
                    <% @matrix_conditions.each do |matrix_condition| %>
                            <tr> 
                                <td><%= matrix_condition.date_unsafe %></td>
                                <td>MATRIZ DE SEGUIMIENTO DE ACTOS Y CONDICIONES INSEGURAS</td>
                                <td><%= link_to t('common.veritem'),  matrix_condition_path(matrix_condition.id), class: 'btn btn-sm btn-primary'  %></td>
                                <td> 
                                    <% if matrix_condition.firm_representante == 0  && matrix_condition.user_representante == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_representante_path(matrix_condition.id, 1), class: 'btn btn-sm btn btn-warning' %>
                                    <% elsif matrix_condition.firm_responsible == 0 && matrix_condition.user_responsible == Current.user.id %>
                                        <%= link_to t('common.firmar'), firmar_responsible_path(matrix_condition.id, 2), class: 'btn btn-sm btn btn-warning' %>
                                    <% end %>
                                </td>
                            </tr>  
                    <% end %> 
                </tbody>   
            </table>
            </br>  
    <% end %>     

    

</div>
