<div class="container col-12 card p-5">
    <br> 
    <table> 
    <%= form_with model: @format_action do |form| %>
        <% @format_action.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %> 
        <table style="width: 100%;">
            <tr style="background-color: #00aae4;">    
                <td style="width: 100%;border:1px solid black;text-align:center">
                    <strong>SISTEMA DE GESTIÓN DE LA SEGURIDAD Y SALUD EN EL TRABAJO SG-SST</strong>               
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;">
                    Formato para el registro de acciones preventivas, correctivas y de mejora.
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong><%= form.label :date_format, style: "display: block" %></strong>               
                    <%= form.date_field :date_format,  class: "form-control" %>
                </td>
                <td style="width: 50%;border:1px solid black;">
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="background-color: #00aae4;">    
                <td style="width: 100%;border:1px solid black;text-align:center">
                    <strong>REGISTROS DE LAS ACCIONES PREVENTIVAS Y CORRECTIVAS</strong>               
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;">
                    <strong><%= form.label :description_conformity, style: "display: block" %></strong>               
                    <%= form.text_field :description_conformity,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;">
                    <strong><%= form.label :causes_conformity, style: "display: block" %></strong>               
                    <%= form.text_field :causes_conformity,  class: "form-control" %>
                </td>
            </tr>
            <tr style="background-color: #00aae4;">    
                <td style="border:1px solid black; width: 100%; text-align:center">
                    <strong>Sección, Actividad, Tarea, en la cual se detectó la no conformidad:</strong>               
                </td>
            </tr>
        </table> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 35%;border:1px solid black;">
                    <strong><%= form.label :section, style: "display: block" %></strong>               
                    <%= form.text_field :section,  class: "form-control" %>
                </td>
                <td style="width: 35%;border:1px solid black;">
                    <strong><%= form.label :activity, style: "display: block" %></strong>               
                    <%= form.text_field :activity,  class: "form-control" %>
                </td>
                <td style="width: 40%;border:1px solid black;">
                    <strong><%= form.label :task, style: "display: block" %></strong>               
                    <%= form.text_field :task,  class: "form-control" %>
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:1px solid black;background-color: #00aae4; text-align:center">
                    <strong>CLASIFICACIÓN DE LA ACCIÓN A EJECUTAR</strong>               
                </td>
            </tr>    
            <tr>    
                <td style="width: 100%;border:1px solid black;">
                    <strong><%= form.label :type_action, style: "display: block" %></strong>               
                    <%= form.text_field :type_action,  class: "form-control" %>
                </td>
            </tr>    
            <tr>    
                <td style="width: 100%;border:1px solid black;">
                    <strong><%= form.label :description_action, style: "display: block" %></strong>               
                    <%= form.text_area :description_action,  class: "form-control" %>
                </td>
            </tr>    
            <tr>    
                <td style="width: 100%;border:1px solid black;">
                    <%= form.label :user_responsible,  style: "display: block" %>
                    <%= form.collection_select :user_responsible, User.all.order(id: :asc), :id,  :name, style: "width=50px" %>
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong><%= form.label :post_responsible, style: "display: block" %></strong>               
                    <%= form.text_field :post_responsible,  class: "form-control" %>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <strong><%= form.label :area_responsible, style: "display: block" %></strong>               
                    <%= form.text_field :area_responsible,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong><%= form.label :date_execution, style: "display: block" %></strong>               
                    <%= form.date_field :date_execution,  class: "form-control" %>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <strong><%= form.label :date_verification, style: "display: block" %></strong>               
                    <%= form.date_field :date_verification,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong><%= form.label :efficiency_results, style: "display: block" %></strong>               
                    <%= form.text_field :efficiency_results,  class: "form-control" %>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <strong><%= form.label :action_completed, style: "display: block" %></strong>               
                    <%= form.radio_button :action_completed, 0 %>
                    <label for="no">No</label>
                    <%= form.radio_button :action_completed, 1 %>
                    <label for="si">Si</label>                    
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:1px solid black;">
                    <strong><%= form.label :observations, style: "display: block" %></strong>               
                    <%= form.text_area :observations,  class: "form-control" %>
                </td>
            </tr>
        </table>
        <% if params[:entity_id].present? %>
            <%= form.hidden_field :entity_id, :value => params[:entity_id].to_i, class: "form-control" %>
        <% else %>
            <%= form.hidden_field :entity_id, :value => @entity.id.to_i, class: "form-control" if @entity.present? %>
        <% end %>
        <div></br></div>  
        <div>  
            <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
            <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
        </div>            
    <% end %>
    </table>
</div>        
<br>

 