<div class="row"><br></div>
<table>
    <tr>    
        <td style="border:0px solid black; width: 50%; text-align:center">
                    <div class="row  text-center"> 
                        <div class="col-11">
                            <div>Elaboró:</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <% if @survey_profile.firm_elaboro == 1 %>
                               <% if @user_elaboro.firm.attached? %>
                                  <% if @user_elaboro.firm.image? %> 
                                       <%= image_tag @user_elaboro.firm, class: "firma" %>
                                        <p align="center">________________________________</p>
                                  <% end %>
                                <% end %>
                            <% else %>    
                                <p align="center">________________________________</p>
                             <% end %>     
                        </div>
                       <div class="col-11">
                            <div class="row">
                                <h6><strong><%= @user_elaboro.name %></strong></h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6>Responsable SST</h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><%= @user_elaboro.document.abbreviation %>: <%= Firm.miles(@user_elaboro.nro_document) %></h6>
                            </div>
                        </div>
                    </div>
                    <br>
        </td>
        <td style="border:0px solid black; width: 50%; text-align:center">
                    <div class="row  text-center"> 
                        <div class="col-11">
                            <div>Aprobó:</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <% if  @survey_profile.firm_aprobo == 1 %>
                               <% if @user_aprobo.firm.attached? %>
                                  <% if @user_aprobo.firm.image? %> 
                                       <%= image_tag @user_aprobo.firm, class: "firma" %>
                                        <p align="center">________________________________</p>
                                  <% end %>
                                <% end %>
                            <% else %>    
                                <p align="center">________________________________</p>
                             <% end %>     
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><strong><%= @user_aprobo.name %></strong></h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6>Representante Legal</h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><%= @user_aprobo.document.abbreviation %>: <%= Firm.miles(@user_aprobo.nro_document) %></h6>
                            </div>
                        </div>
        
                    </div>
                    <br>
        </td>
    </tr>
</table>
