<% if @entity.present? %>
    <h class="display-6"><%= @entity.business_name %> Nit: <%=@entity.identification_number %></h>
<% end %>

<% if @survey_profiles.present? %>
    <table class="table table-hover"> 
        <thead>
            <tr>
                <th scope="col">Nit Entidad</th>
                <th scope="col">Entidad</th>
                <th scope="col"><%= t('.date_profile') %></th>
                <th scope="col"><%= t('.date_vencimiento_profile') %></th>
                <th scope="col">Elaboró</th>
                <th scope="col">Aprobó</th>
                <th scope="col">Ficha Técnica</th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col">Detalle</th>
                <th scope="col">PDF</th>
            </tr>
        </thead>

        <% @survey_profiles.each do |survey_profile| %>
            <tr> 
                <td><%= survey_profile.entity.business_name %></td>
                <td><%= survey_profile.entity.identification_number %></td>
                <td><%= survey_profile.date_profile %></td>
                <td><%= survey_profile.date_vencimiento_profile %></td>
                <% if survey_profile.firm_elaboro == 0 %>
                    <td><%= link_to t('common.firmar'), firma_elaboro_path(survey_profile.id, 3), class: 'btn btn-sm btn btn-warning' if survey_profile.user_elaboro.present? %></td>
                <% else %>
                    <td><%= survey_profile.date_firm_elaboro %></td>
                <% end %>      
                <% if survey_profile.firm_aprobo == 0 %>
                    <td><%= link_to t('common.firmar'), firma_aprobo_path(survey_profile.id, 1), class: 'btn btn-sm btn btn-warning' if survey_profile.user_aprobo.present? %></td>
                <% else %>
                    <td><%= survey_profile.date_firm_aprobo %></td>
                <% end %>      
                <td><%= link_to t('common.ficha'), fichatecnica_path(survey_profile), class: 'btn btn-sm btn-primary'  %></td>
                <td><%= link_to t('common.show'), infoprofile_path(survey_profile), class: 'btn btn-sm btn-primary'  %></td>
                <td><%= link_to t('common.detail'), detalles_profile_path(survey_profile), class: 'btn btn-sm btn-primary'  %></td>
                <td><%= link_to "PDF", informe_estudio_socio_path(survey_profile, format: 'pdf'), class: 'btn btn-sm btn-success' %> </td>
            </tr>
        <% end %>  
        <hr>  
    </table>  
<br>


<% else %>
    <div>
        <h class="display-6">La Entidad no tiene encuestas por el momento</h>
    </div>
<% end %>

