<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-12"> 
    <% if @profiles.present? %>
        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th scope="col">Identificación empleado</th>
                    <th scope="col">Nombre Empleado</th>
                    <th scope="col">Entidad</th>
                    <th scope="col">Fecha elaboración</th>
                    <th scope="col"><%= t('common.show') %></th>
                </tr>
            </thead>

            <% @profiles.each do |profile| %>
                <tr> 
                    <td><%= profile.user.nro_document %></td>
                    <td><%= profile.user.name %></td>
                    <td><%= @entity.business_name %></td>
                    <td><%= profile.created_at.strftime("%F") %></td>
                    <td><%= link_to t('common.show'), encuesta_profile_path(profile), class: 'btn btn-sm btn-primary'  %></td>
                </tr>
            <% end %>  
            <hr>  
        </table>  
    <br>
    <% else %>
        <div>
            <h class="display-6">La Entidad no tiene encuestas por el momento</h>
        </div>
    <% end %>
</div>
