<div class="container col-5 card p-5">
    <br>
    <%= form_with model: @profile do |form| %>
        <% @profile.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>
        <div class="col-sm-12 p-3 mb-2 text-dark">    
            <p class="fst-normal fs-3 text-start"><strong>Perfil Sociodemográfico </br> <%= @entity.business_name %></strong> </p>
            <p class="fst-normal">1. En el siguiente formato deberá de contestar una serie de preguntas  las cuales están relacionadas con su vida personal, lo que nos ayudara a recolectar datos y así poder enfocar nuestras actividades empresariales a su bienestar.</strong> </p>
            <p class="fst-normal">2. <strong>¿Por qué se realiza? </strong> El empleador tiene el deber de conocer su población trabajadora y poder orientar sus actividades o posibles beneficios, esto se realiza según el Decreto 1072 de 2015, Artículo 2.2.4.6.2, numeral 13 y la Secretaria  Seccional de Salud y de protección social de Antioquia.</p>
            <p class="fst-normal">3. Ante el presente diligenciamiento de la encuesta usted NO estará en ningún riesgo físico o psicológico.</p>
            <p class="fst-normal">4. <strong>¿Quién tendrá acceso? </strong> El personal de Seguridad y Salud en el Trabajo, será el responsable de velar por la información allí suministrada y de realizar dicho informe.</p>
        </div>
        <br>         
        <div class="col-sm-12 p-3 mb-2 text-dark">    
            <strong><%= form.label :gender,  style: "display: block" %></strong>
            <%= form.radio_button :gender, 0, :checked => false, required: true %>
            <label for="Masculino">Masculino</label></br>
            <%= form.radio_button :gender, 1, :checked => false, required: true %>
            <label for="Femenino">Femenino</label></br>
            <%= form.radio_button :gender, 2, :checked => false, required: true %>
            <label for="No binario">No binario</label></br>
            <%= form.radio_button :gender, 3, :checked => false, required: true %>
            <label for="Otro">Otro</label></br>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :blood_type,  style: "display: block" %></strong>
            <%= form.radio_button :blood_type, 0, :checked => false, required: true %>
            <label for="A+">A+</label></br>
            <%= form.radio_button :blood_type, 1, :checked => false, required: true %>
            <label for="A-">A-</label></br>
            <%= form.radio_button :blood_type, 2, :checked => false, required: true %>
            <label for="B+">B+</label></br>
            <%= form.radio_button :blood_type, 3, :checked => false, required: true %>
            <label for="B-">B-</label></br>
            <%= form.radio_button :blood_type, 4, :checked => false, required: true %>
            <label for="AB+">AB+</label></br>
            <%= form.radio_button :blood_type, 5, :checked => false, required: true %>
            <label for="AB-">AB-</label></br>
            <%= form.radio_button :blood_type, 6, :checked => false, required: true %>
            <label for="O+">O+</label></br>
            <%= form.radio_button :blood_type, 7, :checked => false, required: true %>
            <label for="O-">O-</label></br>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :age,  style: "display: block" %></strong>
            <%= form.radio_button :age, 0, :checked => false, required: true %>
            <label for="18-27">18-27</label></br>
            <%= form.radio_button :age, 1, :checked => false, required: true %>
            <label for="28-37">28-37</label></br>
            <%= form.radio_button :age, 2, :checked => false, required: true %>
            <label for="38-47">38-47</label></br>
            <%= form.radio_button :age, 3, :checked => false, required: true %>
            <label for="48-57">48-57</label></br>
            <%= form.radio_button :age, 4, :checked => false, required: true %>
            <label for="58-67">58-67</label></br>            
            <%= form.radio_button :age, 5, :checked => false, required: true %>
            <label for="Mayor de 67">Mayor de 67</label></br>            
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :weight, style: "display: block" %> <p class="fw-lighter">Peso en kilos números enteros.</p></strong>
            <%= form.number_field :weight,  class: "form-control", step: 1, max:1000, min:1 %>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :height, style: "display: block" %> <p class="fw-lighter">Estatura en centímetros sin puntos ni comas.</p></strong>
            <%= form.number_field :height,  class: "form-control", step: 1, max:250, min:1 %>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :civil_status,  style: "display: block" %></strong>
            <%= form.radio_button :civil_status, 0, :checked => false, required: true %>
            <label for="Soltero (a)">Soltero (a)</label></br>
            <%= form.radio_button :civil_status, 1, :checked => false, required: true %>
            <label for="Casado (a)">Casado (a)</label></br>
            <%= form.radio_button :civil_status, 2, :checked => false, required: true %>
            <label for="Unión libre">Unión libre</label></br>
            <%= form.radio_button :civil_status, 3, :checked => false, required: true %>
            <label for="Viudo (a)">Viudo (a)</label></br>
            <%= form.radio_button :civil_status, 4, :checked => false, required: true %>
            <label for="Divorciado/ separado (a)">Divorciado/ separado (a)</label></br>            
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :education_level,  style: "display: block" %></strong>
            <%= form.radio_button :education_level, 0, :checked => false, required: true %>
            <label for="Primaria">Primaria</label></br>
            <%= form.radio_button :education_level, 1, :checked => false, required: true %>
            <label for="Secundaria">Secundaria</label></br>
            <%= form.radio_button :education_level, 2, :checked => false, required: true %>
            <label for="Técnico">Técnico</label></br>
            <%= form.radio_button :education_level, 3, :checked => false, required: true %>
            <label for="Tecnólogo">Tecnólogo</label></br>
            <%= form.radio_button :education_level, 4, :checked => false, required: true %>
            <label for="Profesional">Profesional</label></br>   
            <%= form.radio_button :education_level, 5, :checked => false, required: true %>
            <label for="Posgrado">Posgrado</label></br>           
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :area_work,  style: "display: block" %></strong>
            <%= form.radio_button :area_work, 0, :checked => false, required: true %>
            <label for="Administrativa">Administrativa</label></br>
            <%= form.radio_button :area_work, 1, :checked => false, required: true %>
            <label for="Operativa">Operativa</label></br>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :post_actual,  style: "display: block" %></strong>
            <%= form.text_field :post_actual,  class: "form-control" %>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :contract_type,  style: "display: block" %></strong>
            <%= form.radio_button :contract_type, 0, :checked => false, required: true %>
            <label for="Fijo">Contrato a Término Fijo</label></br>
            <%= form.radio_button :contract_type, 1, :checked => false, required: true %>
            <label for="Indefinido">Contrato a término indefinido</label></br>
            <%= form.radio_button :contract_type, 2, :checked => false, required: true %>
            <label for="Obra">Contrato de Obra o labor</label></br>
            <%= form.radio_button :contract_type, 3, :checked => false, required: true %>
            <label for="Civil">Contrato civil por prestación de servicios</label></br>
            <%= form.radio_button :contract_type, 4, :checked => false, required: true %>
            <label for="Aprendizaje">Contrato de aprendizaje</label></br>
            <%= form.radio_button :contract_type, 5, :checked => false, required: true %>
            <label for="Ocasional">Contrato ocasional de trabajo</label></br>

        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :Antiquity,  style: "display: block" %></strong>
            <%= form.radio_button :Antiquity, 0, :checked => false, required: true %>
            <label for="0 - 1">0 - 1</label></br>
            <%= form.radio_button :Antiquity, 1, :checked => false, required: true %>
            <label for="2 - 3">2 - 3</label></br>
            <%= form.radio_button :Antiquity, 2, :checked => false, required: true %>
            <label for="4 - 5">4 - 5</label></br>
            <%= form.radio_button :Antiquity, 3, :checked => false, required: true %>
            <label for="mayor - 5">Mayor a 5 años</label></br>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :salary_range,  style: "display: block" %></strong>
            <%= form.radio_button :salary_range, 0, :checked => false, required: true %>
            <label for="1 a 2 SMLMV">De 1 a menos de 3 SMLMV</label></br>
            <%= form.radio_button :salary_range, 1, :checked => false, required: true %>
            <label for="2 a 4 SMLMV">De 3 a menos de 5 SMLMV</label></br>
            <%= form.radio_button :salary_range, 2, :checked => false, required: true %>
            <label for="Más de 5 SMLMV">Mayor o igual a 5 SMLMV</label></br>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :health_promoter_id,  style: "display: block" %></strong>
           <%= form.collection_select :health_promoter_id, HealthPromoter.all.order(id: :asc), :id, :name_entity, style: "width:50px" %>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :pension_fund_id,  style: "display: block" %></strong>
           <%= form.collection_select :pension_fund_id, PensionFund.all.order(id: :asc), :id, :fund, style: "width=50px" %>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :cessation_fund_id,  style: "display: block" %></strong>
           <%= form.collection_select :cessation_fund_id, CessationFund.all.order(id: :asc), :id, :name, style: "width=50px" %>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :occupational_risk_manager_id,  style: "display: block" %></strong>
           <%= form.collection_select :occupational_risk_manager_id, OccupationalRiskManager.all.order(id: :asc), :id, :name, style: "width=50px" %>
        </div>
        <br>    
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :emergency_contact,  style: "display: block" %></strong>
            <%= form.text_field :emergency_contact,  class: "form-control" %>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :phone_emergency_contact,  style: "display: block" %></strong>
            <%= form.text_field :phone_emergency_contact,  class: "form-control" %>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :population_group,  style: "display: block" %></strong>
            <%= form.radio_button :population_group, 0, :checked => false, required: true %>
            <label for="Indígena">Indígena</label></br>
            <%= form.radio_button :population_group, 1, :checked => false, required: true %>
            <label for="Víctima del conflicto">Víctima del conflicto</label></br>
            <%= form.radio_button :population_group, 2, :checked => false, required: true %>
            <label for="Desmovilizado">Desmovilizado</label></br>
            <%= form.radio_button :population_group, 3, :checked => false, required: true %>
            <label for="Afro">Afro</label></br>
            <%= form.radio_button :population_group, 4, :checked => false, required: true %>
            <label for="LGTBI">LGTBI</label></br>   
            <%= form.radio_button :population_group, 5, :checked => false, required: true %>
            <label for="Otro">Otro</label></br>           
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :administrative_political_division_id,  style: "display: block" %></strong>
            <%= form.collection_select :administrative_political_division_id, AdministrativePoliticalDivision.where("department_code = ?","05").order(town_center_name: :asc), :id, :name_with_initial_corto, required: true, style: "width=50px" %>
        </div>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :address,  style: "display: block" %></strong>
            <%= form.text_field :address,  class: "form-control" %>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :neighborhood,  style: "display: block" %></strong>
            <%= form.text_field :neighborhood,  class: "form-control" %>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :phone,  style: "display: block" %></strong>
            <%= form.text_field :phone,  class: "form-control" %>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :stratum_socioeconomic,  style: "display: block" %></strong>
            <%= form.radio_button :stratum_socioeconomic, 0, :checked => false, required: true %>
            <label for="0-1">0-1</label></br>
            <%= form.radio_button :stratum_socioeconomic, 1, :checked => false, required: true %>
            <label for="2">2</label></br>
            <%= form.radio_button :stratum_socioeconomic, 2, :checked => false, required: true %>
            <label for="3">3</label></br>
            <%= form.radio_button :stratum_socioeconomic, 3, :checked => false, required: true %>
            <label for="4">4</label></br>
            <%= form.radio_button :stratum_socioeconomic, 4, :checked => false, required: true %>
            <label for="5-6">5-6</label></br>   
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :housing_type,  style: "display: block" %></strong>
            <%= form.radio_button :housing_type, 0, :checked => false, required: true %>
            <label for="Propia">Propia</label></br>
            <%= form.radio_button :housing_type, 1, :checked => false, required: true %>
            <label for="Arrendada">Arrendada</label></br>
            <%= form.radio_button :housing_type, 2, :checked => false, required: true %>
            <label for="Familiar">Familiar</label></br>
       </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :basic_housing_services,  style: "display: block" %></strong>
            <%= form.radio_button :basic_housing_services, 0, :checked => false, required: true %>
            <label for="Energía, acueducto, alcantarillado">Energía, acueducto, alcantarillado</label></br>
            <%= form.radio_button :basic_housing_services, 1, :checked => false, required: true %>
            <label for="Energía, acueducto, alcantarillado">Energía, acueducto, alcantarillado</label></br>
            <%= form.radio_button :basic_housing_services, 2, :checked => false, required: true %>
            <label for="Energía, gas, acueducto, alcantarillado">Energía, gas, acueducto, alcantarillado</label></br>
            <%= form.radio_button :basic_housing_services, 3, :checked => false, required: true %>
            <label for="Energía, gas, acueducto, alcantarillado, internet">Energía, gas, acueducto, alcantarillado, internet</label></br>
        </div>
        <br>  
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :head_family,  style: "display: block" %></strong>
            <%= form.radio_button :head_family, 0, :checked => false, required: true %>
            <label for="Si">Si</label></br>
            <%= form.radio_button :head_family, 1, :checked => false, required: true %>
            <label for="No">No</label></br>
        </div>
        <br>  
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :has_children,  style: "display: block" %></strong>
            <%= form.radio_button :has_children, 0, :checked => false, required: true %>
            <label for="Si">Si</label></br>
            <%= form.radio_button :has_children, 1, :checked => false, required: true %>
            <label for="No">No</label></br>
        </div>
        <br>  
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :number_children,  style: "display: block" %></strong>
            <%= form.radio_button :number_children, 0, :checked => false, required: true %>
            <label for="ninguno">Ninguno</label></br>
            <%= form.radio_button :number_children, 1, :checked => false, required: true %>
            <label for="1">1</label></br>
            <%= form.radio_button :number_children, 2, :checked => false, required: true %>
            <label for="2">2</label></br>
            <%= form.radio_button :number_children, 3, :checked => false, required: true %>
            <label for="Más de 2">Más de 2</label></br>
        </div>
        <br> 
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :number_people_charge,  style: "display: block" %></strong>
            <%= form.radio_button :number_people_charge, 0, :checked => false, required: true %>
            <label for="Ninguna">Ninguna</label></br>
            <%= form.radio_button :number_people_charge, 1, :checked => false, required: true %>
            <label for="1-2">1-2</label></br>
            <%= form.radio_button :number_people_charge, 2, :checked => false, required: true %>
            <label for="3-4">3-4</label></br>
            <%= form.radio_button :number_people_charge, 3, :checked => false, required: true %>
            <label for="5-6">5-6</label></br>
        </div>
        <br>  
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :live_people_disability,  style: "display: block" %></strong>
            <%= form.radio_button :live_people_disability, 0, :checked => false, required: true %>
            <label for="Si">Si</label></br>
            <%= form.radio_button :live_people_disability, 1, :checked => false, required: true %>
            <label for="No">No</label></br>
        </div>
        <br>  
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :type_disability,  style: "display: block" %></strong>
            <%= form.radio_button :type_disability, 0, :checked => false, required: true %>
            <label for="Visual">Visual</label></br>
            <%= form.radio_button :type_disability, 1, :checked => false, required: true %>
            <label for="Auditiva">Auditiva</label></br>
            <%= form.radio_button :type_disability, 2, :checked => false, required: true %>
            <label for="Física">Física</label></br>
            <%= form.radio_button :type_disability, 3, :checked => false, required: true %>
            <label for="Mental">Mental</label></br>
            <%= form.radio_button :type_disability, 4, :checked => false, required: true %>
            <label for="Múltiple">Múltiple</label></br>   
            <%= form.radio_button :type_disability, 5, :checked => false, required: true %>
            <label for="N/A">N/A</label></br>   
        </div>
        <br> 
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :use_time,  style: "display: block" %></strong>
            <%= form.radio_button :use_time, 0, :checked => false, required: true %>
            <label for="Recreación y deporte">Recreación y deporte</label></br>
            <%= form.radio_button :use_time, 1, :checked => false, required: true %>
            <label for="Labores domésticas">Labores domésticas</label></br>
            <%= form.radio_button :use_time, 2, :checked => false, required: true %>
            <label for="Estudio">Estudio</label></br>
            <%= form.radio_button :use_time, 3, :checked => false, required: true %>
            <label for="Otro">Otro</label></br>
        </div>
        <br> 
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :diagnosed_illness,  style: "display: block" %></strong>
            <%= form.radio_button :diagnosed_illness, 0, :checked => false, required: true %>
            <label for="Si">Si</label></br>
            <%= form.radio_button :diagnosed_illness, 1, :checked => false, required: true %>
            <label for="No">No</label></br>
        </div>
        <br> 
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :what_disease,  style: "display: block" %></strong>
            <%= form.text_field :what_disease,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :smoke,  style: "display: block" %></strong>
            <%= form.radio_button :smoke, 0, :checked => false, required: true %>
            <label for="Si">Si</label></br>
            <%= form.radio_button :smoke, 1, :checked => false, required: true %>
            <label for="No">No</label></br>
        </div>


        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :daily_average_smoke,  style: "display: block" %></strong>
            <%= form.radio_button :daily_average_smoke, 0, :checked => false, required: true %>
            <label for="N/A">N/A</label></br>
            <%= form.radio_button :daily_average_smoke, 1, :checked => false, required: true %>
            <label for="Diario">Diario</label></br>
            <%= form.radio_button :daily_average_smoke, 2, :checked => false, required: true %>
            <label for="Semanal">Semanal</label></br>
            <%= form.radio_button :daily_average_smoke, 3, :checked => false, required: true %>
            <label for="Quincenal">Quincenal</label></br>
            <%= form.radio_button :daily_average_smoke, 4, :checked => false, required: true %>
            <label for="Mensual">Mensual</label></br>
            <%= form.radio_button :daily_average_smoke, 5, :checked => false, required: true %>
            <label for="Ocasional">Ocasional</label></br>
        </div>
        <br> 
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :consume_alcoholic_beverages,  style: "display: block" %></strong>
            <%= form.radio_button :consume_alcoholic_beverages, 0, :checked => false, required: true %>
            <label for="Si">Si</label></br>
            <%= form.radio_button :consume_alcoholic_beverages, 1, :checked => false, required: true %>
            <label for="No">No</label></br>
        </div>
        <br> 
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :average_drinks,  style: "display: block" %></strong>
            <%= form.radio_button :average_drinks, 0, :checked => false, required: true %>
            <label for="N/A">N/A</label></br>
            <%= form.radio_button :average_drinks, 1, :checked => false, required: true %>
            <label for="Diario">Diario</label></br>
            <%= form.radio_button :average_drinks, 2, :checked => false, required: true %>
            <label for="Semanal">Semanal</label></br>
            <%= form.radio_button :average_drinks, 3, :checked => false, required: true %>
            <label for="Quincenal">Quincenal</label></br>
            <%= form.radio_button :average_drinks, 4, :checked => false, required: true %>
            <label for="Mensual">Mensual</label></br>
            <%= form.radio_button :average_drinks, 5, :checked => false, required: true %>
            <label for="Ocasional">Ocasional</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :sports_practice,  style: "display: block" %></strong>
            <%= form.radio_button :sports_practice, 0, :checked => false, required: true %>
            <label for="Si">Si</label></br>
            <%= form.radio_button :sports_practice, 1, :checked => false, required: true %>
            <label for="No">No</label></br>
        </div>
        <br> 
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :average_sports,  style: "display: block" %></strong>
            <%= form.radio_button :average_sports, 0, :checked => false, required: true %>
            <label for="N/A">N/A</label></br>
            <%= form.radio_button :average_sports, 1, :checked => false, required: true %>
            <label for="Diario">Diario</label></br>
            <%= form.radio_button :average_sports, 2, :checked => false, required: true %>
            <label for="Semanal">Semanal</label></br>
            <%= form.radio_button :average_sports, 3, :checked => false, required: true %>
            <label for="Quincenal">Quincenal</label></br>
            <%= form.radio_button :average_sports, 4, :checked => false, required: true %>
            <label for="Mensual">Mensual</label></br>
            <%= form.radio_button :average_sports, 5, :checked => false, required: true %>
            <label for="Ocasional">Ocasional</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <strong><%= form.label :conveyance,  style: "display: block" %></strong>
            <%= form.radio_button :conveyance, 0, :checked => false, required: true %>
            <label for="Moto">Moto</label></br>
            <%= form.radio_button :conveyance, 1, :checked => false, required: true %>
            <label for="Carro">Carro</label></br>
            <%= form.radio_button :conveyance, 2, :checked => false, required: true %>
            <label for="Bicicleta">Bicicleta</label></br>
            <%= form.radio_button :conveyance, 3, :checked => false, required: true %>
            <label for="Servicio público">Servicio público</label></br>
            <%= form.radio_button :conveyance, 4, :checked => false, required: true %>
            <label for="Ocasional">A pie</label></br>
            <%= form.radio_button :conveyance, 5, :checked => false, required: true %>
            <label for="Otro">Otro</label></br>

        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <p class="fst-normal">Los datos de carácter personal que usted suministre a través de esta encuesta serán objeto de tratamiento en los términos de la <strong>Ley 1581 de 2012, el Decreto 1377 de 2013 y el Decreto 886 de 2014</strong>  por parte de la Organización, quien se compromete a implementar todas las medidas necesarias para garantizar un tratamiento idóneo de los datos personales y a cumplir con las disposiciones que se tienen en esta materia.
            ¿Acepto el tratamiento de datos personales?</p>
            <%= form.radio_button :accept_processing_data, 0, :checked => false, required: true %>
            <label for="Si">SI ACEPTO</label></br>
        </div>
        <br> 
        <%= form.hidden_field :user_id, :value => @user_id.to_i, class: "form-control" %>
        <%= form.hidden_field :survey_profile_id, :value => @survey_profile_id.to_i, class: "form-control" %>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>

 