<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-12"> 
    <div> 
        <strong>Encuesta sociodemografica</strong><br>
    </div>        
    <div>
        <strong>Nombre del empleado:</strong>
        <%=  @profile.user.name  %> 
    </div>        
    <div>
        <strong>Número de identificación:</strong>
        <%=  @profile.user.nro_document  %> 
    </div>        
    <div>
        <strong>Cargo:</strong>
        <%=  @profile.user.activity  %> 
    </div>        
    <div>
        <strong>Fecha de elaboración de la encuesta:</strong>
        <%= @profile.created_at.strftime("%F")  %> 
    </div>        
    <div>
        <strong>Sexo:</strong>
        <%= Profile.labelgenero(@profile.gender)  %> 
    </div>        
    <div>
        <strong>Tipo de RH:</strong>
        <%= Profile.labelsangre(@profile.blood_type)  %> 
    </div>         
    <div>
        <strong>Edad:</strong>
        <%= Profile.labeledad(@profile.age)  %> 
    </div>         
    <div>
        <strong>Peso:</strong>
        <%= @profile.weight  %> 
    </div>         
    <div>
        <strong>Estatura:</strong>
        <%= @profile.height  %> 
    </div> 
    <div>
        <strong>Estado civil: </strong>
        <%= Profile.labelestadocivil(@profile.civil_status)  %> 
    </div>        
    <div>
        <strong>Nivel de escolaridad: </strong>
        <%= Profile.labelnivel(@profile.education_level)  %> 
    </div>        
    <div>
        <strong>Área de trabajo: </strong>
        <%= Profile.labelarea(@profile.area_work)  %> 
    </div>        
    <div>
        <strong>Cargo:</strong>
        <%= @profile.post_actual  %> 
    </div> 
    <div>
        <strong>Tipo de contrato: </strong>
        <%= Profile.labelcontrato(@profile.contract_type)  %> 
    </div>            
    <div>
        <strong>Turno de trabajo: </strong>
        <%= Profile.labelturno(@profile.Antiquity)  %> 
    </div>    
    <div>
        <strong>Correo electrónico:</strong>
        <%= @profile.email_name  %> 
    </div>     
    <div>
        <strong>Rango salarial: </strong>
        <%= Profile.labelsalario(@profile.salary_range)  %> 
    </div>      
    <div>
        <strong>EPS: </strong>
        <%= Profile.labeleps(@profile.health_promoter_id)  %> 
    </div>   
    <div>
        <strong>Fondo de Pensiones: </strong>
        <%= Profile.labelpension(@profile.pension_fund_id)  %> 
    </div>  
    <div>
        <strong>Fondo de Cesantías: </strong>
        <%= Profile.labelcesantia(@profile.cessation_fund_id)  %> 
    </div>  
    <div>
        <strong>ARL: </strong>
        <%= Profile.labelarl(@profile.occupational_risk_manager_id)  %> 
    </div>  
    <div>
        <strong>Entidad Bancaria: </strong>
        <%= Profile.labelbanco(@profile.head_family)  %> 
    </div>  
    <div>
        <strong>Nombre del contacto de emergencia:</strong>
        <%= @profile.emergency_contact  %> 
    </div> 
    <div>
        <strong>Número telefónico contacto:</strong>
        <%= @profile.phone_emergency_contact  %> 
    </div>     
    <div>
        <strong>Ciudad - Municipio: </strong>
        <%= Profile.labelciudad(@profile.administrative_political_division_id)  %> 
    </div>  
    <div>
        <strong>Dirección:</strong>
        <%= @profile.address  %> 
    </div> 
    <div>
        <strong>Barrio:</strong>
        <%= @profile.neighborhood  %> 
    </div> 
    <div>
        <strong>Número de teléfono:</strong>
        <%= @profile.phone  %> 
    </div>     
    <div>
        <strong>Estrato socioeconómico: </strong>
        <%= Profile.labelestrato(@profile.stratum_socioeconomic)  %> 
    </div>  
    <div>
        <strong>Tipo de vivienda: </strong>
        <%= Profile.labelvivienda(@profile.housing_type)  %> 
    </div>
    <div>
        <strong>Servicios básicos de la vivienda: </strong>
        <%= Profile.labelservicios(@profile.basic_housing_services)  %> 
    </div>
    <div>
        <strong>¿Tiene hijos? </strong>
        <%= Profile.labelhijos(@profile.has_children)  %> 
    </div>
    <div>
        <strong>Número de hijos: </strong>
        <%= Profile.labelnumerohijos(@profile.number_children)  %> 
    </div>
    <div>
        <strong>Número de personas a cargo: </strong>
        <%= Profile.labelpersonasacargo(@profile.number_people_charge)  %> 
    </div>

    <div>
        <strong>¿Vive con personas que tengan alguna discapacidad? </strong>
        <%= Profile.labeldiscapacitadas(@profile.live_people_disability)  %> 
    </div>

    <div>
        <strong>Tipo de discapacidad </strong>
        <%= Profile.labeltipodiscapacitadas(@profile.type_disability)  %> 
    </div>
    <div>
        <strong>Uso del tiempo libre: </strong>
        <%= Profile.labeltiempo(@profile.use_time)  %> 
    </div>
    <div>
        <strong>¿Le han diagnosticado alguna enfermedad? </strong>
        <%= Profile.labelenfermedad(@profile.diagnosed_illness)  %> 
    </div>
    <div>
        <strong>¿Cuál enfermedad? </strong>
        <%= @profile.what_disease  %> 
    </div>  
    <div>
        <strong>¿Fuma? </strong>
        <%= Profile.labelfuma(@profile.smoke)  %> 
    </div>
    <div>
        <strong>Cual cigarrillo: </strong>
        <%= Profile.labelcualcigarrillo(@profile.population_group)  %> 
    </div>
    <div>
        <strong>Promedio: </strong>
        <%= Profile.labelpromediocigarrillo(@profile.daily_average_smoke)  %> 
    </div>
    <div>
        <strong>¿Consume bebidas alcohólicas? </strong>
        <%= Profile.labelbebida(@profile.consume_alcoholic_beverages)  %> 
    </div>
    <div>
        <strong>Promedio: </strong>
        <%= Profile.labelpromediobebida(@profile.average_drinks)  %> 
    </div>
    <div>
        <strong>¿Practica algún deporte? </strong>
        <%= Profile.labeldeporte(@profile.sports_practice)  %> 
    </div>
    <div>
        <strong>Promedio: </strong>
        <%= Profile.labelpromediodeporte(@profile.average_sports)  %> 
    </div>
    <div>
        <strong>Medio de transporte que utiliza para ir al trabajo: </strong>
        <%= Profile.labelmediotransporte(@profile.conveyance)  %> 
    </div>

    <div>
        <strong>¿Acepto el tratamiento de datos personales? </strong>
        <%= Profile.labeltratamientodatos(@profile.accept_processing_data)  %> 
    </div>
    </br>
    <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>    
</div>   
</br>


