<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @clasification_danger_detail do |form| %>
        <% @clasification_danger_detail.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>

        <div class="row g-3">
            <div class="col-sm-8">
                <%= form.label :clasification_danger_id, style: "display: block" %>
                <%= form.collection_select :clasification_danger_id, ClasificationDanger.all.order(id: :asc), :id, :name, { prompt: '--Seleccionar--' },
                { class: 'form-control input-sm select2' } %>
            </div>        
        </div>  

        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, clasification_danger_details_path %>
    <% end %>
</div> 
<br>
<div class="container col-11 card p-5">
   <h2 class="display-6">Efectos en la salud</h2>
   <div>
       <%= link_to t('common.create_danger_detail_risk'), new_danger_detail_risk_path(clasification_danger_detail_id: @clasification_danger_detail.id), class: 'btn btn-sm btn-primary'  %>
   </div>

   <% if @danger_detail_risks.present? %>

        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th scope="col"><%= t('.id') %></th>
                    <th scope="col">Tipo de peligro</th>
                    <th scope="col">Descrición del peligro</th>
                    <th scope="col">Efectos en la salud</th>
                    <th scope="col"><%= t('common.edit') %></th>
                    <th scope="col"><%= t('common.delete') %></th>
                </tr>
            </thead>

            <% @danger_detail_risks.each do |danger_detail_risk| %>
                <tr> 
                    <td><%= danger_detail_risk.id %></td>
                    <td><%= danger_detail_risk.clasification_danger_detail.clasification_danger.name %></td>
                    <td><%= danger_detail_risk.clasification_danger_detail.name %></td>
                    <td><%= danger_detail_risk.name %></td>
                    <td><%= link_to t('common.edit'), edit_danger_detail_risk_path(id: danger_detail_risk.id, clasification_danger_detail_id: danger_detail_risk.clasification_danger_detail_id), class: 'btn btn-sm btn-primary'  %></td>
                    <td><%= button_to "Delete", danger_detail_risk, method: :delete, class:"btn btn-sm btn-danger" %></td>
                </tr>
            <% end %>  
            <hr>  
        </table>  
    <% end %>
</div> 
<br>
<br>
<div class="container col-11 card p-5">
   <h2 class="display-6">Medidas de intervención</h2>
   <div>
        <%= link_to t('common.create_danger_prevention'), new_danger_prevention_path(clasification_danger_detail_id: @clasification_danger_detail.id), class: 'btn btn-sm btn-primary'  %>
   </div>

   <% if @danger_preventions.present? %>

        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th scope="col"><%= t('.id') %></th>
                    <th scope="col">Clasificación</th>
                    <th scope="col">Tipo de peligro</th>
                    <th scope="col">Descrición del peligro</th>
                    <th scope="col">Sugerencia de medida de prevención y control</th>
                    <th scope="col"><%= t('common.edit') %></th>
                    <th scope="col"><%= t('common.delete') %></th>
                </tr>
            </thead>

            <% @danger_preventions.each do |danger_prevention| %>
                <tr> 
                    <td><%= danger_prevention.id %></td>
                    <td><%= DangerPrevention.label_type(danger_prevention.type_danger) %></td>
                    <td><%= danger_prevention.clasification_danger_detail.clasification_danger.name %></td>
                    <td><%= danger_prevention.clasification_danger_detail.name %></td>
                    <td><%= danger_prevention.name %></td>
                    <td><%= link_to t('common.edit'), edit_danger_prevention_path(id: danger_prevention.id, clasification_danger_detail_id: danger_prevention.clasification_danger_detail_id), class: 'btn btn-sm btn-primary'  %></td>
                    <td><%= button_to "Delete", danger_prevention, method: :delete, class:"btn btn-sm btn-danger" %></td>
                </tr>
            <% end %>  
            <hr>  
        </table>  
    <% end %>
</div> 
<br>