<div class="container col-11 card p-5">

    <br>
    <div class="form-group">
       <h5>Archivos adjuntos:</h5>
    </div>         
    <hr>
    <% if @evaluation_rule_detail.files.attached? %>
        <div data-controller="previews" >
            <% @evaluation_rule_detail.files.each do |file|%>
                <br>
                <% if file.image? %>
                    <div>
                        <%= image_tag file, data: {previews_target: "preview"}, class: "image" %>
                        <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                        <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                    </div> 
                <% elsif file.video? %>
                    <%= video_tag url_for(file), controls: "", width: "400px" %>          
                    <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                    <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                <% elsif file.audio? %>
                    <%= audio_tag(url_for(file), controls: "") %>          
                    <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                    <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                <% else %>
                    <%= link_to file.filename, url_for(file) %>          
                    <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                    <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                <% end %>
            <% end %>  
        </div>
    <% end %>  
</div>