<table style="border:0px solid black">
    <tr>
        <td rowspan="2" style="border:1px solid black; width: 20%; text-align:center">
            <% if @evidence.entity.logo.present? then %>
                <%=  image_tag  @evidence.entity.logo, class: "image_peq" %>
            <% end %>   
        </td>
        <td style="border:1px solid black; text-align:center">
            <div class="col-10"><h6 style="text-transform:uppercase;"><%= @evidence.entity.business_name if @evidence.present? %></h6></div>
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; text-align:center">
            <div class="col-10"><h6><%= @evidence.template.name if @evidence.present? %></h6></div>
        </td>
    </tr>
</table>
<table>
    <tr>    
        <td style="border:1px solid black; width: 25%">
            <h6>CÓDIGO: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @evidence.template.reference if @evidence.present? %></small></h6>                
        </td>

        <td style="border:1px solid black; width: 25%">
            <h6>VERSIÓN: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @evidence.template.version if @evidence.present? %></small></h6>                
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; width: 25%">
            <h6>FECHA DE ELABORACIÓN: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @evidence.template.date if @evidence.present? %></small></h6>                
        </td>

        <td style="border:1px solid black; width: 25%">
            <h6>FECHA DE ACTUALIZACIÓN: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @evidence.template.date_updated if @evidence.present? %></small></h6>                
        </td>
    </tr>
</table>
