

<% if evaluation_rule_details.apply == 1 %>       
    <tr> 
        <td><%= evaluation_rule_details.standar_detail_item.standar_detail.standar.label_cycle(evaluation_rule_details.standar_detail_item.standar_detail.standar.cycle) %></td>
        <td><%= evaluation_rule_details.standar_detail_item.item_nro %></td>    
        <td><%= evaluation_rule_details.standar_detail_item.description%></td>
        <td><%= evaluation_rule_details.label_meets %></td> 
        <td><%= evaluation_rule_details.score %></td>
       
        <td>
            <button type="button" class="btn btn-info" 
                                  data-bs-toggle="popover"
                                  title="<%=evaluation_rule_details.standar_detail_item.description%>"
                                  $popover-max-width: 1276px;
                                  data-bs-content="CRITERIO: <%=evaluation_rule_details.standar_detail_item.criterion%>   MODO DE VERIFICACIÓN:  <%= evaluation_rule_details.standar_detail_item.verification_mode %>" >Criterio</button>
                                  
        </td> 
        
        <td><%= link_to t('common.edit'), edit_evaluation_rule_detail_path(evaluation_rule_details), class: 'btn btn-xs btn-primary'  %></td>
        
    </tr>
<% end %>     


