<% if @firms.present? %> 
    <br>
    <div class="row"><br></div>
        <table>
            <% cont = 0 %>
            <% @firms.each do |firm| %>
                <% cont = cont + 1 %>
                <% if cont == 1 || cont == 3 || cont == 5 || cont ==7 || cont == 9 || cont == 11 || cont == 13  %>
                    <tr> 
                        <td style="border: 0px solid black;width: 33%;text-align: center;">
                            <div class="col-11">
                                
                                    <% if firm.authorize_firm == 1 %>
                                        <% if firm.user.firm.attached? %>
                                            <% if firm.user.firm.image? %> 
                                                <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag(Evaluation.wicked_blob_path(firm.user.firm), class: "firmapdf")%></div>
                                            <% end %>
                                        <% else %> 
                                            <div style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>    
                                        <% end %>
                                    <% else %> 
                                        <div style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>    
                                    <% end %>     
                                <p>________________________________</p>   
                                <div><strong><%= firm.user.name %></strong></div>
                                <div><%= firm.post %></div>
                                <div><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></div>
                                <% if  firm.user.id == 2 %>
                                    <div>Licencia: 2025060173080</div>
                                <% end %>
                            </div>
                            
                        </td>  
                <% else %>    
                        <td style="border: 0px solid black;width: 33%;text-align: center;">
                            <div class="col-11">
                               
                                    <% if firm.authorize_firm == 1 %>
                                        <% if firm.user.firm.attached? %>
                                            <% if firm.user.firm.image? %> 
                                                <div style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag(Evaluation.wicked_blob_path(firm.user.firm), class: "firmapdf")%></div>
                                            <% end %>
                                        <% else %> 
                                            <div style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>    
                                        <% end %>
                                    <% else %> 
                                        <div style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>    
                                    <% end %>     
                                <p>________________________________</p>   
                                <div><strong><%= firm.user.name %></strong></div>
                                <div><%= firm.post %></div>
                                <div><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></div>
                                <% if  firm.user.id == 2 %>
                                    <div>Licencia: 2025060173080</div>
                                <% end %>
                            </div>
                        </td>      
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
<% end %>