<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<div class="row"><br></div>
<table>
    <tr> 
        <% @firms.each do |firm| %>
            <% if firm.legal_representative == 0 %>
                <td style="border:0px solid black; width: 33%; text-align:center">

                    <div class="row  text-center"> 
                        <div class="col-11">
                            <% if (firm.post == "Asesor externo SG-SST" || firm.post == "Asesor Externo SG-SST") then %>
                                <div>Elaboró:</div>
                            <% else %>
                                <div>Elaboró:</div>
                            <% end %>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <% if firm.authorize_firm == 1 %>
                               <% if firm.user.firm.attached? %>
                                  <% if firm.user.firm.image? %> 
                                        <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag(Evaluation.wicked_blob_path(firm.user.firm), class: "firmapdf")%></div>                                  
                                        <p align="center">______________________</p>
                                  <% end %>
                                <% end %>
                            <% else %>    
                                <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>
                                <p align="center">______________________</p>
                             <% end %>     
                        </div>
                       <div class="col-11">
                            <div class="row">
                                <strong><%= firm.user.name %></strong>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <%= firm.post %>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                            </div>
                        </div>
                        <% if  firm.user.level == 2 %>
                            <div class="col-11">
                                <div class="row">
                                    Licencia: <%= firm.user.license %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <br>
                </td>      
            <% end %>    
        <% end %>
        <td style="border:0px solid black; width: 33%; text-align:center">
            <% @firms.each do |firm| %>
                <% if firm.legal_representative == 1 %>
                    <div class="row  text-center"> 
                        <div class="col-11">
                            <div>Aprobó:</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <% if firm.authorize_firm == 1 %>
                               <% if firm.user.firm.attached? %>
                                  <% if firm.user.firm.image? %> 
                                        <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag(Evaluation.wicked_blob_path(firm.user.firm), class: "firmapdf")%></div>
                                        <p align="center">______________________</p>
                                  <% end %>
                                <% end %>
                            <% else %>    
                                <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>
                                <p align="center">______________________</p>
                             <% end %>     
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <strong><%= firm.user.name %></strong>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <%= firm.post %>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                            </div>
                        </div>
                        <% if  firm.user.level == 2 %>
                            <div class="col-11">
                                <div class="row">
                                    Licencia: <%= firm.user.license %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <br>
                <% end %>    
            <% end %>
        </td>
    </tr>
</table>
