<div class="row"><br></div>
<table style="width: 100%;">
    <tr>    
        <td style="border:0px solid black; width: 50%; text-align:center;">
            <% @firms.each do |firm| %>
                <% if firm.legal_representative == 1 %>
                    <div class="row  text-center" > 
                        <div class="col-11">
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                                <% if firm.authorize_firm == 1 %>
                                    <div style="height: 100px;">
                                        <% if firm.user.firm.attached? %>
                                            <% if firm.user.firm.image? %> 
                                               <%= image_tag firm.user.firm, class: "firma" %>
                                            <% end %>
                                        <% end %>
                                    </div>  
                                    <p align="center">________________________________</p>       
                                <% else %>    
                                    <div style="height: 100px;">
                                        
                                    </div>
                                    <p align="center">________________________________</p>         
                                 <% end %>     
                        </div>
                       <div class="col-11">
                            <div class="row">
                                <h6><strong><%= firm.user.name %></strong></h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><%= firm.post %></h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                            </div>
                        </div>
                    </div>
                    <br>
                <% end %>    
            <% end %>
        </td>
        <td style="border:0px solid black; width: 50%; text-align:center;">
            <% @firms.each do |firm| %>
                <% if firm.legal_representative == 0 %>
                    <div class="row  text-center" > 
                        <div class="col-11">
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                                <% if firm.authorize_firm == 1 %>
                                    <div style="height: 100px;">
                                        <% if firm.user.firm.attached? %>
                                          <% if firm.user.firm.image? %> 
                                               <%= image_tag firm.user.firm, class: "firma" %>
                                              
                                          <% end %>
                                        <% end %>
                                    </div>    
                                    <p align="center">________________________________</p>
                                <% else %>    
                                    <div style="height: 100px;">
                                        
                                    </div>
                                    <p align="center">________________________________</p>    
                                 <% end %>     
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><strong><%= firm.user.name %></strong></h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><%= firm.post %></h6>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                            </div>
                        </div>
        
                    </div>
                    <br>
                <% end %>    
            <% end %>
        </td>
    </tr>
</table>
