<% if @firms.present? %> 
    <div class="container col-12"> 
        <div class="row g-2" style="text-align:center">

        <% @firms.each do |firm| %>
                
                <div class="col-sm-6">
                    </br>
                    <div> 
                        <% if firm.authorize_firm == 1 %>
                            <% if firm.user.firm.attached? %>
                                <% if firm.user.firm.image? %> 
                                    <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag firm.user.firm, class: "firmapdf" %></div>
                                <% end %>
                            <% else %> 
                               <div class="firmadiv"></div>    
                            <% end %>
                        <% else %> 
                               <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>
                        <% end %>     
                    </div>
                    <div>
                        <p>________________________________</p>   
                        <h6><strong><%= firm.user.name %></strong></h6>
                        <h6><%= firm.post %></h6>
                        <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                    </div>
                </div>
                
        <% end %>
        </div>
    </div>
<% end %>

