<table border="1">
    <tr>
        <td rowspan="2" style="width: 20%; text-align:center">
            <% if @evidence.entity.logo.present? then %>
                <%= image_tag(Evaluation.wicked_blob_path(@evidence.entity.logo),:width => "100",  :height=>"100") %>
            <% end %>   
        </td>
        <td style="text-align:center;text-transform:uppercase;">
            <div class="col-10"><strong><%= @evidence.entity.business_name if @evidence.present? %></strong></div>
        </td>
    </tr>
    <tr>    
        <td style="text-align:center">
            <div class="col-10"><strong><%= @evidence.template.name if @evidence.present? %></strong></div>
        </td>
    </tr>
</table>
<table border="1">
    <tr>    
        <td style="width: 25%">
            <strong>CÓDIGO: </strong>                
        </td>
        <td style="width: 25%">
            <strong>&nbsp;&nbsp;<%= @evidence.template.reference if @evidence.present? %></strong>                
        </td>

        <td style="width: 25%">
            <strong>VERSIÓN: </strong>                
        </td>
        <td style="width: 25%">
            <strong>&nbsp;&nbsp;<%= @evidence.template.version if @evidence.present? %></strong>                
        </td>
    </tr>
    <tr>    
        <td style="width: 25%">
            <strong>FECHA DE ELABORACIÓN: </strong>                
        </td>
        <td style="width: 25%">
            <strong>&nbsp;&nbsp;<%= @evidence.template.date if @evidence.present? %></strong>                
        </td>

        <td style="width: 25%">
            <strong>FECHA DE ACTUALIZACIÓN: </strong>                
        </td>
        <td style="width: 25%">
            <strong>&nbsp;&nbsp;<%= @evidence.template.date_updated if @evidence.present? %></strong>                
        </td>
    </tr>
</table>
