<div class="container col-11 card p-5">
    <br>
    <h5 class="table-success">Formatos para la creación de evidencias </h5>
    <hr>
    <table class="table table-Light table-striped">
        <thead>
            <tr>
                <th scope="col">Formato Nro.</th>
                <th scope="col">Nombre del formato</th>
                <th scope="col">Referencia</th>
                <th scope="col">Descripción</th>
                <th scope="col">Crear Evidencia</th>
                <th scope="col">Descargar Formato</th>
                <th scope="col">Ayuda</th>
            </tr>
        </thead>
        <tbody>
            <% @templates.each do |template| %> 
                <tr>
                    <td><%= template.format_number %></td>
                    <td><%= template.name %></td>
                    <td><%= template.reference %></td>
                    <td><%= template.description %></td> 
                                                                                        
                    <td><%= link_to "Crear Evidencia", crear_evidencia_evaluation_rule_detail_path(evaluacion_rule_detail_id:  @evaluation_rule_detail.id, template_id: template.id, entity_id: @evaluation_rule_detail.evaluation.entity_id), class: 'btn btn-sm btn-success' if template.state == 1 %> </td>
                    <td><%= link_to "Descargar Formato", rails_blob_path(template.file, disposition: 'attachment'), class: 'btn btn-sm btn-success' if template.file.present?%> </td>
                    <td><button type="button" class: 'btn btn-sm btn-success' 
                    data-bs-toggle="popover"
                    title="Diligenciamiento de la evidencia"
                    data-bs-content="<%=template.filing %>" >Ayuda</button></td>
                </tr>
            <% end %>
        </tbody>      
    </table>
</div>  
<br>


