<div class="container col-11 card p-5">
    <div class="bg-info">
        <p><%=@evidence.template.filing if @evidence.present? %></p>
    </div>
    <br>
    <%= form_with model: @firm do |form| %>
        <% @firm.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  
        <table> 
            <tr>
                <td style="width:40%">
                    <%= form.label :user_id,  style: "display: block" %>
                    <%= form.collection_select :user_id, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
                </td>
                <td style="width:30%">
                    <%= form.label :legal_representative,  style: "display: block" %>
                    <%= form.radio_button :legal_representative, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :legal_representative, 1 %>
                    <label for="Si">SI</label>
                </td>
                <td style="width:30%">
                    <%= form.label :post, style: "display: block" %>
                    <%= form.select(:post, [['', ''],['Representante Legal', 'Representante Legal'], ['Responsable SG-SST', 'Responsable SG-SST'], ['Asesor externo SG-SST', 'Asesor externo SG-SST'], ['REPRESENTANTE EMPLEADOR', 'REPRESENTANTE EMPLEADOR'], ['SUPLENTE REPRESENTANTE EMPLEADOR ', 'SUPLENTE REPRESENTANTE EMPLEADOR '], ['REPRESENTANTE  EMPLEADOS', 'REPRESENTANTE  EMPLEADOS'], ['SUPLENTE REPRESENTANTE EMPLEADOS', 'SUPLENTE REPRESENTANTE EMPLEADOS'], ['Presidente COPASST', 'Presidente COPASST'], ['Secretario(a) COPASST ', 'Secretario COPASST '], ['Vigía SG-SST', 'Vigía SG-SST'], ['Colaborador', 'Colaborador'], ['COLABORADOR', 'COLABORADOR']]) %>
                </td>
            </tr>
        </table>
        <hr>
        <br>    
        <%= form.hidden_field :evidence_id, :value => params[:id].to_s, class: "form-control" %>
          
        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to 'Retornar', edit_evaluation_rule_detail_path(@evidence.evaluation_rule_detail_id), class: 'btn btn-sm btn-primary'  %>
    <% end %>
    <hr>
    <br>
    <br>
</div>
<div class="container col-11 card p-5">
    <div class="d-flex">
        <div class="container">
            <h class="display-6">Funcionarios que firman evidencia:</h>
        </div> 
    </div>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Fecha Evidencia</th>
                <th scope="col">Nombre Evidencia</th>
                <th scope="col">Funcionario</th>
                <th scope="col">Representante Legal</th>
                <th scope="col">Cargo</th>
                <th scope="col">Firma</th>
                <th scope="col">Fecha Firma</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% @firms.each do |firma| %>
                <tr>
                    <td><%= firma.evidence.date %></td> 
                    <td><%= firma.evidence.template.name %></td>
                    <td><%= firma.user.name %></td>
                    <td><%= firma.label_legal_representative %></td> 
                    <td><%= firma.post %></td>
                    <td><%= firma.label_authorize_firm %></td>
                    <td><%= firma.date_authorize_firm %></td> 
                    <td><%= link_to t('common.edit'), edit_firm_path(firma), class: 'btn btn-sm btn-primary'  %></td>
                    <td><%= button_to "Delete", firma, method: :delete, class:"btn btn-sm btn-danger" %></td>
                </tr>
            <% end %>     
        </tbody>      
    </table>
    <br>
</div>        
<br>



