<div class="container col-11 card p-5">
    <div class="bg-info">
        <p><%=@evidence.template.filing if @evidence.present? %></p>
    </div>
    <br>
    <%= form_with model: @participant do |form| %>
        <% @participant.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <table>
            <tr>
                <td style="width:50%">
                    <%= form.label :user_id,  style: "display: block" %>
                    <%= form.collection_select :user_id, User.all.order(id: :asc), :id,  :name, style: "width=50px" %>
                </td> 
                <td style="width:50%">
                    <%= form.label :responsible_ssst,  style: "display: block" %>
                    <%= form.radio_button :responsible_ssst, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :responsible_ssst, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :designating_by_legal_representative,  style: "display: block" %>
                    <%= form.radio_button :designating_by_legal_representative, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :designating_by_legal_representative, 1 %>
                    <label for="Si">SI</label>
                </td> 
                <td style="width:50%">
                    <%= form.label :joint_committee_president,  style: "display: block" %>
                    <%= form.radio_button :joint_committee_president, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :joint_committee_president, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>

            <tr>
                <td style="width:50%">
                    <%= form.label :joint_committee_secretary,  style: "display: block" %>
                    <%= form.radio_button :joint_committee_secretary, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :joint_committee_secretary, 1 %>
                    <label for="Si">SI</label>
                </td> 
                <td style="width:50%">
                    <%= form.label :degree, style: "display: block" %>
                    <%= form.select(:degree, [['', ''],['Representante Legal', 'Representante Legal'], ['Responsable SG-SST', 'Responsable SG-SST'], ['Asesor externo SG-SST', 'Asesor externo SG-SST'], ['REPRESENTANTE EMPLEADOR', 'REPRESENTANTE EMPLEADOR'], ['SUPLENTE REPRESENTANTE EMPLEADOR ', 'SUPLENTE REPRESENTANTE EMPLEADOR '], ['REPRESENTANTE  EMPLEADOS', 'REPRESENTANTE  EMPLEADOS'], ['SUPLENTE REPRESENTANTE EMPLEADOS', 'SUPLENTE REPRESENTANTE EMPLEADOS'], ['Presidente COPASST', 'Presidente COPASST'], ['Secretario(a) COPASST ', 'Secretario COPASST '], ['Vigía SG-SST', 'Vigía SG-SST'], ['Colaborador', 'Colaborador'], ['COLABORADOR', 'COLABORADOR']]) %>
                </td>
            </tr>

            <tr>
                <td style="width:50%"> 
                    <%= form.label :post_copasst, style: "display: block" %>
                    <%= form.select(:post_copasst, [['', ''],['Representante Legal', 'Representante Legal'], ['Responsable SG-SST', 'Responsable SG-SST'], ['Asesor externo SG-SST', 'Asesor externo SG-SST'], ['REPRESENTANTE EMPLEADOR', 'REPRESENTANTE EMPLEADOR'], ['SUPLENTE REPRESENTANTE EMPLEADOR ', 'SUPLENTE REPRESENTANTE EMPLEADOR '], ['REPRESENTANTE  EMPLEADOS', 'REPRESENTANTE  EMPLEADOS'], ['SUPLENTE REPRESENTANTE EMPLEADOS', 'SUPLENTE REPRESENTANTE EMPLEADOS'], ['Presidente COPASST', 'Presidente COPASST'], ['Secretario(a) COPASST ', 'Secretario COPASST '], ['Vigía SG-SST', 'Vigía SG-SST'], ['Colaborador', 'Colaborador'], ['COLABORADOR', 'COLABORADOR']]) %>
                </td> 
                <td style="width:50%">
                    <%= form.label :external_consultant,  style: "display: block" %>
                    <%= form.radio_button :external_consultant, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :external_consultant, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :collaborator,  style: "display: block" %>
                    <%= form.radio_button :collaborator, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :collaborator, 1 %>
                    <label for="Si">SI</label>
                </td>
                <td style="width:50%">
                    <%= form.label :vigia,  style: "display: block" %>
                    <%= form.radio_button :vigia, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :vigia, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :person_complaining,  style: "display: block" %>
                    <%= form.radio_button :person_complaining, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :person_complaining, 1 %>
                    <label for="Si">SI</label>
                </td>
                <td style="width:50%">
                </td>
            </tr>

            <tr><td><hr></td><td><hr></td></tr>

            <tr>
                <td>
                    <h5> Los siguentes campos se diligencia en el formato "IDENTIFICACIÓN DE TRABAJADORES DE ALTO RIESGO Y COTIZACION DE PENSIÓN ESPECIAL" </h5>
                </td>
            </tr>

            <tr>
                <td style="width:50%">
                    <%= form.label :arl_activity_report,  style: "display: block" %>
                    <%= form.radio_button :arl_activity_report, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :arl_activity_report, 1 %>
                    <label for="Si">SI</label>
                </td>
                <td style="width:50%">
                    <%= form.label :quote_10_aditional_points,  style: "display: block" %>
                    <%= form.radio_button :quote_10_aditional_points, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :quote_10_aditional_points, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :employees_activity, style: "display: block" %>
                    <%= form.text_field :employees_activity,  class: "form-control" %>
                </td>
                <td style="width:50%">
                    <%= form.label :reported_activity, style: "display: block" %>
                    <%= form.select(:reported_activity, [['Trabajos en minería con servicio en socavones o en subterráneos.', 'Trabajos en minería con servicio en socavones o en subterráneos.'], ['Trabajos con exposición a altas temperaturas.', 'Trabajos con exposición a altas temperaturas.'], ['Trabajos con exposición a radiaciones ionizantes.', 'Trabajos con exposición a radiaciones ionizantes.'], ['Trabajos con exposición a sustancias comprobadamente cancerígenas.', 'Trabajos con exposición a sustancias comprobadamente cancerígenas.'], ['Actividades de los técnicos aeronáuticos.', 'Actividades de los técnicos aeronáuticos.'], ['Cuerpos de Bomberos - Función específica en operaciones de extinción de incendios.', 'Cuerpos de Bomberos - Función específica en operaciones de extinción de incendios.'], ['INPEC - Actividad dedicada a la custodia y vigilancia de los internos.', 'INPEC - Actividad dedicada a la custodia y vigilancia de los internos.']]) %>
                </td>
            </tr>
            <tr><td><hr></td><td><hr></td></tr>

            <tr>
                <td>
                    <h5> Los siguentes campos se diligencia en el formato "ACTA DE CONFORMACIÓN DE LA BRIGADA DE EMERGENCIA Y COMITÉ OPERATIVO DE EMERGENCIA" </h5>
                </td>
            </tr>

            <tr>
                <td style="width:50%"> 
                    <%= form.label :brigade_position, style: "display: block" %>
                    <%= form.select(:brigade_position, [['Sin Seleccionar Cargo', 0],['Coordinador de Brigada', 1], ['Suplente Brigada', 2], ['Coordinador prevención y control de incendios', 3], ['Suplente coordinador prevención y control de incendios', 4], ['Brigadista prevención y control de incendios', 5], ['Coordiador primeros auxilios', 6], ['suplente coordinador primeros auxilios', 7], ['Brigadista primeros auxilios', 8], ['Coordinador evacuación', 9], ['suplente coordiador evacuación', 10], ['Brigadista evacuación', 11]]) %>
                </td> 
                <td style="width:20%">
                    <%= form.label :rh, style: "display: block" %>
                    <%= form.text_field :rh,  class: "form-control" %>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :company_position, style: "display: block" %>
                    <%= form.text_field :company_position,  class: "form-control" %>
                </td>
                <td style="width:50%">
                    <%= form.label :phone, style: "display: block" %>
                    <%= form.text_field :phone,  class: "form-control" %>
                </td>
            </tr>
            <tr><td><hr></td><td><hr></td></tr>
            <tr>
                <td>
                    <h5> Los siguentes campos se diligencia en el formato "ACTA DE CIERRE DE LAS VOTACIONES PARA ELECCIÓN DE INTEGRANTES DEL COMITÉ DE CONVIVENCIA LABORAL" </h5>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :jury_voting,  style: "display: block" %>
                    <%= form.radio_button :jury_voting, 0 %>
                    <label for="No">NO</label>
                    <%= form.radio_button :jury_voting, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :candidate,  style: "display: block" %>
                    <%= form.radio_button :candidate, 0 %>
                   <label for="No">NO</label>
                    <%= form.radio_button :candidate, 1 %>
                    <label for="Si">SI</label>
                </td>
                <td style="width:50%">
                    <%= form.label :number_votes, style: "display: block" %>
                    <%= form.number_field :number_votes,  class: "form-control" %>
                </td>
            </tr>
            <tr>
                <td style="width:50%">
                    <%= form.label :workers_representative,  style: "display: block" %>
                    <%= form.radio_button :workers_representative, 0 %>
                   <label for="No">NO</label>
                    <%= form.radio_button :workers_representative, 1 %>
                    <label for="Si">SI</label>
                </td>
                <td style="width:50%">
                    <%= form.label :company_representative,  style: "display: block" %>
                    <%= form.radio_button :company_representative, 0 %>
                   <label for="No">NO</label>
                    <%= form.radio_button :company_representative, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>
            <tr>
                <td>
                    <%= form.label :choose,  style: "display: block" %>
                    <%= form.radio_button :choose, 0 %>
                   <label for="No">NO</label>
                    <%= form.radio_button :choose, 1 %>
                    <label for="Si">SI</label>
                </td>
            </tr>
            <hr>
        </table>

        <%= form.hidden_field :evidence_id, :value => params[:id].to_s, class: "form-control" %>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
    <% end %>
    <hr>
    <br>
    <br>
    <div class="d-flex">
        <div class="container">
            <h class="display-6">Funcionarios relacionados en la evidencia:</h>
        </div> 
    </div>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Fecha Evidencia</th>
                <th scope="col">Nro.Evidencia</th>
                <th scope="col">Nombre Evidencia</th>
                <th scope="col">Funcionario</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% @participants.each do |participant| %> 
                <tr>
                    <td><%= participant.evidence.date %></td>
                    <td><%= participant.evidence_id %></td>
                    <td><%= participant.evidence.template.name %></td>
                    <td><%= participant.user.name %></td>
                    <td><%= link_to t('common.delete'), participant, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el funcionario?' }, class: 'btn btn-xs btn-danger' %></td>
                </tr>
            <% end %>     
        </tbody>      
    </table>
    <br>
        
</div>        
<br>


