<!doctype html>
<html>
  <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
      <meta charset='utf-8' />
      <%= wicked_pdf_javascript_include_tag "number_pages" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>
  <body onload='number_pages'>
      <% if @evidence.present? %>
         <%= render 'evaluation_rule_details/plantillas/1'   , evidence: @evidence  if @evidence.template.format_number.to_i == 1 %>
         <%= render 'evaluation_rule_details/plantillas/2'   , evidence: @evidence  if @evidence.template.format_number.to_i == 2 %>
         <%= render 'evaluation_rule_details/plantillas/3'   , evidence: @evidence  if @evidence.template.format_number.to_i == 3 %>
         <%= render 'evaluation_rule_details/plantillas/4'   , evidence: @evidence  if @evidence.template.format_number.to_i == 4 %>
         <%= render 'evaluation_rule_details/plantillas/5'   , evidence: @evidence  if @evidence.template.format_number.to_i == 5 %>
         <%= render 'evaluation_rule_details/plantillas/6'   , evidence: @evidence  if @evidence.template.format_number.to_i == 6 %>
         <%= render 'evaluation_rule_details/plantillas/7'   , evidence: @evidence  if @evidence.template.format_number.to_i == 7 %>
         <%= render 'evaluation_rule_details/plantillas/8'   , evidence: @evidence  if @evidence.template.format_number.to_i == 8 %>
         <%= render 'evaluation_rule_details/plantillas/9'   , evidence: @evidence  if @evidence.template.format_number.to_i == 9 %>
         <%= render 'evaluation_rule_details/plantillas/10'   , evidence: @evidence  if @evidence.template.format_number.to_i == 10 %>
         <%= render 'evaluation_rule_details/plantillas/11'   , evidence: @evidence  if @evidence.template.format_number.to_i == 11 %>
         <%= render 'evaluation_rule_details/plantillas/12'   , evidence: @evidence  if @evidence.template.format_number.to_i == 12 %>
         <%= render 'evaluation_rule_details/plantillas/13'   , evidence: @evidence  if @evidence.template.format_number.to_i == 13 %>
         <%= render 'evaluation_rule_details/plantillas/14'   , evidence: @evidence  if @evidence.template.format_number.to_i == 14 %>
         <%= render 'evaluation_rule_details/plantillas/15'   , evidence: @evidence  if @evidence.template.format_number.to_i == 15 %>
         <%= render 'evaluation_rule_details/plantillas/16'   , evidence: @evidence  if @evidence.template.format_number.to_i == 16 %>
         <%= render 'evaluation_rule_details/plantillas/17'   , evidence: @evidence  if @evidence.template.format_number.to_i == 17 %>
         <%= render 'evaluation_rule_details/plantillas/18'   , evidence: @evidence  if @evidence.template.format_number.to_i == 18 %>
         <%= render 'evaluation_rule_details/plantillas/19'   , evidence: @evidence  if @evidence.template.format_number.to_i == 19 %>
         <%= render 'evaluation_rule_details/plantillas/20'   , evidence: @evidence  if @evidence.template.format_number.to_i == 20 %>
         <%= render 'evaluation_rule_details/plantillas/21'   , evidence: @evidence  if @evidence.template.format_number.to_i == 21 %>
         <%= render 'evaluation_rule_details/plantillas/22'   , evidence: @evidence  if @evidence.template.format_number.to_i == 22 %>
         <%= render 'evaluation_rule_details/plantillas/23'   , evidence: @evidence  if @evidence.template.format_number.to_i == 23 %>
         <%= render 'evaluation_rule_details/plantillas/24'   , evidence: @evidence  if @evidence.template.format_number.to_i == 24 %>
         <%= render 'evaluation_rule_details/plantillas/25'   , evidence: @evidence  if @evidence.template.format_number.to_i == 25 %>
         <%= render 'evaluation_rule_details/plantillas/26'   , evidence: @evidence  if @evidence.template.format_number.to_i == 26 %>
         <%= render 'evaluation_rule_details/plantillas/27'   , evidence: @evidence  if @evidence.template.format_number.to_i == 27 %>
         <%= render 'evaluation_rule_details/plantillas/28'   , evidence: @evidence  if @evidence.template.format_number.to_i == 28 %>
         <%= render 'evaluation_rule_details/plantillas/29'   , evidence: @evidence  if @evidence.template.format_number.to_i == 29 %>
         <%= render 'evaluation_rule_details/plantillas/30'   , evidence: @evidence  if @evidence.template.format_number.to_i == 30 %>
         <%= render 'evaluation_rule_details/plantillas/34'   , evidence: @evidence  if @evidence.template.format_number.to_i == 34 %>
         <%= render 'evaluation_rule_details/plantillas/38'   , evidence: @evidence  if @evidence.template.format_number.to_i == 38 %>
         <%= render 'evaluation_rule_details/plantillas/39'   , evidence: @evidence  if @evidence.template.format_number.to_i == 39 %>
         <%= render 'evaluation_rule_details/plantillas/40'   , evidence: @evidence  if @evidence.template.format_number.to_i == 40 %>
         <%= render 'evaluation_rule_details/plantillas/41'   , evidence: @evidence  if @evidence.template.format_number.to_i == 41 %>
         <%= render 'evaluation_rule_details/plantillas/42'   , evidence: @evidence  if @evidence.template.format_number.to_i == 42 %>
         <%= render 'evaluation_rule_details/plantillas/43'   , evidence: @evidence  if @evidence.template.format_number.to_i == 43 %>
         <%= render 'evaluation_rule_details/plantillas/44'   , evidence: @evidence  if @evidence.template.format_number.to_i == 44 %>
         <%= render 'evaluation_rule_details/plantillas/45'   , evidence: @evidence  if @evidence.template.format_number.to_i == 45 %>
         <%= render 'evaluation_rule_details/plantillas/46'   , evidence: @evidence  if @evidence.template.format_number.to_i == 46 %>
         <%= render 'evaluation_rule_details/plantillas/47'   , evidence: @evidence  if @evidence.template.format_number.to_i == 47 %>
         <%= render 'evaluation_rule_details/plantillas/48'   , evidence: @evidence  if @evidence.template.format_number.to_i == 48 %>
         <%= render 'evaluation_rule_details/plantillas/49'   , evidence: @evidence  if @evidence.template.format_number.to_i == 49 %>
         <%= render 'evaluation_rule_details/plantillas/50'   , evidence: @evidence  if @evidence.template.format_number.to_i == 50 %>
         <%= render 'evaluation_rule_details/plantillas/51'   , evidence: @evidence  if @evidence.template.format_number.to_i == 51 %>
         <%= render 'evaluation_rule_details/plantillas/54'   , evidence: @evidence  if @evidence.template.format_number.to_i == 54 %>
         <%= render 'evaluation_rule_details/plantillas/55'   , evidence: @evidence  if @evidence.template.format_number.to_i == 55 %>
         <%= render 'evaluation_rule_details/plantillas/58'   , evidence: @evidence  if @evidence.template.format_number.to_i == 58 %>
         <%= render 'evaluation_rule_details/plantillas/59'   , evidence: @evidence  if @evidence.template.format_number.to_i == 59 %>
         <%= render 'evaluation_rule_details/plantillas/62'   , evidence: @evidence  if @evidence.template.format_number.to_i == 62 %>

      <% end %> 
  </body>
</html>


