<!doctype html>
<html>
  <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
      <meta charset='utf-8' />
      <%= wicked_pdf_javascript_include_tag "number_pages" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>
  <body onload='number_pages'>
      <% if @evidence.present? %>
         <%= render 'evaluation_rule_details/plantillas/1'   , evidence: @evidence  if @evidence.template.format_number.to_i == 1 %>
         <%= render 'evaluation_rule_details/plantillas/2'   , evidence: @evidence  if @evidence.template.format_number.to_i == 2 %>
         <%= render 'evaluation_rule_details/plantillas/3'   , evidence: @evidence  if @evidence.template.format_number.to_i == 3 %>
         <%= render 'evaluation_rule_details/plantillas/4'   , evidence: @evidence  if @evidence.template.format_number.to_i == 4 %>
         <%= render 'evaluation_rule_details/plantillas/5'   , evidence: @evidence  if @evidence.template.format_number.to_i == 5 %>
         <%= render 'evaluation_rule_details/plantillas/6'   , evidence: @evidence  if @evidence.template.format_number.to_i == 6 %>
         <%= render 'evaluation_rule_details/plantillas/7'   , evidence: @evidence  if @evidence.template.format_number.to_i == 7 %>
         <%= render 'evaluation_rule_details/plantillas/8'   , evidence: @evidence  if @evidence.template.format_number.to_i == 8 %>
         <%= render 'evaluation_rule_details/plantillas/9'   , evidence: @evidence  if @evidence.template.format_number.to_i == 9 %>
         <%= render 'evaluation_rule_details/plantillas/10'   , evidence: @evidence  if @evidence.template.format_number.to_i == 10 %>
         <%= render 'evaluation_rule_details/plantillas/11'   , evidence: @evidence  if @evidence.template.format_number.to_i == 11 %>
         <%= render 'evaluation_rule_details/plantillas/12'   , evidence: @evidence  if @evidence.template.format_number.to_i == 12 %>
         <%= render 'evaluation_rule_details/plantillas/13'   , evidence: @evidence  if @evidence.template.format_number.to_i == 13 %>

      <% end %> 
  </body>
</html>


