<div class="container col-11 card p-5">
    <table class="table table-hover" style="border:1px solid black"> 
        <thead>
            <tr>
                <td rowspan="4"; style="border:1px solid black; text-align:center; padding-bottom: 40px;">
                    <% if @entity.logo.present? then %>
                        <%=  image_tag  @entity.logo, class: "image_peq" %>
                    <% end %>
                </td>
                <td rowspan="4"; colspan="9"; style="text-align:center; padding-bottom: 40px;">
                    <div class="col-10"><h5>SOLICITUD DE ACCIONES SG-SST</h5><h6><%= @entity.business_name if @entity.present? %> Nit: <%= @entity.identification_number if @entity.present? %> </h6></div>
                </td>
                <td rowspan="4";  style="text-align:center">
                </td>
                <td colspan="2"; style="border:1px solid black">Fecha de Creación:</td>

                <td style="border:1px solid black"><%= @template.date  if @template.present? %></td>
            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Fecha de Actualización:</td>
                <td style="border:1px solid black"><%= @template.date_updated if @template.present? %></td>
            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Versión:</td>
                <td style="border:1px solid black"><%= @template.version if @template.present? %></td>
            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Código:</td>
                <td style="border:1px solid black"><%= @template.reference if @template.present? %></td>
            </tr>
        </thead>
    </table>

    <br>
    <%= form_with model: @matrix_action_item do |form| %> 
        <% @matrix_action_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
   
        <table style="width: 100%;">  
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <div class="col-auto text-center">
                        </br>
                        <%= form.label :date_action_conformity,  style: "display: block" %>
                        <%= form.date_field :date_action_conformity,  class: "form-control"  %>
                        </br>                       
                     </div>        
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :origin_action,  style: "display: block" %>
                    <%= form.select(:origin_action, [['Revisión por la dirección', 0], ['Inspecciones', 1], ['Indicadores', 2], ['Recomendaciones COPASST', 3], ['Auditorías', 4], ['Investigaciones AT-EL', 5], ['Evaluación inicial', 6], ['Cumplimiento requisitos legales', 7], ['Intervención de peligros y riesgos priorizados', 8], ['Quejas o sugerencias', 9], ['Reporte de actos y condiciones inseguras', 10], ['Cambios de procedimientos', 11], ['Simulacros emergencias', 12], ['Recomendaciones ARL', 13], ['Otros', 14]]) %></br>
                </td>
            </tr>    
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="border:1px solid black; width: 100%; text-align:center">
                    </br>
                    <strong>SOLICITUD ACCION</strong><br>
                    <%= form.radio_button :type_corrective, 0 %>
                    <label for="accionpreventiva">Acción Preventiva</label>
                    <%= form.radio_button :type_corrective, 1 %>
                    <label for="accionmejora">Acción de Mejora</label>                    
                    <%= form.radio_button :type_corrective, 2 %>
                    <label for="accioncorrectiva">Acción Correctiva</label>                    
                    </br>
                </td>
            </tr>    
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="border:1px solid black; width: 100%; text-align:center">
                    </br>
                    <strong>HALLAZGO</strong><br>
                    <%= form.text_area :hallazgo,  class: "form-control" %>
                    </br>
                </td>
            </tr>    
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    </br>
                    <strong>Fue detectada en:</strong><br>
                    <div>
                    <%= form.label :campus,  style: "display: block" %>
                    <%= form.collection_select :campus, @locations.order(id: :asc), :id, :name_locate, { prompt: '--Seleccionar Centro de Trabajo--' },
                    { class: 'form-control input-sm select2' } %><br>
                    </div>    
                    <%= form.label :area,  style: "display: block" %>
                    <%= form.text_field :area,  class: "form-control" %>
                    </br>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :description_action,  style: "display: block" %>
                    <%= form.text_area :description_action,  class: "form-control" %>
                </td>
            </tr>    
        </table>
        <table style="width: 100%;">
            <tr>   
                <td style="border:1px solid black; width: 50%; text-align:center">
                   </br>
                    <%= form.label :clasification_type_corrective,  style: "display: block" %>
                    <%= form.text_field :clasification_type_corrective,  class: "form-control", disabled: true %>
                    </br>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :year,  style: "display: block" %>
                    <%= form.select(:year, [['2022', 2022], ['2023', 2023], ['2024', 2024], ['2025', 2025], ['2026', 2026], ['2027', 2027]]) %>
                </td>
            </tr> 
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                   </br>
                    <%= form.label :action_implement,  style: "display: block" %>
                    <%= form.select(:action_implement, [['Inmediata', 0], ['Corto Plazo', 1], ['Mediano Plazo', 2], ['Largo Plazo', 3]]) %>
                    </br>
                 </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                   </br>
                    <%= form.label :responsible,  style: "display: block" %>
                    <%= form.text_field :responsible,  class: "form-control" %>
                    </br>
                 </td>
            </tr> 
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    </br>
                    <%= form.label :commitment_date,  style: "display: block" %>
                    <%= form.date_field :commitment_date,  class: "form-control" %>
                    </br>
                 </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :closet_date,  style: "display: block" %>
                    <%= form.date_field :closet_date,  class: "form-control" %>
                </td>
            </tr> 
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    </br>
                    <%= form.label :took_actions,  style: "display: block" %>
                    <%= form.select(:took_actions, [['No', 0], ['Si', 1]]) %>
                    </br>
                 </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    </br>
                    <%= form.label :state_actions,  style: "display: block" %>
                    <%= form.select(:state_actions, [['Abierto', 0], ['Cerrado', 1]]) %>
                    </br>
                 </td>
            </tr> 
        </table>
        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>