<tr>
    <td><%= cessation_fund.id %></td>
    <td><%= cessation_fund.name %></td>
    <td><%= cessation_fund.nit %></td>
    <td><%= cessation_fund.code %></td>

    <td><%= link_to t('common.edit'), edit_cessation_fund_path(cessation_fund), class: 'btn btn-sm btn-primary'  %></td>
</tr>