<div class="container col-11">
    <br>

    <%= form_with model: @user do |form| %>
        <% @user.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>

        <div class="form-group">    
            <%= form.label :document_id,  style: "display: block" %>
            <%= form.collection_select :document_id, Document.all.order(id: :asc), :id, :document_type %>
        </div> 
        
        <div class="form-group">    
            <%= form.label :nro_document, style: "display: block" %>
            <%= form.text_field :nro_document,  class: "form-control" %>
        </div>
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>
        <div class="form-group">    
            <%= form.label :username, style: "display: block" %>
            <%= form.text_field :username,  class: "form-control" %>
        </div>
        <div class="form-group">    
            <%= form.label :email, style: "display: block" %>
            <%= form.email_field :email,  class: "form-control" %>
        </div>
        <div class="form-group">
            <%= form.label :sex,  style: "display: block" %>
            <%= form.radio_button :sex, 0 %>
            <label for="Hombre">Hombre</label>
            <%= form.radio_button :sex, 1 %>
            <label for="Mujer">Mujer</label>
        </div>

        <div class="form-group">    
            <%= form.label :phone, style: "display: block" %>
            <%= form.text_field :phone,  class: "form-control" %>
        </div>
        <div class="form-group">    
            <%= form.label :cel, style: "display: block" %>
            <%= form.text_field :cel,  class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :state,  style: "display: block" %>
            <%= form.radio_button :state, 0 %>
            <label for="Inactivo"><%= t('common.inactivo') %></label>
            <%= form.radio_button :state, 1 %>
            <label for="Activo"><%= t('common.activo') %></label>
        </div>

        <br>    
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :date_entry_company , style: "display: block" %>
                <%= form.date_field :date_entry_company,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <%= form.label :date_retirement_company, style: "display: block" %>
                <%= form.date_field :date_retirement_company,  class: "form-control" %>
            </div>        
        </div>  
        <br>

        <div class="form-group">    
            <%= form.label :level,  style: "display: block" %>
            <%= form.collection_select :level, Level.all.order(id: :asc), :id, :name %>
        </div> 

        <div class="form-group">    
            <%= form.label :entity,  style: "display: block" %>
            <%= form.collection_select :entity, Entity.all.order(id: :asc), :id, :business_name %>
        </div> 

        <div class="form-group">    
            <%= form.label :activity, style: "display: block" %>
            <%= form.text_field :activity,  class: "form-control" %>
        </div>
        <br>    
        <div class="form-group">
            <%= form.label :clasification_post,  style: "display: block" %>
            <%= form.radio_button :clasification_post, 0 %>
            <label for="Administrativo">Administrativo</label>
            <%= form.radio_button :clasification_post, 1 %>
            <label for="Operativo">Operativo</label>
        </div>
        <br> 

        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :legal_representative,  style: "display: block" %>
                <%= form.radio_button :legal_representative, 0 %>
                <label for="Inactivo">NO</label>
                <%= form.radio_button :legal_representative, 1 %>
                <label for="Activo">SI</label>
            </div>
            <div class="col-sm-5">
                <%= form.label :vigia_sgsst,  style: "display: block" %>
                <%= form.radio_button :vigia_sgsst, 0 %>
                <label for="Inactivo">NO</label>
                <%= form.radio_button :vigia_sgsst, 1 %>
                <label for="Activo">SI</label>
            </div>
        </div>        
        <br>
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :ccl,  style: "display: block" %>
                <%= form.radio_button :ccl, 0 %>
                <label for="Inactivo">NO</label>
                <%= form.radio_button :ccl, 1 %>
                <label for="Activo">SI</label>
            </div>
            <div class="col-sm-5">
                <%= form.label :collaborator,  style: "display: block" %>
                <%= form.radio_button :collaborator, 0 %>
                <label for="Inactivo">NO</label>
                <%= form.radio_button :collaborator, 1 %>
                <label for="Activo">SI</label>
            </div>
        </div>        
        <br>
        <div class="row g-4">
            <div class="col-sm-2">
                <%= form.label :copasst,  style: "display: block" %>
                <%= form.radio_button :copasst, 0 %>
                <label for="Inactivo">NO</label>
                <%= form.radio_button :copasst, 1 %>
                <label for="Activo">SI</label>
            </div>
            <div class="col-sm-2">
                <%= form.label :president_copasst,  style: "display: block" %>
                <%= form.radio_button :president_copasst, 0 %>
                <label for="Inactivo">NO</label>
                <%= form.radio_button :president_copasst, 1 %>
                <label for="Activo">SI</label>
            </div>
            <div class="col-sm-2">
                <%= form.label :secretary_copasst,  style: "display: block" %>
                <%= form.radio_button :secretary_copasst, 0 %>
                <label for="Inactivo">NO</label>
                <%= form.radio_button :secretary_copasst, 1 %>
                <label for="Activo">SI</label>
            </div>
            <div class="col-sm-5">
                <%= form.label :cargo_rol, style: "display: block" %>
                <%= form.select(:cargo_rol, [['', ''],['Representante Legal', 'Representante Legal'], ['Responsable SG-SST', 'Responsable SG-SST'], ['Asesor externo SG-SST', 'Asesor externo SG-SST'], ['REPRESENTANTE EMPLEADOR', 'REPRESENTANTE EMPLEADOR'], ['SUPLENTE REPRESENTANTE EMPLEADOR ', 'SUPLENTE REPRESENTANTE EMPLEADOR '], ['REPRESENTANTE  EMPLEADOS', 'REPRESENTANTE  EMPLEADOS'], ['SUPLENTE REPRESENTANTE EMPLEADOS', 'SUPLENTE REPRESENTANTE EMPLEADOS'], ['Presidente COPASST', 'Presidente COPASST'], ['Secretario(a) COPASST ', 'Secretario COPASST '], ['Vigía SG-SST', 'Vigía SG-SST'], ['Colaborador', 'Colaborador'], ['COLABORADOR', 'COLABORADOR'], ['Brigada de Evacuación', 'Brigada de Evacuación'], ['Brigada de Primeros Auxilios', 'Brigada de Primeros Auxilios'], ['Brigada de Incendio', 'Brigada de Incendio'], ['Brigada de Sustancias Peligrosas', 'Brigada de Sustancias Peligrosas']]) %>
            </div>
        </div>        

        <div class="form-group">    
            <%= form.label :password,  style: "display: block" %>
            <%= form.password_field :password,  class: "form-control" %>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :avatar,  style: "display: block" %> 
                <%= form.file_field :avatar,  class: "form-control", accept:"image/*", capture:"environment" %>
            </div>
            <div class="col-sm-5">
                <% if @user.present? %>
                    <% if @user.avatar.attached? %>
                        <% if @user.avatar.image? %> 
                            <%= image_tag @user.avatar, data: {previews_target: "preview"}, class: "avatar-mini" %>
                        <% end %>
                    <% else %> 
                        <%= image_tag("avatar.jpg", class: "avatar-mini") %>
                    <% end %>
                <% end %> 
            </div>
        </div>            
        <br>
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :firm,  style: "display: block" %> 
                <%= form.file_field :firm,  class: "form-control", accept:"image/*", capture:"environment" %>
            </div>
            <div class="col-sm-5">
                <% if @user.present? %>
                    <% if @user.firm.attached? %>
                        <% if @user.firm.image? %> 
                            <%= image_tag @user.firm, data: {previews_target: "preview"} %>
                        <% end %>
                    <% else %> 
                        <%= image_tag("avatar.jpg", class: "avatar-mini") %>
                    <% end %>
                <% end %> 
            </div>
        </div>            

        
        <br> 
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, users_path %>

    <% end %>
    <br> 
</div>        
 

