<tr>
    <td><%= user.document %></td>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.label_state %></td>
    <td><%= user.level %></td>
    <td><%= link_to t('common.edit'), edit_user_path(user), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>



