<div class="container col-4">
    <br>
    <p>Por favor ingrese su nueva clave, deben ser mínimo 6 caracteres </p>
    <hr>

    <%= form_with model: @user do |form| %>
        <% @user.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>

        <div class="form-group">    
            <%= form.label :password,  style: "display: block" %>
            <%= form.password_field :password,  class: "form-control" %>
        </div>


        <br>  
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, home_path %>

    <% end %>
</div>        