<%= render 'shared/header2' %>
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.nro_document') %></th>
                <th scope="col"><%= t('.name') %></th>
                <th scope="col"><%= t('.username') %></th>
                <th scope="col"><%= t('.email') %></th>
                <th scope="col"><%= t('.state') %></th>
                <th scope="col"><%= t('.level') %></th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'user', collection: @users  %>  
        </tbody>      
    </table>
</div>


