<% if @entity.present? %>
    <h2><%= @entity.business_name %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h2>
<% end %>


<% if @safety_inspections.present? %>
    <%= link_to t('.create_safety_inspection'), new_safety_inspection_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary' if Current.user.level > 0 && Current.user.level < 3 %>


        <% @safety_inspections.each do |safety_inspection| %>
            <hr>
            <div class="col-sm-8">
                <h3>Formato de inspección de seguridad del: <%= safety_inspection.date_inspection %> </h3>
                <h4>Lugar de la inspección: <%= safety_inspection.place_inspection  %> </h4>
                <h4>Área de trabajo: <%= safety_inspection.area_inspection  %> </h4>
            </div>        

            <%= link_to t('common.show_safety_inspection'), safety_inspection_path(safety_inspection.id), class: 'btn btn-sm btn-warning' %> &nbsp;
            <%= link_to t('common.edit'), edit_safety_inspection_path(safety_inspection.id), class: 'btn btn-sm btn-warning' %> &nbsp;
            <%= link_to "Ver informe", ver_informe_inspeccion_path(safety_inspection.id), class: 'btn btn-sm btn-warning' %> &nbsp;
            <%= link_to "Ver informe PDF", pdf_informe_inspeccion_path(safety_inspection.id, format: 'pdf'), class: 'btn btn-sm btn-success' %> &nbsp;

            <div class="container col-12">
                <br>

                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.user_responsible') %></strong><br>
                        <%= safety_inspection.name_user(safety_inspection.user_responsible) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.firm_responsible') %></strong><br>
                        <%= safety_inspection.label_firm(safety_inspection.firm_responsible) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_firm_responsible') %></strong><br>
                        <%= safety_inspection.date_firm_responsible %> 
                    </div>
                    <div class="col-sm-3">
                        <% if safety_inspection.firm_responsible.to_i == 0 %>
                            <%= link_to t('common.firmar'), firmar_responsable_inspeccion_path(safety_inspection.id, 2), class: 'btn btn-sm btn btn-warning' %>
                        <% end %>    
                    </div>
                </div>
                <br>
                <div class="accordion accordion-flush" id="accordionFlushExample<%= safety_inspection.id %>">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= safety_inspection.id %>" aria-expanded="false" aria-controls="flush-collapse<%= safety_inspection.id %>">
                                <div class="d-flex">
                                  <div class="container">
                                      <h><u>Ver Situaciones o Condiciones</u></h>
                                  </div> 
                                </div>
                            </button>
                        </h2>
                        <div id="flush-collapse<%= safety_inspection.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample<%= safety_inspection.id %>">
                            <div class="accordion-body">
                                <% if @safety_inspection_items.present? %>
                                    <table class="table table-hover">
                                        <thead> 
                                            <tr>
                                                <th scope="col">Situación o Condición</th>
                                                <th scope="col">Cumplimiento</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @safety_inspection_items.where("safety_inspection_id = ?", safety_inspection.id).each do |safety_inspection_item| %>
                                                    <tr>
                                                        <td><%= safety_inspection_item.situation_condition.name %></td>
                                                        <td style="width:300px;">
                                                            <%= form_with model: safety_inspection_item do |form| %> 
                                                               <%= form.radio_button :state_compliance, 0, :onClick=>"javascript: this.form.submit.click();" %>
                                                                <label for="noaplica">N/A</label></br>   
                                                                <%= form.radio_button :state_compliance, 1, :onClick=>"javascript: this.form.submit.click();" %>
                                                                <label for="si">SI</label></br>
                                                                <%= form.radio_button :state_compliance, 2, :onClick=>"javascript: this.form.submit.click();" %>
                                                                <label for="no">NO</label></br>
                                                                <%= form.radio_button :state_compliance, 3, :onClick=>"javascript: this.form.submit.click();" %>
                                                                <label for="parcial">PARCIAL</label>&nbsp;
                                                                <div class="actions" style="display:none;">
                                                                    <%= form.submit "", :name => "submit", :remote => "true" %>
                                                                </div>  
                                                            <% end %>                                    
                                                        </td>
                                                        <td>
                                                            <div class="d-grid gap-2 col-1 mx-auto">
                                                                <%= link_to t('common.edit'), edit_safety_inspection_item_path(safety_inspection_item), class: 'btn btn-sm btn-primary'  %>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                   
                                            <% end %>     
                                        </tbody>      
                                    </table>
                                <% end %>     
                            </div>
                        </div>
                  </div>
                </div>
                <br>
            </div> 
        <% end %>  
    <br>
<% else %>
    <div>
        <%= link_to t('common.create_safety_inspection'), new_safety_inspection_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>
    </div>
<% end %>
