<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<html>
    <body>
        <div class="container col-11 card p-5"> 
            <div><br></div>
            <div><br></div>
            <div><br></div>
            <div><br></div>

            <div style="text-align:center;text-transform:uppercase;font-size: 16px;">
                <h2><%= @entity.business_name if @entity.present? %></h2>
            </div>

            <div><br></div>
            <div><br></div>

            <div style="text-align:center;font-size: 16px;">
                <h2>Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h2>
            </div>

            <div><br></div>
            <div><br></div>
            <div style="text-align:center;font-size: 16px;">
                <h2>Lugar de la inspeccion: <%= @safety_inspection.place_inspection if @safety_inspection.present? %></h2>
            </div>
            <div><br></div>
            <div style="text-align:center;font-size: 16px;">
                <h2>Área de la inspeccion: <%= @safety_inspection.area_inspection if @safety_inspection.present? %></h2>
            </div>

            <div><br></div>
            <div><br></div>
            <div style="text-align:center;font-size: 16px;">
                <%= @safety_inspection.date_inspection if @evidence.present? %>
            </div>
            <div><br></div>

            <p style='page-break-after:always;'></p>

            <div style="text-align:center;font-size: 16px;">
                <strong>INTRODUCCIÓN</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify;font-size: 16px;">
                        <p>Las inspecciones de seguridad deben entenderse como un proceso administrativo que tiene como finalidad, la identificación o localización, análisis y control de situaciones o condiciones subestándar, que encierran la posibilidad de generar alteraciones a la dinámica normal de la organización, bien sea porque acarreen paros de procesos, deterioro de bienes materiales, enfermedades laborales, daños al medio ambiente o accidentes de trabajo.</p>
                        <p>Las inspecciones se efectúan con el propósito de elaborar diagnósticos iniciales, para efectuar seguimiento y control a programas preventivos.</p>
                        <p>Para garantizar un impacto positivo de las inspecciones dentro de los programas de prevención, se hace indispensable que sea concebida bajo un enfoque administrativo integral que cuente con sus fases de planeación, organización, dirección, ejecución y retroalimentación o control, con el fin de identificar sistemáticamente los peligros o factores de riesgo que surgen cuando cambian las personas, los equipos, los materiales y el medio ambiente en general.</p>
                    </td>
                </tr>
            </table> 
            <div><br></div>    
            <div style="font-size: 16px;">
                <strong>OBJETIVO</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify;font-size: 16px;">
                        <p>Identificar las condiciones peligrosas del ambiente laboral, con el fin de brindar y controlar situaciones que puede afectar la salud de los trabajadores. </p>
                    </td>
                </tr>
            </table> 
            <div><br></div>    
            <div style="font-size: 16px;">
                <strong>OBJETIVOS ESPECÍFICOS</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify;font-size: 16px;">
                        <p>
                            <ul>
                                <li>Observar las áreas de trabajo, para identificar condiciones o actos inseguros de los trabajadores que pueden causar accidentes de trabajo y enfermedades laborales.</li>
                                <li>Establecer y priorizar las acciones correctivas encontradas para brindar soluciones inmediatas.</li>
                                <li>Realizar seguimiento a las áreas de trabajo.</li>
                                <li>Revisar las acciones y los ajustes que se implementen.</li>
                            </ul>
                        </p>
                    </td>
                </tr>
            </table> 
            <div><br></div>    
            <div style="font-size: 16px;">
                <strong>NORMATIVIDAD LEGAL</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify;font-size: 16px;">
                        <p>
                            <ul>
                                <li>Ley 9 de 1979 Normas para preservar, conservar, y mejorar la salud de los trabajadores</li>
                                <li>
                                    <strong>Artículo once: </strong> Identificar los agentes de riesgos físicos, químicos, biológicos, psicosociales, ergonómicos, mecánicos, eléctricos, locativos y otros agentes contaminantes, mediante inspecciones periódicas a las áreas, frentes de trabajo y equipos en general. </br>
                                    <strong>Artículo catorce. </strong> El programa de Salud Ocupacional deberá mantener actualizados los registros de: Resultados de inspecciones periódicas internas de salud ocupacional. </br>
                                </li>
                            </ul>
                        </p>
                        <p>Decreto 1072 de 2015 del Ministerio del Trabajo, que establece en el Capítulo 6 los lineamientos para el Sistema de Gestión de la Seguridad y Salud en el Trabajo, y define los aspectos para la Documentación de acuerdo con el numeral 2.2.4.6.12. Y otra legislación en seguridad y salud en el trabajo aplicable.</p>
                        <p>Norma Técnica Colombiana NTC 4114 Realización de inspecciones planeadas.</p>
                        <p>Guía Técnica Colombiana 45, Guía para la Identificación de los peligros y la valoración de los riesgos en seguridad y salud en el trabajo. </p>
                    </td>
                </tr>
            </table> 
            <div><br></div>    
            <div style="font-size: 16px;">
                <strong>METODOLOGÍA</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="font-size: 16px;">
                        <p>Se realizó la inspección de puestos de trabajo y condiciones locativas en general de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> en su sede ubicada en <strong><%= @evidence.entity.entity_address if @evidence.present? %></strong>, en donde se tiene un total de <strong><%= @evidence.number_officials if @evidence.present? %></strong> empleados.</p>
                        <p>Se recurre a la observación directa y toma de datos para determinar los factores de carga de trabajo que pueden estar provocando efectos tanto para los colaboradores como para la empresa (cuando estos son inadecuados). Estos efectos pueden ser leves hasta críticos y pueden afectar la salud del trabajador ocasionándole fatiga y con el tiempo, de no intervenirse y controlarse, pueden generar enfermedades laborales, lo cual se verá reflejado en el nivel de productividad del Consultorio.</p>
                    </td>
                </tr>
            </table> 
            <div><br></div>
            <div style="font-size: 16px;">
                <strong>DEFINICIONES</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify;font-size: 16px;">
                        <p>
                            <ul>
                                <li><strong>CONDICIÓN SUBESTÁNDAR: </strong>Situaciones que se presentan en el lugar de trabajo y que se caracterizan por la presencia de riesgos no controlados que pueden generar accidentes de trabajo o enfermedades profesionales.</li></br>
                                <li><strong>INSPECCIÓN DE SEGURIDAD: </strong>Proceso administrativo que tiene como finalidad, la identificación o localización, análisis y control de situaciones o condiciones subestándar, que encierran la posibilidad de generar alteraciones a la dinámica normal de la Organización, bien sea porque deriven en paros de procedimientos y/o tareas, deterioro de bienes materiales, enfermedades ocupacionales, daños al medio ambiente o accidentes de trabajo.</li></br>
                                <li><strong>LAS INSPECCIONES OCASIONALES O INFORMALES: </strong>Se realizan a medida que la gente realiza sus actividades regulares. Se caracterizan por: no son periódicas, pueden realizarse sin una guía o una lista de verificación, la responsabilidad de su ejecución puede recaer en cualquier nivel, no requiere de un informe.</li></br>
                                <li><strong>INSPECCIONES GENERALES PLANEADAS O FORMALES: </strong>Es un paseo o caminata planificada a través de un área, un vistazo completo a todo y a cualquier cosa, en busca de exposiciones a pérdidas o riesgos. Se caracteriza por: Su realización está programada en un cronograma de actividades, su frecuencia obedece a una programación, requiere de una lista de verificación, se asigna la responsabilidad de su ejecución, se requiere conocer las políticas de seguridad de la compañía, la conclusión de la inspección corresponde al informe del recorrido.</li></br>
                                <li><strong>INSPECCIONES ESPECIALES DE PARTES, EQUIPOS Y ÁREAS CRÍTICAS: </strong>Incluidas en las inspecciones planeadas, se centran en los componentes de las maquinarias, los equipos, los materiales, las estructuras o áreas, con la probabilidad de dar por resultado un problema grave o una pérdida, cuando se gasten, se dañen, se maltraten, se utilicen mal o se apliquen estos en forma inadecuada. Se establecen acciones más exhaustivas y los reportes pueden ser de carácter legal.</li></br>
                                <li><strong>PELIGRO: </strong>Contingencia inminente de que sucede algo malo o potencial.</li></br>
                                <li><strong>AMBIENTE: </strong>Los factores de carga que componen el ambiente físico son ambiente térmico, ruido, iluminación y vibraciones. El criterio de evaluación está definido como lo experimenta, a nivel de percepciones el trabajador y el analista. Por lo general se debe crear un entorno en cuyas condiciones ambientales correspondan a términos de confort para la elaboración de la tarea. </li></br>
                                <li><strong>CARGA FÍSICA DE TRABAJO: </strong>Es el conjunto de requerimientos físicos a los que se ve sometida una persona en la realización de una tarea. Estos se consideran factor de riesgo cuando las capacidades del individuo son superadas. Se definen como requerimiento de postura, movimiento y fuerza. </li></br>
                                <li><strong>CARGA MENTAL: </strong>Su evaluación se centra únicamente en el nivel de exigencia de la tarea. Los criterios que se utilizan son válidos para trabajo no calificados o poca calificados y representan los elementos que pueden ser desfavorables en la actividad mental. La carga mental es evaluada a partir de indicadores de complejidad, rapidez, atención y minuciosidad.</li></br>
                                <li><strong>ORGANIZACIÓN DEL TRABAJO: </strong>Para diagnosticar los efectos que tienen en el trabajador la organización del trabajo, es necesario conocer la duración de la jornada de trabajo, el tipo de horario, el número de pausas en la jornada, si realiza horas extras y el ritmo de trabajo; ya que estos aspectos contribuyen a la fatiga del trabajador.</li></br>
                                <li><strong>CONDICIONES DEL PUESTO DE TRABAJO: </strong>Para determinar los efectos en la salud del trabajador, es necesario conocer las fuentes generadoras de los riesgos por carga física. Estas fuentes están relacionadas con las condiciones de los elementos de trabajo que determinan el confort postural teniendo en cuenta espacios, altura alcances y herramientas los cuales contribuyen a la aparición de fatiga en el trabajador.</li></br>
                            </ul>
                        </p>
                    </td>
                </tr>
            </table> 
            <div style="text-align:center;font-size: 16px;">
                <strong>DATOS DE LA COMPAÑÍA</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>RAZÓN SOCIAL:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @entity.business_name if @entity.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>NIT:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>DIRECCIÓN:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @entity.entity_address if @entity.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>TELÉFONO:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @entity.phone_number_entity if @entity.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>CIUDAD/DEPARTAMENTO:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @administrative_political_division.municipality_name if @administrative_political_division.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>REPRESENTANTE LEGAL:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @entity.first_name_legal_representative + ' ' +  @entity.second_name_legal_representative + ' ' + @entity.surname_legal_representative + ' ' + @entity.second_surname_legal_representative if @entity.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>CENTROS DE TRABAJO DONDE SE REALIZÓ:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @safety_inspection.place_inspection if @safety_inspection.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>RESPONSABLE DEL SG-SST:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @resposable_sst.name if @resposable_sst.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>PAGO:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= Entity.label_pay(@entity.pay_entity) if @entity.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>ACTIVIDAD ECONÓMICA:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @economic_activity.economic_activity_description if @economic_activity.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>ARL:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%= @arl.name if @arl.present? %>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black;width: 30%;background-color: #00aae4;font-size: 16px;">
                        <strong>CLASE DE RIESGO ASIGNADO POR LA ARL:</strong>
                    </td>
                    <td style="border:1px solid black;width: 70%;font-size: 16px;">
                        <%=  @claseriesgo.name if @claseriesgo.present? %>
                    </td>
                </tr>
            </table> 
            <div><br></div>
            <div><br></div>
            <div style="text-align:center;font-size: 16px;">
                <strong>HALLAZGOS Y RECOMENDACIONES</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify">
                        <p>Los resultados obtenidos de acuerdo con las condiciones encontradas en el día <strong><%= @safety_inspection.date_inspection.day if @safety_inspection.date_inspection.present? %></strong> del mes de <strong><%= localize @safety_inspection.date_inspection, format: "%B" if @safety_inspection.date_inspection.present? %></strong> del año <strong><%= @safety_inspection.date_inspection.year if @safety_inspection.date_inspection.present? %></strong>, son las siguientes:</p>
                    </td>
                </tr>
            </table> 
            <div><br></div>    
    
            <div>
                <% if @hallazgos.present? %>
                    <% @hallazgos.each do |hallazgo| %>
                        <div style="text-align:justify;font-size: 16px;">
                            <strong><%= hallazgo.situation_condition.type_condition_inspection.name %></strong></br>
                            <%= hallazgo.situation_condition.name %>
                        </div>
                        <% if hallazgo.observation.present? %>    
                            <div style="text-align:justify;font-size: 16px;">
                                <strong>Hallazgos</strong>
                            </div> 
                            <div style="text-align:justify;font-size: 16px;">
                                * <%= hallazgo.observation %>
                            </div> 
                        <% end %>
                        <div><br></div>    
                        <% if hallazgo.recommendations.present? %>    
                            <div style="font-size: 16px;">
                                <strong>Recomendaciones</strong>
                            </div> 
                            <div style="text-align:justify;font-size: 16px;">
                                <%= hallazgo.recommendations if hallazgo.recommendations.present? %>      
                            </div>    
                        <% end %>
                        <div><br></div>    
                        <% if hallazgo.inspection_evidences.attached? %>
                                <div style="text-align:justify;font-size: 16px;">
                                    <strong>Registro fotográfico</strong>
                                </div> 
                                <div data-controller="previews" >
                                    <% hallazgo.inspection_evidences.each do |file|%>
                                        <br>
                                        <% if file.image? %>
                                            <div>
                                                <%= image_tag Evaluation.wicked_blob_path(file), data: {previews_target: "preview"},:width => "200",  :height=>"200" %>
                                            </div>
                                        <% elsif file.video? %>
                                            <%= video_tag url_for(file), controls: "", width: "400px" %>          
                                        <% elsif file.audio? %>
                                            <%= audio_tag(url_for(file), controls: "") %>          
                                        <% else %>
                                            <%= link_to file.filename, url_for(file) %>          
                                        <% end %>
                                    <% end %>  
                                </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div> 
            <div><br></div>    
            <div>
            <div style="text-align:center;font-size: 16px;">
                <strong>PROPUESTAS GENERALES DE INTERVENCIÓN</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify;font-size: 16px;">
                        <p>Las propuestas de intervención están orientadas a brindar recomendaciones sobre las condiciones de seguridad que se deben tener en relación con todos los aspectos por mejorar, observados en el recorrido de inspección. Adicional a la propuesta emitida en cada uno de los hallazgos, se dan recomendaciones generales para tener en cuenta con la finalidad de mejorar espacios de trabajo y propiciar la ejecución de tareas de manera segura.</p>
                    </td>
                </tr>
            </table> 
            <div><br></div>   
            </div> 
            <div><br></div>
            <div style="text-align:center;font-size: 16px;">
                <strong>SEGUIMIENTO A LA GESTIÓN</strong>
            </div> 
            <div><br></div>
            <table> 
                <tr>
                    <td style="text-align:justify;font-size: 16px;">
                        <p>* El seguimiento pretende verificar la ejecución de acciones correctivas y recomendaciones dadas en la Inspección realizada.</p>
                        <p>* El éxito de un esquema de inspecciones en la empresa depende en gran parte de la colaboración y apoyo de la alta dirección de la empresa.</p>
                        <p>* Es importante asegurarse de que las medidas correctivas a las situaciones encontradas se cumplan en el tiempo fijado para tal fin, buscando de esta manera la efectividad de dichas inspecciones.</p>
                        <p>* Los aspectos mencionados en el presente informe se garantizan bajo las condiciones encontradas el día <strong><%= @safety_inspection.date_inspection.day if @safety_inspection.date_inspection.present? %></strong> del mes de <strong><%= localize @safety_inspection.date_inspection, format: "%B" if @safety_inspection.date_inspection.present? %></strong> del año <strong><%= @safety_inspection.date_inspection.year if @safety_inspection.date_inspection.present? %></strong>.</p>
                        <p>* La responsabilidad de las decisiones que se tomen con base en este informe, radica únicamente en la alta dirección de la empresa.</p>
                    </td>
                </tr>
            </table> 
            <div><br></div>   
            <div><br></div>   
            <div><br></div>    
            <div><br></div>
            <div><br></div>
            <div><br></div>
        </div>
    </body>
</html>            