
<p>
    Estimado(a) Señor(a): <%= @username %>,
</p>

<p>
  Se solicita comedidamente su asistencia a la siguiente reunión:
  <%= @reunion %> </br> 
  Fecha: <%= @nombredia %>, <%= @dia %> de <%= @nombremes %> de <%= @año %></br>
  Hora: <%= @hora.strftime("%I:%M %p") %></br>
  Lugar: <%= @lugar %></br>
  Observaciones: <%= @observaciones %></br>
</p>

<p>
    Saludos cordiales,
</p>
<p>
    <%= @convocanombre %></br>
    <%= @convocacargo %></br>
</p>
