<p>
    Estimado(a) Señor(a): <%= @username %>,
</p>

<p>
  Se solicita comedidamente la realización de la siguiente evaluación:
  <strong><%= @reunion %></strong> </br> 
</p>
<p>  
  <strong>Fecha de inicio:</strong> <%= @fecha_inicio %></br>
  <strong>Fecha final:</strong> <%= @fecha_final %></br>
  <strong>Observaciones:</strong> <%= @observaciones %></br>
</p>

<p>
    Saludos cordiales,
</p>
<p>
    <strong><%= @convocanombre %></br></strong>
    <%= @convocacargo %></br>
</p>
