
<p>
    Estimado(a) Señor(a): <%= @username %>,
</p>

<p>
  Se solicita comedidamente su asistencia a la siguiente reunión:
  <strong><%= @reunion %></strong> </br> 
</p>
<p>  
  <strong>Fecha:</strong> <%= @nombredia %>, <%= @dia %> de <%= @nombremes %> de <%= @año %></br>
  <strong>Hora:</strong> <%= @hora.strftime("%I:%M %p") %></br>
  <strong>Lugar:</strong> <%= @lugar %></br>
  <strong>Observaciones:</strong> <%= @observaciones %></br>
</p>

<p>
    Saludos cordiales,
</p>
<p>
    <strong><%= @convocanombre %></br></strong>
    <%= @convocacargo %></br>
</p>
