<div class="container col-12 card p-5">
    <br> 
    <%= form_with model: @mock_script do |form| %>
        <% @mock_script.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>FECHA: </strong>
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.date_field :date_script,  class: "form-control" %> 
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>HORA: </strong>
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.time_field :time_script,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>REALIZAR UN SIMULACRO DE EVACUACIÓN POR:</strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.text_field :space_for,  class: "form-control" %>              
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>TIPO DE EMERGENCIA: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.text_field :type_emergency,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>NOMBRE DEL COORDINADOR: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.text_field :name_coordinator,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>NOMBRE LÍDER BRIGADA: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.text_field :name_brigade,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>NOMBRE LÍDER EVACUACIÓN: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.text_field :name_evacuation,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>APOYO EXTERNO: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.text_field :external_soport,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO COMITÉ DE EMERGENCIAS: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :officer_committee,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO COORDINACIÓN GENERAL DEL SIMULACRO: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :coordinator_drill,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO ACTIVACIÓN DE ALERTA Y ALARMA: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :alert_activation,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO EVACUACIÓN GENERAL Y CONTEO DE PERSONAS: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :evacuation_count,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO EVACUACIÓN PRIMER PISO: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :evacuation_first,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO EVACUACIÓN SEGUNDO PISO: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :evacuation_second,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO RETIRO DE BOTIQUÍN: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :withdraw_kit,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO RETIRO DE CAMILLA: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :withdraw_stretcher,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO RETIRO DE EXTINTOR: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :withdraw_extinguisher,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO VERIFICACIÓN DEL ESTADO ESTRUCTURAL DE LAS INSTALACIONES: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :verification,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ENCARGADO INDICACIÓN DE RETORNO A SUS LUGARES DE TRABAJO: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :return_indication,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>RUTAS DE EVACUACIÓN: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :routes_evacuation,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>SALIDAS DE EMERGENCIA: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :emergency_exit,  class: "form-control" %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>RECURSOS DE EMERGENCIA: </strong>               
                </td>
                <td style="width: 70%;border:1px solid black;">
                     <%= form.rich_text_area :emergency_resources,  class: "form-control" %>               
                </td>
            </tr>
        </table>   
      </br> 
        <%= form.hidden_field :user_asesor, :value => @user_asesor.id.to_i, class: "form-control" if @user_asesor.present? %>
        <%= form.hidden_field :user_representante, :value => @user_representante.id.to_i, class: "form-control" if @user_representante.present? %>
        <%= form.hidden_field :entity_id, :value => @entity.id, class: "form-control" if @entity.present? %>
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>

 