<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
    <%= render 'encabezado' %>
    <div></br></div>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:center;">
                    <strong>SIMULACRO DE EVACUACIÓN POR SISMO </strong></br>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>1. OBJETIVO</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>Realizar un simulacro de evacuación por <strong><%= @mock_script.space_for  if @mock_script.present? %></strong> en las instalaciones de <strong><%= @entity.business_name if @entity.present? %></strong>, con el propósito de preparar y sensibilizar al personal sobre cómo actuar ante una emergencia, asignar roles y responsabilidades específicas, y garantizar que tanto colaboradores como usuarios conozcan las rutas de evacuación y el punto de encuentro establecido por la empresa.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>2. ALCANCE</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>El presente guion aplica a todas las áreas, dependencias y personal de <strong><%= @entity.business_name if @entity.present? %></strong>. Incluye empleados, visitantes, contratistas y proveedores presentes durante el desarrollo del simulacro.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>3. TIPO DE SIMULACRO</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>El  <%= @mock_script.date_script.day if @mock_script.date_script.present? %> de <%= I18n.l(@mock_script.date_script, format: '%B') if @mock_script.date_script.present? %> de <%= @mock_script.date_script.strftime("%Y") if @mock_script.date_script.present? %> a las <%= @mock_script.time_script.strftime("%T %p") if @mock_script.time_script.present? %>, se presenta <strong><%= @mock_script.type_emergency  if @mock_script.present? %></strong> en las instalaciones de <strong><%= @entity.business_name if @entity.present? %></strong>, por lo cual los empleados se alertan por los posibles riesgos, se toma la decisión de activar la brigada de emergencia y el sistema de alarma y continuamente se le informa al <strong><%= @user_representante.name if @user_representante.present? %></strong>, gerente de la empresa.</p>
                    <p><strong>Alerta: </strong>Sonará la sirena 2 veces de manera intermitente, indicando señal de preparación ante una emergencia.</p>
                    <p><strong>Alarma: </strong>Sonará la sirena continuamente durante 10 segundos, indicando señal de evacuación total por emergencia.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>RESPONSABILIDADES</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>ALTA DIRECCIÓN</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>* Asignar los recursos necesarios (tiempo, personal, materiales y presupuesto) para la preparación y ejecución del simulacro.</p>
                    <p>* Autorizar la interrupción temporal de actividades para llevar a cabo el ejercicio.</p>
                    <p>* Aprobar los objetivos, alcance, cronograma y metodología del simulacro.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>COORDINADOR GENERAL: <%= @mock_script.name_coordinator if @mock_script.present? %></strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>* Dirigir y supervisar todas las fases del ejercicio, autoriza el inicio y cierre del simulacro.</p>
                    <p>* Coordina con el líder de la brigada la activación de la alerta y alarma.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>LÍDER DE LA BRIGADA: <%= @mock_script.name_brigade if @mock_script.present? %></strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>* Activar alerta.</p>
                    <p>* Activar la brigada de emergencias.</p>
                    <p>* Activar alarma.</p>
                    <p>* Dar orden de evacuación una vez se indique el fin de la simulación.</p>
                    <p>* Reportar novedades, incidentes o dificultades al Coordinador General del Simulacro.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>LÍDER DE EVACUACIÓN: <%= @mock_script.name_evacuation if @mock_script.present? %></strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>* Verificar y garantizar que las rutas de evacuación y salidas de emergencia se mantengan despejadas.</p>
                    <p>* Coordinar la salida del personal hasta el punto de encuentro de manera ordenada.</p>
                    <p>* Verificar que todas las personas evacúen y recorrer todas las áreas para confirmar que no queden ocupantes dentro de la empresa.</p>
                    <p>* Realizar conteo total de personas en el punto de encuentro.</p>
                    <p>* Reportar novedades, incidentes o dificultades al Coordinador General del Simulacro.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>BRIGADISTAS</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>* Apoyar la evacuación.</p>
                    <p>* Brindar primeros auxilios en caso de personas lesionadas o afectadas.</p>
                    <p>* Orientar al personal por las rutas seguras.</p>
                    <p>* Verificar que todas las personas evacuen las instalaciones.</p>
                    <p>* Apoyar en punto de encuentro: orden y conteo de personas.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>PERSONAL PARTICIPANTE</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p>* Seguir las instrucciones de los líderes del simulacro.</p>
                    <p>* Conservar la calma.</p>
                    <p>* Dirigirse al punto de encuentro.</p>
                    <p>* No ingresar a las instalaciones de la empresa hasta recibir indicación del coordinador general del simulacro.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>Apoyo externo: <%= @mock_script.external_soport if @mock_script.present? %></strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <p><strong>Riesgos asociados y/o consecuencias:</strong></p>
                    <p>* Pánico generalizado en el personal.</p>
                    <p>* Posibles lesionados en el proceso de evacuación.</p>
                    <p>* Pánico entre los vecinos caídas en el desplazamiento.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>Aspectos para tener en cuenta:</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <p>* El ejercicio se cancelará si llega a presentarse una emergencia real que no pueda ser controlada por el personal que conforma la brigada.</p>
                    <p>* Informar a los vecinos sobre la realización del simulacro para no generar pánico.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>4. FASES DEL SIMULACRO</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p><strong>Fase 1: preparación previa: </strong></p>
                    <p>* Socialización del guion del simulacro.</p>
                    <p>* Verificación de recursos de emergencia (botiquines, extintores, señalización, alarma).</p>
                    <p>* Asignación de roles y responsabilidades.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p><strong>Fase 2: ejecución del simulacro: </strong></p>
                    <p>* Activar señal de alerta y alarma.</p>
                    <p>* Se coordina evacuación hacia el punto de encuentro.</p>
                    <p>* Se retiran recursos de emergencia (botiquín, camilla, extintores).</p>
                    <p>* Verificación del estado estructural de las instalaciones.</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;text-align:justify;">
                    <p><strong>Fase 3: recuperación y evaluación: </strong></p>
                    <p>* Conteo de personas en punto de encuentro.</p>
                    <p>* Se da por finalizado el simulacro.</p>
                    <p>* Se da indicación de retorno a sus lugares de trabajo.</p>
                    <p>* Se realiza reunión de cierre con brigada, responsable SST, observador y asesor externo, para identificación de aciertos y oportunidades de mejora.</p>
                    <p>* Socializar resultados con todo el personal de la empresa.</p>
                </td>
            </tr>
        </table>
        <div></br></div>
        <table style="width: 100%;">        
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>ROLES Y FUNCIONES DE LOS BRIGADISTAS </strong>                
                </td>
            </tr>
        </table>    
        <table style="width: 100%;">        
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;background-color:#00aae4;">
                    <strong>FUNCIÓN</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;background-color:#00aae4;">
                    <strong>ENCARGADO</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Comité de emergencias  </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.officer_committee  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Coordinación general del simulacro </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.coordinator_drill  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Activación de alerta y alarma </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.alert_activation  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Evacuación general y conteo de personas</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.evacuation_count  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Evacuación primer piso</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.evacuation_first  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Evacuación segundo piso</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.evacuation_second  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Retiro de botiquín</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.withdraw_kit  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Retiro de camilla</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.withdraw_stretcher  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Retiro de extintor</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.withdraw_extinguisher  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Verificación del estado estructural de las instalaciones</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.verification  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>Indicación de retorno a sus lugares de trabajo</strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @mock_script.return_indication  if @mock_script.present? %>
                </td>
            </tr>
        </table>
        <div></br></div>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>5. RUTAS DE EVACUACIÓN</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <p>Se utilizarán las rutas establecidas para tal fin descritas a continuación:</p>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <%= @mock_script.routes_evacuation  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>6. SALIDAS DE EMERGENCIA</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <%= @mock_script.emergency_exit  if @mock_script.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <strong>7. RECURSOS DE EMERGENCIA</strong>
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:0px solid black;padding: 5px;">
                    <%= @mock_script.emergency_resources  if @mock_script.present? %>
                </td>
            </tr>
        </table>
        <div></br></div>
        <div></br></div>
    <table style="width: 100%;"> 
        <tr> 
            <td style="border: 0px solid black;width: 100%;">
                <% if @mock_script.firm_user_asesor == 1 %>
                    <% if @user_asesor.firm.attached? %>
                        <% if @user_asesor.firm.image? %> 
                            <div  style="padding: 0;height: 70px;display: flex;align-items: flex-end;"><%= image_tag @user_asesor.firm, class: "firmapdf" %></div>
                        <% end %>
                    <% else %> 
                        <div style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>    
                    <% end %>
                <% else %> 
                    <div style="padding: 0;height: 70px;display: flex;align-items: flex-end;"></div>    
                <% end %>     
                <p>________________________________</p>   
                <div><strong><h5><%= @user_asesor.name if @user_asesor.present? %></h5></strong></div>
                <div><strong><h5>Asesor SG-SST</h5></strong></div>
                <div><strong><h5><%= @user_asesor.document.abbreviation if @user_asesor.present? %>: <%= Firm.miles(@user_asesor.nro_document) if @user_asesor.present? %></h5></strong></div>
                <div><strong><h5>Licencia: <%= @user_asesor.license if @user_asesor.present? %></h5></strong></div>
            </td>  
        </tr>        
    </table> 
</div>    
<div></br></div>
<div></br></div>