<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h6>ACTA DE NOMBRAMIENTO Y ACEPTACIÓN COMO RESPONSABLE DEL SISTEMA GESTIÓN DE SEGURIDAD Y SALUD EN EL TRABAJO</h6>
            </div>
        </div>
    </div>
    <table> 
        <tr>
            <td style="text-align:justify">
                El señor  <strong><%= @representante_legal.name if @representante_legal.present? %></strong> representante legal de:  <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> con  NIT:  <strong><%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong> designó como Responsable del Sistema De Gestión De Seguridad  Y  Salud  En  El  Trabajo al señor(a):  <strong><%= @responsable_ssst.name if @responsable_ssst.present? %></strong>, identificado(a) con documento de identidad N°: <strong><%= EvaluationRuleDetail.miles(@responsable_ssst.nro_document) if @responsable_ssst.present? %></strong> dando  cumplimiento  al Decreto 1072 del 2015 en su Título 4 capítulo 6,  la  Resolución 2013  del  6  de  junio  de  1986,    al  artículo  63  del  Decreto  Ley  1295  del  22  de  junio  de 1994,  Ley  1562  de  2012 y  a  las  exigencias  de  la  División  de  Seguridad  y  Salud  en  el Trabajo, del Ministerio de Trabajo, así como lo dispuesto en el Sistema de Gestión de Seguridad y Salud en el Trabajo de la empresa  <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>. Colocando a su disposición los medios necesarios y suficientes que requiera para ello. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                La responsabilidad consistirá en revisar, vigilar y controlar el cumplimiento en todo el ciclo PHVA del Sistema de Gestión De Seguridad y Salud en el Trabajo.
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Como aceptación del nombramiento, se firma esta acta en el Municipio de <strong><%= AdministrativePoliticalDivision.find(@evidence.entity.entity_location_code).municipality_name if @evidence.present? %></strong> a los <strong><%= @evidence.date.day if @evidence.date.present? %></strong> días del mes de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> del año <strong><%= @evidence.date.year if @evidence.date.present? %></strong>. 
            </td>
        </tr>
    </table>

    <%= render 'firmarepresentante' %>

    <table> 
        <tr>
            <td style="text-align:justify">
                De manera libre y voluntaria acepto ser el Responsable del Sistema de Gestión de Seguridad Y Salud en el Trabajo de la empresa <%= @evidence.entity.business_name if @evidence.present? %>, por lo tanto, dejo constancia de mi voluntad mediante la firma en el presente documento y anexo como es reglamentario la constancia del curso de 50 horas del SG-SST.
            </td>
        </tr>
    </table>
    <br>
    <%= render 'firmanorepresentante' %>
</div>
