<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<div> 
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h6><strong>IDENTIFICACIÓN DE TRABAJADORES DE ALTO RIESGO</strong></h6>
            </div>
        </div>
    </div>
    <table> 
        <tr>
            <td style="text-align:justify">
                De conformidad con el artículo 2 del Decreto 2090 de 2003 asigna un régimen especial de pensión de trabajadores de alto riesgo a quienes se dediquen de forma permanente a las siguientes actividades: <br>
            </td>
        </tr>
    </table> 
    <div>
        <br>
    </div>
    <ol>
        <table> 
            <tr>
                <td style="text-align:justify">
                    <p><strong><li></strong>Trabajos en minería que impliquen prestar el servicio en socavones o en subterráneos. </li></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><strong><li></strong>Trabajos que impliquen la exposición a altas temperaturas, por encima de los valores límites permisibles, determinados por las normas técnicas de salud ocupacional. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><strong><li></strong>Trabajos con exposición a radiaciones ionizantes. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><strong><li></strong>Trabajos con exposición a sustancias comprobadamente cancerígenas. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><strong><li></strong>En la Unidad Administrativa Especial de Aeronáutica Civil o la entidad que haga sus veces, la actividad de los técnicos aeronáuticos con funciones de controladores de tránsito aéreo, con licencia expedida o reconocida por la Oficina de Registro de la Unidad Administrativa Especial de Aeronáutica Civil, de conformidad con las normas vigentes. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><strong><li></strong>En los Cuerpos de Bomberos, la actividad relacionada con la función específica de actuar en operaciones de extinción de incendios. </li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><strong><li></strong>En el Instituto Nacional Penitenciario y Carcelario, INPEC, la actividad del personal dedicado a la custodia y vigilancia de los internos en los centros de reclusión carcelaria, durante el tiempo en el que ejecuten dicha labor. Así mismo, el personal que labore en las actividades antes señaladas en otros establecimientos carcelarios, con excepción de aquellos administrados por la fuerza pública. </li>
                </td>
            </tr>
        </table>
    </ol>
    <div>
        <br>
    </div>
    <table> 
        <tr>
            <td style="text-align:justify">
                De acuerdo a lo anterior la empresa <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> identificada con Nit <strong><%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong> realiza un análisis de riesgos, teniendo como resultado: <br>
            </td>
        </tr>
    </table> 
    <div>
        <br>
    </div>
    <table>
        <tr>    
            <td rowspan="2" style="border:1px solid black; width: 25%; text-align:center">
                <h6>ACTIVIDAD</h6>                
            </td>
            <td rowspan="2" style="border:1px solid black; width: 25%; text-align:center">
                <h6>REPORTE A LA ARL DE QUE REALIZA DICHA ACTIVIDAD</h6>                
            </td>
            <td rowspan="2" style="border:1px solid black; width: 25%; text-align:center">
                <h6>EMPLEADOS QUE DESARROLLAN LA ACTIVIDAD</h6>                
            </td>
            <td colspan="2" style="border:1px solid black; width: 25%; text-align:center">
                <h6>COTIZA LOS 10 PUNTOS ADICIONALES</h6>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 12%; text-align:center">
                <h6>SI</h6>                
            </td>
            <td style="border:1px solid black; width: 13%; text-align:center">
                <h6>NO</h6>                
            </td>
        </tr>
        <% if @participants.present? %>
            <% @participants.each do |participant| %>
                <tr>
                    <td style="border:1px solid black; width: 25%">
                        <h6><%= participant.reported_activity %></h6>                
                    </td>
                    <% if participant.arl_activity_report == 0 %>
                        <td style="border:1px solid black; width: 25%; text-align:center">
                            <h6>NO</h6>                
                        </td>
                    <% else %>
                        <td style="border:1px solid black; width: 25%; text-align:center">
                            <h6>SI</h6>                
                        </td>
                    <% end %>
                    <td style="border:1px solid black; width: 25%; text-align:center">
                        <h6><%= participant.employees_activity %></h6>                
                    </td>
                    <% if participant.quote_10_aditional_points == 0 %>
                        <td style="border:1px solid black; width: 12%; text-align:center">
                            <h6></h6>                
                        </td>
                        <td style="border:1px solid black; width: 13%; text-align:center">
                            <h6>X</h6>                
                        </td>
                    <% else %>
                        <td style="border:1px solid black; width: 12%; text-align:center">
                            <h6>X</h6>                
                        </td>
                        <td style="border:1px solid black; width: 13%; text-align:center">
                            <h6></h6>                
                        </td>
                    <% end %>
                </tr>    
            <% end %>
        <% end %>
    </table>

    <div>&nbsp;</div>
    <div>Cordialmente,</div>

    <%= render 'firmarepresentante' %>
    
</div>
