<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
                <h2>INFORME DE RENDICIÓN DE CUENTAS ASESOR EXTERNO SGSST</h2>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2>REALIZADO POR:</h2>
    </div>
    <div><br></div>
    <div class="row text-center"> 

    <div class="row text-center">
        <h2><%= @asesor_externo_ssst.name if @asesor_externo_ssst.present? %></h2>
    </div>


    </div>

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h2><%= @evidence.place if @evidence.present? %></h2>
    </div>
    <div class="row text-center">
        <h2><%= @evidence.year_initial if @evidence.present? %></h2>
    </div>


    <p style='page-break-after:always;'></p>


    <table> 
        <tr>
            <td style="text-align:center">
                <h5><strong>Introducción</strong></h5>
            </td>
        </tr>

        <tr>
            <td style="text-align:justify">
                <p>La rendición de cuentas del Sistema de Gestión de Seguridad y Salud en el Trabajo es una obligación consignada en el numeral 3 del artículo 2.2.4.6.8 del Decreto Único Reglamentario 1072 de 2015 consistente en:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><i>"Rendición de cuentas al interior de la Empresa: A quienes se les hayan delegado responsabilidades en el Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG SST), tienen la obligación de rendir cuentas internamente en relación con su desempeño. Esta rendición de cuentas se podrá hacer a través de medios escritos, electrónicos, verbales o los que sean considerados por los responsables. La rendición se hará como mínimo anualmente y deberá quedar documentada”.</i></p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>En tal sentido, el informe de rendición de cuentas del Sistema de Gestión de Seguridad y Salud en el Trabajo es el documento mediante el cual la organización deja constancia de las actividades realizadas por cada uno de los colaboradores o personal al que se le hayan delegado funciones y responsabilidades en el SG-SST.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <table> 
        <tr>
            <td style="text-align:center">
                <h5><strong>Objetivo</strong></h5>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Dar a conocer al personal y a la alta gerencia el informe de gestión de los avances en el Sistema de Seguridad y Salud en el Trabajo durante el año <strong><%= @evidence.year_initial if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <table> 
        <tr>
            <td style="text-align:center">
                <h5><strong>Alcance</strong></h5>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Mediante este informe se busca medir el cumplimiento del SG-SST en todos los niveles de la organización, para que el proceso se ejecute y se cumpla con los objetivos cuya finalidad son la detección temprana de riesgos, mitigación de estos, prevención de incidentes, accidentes y enfermedades de origen laboral y garantizar un ambiente de trabajo seguro.</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <table> 
        <tr>
            <td style="text-align:center">
                <h5><strong>ACTIVIDADES</strong></h5>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <h5><strong>PLAN DE TRABAJO DE SG-SST <%= @evidence.year_initial if @evidence.present? %></strong></h5>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>El plan de trabajo del Sistema de Gestión de Seguridad y Salud en el Trabajo <strong><%= @evidence.year_initial if @evidence.present? %></strong> se realizó conforme a los requisitos legales aplicables en materia de SST, las necesidades de la organización y sus colaboradores, los resultados de la evaluación inicial al SG-SST establecida en el Artículo 2.2.4.6.16 del Decreto 1072 de 2015, orientado en proteger la seguridad y salud de los colaboradores, y sensibilizar en el autocuidado.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>De dicho Plan se cumplió con:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               <div class="trix-content"> <p><%= @evidence.compliances if @evidence.present? %></p></div>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <table> 
        <tr>
            <td>
                <strong>Evidencias Fotográficas: </strong>
                <hr>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <br>
                <% if @evidence.evi_files.attached? %>
                    <div data-controller="previews" >
                        <% @evidence.evi_files.each do |file|%>
                            <br>
                            <% if file.image? %>
                                <div>
                                    <%= image_tag file, data: {previews_target: "preview"},  height: "300", width: "auto" %>
                                    <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' if Current.user.level > 0 && Current.user.level < 3 %> 
                                </div> 
                            <% elsif file.video? %>
                                <%= video_tag url_for(file), controls: "", width: "400px" %>          
                                <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' if Current.user.level > 0 && Current.user.level < 3 %> 
                            <% elsif file.audio? %>
                                <%= audio_tag(url_for(file), controls: "") %>          
                                <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' if Current.user.level > 0 && Current.user.level < 3 %> 
                            <% else %>
                                <%= link_to file.filename, url_for(file) %>          
                                <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' if Current.user.level > 0 && Current.user.level < 3 %> 
                            <% end %>
                        <% end %>  
                    </div>
                <% end %> 
            </td>
        </tr>
    </table> 
    <div><br></div> 

    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
