<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div style="text-align:center;">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div style="text-align:center;">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
            </td>
        </tr>
    <table>     
    <div><br></div>

    <div><br></div>
    <div style="text-align:center;">
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div style="text-align:center">
        <strong>INTRODUCCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El sistema óptico es uno de los más complejos que posee el ser humano y es utilizado con mayor intensidad que otros sentidos y en diferentes ocupaciones demanda de mayor esfuerzo, como es el caso del personal que trabaja constantemente en frente de un computador. El uso inadecuado de las nuevas tecnologías y un estilo de vida que no se preocupa por cuidar el sentido de la vista durante la actividad laboral, están causando síntomas de fatiga ocular en los operadores de computadores con pantallas; fundamentalmente, un entorno que puede estar mal conformado en todos los aspectos ergonómicos, genera un problema de estrés visual, cuyos síntomas son dolores de cabeza, visión borrosa transitoria e incomodidad en la visión.</p>
                <p>A fin de identificar aspectos que pueden influir de manera negativa en la salud visual de los trabajadores se formula el presente Programa de Vigilancia Epidemiológica para Conservación Visual, con el cual se pretende mejorar el rendimiento del sentido de la visión y hacer que disminuyan los problemas de cansancio ocular, mediante la aplicación de actividades que pueden ayudar a reducir y controlar las enfermedades degenerativas de la visión, evitando causar dificultades en la actividad laboral, aumento en el ausentismo y la probabilidad de sufrir accidentes.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>1. OBJETIVOS</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>1.1 OBJETIVO GENERAL</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Contribuir a la prevención y detección temprana de riesgos y problemas de agudeza visual que puedan afectar a los colaboradores, fomentando actitudes encaminadas a la conservación de la visión.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>1.2 OBJETIVOS ESPECÍFICOS</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Identificar factores de riesgo y desarrollar medidas de prevención en la detección de enfermedades visuales.</li>
                        <li>Controlar los factores que puedan causar la aparición temprana de los problemas de visión en el personal expuesto.</li>
                        <li>Desarrollar actividades de promoción, motivación y capacitación al personal que se encuentre relacionado en el programa de vigilancia.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El programa de vigilancia epidemiológica para la conservación visual, dará cobertura a todos los trabajadores que estén expuestos a condiciones que aumenten el riesgo de sufrir enfermedades degenerativas.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>3. DEFINICIONES</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Astigmatismo: </strong>es una visión distorsionada, que se provoca por una variación en el poder de refracción, debido a irregularidades en la forma de la córnea o del cristalino.</p>
                <p><strong>Hipermetropía: </strong>en este defecto de la refracción, los rayos paralelos de luz se enfocan en un punto situado por detrás de la retina. El resultado es una visión indistinta en todas las distancias.</p>
                <p><strong>Iluminación deficiente: </strong>se refiere a cantidad deficiente de la luz que cae en un objeto o superficie desde el ambiente y de las fuentes de luz artificial, en diferentes áreas de trabajo y oficinas, pudiendo ocasionar fatiga o cansancio visual.</p>
                <p><strong>Miopía: </strong>os rayos paralelos de luz se enfocan adelante o al frente de la retina. El resultado es la dificultad para distinguir objetos con claridad a distancia.</p>
                <p><strong>Molestias o "cansancio visual": </strong>e relaciona con más de 23 síntomas y signos oculares, los más frecuentes son el ojo rojo, el lagrimeo, el ardor y el dolor ocular, la visión borrosa transitoria, la fotofobia y el nistagmos.</p>
                <p><strong>Presbicia: </strong>con el aumento de la edad se presenta un endurecimiento gradual de la sustancia del cristalino, disminuyéndose el poder efectivo de acomodación, dando como resultado dificultad para enfocar objetos cercanos y para la lectura de tipo fino.</p>
                <p><strong>Radiaciones ionizantes: </strong>tipo de energía liberada por los átomos en forma de ondas electromagnéticas (rayos gamma o rayos X) o partículas (partículas alfa y beta o neutrones). La desintegración espontánea de los átomos se denomina radiactividad, y la energía excedente emitida es una forma de radiación ionizante.</p>
                <p><strong>Radiación lumínica: </strong>radiación visible que aparece como imagen en las pantallas de computador; también se refiere a las radiaciones de luz provenientes de superficies brillantes, superficies reflectivas, vidrios en mesas de trabajo, paneles de vidrio, ventanas, tableros, etc. Pueden producir deslumbramiento y fatiga o cansancio visual.</p>
                <p><strong>Radiaciones ultravioletas: </strong>las radiaciones ultravioletas (UV) son radiaciones electromagnéticas con longitudes de onda entre 100 y 400nm. En cantidades pequeñas son beneficiosas para la salud y desempeñan una función esencial en la producción de vitamina D. Sin embargo, la exposición excesiva a ellas se relaciona con diferentes tipos de cáncer cutáneo, quemaduras de sol, envejecimiento acelerado de la piel, cataratas y otras enfermedades oculares. También se ha comprobado que estas radiaciones aminoran la eficacia del sistema inmunitario.</p>
                <p><strong>Ventilación artificial: </strong>en oficinas, recintos cerrados, puede dar lugar a resequedad de la córnea y conjuntiva, aumento de la evaporación lagrimal.</p>
                <p><strong>Vibración: </strong>durante la exposición a las vibraciones de baja frecuencia y pequeña amplitud se puede producir una reducción de la agudeza visual, a elevadas frecuencias y grandes amplitudes la visión se imposibilita porque se pierde el sinergismo de la musculatura extra ocular, pudiendo producirse como consecuencia alteraciones en las condiciones de seguridad del trabajador y accidentes.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>4. CONTENIDO DEL PROGRAMA DE VIGILANCIA EPIDEMIOLÓGICA PARA CONSERVACIÓN VISUAL</strong>
    </div> 
    <div><br></div>   
    <div>
        <strong>DESCRIPCIÓN DEL RIESGO:</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Temperaturas extremas: </strong>por el calentamiento ambiental se produce un incremento en la evaporación de la pupila lacrimal, con la consiguiente resequedad de la córnea y conjuntiva, lo cual conlleva síntomas como: fotofobia, ardor ocular, sensación de cuerpo extraño, aumento en la frecuencia del parpadeo y fatiga visual.</p>
                <p><strong>Disminución de la humedad relativa del ambiente: </strong>el acondicionamiento del aire por medios artificiales produce una disminución de la humedad relativa del medio, lo cual a su vez ocasiona resequedad de córnea y conjuntiva, con los síntomas anteriormente descritos. Estos factores de riesgo son coadyuvantes en la producción y desarrollo de pterigios.</p>
                <p><strong>Radiaciones ultravioletas: </strong>son las que mayor energía fotónica poseen. Los ácidos nucleicos y proteínas de los tejidos vivos las absorben bien, generando cambios en la configuración electrónica de la molécula, no obstante modificaciones en los enlaces químicos pueden producir verdadera destrucción molecular. Son fuentes de radiaciones ultravioleta la luz solar directa o reflejada (arena, superficies reflectivas), la soldadura eléctrica, las lámparas de fototerapia o de luz negra. El grado de lesión depende del total de la energía absorbida y del tiempo exposición.</p>
                <p>Mecánicos: corresponde a los objetos cortantes o contundentes y cuerpos extraños que pueden lesionar los ojos. Los cuerpos extraños pueden ser de diferente tipo:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><strong>Metálicos: </strong>Son los más peligrosos. Pueden desencadenar gran reacción inflamatoria.</li>
                        <li><strong>Orgánicos: </strong>También pueden desencadenar gran reacción inflamatoria durante el período de descomposición del material, con severo riesgo de infección, sobre todo por hongos.</li>
                        <li><strong>Inertes: </strong>como las piedras y el vidrio, son los que menos reacción inflamatoria causan, cuando su extracción es riesgosa es preferible dejarlos dentro del globo ocular.</li>
                        <li><strong>Químicos: </strong>polvos, gases y humos. Los contaminantes ambientales por sus propiedades químicas actúan como irritantes, en la córnea y la conjuntiva, causando queratoconjuntivitis irritativa crónica, con síntomas que dificultan el desempeño laboral sobre todo en oficios con demanda de esfuerzo visual.</li>
                        <li>Iluminación deficiente: cuando la iluminación es deficiente se disminuye la capacidad de discriminación de los puntos de contraste, lo cual aumenta considerablemente los requerimientos de acomodación y produce fatiga visual por esfuerzo.</li>
                        <li><strong>Relaciones inadecuadas de brillo: </strong>la habilidad para percibir detalles depende de la diferencia de brillo entre el detalle y el fondo. La función de los ojos es más eficiente cuando el brillo de las otras áreas de visión es relativamente uniforme.</li>
                        <li><strong>Tipo de iluminación: </strong>puede ser de tipo natural y artificial; la luz natural produce un menor cansancio visual y una apreciación de los colores en su valor exacto, aunque por el hecho de ser variable requiere que sea complementada con luz artificial. La determinación de los sistemas de Iluminación, es quizá uno de los aspectos que está más ligado a la arquitectura industrial, siendo por esto uno de los factores más difíciles modificables o adaptables.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>5. ETAPAS DEL PROGRAMA</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El programa de vigilancia epidemiológica para la conservación visual se desarrollará a partir del ciclo PHVA, de la siguiente manera:</p>
                <p><strong>PLANEAR: </strong></p>
                <p>Los instrumentos de recolección de datos para la elaboración del programa de vigilancia epidemiológica para la conservación visual, son los siguientes</p>
                <p>
                    <ul>
                        <li>Informe Diagnóstico de salud.</li>
                        <li>Identificación de peligros, valoración de riesgos y establecimiento de controles (Matriz de peligros-riesgos laborales).</li>
                        <li>Ausentismo.</li>
                        <li>Estadísticas de accidentalidad</li>
                        <li>Auto reporte de condiciones de trabajo y salud.</li>
                        <li>Programa de capacitación anual.</li>
                        <li>Plan de Trabajo anual.</li>
                    </ul>
                </p>
                <p><strong>HACER: </strong></p>
                <p>
                    <ul>
                        <li>Aprobación de la Alta Dirección del Plan de trabajo anual, el cual incluye actividades de promoción, prevención y capacitación relacionados con el cuidado de la visión.</li>
                        <li>Ejecución de las actividades establecidas del Plan de trabajo anual.</li>
                    </ul>
                </p>
                <p><strong>VERIFICAR: </strong></p>
                <p>
                    <ul>
                        <li>Realizar seguimiento al cumplimiento del plan de trabajo anual del Sistema de Gestión de Seguridad y Salud en el Trabajo y específicamente a las actividades relacionadas con el programa de vigilancia epidemiológica para conservación visual.</li>
                    </ul>
                </p>
                <p><strong>ACTUAR: </strong></p>
                <p>
                    <ul>
                        <li>Acciones preventivas y correctivas al Plan de Trabajo Anual en pro de la mejora continua, según el caso.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>6. ACTIVIDADES</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las actividades a realizar en el Programa de Vigilancia Epidemiológica para Conservación Visual, son las siguientes:</p>
                <p>
                    <ul>
                        <li>Dentro de los exámenes médicos ocupacionales periódicos se identificarán los colaboradores que puedan tener algún tipo de alteración visual o síntomas asociados, con el objetivo de determinar a quienes se remitirá a evaluación visual por parte de su EPS.</li>
                        <li>Mediciones ambientales de iluminación: se realizarán en las áreas o puestos de trabajo que presenten problemas de iluminación, siendo identificados estos hallazgos mediante inspecciones o referencias de los colaboradores de la empresa.</li>
                        <li>Mantenimiento preventivo y correctivo de luminarias.</li>
                        <li>Capacitación y/o divulgación de información que tenga por objeto la promoción de la salud y la prevención de las enfermedades visuales.</li>
                        <li>Pausas activas visuales: son ejercicios realizados para que los ojos descansen de estar mirando siempre a una pantalla, y de este modo, prevenir una pérdida prematura de la capacidad visual o tener los ojos irritados, que por lo general se manifiestan por fatiga visual. Estas pausas se socializarán de manera periódica mediante correo electrónico.</li>
                        <li>Intervención secundaria: las patologías oculares de gravedad deberán ser evaluadas por el médico de la EPS del trabajador, para determinar su tratamiento y/o manejo.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>7. REGISTRO DE LAS ACTIVIDADES DEL PROGRAMA</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los registros que relacionados con el presente programa son los siguientes:</p>
                <p>
                    <ul>
                        <li>Certificado de Exámenes Médicos Laborales (documento de origen externo)</li>
                        <li>Informe de diagnóstico de condiciones de salud anual (documento de origen externo).</li>
                        <li>Registro de capacitaciones o evidencias de socialización de información (correos electrónicos).</li>
                        <li>Formato inspecciones de seguridad</li>
                        <li>Mediciones de iluminación (si las hay).</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>8. INDICADOR DE CUMPLIMIENTO</strong>
    </div> 
    <div><br></div>       
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>NOMBRE DEL INDICADOR</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>DEFINICIÓN</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>CÓMO SE MIDE</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>FRECUENCIA</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Cumplimiento de Plan de Trabajo (actividades relacionadas)</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Porcentaje de cumplimiento de las actividades planeadas para la vigencia</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>N° actividades ejecutadas / N° actividades programadas*100</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Anual</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Profesional de la Dirección de Gestión Corporativa</div> 
            </td>
        </tr>
    </table>
    <div><br></div>   
    <div>
        <strong>9. REFERENCIAS</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los registros que relacionados con el presente programa son los siguientes:</p>
                <p>
                    <ul>
                        <li>Ministerio de la Protección Social. (2011). Guía técnica para el análisis de exposición a factores de riesgo ocupacional. Bogotá.</li>
                        <li>Ministerio del Trabajo. (2013). Informe Ejecutivo II Encuesta Nacional de Condiciones de Seguridad y Salud en el Trabajo en el Sistema General de Riesgos Laborales.</li>
                        <li>Revista de Ciencias Médicas de Pinar del Río - Versión On-line ISSN 1561-3194- Artículo de actualidad en las ciencias sociales, humanidades y pedagógicas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>