<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div style="text-align:center;">
                <%= @evidence.entity.business_name if @evidence.present? %>
    </div>

    <div><br></div>
    <div><br></div>

    <div style="text-align:center;">
        Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %>
    </div>

    <div><br></div>
    <div><br></div>

    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
            </td>
        </tr>
    <table>     
    <div><br></div>

    <div><br></div>
    <div style="text-align:center;">
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <table>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>RAZÓN SOCIAL:</strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= @evidence.entity.business_name if @evidence.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>NIT:</strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>DIRECCIÓN:</strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= @evidence.entity.entity_address if @evidence.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>TELÉFONO:</strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= @evidence.entity.phone_number_entity if @evidence.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>REPRESENTANTE LEGAL:</strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= @representante_legal.name if @representante_legal.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>RESPONSABLE DEL SG-SST:</strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= @responsablesst.name if @responsablesst.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>CLASE DE RIESGO:</strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= @evidence.entity.risk_classification if @evidence.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 40%">
                <strong>CÓDIGO ACTIVIDAD ECONÓMICA: </strong>                
            </td>
            <td style="border:0px solid black; width: 60%">
                <%= @evidence.entity.economic_activity if @evidence.present? %>                
            </td>
        </tr>
</table>
<div><br></div>

    <div style="text-align:justify">
        <strong>PRESCRIBE EL SIGUIENTE REGLAMENTO, CONTENIDO EN LOS SIGUIENTES TÉRMINOS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>ARTÍCULO 1°. <%= @evidence.entity.business_name if @evidence.present? %></strong>  Se compromete a dar cumplimiento a las disposiciones legales vigentes tendientes a garantizar los mecanismos que aseguren una adecuada y oportuna prevención de los accidentes de trabajo y enfermedades laborales de conformidad con el Código Sustantivo del Trabajo,  artículos 34, 57, 58, 108, 205, 206, 217, 220, 221, 282, 283, 348, 349 (modificado Ley 962/2005 art. 55, antitrámites) 350 y 351, Decreto 2351 de 1965, Ley 9 de 1979, Ley 100/1994, Ley  776/ 2002, Resolución 2400/1979, Decreto 614/1984,  Resolución 2013/1986,  Decreto  1295 /1994, Resolución 1075/1992, Ley 776/2002, Resolución 2346/2007, Resolución 2646/2008, Resolución 1409/2012, Ley 1562/2012, Decreto 1443/2014, Decreto 0427/2015 y demás normas que con tal fin se establezcan.</p>
                <p><strong>ARTÍCULO 2°. </strong> Se obliga a promover y garantizar la constitución y funcionamiento del Comité Paritario de Seguridad y Salud en el Trabajo o Vigía según lo establecido por el Decreto 614 de 1984, Resolución 2013 de 1986 y Decreto 1443 de 2014.</p>
                <p><strong>ARTÍCULO 3°. <%= @evidence.entity.business_name if @evidence.present? %> </strong> se compromete a destinar los recursos necesarios para desarrollar actividades permanentes, de conformidad con el Sistema de Gestión de Seguridad y Salud en el Trabajo, elaboradas de acuerdo con el Decreto 614 de 1984, la Ley 1562/2012 y el decreto 1072/2015 que dispone el SISTEMA DE GESTIÓN EN SEGURIDAD Y SALUD EN EL TRABAJO, el cual debe contemplar:</p>
                <p><strong>ARTÍCULO 4°. Sistema de Gestión de la Seguridad y Salud en el Trabajo. </strong> El Sistema de Gestión de la Seguridad y Salud en el Trabajo consiste en el desarrollo de un proceso lógico y por etapas, basado en la mejora continua y que incluye la política, la organización, la planificación, la aplicación, la evaluación, la auditoría y las acciones de mejora con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que puedan afectar la seguridad y la salud en el trabajo.</p>
                <p>El SG-SST debe ser liderado e implementado por el empleador o contratante, con la participación de los trabajadores y/o contratistas, garantizando a través de dicho sistema, la aplicación de las medidas de Seguridad y Salud en el Trabajo, el mejoramiento del comportamiento de los trabajadores, las condiciones y el medio ambiente laboral, y el control eficaz de los peligros y riesgos en el lugar de trabajo. </p>
                <p>Para el efecto, el empleador o contratante debe abordar la prevención de los accidentes y las enfermedades laborales y también la protección y promoción de la salud de los trabajadores y/o contratistas, a través de la implementación, mantenimiento y mejora continua de un sistema de gestión cuyos principios estén basados en el ciclo PHVA (Planificar, Hacer, Verificar y Actuar).</p>
                <p><strong>ARTÍCULO 5°. </strong> Los riesgos existentes en la organización están constituidos principalmente por.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <% @clasification_dangers.each do |clasification_danger| %>
            <table style="width: 100%;"> 
                <tr style="background-color: #00aae4;border:1px solid black;">
                    <td style="border:1px solid black;width: 100%;">
                        <%= clasification_danger.name %>
                    </td>
                </tr>
            </table> 
            <table style="width: 100%;"> 
                <% @clasification_danger_details.where("clasification_danger_id = ?",clasification_danger.id).each do |clasification_danger_detail| %>
                    <tr style="1px solid black;">
                        <td style="border:1px solid black;width: 100%;">
                            <%= clasification_danger_detail.name %>
                        </td>
                    </tr>
                <% end %>
            </table>    
        <% end %>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>PARAGRAFO: </strong> A efecto de que los riesgos contemplados en el presente artículo, no se traduzcan en accidentes de trabajo o enfermedades laborales, se ejerce control en la fuente, el medio transmisor y/o en el trabajador, de conformidad con lo estipulado en el Sistema de Gestión de Seguridad y Salud en el Trabajo, el cual se da a conocer a todos los trabajadores al servicio de ella.</p>
                <p><strong>ARTÍCULO 6°. <%= @evidence.entity.business_name if @evidence.present? %> </strong> y sus trabajadores darán estricto cumplimiento a las disposiciones legales, así como a las normas técnicas e internas que se adopten para lograr la   implantación de las actividades de Medicina Preventiva y del Trabajo, Higiene y Seguridad Industrial, que sean concordantes con el presente Reglamento y con el Sistema de Gestión de Seguridad y Salud en el Trabajo.</p>
                <p><strong>ARTÍCULO 7°. <%= @evidence.entity.business_name if @evidence.present? %> </strong> ha implantado un proceso de inducción del trabajador a las actividades que deba desempeñar, capacitándose respecto a las medidas de prevención y seguridad que exija el medio ambiente laboral y el trabajo específico que vaya a realizar.</p>
                <p><strong>ARTÍCULO 8°. </strong> Este Reglamento permanecerá exhibido en un lugar visible del local de trabajo, cuyo contenido se dará a conocer a todos los trabajadores en el momento de su ingreso.</p>
                <p><strong>ARTÍCULO 9°. </strong> El presente Reglamento entra en vigencia a partir de la elaboración y firma del Representante Legal (ley 962/2005, art. 55 supresión de la revisión y aprobación del reglamento de higiene, y seguridad por el ministerio del trabajo) y durante el tiempo que NOMBRE EMPRESA conserve, sin cambios sustanciales, las condiciones existentes en el momento de su aprobación, tales como actividad económica, métodos de producciones instalaciones locativas o cuando se dicten disposiciones gubernamentales que modifiquen las normas del Reglamento o que limiten  su vigencia.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div><br></div>   
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>