<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div><br></div>
    <div><br></div>
    <div>
        <strong>1. OBJETIVO</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>Establecer el procedimiento estándar de operación en caso de que se origine un Sismo en las instalaciones de la  empresa <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
    </div> 
    <div><br></div>
    <div>
        <strong>2. ALCANCE</strong>
        <p>Este procedimiento aplica para todo el personal de la empresa.</p>
    </div> 
    <div><br></div>
    <div>
        <strong>3. DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li><strong>Movimiento Sísmico: </strong>Se produce un sismo cuando los esfuerzos que afectan a cierto volumen de roca sobrepasan la resistencia de ésta, provocando una ruptura violenta y la liberación repentina de energía acumulada.</li>
                <li><strong>Magnitud de sismo: </strong>La Magnitud de un sismo es un fenómeno relacionado con la cantidad de energía liberada en el momento de su ocurrencia.</li>
                <li><strong>Escala Richter: </strong>La primera escala de magnitud fue definida por C.F. Richter en 1932. Actualmente, considerando los diferentes tipos de sismos, sus profundidades, etc., los sismólogos manejan varias escalas de magnitud.</li>
                <li><strong>Escala sismológica de Mercalli: </strong>Es una escala de doce grados desarrollada para evaluar la intensidad de los terremotos a través de los efectos y daños causados a distintas estructuras. Así, la intensidad de un terremoto no está totalmente determinada por su magnitud, sino que se basa en sus consecuencias, empíricamente observadas. Debe su nombre al físico italiano Giuseppe Mercalli.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>4. Herramientas y Equipos para utilizar</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Camilla.</li>
                <li>Linternas.</li>
                <li>Celular de Comunicación.</li>
                <li>Extintor tipo ABC o CO2.</li>
                <li>Botiquín de Primeros Auxilios.</li>
                <li>Sistema de alarma.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>5. Identificación de amenazas</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Daño a la salud de los empleados por caída de objetos y estructuras.</li>
                <li>Exposición a material particulado.</li>
                <li>Riesgos de incendios y explosión por daños en los sistemas eléctricos.</li>
                <li>Disminución de la resistencia de las estructuras por condiciones externas o internas, provocando la pérdida de estabilidad y posterior colapso.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>6. Funciones antes de un sismo (Prevención)</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Asegurar objetos que se puedan caer: estantería, cuadros, tableros, archivadores, etc.</li>
                <li>No ubicar objetos pesados en lugares altos.</li>
                <li>Realizar inspecciones al estado de las instalaciones de gas, agua y sistema eléctrico.</li>
                <li>Realizar mantenimiento adecuado de las instalaciones físicas de la empresa.</li>
                <li>Conocer los mecanismos para suspender el suministro de energía eléctrica, de agua, de gas.</li>
                <li>Identificar los sitios seguros dentro de la edificación y prepararse mentalmente para usarlos.</li>
                <li>Identificar posibles peligros en su puesto de trabajo en caso de un sismo.</li>
                <li>Identificar las salidas de emergencia, así como los teléfonos de servicios médicos y bomberos más cercanos.</li>
                <li>No obstaculizar las rutas de evacuación y las salidas de emergencia.</li>
                <li>Mantener cerradas las cortinas o persianas, evitando así la proyección de vidrios en caso de rompimiento.</li>
                <li>Realizar simulacros de evacuación para evaluar las medidas de auto-protección.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>7. Funciones y responsabilidades durante y después del Sismo</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Todo el personal </strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones durante la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Evitar salir corriendo, mantener la calma.</li>
                <li>Cuando el temblor es intenso (Terremoto) el ruido puede ser aterrador, sumado al sonido de objetos que se rompen al caer. Esto impresionara menos si se sabe que es lo que escuchara.</li>
                <li>Separarse de ventanales, cornisas y elementos inestables o colgantes.</li>
                <li>Bajo techo: ubíquese al lado de estructuras fuertes para proteger su cabeza y cuerpo de objetos que puedan caer, romperse o proyectarse.</li>
                <li>Recordar que los sistemas de cerradura de las puertas pueden trabarse por el movimiento sísmico.</li>
                <li>Si el sismo lo toma en un pasillo o en un balcón y no encuentra lugar ir a una esquina, ubicarse y protegerse.</li>
                <li>Retirarse de estufas, braseros, cafeteras radiadores o cualquier utensilio caliente.</li>
                <li>Espacios abiertos o en la vía pública: buscar una zona verde o parque donde no existan cables de conexión eléctrica de alta tensión o estructuras que puedan derrumbarse.</li>
                <li>En un carro: detenerlo inmediatamente, salga de este y ubíquese agachado en la parte lateral del vehículo (espacio entre las llantas delanteras y traseras de este).</li>
                <li>En un bus: la labor de desocuparlo tomará seguramente más tiempo de lo que demore el temblor. Es mejor permanecer adentro.</li>
                <li>En iglesias, estadios, teatros y cines: no precipitarse a buscar la salida, un fuerte llamado de atención pidiendo calma puede ayudar mucho.</li>
                <li>Cerca de ríos o quebradas: Alejarse de las orillas y buscar refugio en un sitio alto y de poca pendiente, porque puede haber deslizamientos de tierra, represamientos y avalanchas.</li>
                <li>Si está atrapado en los escombros dar golpecitos a un tubo o a una pared para que los socorristas puedan oír dónde se está ubicado. Utilizar una linterna, si es posible.</li>
                <li>Gritar sólo como último recurso. Gritar puede causar que inhale cantidades peligrosas de polvo.</li>
                <li>Cubrirse la nariz y la boca con cualquier cosa que tenga a mano.</li>
                <li>Evitar movimientos innecesarios para no levantar polvo.</li>
                <li>Arrastrarse por el piso si hay humo.</li>
                <li>No intentar actos heroicos.</li>
                <li>Esté atento a las instrucciones del personal de la Brigada de Emergencias, Coordinadores de Evacuación y los grupos de apoyo.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones después de la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Comprobar que no se está herido.</li>
                <li>No mover escombros y si requiere moverlos, ser muy cuidadoso; evitar al hacerlo, tumbar muros o columnas débiles, ya que pueden estar soportando estructuras, las cuales podrían caer ante cualquier roce o movimiento.</li>
                <li>Si hay heridos no moverlos a menos de que haya peligro inminente, reportar a los brigadistas.</li>
                <li>Si hay incendios reportar a los brigadistas.</li>
                <li>Estar pendiente de las alertas y alarmas.</li>
                <li>El comité de Emergencias evalúa y activa alarma de evacuación.</li>
                <li>Cuando se da la orden, evacuar inmediatamente utilizando la salida más próxima sin devolverse.</li>
                <li>Los coordinadores de evacuación orientan a las personas hasta el punto de encuentro.</li>
                <li>El personal debe atender las indicaciones de los grupos de Emergencias.</li>
                <li>Apagar equipos, maquinaria y sistemas antes de salir.</li>
                <li>No tratar de recuperar objetos personales o de hacer llamadas telefónicas.</li>
                <li>Tomar precaución con pisos y escaleras debilitados.</li>
                <li>Llevar con usted a los visitantes y compañeros de trabajo que más pueda.</li>
                <li>Ir al punto de encuentro establecido y espera instrucciones del coordinador de evacuación.</li>
                <li>Al estar en la calle, tener cuidado con la caída de escombros y cables eléctricos.</li>
                <li>Alejarse de las aceras o calles que puedan ser utilizadas por las autoridades de emergencia u otras personas que todavía salen del edificio o del área del terremoto.</li>
                <li>Informar al coordinador de evacuación sobre la ausencia de algún compañero.</li>
                <li>Los brigadistas evalúan si hay lesionados e inician la atención de lesionados en el sitio. Si se activó la evacuación y los lesionados pueden movilizarse, apoyan su evacuación hasta el punto de encuentro.  Si no pueden movilizarse y el brigadista está en riesgo, debe evacuar y notificar al comité de emergencias sobre los lesionados que quedan dentro de las instalaciones.</li>
                <li>El Comité de Emergencias activa la solicitud de apoyo externo y/o traslado asistencial.</li>
                <li>Si es necesario remitir a un hospital, el Comité de Emergencias obtiene la información y comunica a los familiares del trabajador lesionado.</li>
                <li>La brigada de emergencia con los grupos de apoyo revisa estado de vigas y columnas, riesgos de fugas de gas.</li>
                <li>Una vez esté controlada la situación, el Comité de Emergencias declara el cierre y realiza la evaluación de la situación solicitando la participación de las personas que considere pertinente.</li>
                <li>Se reinician actividades según consideraciones del Comité de Emergencias.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Comité de Emergencias </strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones durante la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Coordinar todos los actores del plan de emergencias.</li>
                <li>Analizar la magnitud de la emergencia, para saber si es necesario una evacuación parcial o total. En caso de que se requiera la evacuación, dar la orden de activación del sistema de alarma a través de los pulsadores.</li>
                <li>Mantener informado tanto a la Brigada de Emergencias como a los Coordinadores de Evacuación acerca de los hechos a través del canal número 1 de los radios.</li>
                <li>Suministrarle el apoyo y logística a la Brigada de Emergencia para asegurar el desarrollo de las actividades necesarias para la atención.</li>
                <li>Enlace de comunicación con personas y entidades externas de apoyo. Llamado o flujo de información por medio telefónico en emergencias.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones después de la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Orden de retorno a la normalidad según los informes o reportes previamente realizados por la Brigada de Emergencia.</li>
                <li>Evaluar si hay persistencia de riesgos con el apoyo de los actores del plan de emergencias.</li>
                <li>Participar en la investigación de causas que originaron la emergencia.</li>
                <li>Realizar el reporte de la emergencia ocurrida a partir del GH-for-76 Reporte y Análisis de Emergencias.</li>
                <li>Aprobación de reporte final y lecciones aprendidas</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Coordinadores de Evacuación </strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones durante la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Estar atentos al sonido de alerta.</li>
                <li>En caso de ser activado el sonido de alerta, pasar el radio al canal 1 y estar informando novedades y recibiendo informes por parte de la Brigada de Emergencia y/o el Comité de Emergencias.</li>
                <li>Colocarse el chaleco distintivo que permitirá el reconocimiento como Coordinador de Evacuación.</li>
                <li>Asegurar que todos los equipos electrónicos y maquinarias de los puestos de trabajo de su sección a cargo queden completamente apagados.</li>
                <li>Mantener una lista actualizada del personal del área y sus turnos.</li>
                <li>En caso de que se active el sistema de alarma, comenzar con la evacuación del personal de manera ordenada, siguiendo las indicaciones de la Brigada de Emergencia y ubicarlos en los puntos de encuentro.</li>
                <li>Verificar que todo el personal en turno haya evacuado y en caso tal de que falte alguien, notificar a la Brigada de Emergencias.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones después de la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Esperar la orden de retorno a la normalidad por parte del Comité de Emergencias.</li>
                <li>Facilitar personal para el reacondicionamiento del área afectada.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Brigada de Emergencias </strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones durante la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Atender al sonido de alerta y destinar una comisión para la verificación de la emergencia en el punto de encuentro de la Brigada de Emergencia.</li>
                <li>Dar aviso de cualquier novedad encontrada al resto de la Brigada de Emergencia y Salud Ocupacional.</li>
                <li>Protéjase usted y a los demás.</li>
                <li>Una vez detenido el movimiento sísmico, hacer inspección de las áreas críticas de la empresa, en busca de fallas estructurales, derrames o fugas de sustancias químicas.</li>
                <li>Verificar que no persista riesgo de caída tanto de estructuras como objetos, antes de ingresar a las áreas más afectadas.</li>
                <li>Identificar si hay heridos y desplazarse hacia el área para comenzar la atención de los mismos, realizar el control y el aseguramiento del área.</li>
                <li>Dar aviso de cualquier novedad encontrada al resto de la Brigada de emergencia y Salud Ocupacional.</li>
                <li>En caso de requerir apoyo externo delegar una persona para que notifique en portería o al Comité de Emergencias y ésta será la encargada de llamar a las entidades externas necesarias.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones después de la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Participar en las labores de reacondicionamiento de las áreas afectadas.</li>
                <li>Los escombros o residuos generados después de la emergencia, serán recogidos por la Brigada de Emergencia en compañía del personal designado por las diferentes secciones para desarrollar dicha labor y serán almacenados, recolectados y dispuestos según lo estipulado en el GI-ins-11 Control Operacional de Residuos Sólidos.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Personal de Seguridad Física </strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones durante la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Evitar el ingreso o salida de personal a la empresa cuando está ocurriendo la emergencia.</li>
                <li>Notificar a las entidades externas si es solicitado el servicio por parte del Comité de Emergencia y/o Brigada de Emergencia.</li>
                <li>Si se ordena la evacuación total de las instalaciones, garantizar la apertura de las salidas, y después de la evacuación garantizar la seguridad de las instalaciones.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div>
        <strong>Acciones después de la emergencia</strong>
    </div> 
    <div><br></div>
    <div style="text-align:justify">
        <p>
            <ul>
                <li>Una vez atendida la emergencia, esperar indicaciones por parte del Comité de Emergencias para retomar las actividades de portería, permitiendo el ingreso y salida de personal y vehículos.</li>
            </ul>
        </p>
    </div> 
    <div><br></div>
    <div><br></div>
    <div style="text-align:center">
        <%= image_tag 'diagrama1.png',:width => "auto",  :height=>"350" %>
        <%= image_tag 'diagrama2.png',:width => "auto",  :height=>"350" %>
    </div> 
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
