<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<div> 
    <div>
        <br>
    </div>


    <table>
        <tr>    
            <td style="border:0px solid black; width: 20%;">
                <h6>Fecha:</h6>                
            </td>
            <td style="border:0px solid black;">
                <h6><%= @evidence.date if @evidence.present? %></h6>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 20%;">
                <h6>Lugar:</h6>                
            </td>
            <td style="border:0px solid black;">
                <h6><%= @evidence.place if @evidence.present? %></h6>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 20%;">
                <h6>Objetivo:</h6>                
            </td>
            <td style="border:0px solid black;">
                <h6>Constituir el Comité Paritario de Seguridad y Salud en el Trabajo de la empresa  <strong><%= @evidence.entity.business_name if @evidence.present? %></strong></h6>                
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <div class="col-11">
        <div class="row">
            <h6><strong>ORDEN DEL DÍA</strong></h6>
        </div>
    </div>
    <table> 
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>1. </strong>Verificación de la Asistencia <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>2. </strong>Presentación de generalidades sobre la constitución y funcionamiento del Comité Paritario de Seguridad y Salud en el Trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>3. </strong>Presentación de los empleados postulados al Comité Paritario de Seguridad y Salud en el Trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>4. </strong>Designación de los representantes del empleador al Comité Paritario de Seguridad y Salud en el Trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>5. </strong>Designación del Presidente del Comité Paritario de Seguridad y Salud en el Trabajo por parte del Empleador. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>6. </strong>Designación del Secretario por parte del Comité Paritario de Seguridad y Salud en el Trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>7. </strong>Posesión del Comité Paritario de Seguridad y Salud en el Trabajo. <br>
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>   
    <div class="col-11">
        <div class="row">
            <h6><strong>DESARROLLO DE LA REUNIÓN</strong></h6>
        </div>
    </div>    
    <table> 
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>1. </strong>Asistieron <strong><%= @evidence.number_attendees if @evidence.present? %></strong>  funcionarios de los <strong><%= @evidence.number_officials if @evidence.present? %></strong> con que cuenta la empresa <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.<br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>2. </strong>Se presentan las generalidades sobre la constitución y funcionamiento del Comité Paritario de Seguridad y Salud en el Trabajo así: <br>
            </td>
        </tr>
        <tr><td><br></td></tr>  
        <tr>
            <td style="text-align:justify">
                <p><strong>&nbsp;&nbsp;2.1 </strong>El Comité Paritario de Seguridad y Salud en el Trabajo constituye un medio importante para promocionar la Salud laboral en todos los niveles de la institución, buscar acuerdos con los Directores o Jefes de Establecimiento y responsables del área de Seguridad y Salud en el Trabajo en función del logro de metas y objetivos concretos, divulgar y sustentar prácticas saludables y motivar la adquisición de hábitos seguros.</p> 
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Está conformado por igual número de representantes por parte del empleador  e igual número de representantes por parte de los funcionarios. El empleador  nombra sus representantes y los funcionarios eligen los suyos mediante votación libre. El Vigía de Seguridad y Salud en el Trabajo es elegido por el empleador, no requiere proceso de votación. El período de vigencia de los miembros del Comité es de 2 años, al cabo del cual podrán ser reelegidos. </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>El COPASST debe reunirse mínimo una vez al mes durante la jornada laboral, dentro de la institución y mantener un archivo de las actas de reunión. </p>
            </td>
        </tr>

        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;2.2. Son funciones del COPASST o Vigía de Seguridad y Salud en el Trabajo, de acuerdo con el artículo 11 de la Resolución 2013 de 1986 y el Artículo 26 del Decreto 614 de 1984, las siguientes:</strong> <br>
            </td>
        </tr>
        <tr><td><br></td></tr> 
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Ser garantes del cumplimiento del SG-SST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Apoyar el desarrollo de las actividades relacionadas con la salud y la seguridad de los trabajadores. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Participar en las investigaciones de los incidentes, accidentes y enfermedades laborales. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Realizar inspecciones periódicas a las instalaciones de la Institución y presentar los respectivos informes con recomendaciones. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Acoger las sugerencias que presenten los funcionarios en materia de seguridad y salud en el trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Desarrollar las actividades establecidas para el COPASST en la normatividad vigente. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td style="text-align:justify">
                <strong>  2.3. Funciones del Presidente del Comité:</strong> <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Presidir y orientar las reuniones en forma dinámica y eficaz. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Definir el objetivo de cada reunión así como la agenda de la misma. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Definir con los miembros del Comité las fechas, el sitio y hora de reunión del comité. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Hacer seguimiento a los compromisos establecidos en cada reunión. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Promover la participación activa de todos los miembros del comité y de los funcionarios y demás miembros de la institución. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Tramitar ante el Director o Jefe del Establecimiento las recomendaciones aprobadas en el  Comité y darle a conocer todas sus actividades. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Coordinar todo lo necesario para la buena marcha del comité e informar a los funcionarios de la institución acerca de las actividades del mismo. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>  2.4. Funciones del Secretario:</strong> <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Verificar la asistencia de los miembros del Comité a las reuniones programadas. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Tomar nota de los temas tratados para elaborar el acta de cada reunión y someterla a discusión y aprobación del comité. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Entregar por lo menos una semana después de cada reunión el acta de la misma a fin de que los miembros puedan desarrollar sus compromisos. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Coordinar los recursos necesarios (fotocopias, informes, ayudas audiovisuales, etc.) para el buen funcionamiento de la reunión. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Llevar el archivo referente a las actividades desarrolladas por el Comité. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>  
        <tr>
            <td style="text-align:justify">
                <strong>  2.5. Otros Integrantes del COPASST:</strong> <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Asistir puntualmente a las reuniones programadas. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Colaborar en las inspecciones según plan de trabajo del COPASST y entregar los informes antes de la reunión mensual del COPASST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Colaborar en la investigación de accidentes de trabajo y entregar informe antes de la reunión mensual del COPASST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>&nbsp;&nbsp;*</strong> Proponer temas de capacitación según resultados de las inspecciones e investigaciones de los accidentes. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>  
        <tr>
            <td style="text-align:justify">
                  3. Los funcionarios postulados al Comité Paritario de Seguridad y Salud en el Trabajo y si fuere necesario elegidos mediante votación, son los siguientes: <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>   
    
    <table>
        <tr>    
            <td style="border:1px solid black; width: 10%; text-align:center">
                <h6><strong>N°</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 45%; text-align:center">
                <h6><strong>GRADO</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 45%; text-align:center">
                <h6><strong>NOMBRE DE LOS POSTULADOS</strong></h6>                
            </td>
        </tr>
        <% if @participants.present? %>
            <% @contador = 0 %>
            <% @participants.each do |participant| %>
                <% if participant.designating_by_legal_representative == 0 %>
                    <% @contador += 1 %>
                    <tr>
                        <td style="border:1px solid black; width: 10%; text-align:center">
                            <h6><%= @contador %></h6>                
                        </td>
                        <td style="border:1px solid black; width: 45%">
                            <h6><%= participant.degree %></h6>                 
                        </td>
                        <td style="border:1px solid black; width: 45%">
                            <h6><%= participant.user.name %></h6>                
                        </td>
                    </tr>    
                <% end %>    
            <% end %>
        <% end %>
    </table>
    <div>&nbsp;</div>
    <table>
        <tr>
            <td style="text-align:justify">
                4.  El Representante legal de la empresa <%= @evidence.entity.business_name if @evidence.present? %> designó sus representantes al Comité Paritario, así:
                <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>
    <table>
        <tr>    
            <td style="border:1px solid black; width: 10%; text-align:center">
                <h6><strong>N°</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 45%; text-align:center">
                <h6><strong>GRADO</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 45%; text-align:center">
                <h6><strong>NOMBRE DE LOS POSTULADOS</strong></h6>                
            </td>
        </tr>
        <% if @participants.present? %>
            <% @contador = 0 %>
            <% @participants.each do |participant| %>
                <% if participant.designating_by_legal_representative == 1 %>
                    <% @contador += 1 %>
                    <tr>
                        <td style="border:1px solid black; width: 10%; text-align:center">
                            <h6><%= @contador %></h6>                
                        </td>
                        <td style="border:1px solid black; width: 45%">
                            <h6><%= participant.degree %></h6>                 
                        </td>
                        <td style="border:1px solid black; width: 45%">
                            <h6><%= participant.user.name %></h6>                
                        </td>
                    </tr>    
                <% end %>    
            <% end %>
        <% end %>
    </table>
    <div>&nbsp;</div>
    <table>
        <tr>
            <td style="text-align:justify">
                5.  El Representante legal de la empresa <%= @evidence.entity.business_name if @evidence.present? %> designó como Presidente del Comité Paritario de Seguridad y Salud en el Trabajo a: <strong><%= @presidente_comite.name if @presidente_comite.present? %></strong>
                <br>
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <table>
        <tr>
            <td style="text-align:justify">
                6.  El Comité Paritario de Seguridad y Salud en el Trabajo en pleno eligió como secretario a: <strong><%= @secretario_comite.name if @secretario_comite.present? %></strong>
                <br>
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <table>
        <tr>
            <td style="text-align:justify">
                7.  El Comité Paritario de Seguridad y Salud en el Trabajo en pleno eligió los funcionarios principales y suplentes así: <br>
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <table>
        <tr>    
            <td style="border:1px solid black; width: 60%; text-align:center">
                <h6><strong>NOMBRES Y APELLIDOS</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 40%; text-align:center">
                <h6><strong>CARGO COPASST</strong></h6>                
            </td>
        </tr>
        <% if @participants.present? %>
            <% @participants.each do |participant| %>
                <% unless participant.post_copasst.empty? %>
                    <tr>
                        <td style="border:1px solid black; width: 60%">
                            <h6><%= participant.user.name %></h6>                 
                        </td>
                        <td style="border:1px solid black; width: 40%">
                            <h6><%= participant.post_copasst %></h6>                
                        </td>
                    </tr>    
                <% end %>    
            <% end %>
        <% end %>
    </table>
    <div>&nbsp;</div>

    

    <div>Siendo las <%= @evidence.final_time.strftime("%I:%M %p") if @evidence.final_time.present? %>, se da por terminada la reunión, en constancia firman:</div>

    <%= render 'firmanorepresentante' %>
    <%= render 'firmarepresentante' %> 

</div>
<br>