<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    

    <table>
        <tr>    
            <td style="border:0px solid black; width: 100%">
                <strong>FECHA: </strong> <%= @evidence.date if @evidence.date.present? %>               
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 100%">
                <strong>NOMBRE DEL TRABAJADOR: </strong> <%= @usuario_inf.name if @usuario_inf.present? %> 
            </td>
        </tr>
    </table>
    <table>
        <tr>    
            <td style="border:0px solid black; width: 50%">
                <strong>CÉDULA: </strong> <%= @usuario_inf.nro_document if @usuario_inf.present? %>                
            </td>
            <td style="border:0px solid black; width: 50%">
                <strong>EDAD: </strong> <%= @evidence.age if @evidence.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 50%">
                <strong>EPS: </strong> <%= HealthPromoter.name_eps(@evidence.health_promoter_id) if @evidence.present?  %>                
            </td>
            <td style="border:0px solid black; width: 50%">
                <strong>PESO:  </strong> <%= @evidence.weight if @evidence.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 50%">
                <strong>CARGO: </strong> <%= CompanyPosition.name_cargo(@evidence.company_position_id) if @evidence.present?  %>                
            </td>
            <td style="border:0px solid black; width: 50%">
                <strong>FECHA DE NACIMIENTO:  </strong> <%= @usuario_inf.date_nacimiento if @usuario_inf.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 50%">
                <strong>SEDE: </strong> <%=  @evidence.sede if @evidence.present?  %>                
            </td>
            <td style="border:0px solid black; width: 50%">
                <strong>ÁREA:  </strong> <%= CompanyArea.name_area(@evidence.company_area_id) if @evidence.present? %>                
            </td>
        </tr>
        <tr>    
            <td style="border:0px solid black; width: 50%">
                <strong>TIPO DE VINCULACIÓN LABORAL: </strong> <%=  Profile.labelcontrato(@evidence.type_employment) if @evidence.present?  %>                
            </td>
            <td style="border:0px solid black; width: 50%">
                <strong>EN TRATAMIENTO MÉDICO:  </strong> <%= Evidence.tratamiento_medico(@evidence.medical_treatment) if @evidence.present? %>                
            </td>
        </tr>
    </table>
    <table>
        <tr>    
            <td style="border:0px solid black; width: 100%">
                <strong>NOMBRE DEL JEFE INMEDIATO:  </strong> <%= @evidence.boss_name if @evidence.date.present? %>               
            </td>
        </tr>
    </table>
    </br>
    <table> 
        <tr style="background-color: #00aae4;">
            <td style="width: 100%; border:1px solid black">
                <strong>Diagnóstico:</strong> 
            </td>
        </tr>    
        <tr>
            <td style="width: 100%; border:1px solid black">
                <%= @evidence.diagnosis if @evidence.date.present? %> 
            </td>
        </tr>    
        <tr style="background-color: #00aae4;">
            <td style="width: 100%; border:1px solid black">
                <strong>Tipo de tratamiento:</strong>  
            </td>
        </tr>    
        <tr>
            <td style="width: 100%; border:1px solid black">
                <%= @evidence.type_treatment if @evidence.date.present? %> 
            </td>
        </tr>    
        <tr style="background-color: #00aae4;">
            <td style="width: 100%; border:1px solid black">
                <strong>Funciones del cargo:</strong>   
            </td>
        </tr>    
        <tr>
            <td style="width: 100%; border:1px solid black">
                <%= @evidence.compliances if @evidence.date.present? %> 
            </td>
        </tr>    
        <tr style="background-color: #00aae4;">
            <td style="width: 100%; border:1px solid black">
                <strong>Estado y cumplimiento de las recomendaciones médico laborales:</strong>   
            </td>
        </tr>    
        <tr>
            <td style="width: 100%; border:1px solid black">
                <%= @evidence.status_compliance if @evidence.date.present? %> 
            </td>
        </tr>    
        <tr style="background-color: #00aae4;">
            <td style="width: 100%; border:1px solid black">
                <strong>Observaciones:</strong>    
            </td>
        </tr>    
        <tr>
            <td style="width: 100%; border:1px solid black">
                <%= @evidence.observations if @evidence.date.present? %> 
            </td>
        </tr>    
        <tr style="background-color: #00aae4;">
            <td style="width: 100%; border:1px solid black">
                <strong>Compromiso del colaborador:</strong>   
            </td>
        </tr>    
        <tr>
            <td style="width: 100%; border:1px solid black">
                <%= @evidence.collaborator_commitment if @evidence.date.present? %> 
            </td>
        </tr>    
        <tr style="background-color: #00aae4;">
            <td style="width: 100%; border:1px solid black">
                <strong>Compromiso de la empresa y áreas afines:</strong>    
            </td>
        </tr>    
        <tr>
            <td style="width: 100%; border:1px solid black">
                <%= @evidence.entity_commitment if @evidence.date.present? %> 
            </td>
        </tr>    
    </table>
    <table style="width: 100%;">
        <tr style="background-color: #00aae4;">    
            <td style="width: 100%;border:1px solid black;text-align:center">
                <strong>ASISTENTES</strong>
            </td>  
        </tr>
    </table>
    <table style="width: 100%;">
        <tr>    
            <td style="width: 50%;border:1px solid black;text-align:center">
                <strong>NOMBRE </strong>
            </td>  
            <td style="width: 25%;border:1px solid black;text-align:center">
                <strong>CARGO</strong>
            </td>  
            <td style="width: 25%;border:1px solid black;text-align:center">
                <strong>FIRMA</strong>
            </td>
        </tr>
    </table>
    <table style="width: 100%;">
            <% if  @firms.present? %>
                <%  @firms.each do |firm| %>
                    <tr>    
                        <td style="width: 50%;border:1px solid black;text-align:center">
                            <strong><%=  firm.user.name %></strong>
                        </td>  
                        <td style="width: 25%;border:1px solid black;text-align:center">
                            <strong><%=  firm.post %></strong>
                        </td>  
                        <td style="width: 25%;border:1px solid black;text-align:center">
                                <% if firm.authorize_firm == 1 %>
                                        <% if firm.user.firm.attached? %>
                                            <% if firm.user.firm.image? %> 
                                                <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag firm.user.firm, class: "firmapdf" %></div>
                                            <% end %>
                                        <% end %>
                                <% end %>
                        </td>
                      </tr>
                <% end %>          
            <% end %>
    </table>
    <div></br></div>
</div>