<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h6><strong>VIGÍA - PERIODO <%= @evidence.period if @evidence.present? %></strong></h6>
            </div>
        </div>
    </div>

    <table> 
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                En la empresa <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> adquirimos el compromiso de implementar un Sistema de Gestión de Seguridad y Salud en el Trabajo para todos los empleados de la organización. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify">
                El  <%= @evidence.date.day if @evidence.date.present? %> de <%= I18n.l(@evidence.date, format: '%B') if @evidence.date.present? %> de <%= @evidence.date.strftime("%Y") if @evidence.date.present? %> en las instalaciones de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> se reunió el Representante Legal y sus trabajadores para nombrar el Vigía Del Sistema De Gestión De Seguridad Y Salud En El Trabajo, dando cumplimiento a la Resolución 2013 de 1986 y al Decreto 1295 de 1994 en su artículo 63 y a las exigencias de la división de Seguridad y Salud en el Trabajo del Ministerio de Trabajo, así como lo dispuesto en el Sistema de Gestión de la Seguridad y salud en el Trabajo. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify">
                El período de nombramiento es de dos (2) años, el empleador debe contar con soportes de actuaciones mensuales del vigía en Seguridad y Salud en el Trabajo. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify">
                El Representante legal de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, nombra vigía de Seguridad y Salud en el trabajo a: <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify">
                * El Señor(a): <strong><%= @vigia.name if @vigia.present? %></strong>, mayor de edad e identificado(a) con la cédula de ciudadanía N° <strong><%= EvaluationRuleDetail.miles(@vigia.nro_document) if @vigia.present? %></strong>, quien ocupa el cargo de <%= CompanyPosition.name_cargo(@vigia.activity) if @vigia.present? %> ubicado en la sede de <%= @evidence.place if @evidence.place.present? %>. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify">
                Para su constancia se firma el día <%= @evidence.date.day if @evidence.date.present? %> de <%= I18n.l(@evidence.date, format: '%B') %> de <%= @evidence.date.strftime("%Y") if @evidence.date.present? %>. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

    </table>

    <br>

    <div>&nbsp;</div>
    <div class="row">
        <div class="col-11 text-justify">
            <p>De manera libre y voluntaria acepto ser el Vigía Del Sistema De Gestión De Seguridad Y Salud En El Trabajo en <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> por lo tanto dejo constancia de mi voluntad mediante la firma en el presente documento.</p> 
        </div>
    </div>

 
    <%= render 'firmanoelaboro' %>

</div>
<br>