<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>

    <div class="row text-center">
                <h4><%= @evidence.entity.business_name if @evidence.present? %></h4>
    </div>

    <div class="row text-center">
        <h4><%= @evidence.entity.identification_number if @evidence.present? %></h4>
    </div>

    <div class="row text-center">
        <%=  image_tag  'imgmv1.png', :width => "50px" %>
    </div>

    <div class="row text-center">
        <h4><%= @evidence.period if @evidence.present? %></h4>
    </div>

    
    <div class="row text-center">
        <strong>VIGÍA EN SEGURIDAD Y SALUD EN EL TRABAJO</strong>
    </div>
    <div><br></div>
    <div class="row">
        <strong>¿Qué es un vigía en seguridad y salud en el trabajo?</strong>
    </div>
    <div><br></div>
    <div class="row">
        <p class="text-justify">El vigía en seguridad y salud en el trabajo se encuentra reglamentado por el Decreto 1295 de 1994 y la Resolución 2013 de 1986. </p>
    </div>
    <div class="row">
        <p class="text-justify">El rol de Vigía en Seguridad y Salud en el Trabajo es un rol que existe en empresas de menos de 10 trabajadores y su finalidad es la de participar de las actividades de promoción, divulgación e información, sobre seguridad y salud en el trabajo entre empleadores y trabajadores, para obtener su participación activa en el desarrollo de los programas y actividades de la empresa.</p>
    </div> 




</div>