<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>&nbsp;</div>
    
    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h5><strong>ACTA DE APERTURA DE ELECCIONES DE LOS CANDIDATOS PARA EL
                COMITÉ DE CONVIVENCIA LABORAL</strong></h5>
            </div>
        </div>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
                Vigencia del Comité de: <%= @evidence.period if @evidence.present? %><br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify"> 
                En la ciudad de <strong><%= @evidence.place if @evidence.present? %></strong>, Siendo las  <strong><%= @evidence.initial_time.strftime("%I:%M %p") if @evidence.initial_time.present? %></strong> del día <strong><%= @evidence.date.day if @evidence.date.present? %></strong> de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> de <strong><%= @evidence.date.year if @evidence.date.present? %></strong>, se dio apertura al proceso de votación para la elección de los candidatos al <strong>Comité de Convivencia Laboral</strong>, de acuerdo con lo establecido en la Resolución 652 de 2012, modificada por la Resolución 1356 de 2012 emanados del Ministerio de Trabajo, para el Período comprendido entre el año <strong><%= @evidence.year_initial if @evidence.present? %></strong> al <strong><%= @evidence.year_final if @evidence.present? %></strong>.<br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                En calidad de Jurado de Votación se nombró a:<br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <ul>
                    <% @participants.each do |participant| %>
                        <div class="row"> 
                            <div class="col-11">
                                <li><strong><%= participant.user.name %></strong></li>
                            </div>
                        </div>
                    <% end %>
                </ul>
            </td>
        </tr>
    </table>

    <% if @firms.present? %> 
        <br>
        <div class="row"><br></div>
           <table>
                <% cont = 0 %>
                <% @firms.each do |firm| %>
                    <% cont = cont + 1 %>
                    <% if cont == 1 || cont == 3 || cont == 5 || cont ==7 || cont == 9 || cont == 11 || cont == 13  %>
                        <tr> 
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                        <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>
                                                    <div>&nbsp;</div>   
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div> 
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div> 
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div>   
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                        </div>    
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><strong><%= firm.user.name %></strong></h6>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><%= firm.post %></h6>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </td>  
                        <% else %>    
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                            <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>    
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div>   
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div> 
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                    </div>    
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><strong><%= firm.user.name %></strong></h6>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><%= firm.post %></h6>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </td>      
                            </tr>
                        <% end %>
            
                <% end %>
            </table>
        </div>
    <% end %>
</div>