<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<div> 
    <div>&nbsp;</div>
    
    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h5><strong>ACTA DE CIERRE DE LAS VOTACIONES PARA ELECCIÓN DE INTEGRANTES DEL COMITÉ DE CONVIVENCIA LABORAL</strong></h5>
            </div>
        </div>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
                Vigencia del Comité de: <%= @evidence.period if @evidence.present? %><br>
            </td>
        </tr>
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify"> 
                Siendo las <strong><%= @evidence.final_time.strftime("%I:%M %p") if @evidence.final_time.present? %></strong> del <strong><%= @evidence.date.day if @evidence.date.present? %></strong> de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> de <strong><%= @evidence.date.year if @evidence.date.present? %></strong>, se dio por finalizado el proceso de votación para la elección de los candidatos al <strong>COMITÉ DE CONVIVENCIA LABORAL</strong> para el período comprendido entre <strong><%= Calendar.label_month(@evidence.month_initial) if @evidence.month_initial.present? %></strong> de <strong><%= @evidence.year_initial if @evidence.year_initial.present? %></strong> a <strong><%= Calendar.label_month(@evidence.month_final) if @evidence.month_final.present? %></strong> de <strong><%= @evidence.year_final if @evidence.year_final.present? %></strong>.<br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Como jurados de votación encargados estuvieron:<br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <ul>
                    <% @participants.each do |participant| %>
                        <% if participant.jury_voting == 1 %>
                            <div class="row"> 
                                <div class="col-11">
                                    <li><strong><%= participant.user.name %></strong></li>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </ul>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h5><strong>CONTEO DE VOTOS</strong></h5>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <table>
        <tr>    
            <td style="border:1px solid black; width: 80%; text-align:center">
                <h6><strong>CANDIDATOS</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <h6><strong>N° Votos</strong></h6>                
            </td>
        </tr>
        <% if @participants.present? %>
            <% @participants.each do |participant| %>
                <% if participant.candidate == 1 && participant.company_representative == 0 %>
                    <tr>
                        <td style="border:1px solid black; width: 80%">
                            <h6><%= participant.user.name %></h6>                 
                        </td>
                        <td style="border:1px solid black; width: 20%; text-align:center">
                            <h6><%= participant.number_votes %></h6>                
                        </td>
                    </tr>    
                <% end %>    
            <% end %>
        <% end %>
        <tr>    
            <td style="border:1px solid black; width: 80%; text-align:center">
                <h6><strong>TOTAL</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <h6><strong><%= @evidence.total_votes %></h6>                
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h5>Efectuado el escrutinio de conteo de votos correspondiente se obtuvieron los siguientes resultados:</h5>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h5><strong>REPRESENTANTE DE LOS TRABAJADORES</strong></h5>
            </div>
        </div>
    </div>

    <table>
        <ul>
            <% @participants.each do |participant| %>
                <% if participant.workers_representative == 1 %>
                    <tr>
                       <td style="text-align:justify">
                            <div class="row"> 
                                <div class="col-11">
                                    <li>El señor(a): <strong><%= participant.user.name %></strong>, mayor de edad e identificado(a) con cédula de ciudadanía N° <strong><%= EvaluationRuleDetail.miles(participant.user.nro_document) if participant.user.nro_document.present? %></strong> quien ocupa el cargo de: <strong><%= CompanyPosition.name_cargo(participant.user.activity) %>.</strong></li>
                                </div>
                            </div>
                        </td>    
                    </tr>    
                <% end %>
            <% end %>
        </ul>
    </table>

    <div>&nbsp;</div>
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h5><strong>REPRESENTANTE DE LA EMPRESA</strong></h5>
            </div>
        </div>
    </div>

    <table>
        <ul>
            <% @participants.each do |participant| %>
                <% if participant.company_representative == 1 %>
                    <tr>
                       <td style="text-align:justify">
                            <div class="row"> 
                                <div class="col-11">
                                    <li>El señor(a): <strong><%= participant.user.name %></strong>, mayor de edad e identificado(a) con cédula de ciudadanía N° <strong><%= EvaluationRuleDetail.miles(participant.user.nro_document) if participant.user.nro_document.present? %></strong> quien ocupa el cargo de: <strong><%= CompanyPosition.name_cargo(participant.user.activity) %>.</strong></li>
                                </div>
                            </div>
                        </td>    
                    </tr>    
                <% end %>
            <% end %>
        </ul>
    </table>
    <div>&nbsp;</div>    
    <% if @firms.present? %> 
        <br>
        <div class="row"><br></div>
           <table>
                <% cont = 0 %>
                <% @firms.each do |firm| %>
                    <% cont = cont + 1 %>
                    <% if cont == 1 || cont == 3 || cont == 5 || cont ==7 || cont == 9 || cont == 11 || cont == 13  %>
                        <tr> 
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                        <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>
                                                    <div>&nbsp;</div>   
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div> 
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div> 
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div>   
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                        </div>    
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><strong><%= firm.user.name %></strong></h6>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><%= firm.post %></h6>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </td>  
                        <% else %>    
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                            <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>    
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div>   
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div> 
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                    </div>    
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><strong><%= firm.user.name %></strong></h6>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><%= firm.post %></h6>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </td>      
                            </tr>
                        <% end %>
            
                <% end %>
            </table>
        </div>
    <% end %>
</div>