<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%=  image_tag('imgmv3.png', class: "img-responsive center-block") %>
            </td>
        </tr>
    <table>       

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
    </div>


    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
                
    <div class="row text-center">
        <h5><strong>Contenido</strong></h5>
    </div>
    
    <div><br></div>
    <div class="col-10 text-justify">
        <ul>
            <li>Introducción y objetivos</li>
            <li>Definiciones</li>
            <li>Finalidad del programa de capacitación</li>
            <li>Metas</li>
            <li>Estrategias</li>
            <li>Capacitación</li>
            <li>Actividades por desarrollar</li>
            <li>Seguridad y salud en el trabajo</li>
            <li>Estrategia</li>
            <li>Prevención de Accidentes</li>
            <li>Estrategia</li>
            <li>Prevención de enfermedades</li>
            <li>Estrategia</li>
            <li>Evaluación</li>
            <li>Cronograma</li>
            <li>Recursos</li>
            <li>Indicadores</li>
            <li>Responsabilidades</li>
            <li>Anexo</li>
        </ul>
    </div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>INTRODUCCIÓN</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Programa de Capacitación Anual en Seguridad y Salud en el Trabajo es de gran valor en <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, es una actividad planificada y permanente, con el Objetivo de promover mecanismos de prevención, en estas capacitaciones deben participar todos los directivos y colaboradores de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <p>El tema de Seguridad y Salud en el Trabajo está enfocado a lograr una adecuada administración de riesgos, de manera que permita mantener el control de estos contribuyendo al bienestar físico, mental y social de los empleados y al buen funcionamiento de los recursos que se tienen en <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>1. OBJETIVOS</strong>
    </div>
    <div><br></div>
    <div class="row">
        <strong>1.1. OBJETIVO GENERAL</strong>
            <p>Lograr que los trabajadores de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> adquieran los conocimientos en el tema de Seguridad y Salud en el Trabajo que permita tener acciones preventivas en el desempeño laboral, y que adopten un estilo de autocuidado en el trabajo.</p>
    </div>
    <div><br></div>
    <div class="row">
        <strong>1.2. OBJETIVOS ESPECÍFICOS</strong>
            <div class="col-10">
                <p>
                    <ul>
                        <li>Generar en el trabajador una actitud de autocuidado en el desempeño de sus labores.</li>
                        <li>Propiciar espacios para actividades de promoción y prevención sobre la seguridad en el trabajo y los riesgos a los que se encuentran expuestos.</li>
                        <li>Fortalecer día a día el conocimiento técnico en el manejo de las herramientas de trabajo.</li>
                    </ul>
                </p>
            </div>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>DEFINICIONES</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Capacitación:</strong> Es un proceso que posibilita al capacitando la apropiación de ciertos conocimientos, capaces de modificar los comportamientos propios de las personas y de la organización a la que pertenecen. La capacitación es una herramienta que posibilita el aprendizaje y por esto contribuye a la corrección de actitudes del personal en el puesto de trabajo.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Capacitación en condiciones de salud:</strong> Como parte fundamental de las campañas de medicina preventiva, el trabajador debe recibir elementos teóricos y prácticos de prevención y control de enfermedades comunes, profesionales, accidentes e incidentes y primeros auxilios.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Capacitación en prevención:</strong> Para hacer capacitación en prevención se deben tener como base los manuales de seguridad, en los que se debe describir las normas y los procedimientos correctos del trabajo. Para su desarrollo debe establecerse la siguiente metodología: Identificar oficios, equipos interdisciplinarios, procedimientos, riesgos y elementos de protección personal.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Condiciones de trabajo:</strong> Son el conjunto de variables subjetivas y objetivas que definen la realización de una labor concreta y el entorno en que esta se realiza e incluye el análisis de aspectos relacionados como la organización, el ambiente, la tarea, los instrumentos y materiales que pueden determinar o condicionar la situación de salud de las personas.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Inducción:</strong> consiste en la orientación, supervisión y ubicación de nuevos trabajadores durante el ingreso a la organización. Se hace con el fin de acelerar la integración y acoplo del trabajador con la organización, compañeros de trabajo y su labor.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>“Son las acciones de información, educación y entrenamiento… se deben realizar de acuerdo con medidas de prevención y seguridad. Los trabajadores deberán conocer las medidas de control de acuerdo con cada riesgo detectado en cada área”.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Plan de capacitación:</strong> Es una estrategia indispensable para alcanzar los objetivos de la salud ocupacional, ya que habilita a los trabajadores para realizar elecciones acertadas en pro de su salud, a los mandos medios para facilitar los procesos preventivos y a las directivas para apoyar la ejecución de estos. La programación, por lo tanto, debe cobijar todos los niveles de la empresa para asegurar que las actividades se realicen coordinadamente. Se trata de permitir que las personas reconozcan las creencias, actitudes, opiniones y hábitos que influyen en la adopción de estilos de vida sanos, alentando a las personas a ejercer el control sobre su propia salud y a participar en la identificación de problemas y mejoramiento de las condiciones de trabajo.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Peligro:</strong> Fuente, situación o acto con potencial de daño en términos de enfermedad o lesiones a las personas, o una combinación de estos.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Factor de Riesgo:</strong> Cualquier elemento, material o condición presente en los ambientes laborales de los establecimientos que ofrecen servicios de estética ornamental que por sí mismo, o en combinación puede producir alteraciones negativas en la salud de los trabajadores y usuarios, cuya probabilidad de ocurrencia depende de la eliminación o control de dicho factor.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Riesgo químico:</strong> Son todos aquellos elementos y sustancias que, al entrar en contacto con el organismo, bien sea por inhalación, absorción o ingestión, pueden provocar intoxicación, quemaduras o lesiones sistémicas, según el nivel de concentración y el tiempo de exposición.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Riesgo biológico:</strong> En este caso encontramos un grupo de agentes orgánicos, animados o inanimados como los hongos, virus, bacterias, parásitos, pelos, plumas, polen (entre otros), presentes en determinados ambientes laborales, que pueden desencadenar enfermedades infectocontagiosas, reacciones alérgicas o intoxicaciones al ingresar al organismo.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Enfermedad laboral:</strong> Es enfermedad laboral la contraída como resultado de la exposición a factores de riesgo inherentes a la actividad laboral o del medio en el que el trabajador se ha visto obligado a trabajar. El Gobierno Nacional, determinará, en forma periódica, las enfermedades que se consideran como laborales y en los casos en que una enfermedad no figure en la tabla de enfermedades laborales, pero se demuestre la relación de causalidad con los factores de riesgo ocupacionales serán reconocidas como enfermedad laboral, conforme lo establecido en las normas legales vigentes.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Accidente laboral:</strong> Es accidente de trabajo todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Es también accidente de trabajo aquel que se produce durante la ejecución de Órdenes del empleador, o contratante durante la ejecución de una labor bajo su autoridad, aún fuera del lugar y horas de trabajo. Igualmente se considera accidente de trabajo el que se produzca durante el traslado de los trabajadores o contratistas desde su residencia a los lugares de trabajo o viceversa, cuando el transporte lo suministre el empleador.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>También se considerará como accidente de trabajo el ocurrido durante el ejercicio de la función sindical, aunque el trabajador se encuentre en permiso sindical siempre que el accidente se produzca en cumplimiento de dicha función. De igual forma se considera accidente de trabajo el que se produzca por la ejecución de actividades recreativas, deportivas o culturales, cuando se actúe por cuenta o en representación del empleador o de la empresa usuaria cuando se trate de trabajadores de empresas de servicios temporales que se encuentren en misión.</p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>FINALIDAD DEL PROGRAMA DE CAPACITACIÓN</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El programa de capacitaciones tiene como propósito el desarrollo de habilidades y capacidades de todo el personal con el fin de formar un talento humano más competente y hábil. Además, se busca promocionar la salud, el autocuidado y prevenir las enfermedades y los riesgos.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Sin embargo, más allá de esto, busca estimular el interés de todos sobre los beneficios de aplicar el sistema de gestión, incentivar la participación en las diferentes actividades sobre autocuidado, factores de riesgo y condiciones inseguras, busca mejorar el clima laboral, la productividad, la salud física y mental, y mejorar la capacidad de los empleados para identificar y reportar factores de riesgos presentes en su labor.</p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>ALCANCE</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>El programa de capacitación aplicará a todo el personal de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
    </div>
    <div><br></div>
    <div><br></div>
    <div>
        <%= @evidence.compliances if @evidence.present? %>
    </div>    
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>CAPACITACIÓN</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Con fines preventivos:</strong> Buscan prever cambios en el personal que se pueden dar por sus labores rutinarias, la falta de motivación, deterioro en las destrezas y habilidades. Pretende preparar a los trabajadores para adaptarse a los cambios en la tecnología y ambiente de trabajo.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Con fines correctivos:</strong> Su fin es solucionar y corregir situaciones de riesgo presentes en las labores, se llevan a cabo con el apoyo de estudios, análisis e identificación de dichas situaciones.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Para capacitar al personal se requiere de formación para brindar conocimientos básicos y de refuerzo para aumentar el nivel de conocimiento y experiencia con el fin de prevenir la ocurrencia de algún incidente o accidente y mejorar las condiciones de trabajo.</p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>ACTIVIDADES POR DESARROLLAR</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>Estas actividades permitirán a los trabajadores mejorar las condiciones y ambiente de trabajo, mejorar su salud física y mental, y ayudará a prevenir incidentes, accidentes y la aparición de enfermedades.</p>
        <p>Seguridad y salud en el trabajo</p>
        <p>
            <ul>
                <li>Sistema general de Riesgos Laborales (Ley 1562 de 2012). </li>
                <li>Sistema de gestión de la Seguridad y Salud en el Trabajo (Ley 1072 de 2015). </li>
                <li>Política de la Seguridad y Salud en el trabajo.   </li>
                  <li>Medicina Preventiva en la actividad educativa, administrativa y desarrollo de proyectos. </li>
                <li>Plan de atención y prevención de emergencias. </li>
             </ul>
        </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>Estrategia</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>El propósito es involucrar al personal en el tema de la seguridad y salud en el trabajo, por lo que se empleará la metodología de la exposición, trabajos de grupo y talleres para mantener un ambiente cálido entre los participantes.</p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>Prevención de Accidentes</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <ul>
            <li>La seguridad industrial en el desarrollo de actividades.</li>
            <li>Accidente de trabajo en el desarrollo de actividades, reporte e investigación.</li>
            <li>Tipos de riesgos (locativo, mecánico y eléctrico).</li>
            <li>Identificación de Peligros, Valoración de riesgos, e implementación de controles, condiciones y actos inseguros.</li>
            <li>Orden y aseo.</li>
            <li>Etiquetado y almacenamiento de sustancias químicas.</li>
        </ul>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>Estrategia</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>Por medio de exposición, presentación de casos, fotos, y videos se mostrará la clase de accidentes y formas de prevenirlos en el desarrollo de sus actividades.</p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>Prevención de enfermedades</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <ul>
            <li>La higiene industrial en el desarrollo de actividades.</li>
            <li>Definición de enfermedad Laboral, reporte e investigación.</li>
            <li>Ergonomía en las actividades. </li>
            <li>Lesiones osteomusculares.</li>
            <li>Pausas Activas.</li>
            <li>Actividades repetitivas Higiene postural.</li>
            <li>Buena ubicación del material de trabajo.</li>
            <li>Riesgo biológico y químico.</li>
            <li>Factores de Riesgo biológico y químico.</li>
            <li>Manual de bioseguridad.</li>
            <li>Manejo y almacenamiento de sustancias químicas.</li>
            <li>Disposición de residuos biológicos y químicos.</li>
            <li>Enfermedades generadas por el riesgo biológico y químico.</li>
            <li>Autocuidado y salud en el trabajo.</li>
            <li>Hábitos saludables. </li>
            <li>Uso de Elementos de Protección Personal.</li>
        </ul>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>Estrategia</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para llevar a cabo estas actividades se darán los conceptos necesarios para el desarrollo adecuado del trabajo, y se implementarán acciones correctivas ante los riesgos presentes, se instruirá sobre la manera de evitar posibles accidentes o enfermedades por medio de exposición, talleres, estudios de caso, y presentación de casos reales.</p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>EVALUACIÓN</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>Se evaluará al capacitador y los temas tratados al final de la capacitación, con el fin de medir la efectividad, buen uso de la información y despliegue de la misma.</p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>CRONOGRAMA</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>Se dispone de un cronograma de actividades el cual se desarrollará a lo largo del año, con el fin de cubrir todas las necesidades de todos los trabajadores. (Ver Cronograma de Capacitaciones)</p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>RECURSOS</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>Para el desarrollo del plan de capacitación se cuenta con los siguientes recursos:</p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>Recurso Humano</strong></h5>
    </div>    
    <div><br></div>
    <div class="text-justify">
        <p>Este programa está a cargo del encargo del SG-SST y con ayuda de más personas con experiencia en los diferentes temas se llevarán a cabo las diferentes actividades para todo el personal de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>Recursos Materiales</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
               <p>Sala de capacitación (reuniones), Equipo de proyección multimedia, computador portátil, fotocopiadora, impresora, material de escritorio, documentos, guías, folletos y fotocopias, marcadores, resma de papel, videos de inducción e internet.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Como materia de consulta y estudio se cuenta con la siguiente documentación:</p>
            </td>
        </tr>
    </table> 

    <div class="text-justify">
        <div class="col-10">
        <p>
            <ul>
                <li>Legislación en materia de Seguridad y Salud en el Trabajo, entre otras: Decreto 1443 DE 2015, Norma GTC 45, Decreto 1072 de 2015.</li>
                <li>Reglamento interno de Seguridad y Salud en el Trabajo.</li>
            </ul>
        </p>
    </div>
    <table>
        <tr>    
            <td style="border:1px solid black; width: 33%; text-align:center">
                <h6>Indicador</h6>                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                <h6>Fórmula</h6>                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                <h6>Meta</h6>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 33%; text-align:center">
                % de cobertura en capacitaciones                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                Nro. de capacitaciones ejecutadas / Nro. de capacitaciones programadas * 100                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                Se espera una cobertura del <%= @evidence.por_cobertura if @evidence.present? %>%                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 33%; text-align:center">
                % de trabajadores capacitados                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                Nro. de trabajadores capacitados / Nro. total de empleados a capacitar * 100                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                Se espera una cobertura del <%= @evidence.por_trabajadores if @evidence.present? %>%                
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>EVALUACIÓN</strong></h5>
    </div>    
    <div><br></div>
    <table>
        <tr>    
            <td style="border:1px solid black; width: 33%; text-align:center">
                <h6>Criterio</h6>                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                <h6>Indicador</h6>                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                <h6>Porcentaje</h6>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 33%; text-align:center">
                Reacciones                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                ∙ ¿Alcanzó las metas de aprendizaje? 
                ∙ ¿Qué sugeriría para mejorar el programa? 
                ∙ ¿Piensa que la organización debe seguir ofreciéndolo? 
                ∙ Expositor, materiales, horario, lugar, entre otros.                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                <%= @evidence.por_reacciones if @evidence.present? %>%             
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 33%; text-align:center">
                Aprendizaje                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                Dominio de contenidos pre y post capacitación                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                <%= @evidence.por_aprendizaje if @evidence.present? %>%                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 33%; text-align:center">
                <h6>Resultados</h6>                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                ∙ Aumento de la productividad.<br> 
                ∙ Mejores índices del desempeño.<br> 
                ∙ Redujo el índice de incidentes y accidentes.<br> 
                ∙ Mejoró el clima laboral.<br>                
            </td>
            <td style="border:1px solid black; width: 33%; text-align:center">
                <%= @evidence.por_resultados if @evidence.present? %>%                
            </td>
        </tr>
    </table>
    <div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h5><strong>2. RESPONSABILIDADES:</strong></h5>
    </div>    
    <div><br></div>
    <div class="col-10">
            <p>
                <ul>
                    <li><strong>Representante legal:</strong> Dispone del cumplimiento de Capacitación</li>
                    <li><strong>Superiores y líderes:</strong> Brindar las facilidades para la capacitación de los trabajadores de sus respectivas áreas.</li>
                    <li><strong>Comité de Seguridad y Salud en el Trabajo:</strong> Aprueba el plan de capacitación, realiza control de la ejecución.</li>
                    <li><strong>Empleados:</strong> Participan en las actividades programadas en el Plan de Capacitación.</li>
                    <li><strong>Capacitador Interno:</strong> Desarrolla la capacitación de acuerdo con el módulo asignado.</li>
                </ul>
            </p>
            <p><strong>ANEXO:</strong> CRONOGRAMA DE EJECUCIÓN DEL PLAN DE CAPACITACIÓN DE SEGURIDAD Y SALUD EN EL TRABAJO  (VER ANEXO CRONOGRAMA)</p>
    </div>
    <div><br></div>
    <div><br></div>
    <% if @firms.present? %> 
        <br>
        <div class="row"><br></div>
           <table>
                <% cont = 0 %>
                <% @firms.each do |firm| %>
                    <% cont = cont + 1 %>
                    <% if cont == 1 || cont == 3 || cont == 5 || cont ==7 || cont == 9 || cont == 11 || cont == 13  %>
                        <tr> 
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                        <% if firm.post == "Asesor Externo SG-SST" then %>
                                            <div>Elaboró:</div>
                                        <% else %>
                                            <div>Aprobó:</div>
                                        <% end %>
                                        <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>
                                                    <div>&nbsp;</div>   
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div> 
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div> 
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div>   
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                        </div>    
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><strong><%= firm.user.name %></strong></h6>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><%= firm.post %></h6>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </td>  
                        <% else %>    
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                            <% if firm.post == "Asesor Externo SG-SST" then %>
                                                <div>Elaboró:</div>
                                            <% else %>
                                                <div>Aprobó:</div>
                                            <% end %>
                                            <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>    
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div>   
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div> 
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                    </div>    
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><strong><%= firm.user.name %></strong></h6>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><%= firm.post %></h6>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <h6><%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %></h6>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </td>      
                            </tr>
                        <% end %>
            
                <% end %>
            </table>
        </div>
    <% end %>
</div>