<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<div> 
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%= wicked_pdf_image_tag asset_url('imgmv4.png'), height: "300", width: "auto" %>
            </td>
        </tr>
    <table>       

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h2><%= @evidence.year_initial if @evidence.present? %></h2>
    </div>

    <p style='page-break-after:always;'></p>


                
    <div class="row text-center">
        <h5><strong>CONTENIDO</strong></h5>
    </div>
    
    <div><br></div>
    <div class="col-10 text-justify">
        &nbsp;&nbsp;&nbsp;&nbsp;<strong>INTRODUCCIÓN</strong>
        <ol>
            <br>
            <li><strong>OBJETIVO</strong></li><br>
            <li><strong>ALCANCE</strong></li><br>
            <li><strong>DEFINICIONES</strong></li><br>
            <li><strong>NORMATIVIDAD</strong></li><br>
            <li><strong>PROGRAMA DE INDUCCIÓN</strong></li><br>
            <li><strong>PROGRAMA DE REINDUCCIÓN</strong></li><br>
            <li><strong>CONTENIDO</strong></li><br>
        </ol>
    </div>
    <p style='page-break-after:always;'></p>


    <div class="row text-center">
        <h5><strong>INTRODUCCIÓN</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los programas de inducción y reinducción, de acuerdo con lo señalado en el Decreto 1567 de 1998, se definen como: “Procesos de formación y capacitación dirigidos a facilitar y fortalecer la integración del empleado a la cultura organizacional, a desarrollar en éstas habilidades gerenciales y de servicio público y suministrarle información necesaria para el mejor conocimiento de la función pública y de la entidad, estimulando el aprendizaje y desarrollo individual y organizacional, en un contexto metodológico flexible, práctico y participativo”.</p>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <p>Para garantizar habilidades y competencias en prevención de los riesgos laborales es fundamental desarrollar entre los trabajadores y contratistas procesos de inducción y reinducción que permitan fortalecer una cultura del autocuidado dando a conocer los peligros y riesgos a los que pueden verse expuestos en el desarrollo de sus actividades laborales.</p>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <p>El presente Programa de inducción y reinducción, se toma como herramienta clave para la prevención de los riesgos laborales, capacitándolos sobre los peligros y riesgos a los cuales están expuestos en su ámbito laboral, sus efectos en la salud y las recomendaciones para control.</p>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <p>Este programa no se limita a impartir las habilidades y conocimientos por la exposición a determinados peligros o riesgos. El objetivo principal es generar una cultura del autocuidado, modificando actos inseguros y motivando su compromiso con la prevención como actor clave el Subsistema de Gestión de la Seguridad y Salud en el Trabajo. </p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>1. OBJETIVOS</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>Este procedimiento tiene por objetivo establecer las directrices para realizar las actividades de inducción a todo el personal que ingrese a la entidad y a reorientar la integración del personal antiguo a la cultura organizacional en virtud de los cambios producidos en los procesos.</p>
    </div>
    <div><br></div>
    <div class="row">
        <strong>2. ALCANCE</strong>
    </div>    
    <div><br></div>
    <div class="row">
            <p>El presente programa aplica a todos los colaboradores de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, extensivo a todos los niveles de la Organización incluyendo a trabajadores dependientes, contratistas, trabajadores cooperados, etc.</p>
    </div>
    <div><br></div>
    <div class="row">
        <strong>3. DEFINICIONES</strong>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Inducción:</strong> Método que se utiliza para dar a conocer a los nuevos empleados la información básica de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> y del cargo a desempeñar.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Reinducción:</strong> Método que se utiliza para reforzar y dar a conocer a los antiguos empleados, los cambios en la información básica de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> y del cargo desempeñado.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Accidente De Trabajo:</strong> Todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador, o contratante durante la ejecución de una labor bajo su Autoridad, aún fuera del lugar y horas de trabajo.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Igualmente se considera accidente de trabajo el que se produzca durante el traslado de los trabajadores o contratistas desde su residencia a los lugares de trabajo o viceversa, cuando el transporte lo suministre el empleador.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>También se considerará como accidente de trabajo el ocurrido durante el ejercicio de la función sindical, aunque el trabajador se encuentre en permiso sindical siempre que el accidente se produzca en cumplimiento de dicha función.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>De igual forma se considera accidente de trabajo el que se produzca por la ejecución de actividades recreativas, deportivas o culturales, cuando se actúe por cuenta o en representación del empleador o de la empresa usuaria cuando se trate de trabajadores de empresas de servicios temporales que se encuentren en misión. Decreto 1072 de 2015.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Capacitación:</strong>Consiste en desarrollar las competencias de los trabajadores expuestos y los responsables de aplicar las medidas de control, utilizando metodologías participativas acorde a los estilos de aprendizaje y nivel educacional.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>La capacitación constituye una herramienta fundamental en la aplicación de un plan de acción de mejoras, porque permite que el trabajador, pueda generar estrategias en favor de la seguridad y la salud desde su realidad cotidiana. Esto ayuda a que disminuyan las acciones inseguras en que los propios trabajadores incurren.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Competencias:</strong> Conjunto de recursos que se ponen en juego al comprometerse en el desempeño cotidiano. Éstas integran conocimientos, habilidades y actitudes que se combinan en el éxito de una tarea.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Comunicación:</strong> La comunicación oral está integrada por palabras, voz y acción, y su fin es transmitir ideas y sentimientos a los participantes. Es por ello por lo que en todo proceso de aprendizaje se debe analizar la forma de transmitir la información adecuadamente, mediante el modo de vestir, de hablar o cualquier otro detalle que permita comunicar a los integrantes de la capacitación algo, para que lo perciban y lo interpreten de acuerdo con su marco de referencia.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Condiciones De Salud:</strong> El conjunto de variables objetivas y de auto reporte de condiciones fisiológicas, psicológicas y socioculturales que determinan el perfil sociodemográfico y de morbilidad de la población trabajadora.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Condiciones Y Medio Ambiente De Trabajo:</strong> Aquellos elementos, agentes o factores que tienen influencia significativa en la generación de riesgos para la seguridad y salud de los trabajadores quedan específicamente incluidos en esta definición, entre otros:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>a) Las características generales de los locales, instalaciones, máquinas, equipos, herramientas, materias primas, productos y demás útiles existentes en el lugar de trabajo.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>b) Los agentes físicos, químicos y biológicos presentes en el ambiente de trabajo y sus correspondientes intensidades, concentraciones o niveles de presencia.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>c) Los procedimientos para la utilización de los agentes citados en el apartado anterior, que influyan en la generación de riesgos para los trabajadores. </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>d) La organización y ordenamiento de las labores, incluidos los factores ergonómicos o biomecánicos y psicosociales.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Enfermedad Laboral:</strong> La contraída como resultado de la exposición a factores de riesgo inherentes a la actividad laboral o del medio en el que el trabajador se ha visto obligado a trabajar. El Gobierno Nacional, determinará, en forma periódica, las enfermedades que se consideran como laborales y en los casos en que una enfermedad no figure en la tabla de enfermedades laborales, pero se demuestre la relación de causalidad con los factores de riesgo ocupacional será reconocida como enfermedad laboral, conforme lo establecido en las normas legales vigentes.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Emergencia:</strong> Es aquella situación de peligro o desastre o la inminencia de este, que afecta el funcionamiento normal de la empresa. Requiere de una reacción inmediata y coordinada de los trabajadores, brigadas de emergencias y primeros auxilios y en algunos casos de otros grupos de apoyo dependiendo de su magnitud.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Evaluación Del Riesgo:</strong> Proceso para determinar el nivel de riesgo asociado al nivel de probabilidad de que dicho riesgo se concrete y al nivel de severidad de las consecuencias de esa concreción.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Peligro:</strong> Fuente, situación o acto con potencial de causar daño en la salud de los trabajadores, en los equipos o en las instalaciones.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Identificación Del Peligro:</strong> Proceso para establecer si existe un peligro y definir las características de este.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Riesgo:</strong> Combinación de la probabilidad de que ocurra una o más exposiciones o eventos peligrosos y la severidad del daño que puede ser causada por estos.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Sistema De Gestión De La Seguridad Y Salud En El Trabajo (SG-SST):</strong> Consiste en el desarrollo de un proceso lógico y por etapas, basado en la mejora continua y que incluye la política, la organización, la planificación, la aplicación, la evaluación, la auditoría y las acciones de mejora con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que puedan afectar la seguridad y la salud en el trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div class="row">
        <strong>3. NORMATIVIDAD</strong>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>LEY 9ª de 1979:</li>
                            <p>Artículo 84. Todos los empleadores están obligados a: g) Realizar programas educativos sobre los riesgos para la salud a que estén expuestos los trabajadores y sobre los métodos de su prevención y control.</p>
                        <li>Resolución 1016 de 1989:</li>
                            <p>Artículo 11. 20) Promover, elaborar, desarrollar y evaluar programas de inducción y entrenamiento encaminados a la prevención de riesgos en el trabajo.</p>
                        <li>Ley 1562 de 2012:</li>
                            <p>Artículo 2. Modifíquese el artículo 13 del Decreto-ley 1295 de 1994, Parágrafo 3°. Para la realización de actividades de prevención, promoción y Salud Ocupacional en general, el trabajador independiente se asimila al trabajador dependiente.</p>
                            <p>Artículo 26. Modifíquese el literal g) y adiciónese el parágrafo 2 al artículo 21 del Decreto número 1295 de 1994 así: g) Facilitar los espacios y tiempos para la capacitación de los trabajadores a su cargo en materia de salud ocupacional y para adelantar los programas de promoción y prevención a cargo de las Administradoras de Riesgos Laborales.</p>
                        <li>Decreto 1072 de 2015:</li>
                            <p>Artículo 2.2.4.6.8. Obligaciones de los Empleadores, 9) El empleador debe garantizar la capacitación de los trabajadores en los aspectos de seguridad y salud en el trabajo de acuerdo con las características de la empresa, la identificación de peligros, la evaluación y valoración de riesgos relacionados con su trabajo, incluidas las disposiciones relativas a las situaciones de emergencia, dentro de la jornada laboral de los trabajadores directos o en el desarrollo de la prestación del servicio de los contratistas.</p>
                            <p>Artículo 2.2.4.6.10.  Responsabilidades de los Trabajadores, 5) Participar en las actividades de capacitación en seguridad y salud en el trabajo definido en el plan de capacitación del SG–SST.</p>
                            <p>Artículo 2.2.4.6.11. Capacitación en seguridad y salud en el trabajo – SST. El empleador o contratante debe definir los requisitos de conocimiento y práctica en seguridad y salud en el trabajo necesarios para sus trabajadores, también debe adoptar y mantener disposiciones para que estos los cumplan en todos los aspectos de la ejecución de sus deberes u obligaciones, con el fin de prevenir accidentes de trabajo y enfermedades laborales. Para ello, debe desarrollar un programa de capacitación que proporcione conocimiento para identificar los peligros y controlar los riesgos relacionados con el trabajo, hacerlo extensivo a todos los niveles de la organización incluyendo a trabajadores dependientes, contratistas, trabajadores cooperados y los trabajadores en misión, estar documentado, ser impartido por personal idóneo conforme a la normatividad vigente.</p>
                            <p>Parágrafo 1o. El programa de capacitación en seguridad y salud en el trabajo –SST, debe ser revisado mínimo una (1) vez al año, con la participación del Comité Paritario o Vigía de Seguridad y Salud en el Trabajo y la alta dirección de la empresa: con el fin de identificar las acciones de mejora.</p>
                            <p>Parágrafo 2o. El empleador proporcionará a todo trabajador que ingrese por primera vez a la empresa, independiente de su forma de contratación y vinculación y de manera previa al inicio de sus labores, una inducción en los aspectos generales y específicos de las actividades a realizar, que incluya entre otros, la identificación y el control de peligros y riesgos en su trabajo y la prevención de accidentes de trabajo y enfermedades laborales.</p>
                            <p>Artículo 2.2.4.6.12. El empleador debe mantener disponibles y debidamente actualizados entre otros, los siguientes documentos en relación con el Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST: 6) El programa de capacitación anual en seguridad y salud en el trabajo - SST, así como de su cumplimiento incluyendo los soportes de inducción, reinducción y capacitaciones de los trabajadores dependientes, contratistas, cooperados y en misión.</p>
                            <p>Artículo 2.2.4.6.13. Conservación de los Documentos. El empleador debe conservar los registros y documentos que soportan el Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST de manera controlada, garantizando que sean legibles, fácilmente identificables y accesibles, protegidos contra daño, deterioro o pérdida. El responsable del SG-SST tendrá acceso a todos los documentos y registros exceptuando el acceso a las historias clínicas ocupacionales de los trabajadores cuando no tenga perfil de médico especialista en seguridad y salud en el trabajo. 
                    La conservación puede hacerse de forma electrónica de conformidad con lo establecido en el presente decreto siempre y cuando se garantice la preservación de la información.
                    Los siguientes documentos y registros deben ser conservados por un periodo mínimo de veinte (20) años, contados a partir del momento en que cese la relación laboral del trabajador con la empresa: 4) Registros de las actividades de capacitación, formación y entrenamiento en seguridad y salud en el trabajo.</p>
                            <p>Artículo 2.2.4.6.16. Evaluación inicial del Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST. La evaluación inicial debe incluir, entre otros, los siguientes aspectos: 5) El cumplimiento del programa de capacitación anual, establecido por la empresa, incluyendo la inducción y reinducción para los trabajadores dependientes, cooperados, en misión y contratistas.</p>
                            <p>Artículo 2.2.4.6.20. Indicadores que evalúan la estructura del Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST. Para la definición y construcción de los indicadores que evalúan la estructura, el empleador debe considerar entre otros, los siguientes aspectos: 11) La definición de un plan de capacitación en seguridad y salud en el trabajo.</p>
                            <p>Artículo 2.2.4.6.21. Indicadores que evalúan el proceso del Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST. Para la definición y construcción de los indicadores que evalúan el proceso, el empleador debe considerar entre otros: 3) Ejecución del Plan de Capacitación en Seguridad y Salud en el Trabajo.</p>
                            <p>Artículo 2.2.4.6.35. Capacitación obligatoria. Los responsables de la ejecución de los Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST), deberán realizar el curso de capacitación virtual de cincuenta (50) horas sobre el Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST) que defina el Ministerio del Trabajo en desarrollo de las acciones señaladas en el literal a) del artículo 12 de la Ley 1562 de 2012, y obtener el certificado de aprobación de este.</p>
                    </ul>
                </p>

            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <div class="row">
        <h5><strong>5. PROGRAMA DE INDUCCIÓN</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La inducción en el Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST) se debe desarrollar por tardar dentro de los 30 días de vinculado el servidor o contratista de la compañía y su temática tendrá como mínimo la siguiente estructura:</p>
            </td>
        </tr>
        <tr>    
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><p>Reseña histórica de la SST.</p></li>
                        <li><p>Estadística nacional de Accidentes de Trabajo, Enfermedad Laboral y Accidentes mortales.</p></li>
                        <li><p>Estadística de Accidentalidad, Enfermedad y Ausentismo en la Secretaría.</p></li>
                        <li><p>Contexto normativo de Riesgos Laborales y Sistema Integrado de Gestión.</p></li>
                        <li><p>Definición de Peligro, Riesgo, Incidente, Accidente de Trabajo, Enfermedad Laboral.</p></li>
                        <li><p>Reglamento de Higiene y Seguridad Industrial.</p></li>
                        <li><p>Reporte de Accidente de Trabajo, Autor reporte de Peligros, Incidentes y condiciones de salud, calificación del origen de la Enfermedad.</p></li>
                        <li><p>Ejercicio de Identificación de Peligros, evaluación y valoración de Riesgos.</p></li>
                        <li><p>Prevención, Preparación y Respuesta a Emergencias.</p></li>
                        <li><p>Responsabilidades en Seguridad y Salud.</p></li>
                        <li><p>Lineamientos de SST.</p></li>
                        <li><p>Estructura del SG-SST: Programas de Gestión.</p></li>
                        <li><p>Implementación y mantenimiento del sistema.</p></li>
                        <li><p>Gestión del Cambio, Contratación y Adquisiciones.</p></li>
                    </ul>
                </p>
            </td>
        </tr>
        <tr><td style="text-align:justify"><br></td></tr>
        <tr>
            <td style="text-align:justify">
                <p>Dentro de la estrategia para desarrollar el presente programa se podrá utilizar, entre otras, plataforma virtual, charlas magistrales, talleres, intervenciones individuales y colectivas. </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>El Programa de capacitación en Seguridad y Salud en el Trabajo (SST) se formula y se desarrolla de acuerdo con las siguientes fases: </p>
            </td>
        </tr>
    </table>        
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%= wicked_pdf_image_tag asset_url('imgmv5.png'), height: "350", width: "auto" %>
            </td>
        </tr>
    <table>       

    <div><br></div>
    <div class="row">
        <strong>Diagnóstico de necesidades</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La identificación de necesidades parte de los resultados anuales obtenidos en la identificación de peligros, diagnósticos de los Programas de Vigilancia Epidemiológica, Investigación de Incidentes y Accidentes de Trabajo, Calificación de la Enfermedad Laboral, Ausentismo, Emergencias y Programas de Gestión del Riesgo.  </p>
            </td>
        </tr>
    <table> 

    <div><br></div>
    <div class="row">
        <strong>Estructuración y concertación del Programa de Capacitación</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se determina la población objetiva, contenido, metodologías, cronograma lugares, fechas, horarios concertando con los comités Paritarios de SST, Convivencia Laboral y Comité de Emergencias. Esta fase está a cargo del profesional responsable de Coordinación del Subsistema de Gestión de la Seguridad y Salud en el Trabajo.</p>
            </td>
        </tr>
    <table> 

    <div><br></div>
    <div class="row">
        <strong>Capacitación para la Prevención de los Riesgos Laborales</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las capacitaciones se desarrollarán por grupos de trabajo y dependencias específicas de acuerdo con el grado de exposición y peligros identificados. Se aplicará una evaluación inicial y al finalizar cada capacitación de los siguientes temas:</p>
            </td>
        </tr>
    <table>     
    <div><br></div>
    <div class="row">
        <strong>PVE Control de los Factores de Riesgos Psicosociales</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Socializar diagnóstico Batería de Riesgo Psicosocial</p></li>
                    <li><p>Intervención individual – Dimensión con riesgo “Muy alto” y “Alto”</p></li>
                    <li><p>Intervención colectiva – Dimensión con riesgo “Muy alto” y “Alto”</p></li>
                    <li><p>Prevención del Estrés, ansiedad, depresión</p></li>
                    <li><p>Prevención consumo de Sustancias Psicoactivas</p></li>
                    <li><p>Factores protectores</p></li>
                    <li><p>Programa de Vigilancia Epidemiológica para la prevención de Factores de Riesgo Psicosociales (PVE-Psicosocial).</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Peligros y Riesgos asociados a desordenes músculo esqueléticos</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Socializar diagnóstico morbilidad sentida.</p></li>
                    <li><p>Inspección a puestos de trabajo.</p></li>
                    <li><p>Carga física y carga estática.</p></li>
                    <li><p>Movimientos repetitivos miembros superiores.</p></li>
                    <li><p>Posturas saludables.</p></li>
                    <li><p>Escuelas terapéuticas.</p></li>
                    <li><p>Taller de pausa Activa.</p></li>
                    <li><p>Programa de Vigilancia Epidemiológica para la prevención de los Desórdenes Músculo Esqueléticos (PVE-DME).</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Peligros y Riesgos Biológicos</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Socialización inventario de Virus, Hongos y Bacterias identificados.</p></li>
                    <li><p>Programa de Gestión para la Prevención de los Factores de Riesgo Biológicos.</p></li>
                    <li><p>Protocolo por accidente con riesgo Biológico.</p></li>
                    <li><p>Inmunización específica por exposición.</p></li>
                    <li><p>Protocolo lavado de manos.</p></li>
                    <li><p>Protocolo de uso seguro de Elementos de Protección Personal (EPP).</p></li>
                    <li><p>Matriz de EPP.</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Peligros y Riesgos Químicos</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Socialización inventario de sustancias químicas.</p></li>
                    <li><p>Programa de Gestión para la Prevención de los Factores de Riesgo Químicos.</p></li>
                    <li><p>Protocolo de respuesta ante emergencias por derrames de sustancias químicas.</p></li>
                    <li><p>Protocolo de Uso seguro de Elementos de Protección Personal (EPP).</p></li>
                    <li><p>Matriz de EPP.</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Peligros y Riesgos Públicos</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Socialización de los Factores de Riesgo Público.</p></li>
                    <li><p>Programa de Gestión para la Prevención de los Factores de Riesgo Público.</p></li>
                    <li><p>Recomendaciones ante posibles eventos de atraco y seguridad vial.</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Peligros y Riesgos Físicos</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Ruido</p></li>
                    <li><p>Iluminación</p></li>
                    <li><p>Ventilación</p></li>
                    <li><p>Radiación (Ionizante, No ionizante, estática)</p></li>
                    <li><p>Vibración</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Peligros y Riesgos de Seguridad</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Eléctricos (Baja, media y alta tensión)</p></li>
                    <li><p>Físico - Químico (Incendio y Explosión)</p></li>
                    <li><p>Mecánicos</p></li>
                    <li><p>Locativos</p></li>
                    <li><p>Alturas</p></li>
                    <li><p>Espacios confinados</p></li>
                    <li><p>Orden y Aseo</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Prevención, Preparación y Respuesta a Emergencias</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Socialización del Plan de Emergencias y Contingencias.</p></li>
                    <li><p>Ruta de evacuación y puntos de Encuentro.</p></li>
                    <li><p>Socialización de los Planes de Acción en Emergencias.</p></li>
                    <li><p>Simulacros</p></li>
                    <li><p>Integrantes y ubicación del Comité y Brigadas de Emergencias.</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Comités de SST</strong>
    </div>
    <div><br></div>
    <div class="row">
            <p>
                <ul>
                    <li><p>Comité Paritario de Seguridad y Salud en el Trabajo</p></li>
                    <li><p>Comité de Convivencia Laboral</p></li>
                    <li><p>Comité de Emergencias</p></li>
                </ul>
            </p>
    </div>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>Entrenamiento en el Puesto de Trabajo</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El objetivo de este entrenamiento es orientar al nuevo trabajador o contratista sobre cómo hacer su trabajo en el marco de los procedimientos establecidos con seguridad y eficiencia desde el momento en que inicie sus labores, así como brindarle toda la información necesaria para que pueda desarrollar sus habilidades y destrezas y desempeñar su trabajo con estándares de calidad, productividad y seguridad.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Durante el entrenamiento en el puesto de trabajo, el Jefe Inmediato, Gestor de Talento Humano o Coordinador de Grupo le indicará al nuevo colaborador, los Peligros y Riesgos a los que se verá expuesto durante la ejecución de su labor, con base en el Reglamento de Higiene y Seguridad Industrial y los mecanismos para su prevención y auto reporte, dejando la respectiva evidencia.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Nota:</strong> El empleado tiene la obligación de asistir al programa de inducción según lo establecido en el Programa, el jefe de personal o su delegado tiene la responsabilidad de garantizar que se ejecute este a cabalidad o de reprogramar las actividades según sea el caso.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>PROGRAMA DE REINDUCCIÓN</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los programas de reinducción se impartirán a todos los empleados por lo menos cada año, o antes, si se presentan algunos cambios, incluirá obligatoriamente un proceso de actualización acerca de las normas.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Las actividades de reinducción se planifican en el Plan de Capacitación, en el cual se definen los siguientes temas:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><p>Actualización y avances normativos que inciden en el funcionamiento de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p></li>
                        <li><p>Beneficios alcanzados por el plan de desarrollo y políticas vigentes dentro de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p></li>
                        <li><p>Redefinición de la misión institucional, establecimiento de metas y procedimientos, sistemas de información, determinación de indicadores de gestión.</p></li>
                    </ul>
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong>Nota:</strong> El empleado tiene la obligación de asistir a los Programas de Reinducción según lo establecido en el plan de capacitación, la asistencia a éstas quedará consignada en el formato Control de Asistencia.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <div class="row">
        <strong>6. CONTENIDO</strong>
    </div>
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;">
            <td style="width: 10%; text-align:center; border:1px solid black">
                N°
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                DESCRIPCIÓN
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                PRODUCTOS
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                RESPONSABLE
            </td>
            <td style="width: 10%; text-align:center; border:1px solid black">
                TIEMPO
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                1
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                Programar inducción a nuevo empleado a través del formato programa de inducción.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Formato programa de inducción
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Responsable del SG -SST
            </td>
            <td style="width: 10%; text-align:center; border:1px solid black">
                2 horas
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                2
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                Exponer al nuevo empleado los fundamentos y filosofía de la Organización: Misión, Visión, Políticas, Objetivos, Principios y Valores éticos.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Inducción
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Talento Humano
            </td>
            <td rowspan="5" style="width: 10%; text-align:center; border:1px solid black">
                2 horas
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                3
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                Comunicar y explicar las funciones a desempeñar en el cargo.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Inducción
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Talento Humano
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                4
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                Presentar al nuevo empleado a los demás trabajadores de la Organización.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Inducción
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Talento Humano
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                5
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                Evaluar temas vistos en la inducción para conocer cuál es necesario reforzar.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Inducción
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Talento Humano
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                6
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                En la reinducción, socialización de la misión, visión, valores institucionales y actualización de políticas organizacionales.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Reinducción
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Responsable del SG -SST
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                7
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                Dejar registro en el formato Control de Asistencia, cuando se lleven a cabo las actividades de socialización de políticas, reglamentos e información de la Organización.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Control de Asistencia
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Responsable del SG -SST
            </td>
            <td rowspan="2" style="width: 10%; text-align:center; border:1px solid black">
                2 horas
            </td>
        </tr>
        <tr>
            <td style="width: 10%; text-align:center; border:1px solid black; background-color: #00aae4;">
                8
            </td>
            <td style="width: 40%; text-align:center; border:1px solid black">
                Realizar evaluación de inducción o reinducción con el fin de medir el grado de comprensión de los temas tratados, diligenciando cuestionarios.
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Evaluación
            </td>
            <td style="width: 20%; text-align:center; border:1px solid black">
                Responsable del SG -SST
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>


    <%= render 'firmaelaboro' %>
</div>



