<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<div> 

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    

    <table> 
        <tr>
            <td style="text-align:justify">
                En <strong><%= @evidence.entity.business_name %></strong>  <strong><%= @evidence.entity.objeto_entity %></strong>
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table> 



    <table> 
        <tr>
            <td style="text-align:justify">
                <strong><%= @evidence.entity.business_name %></strong>  tiene como compromiso proporcionar condiciones de trabajo seguras y saludables para la prevención de lesiones y deterioro de la salud relacionados en el trabajo, realizando una adecuada identificación de peligros, evaluación, valoración y control de los riesgos para la seguridad y salud de todos sus empleados, contratistas, proveedores y visitantes realizando a su vez actividades de promoción y prevención trabajando articuladamente con ellos. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Para el cumplimiento de lo anterior se establecen los siguientes lineamientos: 
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>

    <div>
        <%= @evidence.compliances %>
    </div>



    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Esta política será publicada y difundida a todo el personal, contratistas y partes interesadas, siguiendo el ejemplo manifestado y demostrado desde el compromiso gerencial. </p>
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>   
    
    <p></p>
    <p>Como constancia se firma el día <strong><%= @evidence.date.day if @evidence.date.present? %></strong> del mes de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> del año <strong><%= @evidence.date.year if @evidence.date.present? %></strong>.</p>
    <p></p>

    <%= render 'firmatodospdf' %>

</div>