<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<div> 

    <table> 
        <tr>
            <td style="text-align:justify">
                En <strong><%= @evidence.entity.business_name %></strong> <%= @evidence.object %>
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table> 



    <table> 
        <tr>
            <td style="text-align:justify">
                <strong><%= @evidence.entity.business_name %></strong>  tiene como compromiso proporcionar condiciones de trabajo seguras y saludables para la prevención de lesiones y deterioro de la salud relacionados en el trabajo, realizando una adecuada identificación de peligros, evaluación, valoración y control de los riesgos para la seguridad y salud de todos sus empleados, contratistas, proveedores y visitantes realizando a su vez actividades de promoción y prevención trabajando articuladamente con ellos. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Para el cumplimiento de lo anterior se establecen los siguientes lineamientos: 
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>
    <ul>
        <table> 
            <tr>
                <td style="text-align:justify">
                    <li><p>Compromiso desde la Alta Dirección, en la implementación del Sistema de Gestión de Seguridad y Salud en el Trabajo, asignando los recursos humanos, tecnológicos y financieros, garantizando el cumplimiento de los objetivos.</p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Prevenir accidentes y enfermedades laborales, como consecuencia a la exposición de los diferentes ambientes de trabajo de todos los empleados, contratistas, proveedores y visitantes.</p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Dar cumplimiento a todas las disposiciones legales, Decretos, leyes, Resoluciones y demás normas que sean expedidas en materia de seguridad y salud en el trabajo; y a su vez, implementarlas y ejecutarlas al interior de la Organización.</p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Establecer el principio de la mejora continua, en todos los procesos de aseguramiento de la Seguridad y Salud en el Trabajo.</p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Fomentar el autocuidado y participación de todo el personal en materia de Seguridad y Salud en el trabajo.</p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Promover la salud mental, con miras a que todos los empleados que integren la organización estén en ambientes de trabajo saludables.</p></li>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <li><p>Compromiso con la mejora continua del SG-SST.</p></li>
                </td>
            </tr>
        </table> 
    </ol>

    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Esta política será publicada y difundida a todo el personal, contratistas y partes interesadas, siguiendo el ejemplo manifestado y demostrado desde el compromiso gerencial. </p>
            </td>
        </tr>
    </table>        
    <%= render 'firmarepresentante' %>

</div>