<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>&nbsp;</div>
    

    <table> 
        <tr>
            <td style="text-align:justify">
                En <strong><%= @evidence.entity.business_name %></strong>  <%= @evidence.entity.objeto_entity %>
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table> 



    <table> 
        <tr>
            <td style="text-align:justify">
                <strong><%= @evidence.entity.business_name %></strong>  se compromete a suministrar condiciones de trabajo seguras y saludables para prevenir accidentes de trabajo y enfermedades laborales, gestionando los peligros y riesgos de manera oportuna y a su vez realizar actividades de promoción y prevención. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Para el cumplimiento de lo anterior se establecen los siguientes lineamientos: 
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>

    <div>
        <%= @evidence.compliances %>
    </div>

    <div></br></div>
    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Esta política será publicada y divulgada a todos los niveles de la organización. </p>
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>  
    
    <p></p>
    <p>Como constancia se firma el día <strong><%= @evidence.date.day if @evidence.date.present? %></strong> del mes de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> del año <strong><%= @evidence.date.year if @evidence.date.present? %></strong>.</p>
    <p></p>

    <%= render 'firmarepresentante' %>

</div>