<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<div> 
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%= wicked_pdf_image_tag asset_url('imgmv6.png'), height: "200", width: "auto" %>
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>


    <div>
        <h5><strong>1. ALCANCE</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El presente Plan Anual tiene como alcance a todos los trabajadores, contratistas y partes interesadas de <strong><%= @evidence.entity.business_name %></strong>, empresas contratistas, subcontratistas, trabajadores independientes y de servicios, además de cualquier visitante que ingrese a las áreas de trabajo de <strong><%= @evidence.entity.business_name %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>2. OBJETIVO</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Proteger la vida, salud y seguridad de los trabajadores propios y contratistas de <strong><%= @evidence.entity.business_name %></strong> a través de la promoción de una cultura de prevención y de riesgos, capaz de capacitar y motivar en nuestros colaboradores a realizar un trabajo seguro siempre.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>3. POLÍTICA DE SEGURIDAD Y SALUD EN EL TRABAJO</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
               <p><strong><%= @evidence.entity.objeto_entity %></strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p><strong><%= @evidence.entity.business_name %></strong> tiene como compromiso proporcionar condiciones de trabajo seguras y saludables para la prevención de lesiones y deterioro de la salud relacionados en el trabajo, realizando una adecuada identificación de peligros, evaluación, valoración y control de los riesgos para la seguridad y salud de todos sus empleados contratistas, proveedores y visitantes realizando a su vez actividades de promoción y prevención trabajando de la mano con ellos.</p>
            </td>
        </tr>
        <tr>
           <td style="text-align:justify">
                <p>Para el cumplimiento de lo anteriormente se establecen los siguientes lineamientos:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Compromiso desde la Alta Dirección, en la implementación del Sistema de Gestión de Seguridad y Salud en el Trabajo, asignando los recursos humanos, tecnológicos y financieros, garantizando el cumplimiento de los objetivos.</li>
                        <li>Prevenir accidentes y enfermedades laborales, como consecuencia a la exposición de los diferentes ambientes de trabajo de todos los empleados, contratistas, proveedores, pasantes y visitantes.</li>
                        <li>Dar cumplimiento a todas las disposiciones legales, Decretos, leyes, Resoluciones y demás normas que sean expedidas en materia de seguridad y salud en el trabajo; y a su vez, a implementarlas y ejecutarlas al interior de la Organización.</li>
                        <li>Establecer el principio de la mejora continua, en todos los procesos de aseguramiento de la Seguridad y Salud en el Trabajo.</li>
                        <li>Fomentar el autocuidado y participación a todo el personal y contratistas en materia de Seguridad y Salud en el trabajo.</li>
                        <li>Promover la salud mental, con miras a que todos los empleados que integren la organización estén en ambientes de trabajo saludables.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>4. ELABORACIÓN DE LÍNEA BASE DEL SISTEMA DE GESTIÓN DE LA SEGURIDAD Y SALUD EN EL TRABAJO</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El servicio de Seguridad y Salud en el Trabajo (SST) es el responsable de realizar el análisis de la Lista de Verificación de lineamientos del Sistema de Gestión de Seguridad y Salud en el Trabajo para la mejora continua del Sistema, prevención de riesgos laborales y mejora del bienestar de los trabajadores.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>5. OBJETIVOS, METAS Y PLAN ANUAL</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los objetivos, metas y plan anual establecidas se detallan a continuación:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Plan de mejoramiento evaluación inicial (R. 0312)</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>6. IMPLEMENTACIÓN DEL PLAN</strong></h5>
    </div>    
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>PRESUPUESTO</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Se tiene presupuesto para la implementación de la Seguridad y Salud en el Trabajo, indicado en los Recursos para el SG SST.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>PROGRAMA DE SEGURIDAD Y SALUD EN EL TRABAJO</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Se establece en un conjunto de actividades en relación con la Seguridad y Salud en el Trabajo a lo largo del año actual, a fin de prevenir accidentes de trabajo, enfermedades laborales y proteger la salud de los trabajadores.</p>
            </td>
        </tr>
    </table> 

    <%= render 'firmanorepresentante' %>
    <%= render 'firmarepresentante' %>

</div>
