<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<div> 
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div style="text-align:center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div style="text-align:center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 30%;">
            </td>
            <td style="text-align:center;width: 40%;">
                <%= wicked_pdf_image_tag asset_url('imgmv7.png'), height: "200", width: "auto" %>
            </td>
            <td style="text-align:center;width: 30%;">
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div class="row text-center">
        
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>


    <div>
        <h5><strong>OBJETIVO GENERAL</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer las pautas para la elaboración y control de los documentos y registros asociados al Sistema de Gestión de Seguridad y Salud en el Trabajo de <strong><%= @evidence.entity.business_name %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>OBJETIVOS ESPECÍFICOS</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Definir los pasos a seguir en la Producción Documental del Sistema de Gestión de Seguridad y Salud en el Trabajo.</li>
                        <li>Establecer los procedimientos que deben realizarse para la modificación y eliminación de los documentos que integran el Sistema de Gestión de Seguridad y Salud en el Trabajo (SGSST).</li>
                        <li>Permitir que el manejo de la documentación del SGSST refleje una adecuada Imagen Institucional, contribuyendo al fortalecimiento de la identidad visual.</li>
                        <li>Permitir un control eficaz y eficiente de la información y documentación, por medio de actividades de seguimiento, control y verificación.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>ALCANCE</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Acoge a todos los documentos que soportan el Sistema de Gestión de Seguridad y Salud en el Trabajo (SGSST) de <strong><%= @evidence.entity.business_name %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>RESPONSABLE</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Encargado del Sistema de Seguridad y Salud en el Trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>RESPONSABILIDADES</strong></h5>
    </div>    
    <table> 
        <tr>
           <td style="text-align:justify">
                <p>El empleador mantiene disponibles y debidamente actualizados entre otros, los siguientes documentos en relación con el SG-SST:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>La política y los objetivos de <strong><%= @evidence.entity.business_name %></strong> en materia de SST, firmados por el representante legal y revisados anualmente.</li>
                        <li>Las responsabilidades asignadas para la implementación y mejora continua del SG-SST.</li>
                        <li>La identificación anual de peligros, evaluación y valoración de los riesgos.</li>
                        <li>El informe de las condiciones de salud, junto con el perfil sociodemográfico de la población trabajadora y según los lineamientos de los programas de vigilancia epidemiológica en concordancia con los riesgos existentes en <strong><%= @evidence.entity.business_name %></strong>.</li>
                        <li>El plan de trabajo anual en SST, firmado por el empleador y el responsable del SG-SST.</li>
                        <li>El programa de capacitación anual en SST, así como de su cumplimiento incluyendo los soportes de inducción, reinducción y capacitaciones de los trabajadores. </li>
                        <li>Los procedimientos e instructivos internos de SST.</li>
                        <li>Registros de entrega de equipos y elementos de protección personal. </li>
                        <li>Registro de entrega de los protocolos de seguridad, de las fichas técnicas cuando aplique y demás instructivos internos de SST.</li>
                        <li>Los soportes de elección y aceptación del COPASST y las actas de sus actividades y los soportes de sus actuaciones.</li>
                        <li>Los reportes y las investigaciones de los incidentes, accidentes de trabajo y enfermedades laborales de acuerdo con la normatividad vigente. </li>
                        <li>La identificación de las amenazas junto con la evaluación de la vulnerabilidad y sus correspondientes planes de prevención, preparación y respuesta ante emergencias.</li>
                        <li>Los programas de vigilancia epidemiológica de la salud de los trabajadores, incluidos los resultados de las mediciones ambientales y los perfiles de salud arrojados.</li>
                        <li>Formatos de registros de las inspecciones a las instalaciones, maquinas o equipos ejecutadas.</li>
                        <li>La matriz legal actualizada que contemple las normas del Sistema General de Riesgos Laborales que le aplican a <strong><%= @evidence.entity.business_name %></strong>.</li>
                        <li>Evidencias de las gestiones adelantadas para el control de los riesgos prioritarios.</li>
                        <li>Los documentos pueden existir en papel, disco magnético, óptico o electrónico, fotografía, o una combinación de éstos y en custodia del responsable del desarrollo del SG-SST.</li>
                        <li>La documentación relacionada con el SG-SST, estará redactada de manera tal que sea clara y entendible por las personas que tienen que aplicarla o consultarla. Igualmente, debe ser revisada y actualizada cuando sea necesario difundirse y ponerse a disposición de todos los trabajadores, en los apartados que les compete.</li>
                        <li>El trabajador tiene derecho a consultar los registros relativos a su salud solicitándolo al médico responsable en <strong><%= @evidence.entity.business_name %></strong>, si lo tuviese, o a la institución prestadora de servicios de seguridad y salud en el trabajo que los efectuó. En todo caso, se debe garantizar la confidencialidad de los documentos, acorde con la normatividad legal vigente.</li>
                    </ul>
                </p>
            </td>
        </tr>
        <tr>
           <td style="text-align:justify">
                <p><strong>El procedimiento para la identificación y control de documentos y registros de SST incluye la metodología para su identificación, aprobación, publicación, eliminación según lo establecido en la legislación colombiana.</strong></p>
            </td>
        </tr>
        <tr>
           <td style="text-align:justify">
                <p>La documentación del SG-SST está a disposición de los trabajadores para su consulta, los documentos confidenciales pueden ser consultados a través de la responsable del SG-SST.</p>
            </td>
        </tr>
    </table> 
    <div>&nbsp;</div>
    <table>
        <tr style="background-color: #00aae4;">    
            <td style="border:1px solid black; width: 20%">
                <h6><strong>ACTIVIDAD</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 40%">
                <h6><strong>DESCRIPCIÓN</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 20%">
                <h6><strong>RESPONSABLE</strong></h6>                
            </td>
            <td style="border:1px solid black; width: 20%">
                <h6><strong>REGISTRO</strong></h6>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 20%">
                <strong>Se detecta la necesidad de crear el documento</strong>                
            </td>
            <td style="border:1px solid black; width: 40%">
                Los documentos deben ser aprobados así: procedimientos, instructivos, registros y formatos.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Responsable de SG-SST.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Documento realizado.                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 20%">
                <strong>Aprobación de documento</strong>                
            </td>
            <td style="border:1px solid black; width: 40%">
                El documento debe ser revisado y aprobado por la Gerencia y el profesional del SG-SST                
            </td>
            <td style="border:1px solid black; width: 20%">
                Responsable de SG-SST.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Documento aprobado.                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 20%">
                <strong>Distribución de documento</strong>
            </td>
            <td style="border:1px solid black; width: 40%">
                Una vez los documentos son aprobados, SST es responsable de actualizar y entregar o informar a los responsables.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Responsable de SG-SST.               
            </td>
            <td style="border:1px solid black; width: 20%">
                Documento realizado.                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 20%">
                    <strong>Actualización de documento</strong>
            </td>
            <td style="border:1px solid black; width: 40%">
                Cuando exista un cambio en el documento debe estipularse en el ítem identificación de cambios al final de cada documento, SST es el responsable de actualizar y entregar o informar a los responsables.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Responsable de SG-SST.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Documento realizado.                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 20%">
                <strong>Tiempos de archivo</strong>
            </td>
            <td style="border:1px solid black; width: 40%">
                Los documentos estarán 1 año archivados después de cualquier cambio realizado.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Responsable de SG-SST.                
            </td>
            <td style="border:1px solid black; width: 20%">
                Documentos realizados.                
            </td>
        </tr>
    </table>
    <div><br></div>
    <div>
        <h5><strong>CONSERVACIÓN DE DOCUMENTOS SEGÚN EL DECRETO 1072 DE 2015</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los siguientes documentos y registros deben ser conservados por un período mínimo de veinte (20) años, contados a partir del momento en que cese la relación laboral del trabajador con <strong><%= @evidence.entity.business_name %></strong>:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Los resultados de los perfiles epidemiológicos de salud de los trabajadores, así como los conceptos de los exámenes de ingreso, periódicos y de retiro de los trabajadores, en caso de que no cuente con los servicios de médico especialista en áreas afines a la seguridad y salud en el trabajo.</li>
                        <li>Cuando <strong><%= @evidence.entity.business_name %></strong> cuente con médico especialista en áreas afines a la seguridad y salud en el trabajo “los resultados de exámenes de ingreso, periódicos y de egreso, así como los resultados de los exámenes, las que se realicen con el objeto de monitorear los efectos hacia la salud de la exposición a peligros y riesgos; cuya reserva y custodia está a cargo del médico o IPS correspondiente.</li>
                        <li>Resultados de mediciones y monitoreo a los ambientes de trabajo, como resultado de los programas de vigilancia y control de los peligros y riesgos en seguridad y salud en el trabajo.</li>
                        <li>Registros de las actividades de capacitación, formación y entrenamiento en seguridad y salud en el trabajo.</li>
                        <li>Registro del suministro de elementos y equipos de protección personal. </li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>CONTENIDO DEL DOCUMENTO.</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El contenido del documento deberá ser claro, conciso, evitando redundancias y errores gramaticales y ortográficos, teniendo en cuenta que los documentos son la carta de presentación de <strong><%= @evidence.entity.business_name %></strong> ante las entidades con las que se tiene relación. Por razones de variación en los formatos, se recomienda que la fuente sea Century Gothic, el tamaño de fuente depende del tipo y tamaño del formato.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>IDENTIFICACIÓN DE CAMBIOS.</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Control de Cambios consiste en una tabla que permite llevar control sobre las solicitudes de modificación del documento, cuántas veces se ha llevado a cabo las modificaciones y por qué se las realizó. </p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>Esta tabla se debe incluir al final del documento, bajo los datos de elaboración y genera un formato denominado identificación de cambios. Los datos contenidos en la identificación de cambios son los siguientes:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td COLSPAN=3 style="border:1px solid black; text-align:center;">
                <strong>IDENTIFICACIÓN DE CAMBIOS</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                <strong>VERSION N°</strong>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <strong>FECHA DE APROBACIÓN</strong>
            </td>
            <td style="border:1px solid black;text-align:center;">
                <strong>DESCRIPCIÓN DEL CAMBIO</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;">
                <br>
            </td>
            <td style="border:1px solid black;">
                <br>
            </td>
            <td style="border:1px solid black;">
                <br>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;">
                <br>
            </td>
            <td style="border:1px solid black;">
                <br>
            </td>
            <td style="border:1px solid black;">
                <br>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;">    
                <br>
            </td>
            <td style="border:1px solid black;">
                <br>
            </td>
            <td style="border:1px solid black;">
                <br>
            </td>
        </tr>
    </table> 

    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Nota:</strong> Los datos de cierre del documento y control de cambios únicamente se registran en los documentos y no en los formatos ni registros. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <div>
        <h5><strong>FORMATO DE PROCEDIMIENTO.</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Un procedimiento es un documento que indica la forma específica para llevar a cabo una actividad; consta de dos partes, la primera se denomina caracterización contiene los siguientes datos:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li><strong>Objetivo:</strong> Establece el propósito que tiene el procedimiento.</li>
                        <li><strong>Alcance:</strong> Hace referencia al cubrimiento de las actividades del procedimiento.</li>
                        <li><strong>Responsable:</strong> Determina al (los) funcionario(s) que es (son) responsable(s) de la implementación de las actividades que conforman el procedimiento.</li>
                        <li><strong>Contenido:</strong> Se refiere al cuerpo del documento.</li>
                        <li><strong>Documentos que se deben utilizar:</strong> Información que está evidenciada por medio de un soporte magnético o impreso, estos documentos pueden ser internos o externos a <strong><%= @evidence.entity.business_name %></strong>.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>CONTROL DE REGISTROS</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El diligenciamiento de los registros puede llevarse a cabo de manera digital o manual.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>En los casos en que el formato se diligencie de manera manual, se deben tener en cuenta los siguientes aspectos:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Escribir con letra clara y legible.</li>
                        <li>Diligenciar todas las casillas que el formato solicita.</li>
                        <li>Evitar tachones y enmendaduras.</li>
                        <li>Cuando una casilla del formato que requiera diligenciamiento, no se diligenció, debe trazarse una línea para evitar diligenciamientos posteriores de información.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>

    <%= render 'firmaelaborodos' %>
</div>

