<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
<div> 
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div style="text-align:center">
                <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>
    </div>

    <div><br></div>
    <div><br></div>

    <div style="text-align:center">
        <strong>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 30%;">
            </td>
            <td style="text-align:center;width: 40%;">
                <%= wicked_pdf_image_tag asset_url('imgmv8.png'), height: "200", width: "auto" %>
            </td>
            <td style="text-align:center;width: 30%;">
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div class="row text-center">
        
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>


    <div>
        <h5><strong>1. OBJETIVO</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer la metodología para la adquisición de bienes, servicios, materiales, insumos, equipos, así como la selección evaluación y reevaluación de proveedores.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>2. ALCANCE</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento es de aplicación para la adquisición de bienes, servicios, materiales, insumos y equipos, así como para la selección evaluación y reevaluación de proveedores destinados a las actividades de <strong><%= @evidence.entity.business_name %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>3. ASPECTOS GENERALES </strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Este procedimiento debe permitir establecer los requisitos de Seguridad y Salud en el Trabajo requeridos para la compra de productos, bienes y servicios.</li>
                        <li>Determinar los requisitos de compra desde el punto de vista de seguridad y salud en el trabajo.</li>
                        <li>Comunicar a los proveedores los requerimientos en materia de Seguridad y Salud en el Trabajo establecidos en <strong><%= @evidence.entity.business_name %></strong>.</li>
                        <li>Identificar los peligros y riesgos en los productos, bienes y servicios recibidos garantizando que durante su desempeño se cumpla con los requisitos en SST.</li>
                        <li>Realizar las medidas de prevención y control recomendadas por Seguridad y Salud en el trabajo para las nuevas adquisiciones.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>RESPONSABILIDADES</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las compras y adquisiciones para <strong><%= @evidence.entity.business_name %></strong> son responsabilidad del área administrativa.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>DEFINICIONES</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Producto:</strong>Cualquier bien o servicio que es percibido como capaz de satisfacer una necesidad que presenta la oferta de una empresa y/o persona natural.</p>
                <p><strong>Proveedor:</strong>Organización o persona que proporciona un producto, EJEMPLO Productor, distribuidor, minorista o vendedor de un producto, o prestador de un servicio.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>ACTIVIDADES</strong></h5>
    </div>  
    <div><br></div>  
    <table> 
        <tr style="background-color: #00aae4;">
            <td style="border:1px solid black;text-align:center;width: 10%;">
                ÍTEM
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                ACTIVIDAD
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                RESPONSABLE
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                1
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Recepción de Solicitudes de Compra/Servicio:</strong> Por medio del diligenciamiento del formato de requisición de Compras. 
            </td>
            <td style="border:1px solid black;text-align:center;">
                Área Administrativa
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                2
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Identificación y Selección de Proveedor:</strong>Cuando surge la necesidad de adquirir un producto o servicio, se identifica el proveedor por medio del Listado Maestro de Proveedores, en casos que no exista el proveedor que entregue el producto o servicio requerido, se investiga por medio de directorio telefónico, referencias de los empleados u otros medios, las posibles personas o empresas que ofrezcan el producto o servicio requerido. <br>
                Se contacta al proveedor por vía telefónica, internet o personalmente, con el fin de solicitarle la información requerida para llenar el formato de Selección, Evaluación y Reevaluación del Proveedor, y teniendo en cuenta los resultados se selecciona o no al proveedor.
            </td>
            <td style="border:1px solid black;text-align:center;">
                Área Administrativa
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                3
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Solicitud de Cotizaciones a Proveedor: </strong>Se busca en el listado maestro de proveedores, los proveedores adecuados para solicitarles cotización. <br>
                En el caso que existe únicamente un solo proveedor en el mercado del bien o el servicio que se va a adquirir se hace una sola cotización independiente del valor de la compra.
            </td>
            <td style="border:1px solid black;text-align:center;">
                Área Administrativa
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                4
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Realización de Compra: </strong>Una vez se haya elegido el proveedor más conveniente para la compra (según cotización y calidad de productos/servicios ofrecidos), se diligencia el formato Orden de Compra, basado en la cotización, se hace llegar al proveedor y se cancela según la negociación previa.
            </td>
            <td style="border:1px solid black;text-align:center;">
                Área Administrativa
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                5
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Verificación de Producto y/o Servicio: </strong>Una vez el producto y/o servicio sea entregado por el proveedor se verifica que cumpla con las especificaciones dadas, de no ser así, se comunica al proveedor para realizar devolución para su corrección. Como constancia de verificación se firma en el formato de Orden de Compra, la conformidad con el producto o servicio recibido, en casos en que se presenten inconsistencias, se hace la anotación en el campo de observaciones del formato mencionado y se informa a proveedor para corrección.
            </td>
            <td style="border:1px solid black;text-align:center;">
                Área Administrativa
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                6
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Distribución de Productos Comprados:  </strong>Una vez culminada la compra en el caso de productos se envían los mismos distribuyéndolos según las requisiciones presentadas.
            </td>
            <td style="border:1px solid black;text-align:center;">
                Auxiliar Administrativa
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                7
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Evaluación y Re-evaluación del Proveedor:  </strong>Semestralmente se aplica diligenciando el formato de selección, evaluación y re-evaluación de proveedores. Con los resultados obtenidos se actualiza el listado maestro de proveedores, sí el proveedor resulta CONFIABLE, queda exento de la siguiente evaluación, si el proveedor resulta REGULARMENTE CONFIABLE, se le solicita al proveedor la corrección de sus fallas, para ello se le envía por escrito las deficiencias u observaciones que se hayan detectado durante el periodo de evaluación y si el proveedor resulta NO CONFIABLE, se solicita al proveedor plan de acción y se determina con la Dirección Ejecutiva su permanencia en el Listado. A los proveedores únicos se les aplican los criterios de evaluación, sin embargo, son únicamente con fines de monitoreo, ya que en algunos casos no es posible contar con otras alternativas para proveer el servicio o producto.
            </td>
            <td style="border:1px solid black;text-align:center;">
                Área Administrativa
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;text-align:center;">
                8
            </td>
            <td style="border:1px solid black;text-align:justify;">
                <strong>Retroalimentación al Proveedor:  </strong>Se envía carta informando al proveedor su clasificación y las acciones que deberá tomar (si así lo requiere), máximo 30 días después de realizada la evaluación.
            </td>
            <td style="border:1px solid black;text-align:center;">
                Área Administrativa
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>7. GENERALIDADES</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Se aceptarán cotizaciones oficiales y pueden ser emitidas por el proveedor a través de fax o medio electrónico.</li>
                        <li>La realización de las cotizaciones se hace telefónicamente y son con fines informativos, pues el menor precio no siempre será seleccionado, pues también se tiene en cuenta la calidad de los productos o servicios cotizados y los servicios post-venta ofrecidos.</li>
                        <li>Sólo se realizan cotizaciones para productos que se compran por primera vez o esporádicamente, con el fin de determinar qué proveedor ofrece mejores condiciones de negociación.</li>
                        <li>Para productos comunes se realiza la compra con los proveedores seleccionados, según Listado Maestro de Proveedores.</li>
                        <li>A los proveedores únicos se les aplican los criterios de evaluación, sin embargo, son únicamente con fines de monitoreo, ya que en algunos casos no es posible contar con algunas alternativas para proveer el servicio o producto.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>8. FORMATOS Y REGISTROS RELACIONADOS:</strong></h5>
    </div>    
    <table> 
        <tr>
            <td style="width: 100%;">
                 <p>
                    <ul>
                        <li><strong>Requisición de Compras</strong></li>
                        <li><strong>Listado Maestro de Proveedores</strong></li>
                        <li><strong>Orden de Compra</strong></li>
                        <li><strong>Evaluación de Proveedores</strong></li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>