<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h6>ACTA DE NOMBRAMIENTO Y ACEPTACIÓN COMO ASESOR DEL SISTEMA DE GESTIÓN DE SEGURIDAD Y SALUD EN EL TRABAJO</h6>
            </div>
        </div>
    </div>
    <table> 
        <tr>
            <td style="text-align:justify">
                El señor  <strong><%= @representante_legal.name if @representante_legal.present? %></strong> representante legal de:  <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> con  NIT:  <strong><%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong> designó como Asesor externo del Sistema De Gestión De Seguridad  Y  Salud  En  El  Trabajo al señor(a):  <strong><%= @asesor_externo_ssst.name if @asesor_externo_ssst.present? %></strong>, identificado(a) con documento de identidad N°: <strong><%= EvaluationRuleDetail.miles(@asesor_externo_ssst.nro_document) if @asesor_externo_ssst.present? %></strong> dando  cumplimiento  al Decreto 1072 del 2015 en su Título 4 capítulo 6,  la  Resolución 2013  del  6  de  junio  de  1986,    al  artículo  63  del  Decreto  Ley  1295  del  22  de  junio  de 1994,  Ley  1562  de  2012 y  a  las  exigencias  de  la  División  de  Seguridad  y  Salud  en  el Trabajo, del Ministerio de Trabajo, así como lo dispuesto en el Sistema de Gestión de Seguridad y Salud en el Trabajo de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, colocando a su disposición los medios necesarios y suficientes que requiera para ello. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                La responsabilidad consistirá en diseñar, implementar, ejecutar y controlar el cumplimiento en todo el ciclo PHVA del Sistema de Gestión y Seguridad y Salud en el Trabajo, así como, las responsabilidades inmersas en el Formato para roles y perfiles que le competen y todo lo relacionado con el sistema.
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Como aceptación del nombramiento, se firma esta acta en el Municipio de <strong><%= AdministrativePoliticalDivision.find(@evidence.entity.entity_location_code).municipality_name if @evidence.present? %></strong> a los <strong><%= @evidence.date.day if @evidence.date.present? %></strong> días del mes de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> del año <strong><%= @evidence.date.year if @evidence.date.present? %></strong>. 
            </td>
        </tr>
    </table>

    <br>
  
    <table> 
        <tr>
            <td style="text-align:justify">
                De manera libre y voluntaria acepto ser Asesor externo del Sistema de Gestión de Seguridad Y Salud en el Trabajo de la empresa <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, por lo tanto, dejo constancia de mi voluntad mediante la firma en el presente documento y adjunto mi licencia y curso de 50 horas.
            </td>
        </tr>
    </table>
    <div></br><div>
    <div></br><div>
 
    <%= render 'firmatodos' %>

<div>