<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>

<div class="container col-11 card p-5"> 
    
    <div><br></div>
    <div class="row text-center">
                <h2>PROCEDIMIENTO PARA EVALUACIONES MÉDICAS OCUPACIONALES</h2>
    </div>
    <div><br></div>
    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 30%;">
                <%= wicked_pdf_image_tag asset_url('imgmv9.png'), height: "300", width: "auto" %>
            </td>
        </tr>
    <table>     
    

    <p style='page-break-after:always;'></p>
    <div class="row text-center">
        <h5><strong>Tabla de contenido</strong></h5>
    </div>
    
    <div>
        <br>
        <p>1. Objetivo</p>
        <p>2. Alcance</p>
        <p>3. Definiciones</p>
        <p>4. Responsable</p>
        <p>5. Generalidades</p>
        <p>5.1 Contenido de la evaluación médica</p>
        <p>5.2. Diagnóstico de necesidades </p>
        <p>5.3 Custodia y entrega de las evaluaciones médicas ocupacionales y de las historias clínicas ocupacionales.</p>
        <p>5.4 Periodicidad de realización de los exámenes médico ocupacional. </p>
        <p>5.5 Restricciones y recomendaciones laborales.</p>
        <p>6. Descripción de actividades.</p>
        <p>7. Requisitos cumplidos</p>
        <p>8. Registros asociados al procedimiento. </p>
        <p>9. Visas </p>

    </div>

    <p style='page-break-after:always;'></p>
    <div><br></div>
    <div>
        <h5><strong>1. OBJETIVO</strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer un procedimiento que permita controlar y garantizar el desarrollo de los exámenes médicos ocupacionales de ingresó, periódicos y de retiro al personal que ingresa a laborar y a prestar sus servicios en la empresa <strong><%= @evidence.entity.business_name %></strong>. Verificando que las condiciones de salud previas al ingreso no se vean afectadas por los peligros presentes en el ambiente de trabajo en que debe desarrollar sus actividades y que éstas condiciones de salud sean las mismas al terminar su período laboral y de prestación de servicios en la empresa. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>2. ALCANCE</strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento aplica para todos el personal vinculado y prestador de servicios de la empresa <strong><%= @evidence.entity.business_name %></strong>. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>3. DEFINICIONES</strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Examen Médico Ocupacional:</strong> Acto médico mediante el cual se interroga y examina a un trabajador, con el fin de monitorear la exposición a factores de riesgo y determinar la existencia de consecuencias en la persona por dicha exposición. Incluye anamnesis, examen físico completo con énfasis en el órgano o sistema blanco, análisis de pruebas clínicas y paraclínicas, tales como: de laboratorio, imágenes diagnósticas, electrocardiograma, y su correlación entre ellos para emitir un el diagnóstico y las recomendaciones. </p>
                <p><strong>Examen de Ingreso:</strong> Son aquellas que se realizan para determinar las condiciones de salud física, mental y social del colaborador o contratista antes de su contratación, en función de las condiciones de trabajo a las que estaría expuesto, acorde con los requerimientos de la tarea y perfil del cargo. </p>
                <p><strong>Examen Periódico:</strong> Se realiza con el fin de monitorear la exposición a factores de riesgo e identificar en forma precoz, posibles alteraciones temporales, permanentes o agravadas del estado de salud del trabajador, ocasionadas por la labor o por la exposición al medio ambiente de trabajo. Así mismo, para detectar enfermedades de origen común, con el fin de establecer un manejo preventivo </p>
                <p><strong>Examen de Egreso (retiro):</strong> Aquellas que se deben realizar al trabajador cuando se termina la relación laboral. Su objetivo es valorar y registrar las condiciones de salud en las que el trabajador se retira de las tareas o funciones asignadas.  </p>
                <p><strong>Evaluación médica por cambio de ocupación:</strong>se realiza cada vez que el trabajador cambie de ocupación e implique cambio de medio ambiente laboral, de funciones, tareas o exposición a nuevos o diferentes factores de riesgo, en los que detecte un incremento de su magnitud, intensidad o frecuencia. El objetivo de esta evaluación es garantizar que el trabajador se mantenga en condiciones de salud física, mental y social acorde con los requerimientos de las nuevas tareas y sin que las nuevas condiciones de exposición afecten su salud. </p>
                <p><strong>Examen médico por reubicación:</strong>Este tipo de examen médico se practica a aquellos trabajadores que sufren algún menoscabo de su condición de salud como consecuencia de una enfermedad de origen laboral, de un accidente de trabajo o de una enfermedad general, la cual le impide desempeñarse apropiadamente en el cargo u oficio que desempeñaba previamente. En este examen, además de una muy buena evaluación médica, debe evaluarse apropiadamente las condiciones de riesgo del oficio desempeñado y de otros oficios en los cuales el trabajador pudiera laborar sin riesgo de agravar su estado de salud, con el fin de identificar el oficio más apropiado a sus actuales condiciones físicas y psicológicas.  </p>
                <p><strong>Examen médico Pos incapacidad o de reintegro laboral:</strong>Examen que se realiza a los trabajadores que por algún motivo han estado ausentes de su trabajo por un periodo prolongado (se sugiere más de 30 días) a causa de un Accidente de Trabajo, Enfermedad Laboral, Accidente Común u otros problemas relacionados con la salud y debe reintegrarse laboralmente, también se le realizará al trabajador que independientemente del tiempo de incapacidad haya sido atendido por eventos que requirieron hospitalizaciones o cirugías complejas.  </p>
                <p><strong>Historia clínica ocupacional: </strong>conjunto único de documentos privados, obligatorios y sometidos a reserva, en donde se registran cronológicamente las condiciones de salud de una persona, los actos médicos y los demás procedimientos ejecutados por el equipo de salud que interviene en su atención. Puede surgir como resultado de una o más evaluaciones médicas ocupacionales. </p>
                <p>Contiene y relaciona los antecedentes laborales y de exposición a factores de riesgo que ha presentado la persona en su vida laboral, así como resultados de mediciones ambientales y eventos de origen laboral. </p>
                <p><strong>Pruebas Complementarias:</strong>Conjunto de exámenes específicos de acuerdo a los factores de riesgo, que ayudan a la detección temprana de las alteraciones de salud, contribuyendo a la precisión del diagnóstico y al seguimiento. </p>
                <p><strong>Perfil del Cargo:</strong>Es la información con que cuenta el empleador acerca de las capacidades y condiciones físicas y mentales que debe tener un trabajador que va a desempeñar o se encuentra desempeñando determinado cargo o labor, en relación con los factores de riesgo a los que está o va a estar expuesto en el desarrollo de sus funciones y medio ambiente de trabajo. </p>
                <p><strong>Reintegro Laboral: </strong>Consiste en la actividad de reincorporación del trabajador al desempeño de una actividad laboral, con o sin modificaciones, en condiciones de competitividad, seguridad y confort, después de una incapacidad temporal o ausentismo, así como también, actividades de reubicación laboral temporal o definitiva o reconversión de mano de obra. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>4. RESPONSABLES</strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Alta dirección</strong></br> 
                Dar cumplimiento a este procedimiento y disponer de los recursos necesarios para su implementación. </p></br>
                <p><strong>Colaboradores</strong></br> 
                Es responsabilidad de los colaboradores cumplir con la cita al examen y con las recomendaciones para el cuidado de su salud emitidas durante este acto médico. </p></br>
                <p><strong>Contratistas</strong></br>
                Presentar al momento de su contratación los exámenes médicos ocupacionales de ingresos requeridos por el área de Seguridad y Salud en el trabajo con una vigencia no mayor a tres años. La empresa determinó que su vigencia no sea mayor a 6 meses. </p></br>
                <p><strong>Responsable del SST</strong></br>
                Evaluar, implementar y hacer seguimiento a las recomendaciones para la gestión de los riesgos emitidas en el diagnóstico de condiciones de la salud. </p></br>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <div>
        <h5><strong>5. GENERALIDADES</strong></h5>
    </div> 
    <div><br></div>
    <div>
        <h5><strong>5.1 CONTENIDO DE LA EVALUACIÓN MÉDICA</strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Toda evaluación médica ocupacional debe ser firmada por el colaborador o contratista y por el médico evaluador, con indicación de los números de registro médico y de la licencia en salud ocupacional, indicando el tipo de evaluación preocupacional, periódica, de egreso o específica, realizada. Tanto en las evaluaciones médicas preocupacionales como en las periódicas programadas, se deberán anexar los conceptos sobre restricciones existentes, describiendo cuáles son, ante qué condiciones, funciones, factores o agentes de riesgo se producen, indicando si son temporales o permanentes y las recomendaciones que sean pertinentes. </p>
                <p>La información mínima que debe quedar registrada en las diferentes evaluaciones médicas ocupacionales, debe ser la siguiente: </p>
                <p>
                    <ul>
                        <li>Fecha, departamento, ciudad en donde se realiza la evaluación médica.</li>
                        <li>Persona que realiza la evaluación médica. </li>
                        <li>Datos de identificación del empleador.  </li>
                        <li>Actividad económica del empleador. </li>
                        <li>Nombre de las correspondientes administradoras de pensiones, salud y riesgos profesionales a las cuales está afiliada el empleado. </li>
                        <li>Datos de identificación y sociodemográficos del colaborador o contratista. </li>
                        <li>Datos correspondientes al diligenciamiento de la historia clínica, haciendo énfasis en la ocurrencia de accidentes o enfermedades profesionales y su atención, así como en antecedentes ocupacionales, indicando nombre de la empresa, actividad económica, sección, cargo u oficio, descripción de tareas o funciones y anexando todo documento, soporte o fundamento aportado por la persona evaluada, en especial, lo correspondiente al desarrollo de tareas y funciones. Igualmente, procederá a complementar la información existente en la historia clínica cuando hubiere sido registrada con anterioridad. </li>
                        <li>Tiempo de antigüedad en cada cargo u oficio desempeñado por el evaluado. </li>
                        <li>Listado de factores de riesgo a los que haya estado expuesto, anotando niveles de exposición y valores límites permisibles a la fecha de la medición, si los hay, en cada oficio realizado, según lo referido por el trabajador y la información que se suministre como parte de los antecedentes laborales. Se deberá incluir en el listado, el tiempo en años y meses de exposición a cada agente y factor de riesgo y las medidas de control implementadas. </li>
                        <li>Datos resultantes del examen físico. </li>
                        <li>Impresión diagnóstica o diagnóstico confirmado, que puede incluir la presunción de origen profesional, cuando la hubiere, caso en el cual se deberá fundamentar brevemente. </li>
                    </ul>        
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>5.2 DIAGNOSTICO DE CONDICIONES DE SALUD:</strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La persona jurídica que realice las evaluaciones médicas ocupacionales de cualquier tipo, deberá entregar a <strong><%= @evidence.entity.business_name %></strong>, un informe o Diagnóstico general de condiciones de salud de la población trabajadora analizada. Este informe debe tener como mínimo: </p>
                <p>a. Información sociodemográfica (con número de personas analizadas, genero, grupos etarios, composición familiar, estrato sociodemográfico). </p>
                <p>b. Antecedentes de exposición laboral a diferentes factores de riesgos ocupacionales ergonómicos especialmente. </p>
                <p>c. Información de exposición laboral actual a riesgos ocupacionales según la manifestación de los trabajadores y los resultados objetivos analizados durante la evaluación médica. Tal información deberá estar diferenciada según áreas u oficios. </p>
                <p>d. Sintomatología reportada por los empleados. </p>
                <p>e. Resultados generales de las pruebas clínicas o paraclínicas complementarias a los exámenes físicos realizados. </p>
                <p>f. Impresiones diagnósticas encontradas en la población trabajadora. </p>
                <p>g. Análisis y conclusiones de la evaluación. </p>
                <p>h. Recomendaciones.</p>
                <p>i. Cusdstodia y entrega de las evaluaciones médicas ocupacionales.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>5.3 CUSTODIA Y ENTREGA DE LAS EVALUACIONES MÉDICAS OCUPACIONALES Y DE LAS HISTORIAS CLÍNICAS OCUPACIONALES. </strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para la custodia y entrega de las evaluaciones médicas ocupacionales y de las historias clínicas ocupacionales se aplicarán las siguientes reglas: </p>
                <p>
                    <ul>
                        <li>La custodia de las evaluaciones médicas ocupacionales y de la historia clínica ocupacional estará a cargo del prestador de servicios de seguridad y salud en el trabajo que la generó en el curso de la atención, cumpliendo los requisitos y procedimientos de archivo conforme a las normas legales vigentes para la historia clínica.</li>
                        <li>La historia clínica ocupacional del trabajador, estará a cargo de la IPS contratada para la realización de la evaluación médica ocupacional y son responsables de garantizar su confidencialidad, conforme lo establece el artículo 16 de la Resolución 2346 de 2007 y las demás normas que lo modifiquen, adicionen o sustituyan. En ningún caso, los empleadores podrán tener, conservar o anexar copia de las evaluaciones médicas ocupacionales y de la historia clínica ocupacional a la hoja de vida del trabajador.</li>
                        <li>El responsable de la custodia podrá entregar copia de la historia clínica ocupacional al trabajador, cuando éste lo solicite por escrito.</li>
                        <li>Para el caso de los contratistas, la historia clínica la tendrá la IPS con la cual este haya contratado el servicio.</li>
                        <li>En caso de muerte del empleado, la copia de la historia clínica ocupacional será entregada únicamente al cónyuge, compañera (o) permanente, hijos y causahabientes, así como a aquellas personas autorizadas expresamente por la ley.</li>
                        <li>En el evento que los documentos de la historia clínica ocupacional se encuentren en diversas instituciones, la entidad o persona competente que requiera información contenida en ellos, podrá solicitar copia de los mismos a la entidad que los tiene a su cargo, previa autorización del empleado.</li>
                    </ul>        
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>5.4 PERIODICIDAD DE REALIZACIÓN DE LOS EXÁMENES MÉDICO OCUPACIONALES. </strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><strong>Los exámenes médicos ocupacionales de ingreso,</strong> que se realizarán antes de la contratación de un colaborador o contratista, ante un cambio de ocupación y como requisito para su vinculación o contratación para la prestación del servicio, deberán cumplir con los criterios establecidos previamente, incluidos los requisitos del perfil del cargo y con la información emitida por el médico especialista en términos de concepto de aptitud para el cargo, restricciones (si las hay) y recomendaciones. El departamento administrativo (selección de personal) y el representante del área interesada en la vinculación del aspirante, de acuerdo con los criterios descritos, definirán la contratación del aspirante o colaborador para el cargo definido, teniendo en cuenta el cumplimiento de las restricciones y/o recomendaciones emitidas por el médico evaluador. </li>
                        <li><strong>Los exámenes médicos ocupacionales periódicos:</strong> se realizarán cada dos años, sin embargo, acorde a la asesoría realizada por la ARL las audiometrías se desarrollarán cada 3 años, de acuerdo con el tipo, magnitud y frecuencia de exposición a cada factor de riesgo, así como al estado de salud general de nuestros empleados. Para los contratistas la renovación de sus exámenes deberá ser cada tres años. Este concepto será revisado en la medida en que se actualicen o modifiquen las condiciones de trabajo existentes, según los criterios definidos en los sistemas de vigilancia epidemiológica y de manera individual cuando el nivel de riesgo lo amerite. 
                        Estas valoraciones deberán dar como resultados unas recomendaciones individuales para el trabajador y un informe de condiciones de salud con un resumen de los resultados estadísticos de los hallazgos. Se hará seguimiento al cumplimiento de las recomendaciones por parte del trabajador y se evaluará la implementación de las recomendaciones emitidas en el informe de condiciones de salud. Si el médico especialista remite al trabajador a la EPS, especialmente por causa de una presunta enfermedad laboral, se deberá hacer seguimiento al cumplimiento por parte del trabajador del proceso asistencial y de las recomendaciones. </li>
                        <li><strong>El examen ocupacional de egreso o retiro</strong> se realizará a todos los colaboradores que se retiren de la empresa con el objeto de verificar las condiciones de salud al momento de su retiro y revisar si requieren remisión a la EPS o ARL (por sospecha de enfermedad laboral). La empresa emitirá la solicitud de examen de egreso y si el trabajador renuncia al examen se debe dejar constancia con copia a la hoja de vida. El trabajador cuenta con 5 días para realizarse el examen de retiro, en caso de no realizarlo, aun después de recibida la autorización, se entenderá como una renuncia al examen</li>
                    </ul>        
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>5.5 RESTRICCIONES Y RECOMENDACIONES LABORALES: </strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El médico debe respetar la reserva de la historia clínica ocupacional y sólo remitirá al empleador o contratista el certificado médico, indicando las restricciones existentes y las recomendaciones o condiciones que se requiere adaptar para que estos puedan desempeñar la labor.
                Tanto en las evaluaciones médicas pre ocupacionales como en las periódicas programadas, se deberán anexar los conceptos sobre restricciones existentes, describiendo cuáles son, ante qué condiciones, funciones, factores o agentes de riesgo se producen, indicando si son temporales o permanentes y las recomendaciones que sean pertinentes.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>DESARROLLO DE LAS ACTIVIDADES  </strong></h5>
    </div> 
    <table> 
        <tr style="background-color: #00aae4;">
            <td style="border:1px solid black;text-align:center;width: 20%;">
                Actividad
            </td>
            <td style="border:1px solid black;text-align:center;width: 40%;">
                Descripción
            </td>
            <td style="border:1px solid black;text-align:center;width: 20%;">
                Responsable
            </td>
            <td style="border:1px solid black;text-align:center;width: 20%;">
                Registro
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;">Identificación de la necesidad de  los exámenes requeridos para el personal vinculado o contratista.</td>
            <td style="border:1px solid black;">Enviar al laboratorio médico contratado o institución prestadora de salud IPS seleccionada, el profesiograma y/o perfiles de cargo requerido para la realización de los exámenes médicos.</td>
            <td style="border:1px solid black;">Responsable del SG-SST</td>
            <td style="border:1px solid black;">Profesiograma </br> Correo electrónico</td>
        </tr>
        <tr>
            <td style="border:1px solid black;">Programación exámenes médicos</td>
            <td style="border:1px solid black;">Notificar al empleado acerca de la realización de la evaluación médica requerida indicando el lugar, requisitos que apliquen para la práctica de cada uno de los exámenes y hora en donde se efectuará la evaluación médica. En el caso de los contratistas este se le notificará con los requisitos necesarios para la contratación.</td>
            <td style="border:1px solid black;">Responsable del SG-SST</td>
            <td style="border:1px solid black;">Correo electrónico</td>
        </tr>
        <tr>
            <td style="border:1px solid black;">Evaluación médica de ingreso</td>
            <td style="border:1px solid black;">Se realizan para determinar las condiciones de salud física, mental y social del colaborador o contratista, antes de su contratación, en función de las condiciones de trabajo a las que está expuesto, acorde con los requerimientos de la tarea y perfil del cargo.</td>
            <td style="border:1px solid black;">Responsable del SG-SST</td>
            <td style="border:1px solid black;">Exámenes médicos ocupacionales </br> Matriz de seguimiento a exámenes ocupacionales</td>
        </tr>
        <tr>
            <td style="border:1px solid black;">Seguimiento a recomendaciones y/o restricciones médicas</td>
            <td style="border:1px solid black;">Entrega de resultados por parte de la entidad contratada y en el caso de encontrar una recomendación, restricción o direccionamiento a su EPS médica informarle al empleado para tomar acciones a seguir.</td>
            <td style="border:1px solid black;">Responsable del SG-SST</td>
            <td style="border:1px solid black;">Certificados médicos </br> Matriz de seguimiento a exámenes ocupacionales </br> Compromiso de recomendaciones y restricciones médico laborales </br> Carta seguimiento EPS</td>
        </tr>
        <tr>
            <td style="border:1px solid black;">Informe de condiciones de salud</td>
            <td style="border:1px solid black;">El laboratorio médico contratado o institución prestadora de salud IPS entregará el informe de condiciones de salud de la población analizada, según los requerimientos consignados en la resolución 2346 de 2007 o en el numeral 6 de este documento.</td>
            <td style="border:1px solid black;">laboratorio médico contratado o Institución prestadora de salud IPS seleccionada</td>
            <td style="border:1px solid black;">Diagnóstico de condiciones de salud</td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>7. REQUISITOS CUMPLIDOS </strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>7.1 Decreto 1072 de 2015.</p>
                <p>7.2 Resolución 2346 de 2007.</p>
                <p>7.3. Resolución 1918 de 2009.</p>
                <p>7.4. Decreto 0723 DE 2013.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <h5><strong>8. REGISTROS ASOCIADOS AL PROCEDIMIENTO </strong></h5>
    </div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La información contenida en los exámenes periódicos individuales será consolidada en el formato </p>
                <p>
                    <ul>
                        <li><strong>Matriz de seguimiento Exámenes ocupacionales</strong> </li>
                        <li><strong>Profesiograma</strong> </li>
                        <li><strong>Compromiso de recomendaciones y restricciones médico laborales</strong> </li>
                        <li><strong>Carta seguimiento EPS</strong> </li>
                    </ul>        
                </p>
            </td>
        </tr>
    </table> 

    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaboro' %>
</div>
