<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6>COMITÉ DE CONVIVENCIA LABORAL:</h6>
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6>Nombre:  <strong><%= @colaborador_ssst.name if @colaborador_ssst.present? %></strong></h6>
                <h6>Cargo:  <strong><%= @colaborador_ssst.activity if @colaborador_ssst.present? %></strong></h6>
            </div>
        </div>
    </div>
    <hr>  
    <div class="row">
        <div class="col-11">
            <div class="row">
                <h6><strong>Responsabilidades en Seguridad y Salud en el Trabajo</strong></h6>
            </div>
        </div>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
               * Recibir y dar trámite a las quejas presentadas en las que se describan situaciones que puedan constituir acoso laboral, así como las pruebas que las soportan. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Examinar de manera confidencial los casos específicos o puntuales en los que se formule queja o reclamo, que pudieran tipificar conductas o circunstancias de acoso laboral, al interior de la entidad pública o empresa privada.  <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Escuchar a las partes involucradas de manera individual sobre los hechos que dieron lugar a la queja.  <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Adelantar reuniones con el fin de crear un espacio de diálogo entre las partes involucradas, promoviendo compromisos mutuos para llegar a una solución efectiva de las controversias.  <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Formular planes de mejora y hacer seguimiento a los compromisos. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Presentar a la alta dirección las recomendaciones para el desarrollo efectivo de las medidas preventivas y correctivas del acoso laboral. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
               * Elaborar informes trimestrales sobre la gestión del Comité que incluya estadísticas de las quejas, seguimiento de los casos y recomendaciones. <br>
            </td>
        </tr>

        <tr><td><br></td></tr>                
    </table>
    <% @firms.each do |firm| %>
        <% if firm.legal_representative == 0 %>
            <div class="row"> 
                <div class="col-11">
                    <div>&nbsp;</div>
                    <% if firm.authorize_firm == 1 %>
                       <% if firm.user.firm.attached? %>
                          <% if firm.user.firm.image? %> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag firm.user.firm, class: "firma" %>
                               <p>Firma Empleado: ________________________________</p>
                          <% end %>
                        <% end %>
                    <% else %>    
                        <p>Firma Empleado: ________________________________</p>
                    <% end %>     
                </div>
            </div>
        <% end %>    
    <% end %>
    <% @firms.each do |firm| %>
        <% if firm.legal_representative == 1 %>
            <div class="row"> 
                <div class="col-11">
                    <div>&nbsp;</div>
                    <% if firm.authorize_firm == 1 %>
                       <% if firm.user.firm.attached? %>
                          <% if firm.user.firm.image? %> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag firm.user.firm, class: "firma" %>
                               <p>Firma Representante Legal: ________________________________</p>
                          <% end %>
                        <% end %>
                    <% else %>    
                        <p>Firma Representante Legal: ________________________________</p>
                    <% end %>     
                </div>
            </div>
            <br>
        <% end %>    
    <% end %>

</div>
<br>