<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= @evidence.entity.identification_number if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%= wicked_pdf_image_tag asset_url('imgmv10.png'), height: "300", width: "auto" %>
            </td>
        </tr>
    <table>     


    <div><br></div>
    <div class="row text-center">
        <h2><%= @evidence.year_initial if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div class="row text-center">
        <strong>CONTENIDO</strong>
    </div>
    
    <div><br></div>
    <div class="col-10 text-justify">
        <p><strong>1. JUSTIFICACIÓN</strong></p>
        <p><strong>2. OBJETIVOS</strong></p>
        <p><strong>2.1 OBJETIVO GENERAL</strong></p>
        <p><strong>2.2. OBJETIVOS ESPECÍFICOS</strong></p>
        <p><strong>3. ALCANCE</strong></p>
        <p><strong>4. LEGISLACIÓN</strong></p>
        <p><strong>5. METODOLOGÍA</strong></p>
        <p><strong>6. MARCO CONCEPTUAL</strong></p>
        <p><strong>7. RESPONSABILIDADES</strong></p>
    </div>
    <p style='page-break-after:always;'></p>


    <div>
        <strong>INTRODUCCIÓN</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El fomento de estilos de vida y trabajo saludable consiste en impulsar un plan de acción coordinado y con esfuerzo común entre trabajadores y el representante legal que promocionen la salud y prevengan la enfermedad, teniendo en cuenta que gran parte del día se permanece en el lugar del trabajo; se busca la adopción de medidas que le permitan al trabajador evitar el sedentarismo y hábitos que afecten su salud.</p>
                <p>Definiendo la Seguridad y Salud en el Trabajo, como la disciplina que trata de la prevención de las lesiones y enfermedades causadas por las condiciones de trabajo, y de la protección y promoción de la salud de los trabajadores. Tiene por objeto mejorar las condiciones y el medio ambiente de trabajo, así como la salud en el trabajo, que conlleva la promoción y el mantenimiento del bienestar físico, mental y social de los trabajadores en todas las ocupaciones.</p>
                <p>Se puede evidenciar la importancia que tiene la implementación del programa de estilos de vida y trabajo saludable.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>1. JUSTIFICACIÓN</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify"> 
                <p>La finalidad de las intervenciones de prevención primaria es desplazar el perfil de toda la población en una dirección más saludable, potenciando la salud y bienestar de los trabajadores. Estas intervenciones son responsabilidad compartida entre las personas, las organizaciones, las ARL y EPS. Según la normatividad Colombiana vigente en la materia todo trabajador deberá responsabilizarse de los programas de medicina preventiva en los lugares de trabajo donde se efectúen sus actividades que pueden causar riesgos para la salud, es por esta razón que <strong><%= @evidence.entity.business_name %></strong> busca a través del Programa de Estilos de Vida Saludable promover la cultura de autocuidado y generar acciones de intervención integral en los factores de riesgo para la prevención de enfermedades crónicas no transmisibles asociadas a los estilos de vida de los trabajadores.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>2. OBJETIVOS</strong>
    </div> 
    <div>
        <strong>2.1 OBJETIVO GENERAL</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify"> 
                <p>Promover estilos de vida saludable orientados a la promoción de la salud y la prevención de enfermedades de los empleados de <strong><%= @evidence.entity.business_name %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2.2 OBJETIVO ESPECÍFICOS</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Promover estilos de vida saludables que ayuden a mejorar la calidad de vida de los trabajadores.</li>
                        <li>Generar espacios de reflexión que motiven la adopción de conductas de autocuidado en los trabajadores.</li>
                        <li>Sensibilizar al personal de <strong><%= @evidence.entity.business_name %></strong> sobre los diferentes hábitos de vida saludable que pueden aplicar a su vida cotidiana y que permiten mejorar su salud.</li>
                        <li>Brindar asesoría sobre cómo realizar actividad física, teniendo en cuenta diversas variables como la intensidad, frecuencia, duración y progresión, la frecuencia cardiaca y la escala de percepción del esfuerzo.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>3. ALCANCE</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify"> 
                <p>Este programa va dirigido a todos los empleados y contratistas de <strong><%= @evidence.entity.business_name %></strong>.
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>4. LEGISLACIÓN</strong>
    </div>    
    <div><br></div>  
    <table> 
        <tr>
            <td style="background-color: #00aae4;border:1px solid black;text-align:center;width: 40%;">
                RESOLUCIÓN 1016 DE 1989
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                Artículo 10 numeral 16. Promover actividades de recreación y Deporte
            </td>
        </tr>
        <tr>
            <td style="background-color: #00aae4;border:1px solid black;text-align:center;width: 40%;">
                RESOLUCIÓN 2646 DE 2008
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                Por la cual se establecen disposiciones y se definen responsabilidades para la identificación, evaluación, prevención, intervención y monitoreo permanente de la exposición a factores de riesgo psicosocial en el trabajo.
            </td>
        </tr>
        <tr>
            <td style="background-color: #00aae4;border:1px solid black;text-align:center;width: 40%;">
                LEY 1335 DE 2009
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                En todas las áreas cerradas no se podrá fumar, tanto en lugares de trabajo, como en los públicos, además donde se realicen eventos masivos.
            </td>
        </tr>
        <tr>
            <td style="background-color: #00aae4;border:1px solid black;text-align:center;width: 40%;">
                LEY 1562 DE 2012
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                Servicios de promoción y prevención
            </td>
        </tr>
        <tr>
            <td style="background-color: #00aae4;border:1px solid black;text-align:center;width: 40%;">
                LEY 9 DE 1979
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                Preservar, conservar y mejorar la salud de los individuos en sus ocupaciones.
            </td>
        </tr>
        <tr>
            <td style="background-color: #00aae4;border:1px solid black;text-align:center;width: 40%;">
                LEY 50 DE 1990
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                Dedicación exclusiva en determinadas actividades. En las empresas con más de cincuenta (50) trabajadores que laboren cuarenta y ocho (48) horas a la semana, estos tendrán derecho a que (2) horas de dicha jornada, por cuenta del empleador, se dediquen exclusivamente a actividades recreativas, culturales, deportivas o de capacitación.
            </td>
        </tr>
        <tr>
            <td style="background-color: #00aae4;border:1px solid black;text-align:center;width: 40%;">
                DECRETO 1072 DE 2015
            </td>
            <td style="border:1px solid black;text-align:center;width: 60%;">
                Establecer las actividades de promoción y prevención tendientes a mejorar las condiciones de trabajo y salud de los Trabajadores.
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <p><strong>5. METODOLOGÍA</strong></p>
        <p>El Diseño del Programa en Estilos de Vida y Trabajo Saludable se realiza:</p>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Identificando y clasificando los factores de riesgo en los lugares de trabajo, los riesgos individuales de los empleados, por medio de inspecciones y aplicación de encuestas.</li>
                        <li>Realizando una evaluación multidisciplinaria (médico laboral, nutricional, psicológica y fisioterapéutica), que permita identificar los hallazgos más importantes de la población.</li>
                        <li>Realizando un Informe de los resultados encontrados mediante la creación de base de datos que permite establecer tablas y gráficos con el fin de determinar la incidencia de desórdenes músculo esqueléticos, identificación de factores de riesgos psicosociales intralaborales, extralaborales e intrapersonales.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <p><strong>6. MARCO CONCEPTUAL</strong></p>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p><strong>Promoción de la salud:</strong> La promoción consiste en proporcionar los medios necesarios para crear o mantener condiciones protectoras y favorables a la salud, logrando que los individuos, los grupos y las comunidades ejerzan un mayor control sobre su salud y adopten patrones de vida saludable.</p>
                 <p>La promoción de la salud se refiere principalmente al desarrollo de los patrones de vida sanos, la salud se promueve generando un nivel de vida adecuado, buenas condiciones de trabajo, educación, actividad física y mecanismos para el descanso y la recreación.</p>
                 <p>La promoción es considerada como una estrategia para mantener y mejorar la salud de las personas a través de intervenciones de comunicación – información, educación, formación y desarrollo de habilidades que faciliten cambios de comportamientos individuales y colectivos. En el aspecto laboral se busca promover ambientes de trabajo seguros y saludables.</p>
                 <p><strong>Estilos de vida y trabajo saludable:</strong> Los estilos de vida han sido considerados como factores determinantes y condicionantes del estado de salud de un individuo que están condicionados a través de experiencias de aprendizaje, las cuales se adaptan, se adquieren o modifican de acuerdo con los comportamientos deseados. </p>
                 <p>En este sentido, a través de la enseñanza se producen cambios favorables en el comportamiento del que aprende. El saber se obtiene con el conocimiento, lo que le da la opción de desarrollar su personalidad que es el saber ser; siendo para esto necesario que la persona que aprende además comprenda, analice, reflexione y adquiera competencias o habilidades prácticas.</p>
                 <p><strong>El autocuidado:</strong> Es la capacidad de decidir, de optar de elegir, no únicamente como actos de la razón o como tareas o deberes derivados de los roles funcionales o desencadenados por las instituciones de salud.</p>
                 <p>El autocuidado es la capacidad de las personas para elegir libremente la forma segura de trabajar, se relaciona con el conocimiento de los Factores de Riesgo que puedan afectar su desempeño y /o producir accidentes de trabajo o enfermedades profesionales.</p>
                 <p>El autocuidado cumple un rol clave en la Cultura de Prevención y la Seguridad en el Trabajo, es la base sobre la cual cada persona adopta conductas seguras en los ambientes laborales y contribuye con su propio cuidado y el de sus compañeros.</p>
                 <p><strong>Patología Osteomuscular:</strong> Signos y síntomas que pueden afectar distintas partes del cuerpo: manos, muñecas, codos, nuca, espalda, así como distintas estructuras anatómicas: huesos, músculos, tendones, nervios, articulaciones.</p>
                 <p>Estas alteraciones no siempre pueden identificarse clínicamente: dado que el síntoma clave, el dolor, es una sensación subjetiva y representa muchas veces la única manifestación. Tampoco es extraño que no se puedan catalogar con un diagnóstico preciso: cervicalgia (dolor cervical) o lumbalgia (dolor lumbar) solo indican la localización anatómica de un síntoma. Su origen, es debido a múltiples causas, y su carácter acumulativo a lo largo del tiempo añaden dificultades a una definición precisa.</p>
                 <p><strong>Higiene postural:</strong> Es el cuidado en el manejo o posición del cuerpo que consiste en aprender cómo adoptar posturas y realizar movimientos y esfuerzos de forma que la carga para el cuerpo, en especial la columna sea lo menor posible para disminuir el riesgo de sufrir molestias osteomusculares. </p>
                 <p><strong>Medicina preventiva y del trabajo:</strong> Conjunto de actividades médicas y paramédicas destinadas a promover y mejorar la salud del trabajador, evaluar su capacidad laboral y ubicarlo en un lugar de trabajo de acuerdo con sus condiciones psicobiológicas.</p>
                 <p>Dentro de las actividades desarrolladas en estas dos disciplinas encontramos: Prevención de enfermedades profesionales y educación en salud. Vigilancia epidemiológica de enfermedades profesionales y patologías relacionadas con el trabajo y ausentismo por tales causas.</p>
                 <p>
                    <ul>
                         <li>Exámenes médicos, clínicos y paraclínicos para selección y ubicación del personal.</li>
                         <li>Espacios para descanso, capacitación y recreación para los trabajadores.</li>
                         <li>Informar al representante legal sobre los problemas de salud de los trabajadores para la prevención de las enfermedades profesionales y accidentes de trabajo.</li>
                         <li>Servicio oportuno de primeros auxilios.</li>
                         <li>Colaborar con el comité paritario de Salud Ocupacional de la Organización. </li>
                         <li>Desarrollar actividades de prevención de enfermedades profesionales, accidentes de trabajo y educación en salud a empresarios y trabajadores, en coordinación con el subprograma de Higiene y Seguridad Ocupacional. </li>
                         <li>Campañas que promuevan y mejoren la salud del trabajador. </li>
                         <li>Sistemas de vigilancia epidemiológica.</li>
                    </ul>
                 </p>
                 <p><strong>Ergonomía:</strong> Es la interacción del hombre con las máquinas y su puesto de trabajo, que puedan causar efectos en la salud y es conocida como la ciencia que trata de obtener el máximo rendimiento, reduciendo los riesgos de error humano a un mínimo, al mismo tiempo que trata de disminuir la fatiga y eliminar en tanto sea posible los peligros para el trabajador con métodos científicos y teniendo en cuenta las características antropométricas de la persona. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <p><strong>7. RESPONSABILIDADES</strong></p>
        <p><strong>* Representante legal:</strong></p>
        <p>Es el responsable de gestionar los recursos técnicos, humanos y financieros necesarios para el cumplimiento del Programa.</p>
        <p></p>
        <p><strong>* Responsable del SG-SST:</strong></p>
        <p>Es el encargado de la ejecución y actualización del Programa de Estilos de Vida y Trabajo Saludable.</p>
        <p></p>
        <p><strong>* Colaboradores:</strong></p>
        <p>Cumplirán a cabalidad el presente Programa y serán responsables de sus condiciones de salud y seguridad y la de las demás personas.</p>
        <p></p>
    </div> 
    <div><br></div>    

    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaboro' %>
