<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%=  image_tag('imgmv11.png', height: "300", width: "auto")  %>
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div class="row text-center">
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div>
        <strong>INTRODUCCIÓN</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este manual de buenas prácticas ambientales ayudará a concientizar a todo el personal de <strong><%= @evidence.entity.business_name %></strong> sobre la importancia de la protección del medio ambiente y de correcta implantación del sistema de gestión ambiental.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>OBJETIVO</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Formar al personal en la temática ambiental.</li>
                        <li>Prevenir y controlar los aspectos ambientales antes, durante y después de su generación.</li>
                        <li>Minimizar el efecto ambiental de las emisiones atmosféricas, de los ruidos y vertidos de contaminantes a la red de saneamiento planificar la estrategia y la actividad de <strong><%= @evidence.entity.business_name %></strong> al introducir como factor de mejora continua la protección del medio ambiente.</li>
                        <li>Conseguir la disminución del consumo de agua y de los recursos energéticos de toda índole disminuir la generación de residuos y fomentar la gestión adecuada para facilitar su valorización.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        Las principales buenas prácticas aquí propuestas tienen que ver con:
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Energía</li>
                        <li>Agua</li>
                        <li>Residuos</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <p><strong>ENERGÍA</strong></p>
        <p><strong>Máquinas Y Equipos</strong></p>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Tener los distintos aparatos, dispositivos, maquinarias y sistemas eléctricos apagados cuando no se utilizan, incluidos periodos cortos, como las horas de descanso y de almuerzo.</li>
                        <li>Utilizar modos de eficiencia energética en los equipos.</li>
                        <li>Utilizar los equipos informáticos en forma de bajo consumo, incluyendo que se apaguen automáticamente tras un pequeño periodo de inactividad.</li>
                        <li>Se recomienda configurar el salvapantallas en modo “black screen”.</li>
                        <li>Apagar el ordenador si no va a ser utilizado y al salir de cada jornada de trabajo.</li>
                        <li>Debería minimizarse la utilización de impresoras y fotocopiadoras y estar encendidas solamente cuando vayan a ser utilizadas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <div>
        <p><strong>ILUMINACIÓN</strong></p>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Apagar las luces cuando no se necesitan. </li>
                        <li>Hacer un uso racional de la iluminación y aprovechar todo lo posible la luz natural.</li>
                        <li>Lavar las ventanas semanalmente para el aprovechamiento de la luz natural.</li>
                        <li>No apagar los tubos fluorescentes en salas donde sea necesario volver a encenderlos en menos de 30 minutos, ya que el mayor consumo de energía de los mismos se produce en el encendido.</li>
                        <li>Persuadir al personal que sea el último en abandonar <strong><%= @evidence.entity.business_name %></strong> así como al personal de limpieza, para que apaguen las luces cuando finalicen sus tareas.</li>
                        <li>Realizar la limpieza y mantenimiento adecuado de las bombillas y lámparas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%=  image_tag('imgmv12.png', height: "300", width: "auto")  %>
            </td>
        </tr>
    <table> 

    <div><br></div>
    <div><br></div>
    <div>
        <p><strong>AGUA</strong></p>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Hacer un consumo responsable del agua.</li>
                        <li>En caso de detectar una fuga, cerrar la llave de paso del agua y proceder rápidamente a avisar al servicio de mantenimiento para su reparación.</li>
                        <li>Instalar dispositivos limitadores de presión y difusores en los grifos. </li>
                        <li>No utilizar el inodoro como papelera. </li>
                        <li>En equipos o grifos temporizados regula el tiempo de descarga ajustándose a la demanda existente. </li>
                        <li>Asegurarse de que la cantidad de agua empleada en la limpieza es la adecuada. </li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <p><strong>VERTIDOS</strong></p>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>La mayor parte de los vertidos que se producen en las actividades son asimilables a vertidos domésticos, por lo que son eliminados por la red urbana de alcantarillado. </p>
                 <p>No obstante, hay que recordar que:</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                 <p>
                    <ul>
                        <li>Los residuos peligrosos líquidos siempre deben ser tratados por un gestor autorizado como el resto de los residuos peligrosos y nunca verterse a la red de saneamiento.</li>
                        <li>Los productos de limpieza que se vierten al alcantarillado deben gestionarse con buenas prácticas ambientales en la limpieza de las instalaciones.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <p><strong>Papel</strong></p>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Trabajar en soporte informático y revisar los textos en el ordenador.</li>
                        <li>Priorizar la comunicación por correo electrónico.</li>
                        <li>Priorizar la utilización de papel reciclado, ya que es el papel que tiene menores emisiones asociadas. si no es así, priorizar el papel certificado con garantía de gestión sostenible.</li>
                        <li>Utilizar siempre el papel por ambas caras.</li>
                        <li>Reutiliza Los Sobres Para Envíos Internos.</li>
                        <li>Utilizar las hojas desechadas como folios en sucio.</li>
                        <li>Utilizar pizarras de tiza o de rotuladores, en lugar de las que usan recambios de papel.</li>
                        <li>Reciclar el papel.</li>
                    </ul>
                 </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>REDUCE</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify"> 
                <p>La generación de residuos no haciendo uso de aquello que no es necesario y adaptando sus procedimientos de trabajo para generar menos residuos. Promueve la compra de elementos recargables y material de oficina reutilizable (cartuchos de tinta de las impresoras, etc.). evita el consumo de productos de un solo uso: vasos y menaje de plástico, bolígrafos, etc.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>REUTILIZA</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify"> 
                <p>Todo aquello que sea posible</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>RECICLA</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify"> 
                <p>Separa y segrega los residuos para que puedan ser reciclados</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <strong>…Recuerda Tener Siempre…</strong>
            </td>
            <td style="text-align:center;width: 50%;">
                <%=  image_tag('imgmv13.png', height: "300", width: "auto")  %>
            </td>
        </tr>
    <table> 


    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>