<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= @evidence.entity.identification_number if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%=  image_tag('imgmv14.png', height: "300", width: "auto")  %>
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div class="row text-center">
        <h2><%= @evidence.year_initial if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>
    <div class="row text-center">
        <strong>CONTENIDO</strong>
    </div>
    
    <div><br></div>
    <div class="col-10 text-justify">
        <p><strong>1. INTRODUCCIÓN</strong></p>
        <p><strong>2. DEFINICIONES</strong></p>
        <p><strong>3. REQUERIMIENTOS LEGALES</strong></p>
        <p><strong>4. OBJETIVOS</strong></p>
        <p><strong>4.1. OBJETIVO GENERAL</strong></p>
        <p><strong>4.2. OBJETIVOS ESPECÍFICOS</strong></p>
        <p><strong>5. ALCANCE</strong></p>
        <p><strong>6. DESARROLLO</strong></p>
        <p><strong>6.1. ACTIVIDADES DEL PROGRAMA</strong></p>
        <p><strong>6.2. REDUCIR</strong></p>
        <p><strong>6.3. REUTILIZAR</strong></p>
        <p><strong>6.4. RECICLAR</strong></p>
        <p><strong>7. RESPONSABILIDADES</strong></p>
        <p><strong>8. ASIGNACIÓN DE RECURSOS</strong></p>        
    </div>
    <p style='page-break-after:always;'></p>

    <div>
        <strong>1. INTRODUCCIÓN</strong>
    </div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La divulgación e implementación adecuada de las buenas prácticas contempladas en el programa, posibilitará el cumplimiento de las metas y objetivos establecidos para el manejo integral de residuos generados en el desarrollo de las actividades de <strong><%= @evidence.entity.business_name %></strong>.</p>
                <p>El programa para el Manejo Integral de residuos está basado en las actividades de los procesos y encaminado al cumplimiento de las directrices de la Política del Sistema Integrado de Planeación y Gestión.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>2. DEFINICIONES</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Almacenamiento: </strong>Es la acción del usuario de colocar temporalmente los residuos en recipientes, depósitos, contenedores retornables o desechables mientras se procesan para su aprovechamiento, transformación, comercialización o se presentan al servicio de recolección para su tratamiento o disposición final.</p>
                <p><strong>Contaminación del suelo: </strong>Es el depósito de desechos degradables o no degradables que se convierten en fuentes contaminantes del suelo.</p>
                <p><strong>Contaminación hídrica: </strong>Cuando la cantidad de agua servida pasa de cierto nivel, el aporte de oxígeno es insuficiente y los microorganismos ya no pueden degradar los desechos contenidos en ella, lo cual hace que las corrientes de agua se asfixien, causando un deterioro de la calidad de las mismas, produciendo olores nauseabundos e imposibilitando su utilización para el consumo.</p>
                <p><strong>Residuos no peligrosos: </strong>Son aquellos producidos por el generador de cualquier lugar y en desarrollo de su actividad, que no presentan riesgo para la salud humana y el medio ambiente, se clasifican en: </p>
                <p>
                    <ul>
                        <li><u>Biodegradables: </u>Son aquellos restos químicos o naturales que se descomponen fácilmente en el ambiente. En estos restos se encuentran los vegetales, residuos alimenticios no infectados, papel higiénico, papeles no aptos para reciclaje, jabones y detergentes biodegradables, madera y otros residuos que puedan ser transformados fácilmente en materia orgánica.</li>
                        <li><u>Reciclable: </u>Son aquellos que no se descomponen fácilmente y pueden volver a ser utilizados en procesos productivos como materia prima. Entre estos residuos se encuentran: algunos papeles y plásticos, chatarra, vidrio, telas, radiografías, partes y equipos obsoletos en desuso, entre otros.</li>
                        <li><u>Inertes: </u>Son aquellos que no permiten su descomposición, ni su transformación en materia prima y su degradación natural requiere grandes períodos de tiempo. Entre estos se encuentran: el icopor, algunos tipos de papel como el papel carbón y algunos plásticos.</li>
                        <li><u>Ordinarios o comunes: </u>Son aquellos generados en el desempeño normal de las actividades. Estos residuos se generan en oficinas, pasillos, áreas comunes, cafeterías, salas de espera, auditorios y en general en todos los sitios del establecimiento del generador.</li>
                    </ul>
                </p>
                <p><strong>Residuos Peligrosos Biológicos: </strong>Son aquellos residuos producidos por el generador con alguna de las siguientes características: infecciosos, combustibles, inflamables, explosivos, reactivos, radiactivos, volátiles, corrosivos y/o tóxicos; las cuales pueden causar daño a la salud humana y/o al medio ambiente. Así mismo se consideran peligrosos los envases, empaques y embalajes que hayan estado en contacto con ellos. Los residuos infecciosos o de riesgo biológico se clasifica en:</p>
                <p>
                    <ul>
                        <li><u>Biosanitarios: </u>Son todos aquellos elementos o instrumentos utilizados durante la ejecución de los procedimientos asistenciales que tienen contacto con materia orgánica, sangre o fluidos corporales del paciente humano o animal tales como : gasas, apósitos, aplicadores, algodones, drenes, vendajes, mechas, guantes, bolsas para transfusiones sanguíneas, catéteres, láminas, sondas, material de laboratorio como tubos capilares y de ensayo, medios de cultivo, láminas porta objetos y cubre objetos, laminillas, sistemas cerrados y sellados de drenajes, ropas desechables, toallas higiénicas, pañales o cualquier otro elemento desechable que la tecnología médica introduzca para los fines previstos en el presente numeral.</li>
                        <li><u>Anatomopatológicos: </u>Son  los  provenientes  de  restos  humanos,  muestras para análisis, incluyendo biopsias, tejidos orgánicos amputados, partes y fluidos corporales, que se remueven durante necropsias, cirugías u otros procedimientos, tales como placentas, restos de exhumaciones entre otros.</li>
                        <li><u>Corto punzantes: </u>Son aquellos que por sus características punzantes o cortantes pueden dar origen a un accidente percutáneo infeccioso. Dentro de estos se encuentran: limas, lancetas, cuchillas, agujas, restos de ampolletas, pipetas, láminas de bisturí o vidrio, y cualquier otro elemento que por sus características corto punzantes pueda lesionar y ocasionar un riesgo infeccioso.</li>
                        <li><u>Animales: </u>Son aquellos provenientes de animales de experimentación, inoculados con microorganismos patógenos y/o provenientes de animales portadores de enfermedades infectocontagiosas.</li>
                    </ul>
                </p>
                <p><strong>Residuos Peligrosos Químicos: </strong>Son los restos de sustancias químicas y sus empaques o cualquier otro residuo contaminado con estos, los cuales, dependiendo de su concentración y tiempo de exposición tiene el potencial para causar la muerte, lesiones graves o efectos adversos a la salud y el medio ambiente. Se pueden clasificar en:</p>
                <p>
                    <ul>
                        <li><u>Fármacos parcialmente consumidos, vencidos y/o deteriorados: </u>Son aquellos medicamentos vencidos, deteriorados y/o excedentes de sustancias que han sido empleadas en cualquier tipo de procedimiento, dentro de los cuales se incluyen los fraudulentos, alterados y sus empaques. Se incluyen en esta clasificación los residuos producidos en laboratorios farmacéuticos que no cumplen los estándares de calidad, incluyendo sus empaques.</li>
                        <li><u>Reactivos: </u>Son aquellos que  por  sí  solos  y  en  condiciones  normales,  al mezclarse o entrar en contacto con otros elementos, compuestos, sustancias o residuos, generan gases, vapores, humos tóxicos, explosión o reaccionan térmicamente colocando en riesgo la salud humana o el medio ambiente. Incluyen líquidos de revelado y fijado, de laboratorios, medios de contraste, reactivos de diagnóstico in vitro y de bancos de sangre.</li>
                        <li><u>Otros residuos: </u>Elemento o restos de estos en desuso, contaminados o que contengan metales pesados como:  Plomo, Cromo, Cadmio,  Antimonio, Bario, Níquel, Estaño, Vanadio, Zinc, Mercurio. Este último procede del servicio de odontología en procesos de retiro o preparación de amalgamas, por rompimiento de termómetros y demás accidentes de trabajo en los que esté presente el mercurio.</li>
                    </ul>
                </p>
                <p><strong>Residuos Radiactivos: </strong>Son las sustancias emisoras de energía predecible y continua de forma alfa, beta o en forma de fotones, cuya interacción con la materia, puede dar lugar a la emisión de rayos x y neutrones. Incluye trazadores y químicos para el tratamiento del cáncer, líquidos de pacientes con terapias a partir de sustancias radioactivas y equipos con fuentes radiactivas.</p>
                <p><strong>Residuos Especiales: </strong>Son los equipos electromagnéticos RAEE que se dan de baja por desuso o terminación de su vida útil, también se incluyen los residuos de oficinas y laboratorios como las Pilas, Fluorescentes, Tóner, Cartuchos de Impresora y Fotocopiadora.</p>
                <p><strong>Vertimiento: </strong>Es la disposición de aguas utilizadas sobre un alcantarillado, corriente o cuerpo de agua. Dentro de este programa se incluyó como residuo el vertimiento del agua residual que se genera como resultado de las diferentes actividades.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>3. REQUERIMIENTOS LEGALES</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p><strong>Ley 9 de 1979: </strong>Por el cual se dictan las medidas sanitarias. </p>
                 <p><strong>Decreto 1713 de 2002: </strong>Por el cual se reglamenta la Ley 142 de 1994, la Ley 632 de 2000 y la Ley 689 de 2001, en relación con la prestación del servicio público de aseo, y el Decreto Ley 2811 de 1974 y la Ley 99 de 1993 en relación con la Gestión Integral de Residuos Sólidos. </p>
                 <p><strong>Decreto 1140 de 2003: </strong>Por el cual se modifica parcialmente el Decreto 1713 de 2002, en relación con el tema de las unidades de almacenamiento, y se dictan otras disposiciones. </p>
                 <p><strong>Decreto 1076 de 2015: </strong>Decreto único Reglamentario del medio ambiente: "Por medio del cual se expide el Decreto Único Reglamentario del Sector Ambiente y Desarrollo Sostenible". </p>
                 <p><strong>Decreto 1594 de 1984: </strong>Usos del agua y residuos líquidos </p>
                 <p><strong>Resolución 2309 de 1986: </strong>Reglamenta la gestión de residuos especiales. </p>
                 <p><strong>Decreto 786 de 1990: </strong>Por el cual se reglamenta parcialmente el título IX de la ley 09 de 1979, en cuanto a la práctica de autopsias clínicas y médico - legales, así como viscerotomias y se dictan otras disposiciones.</p>
                 <p><strong>Ley 142 de 1994: </strong>Ley de Servicios Públicos Domiciliarios.</p>
                 <p><strong>Ley 430 de 1998: </strong>Referencia a desechos peligrosos.</p>
                 <p><strong>Decreto Número 2676 de 2000: </strong>(diciembre 22) por el cual se reglamenta la gestión integral de los residuos Biológicos y modificaciones de marzo del 2002.</p>
                 <p><strong>Ley 1609 de 2002: </strong>Por el cual se reglamenta el manejo y transporte terrestre automotor de mercancías peligrosas por carretera.</p>
                 <p><strong>Decreto 4741 de 2005: </strong>Por el cual se reglamenta la gestión de residuos peligrosos.</p>
                 <p><strong>Decreto 4126 de 2005: </strong>Se amplía el alcance de generadores de residuos hospitalarios y similares.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>4. OBJETIVOS</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>4.1 OBJETIVO GENERAL</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>Realizar el manejo integral de los residuos que genera <%= @evidence.entity.business_name if @evidence.present? %>, proporcionando herramientas que generen un mínimo riesgo para la salud de la población y para el medio ambiente, procurando la minimización, reutilización, reciclaje y disposición adecuada de estos.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>

    <div>
        <strong>4.2 OBJETIVOS ESPECÍFICOS</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                 <p>
                     <ul>
                         <li>Minimizar el volumen de residuos sólidos generados en los diferentes procesos de <%= @evidence.entity.business_name if @evidence.present? %>, sin afectar los procesos.</li>
                         <li>Realizar un manejo interno y externo ambientalmente seguro de los residuos peligrosos generados.</li>
                         <li>Involucrar a todo el personal en el proceso de la gestión integral de los residuos sólidos.</li>
                         <li>Desarrollar actividades en pro del fortalecimiento de la cultura, en cuanto a la generación y disposición de los residuos.</li>
                         <li>Garantizar una adecuada disposición de los residuos sólidos generados en el desarrollo de las actividades de <%= @evidence.entity.business_name if @evidence.present? %>.</li>
                 </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>5. ALCANCE</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El presente documento aplica para manejo, almacenamiento temporal y disposición final de:</p>
                 <p>
                    <ul>
                         <li>Residuos Convencionales: orgánicos, plástico, papel, cartón, vidrio, entre otros</li>
                         <li>Residuos Peligrosos: Bombillas fluorescentes, envases de sustancias químicas, baterías, entre otros.</li>
                         <li>Residuos de aparatos eléctricos y electrónicos.</li>
                    </ul>
                 </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>6. DESARROLLO</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Dentro del programa de gestión integral de residuos generados en el desarrollo de las actividades propias de <%= @evidence.entity.business_name if @evidence.present? %>, se establece la metodología de la implementación de las tres erres, Reducir, Reutilizar y Reciclar, esta metodología se adopta.</p>
                <p>Así mismo <%= @evidence.entity.business_name if @evidence.present? %> dentro del marco de sus funciones, no realiza actividades operativas o de proceso que impliquen la generación de volumen significativo de residuos.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>6.1 ACTIVIDADES DEL PROGRAMA</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Revisión de la gestión que actualmente se está realizando para el manejo y tratamiento de residuos.</strong></p>
                <p>Para garantizar la adopción del sistema de reciclaje en nuevas instalaciones, y/o cubrimiento por cambios de proceso, se realiza una inspección ambiental inicial para la identificación de aspectos ambientales evaluando ítems específicos, que proporcionan la información necesaria para obtener tipo de residuos generados, estado real de la gestión y/o manejo que se está realizando a los residuos sólidos, entre otra información.</p>
                <p><strong>Caracterización y diagnóstico.</strong></p>
                <p>Se realizará la caracterización de los residuos generados, estableciendo cantidades y tipo de residuos que se generan en el desarrollo de las actividades <%= @evidence.entity.business_name if @evidence.present? %>. Análisis detallado de la normatividad ambiental aplicable para cada caso. Es necesario realizar la identificación de los requisitos legales aplicables concernientes a la generación y manejo de residuos, los cuales deben estar consignados en la matriz ambiental, junto con la evaluación del cumplimiento de dichos requisitos. </p>
                <p><strong>Análisis costo – beneficio.</strong></p>
                <p>En caso de que la actividad amerite este ítem, se realizará el análisis costo- beneficio de medidas para la reducción, reutilización, reciclaje, almacenamiento y disposición adecuada de los residuos para mitigación del impacto.</p>
                <p>Una vez, se tenga el diagnóstico de la caracterización por tipo de residuos, se plantean alternativas para el manejo adecuado de los residuos desde su generación, hasta la disposición.</p>
                <p><strong>Implementación de las Estrategias.</strong></p>
                <p>En esta etapa se realiza la implementación de las medidas de reducción, reutilización, reciclaje, almacenamiento y/o disposición adecuada de los residuos para garantizar la mitigación del impacto.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>6.2 REDUCIR</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se implementarán políticas encaminadas a la reducción en la utilización de recursos. Se plantea el uso mesurado de vasos desechables, se implementará la campaña de “traiga su vaso”. O se evaluará la opción de la compra de Mugs Institucionales, los cuales se obsequiarán a cada empleado para su uso exclusivo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>6.3 REUTILIZAR</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se implementarán algunas estrategias encaminadas a reducir los desechos generados por <%= @evidence.entity.business_name if @evidence.present? %> como son los  vasos descartables, con el fin de dar un manejo adecuado a los materiales y ayudando con el medio ambiente</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>6.4 RECICLAR</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para la implementación de la estrategia de la tercera R, se desarrollarán las siguientes actividades encaminadas a la separación adecuada de los residuos generados, que facilite la eficiencia del reciclaje.</p>
                <p>Implementación de puntos ecológicos: Con el fin de dar un adecuado manejo integral de los residuos convencionales y buscando principalmente la minimización y separación desde la fuente, las etapas para tener en cuenta son:</p>
                <p> <strong>Generación y Separación</strong></p>
                <p>Los residuos sólidos generados deben ser separados y clasificados en cada sitio de generación, teniendo en cuenta sus características, por lo tanto, se debe contar con recipientes adecuados y suficientes para realizar la clasificación de los residuos.</p>
                <p>Para la separación de los residuos, se establece el código de color verde-gris-azul, solo para casos especiales se tendrá en cuenta el color rojo para la disposición de los residuos peligrosos, tal como se define en la siguiente tabla:</p>
            </td>
        </tr>
    </table> 
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 30%;">
                CLASE DE RESIDUO
            </td>
            <td style="border:1px solid black;text-align:center;width: 10%;">
                COLOR RECIPIENTE
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                CONTENIDO BÁSICO
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                ETIQUETA
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 30%;">
                Residuos aprovechables
            </td>
            <td style="border:1px solid black;text-align:center;width: 10%;">
                <%=  image_tag('imgmv15.png', height: "100", width: "auto")  %>
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                Plástico, cartón, vidrio, papel, metales
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                RECICLABLE
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 30%;">
                Residuos orgánicos aprovechables
            </td>
            <td style="border:1px solid black;text-align:center;width: 10%;">
                <%=  image_tag('imgmv16.png', height: "100", width: "auto")  %>
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                Residuos de alimentos, como cáscaras, resto de vegetales y frutas, desechos agrícolas
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                ORGÁNICOS
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 30%;">
                Residuos NO aprovechables
            </td>
            <td style="border:1px solid black;text-align:center;width: 10%;">
                <%=  image_tag('imgmv17.png', height: "100", width: "auto")  %>
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                Papel higiénico, servilletas, papeles y cartones contaminados con comida, papeles metalizados
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                DESECHOS
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 30%;">
                PELIGROSOS Tóxicos e infecciosos (generación baja)
            </td>
            <td style="border:1px solid black;text-align:center;width: 10%;">
                <%=  image_tag('imgmv18.png', height: "100", width: "auto")  %>
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                Residuos con características peligrosas, que no pueden ser almacenadas, reciclados o enterrados, como los residuos	infecciosos, aceitosos, explosivos, corrosivos y tóxicos. Pilas, baterías de radio.
            </td>
            <td style="border:1px solid black;text-align:center;width: 30%;">
                RESIDUOS PELIGROSOS
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Con el propósito de facilitar la correcta disposición de los residuos de acuerdo con sus características, en cada una de las áreas se dispondrá de una caneca rotulada de verde “Ordinarios, No Reciclables”, donde se podrán disponer únicamente residuos orgánicos o envolturas de alimentos, y en general material no reciclable. Por ende, la disposición de residuos orgánicos en las demás canecas individuales de los puestos de trabajo, solo se podrá colocar papel de oficina objeto de reciclaje.</p>
                <p>Los recipientes para el almacenamiento temporal de los residuos deberán cumplir con las siguientes características:</p>
                <p>
                    <ul>
                        <li>Material impermeable, liviano, resistente, de fácil limpieza y cargue.</li>
                        <li>Proporcionar seguridad, higiene y facilitar el proceso de recolección convencional o recolección selectiva.</li>
                        <li>Permitir el aislamiento de los residuos generados del medio ambiente.</li>
                        <li>Tener una capacidad proporcional al peso, volumen y características de los residuos que contengan.</li>
                    </ul>
                </p>
                <p>Dentro de cada recipiente se debe colocar una bolsa plástica del mismo color que el recipiente, con el fin de poder realizar fácil identificación del contenido y así evitar la mezcla de los residuos.</p>
                <p><strong>Almacenamiento</strong></p>
                <p>Se debe disponer un área acondicionada y adecuada para el almacenamiento temporal de los residuos clasificados.</p>
                <p>El sitio de almacenamiento temporal deberá tener las siguientes características:</p>
                <p>
                    <ul>
                        <li>Superficies lisas, para permitir su fácil limpieza e impedir la formación de ambientes propicios para el desarrollo de microorganismos en general.</li>
                        <li>Debe impedir el acceso y proliferación de insectos, roedores y otras clases de vectores igualmente el ingreso de animales domésticos.</li>
                        <li>Tener la capacidad suficiente para almacenar los residuos generados acorde con las frecuencias de recolección y alternativas de recuperación consideradas.</li>
                        <li>Adecuada accesibilidad para los usuarios</li>
                        <li>La ubicación del sitio no debe causar molestias e impactos a la comunidad.</li>
                    </ul>
                </p>
                <p><strong>Disposición Final</strong></p>
                <p>Para la disposición final de los residuos se realizarán las siguientes acciones:</p>
                <p>
                    <ul>
                        <li><strong>Residuos Ordinarios-Convencionales</strong> (Caneca y bolsa verde): Los residuos ordinarios generados en <%= @evidence.entity.business_name if @evidence.present? %> y que están clasificados de color verde, se dispondrán para la recolección del servicio de aseo, y posterior disposición en el relleno sanitario.</li>
                        <li><strong>Residuos Reciclables</strong> Papel, cartón, vidrio, plástico, entre otros (canecas y bolsas gris y azul): Los residuos reciclables generados en <%= @evidence.entity.business_name if @evidence.present? %>, como vidrio, papel de oficina no reutilizable, cartón plástico, entre otros reciclables, serán entregados a vehículos encargados de este sistema.</li>
                    </ul>
                </p>

            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>7. RESPONSABILIDADES</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>DIRECCIÓN GENERAL</strong></p>
                <p>Garantizar la disposición de recursos necesarios, de forma oportuna para la implementación y mantenimiento del programa de gestión ambiental para el manejo integral de los residuos.</p>
                <p><strong>EMPLEADOS DE <%= @evidence.entity.business_name if @evidence.present? %></strong></p>
                <p>Conocer, implementar y acoger las directrices y actividades establecidas en el programa de gestión para el manejo integral de residuos.</p>
                <p><strong>COORDINADOR DE SG-SST</strong></p>
                <p>Definir, divulgar, y dar cumplimiento a los lineamientos establecidos para la implementación, seguimiento y evaluación del programa.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>8. ASIGNACIÓN DE RECURSOS</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La asignación de recursos para la ejecución del programa de gestión se evidencia en el Plan anual de Seguridad y Salud en el Trabajo.</p>
            </td>
        </tr>
    </table> 


    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaboro' %>
</div>