<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%=  image_tag('imgmv19.png', height: "300", width: "auto")  %>
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div class="row text-center">
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div style="text-align:center">
        <strong>INTRODUCCIÓN</strong>
    </div>    
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El presente documento muestra, un marco integrado de principios, prácticas y criterios para la implementación de una herramienta de identificación de peligros y valoración de riesgos, en el marco de la gestión del riesgo de Seguridad y Salud en el Trabajo, ofreciendo un modelo claro y consistente, tanto en su proceso como en sus componentes.</p>
                <p>El proceso de identificación, análisis, evaluación y control de riesgos, debe ser la base en el sistema de Seguridad y Salud en el Trabajo, debe permitir a <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, establecer medidas de control necesarias en todos sus procesos misionales, estratégicos y de apoyo, tanto en las actividades rutinarias como no rutinarias, los cuales deberán asegurar que la valoración otorgada, sirva para determinar las acciones prioritarias a implementar en los programas de prevención y promoción en el ambiente de trabajo y en las personas, de acuerdo con las necesidades de salud de los trabajadores de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
                <p>Es así, que, de la efectiva elaboración de la identificación, evaluación y control de riesgos, se pueden obtener grandes beneficios como son: Mejoramiento en los niveles de salud de todos los trabajadores de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>; efectivo manejo de los recursos destinados a la Seguridad y Salud en el Trabajo; aumento de la calidad y la productividad de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>; y, por último, Satisfacción por cumplir con lo legalmente establecido por los ministerios de trabajo y salud.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>OBJETIVOS</strong>
    </div> 
    <div><br></div>    
    <div>
        <strong>OBJETIVO GENERAL </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer y definir el método para la identificación, evaluación y control de los riesgos asociados a las actividades que desarrolla <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> con el fin de determinar las acciones o medidas preventivas, correctivas y de mejora para la prevención de pérdidas que pudiesen afectar a los trabajadores, el ambiente, la comunidad, los equipos y/o la continuidad operacional de los procesos.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>OBJETIVOS ESPECÍFICOS </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Identificar los peligros y establecer el contexto de las actividades <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> en todos sus procesos.</li>
                        <li>Involucrar al personal propio, en el análisis de riesgos específicos en las actividades de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ALCANCE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento se aplica para la identificación, evaluación y control de riesgos asociados a las actividades que desarrolla <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> cubriendo a trabajadores propios.</p>
                <p>Inicia en el diligenciamiento de la encuesta de auto reporte de condiciones de trabajo, y termina en la generación del informe de los riesgos y peligros que perciben los colaboradores dentro de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Diagnóstico de condiciones de trabajo: </strong>Resultado del procedimiento sistemático para identificar, localizar y valorar “aquellos elementos, agentes o factores que tienen influencia significativa en la generación de riesgos para la seguridad y salud de los trabajadores.</p>
                <p><strong>Salud: </strong>Es el proceso de desarrollo biológico, mental y espiritual del ser humano libre, creativo y solidario con otros seres y su medio ambiente.</p>
                <p><strong>Condiciones de salud: </strong>Son consecuencia de la interacción dinámica entre los individuos, el medio ambiente y los servicios de salud, en una comunidad y un período histórico dado.</p>
                <p><strong>Condiciones de salud laboral: </strong>Resultan de la interacción dinámica en un proceso de producción, entre los trabajadores, el ambiente en que realizan su labor y los servicios de salud.</p>
                <p><strong>Exposición: </strong>Situación en la cual las personas se exponen a los peligros.</p>
                <p><strong>Lugar de trabajo: </strong>Cualquier espacio físico en el que se realizan actividades relacionadas con el trabajo, bajo el control de la organización.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>GENERALIDADES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para realizar un óptimo estudio de las condiciones de salud y trabajo de los colaboradores, se debe entender el término “salud”, desde la interacción de numerosas fuerzas agrupadas en cuatro categorías, con el siguiente porcentaje de incidencia:</p>
                <p>
                    <ul>
                        <li>Ambiente (15%)</li>
                        <li>Comportamiento o estilo de vida (50%)</li>
                        <li>Genética (25%)</li>
                        <li>Servicios de salud (10%)</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div class="row text-center">
        <strong>APLICACIÓN DE LA METODOLOGÍA PARA EL ESTUDIO INTEGRAL DE LAS CONDICIONES DE TRABAJO Y SALUD AL PERSONAL DE <%= @evidence.entity.business_name if @evidence.present? %> </strong>
    </div>
    <div><br></div>
    <div>
        <strong>Relación entre peligro y posible riesgo / consecuencia </strong>
    </div>
    <div><br></div>
    <table style="width: 100%;"> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 50%;">
                Peligro
            </td>
            <td style="border:1px solid black;text-align:center;width: 50%;">
                Riesgo / Consecuencia
            </td>
        </tr>
    </table> 
    <% @clasification_dangers.each do |clasification_danger| %>
        <table style="width: 100%;"> 
            <tr style="background-color: #00aae4;border:1px solid black;text-align:center%;">
                <td style="border:1px solid black;text-align:center;width: 100%;">
                    <%= clasification_danger.name %>
                </td>
            </tr>
        </table> 
        <table style="width: 100%;"> 
            <% @clasification_danger_details.where("clasification_danger_id = ?",clasification_danger.id).each do |clasification_danger_detail| %>
                <tr style="1px solid black;text-align:center%;">
                    <td style="border:1px solid black;text-align:center;width: 50%;">
                        <%= clasification_danger_detail.name %>
                    </td>
                    <td style="border:1px solid black;text-align:center;width: 50%;">
                        <% @danger_detail_risks.where("clasification_danger_detail_id = ?",clasification_danger_detail.id).each do |danger_detail_risk| %>
                            <%= danger_detail_risk.name %></br>    
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>    
    <% end %>
    
    <div><br></div>    
    <div>
        <strong>Análisis del comportamiento</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 33%;">
                Comportamiento
            </td>
            <td style="border:1px solid black;text-align:center;width: 33%;">
                Definición conceptual
            </td>
            <td style="border:1px solid black;text-align:center;width: 33%;">
                Definición operativa
            </td>
        </tr>
        <tr style="border:1px solid black;">
            <td style="border:1px solid black;width: 33%;">
                Conocimiento
            </td>
            <td style="border:1px solid black;width: 33%;">
                Percibir la presencias o ausencia de la condición de riesgo en el sitio de trabajo
            </td>
            <td style="border:1px solid black;width: 33%;">
                Reporte del trabajador sobre la presencia o ausencia de la condición de riesgo en el sitio de trabajo
            </td>
        </tr>
        <tr style="border:1px solid black;">
            <td style="border:1px solid black;width: 33%;">
                Percepción de peligrosidad
            </td>
            <td style="border:1px solid black;width: 33%;">
                Grado subjetivo del daño para su salud, que el trabajador tiene por estar expuesto a la condición de riesgo
            </td>
            <td style="border:1px solid black;width: 33%;">
                Reporte del trabajador sobre la posibilidad de daño a su salud por la condición de riesgo
            </td>
        </tr>
        <tr style="border:1px solid black;">
            <td style="border:1px solid black;width: 33%;">
                Actividad frente a la condición de riesgo
            </td>
            <td style="border:1px solid black;width: 33%;">
                Lo que el trabajador hace frente a la condición de riesgo
            </td>
            <td style="border:1px solid black;width: 33%;">
                Reporte del trabajador de su actividad frente a la condición de riesgo
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Definición de variables e instrumentos</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El instrumento empleado para medir las variables de investigación (medio ambiente laboral), es la encuesta de auto reporte de condiciones de trabajo, en donde, los empleados escogidos aleatoriamente por áreas y cargos deben suministrar información de acuerdo con sus labores y actividades diarias, los riesgos a los que están expuestos, los equipos que opera en su jornada laboral y los elementos de protección personal necesarios para minimizar esos riesgos.</p>
                <p>Este instrumento brinda la oportunidad de conocer las percepciones de peligrosidad que los trabajadores tienen frente a su labor.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Método de análisis de los Resultados de la encuesta de auto reporte de condiciones de Trabajo del personal de <%= @evidence.entity.business_name if @evidence.present? %>.</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El análisis de los resultados obtenidos se genera a partir de la tabulación de la información recopilada en la encuesta de auto reporte de condiciones de trabajo, en donde se genera un informe global de los diversos riesgos y peligros percibidos por los colaboradores de la organización, teniendo presentes las siguientes variables:</p>
                <p><strong>Por áreas: </strong>Las áreas de la organización con mayor número de condiciones de trabajo exposición a riesgos.</p>
                <p><strong>Por cargos: </strong>Los cargos de la organización con mayor número de condiciones de trabajo exposición a riesgos.</p>
                <p><strong>Análisis integral: </strong>se consideran todos los cargos y áreas de la organización y se relacionan resultados generales de exposición o condiciones de riesgo.</p>
                <p><strong>Propuestas de intervención: </strong>se relacionan las actividades y controles a realizar por parte de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> como medidas frente a los resultados.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>