<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%=  image_tag('imgmv20.png', height: "300", width: "auto")  %>
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div class="row text-center">
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div style="text-align:center">
        <strong>OBJETIVO</strong>
    </div>    
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer la metodología que permita identificar los peligros, evaluar y priorizar los riesgos que puedan afectar la Seguridad y Salud en el Trabajo; estableciendo los controles necesarios para la promoción de ambientes de trabajo seguros y saludables en <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>ALCANCE </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento aplica para todos los procesos y actividades rutinarias y no rutinarias, y a todo el personal de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>NORMATIVIDAD </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Matriz de requisitos legales en Seguridad y Salud en el Trabajo</p>
                <p>Decreto 1072 del 2015 Decreto Único Reglamentario del Sector Trabajo</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DEFINICIONES Y/O ABREVIATURAS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Accidente de Trabajo: </strong>Es accidente de trabajo todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca en el funcionario una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte. Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador, o contratante durante la ejecución de una labor bajo su autoridad, aun fuera del lugar y horas de trabajo. (Ley 1562 del 2012).</p>
                <p><strong>Actividad no rutinaria:</strong>Actividad que no forma parte de la operación normal de la organización o actividad que la organización ha determinado como no rutinaria por su baja frecuencia de ejecución. (Decreto 1072 del 2015).</p>
                <p><strong>Actividad rutinaria: </strong>Actividad que forma parte de la operación normal de la organización, se ha planificado y es estandarizable. (Decreto 1072 del 2015).</p>
                <p><strong>Acto Inseguro: </strong>Comportamientos que podrían dar paso a la ocurrencia de un accidente o incidente. (Resolución 1401 de 2007).</p>
                <p><strong>Consecuencia: </strong>Resultado, en términos de lesión o enfermedad, de la materialización de un riesgo, expresado cualitativa o cuantitativamente. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Controles Administrativos: </strong>Medidas que tienen como fin reducir el tiempo de exposición al peligro, tales como la rotación de personal, cambios en la duración o tipo de la jornada de trabajo. Incluyen también la señalización, advertencia, demarcación de zonas de riesgo, implementación de sistemas de alarma, diseño e implementación de procedimientos y trabajos seguros, controles de acceso a áreas de riesgo, permisos de trabajo, entre otros.</p>
                <p><strong>Controles de Ingeniería: </strong>Medidas técnicas para el control del peligro/riesgo en su origen (fuente) o en el medio, tales como el confinamiento (encerramiento) de un peligro o un proceso de trabajo, aislamiento de un proceso peligroso o del funcionario y la ventilación (general y localizada), entre otros. (Decreto 1072 del 2015).</p>
                <p><strong>COPASST: </strong>Comité Paritario de la Seguridad y Salud en el Trabajo.</p>
                <p><strong>DRH: </strong>División de Recursos Humanos.</p>
                <p><strong>Eliminación del peligro/riesgo: </strong>Medida que se toma para suprimir (hacer desaparecer) el peligro/riesgo. (Decreto 1072 del 2015).</p>
                <p><strong>Enfermedad Laboral: </strong>Se entiende por enfermedad laboral la contraída como resultado de la exposición a factores de riesgo inherentes a la actividad laboral o del medio en el que el funcionario se ha visto obligado a trabajar. (Ley 1562 del 2012).</p>
                <p><strong>Equipos y Elementos de Protección Personal y Colectivo: </strong>Medidas basadas en el uso de dispositivos, accesorios y vestimentas por parte de los colaboradores, con el fin de protegerlos contra posibles daños a su salud o su integridad física derivados de la exposición a los peligros en el lugar de trabajo. El empleador deberá suministrar elementos y equipos de protección personal (EPP) que cumplan con las disposiciones legales vigentes. Los EPP deben usarse de manera complementaria a las anteriores medidas de control y nunca de manera aislada, y de acuerdo con la identificación de peligros y evaluación y valoración de los riesgos. (Decreto 1072 del 2015).</p>
                <p><strong>Evaluación del riesgo:</strong>Proceso para determinar el nivel de riesgo asociado al nivel de probabilidad de que dicho riesgo se concrete y al nivel de severidad de las consecuencias de esa concreción. (Decreto 1072 del 2015).</p>
                <p><strong>Evaluación Higiénica:</strong>Medición de los peligros ambientales presentes en el lugar de trabajo para determinar la exposición ocupacional y riesgo para la salud, en comparación con los valores fijados por la autoridad competente. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Exposición:</strong>Situación en la cual las personas se encuentran en contacto con peligros. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Incidente de trabajo:</strong>Suceso acaecido en el curso del trabajo o en relación con este, que tuvo el potencial de ser un accidente, en el que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdida en los procesos. (Resolución 1401 del 2007).</p>
                <p><strong>Identificación del peligro:</strong>Proceso para establecer si existe un peligro y definir las características de éste. (Decreto 1072 del 2015).</p>
                <p><strong>IPVR:</strong>Identificación de Peligros, Evaluación y Valoración de Los Riesgos y Determinación de Controles.</p>
                <p><strong>Medidas de prevención y control: </strong>Las medidas de prevención y control de los peligros y los riesgos se establecerán teniendo en cuenta el siguiente esquema de jerarquización: Eliminación – Sustitución - Controles de ingeniería - Controles Administrativos y Equipos y Elementos de Protección Personal y Colectivo. (Decreto 1072 del 2015).</p>
                <p><strong>Medio: </strong>Espacio o área de propagación o contacto con el peligro.</p>
                <p><strong>Nivel de Consecuencia (NC): </strong>Medida de la severidad de las consecuencias (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Nivel de Deficiencia (ND): </strong>Magnitud de la relación esperable entre el conjunto de peligros detectados y su relación causal directa con posibles incidentes y con la eficacia de las medidas preventivas existentes en un lugar de trabajo. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Nivel de Exposición (NE): </strong>Situación de exposición a un peligro que se presenta en un tiempo determinado durante la jornada laboral. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Nivel de Probabilidad (NP): </strong>Producto del nivel de deficiencia por el nivel de exposición. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Nivel de Riesgo (NR): </strong>Magnitud de un riesgo resultante del producto del nivel de probabilidad por el nivel de consecuencia. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Peligro: </strong>Fuente, situación o acto con potencial de causar daño en la salud de los colaboradores, en los equipos o en las instalaciones. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Personal expuesto: </strong>Número de personas que están en contacto con peligros. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Probabilidad: </strong>Grado de posibilidad de que ocurra un evento no deseado o pueda producir consecuencias. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Proceso: </strong>Conjunto de actividades mutuamente relacionadas o que interactúan, las cuales transforman elementos de entrada en resultados (NTC ISO 9000).</p>
                <p><strong>Riesgo: </strong>Combinación de la probabilidad de que ocurra una o más exposiciones o eventos peligrosos y la severidad del daño que puede ser causada por éstos. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Riesgo Aceptable: </strong>Riesgo que ha sido reducido a un nivel que la organización puede tolerar, respecto a sus obligaciones legales y su propia política en seguridad y salud en el trabajo. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Riesgo Priorizado: </strong>Riesgo que ha sido determinado como susceptible de intervenir con controles específicos.</p>
                <p><strong>SGC: </strong>Sistema de Gestión de Calidad. </p>
                <p><strong>SG-SST: </strong>Sistema de Gestión de la seguridad y salud el trabajo.</p>
                <p><strong>SST: </strong>Seguridad y Salud en el Trabajo. </p>
                <p><strong>UAA: </strong>Unidades Académico Administrativas.</p>
                <p><strong>Valoración del riesgo: </strong>Proceso para evaluar los riesgos detectados teniendo en cuenta la suficiencia de los controles existentes, cuyo resultado establece la aceptabilidad de los riesgos. (Guía Técnica Colombiana GTC 45:2012).</p>
                <p><strong>Sustitución: </strong>Medida que se toma a fin de reemplazar un peligro por otro que no genere riesgo o que genere menos riesgo. (Decreto 1072 del 2015).</p>
                <p><strong>Valoración del riesgo: </strong>Consiste en emitir un juicio sobre la tolerancia o no del riesgo estimado. (Decreto 1072 del 2015).</p>
                <p><strong>Valor Límite Permisible: </strong>Concentración de un contaminante químico en el aire, por debajo del cual se espera que la mayoría de los colaboradores puedan estar expuestos repetidamente, día tras día, sin sufrir efectos adversos a la salud. (Guía Técnica Colombiana GTC 45:2012).</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>METODOLOGÍA</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ACTIVIDADES PARA IDENTIFICAR LOS PELIGROS Y VALORAR LOS RIESGOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los siguientes criterios son necesarios para que las organizaciones realicen la identificación de los peligros y la valoración de los riesgos:</p>
                <p>
                    <ul>
                        <li>Definir el instrumento para recolectar la información: una herramienta donde se registre la información para la identificación de peligros y valoración de los riesgos.</li>
                        <li>Clasificar los procesos las actividades y las tareas del lugar de trabajo: preparar una lista de los procesos de trabajo y de cada una de las actividades que lo componen; esta lista debería incluir instalaciones, planta, personas y procedimientos.</li>
                        <li>Identificar los peligros: incluir todos aquellos relacionados con cada actividad laboral. Considerar quién y cómo puede resultar afectado. </li>
                        <li>Identificar los controles existentes: relacionar todos los controles que la organización ha implementado para reducir el riesgo asociado a cada peligro. </li>
                        <li>Valorar el riesgo. </li>
                        <li>Elaborar el plan de acción para el control de los riesgos a fin de mejorar los controles existentes si es necesario, o atender cualquier otro asunto que lo requiera.</li>
                        <li>Revisar la conveniencia del plan de acción propuesto: revalorar los riesgos con base en los controles propuestos y verificar que los riesgos serán aceptables.</li>
                        <li>Mantener y actualizar.
                            <p>- Realizar seguimiento a los controles nuevos y existentes y asegurar que sean efectivos.</p>
                            <p>- Se debe Asegurar que los controles implementados son efectivos y que la valoración de los riesgos está actualizada. </p>
                        </li>
                        <li>Documentar el seguimiento a la implementación de los controles establecidos en el plan de acción que incluya responsables, fechas de programación, ejecución y estado actual, como parte de la trazabilidad de la gestión en Seguridad y Salud en el Trabajo.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div>
        <strong>DEFINIR EL INSTRUMENTO PARA RECOLECTAR LA INFORMACIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las organizaciones deberían contar con una herramienta para consignar de forma sistemática la información proveniente del proceso de la identificación de los peligros y la valoración de los riesgos, la cual debería ser actualizada periódicamente.</p>
                <p>Este documento tendrá los siguientes ítems:</p>
                <p>
                    <ul>
                        <li>Proceso;</li>
                        <li>Zona / Lugar;</li>
                        <li>Actividades;</li>
                        <li>Tareas;</li>
                        <li>Rutinaria (Si o No);</li>
                        <li>Peligro; - Descripción – Clasificación</li>
                        <li>Efectos Posibles</li>
                        <li>Controles existentes - Fuente - Medio – Individuo</li>
                        <li>Evaluación del riesgo
                            </br> - Nivel de deficiencia
                            </br> - Nivel de exposición
                            </br> - Nivel de probabilidad (NP= ND x NE)
                            </br> - Interpretación del nivel de probabilidad
                            </br> - Nivel de consecuencia
                            </br> - Nivel de Riesgo (NR) e intervención
                            </br> - Interpretación nivel de riesgo
                        </li>
                        <li>Valoración del riesgo
                            </br> - Aceptabilidad del riesgo
                        </li>
                        <li>Criterios para controles
                            </br> - Número de expuestos
                            </br> - Peor consecuencia
                        </li>
                        <li>Medidas de Intervención 
                            </br> - Eliminación
                            </br> - Sustitución
                            </br> - Controles de Ingeniería
                            </br> - Señalización, Advertencia, Controles Administrativos
                            </br> - Equipos de protección personal
                        </li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div class="row text-center">
        <strong>CLASIFICAR LOS PROCESOS, ACTIVIDADES Y LAS TAREAS</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Un trabajo preliminar indispensable para la evaluación de riesgos es preparar una lista de actividades de trabajo, agruparlas de manera racional y manejable y reunir la información necesaria sobre ellas. Es vital incluir, por ejemplo, tareas no rutinarias de mantenimiento, al igual que el trabajo diario o tareas rutinarias de producción. Las organizaciones deberán establecer los criterios de clasificación de los procesos, actividades y tareas de tal forma que se adapte a su operación y necesidades. Algunos ejemplos pueden ser: </p>
                <p>
                    <ul>
                        <li>Áreas geográficas dentro o fuera de las instalaciones de la organización.</li>
                        <li>Etapas en el proceso de producción o en la prestación de un servicio.</li>
                        <li>Trabajo planificado y reactivo.</li>
                        <li>Tareas definidas, por ejemplo, conducción.</li>
                        <li>Fases en el ciclo de los equipos de trabajo: diseño, instalación, mantenimiento, reparación y disposición.</li>
                        <li>Diferentes estados de la operación de la planta o equipo que permiten estados transitorios como paradas y arranques donde las medidas de control pueden ser diferentes a las de la operación normal.</li>
                        <li>Generación de riesgos debido a una distribución particular de equipos o instalaciones (cambios en la distribución), por ejemplo, rutas de escape, equipos peligrosos tales como: hornos, calderas, generadores entre otros. </li>
                        <li>Tareas llevadas a cargo de contratistas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div class="row text-center">
        <strong>La información necesaria para cada actividad debe incluir entre otros aspectos lo siguiente:</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Tareas que se están realizando: su duración y frecuencia.</li>
                        <li>Sitio(s) en que se realiza el trabajo.</li>
                        <li>El alcance y la proximidad de la interacción del peligro con otras actividades en el lugar de trabajo.</li>
                        <li>Personas que realizan trabajos rutinarios y no rutinarios.</li>
                        <li>Otras personas que puedan verse afectadas (como visitantes, contratistas, el público, vecinos entre otros).</li>
                        <li>Entrenamiento que el personal ha recibido sobre los trabajos.</li>
                        <li>Cualquier sistema escrito de trabajo y/o procedimientos para autorizar un trabajo, que se hayan preparado.</li>
                        <li>Instrucciones de operación o mantenimiento de los equipos de la planta dados por el proveedor o fabricante.</li>
                        <li>Maquinaria y herramientas manuales que se puedan utilizar.</li>
                        <li>Tamaño, forma, características de la superficie y peso de los materiales que se puedan manipular.</li>
                        <li>Distancias y alturas a las cuales deben moverse los materiales en forma manual.</li>
                        <li>Servicios utilizados (por ejemplo, aire comprimido).</li>
                        <li>Sustancias utilizadas o encontradas en el lugar de trabajo (humo, gas, vapor, líquido, polvo, sólido) su contenido y recomendaciones (hoja de seguridad de la sustancia).</li>
                        <li>Medidas de control establecidas.</li>
                        <li>Acceso y adecuada condición del equipo de emergencia, rutas de evacuación, facilidades para la comunicación y apoyo externo en caso de emergencia.</li>
                        <li>Datos de monitoreo reactivo: histórico de incidentes asociadas con el trabajo que se está realizando, el equipo y sustancias empleadas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div class="row text-center">
        <strong>DESCRIPCIÓN Y CLASIFICACIÓN DE PELIGROS</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para identificar los peligros, se recomienda plantear una serie de preguntas como las siguientes: </p>
                <p>• ¿Existe una fuente de peligros? ¿Quién (o qué) puede sufrir daño? ¿Cómo puede ocurrir daño? </p>
                <p>Para la descripción y clasificación de los peligros se tendrá en cuenta la siguiente tabla:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table style="width: 100%;"> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center%;">
            <td style="border:1px solid black;text-align:center;width: 50%;">
                Peligro
            </td>
            <td style="border:1px solid black;text-align:center;width: 50%;">
                Riesgo / Consecuencia
            </td>
        </tr>
    </table> 
    <% @clasification_dangers.each do |clasification_danger| %>
        <table style="width: 100%;"> 
            <tr style="background-color: #00aae4;border:1px solid black;text-align:center%;">
                <td style="border:1px solid black;text-align:center;width: 100%;">
                    <%= clasification_danger.name %>
                </td>
            </tr>
        </table> 
        <table style="width: 100%;"> 
            <% @clasification_danger_details.where("clasification_danger_id = ?",clasification_danger.id).each do |clasification_danger_detail| %>
                <tr style="1px solid black;text-align:center%;">
                    <td style="border:1px solid black;text-align:center;width: 50%;">
                        <%= clasification_danger_detail.name %>
                    </td>
                    <td style="border:1px solid black;text-align:center;width: 50%;">
                        <% @danger_detail_risks.where("clasification_danger_detail_id = ?",clasification_danger_detail.id).each do |danger_detail_risk| %>
                            <%= danger_detail_risk.name %></br>    
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>    
    <% end %>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este cuadro no es un listado exhaustivo. Las organizaciones podrían desarrollar su propia lista de peligros tomando en cuenta el carácter de sus actividades laborales y los sitios en que se realiza el trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>EFECTOS POSIBLES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Cuando se busca establecer los efectos posibles de los peligros sobre la integridad o salud de los trabajadores, se debería tener en cuenta preguntas como las siguientes:</p>
                <p>¿Cómo el trabajador expuesto puede ser afectado?</p>
                <p>¿Cuál es el daño que le puede ocurrir?</p>
                <p>Se debe tener cuidado para garantizar que los efectos descritos reflejen las consecuencias de cada peligro identificado, es decir que sean consecuencias a corto plazo como los de seguridad (accidente de trabajo), y las de largo plazo como las enfermedades (ejemplo: pérdida de audición).</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>CONTROLES EXISTENTES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las organizaciones deberían identificar los controles existentes para cada uno de los peligros identificados y clasificarlos en los tres básicos:</p>
                <p>
                    <ul>
                        <li>Fuente</li>
                        <li>Medio</li>
                        <li>Trabajador</li>
                    </ul>
                </p>
                <p>Se deberían considerar también los controles administrativos que las organizaciones han implementado para disminuir el riesgo, por ejemplo: inspecciones, ajustes a procedimientos, horarios de trabajo, entre otros.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>VALORACIÓN DEL RIESGO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La valoración del riesgo incluye la determinación de los criterios de aceptabilidad del riesgo, la evaluación de los riesgos, teniendo en cuenta la suficiencia de los controles existentes, y la decisión de si son aceptables o no, con base en los criterios definidos.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DEFINIR CRITERIOS DE ACEPTABILIDAD DEL RIESGO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para determinar los criterios de aceptabilidad del riesgo la organización debería tener en cuenta entre otros:</p>
                <p>
                    <ul>
                        <li>Cumplimiento de los requisitos legales aplicables y otros.</li>
                        <li>Su política de S y SO. </li>
                        <li>Objetivos y metas de la organización.</li>
                        <li>Aspectos operacionales, técnicos, financieros, sociales y otros. </li>
                        <li>Opiniones de las partes interesadas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>EVALUACIÓN DE LOS RIESGOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La evaluación de los riesgos corresponde al proceso de determinar la probabilidad de que ocurran eventos específicos y la magnitud de sus consecuencias, mediante el uso sistemático de la información disponible.</p>
                <p>Para evaluar el nivel de riesgo (NR), se debería determinar lo siguiente:</p>
                <p><strong>NR = NP x NC</strong></p>
                <p>Donde:</p>
                <p>
                    <ul>
                        <li>NP = Nivel de probabilidad</li>
                        <li>NC = Nivel de consecuencia</li>
                    </ul>
                </p>                
                <p><strong>A su vez, para determinar el NP se requiere: </strong></p>
                <p><strong>NP= ND x NE</strong></p>
                <p>Donde:</p>
                <p>
                    <ul>
                        <li>ND = Nivel de deficiencia</li>
                        <li>NE = Nivel de exposición</li>
                    </ul>
                </p> 
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Determinación del Nivel de Deficiencia</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Nivel de Deficiencia
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                ND
            </td>
            <td style="border:1px solid black;text-align:center;width: 70%;">
                Significado
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Alto (A)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                6
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Se han detectado algunos peligros que pueden dar lugar a incidentes significativos, o la eficacia del conjunto de medidas preventivas existentes es baja, o ambos.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Medio (M)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                2
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Se han detectado peligros que pueden dar lugar a incidentes poco significativos o de menor importancia, o la eficacia del conjunto de medidas preventivas existentes es moderada, o ambos.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Bajo (B)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                No se asigna valor
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                No se ha detectado peligro alguno, o la eficacia del conjunto de medidas preventivas existentes es alta, o ambos.  El riesgo está controlado.  Estos peligros se clasifican directamente en el nivel de riesgo y de intervención (IV).
            </td>
        </tr>
    </table>
    <div><br></div>    
    <div>
        <strong>Determinación del Nivel de Exposición</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Nivel de Exposición (NE)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                NE
            </td>
            <td style="border:1px solid black;text-align:center;width: 70%;">
                Significado
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Continua (EC)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                4
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
            La situación de exposición se presenta sin interrupción o varias veces con tiempo prolongado durante la jornada laboral.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Frecuente (EF)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                3
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                La situación de exposición se presenta varias veces durante la jornada laboral por tiempos cortos.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Ocasional (EO)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                2
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                La situación de exposición se presenta alguna vez durante la jornada laboral y por un periodo de tiempo corto.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Esporádica (EE)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                1
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                La situación de exposición se presenta de manera eventual.
            </td>
        </tr>
    </table>
    <div><br></div>    
    <div>
        <strong>Para determinar el Nivel de Probabilidad</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Nivel de Probabilidad (NP)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                NP
            </td>
            <td style="border:1px solid black;text-align:center;width: 70%;">
                Significado
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Muy Alto (MA)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Entre 40 y 24
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Situación deficiente con exposición continua, o muy deficiente con exposición frecuente.  Normalmente la materialización del riesgo ocurre con frecuencia.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Alto (A)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Entre 20 y 10
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Situación deficiente con exposición frecuente u ocasional, o bien situación muy deficiente con exposición ocasional o esporádica.  La materialización del riesgo es posible que suceda varias veces en la vida laboral.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Medio (M)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Entre 8 y 6
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Situación deficiente con exposición esporádica, o bien situación mejorable con exposición continuada o frecuente.  Es posible que suceda el daño alguna vez.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Bajo (B)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Entre 4 y 2
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Situación mejorable con exposición ocasional o esporádica, o situación sin anomalía destacable con cualquier nivel de exposición.  No es esperable que se materialice el riesgo, aunque puede ser concebible.
            </td>
        </tr>
    </table>
    <div><br></div>    
    <div>
        El siguiente paso será determinar el Nivel de Consecuencias lo cual se realizará con los siguientes criterios:
    </div> 
    <div><br></div>    
    <div>
        <strong>Determinación del Nivel de Consecuencias</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Nivel de Consecuencias (NC)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                NC
            </td>
            <td style="border:1px solid black;text-align:center;width: 70%;">
                Significado Daños Personales
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Mortal o catastrófico (M)
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                100
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Muerte (s).
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Muy Grave
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                60
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Lesiones o enfermedades graves irreparables (incapacidad permanente parcial o invalidez).
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Grave
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                25
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Lesiones o enfermedades con incapacidad laboral temporal.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Leve
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                10
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Lesiones o enfermedades que no requieren incapacidad
            </td>
        </tr>
    </table>
    <div><br></div>    
    <div>
        Los resultados de las dos últimas tablas se combinan para obtener el Nivel de Riesgo el cual se interpreta de acuerdo con los criterios de la siguiente tabla:
    </div> 
    <div><br></div>    
    <div>
        <strong>Determinación del nivel de Riesgo</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:center;width: 100%;">
                <%=  image_tag('imgmv22.png', height: "300", width: "auto")  %>
            </td>
        </tr>
    <table>     
    <div><br></div>    
    <div>
        <strong>Significado del Riesgo</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                Nivel de Riesgo y de intervención
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                NR
            </td>
            <td style="border:1px solid black;text-align:center;width: 70%;">
                Significado
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                I
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                4000-600
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Situación crítica.  Suspender actividades hasta que el riesgo esté bajo control.  Intervención urgente.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                II
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                500-150
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Corregir y adoptar medidas de control inmediato.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                III
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                120-40
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Mejorar si es posible.  Sería conveniente justificar la intervención y su rentabilidad.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 15%;">
                IV
            </td>
            <td style="border:1px solid black;text-align:center;width: 15%;">
                20
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 70%;">
                Mantener las medidas de control existentes, pero se deberían considerar soluciones o mejoras y se deben hacer comprobaciones periódicas para asegurar que el riesgo aún es tolerable.
            </td>
        </tr>
    </table>
    <div><br></div>    
    <div>
        <strong>DECIDIR SI EL RIESGO ES ACEPTABLE O NO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Una vez determinado el nivel de riesgo, la organización debería decidir cuales riesgos son aceptables y cuáles no. En una evaluación completamente cuantitativa es posible evaluar el riesgo antes de decidir el nivel que se considera aceptable o no aceptable. Sin embargo, con métodos semicuantitativos tales como el de la matriz de riesgos, la organización debería establecer cuáles categorías son aceptables y cuáles no.</p>
                <p>Para hacer esto, la organización debe primero establecer los criterios de aceptabilidad, con el fin de proporcionar una base que brinde consistencia en todas las valoraciones del riesgo. Esto debe incluir la consulta a las partes interesadas y debe tener en cuenta la legislación vigente.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Aceptabilidad del Riesgo</strong>
    </div> 
    <div><br></div>
    <div><br></div>
    <table> 
        <tr style="background-color: #00aae4;border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 20%;">
                Nivel de Riesgo (NR)
            </td>
            <td style="border:1px solid black;text-align:center;width: 40%;">
                Significado
            </td>
            <td style="border:1px solid black;text-align:center;width: 40%;">
                Explicación
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 20%;">
                I
            </td>
            <td style="border:1px solid black;text-align:center;width: 40%;">
                No Aceptable
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 40%;">
                Situación crítica, corrección urgente
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 20%;">
                II
            </td>
            <td style="border:1px solid black;text-align:center;width: 40%;">
                No Aceptable o Aceptable con control específico
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 40%;">
                Corregir o adoptar medidas de control.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 20%;">
                III
            </td>
            <td style="border:1px solid black;text-align:center;width: 40%;">
                Mejorable
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 40%;">
                Mejorar el control existente.
            </td>
        </tr>
        <tr style="border:1px solid black;text-align:center;">
            <td style="border:1px solid black;text-align:center;width: 20%;">
                IV
            </td>
            <td style="border:1px solid black;text-align:center;width: 40%;">
                Aceptable
            </td>
            <td style="border:1px solid black;text-align:justify%;width: 40%;">
                No intervenir salvo que un análisis más preciso lo justifique.
            </td>
        </tr>
    </table>
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Al aceptar un riesgo específico, se debería tener en cuenta el número de expuestos y las exposiciones a otros peligros, que pueden aumentar o disminuir el nivel de riesgo en una situación particular. La exposición al riesgo individual de los miembros de los grupos especiales también se debería considerar, por ejemplo, los grupos vulnerables tales como nuevos o inexpertos.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ELABORAR EL PLAN DE ACCIÓN PARA EL CONTROL DE LOS RIESGOS </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los niveles de riesgo, como se muestra en la tabla “Significado del nivel de riesgo”, forman la base para decidir si se requiere mejorar los controles y el plazo para la acción. Igualmente muestra el tipo de control y la urgencia que se debería proporcionar al control del riesgo. El resultado de una valoración de los riesgos debería incluir un inventario de acciones, en orden de prioridad, para crear, mantener o mejorar los controles.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>CRITERIOS PARA ESTABLECER CONTROLES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Si existe una identificación de los peligros y valoración de los riegos en forma detallada es mucho más fácil para las organizaciones determinar qué criterios necesita para priorizar sus controles, sin embargo, en la práctica de las empresas en este proceso deberían tener como mínimo los siguientes tres (3) criterios: </p>
                <p>
                    <ul>
                        <li>Número de trabajadores expuestos: Importante tenerlo en cuenta para identificar el alcance del control a implementar.</li>
                        <li>Peor consecuencia: Aunque se han identificado los efectos posibles, se debe tener en cuenta que el control a implementar evite siempre la peor consecuencia al estar expuesto al riesgo.</li>
                    </ul>
                </p>
                <p>Sin embargo, las organizaciones podrían establecer nuevos criterios para establecer controles que estén acordes con su naturaleza y extensión de la misma.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>MEDIDAS DE INTERVENCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Una vez completada la valoración de los riesgos, y que se hayan tenido en cuenta los controles existentes, la organización debería estar en capacidad de determinar si los controles existentes son suficientes o necesitan mejorarse, o si se requieren nuevos controles.</p>
                <p>Si se requieren controles nuevos o mejorados, en donde sea viable, se deberían priorizar y determinar de acuerdo con el principio de eliminación de peligros, seguidos por la reducción de riesgos (es decir, reducción de la probabilidad de ocurrencia, o la severidad potencial de la lesión o daño), de acuerdo con la jerarquía de los controles contemplada en la norma NTC-OHSAS 45001:2018.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>A continuación, se presentan ejemplos de implementación de la jerarquía de controles:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Eliminación: modificar un diseño para eliminar el peligro, por ejemplo, introducir dispositivos mecánicos de alzamiento para eliminar el peligro de manipulación manual.</li>
                        <li>Sustitución: sustituir por un material menos peligroso o reducir la energía del sistema (por ejemplo, reducir la fuerza, el amperaje, la presión, la temperatura, etc.).</li>
                        <li>Controles de ingeniería: instalar sistemas de ventilación, protección para las máquinas, enclavamiento, cerramientos acústicos, etc.</li>
                        <li>Señalización, advertencias, y/o controles administrativos: instalación de alarmas, procedimientos de seguridad, inspecciones de los equipos, controles de acceso, capacitación del personal.</li>
                        <li>Equipos de protección personal: gafas de seguridad, protección auditiva, máscaras faciales, arneses de seguridad y cuerdas, respiradores y guantes.</li>
                        <li>Al aplicar la jerarquía se deben considerar los costos relativos, los beneficios de la reducción de riesgos, y la confiabilidad de las opciones disponibles.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Una organización también debería tener en cuenta:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>La necesidad de una combinación de controles, combinación de elementos de la jerarquía anterior (por ejemplo, controles de ingeniería y administrativos).</li>
                        <li>Buenas prácticas establecidas en el control del peligro particular que se considera.</li>
                        <li>Adaptación del trabajo al individuo (por ejemplo, tener en cuenta las capacidades físicas y mentales del individuo).</li>
                        <li>Sacar ventaja del progreso técnico para mejorar los controles. </li>
                        <li>Usar medidas que protejan a todos (por ejemplo, mediante la selección de controles de ingeniería que protejan a todos en las cercanías del riesgo, de preferencia EPP).</li>
                        <li>El comportamiento humano y si una medida de control particular será aceptada y se puede implementar efectivamente.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>REVISIÓN DE LA CONVENIENCIA DEL PLAN DE ACCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La organización debería generar un proceso de verificación del plan de acción seleccionado con personal experto interno y/o externo, esto garantizaría que el proceso de valoración de los riesgos y de establecimiento de criterios es correcto y la ejecución del proceso es eficaz.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>MANTENIMIENTO Y ACTUALIZACIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Es un requisito que la identificación de los peligros y la valoración de los riesgos se lleven a cabo regularmente. Para esto es necesario que la organización considere el momento y la frecuencia de estas revisiones, ya que se ve afectada por los siguientes tipos de aspectos:</p>
                <p>
                    <ul>
                        <li>La necesidad de determinar si los controles para el riesgo existentes son eficaces y suficientes. </li>
                        <li>La necesidad de responder a nuevos peligros. </li>
                        <li>La necesidad de responder a cambios que la propia organización ha llevado a cabo. </li>
                        <li>La necesidad de responder a retroalimentación de las actividades de seguimiento, investigación de incidentes, situaciones de emergencia o los resultados de las pruebas de los procedimientos de emergencia.</li>
                        <li>Factores externos, por ejemplo, problemas de salud ocupacional que se presenten.</li>
                        <li>Avances en las tecnologías de control. </li>
                        <li>La diversidad cambiante en la fuerza de trabajo, incluidos los contratistas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>BIBLIOGRAFÍA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>GTC-45: 2012. Guía Técnica Colombiana para la Identificación de Peligros y Valoración de Riesgos.</li>
                        <li>NTC-ISO 9001:1994, Sistemas de calidad. Modelo para aseguramiento de la calidad en diseño, desarrollo, producción, instalación y servicio asociado.</li>
                        <li>NTC 5254:2006, Gestión del Riesgo. Proceso para la gestión e identificación del riesgo. </li>
                        <li>NTC OHSAS 18001:2007, Sistema de gestión en seguridad y salud ocupacional, Requisitos de implementación. (DEROGADA POR LA OHSAS 45001:2018</li>
                        <li>Resolución 1016 de 1989. Por la cual se reglamenta la organización, funcionamiento y forma de los programas de salud ocupacional que deben desarrollar los patronos o empleadores en el país.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>