<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>

    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <strong>CERTIFICADO DE NO USO DE SUSTANCIAS CANCERÍGENAS</strong>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
    <div>
        <br>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
                En <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>  <%= @evidence.object if @evidence.present? %><br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
            <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> con  NIT:  <strong><%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong>  certifica que ni en sus procesos administrativos, ni productivos, así como en ninguna de sus sedes, se emplean sustancias catalogadas como cancerígenas por la OMS o por algún ente gubernamental de Colombia.
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr><td><br></td></tr>                
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify">
            Cordialmente, 
            </td>
        </tr>
    </table>
    <tr><td><br></td></tr>                

    <%= render 'firmarepresentante' %>

    <br>
     
