<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <strong>CERTIFICADO DE NO USO DE SUSTANCIAS CANCERÍGENAS</strong>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
    <div>
        <br>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
                En <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>  <%= @evidence.object if @evidence.present? %><br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
            <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> con  NIT:  <strong><%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %></strong>  certifica que ni en sus procesos administrativos, ni productivos, así como en ninguna de sus sedes, se emplean sustancias catalogadas como cancerígenas por la OMS o por algún ente gubernamental de Colombia.
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr><td><br></td></tr>                
        <tr><td><br></td></tr>                

        <tr>
            <td style="text-align:justify">
            Cordialmente, 
            </td>
        </tr>
    </table>
    <tr><td><br></td></tr>                

    <%= render 'firmarepresentante' %>

    <br>
     
<div>