<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
   
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%= wicked_pdf_image_tag asset_url('imgmv23.png'), height: "300", width: "auto" %>
            </td>
        </tr>
    <table>     

    <div><br></div>
    <div class="row text-center">
        <h2><%= @evidence.year_initial if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div>
        <strong>1. OBJETIVO </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Mantener los bienes muebles e inmuebles de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> en completa funcionalidad, dentro de los estándares de calidad y gestión eficiente de los recursos públicos.</p>
                <p>Definir de forma clara y precisa los procedimientos a considerar en el desarrollo de las tareas y responsabilidades de la administración de los activos de la entidad.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2. ALCANCE </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Desde la identificación y programación de los mantenimientos preventivos, hasta la ejecución de los mantenimientos preventivos o correctivos.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3. DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>3.1. MANTENIMIENTO PREVENTIVO</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Actividades programadas de revisión técnica que se realizan periódicamente para evitar que se presente deterioro o daño en los equipos o instalaciones locativas, de acuerdo con lo sugerido en las garantías de los proveedores o por los contratistas que han realizado adecuaciones locativas en inmuebles de la entidad.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3.2. MANTENIMIENTO CORRECTIVO</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Actividades de reparación, corrección o ajuste, realizadas en el momento de presentarse algún daño en equipos o instalaciones locativas de manera intempestiva.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3.3. HOJA DE VIDA</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Registro que contiene el resumen general de los datos de los equipos o instalaciones y los trabajos de mantenimiento que se le han realizado durante la vida útil de los mismos por <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4. CONDICIONES GENERALES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>4.1. </strong>El Responsable de Seguridad y Salud en el Trabajo es el garante de llevar y actualizar la hoja de vida de los equipos e inmuebles adquiridos por la organización.</p>
                <p><strong>4.2. </strong>El área de Seguridad y Salud en el Trabajo es la responsable de consolidar las necesidades particulares de mantenimiento por cada bien, las cuales deberán ser informadas al Profesional de Gestión administrativa quien elaborará el programa de mantenimiento.</p>
                <p><strong>4.3. </strong>A finales de cada año el área de gestión administrativa se encarga de proyectar la programación de mantenimientos preventivos de la vigencia siguiente para equipos e inmuebles de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
                <p><strong>4.4. </strong>A partir del cronograma de mantenimiento elaborado, el Profesional de Gestión del área Administrativa elabora los requerimientos de contratación de los mantenimientos especializados para cada tipo de bien y/o equipos. Estos requerimientos se realizarán al Profesional de Gestión del área de Contratación quien de acuerdo con los procedimientos aplicables tramitará los contratos requeridos.</p>
                <p><strong>4.5. </strong>No se deben realizar mantenimientos preventivos por las cajas menores de la entidad. En caso de requerirse un servicio de mantenimiento correctivo sobre cualquier bien de la entidad que no se encuentre cubierto por un contrato de mantenimiento vigente, y cuyo costo supere un (1) S.M.L.M.V, se deberá tramitar autorización con la Subdirección Administrativa y Financiera. El encargado de la caja menor enviará copia de la factura del mantenimiento correctivo realizado al Profesional de Gestión del área Administrativa para la actualización de las hojas de vida, los informes de mantenimiento u otros documentos para su archivo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5. INMUEBLES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los grupos de bienes que se deben incluir dentro del programa de mantenimiento preventivo son:</p>
                <p>
                    <ul>
                        <li>Inmuebles</li>
                        <li>Archivadores rodantes</li>
                        <li>Fotocopiadoras</li>
                        <li>Aires acondicionados</li>
                        <li>Alarmas</li>
                        <li>Proyector de multimedia</li>
                        <li>Plantas telefónicas</li>
                        <li>Servidores</li>
                        <li>Computadores</li>
                        <li>Portátiles</li>
                        <li>Escáner</li>
                        <li>Monitores</li>
                        <li>CPU</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>6. NO CONFORMIDADES DE ESTE PROCESO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El retraso en la ejecución del Plan de Mantenimiento supondrá una No Conformidad del Sistema de Gestión de Calidad, en cuyo caso, se deberá abrir la correspondiente Incidencia, estudiar los motivos de dicho retraso y proponer medidas correctoras apropiadas. Estas No Conformidades serán evaluadas posteriormente para determinar posibles acciones correctivas y/o preventivas.</p>
                <p>Además, se consideran No Conformidades de este proceso cualquier incumplimiento de lo establecido en este documento.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>7. RESPONSABILIDADES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>En general, los trabajos de mantenimiento y reparación son realizados por el Responsable de Mantenimiento y el personal a su cargo, a excepción de aquellas labores que puedan ser realizadas con eficacia y eficiencia por el personal responsable de la máquina o equipo correspondiente.</p>
                <p>Además, el personal es responsable de mantener los documentos generados por este procedimiento en buenas condiciones, evitando su deterioro o pérdida.</p>
                <p>El departamento de Gestión de Calidad posee copia de los formatos necesarios para este proceso, y velará por el correcto cumplimiento de este.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>8. PLAN DE MANTENIMIENTO DE EQUIPOS E INSTALACIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>En caso de aprobarse el mantenimiento <strong>preventivo</strong>, el Responsable de Mantenimiento (con ayuda de la oficina técnica o fuentes externas si es necesario), debe elaborar un Plan donde se reflejen las tareas periódicas a realizar para minimizar o hacer desaparecer las averías imprevistas que el equipo o instalaciones pueda sufrir.</p>
                <p>El <strong>Plan de Mantenimiento Preventivo</strong> es individual para cada una de las máquinas e instalaciones.</p>
                <p>En caso de optar por mantenimiento correctivo no se rellena este formato, por carecer de sentido, aunque se siguen registrando las labores de mantenimiento en el historial del equipo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>9. FICHA TÉCNICA DEL EQUIPO O DE LAS INSTALACIONES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Documento donde se reflejan datos del equipo o máquina, tales como código, fabricante, fecha de entrada en la empresa, fecha de fabricación, descripción, situación en el almacén y otros datos de interés, como número de serie, etc.</p>
                <p>Se recogen aquí, además, datos de contacto de las personas que suministraron el equipo, representantes de la zona, etc., que pudieran ser de interés ante cualquier avería o consulta. Existe una Ficha Técnica para cada equipo o máquina bajo mantenimiento.</p>
                <p>Además de la ficha técnica, el Responsable de Mantenimiento archiva otros documentos relacionados con el equipo o máquina, como pueden ser catálogos, manual del usuario, esquemas de funcionamiento, instrucciones de uso, medidas preventivas a tomar para evitar riesgos sobre las personas y material, entre otros.</p>
            </td>
        </tr>
    </table> 

    <div><br></div>    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>