<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
   
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= @evidence.entity.identification_number if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:center;width: 30%;">
                <%= wicked_pdf_image_tag asset_url('imgmv24.png'), height: "300", width: "auto" %>
            </td>
        </tr>
    <table>     
    <div><br></div>

    <div><br></div>
    <div class="row text-center">
        <h2><%= @evidence.year_initial if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div style="text-align:center">
        <strong>CONTENIDO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>INTRODUCCIÓN</p>
                <p>1. OBJETIVOS DEL PROGRAMA DE VIGILANCIA EPIDEMIOLÓGICA</p>
                <p>1.1 OBJETIVO GENERAL</p>
                <p>1.2 OBJETIVOS ESPECÍFICOS</p>
                <p>2. NORMATIVIDAD</p>
                <p>3. POBLACIÓN OBJETIVO</p>
                <p>4. MARCO CONCEPTUAL</p>
                <p>5. IMPLEMENTACIÓN DEL PROGRAMA</p>
                <p>5.1 SENSIBILIZACIÓN</p>
                <p>5.2 APLICACIÓN DEL INSTRUMENTO</p>
                <p>5.3 TABULACIÓN DE LA INFORMACIÓN, ANÁLISIS DE RESULTADOS Y DISEÑO DEL PLAN DE INTERVENCIÓN</p>
                <p>5.4 SOCIALIZACIÓN DE RESULTADOS</p>
                <p>5.5 IMPLEMENTACIÓN Y EJECUCIÓN DE ACTIVIDADES DE INTERVENCIÓN</p>
                <p>5.6 SEGUIMIENTO</p>
                <p>5.6.1. INDICADORES</p>
                <p>6. RECURSOS</p>
                <p>6.1. RECURSOS HUMANOS</p>
                <p>6.2 RECURSOS LOCATIVOS</p>
                <p>6.3. RECURSOS TÉCNICOS</p>
                <p>6.4. RECURSOS FINANCIEROS</p>
                <p>7. RESPONSABILIDADES</p>
                <p>7.1. RESPONSABILIDADES DE LA ARL</p>
                <p>7.2. RESPONSABILIDADES DE LA ORGANIZACIÓN</p>
                <p>7.3. RESPONSABILIDADES DEL ENCARGADO DEL PVE</p>
                <p>7.4. RESPONSABILIDADES DE LOS COORDINADORES DE LAS ÁREAS DE TRABAJO</p>
                <p>7.5. RESPONSABILIDADES DE LOS TRABAJADORES</p>
            </td>
        </tr>
    </table> 
    <div><br></div> 
    <p style='page-break-after:always;'></p>   
    <div style="text-align:center">
        <strong>INTRODUCCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las diferentes actividades económicas de las empresas de nuestro país pueden favorecer la incidencia del factor de riesgo psicosocial en su población trabajadora. Cada institución u organización tiene unas características específicas que se relacionan con los factores de riesgo psicosocial, y que pueden influir en la salud de sus trabajadores, su motivación y productividad. Lo anterior, justifica el diseño de un programa que permita evaluar las variables que intervienen en los aspectos de condiciones de trabajo y de salud relacionados con los factores de riesgo psicosocial detectados en la aplicación de baterías que se lleva a cabo en la empresa, y que facilite el diseño de medidas de intervención correctivas y preventivas a que haya lugar disminuyendo el efecto de dichos factores.</p>
                <p>El programa de vigilancia epidemiológica es el conjunto de estrategias técnicas y acciones orientadas a prevenir, mantener y mejorar las condiciones de salud de los trabajadores mediante la evaluación, intervención y control de las condiciones de trabajo y salud que puede llegar a generar la exposición a factor de riesgo psicosocial.</p>
                <p>Con la puesta en marcha de este programa además de beneficiar y mantener la salud y bienestar de los trabajadores mejora la productividad y calidad de trabajo, y se da cabal cumplimiento a los requerimientos de la legislación.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>1. OBJETIVOS DEL PROGRAMA DE VIGILANCIA EPIDEMIOLÓGICA</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>1.1 OBJETIVO GENERAL</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer y desarrollar un programa integral de identificación, control e intervención del factor de riesgo Psicosocial presente con el fin de disminuir los trastornos de la salud asociados al mismo, contribuir al mejoramiento del ambiente laboral y bienestar de los trabajadores.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>1.2 OBJETIVOS ESPECÍFICOS</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Evaluar los factores de riesgo psicosocial intra-laborales, extra- laboral, personales y el estrés.</li>
                        <li>Determinar los efectos de los factores de riesgo psicosocial sobre la salud y el trabajo del personal.</li>
                        <li>Promover en los trabajadores conciencia de autocuidado de la salud y la prevención.</li>
                        <li>Ejecutar acciones para minimizar el impacto de los factores de riesgo psicosociales y generar planes de intervención de los mismos.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>2. NORMATIVIDAD</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><strong>Ley 1010 de 2006: </strong>Por medio de la cual se adoptan medidas para prevenir, corregir y sancionar el acoso laboral y otros hostigamientos en el marco de las relaciones de trabajo.</li>
                        <li><strong>Ley 1562 de 2012 (art 3): </strong>Definición de accidente de trabajo: es un accidente de trabajo todo suceso repentino que sobrevenga por causa o con ocasión del trabajo y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psíquica una invalidez o la muerte.</li>
                        <li><strong>Decreto ley 1295 de 1994 (Art. 2): </strong>Establecer las actividades de promoción y prevención tendiente a mejorar las condiciones de trabajo y salud de la población trabajadora, protegiéndola contra los riesgos derivados de la organización del trabajo que pueden afectar la salud individual o colectiva en los lugares de trabajo tales como físicos, químicos, biológicos, biomecánicos, psicosociales, de saneamiento y seguridad. </li>
                        <li><strong>Decreto 614 de 1984 (Art. 2 literal C): </strong>Proteger a las personas contra los riesgos relacionados con agentes físicos, químicos, biológicos, psicosociales, mecánicos, eléctricos y otros derivados de la organización laboral que puedan afectar la salud individual o colectiva en los lugares de trabajo. </li>
                        <li><strong>Resolución 1016 de 1989 (Art. 10 numeral 12): </strong>Diseñar y ejecutar programas para la prevención y control de enfermedades generadas por los riesgos Psicosociales.</li>
                        <li><strong>Resolución 652 de 2012: </strong>Por la que se establece la conformación y funcionamiento del comité de convivencia laboral en entidades públicas y empresas privadas.</li>
                        <li><strong>Resolución 2646 de 2008: </strong>Por la cual se establecen disposiciones y se definen responsabilidades, de identificación, evaluación, prevención, intervención y monitoreo permanente de la exposición a factores de riesgo Psicosocial, en el trabajo y para la determinación del origen de las patologías causadas por el estrés ocupacional.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>3. POBLACIÓN OBJETIVO</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El programa de vigilancia epidemiológica de riesgo psicosocial tendrá como población objetivo a aquellos trabajadores de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> que se encuentren expuestos a este riesgo y que requieran la aplicación del programa.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>4. MARCO CONCEPTUAL</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>ACOSO LABORAL: </strong>Toda conducta persistente y demostrable, ejercida sobre un empleado o trabajador por parte de un empleador, un jefe o superior jerárquico inmediato o mediato, un compañero de trabajo o subalterno, encaminada a infundir miedo, intimidación, terror y angustia a causar perjuicio laboral, generar desmotivación en el trabajo o inducir la renuncia de éste, conforme lo establece la ley 1010 de 2006.</p>
                <p><strong>ESTRÉS: </strong>Respuesta de un trabajador tanto a nivel fisiológico, psicológico como conductual, en su intento de adaptarse a las demandas resultantes de la interacción de sus condiciones individuales, intralaborales y extralaborales.</p>
                <p><strong>EXPERTO: </strong>Psicólogo(a) con posgrado en Salud Ocupacional, con licencia vigente de prestación de servicios en Psicología Ocupacional. Cuando según certificación expedida por la respectiva Secretaría de Salud, en un departamento no exista disponibilidad de psicólogos con especialización en Salud Ocupacional y licencia vigente, se considera experto el psicólogo que tenga mínimo 100 horas de capacitación específica en factores psicosociales, mientras subsista dicha situación.</p>
                <p><strong>FACTOR DE RIESGO PSICOSOCIAL: </strong>Condiciones psicosociales cuya identificación y evaluación muestra efectos negativos en la salud de los trabajadores o en el trabajo.</p>
                <p><strong>FACTORES EXTRALABORALES: </strong>Aspectos relacionados con la situación socioeconómica y educativa del grupo familiar, efecto del trabajo en el ámbito familiar y social, y situación política, económica y social del país.</p>
                <p><strong>FACTORES INDIVIDUALES: </strong>Aspectos relacionados con las características individuales del trabajador, como: características sociodemográficas, de personalidad y aspectos que hacen referencia a estilos de afrontamiento.</p>
                <p><strong>FACTORES INTRALABORALES: </strong>Aspectos relacionados con el medio ambiente de trabajo (lugar), la tarea (el quehacer cotidiano) y la organización (estructura y políticas).</p>
                <p><strong>RIESGO:</strong>Probabilidad de ocurrencia de una enfermedad, lesión o daño en un grupo dado.</p>
                <p><strong>TRABAJO: </strong>Toda actividad humana remunerada o no, dedicada a la producción, comercialización, transformación, venta o distribución de bienes o servicios y/o conocimientos, que una persona ejecuta en forma independiente o al servicio de otra persona natural o jurídica.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>5. IMPLEMENTACIÓN DEL PROGRAMA</strong>
    </div> 
    <div><br></div>   
    <div>
        <strong>5.1 SENSIBILIZACIÓN</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Realizar un análisis sobre la importancia de la identificación, intervención y control de los factores de riesgo Psicosocial. Esto se llevará a cabo por medio de reuniones informativas, folletos comunicaciones entre otras, donde se exponga claramente dicha información.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>5.2 APLICACIÓN DEL INSTRUMENTO</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Aplicación de un instrumento válido por el ministerio de la protección a la población objeto de estudio este debe ser aplicado por un experto.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>5.3 TABULACIÓN DE LA INFORMACIÓN, ANÁLISIS DE RESULTADOS Y DISEÑO DEL PLAN DE INTERVENCIÓN</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se analizan los resultados de la evaluación de los factores de riesgo Psicosocial, tanto a nivel grupal como individual. Basados en los resultados obtenidos se diseñan las estrategias de intervención con el fin de minimizar los riesgos y mitigar los efectos sobre la salud de los trabajadores expuestos.</p>
                <p>Los hallazgos obtenidos con las distintas técnicas se organizan según sean factores psicosociales (de riesgo y protectores) o efectos (en las personas o en la organización).</p>
                <p>Las fuentes de información pueden ser las descripciones de cargos o profesiogramas, los manuales de funciones, las políticas organizacionales, las historias médico-ocupacionales, los estudios de clima organizacional, los estudios de puestos de trabajo, las investigaciones de los accidentes, los resultados de los cuestionarios de cada trabajador.</p>
                <p>Los datos cuantitativos pueden obtenerse de registros del área de Talento Humano, (datos demográficos tales como distribución por edad, género, tipo de cargo, nivel de escolaridad, entre otros), registros de accidentalidad, de ausentismo, rotación de personal, etc.</p>
                <p>Los informes de los hallazgos en factores psicosociales deben reflejar el análisis de los criterios de tiempo, frecuencia e intensidad de exposición a cada factor de riesgo para cada grupo de riesgo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>5.4 SOCIALIZACIÓN DE RESULTADOS</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se informa los resultados al área de Talento Humano. Una vez formulada la propuesta estratégica, se presenta al Vigía de SST con quien en consenso se definen las actividades de intervención.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>5.5 IMPLEMENTACIÓN Y EJECUCIÓN DE ACTIVIDADES DE INTERVENCIÓN</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las actividades de intervención deben clasificarse como prioritarias o preventivas, de modo que su implementación tenga efecto en la disminución de los factores de riesgo psicosocial y en los efectos, tanto en las personas como en la organización misma.</p>
                <p>Debe considerarse también como medida de intervención, toda actividad de promoción y prevención relacionada con el tema. Entre las actividades de promoción y prevención se hallan sesiones de sensibilización para el manejo del estrés y la participación en actividades desarrolladas para el crecimiento personal y el fortalecimiento familiar de los trabajadores. La implementación de las acciones de intervención requiere de la definición de un plan de trabajo que se realizará de forma anual.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>5.6 SEGUIMIENTO</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Periódicamente se le llevará seguimiento a las actividades definidas en el plan de trabajo de riesgo Psicosocial establecido en el cronograma anual de Seguridad y Salud en el trabajo para verificar su cumplimiento y resultados obtenidos teniendo como fuentes los indicadores de gestión de seguridad y salud en el trabajo, así como los indicadores internos del programa de vigilancia. Los indicadores se registran y se analizan con el fin de orientar y dar curso a las intervenciones a que haya lugar.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>5.6.1. INDICADORES</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El área de Seguridad y salud en el trabajo llevará los indicadores en forma semestral para poder evaluar el resultado del programa de vigilancia Epidemiológica en Riesgo Psicosocial.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>6. RECURSOS</strong>
    </div> 
    <div><br></div>   
    <div>
        <strong>6.1. RECURSOS HUMANOS</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El desarrollo y ejecución del programa de vigilancia epidemiológica requiere del compromiso administrativo, a fin de garantizar que se cuente con el personal idóneo para su desarrollo; siendo indispensable contar con un profesional psicólogo especialista en salud ocupacional al momento de la aplicación de baterías, un profesional psicólogo especialista en salud ocupacional asignado por la ARL para realizar el proceso de intervención y un representante del programa encargado de seguridad y salud en el trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>6.2 RECURSOS LOCATIVOS</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Contar con áreas y espacios suficientemente amplios y adecuados donde se puedan llevar a cabo y ejecutar las actividades comprendidas dentro del programa de vigilancia epidemiológica.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>6.3. RECURSOS TÉCNICOS</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Serán todos aquellos equipos y herramientas necesarias para la ejecución y cumplimiento del programa de vigilancia epidemiológica, son éstos: equipos de cómputo, software, aparato tecnológico con cámara fotográfica y video.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>6.4. RECURSOS FINANCIEROS</strong>
    </div> 
    <div><br></div>    
    <div><br></div>    
    <div>
        <strong>7. RESPONSABILIDADES</strong>
    </div> 
    <div><br></div>   
    <div>
        <strong>7.1. RESPONSABILIDADES DE LA ARL</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Coordinar la revisión y actualización del programa de Vigilancia Epidemiológica de Factores de Riesgo Psicosocial cuando haya lugar a ello.</li>
                        <li>Cuando así se requiera, coordinar y realizar las actividades necesarias para calificar origen y pérdida de capacidad laboral por origen psicosocial intralaboral en los trabajadores afiliados.</li>
                        <li>Asegurar el seguimiento y atención de los casos (enfermedades laborales detectadas).</li>
                        <li>Asesorar, a través de profesionales especialistas en el área psicosocial, la escogencia de los métodos de recolección de información, estudio y valoración de los factores de riesgo psicosocial.</li>
                        <li>Asesorar a <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> en la estructuración de un cronograma de actividades, una vez se haya realizado el estudio de factores psicosociales.</li>
                        <li>Asesorar y apoyar en la implementación y seguimiento del programa de vigilancia epidemiológica de Factores de Riesgo Psicosocial, junto con las actividades de intervención y control, y las necesarias de prevención y promoción.</li>
                        <li>Asesorar en la medición y retroalimentación del PVE, para orientar el desarrollo de actividades, hacia el mejoramiento continuo.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>7.2. RESPONSABILIDADES DE LA ORGANIZACIÓN</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Garantizar el cuidado integral de la salud de los empleados y de los ambientes de trabajo.</li>
                        <li>Establecer y garantizar los recursos necesarios para cumplir con el cuidado de la salud de los funcionarios y de los ambientes de trabajo.</li>
                        <li>Designar un presupuesto para el desarrollo de actividades en seguridad y salud en el trabajo y específicamente en el PVE.</li>
                        <li>Informar a sus empleados acerca de los objetivos y alcance del sistema de gestión de seguridad y salud en el trabajo y de las actividades que lo componen y promover su participación en las mismas.</li>
                        <li>Definir a las personas encargadas del desarrollo de las actividades de seguridad y salud en el trabajo y del PVE y vigilar su desempeño.</li>
                        <li>Facilitar los trámites requeridos por la ARL para la calificación de la enfermedad laboral del empleado, si así se requiere.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>7.3. RESPONSABILIDADES DEL ENCARGADO DEL PVE</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Coordinar la aplicación y seguimiento del PVE de Factores de Riesgo Psicosocial, para responder a las necesidades específicas de la organización.</li>
                        <li>Verificar el cumplimiento de las fases del PVE.</li>
                        <li>Asegurar el seguimiento y análisis de las actividades de prevención y control, de acuerdo al estado de salud de los empleados.</li>
                        <li>Asegurar que se conserven actualizados los documentos y registros de la historia clínica ocupacional.</li>
                        <li>Elaborar y mantener actualizada la matriz de peligros de cada área, incluyendo los resultados de los factores psicosociales.</li>
                        <li>Informar los resultados y avances de las actividades desarrolladas desde el PVE de Factores de Riesgo Psicosocial, con el fin de involucrarlos en las decisiones.</li>
                        <li>Escoger, con la asesoría de los profesionales especialistas en el área psicosocial de la ARL, los métodos de recolección de información, estudio y valoración de los factores de riesgo psicosocial para la empresa.</li>
                        <li>Estructurar junto con la ARL, un cronograma de actividades de intervención, una vez se haya realizado un estudio de los factores de riesgo psicosocial en la organización.</li>
                        <li>Reportar a la ARL la presencia de posibles “casos”, asociados con la presencia de factores de riesgo psicosocial laboral.</li>
                        <li>Informar a los trabajadores cuando haya lugar a ello de los procesos de recolección, análisis y resultados del PVE de Factores de Riesgo Psicosocial.</li>
                        <li>Coordinar la implementación de actividades de prevención y control que surjan a partir de la implementación del PVE de Factores de Riesgo Psicosocial.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>7.4. RESPONSABILIDADES DE LOS COORDINADORES DE LAS ÁREAS DE TRABAJO</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Apoyar el cumplimiento de las normas, procedimientos e instrucciones de trabajo y seguridad y salud en el trabajo.</li>
                        <li>Motivar y fomentar la práctica de procedimientos seguros de trabajo y la cultura del autocuidado.</li>
                        <li>Informar de manera inmediata al área de seguridad y salud en el trabajo, la presencia de factores de riesgo psicosocial dentro de sus áreas a cargo.</li>
                        <li>Cumplir las recomendaciones de seguridad y salud en el trabajo para el fomento de la salud y el adecuado manejo del estrés.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div>
        <strong>7.5. RESPONSABILIDADES DE LOS TRABAJADORES</strong>
    </div> 
    <div><br></div>       
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Garantizar el cuidado integral de la salud y el manejo del estrés (por factores psicosociales extralaborales e individuales).</li>
                        <li>Suministrar información clara, veraz y completa sobre su salud durante los exámenes ocupacionales.</li>
                        <li>Cumplir las normas, procedimientos e instrucciones del PVE de factores de riesgo psicosocial.</li>
                        <li>Asistir de manera cumplida a los exámenes ocupacionales y las actividades de capacitación programadas y de intervención y seguir de manera estricta las indicaciones de prevención o control dadas en el programa de vigilancia epidemiológica.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 


    <div><br></div>    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaboro' %>
