<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @evidence.entity.business_name if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= @evidence.entity.identification_number if @evidence.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:center;width: 30%;">
                <%= wicked_pdf_image_tag asset_url('imgmv25.png'), height: "300", width: "auto" %>
            </td>
        </tr>
    <table>     

    <div><br></div>

    <div><br></div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div class="row text-center">
        <strong>INTRODUCCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las inspecciones de seguridad es una de las principales herramientas que contribuye a la prevención o control total de pérdidas, mejora las condiciones laborales de los empleados y avance del proceso de elaboración y calidad de los productos o servicios.</p>
                <p>Teniendo en cuenta el cambio continuo de las condiciones de trabajo (adecuación de instalaciones, actos inseguros, acomodamiento de máquinas, equipos y herramientas) se debe garantizar las inspecciones de seguridad en las diferentes áreas de trabajo de la compañía.</p>
                <p>Para generar un impacto positivo de las inspecciones dentro de los programas de prevención, se hace indispensable que sea concebida bajo un enfoque administrativo integral que cuente con sus fases de planeación, organización, dirección, ejecución y control, con el fin de identificar los peligros o factores de riesgo que surgen.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>OBJETIVO GENERAL</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Identificar las condiciones inseguras de las diferentes áreas, con el fin de corregirlas, controlarlas y minimizar la probabilidad de ocurrencia de lesiones y daños de los equipos, materiales, personas, animales y medio ambiente.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>OBJETIVOS ESPECÍFICOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Involucrar a los colaboradores en actividades de prevención de accidentes, participando en la detección de problemas y el planteamiento de alternativas de solución.</li>
                        <li>Emplear las listas de chequeo que permitan recoger, de manera sistemática, la información relacionada con las situaciones críticas de riesgo de la empresa.</li>
                        <li>Identificar las acciones preventivas y correctivas para tener un ambiente seguro de trabajo.</li>
                        <li>Realizar seguimiento y evaluar el cumplimiento de las acciones preventivas y correctivas en las diferentes áreas de trabajo.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>INSPECCIONES EN LAS ÁREAS DE TRABAJO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>En <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> se realizan algunas inspecciones con el fin de corregir, controlar y minimizar la probabilidad de ocurrencia de lesiones, daños o interrupciones del trabajo.  Lo anterior requiere de un trabajo coordinado entre las diferentes áreas y niveles de la organización.</p>
                <p><strong>Inspección de seguridad: </strong> Se establece para garantizar la detección temprana de condiciones de riesgo y de cuya eficiencia dependerá los resultados.</p>
                <p><strong>Inspección de botiquín: </strong>Se establece para garantizar el suministro eficiente de insumos para el botiquín existente en cada uno de los centros de trabajo, así como mantener completa y vigente la dotación de este.</p>
                <p><strong>Inspección de extintor: </strong>Se establece para garantizar su estado externo, de tal forma que responda su segura y efectiva operatividad.</p>
                <p><strong>Inspección de orden y aseo: </strong>Se establece para garantizar el control y supervisión del cumplimiento de los programas ambientales y el uso adecuado y consciente de los aspectos relacionados con la preservación del mismo.</p>
                <p><strong>Inspección de elementos de protección personal: </strong>Se establece para garantizar el estado óptimo de los Elementos de Protección Personal entregados a los empleados con el propósito de prevenir accidentes de trabajo.</p>
                <p><strong>Inspección de elementos de protección personal: </strong>Se establece para garantizar el estado óptimo de los Elementos de Protección Personal entregados a los empleados con el propósito de prevenir accidentes de trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>1. TIPOS DE INSPECCIONES</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>1.1. INFORMALES O ESPONTÁNEAS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se efectúan como parte integral o de la rutina del trabajo de todas las personas de la organización. Sus características son:</p>
                <p>
                    <ul>
                        <li>Se realizan sin un cronograma previo.</li>
                        <li>No son sistemáticas.</li>
                        <li>No son detalladas.</li>
                        <li>Solo delatan condiciones muy obvias o llamativas.</li>
                        <li>No requiere un informe especial con los resultados obtenidos.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>1.2. FORMALES O PLANEADAS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Requieren de un cronograma y un proceso previo de planeación que obedezca a necesidades específicas de los sistemas de vigilancia epidemiológica que se desarrollen en la organización, de aspectos generales de seguridad o saneamiento de la empresa. Sus principales características:</p>
                <p>
                    <ul>
                        <li>Precisan de un cubrimiento sistemático de las áreas críticas de trabajo de acuerdo con los factores de riesgo específicos por vigilar.</li>
                        <li>Están orientadas por listas de chequeo, previamente elaboradas, de acuerdo con los factores de riesgo propios de la empresa.</li>
                        <li>Las personas que hacen este tipo de inspecciones requieren de un entrenamiento previo.</li>
                        <li>Tienen unos objetivos claramente definidos sobre los aspectos por revisar.</li>
                        <li>Están dirigidas a la detección precoz de detalles y circunstancias no obvias que tienen el potencial de generar siniestros.</li>
                        <li>Permiten la participación de los trabajadores del área involucrada, sus jefes y supervisores.</li>
                        <li>Requieren de un informe final detallado, con los resultados obtenidos.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div>
        <strong>2. INSPECCIONES SEGÚN LA PERIODICIDAD</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>2.1. PERIODICIDAD DETERMINADA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se llevan a cabo mensual, quincenal o semanalmente, según un cronograma y un plan de acción definido.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2.2. INTERMITENTES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se realizan a intervalos irregulares de tiempo, sin un plan ni cronograma específico y sin advertir a las áreas objeto de la inspección. Su objetivo es que los trabajadores y supervisores mantengan vivo el interés por conservar todas las zonas de trabajo en las mejores condiciones de salud y seguridad posibles. Pueden ser realizadas por los comités paritarios, el departamento de seguridad, supervisores o trabajadores con entrenamiento específico.  Se orientan a maquinaria o áreas en general. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2.3. CONTINUAS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Estas inspecciones, no planeadas, pueden ser de dos tipos. Una, la que hace parte de la rutina de trabajo de toda persona y que tiene por objetivo determinar cualquier condición de peligro que pueda presentarse durante la labor que realiza. La otra es la que obedece a un reporte diario de factores de riesgo o incidentes, con un formato predeterminado. Todas las personas de la empresa tienen autorización para reportar inmediatamente cualquier situación potencial de peligro que se detecte.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3. LISTAS DE CHEQUEO O VERIFICACIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La lista de chequeo o verificación es la herramienta guía con la que se evita omitir asuntos o detalles importantes que, debido a la rapidez, a la falta de conocimientos o entrenamiento, a fallas de la memoria u otros factores, puedan pasar desapercibidos o ser subvalorados.</p>
                <p>Las principales ventajas de la elaboración de listas de chequeo son:</p>
                <p>
                    <ul>
                        <li>Evita que se omitan algunas condiciones o situaciones potencialmente peligrosas.</li>
                        <li>Se asegura la confiabilidad del proceso.</li>
                        <li>Se facilita la estandarización del proceso de tal forma que cualquier persona pueda conducir inspecciones completas y bajo parámetros técnicos previamente definidos.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4. PROCESO DE LA INSPECCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se cree que realizar una inspección es simplemente hacer una visita de revisión de condiciones especiales a un área determinada, para la identificación de riesgos. Sin embargo, este proceso necesita ser administrado eficientemente para lograr los resultados esperados. Lo anterior implica tener en cuenta las siguientes etapas:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.1. PREPARAR</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Definir un cronograma y un plan de trabajo específico que incluya los parámetros aquí planteados.</li>
                        <li>Ponerse en contacto con los supervisores o encargados de las zonas donde se realizarán las inspecciones para buscar su cooperación y permitir que se programe previamente a la ejecución de la actividad. A su vez, éste podrá colaborar con la corrección inmediata de situaciones que así lo ameriten o asumir compromisos mediatos de componer otras situaciones que requieran de mayor recurso de tiempo y materiales.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.2. INSPECCIONAR</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Aplicar la lista de chequeo definida con anterioridad al proceso de inspección.</li>
                        <li>Escribir observaciones al aspecto evaluado para aclarar el factor de riesgo o resalte lo positivo cuando encuentre algo satisfactorio y la situación así lo amerite.</li>
                        <li>En algunas ocasiones es recomendable el uso de cámaras fotográficas o de video para hacer registros visuales de condiciones particularmente interesantes.</li>
                        <li>Interactuar con los empleados, pregunte por aquellas cosas que le generen duda.</li>
                        <li>Cuando se descubra cualquier peligro inminente, tomar decisiones de inmediato.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.3. ANALIZAR LA INFORMACIÓN Y PRIORIZAR LOS PROBLEMAS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Analizar y evaluar la información recogida permite determinar prioridades y un plan de acción.</li>
                        <li>Elaborar los informes respectivos para ponerlos en conocimiento de las personas y dependencias interesadas como son administrador o gerente, jefes, supervisores y trabajadores de la zona inspeccionada, áreas de mantenimiento, seguridad y salud en el trabajo, entre otras.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.4. DEFINIR LAS ACCIONES CORRECTIVAS Y PREVENTIVAS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Elaborar un plan de acción en el que participen todas las áreas implicadas en el asunto, mediante la asignación de responsabilidades concretas, fechas de cumplimiento y presupuestos disponibles para acometer la solución a los problemas o manejo de las situaciones encontradas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.5. HACER SEGUIMIENTO A LA EJECUCIÓN DE LAS ACCIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Establecer un mecanismo de seguimiento y evaluación sobre la eficacia de las medidas de control implementadas.</li>
                        <li>Mantener un registro actualizado con la información de todo el proceso.</li>
                        <li>Hacer seguimiento y divulgar periódicamente los indicadores de gestión definidos.</li>
                        <li>Retroalimentar a las áreas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5. RESPONSABLES DE LAS INSPECCIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se realizarán las inspecciones por parte de: </p>
                <p>
                    <ul>
                        <li>Profesional o responsable de SST. </li>
                        <li>COPASST de Seguridad y Salud en el Trabajo.</li>
                        <li>Brigadistas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>6. METODOLOGÍA PARA DETERMINAR LA PRIORIZACIÓN Y CORRECCIONES DE LAS CONDICIONES SUBESTÁNDARES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>En la compañía se clasifican las condiciones o actos observados según sea el peligro y se catalogan según la clase de riesgo. </p>
                <p><strong>Peligro Clase A: </strong>Condiciones o actos que contienen la capacidad potencial de ocasionar lesiones con incapacidades permanentes, pérdida de la vida o daños muy representativos al proceso, a las estructuras, a los equipos o los materiales.</p>
                <p><strong>Peligro Clase B: </strong>Una condición o acto peligroso que puede traer como consecuencia una lesión con incapacidad parcial temporal, una enfermedad grave o un daño estructural menos grave que el de la clasificación anterior.</p>
                <p><strong>Peligro Clase C: </strong>Una condición o acto no destructivo con capacidad de producir lesiones o enfermedades leves (no incapacitantes) o daños insignificantes a las estructuras.</p>
                <p><strong>NOTA: </strong>Al usar este sistema, se supone que los primeros asuntos a resolver serán aquellos Clase A, luego los B y finalmente la clase C.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <div><br></div>    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaboro' %>
