<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <table> 
        <tr>
            <td style="text-align:justify">
                <strong>Fecha: </strong> <%= @evidence.date %>  <%= @evidence.object %>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>Lugar: </strong> <%= @evidence.place %></strong> 
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <strong>Objetivo: </strong> Comunicación de la Política de SST al Copasst/ Vigía
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table> 
    <div>&nbsp;</div>


    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Luego de ser aprobada la política de seguridad y salud en el trabajo por la Alta Dirección de <strong><%= @evidence.entity.business_name %></strong> se comunica formalmente al Copasst/Vigía, la cual fue actualizada en el año  <%= @evidence.year_initial %></strong>, dando así cumplimiento a las exigencias de la Resolución 2013 de 1986, la Resolución 312 de 2019 y el Decreto 1072 de 2015.</p>
                <p>Se comparte política de manera digital.</p>
                <p>Lo expuesto anteriormente, fue aprobado por el Copasst/Vigía.</p>
                <p></p>
                <p>Como constancia se firma el día <strong><%= @evidence.date.day if @evidence.date.present? %></strong> del mes de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> del año <strong><%= @evidence.date.year if @evidence.date.present? %></strong>.</p>
                <p></p>
                <p>Firmas de aprobación:</p>
                <p></br></p>
            </td>
        </tr>
    </table>


    <%= render 'firmanorepresentante' %>
</div>


