<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <strong>CAPÍTULO I</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>COORDINACIÓN Y OBJETIVOS ESPECÍFICOS</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 1º.  FUNCIONAMIENTO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El funcionamiento de la Brigada de Emergencia se limitará inicialmente a  <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>,  donde el responsable del SG-SST establecerá y coordinará el procedimiento para la constitución o reestructuración de las de la misma así como, su funcionamiento, conformación de grupos especializados, designación de coordinadores de grupo, integración de juntas coordinadoras,  elección de coordinadores, subcoordinadores y secretarios, previa presentación a la alta Dirección de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 2º.  OBJETIVOS ESPECÍFICOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los objetivos específicos de las Brigadas de Emergencia son:</p>
                <p>
                    <ul>
                        <li>Fomentar la prevención de desastres y la actitud positiva de anticiparse a las posibles consecuencias.</li>
                        <li>Contribuir a la protección en la Salud e integridad física de los empleados y visitantes de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, así como de los bienes materiales en caso de emergencias internas o externas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div class="row text-center">
        <strong>CAPÍTULO II</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>INGRESOS Y REQUISITOS</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 3º. INGRESO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El ingreso a las Brigadas de Emergencia será de carácter voluntario y el aspirante deberá cumplir con los requisitos establecidos, previa aprobación del examen médico, psicológico  y visto bueno del área responsable del programa de Seguridad y Salud en el Trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 4º.  PERFIL DEL BRIGADISTA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El perfil para ser integrante de la Brigada de Emergencia es:</p>
                <p>
                    <ul>
                        <li>Capacidad de liderazgo y organización.</li>
                        <li>Voluntad, mística y espíritu de colaboración.</li>
                        <li>Buenas condiciones físicas y psicológicas.</li>
                        <li>Disposición de tiempo para capacitación, entrenamiento y actuación.</li>
                        <li>Conocimiento de la Corporación y permanencia en ella.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 5º.  REQUISITOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los requisitos para aspirante a Brigadista son:</p>
                <p>
                    <ul>
                        <li>Certificar buen estado de salud </li>
                        <li>Mantener buenas relaciones interpersonales.</li>
                        <li>Ser Honesto y Responsable</li>
                        <li>Ser empleado de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> con antigüedad mínima de 6 meses.</li>
                        <li>Compromiso de asistir y participar en todo el programa de capacitación y entrenamiento básico para ser admitido.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div class="row text-center">
        <strong>CAPÍTULO III</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>SELECCIÓN Y CAPACITACIÓN</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 6º.</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los funcionarios aspirantes a Brigadista, recibirán capacitación teórico-practica sobre los aspectos básicos y según sus capacidades, habilidades, conocimientos y destrezas se ubicarán en los grupos especializados, previa aprobación del curso coordinado conjuntamente con la ARL.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 7º.   CAPACITACIÓN BÁSICA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La capacitación básica teórico-práctica, citada en el artículo anterior tendrá una intensidad de 60 horas y cubrirá, entre otros los siguientes temas:</p>
                <p>
                    <ul>
                        <li>Concientización y compromiso de ser Brigadista.</li>
                        <li>Básico de incendios.</li>
                        <li>Evacuación de edificaciones.</li>
                        <li>Identificación de factores generadores de situaciones de peligro de emergencias (visitas de inspección).</li>
                        <li>Prevención de desastres naturales.</li>
                        <li>Manejo de emergencias.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 8º. ADMISIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para ser admitido como Brigadista activo de la Brigada de Emergencia, se requiere la asistencia a capacitación básica teórico-practica.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 9º.  CAPACITACIÓN ESPECIALIZADA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Suministrada la capacitación básica teórico-práctica y conformados los grupos especializados, definidos en el artículo 11 del presente manual, los Brigadistas integrantes de cada uno de ellos, recibirán capacitación y entrenamiento permanente sobre formación y actualización en los diferentes temas según la especialización del grupo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 10º. COORDINACIÓN DE LA CAPACITACIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El programa de capacitación de la Brigada de Emergencia y los grupos especializados estará a cargo y será coordinado por el responsable del SG-SST, conjuntamente con la ARL.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div class="row text-center">
        <strong>CAPÍTULO IV</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>ESTRUCTURACIÓN DE LAS BRIGADAS DE EMERGENCIA</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 11º ESTRUCTURA DE LA BRIGADA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las Brigadas de Emergencia para una mejor gestión, tendrán los siguientes grupos especializados:</p>
                <p>
                    <ul>
                        <li>Prevención, control y extinción de incendios.</li>
                        <li>Evacuación de personas.</li>
                        <li>Rescate y salvamento de bienes.</li>
                        <li>Primeros Auxilios.</li>
                        <li>Comunicaciones.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 12º.  COORDINADOR DE GRUPO ESPECIALIZADO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Cada grupo especializado tendrá un coordinador, el cual será elegido por los integrantes del grupo respectivo, quien hará parte de la junta coordinadora de la Brigada de Emergencia de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div>
        <strong>ARTÍCULO 13º.  JUNTA COORDINADORA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La Brigada de Emergencia organizada y estructurada, tendrá una junta coordinadora integrada por los coordinadores del grupo especializado quienes entre ellos elegirán:</p>
                <p>
                    <ul>
                        <li>Un Coordinador general.</li>
                        <li>Un Secretario.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div class="row text-center">
        <strong>CAPÍTULO V</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>DEFINICIÓN Y ACTIVIDADES DE GRUPOS DE EMERGENCIA </strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 14º. GRUPO PREVENCIÓN Y CONTROL</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El grupo de prevención, control y extinción de incendios tiene como finalidad minimizar las lesiones y pérdidas que puedan presentarse como consecuencia de agentes generadores de incendios y sus funciones serán:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ANTES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Capacitarse y entrenarse sobre agentes generadores de peligro de incendios y manejo de equipos de extinción.</li>
                        <li>Identificar objetos, elementos, sustancias, fuentes de calor o sistemas eléctricos, ubicados dentro y fuera de las edificaciones, que puedan ocasionar incendios.</li>
                        <li>Analizar la vulnerabilidad para establecer los daños potenciales y la manera de evitarlos.</li>
                        <li>Promover actividades educativas para la prevención de incendios.</li>
                        <li>Promover programas de mantenimiento preventivo.</li>
                        <li>Realizar inspecciones periódicas, generando sus respectivos informes de recomendaciones y llevar registro de los equipos de extinción de incendios al igual que los elementos de protección personal recibidos para atender las emergencias y colaborar en la revisión de los mismos.</li>
                        <li>Establecer coordinadamente, planes de acción con los demás grupos  especializados.</li>
                        <li>Participar en las prácticas y simulacros con los demás grupos especializados.</li>
                        <li>Permanecer en alerta ante cualquier situación que pueda desencadenar una emergencia.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DURANTE:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Acudir en forma inmediata al sitio de incendio, con extintores adecuados para combatir el fuego en sus inicios.</li>
                        <li>Comunicar las situaciones que puedan agravar el estado de emergencia.</li>
                        <li>Actuar proactivamente cuando se informe de una emergencia, prestando apoyo según solicitud de otros grupos especializados.</li>
                        <li>Coordinar el acceso e intervención del cuerpo de bomberos y demás grupos de emergencia siguiendo instrucciones del coordinador de la Brigada.</li>
                        <li>Coordinar con la <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> la prestación de los servicios de vigilancia para asegurar las instalaciones.</li>
                        <li>Abandonar las edificaciones. </li>
                        <li>Nunca poner en peligro la integridad física.</li>
                        <li>Siempre combatir los conatos de incendio.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div>
        <strong>DESPUÉS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Vigilar y controlar los equipos y elementos utilizados en la emergencia.</li>
                        <li>Inspeccionar las instalaciones afectadas.</li>
                        <li>Restablecer los equipos de lucha contra incendios utilizados.</li>
                        <li>Verificar con los demás miembros de los grupos, el estado de las instalaciones.</li>
                        <li>Participar en la evaluación de la pérdida.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div>
        <strong>ARTÍCULO 15º. GRUPO DE EVACUACIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Al grupo de evacuación de personas, le corresponde ejecutar el conjunto integral de acciones y procedimientos tendientes a desplazar o movilizar a las personas de una zona de mayor riesgo a otra de menor peligro siendo sus actividades:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ANTES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Capacitarse y entrenarse sobre técnicas de evacuación de personas.</li>
                        <li>Participar en la elaboración del plan de evacuación, colaborando en la determinación de las rutas de salida, puntos de reunión y tiempo de salida.</li>
                        <li>Velar por el buen estado de las rutas de salida, puntos de reunión, escaleras, pasillos de circulación y otros.</li>
                        <li>Colaborar en el mantenimiento del buen estado de la señalización de las rutas de escape.</li>
                        <li>Realizar actividades educativas tendientes a la identificación e interpretación de las rutas de salidas principales y alternas, formas de evacuación, alarmas y señales por parte de los funcionarios y contratistas.</li>
                        <li>Mantener actualizados los listados de ocupantes de las edificaciones. </li>
                        <li>Participar activamente en las prácticas y simulacros con los demás grupos especializados.</li>
                        <li>Establecer coordinadamente planes de acción con los demás grupos especializados.</li>
                        <li>Realizar inspecciones periódicas en las instalaciones generando los respectivos informes y las recomendaciones necesarias.</li>
                        <li>Permanecer en alerta frente a cualquier situación que pueda desencadenar una emergencia.</li>
                        <li>Establecer las prioridades de evacuación.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DURANTE:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Evacuar a los ocupantes de las edificaciones hacia los grupos de reunión establecidos.</li>
                        <li>Verificar conjuntamente con la compañía de vigilancia que, durante la evacuación, no haya personas en las instalaciones.</li>
                        <li>No permitir, por ningún motivo, que las personas se devuelvan.</li>
                        <li>En los puntos de reunión, verificar con los listados de personal la salida de todos los funcionarios.</li>
                        <li>Informar al grupo de apoyo de rescate los nombres de las personas que posiblemente estén o hayan quedado atrapadas en el interior de las edificaciones.</li>
                        <li>Incitar a mantener la calma a las personas durante la evacuación y en los sitios de reunión siguiendo las instrucciones establecidas.</li>
                        <li>Prestar apoyo a los organismos de emergencia para continuar con la atención de las mismas.</li>
                        <li>Permanecer alerta y comunicar situaciones que puedan agravar el estado de emergencia.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DESPUÉS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Verificar con los demás grupos especializados el estado de las instalaciones.</li>
                        <li>Organizar grupos, si es posible, el retorno de los funcionarios a sus actividades normales.</li>
                        <li>Participar en la evaluación de pérdidas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>  
    <div>
        <strong>ARTÍCULO 16º GRUPO DE RESCATE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El grupo de rescate y salvamento tendrá como prioridad preservar las vidas humanas y una vez éstas estén fuera de peligro, proteger los bienes y propiedades de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, siendo sus funciones:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ANTES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Capacitarse y entrenarse en técnicas de rescate y salvamento.</li>
                        <li>Elaborar el inventario de los recursos necesarios para las labores de rescate y salvamento.</li>
                        <li>Elaborar un listado de máquinas, equipos, valores e información valiosa u otros, estableciendo los criterios de importancia o prioridad para su protección.</li>
                        <li>Identificar y mantener actualizados los listados de personas con limitaciones físicas en cada una de las instalaciones.</li>
                        <li>Establecer un plan de acción para vigilar y responder por los bienes salvados.</li>
                        <li>Determinar los sitios a donde deben ser trasladados los bienes y la mejor manera de hacerlo.</li>
                        <li>Participar activamente en las prácticas y simulacros con los demás grupos especializados.</li>
                        <li>Establecer coordinadamente, planes de acción con los demás grupos especializados.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DURANTE:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Colaborar con los grupos de apoyo especializados en el rescate y salvamento.</li>
                        <li>Colaborar en el traslado de las personas con limitaciones físicas.</li>
                        <li>Verificar e identificar las personas atrapadas, inconscientes, lesionadas o en peligro inminente y comunicar la necesidad de intervención del grupo de primeros auxilios para la atención y/o traslado del personal afectado.</li>
                        <li>Rescatar los bienes de acuerdo a los planes establecidos sin poner en peligro su integridad física ni la de sus compañeros.</li>
                        <li>Colocar   vigilancia en los sitios donde se ubican los bienes salvados.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DESPUÉS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Colaborar en la elaboración del inventario de los bienes salvados.</li>
                        <li>Verificar con los demás grupos especializados el estado de las instalaciones para volver a la normalidad.</li>
                        <li>Colaborar en el traslado de los bienes salvados a su sitio inicial.</li>
                        <li>Participar en la evaluación de pérdidas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 17º. GRUPO DE PRIMEROS AUXILIOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El grupo de primeros auxilios prestará los primeros auxilios básicos a los lesionados por la emergencia mientras llega la asistencia profesional para quienes lo requieran y sus funciones son:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ANTES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Capacitarse y entrenarse en técnicas de primeros auxilios.</li>
                        <li>Verificar el mantenimiento permanente de los elementos necesarios en los botiquines de primeros auxilios.</li>
                        <li>Promover actividades educativas sobre primeros auxilios.</li>
                        <li>Ubicar en lugares visibles y estratégicos los equipos necesarios para prestar los primeros auxilios, tales como: botiquines, camillas, entre otros.</li>
                        <li>Establecer los planes de traslado de heridos en los cuales se contemple la identificación de los centros de atención médica más cercanos y los recursos para el traslado hasta estos centros.</li>
                        <li>Coordinar con los centros médicos más cercanos, planes de atención para los casos de emergencia.</li>
                        <li>Establecer sistemas de identificación y clasificación de lesiones.</li>
                        <li>Identificar y establecer zonas para atención de primeros auxilios que puedan ser utilizados durante la emergencia.</li>
                        <li>Establecer los criterios para la priorización de atención de lesionados.</li>
                        <li>Ejercitarse activamente en las prácticas y simulacros con los demás grupos especializados.</li>
                        <li>Mantener un inventario actualizado de los botiquines, centros médicos y clínicos cercanos con direcciones y recursos humanos, técnicos y logísticos.</li>
                        <li>Establecer coordinadamente, planes de acción con los demás grupos especializados.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DURANTE:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Prestar los primeros auxilios a las personas que lo necesiten.</li>
                        <li>De acuerdo con la priorización, proceder con los planes de atención y traslado de lesionados según su prioridad.</li>
                        <li>Colaborar con los médicos, personal paramédico y socorristas cuando lo soliciten.</li>
                        <li>Controlar las remisiones y el traslado de lesionados a los centros de atención médica.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DESPUÉS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Reportar al jefe de grupo los casos atendidos durante la emergencia.</li>
                        <li>Coordinar la restitución de los elementos de primeros auxilios utilizados durante la emergencia.</li>
                        <li>Verificar con los demás grupos de apoyo el estado de las instalaciones.</li>
                        <li>Participar en la evaluación de las pérdidas.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 18º. GRUPO DE COMUNICACIONES </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Grupo de Comunicaciones colaborará en la interacción de los diferentes grupos especializados de la Brigada antes, durante y después de la emergencia y con los responsables de la información oficial de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> hacia la comunidad y los medios de comunicación, siendo sus funciones:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ANTES:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Capacitarse y entrenarse sobre sistemas de comunicación.</li>
                        <li>Establecer sistemas de comunicación, dependientes e independientes con los organismos de socorro y demás, garantizar su eficiencia antes, durante y después de la emergencia.</li>
                        <li>Mantener actualizado los números telefónicos y sistemas de comunicación con todos los organismos de socorro.</li>
                        <li>Establecer sistemas de comunicación entre los diferentes grupos de apoyo especializados, junta coordinadora de la Brigada, el coordinador de la Brigada y jefe de emergencia.</li>
                        <li>Establecer y divulgar entre los grupos especializados de la brigada, códigos de comunicación sencillos de interpretar.</li>
                        <li>Colaborar en la elaboración de artículos y mantener información actualizada sobre temas de prevención, así como de las actividades de la brigada y sus grupos especializados.</li>
                        <li>Elaborar cartillas y folletos guías sobre prevención y actuación en casos de emergencia para ser entregadas a los funcionarios de la Corporación y visitantes permanentes.</li>
                        <li>Participar activamente en las prácticas y simulacros con los demás grupos especializados.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DURANTE:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Comunicarse, previa autorización, sobre el estado de la emergencia a las entidades de socorro, Cruz roja, Bomberos, Hospitales Cercanos, Policía, Ejército.</li>
                        <li>Colaborar y apoyar a las personas encargadas por <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> para dar la información oficial sobre el estado de la emergencia.</li>
                        <li>Coordinar el acceso y permanencia de los medios de comunicación en el sitio establecido para la recepción de la información.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DESPUÉS:</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Llevar un archivo de toda la información, referente a la emergencia, publicada en los diferentes medios de comunicación.</li>
                        <li>Colaborar con la divulgación de los comunicados oficiales de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>,  a los diferentes medios de comunicación.</li>
                        <li>Atender a los medios de comunicación y coordinar los servicios que estos puedan requerir.</li>
                        <li>Participar activamente en la evaluación de la pérdida.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div class="row text-center">
        <strong>CAPÍTULO VI</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>ACTIVIDADES DE LA BRIGADA DE EMERGENCIA, JUNTA COORDINADORA, SUS MIEMBROS Y COORDINADORES DE GRUPO ESPECIALIZADO</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>Artículo 19º ACTIVIDADES DE LA BRIGADA DE EMERGENCIA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La Brigada de Emergencia a través de los grupos especializados deben dirigir todas las acciones para atender las emergencias según el tipo de eventualidad de acuerdo con los procedimientos establecidos en el plan de emergencia, en coordinación con el área responsable de salud ocupacional y sus actividades son:</p>
                <p>
                    <ul>
                        <li>Colaborar con el análisis de la vulnerabilidad.</li>
                        <li>Intervenir en el diseño y divulgación del plan de emergencia.</li>
                        <li>Coordinar el establecimiento de planes de ayuda mutua.</li>
                        <li>Participar en la evaluación y actualización periódica del plan de emergencia.</li>
                        <li>Colaborar con las labores de detección de riesgos y en la inspección, revisión y mantenimiento de los equipos de protección.</li>
                        <li>Actuar en forma rápida, acertada y ordenada: durante y después de la emergencia, de acuerdo a los procedimientos definidos y establecidos.</li>
                        <li>Evacuar o trasladar a los ocupantes de las instalaciones en caso de amenazas.</li>
                        <li>Realizar periódicamente, actividades teórico-prácticas sobre capacitación, actualización, entrenamiento y simulacros de emergencia.</li>
                        <li>Solicitar bajo procedimientos establecidos, la ayuda inmediata de los cuerpos de socorro para su intervención.</li>
                        <li>Mantener listados actualizados de las entidades de apoyo.</li>
                        <li>Combatir las emergencias en sus inicios salvaguardar los bienes de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> sin poner en peligro la integridad física de las personas que conforman los diferentes grupos especializados de Brigadas de Emergencia.</li>
                        <li>Mantener en buen estado los equipos y elementos requeridos utilizados en capacitación, entrenamiento y emergencias.</li>
                        <li>Todas aquellas que le sean asignadas o solicitadas por salud ocupacional o las que sean de competencia y estén establecidas en el plan de emergencias.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 20º ACTIVIDADES DE LA JUNTA COORDINADORA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las actividades de la junta coordinadora de la brigada de emergencia serán:</p>
                <p>
                    <ul>
                        <li>Elaborar los planes de reclutamiento para los integrantes de la brigada.</li>
                        <li>Presentar al responsable de Salud Ocupacional, listado de aspirantes.</li>
                        <li>Coordinar con el responsable de Salud Ocupacional las actividades de capacitación de la brigada y de los grupos especializados.</li>
                        <li>Tramitar con el responsable de salud ocupacional el suministro de los recursos necesarios para el buen funcionamiento de la brigada, su actuación en los diferentes casos de la emergencia que se presenten y en las actuaciones simuladas que se programen.</li>
                        <li>Elaborar y desarrollar planes de motivación para la brigada y sus grupos especializados.</li>
                        <li>Establecer y coordinar actividades procedimientos de emergencia con los organismos de apoyo, Policía, Ejército, Cruz Roja, Bomberos, clínicas, hospitales de la región y otros que sean requeridos.</li>
                        <li>Las demás que le sean solicitadas por el responsable del programa de salud ocupacional.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 21º ACTIVIDADES DEL RESPONSABLE </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Son actividades del responsable de la brigada de emergencias:</p>
                <p>
                    <ul>
                        <li>Responder ante salud ocupacional y la junta coordinadora de la brigada, por el buen desempeño y funcionamiento de la brigada y sus grupos especializados.</li>
                        <li>Coordinar el desarrollo de los planes de reclutamiento para los nuevos aspirantes.</li>
                        <li>Dirigir las actividades de la brigada.</li>
                        <li>Presentar a la junta coordinadora y al responsable de salud ocupacional, informe detallado de los hechos y posibles causas de la emergencia y la evaluación de las pérdidas humanas y materiales.</li>
                        <li>Todas aquellas que sean asignadas o solicitadas por la junta coordinadora y el responsable de salud ocupacional, que sean de su competencia, o establecidas en el plan de emergencias.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 22º ACTIVIDADES DEL SECRETARIO DE LA BRIGADA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Son actividades del secretario(a) de la brigada o quien haga sus veces:</p>
                <p>
                    <ul>
                        <li>Servir de secretario en las reuniones generales y extraordinarias de la brigada, junta Coordinadora y grupos especializados.</li>
                        <li>Verificar la asistencia de los miembros a las diferentes reuniones.</li>
                        <li>Tomar nota de todos los temas tratados y elaborar el acta de cada una de las reuniones.</li>
                        <li>Llevar los archivos referentes a temas de la brigada de emergencia con copia al responsable del programa de salud ocupacional.</li>
                        <li>Llevar archivo de Hojas de Vida de brigadistas, exámenes médicos, reconocimientos y sanciones.</li>
                        <li>Todas aquellas que le sean asignadas por el responsable del programa de salud ocupacional.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Artículo 23º ACTIVIDADES COORDINADOR GRUPO ESPECIALIZADO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Son actividades del coordinador del grupo especializado de la brigada de emergencia:</p>
                <p>
                    <ul>
                        <li>Mantener buenas relaciones con los demás miembros del grupo y coordinadores de los otros grupos especializados.</li>
                        <li>Verificar asistencia y participación de los integrantes de su grupo a las actividades programadas.</li>
                        <li>Organizar y participar en las actividades educativas y de entrenamiento de su grupo.</li>
                        <li>Verificar con su grupo el estado de los equipos a su cargo para el desarrollo de sus actividades y el control de emergencias.</li>
                        <li>Llevar control de las actividades desarrolladas y elaborar los respectivos informes.</li>
                        <li>Dirigir y coordinar las acciones de su grupo durante la emergencia.</li>
                        <li>Todas aquellas que le sean asignadas o solicitadas por el responsable del programa de salud ocupacional.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div class="row text-center">
        <strong>CAPÍTULO VII</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>IDENTIFICACIÓN Y DOTACIÓN </strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 24º</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>A cada brigadista se le entregará como identificación un carné que lo acredita como integrante activo de la brigada de emergencias de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, y el grupo especializado al que pertenece y dependencia donde labora.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 25º DOTACIÓN Y DISTINTIVOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>A cada uno de los brigadistas activos se le dotará con: un brazalete, una gorra y un chaleco reflectivo con distintivo, los cuales serán de color del grupo al que pertenezca de acuerdo con las siguientes especificaciones:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="border:1px solid black;width: 70%;background-color: #00aae4;text-align:center;">
                <strong>GRUPO ESPECIALIZADO </strong>
            </td>
            <td style="border:1px solid black;width: 30%;;background-color: #00aae4;text-align:center;">
                <strong>COLOR</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 70%;">
                PREVENCIÓN, CONTROL Y EXTINCIÓN DE INCENDIOS                
            </td>
            <td style="border:1px solid black;width: 70%;text-align:center;">
                ROJO 
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 70%;">
                EVACUACIÓN DE PERSONAS
            </td>
            <td style="border:1px solid black;width: 70%;text-align:center;">
                VERDE
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 70%;">
                RESCATE Y SALVAMENTO DE BIENES 
            </td>
            <td style="border:1px solid black;width: 70%;text-align:center;">
                AZUL 
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 70%;">
                PRIMEROS AUXILIOS  
            </td>
            <td style="border:1px solid black;width: 70%;text-align:center;">
                BLANCO  
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 70%;">
                COMUNICACIONES 
            </td>
            <td style="border:1px solid black;width: 70%;text-align:center;">
                AMARILLO
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>Artículo 26º ELEMENTOS DE PROTECCIÓN PERSONAL</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>A cada uno de los brigadistas integrantes de los grupos especializados se le dotará de elementos de protección personal y equipos necesarios para actuar de acuerdo con las normas establecidas nacionales e internacionales vigentes, según coordinación y reglamentación por parte del responsable de Salud Ocupacional y de la junta coordinadora de la brigada de emergencia, previa aprobación de la Dirección de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div class="row text-center">
        <strong>CAPÍTULO VIII</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 27º DEBERES DE UN BRIGADISTA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Serán deberes de los brigadistas activos:</p>
                <p>
                    <ul>
                        <li>Cumplir fielmente las funciones establecidas enel presente Manual y las demás que correspondan a Brigadas de Emergencia.</li>
                        <li>Usar los uniformes, distintivos, entre otros, únicamente en actividades propias de servicios y en aquellas aprobadas por salud ocupacional.</li>
                        <li>Asistir a las reuniones ordinarias y extraordinarias.</li>
                        <li>Firmar el libro de asistencia al iniciar o concluir un servicio.</li>
                        <li>Desempeñar el rol para el cual fue contratado y prestar los servicios que le encomiende salud ocupacional, la junta coordinadora y coordinadores de grupos especializados y rendir informes por escrito de las actividades cumplidas en las misiones asignadas.</li>
                        <li>Presentarse pulcramente vestido y sobrio a todas las actividades programadas.</li>
                        <li>Cumplir con el conducto regular para cualquier actividad relacionada con la brigada.</li>
                        <li>Participar en las actividades educativas de capacitación y entrenamiento que se programen.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 28º DERECHOS DE LOS BRIGADISTAS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los Brigadistas activos tendrán derecho a:</p>
                <p>
                    <ul>
                        <li>Actuar con voz y voto en las actividades programadas.</li>
                        <li>Conocer y participar en todas las actividades propias de la brigada y sus grupos especializados.</li>
                        <li>Presentar a la junta coordinadora y a los coordinadores de grupos especializados recomendaciones y proyectos para el buen desarrollo de las actividades programadas, contribuyendo hacia el mejor funcionamiento de la brigada.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div class="row text-center">
        <strong>CAPÍTULO IX</strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>PÉRDIDA DE LA CALIDAD DE BRIGADISTA ACTIVO Y RÉGIMEN DISCIPLINARIO</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 29º</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La calidad de brigadista se pierde por:</p>
                <p>
                    <ul>
                        <li>Retiro voluntario.</li>
                        <li>Sanción temporal.</li>
                        <li>Expulsión.</li>
                        <li>Renuncia a la empresa.</li>                        
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 30º</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se consideran faltas disciplinarias del brigadista activo:</p>
                <p>
                    <ul>
                        <li>Incumplimiento de sus deberes y obligaciones </li>
                        <li>Desconocimiento y no ejecución de las funciones establecidas.</li>
                        <li>Descuido de los equipos y elementos que le sean asignados.</li>
                        <li>Inasistencia a las reuniones, entrenamientos, capacitación, y otros sin justa causa.</li>                        
                        <li>Entorpecer las acciones de los demás compañeros y grupo de apoyo.</li>
                        <li>Abuso de autoridad.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 31º </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Se consideran faltas graves del brigadista activo:</p>
                <p>
                    <ul>
                        <li>Utilizar la identificación, distintivos, uniformes para fines diferentes al cumplimiento del servicio en funciones de la brigada de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                        <li>Tratar con personas externas a <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> los planes de seguridad.</li>
                        <li>Ausentarse del servicio sin justa causa cuando se estén cumpliendo funciones específicas de la brigada. </li>
                        <li>Ocultar irregularidades desorientando los hechos ocurridos, omitiendo, agregando detalles que impidan la solución del problema.</li>                        
                        <li>Descuidar la conservación del equipo y elementos asignados para la atención de emergencias.</li>
                        <li>Sustraer material o equipo de brigada para beneficio ajeno o personal.</li>
                        <li>Provocar escándalos públicos en ejercicio de las funciones.</li>
                        <li>Presentarse a las reuniones o atención de emergencias y actividades de la brigada en estado de alicoramiento o bajo los efectos de sustancias alucinógenas.</li>                        
                        <li>Reincidencia en faltas leves.</li>
                        <li>Todas aquellas que vayan en detrimento de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 32º</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para aplicar la sanción de expulsión a un brigadista activo, se requiere:</p>
                <p>
                    <ul>
                        <li>Investigación disciplinaria de los hechos</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div class="row text-center">
        <strong>CAPÍTULO X </strong>
    </div> 
    <div><br></div>
    <div class="row text-center">
        <strong>CONCLUSIONES Y GENERALIDADES</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>ARTÍCULO 33º </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las Brigadas de Emergencia, grupos especializados y brigadistas activos deberán cumplir las funciones y determinaciones contempladas en el presente manual y las establecidas en el plan de emergencia de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> y todas aquellas que se generen posteriormente.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>ARTÍCULO 34º  </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Cualquier situación no prevista en el presente manual será resuelta por el Responsable de Salud Ocupacional y la Junta Coordinadora de la Brigada de Emergencia.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div><br></div>    
    <div><br></div>    
    <%= render 'firmaelaboro' %>
</div>