<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<div><br></div>
<table> 
<tr>
    <td style="text-align:justify">
        <p>En las instalaciones de la <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, se hizo la invitación a los voluntarios inscritos para la elección y conformación de las brigadas de emergencia, así:</p>
    </td>
</tr>
<tr>
    <td style="text-align:justify">
        <p></p>
    </td>
</tr>
<tr>
    <td>
        <p><strong>Comité operativo de emergencias ¨COE¨</strong></p>
    </td>
</tr>
<tr>
    <td style="text-align:justify">
        <p>
            <ul>
                <li>Jefe de brigada</li>
                <li>Brigada de primeros auxilios</li>
                <li>Brigada de emergencia</li>
                <li>Brigada de Evacuación y rescate</li>
            </ul>
        </p>
    </td>
</tr>
<tr>
    <td style="text-align:justify">
        <p><strong>Desarrollo de la Reunión</strong></p>
    </td>
</tr>
<tr>
    <td style="text-align:justify">
        <p>
            <ol>
                <li>Funciones, responsabilidades y niveles de la autoridad de los integrantes.</li>
                <li>Elección de los cargos (por votación entre los participantes, postulación voluntaria o propuesta entre los participantes).</li>
                <li>Aceptación de los cargos.</li>
                <li>Cierre de la reunión</li>
            </ol>
        </p>
    </td>
</tr>
<tr>
    <td style="text-align:justify">
        <p>Previa socialización de las funciones, responsabilidades, niveles de autoridad, elección y aceptación de los cargos dentro del total de los voluntarios inscritos se convocó a la reunión para elección de las brigadas resultando elegidos, las siguientes personas:</p>
    </td>
</tr>
</table>
<div><br></div>   
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;text-align:center;">
        <strong>CONFORMACIÓN DE LA BRIGADA DE EMERGENCIAS </strong>
    </td>
</tr>
<tr>
    <td style="border:1px solid black;width: 100%;">
        Fecha de actualización: <%= @evidence.date %>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;background-color: #FFFF00;text-align:center;">
        <strong>JEFE DE BRIGADISTAS </strong>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Coordinador de brigada</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr> 
    <% @participants.where("brigade_position = ?", 1).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Suplente Brigada</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr>
    <% @participants.where("brigade_position = ?", 2).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;background-color: #96ebbd;text-align:center;">
        <strong>PREVENCIÓN Y CONTROL DE INCENDIOS</strong>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Coordinador prevención y control de incendios</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr>
    <% @participants.where("brigade_position = ?", 3).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Suplente Brigada</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr>
    <% @participants.where("brigade_position = ?", 4).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;background-color: #96ebbd;text-align:center;">
        <strong>BRIGADISTAS</strong>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Nombre</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<% @participants.where("brigade_position = ?", 5).each do |participant| %>
    <tr>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    </tr>
<% end %>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;background-color: #03e0f4;text-align:center;">
        <strong>PRIMEROS AUXILIOS</strong>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Coordinador Primeros Auxilios</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr>
    <% @participants.where("brigade_position = ?", 6).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Suplente Brigada</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr>
    <% @participants.where("brigade_position = ?", 7).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;background-color: #03e0f4;text-align:center;">
        <strong>BRIGADISTAS</strong>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Nombre</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<% @participants.where("brigade_position = ?", 8).each do |participant| %>
    <tr>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    </tr>
<% end %>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;background-color: #59d42e;text-align:center;">
        <strong>EVACUACIÓN</strong>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Coordinador Evacuación</strong>               
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr>
    <% @participants.where("brigade_position = ?", 9).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Suplente Brigada</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<tr>
    <% @participants.where("brigade_position = ?", 10).each do |participant| %>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    <% end %>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 100%;background-color: #59d42e;text-align:center;">
        <strong>BRIGADISTAS</strong>
    </td>
</tr>
</table> 
<table> 
<tr>
    <td style="border:1px solid black;width: 50%;">
        <strong>Nombre</strong>                
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Cargo</strong> 
    </td>
    <td style="border:1px solid black;width: 10%;text-align:center;">
        <strong>RH</strong> 
    </td>
    <td style="border:1px solid black;width: 20%;text-align:center;">
        <strong>Teléfono</strong> 
    </td>                        
</tr>
<% @participants.where("brigade_position = ?", 11).each do |participant| %>
    <tr>
            <td style="border:1px solid black;width: 50%;">
                <%= Participant.nombre(participant.user_id) %>               
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.company_position if participant.company_position.present? %>
            </td>
            <td style="border:1px solid black;width: 10%;text-align:center;">
                <%= participant.rh if participant.rh.present? %>
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <%= participant.phone if participant.phone.present? %>
            </td>                        
    </tr>
<% end %>
</table> 

<div><br></div>
