<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div style="text-align:center;">
                <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>
    </div>

    <div><br></div>
    <div><br></div>

    <div style="text-align:center;">
        <strong>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong>
    </div>

    <div><br></div>
    <div><br></div>
    <div style="text-align:center;">
        <strong>Sede: <%= AdministrativePoliticalDivision.find(@evidence.entity.entity_location_code).municipality_name if @evidence.present? %></strong>
    </div>

    <div><br></div>
    <div><br></div>
    <div style="text-align:center;">
    </div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div>
        <strong>1. OBJETIVO</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>1.1 OBJETIVO GENERAL</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer la metodología para la realización de auditoría interna para el correcto funcionamiento del sistema de gestión de seguridad y salud en el trabajo. </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>1.2 OBJETIVOS ESPECÍFICOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Definir los lineamientos para la planificación, ejecución, y análisis de las auditorías anuales del SG-SST.</li>
                        <li>Asegurar el cumplimento de los lineamientos establecidos por la norma ISO 45001:2018 y la normatividad legal vigente.</li>
                        <li>Verificar la eficacia del Sistema de gestión de seguridad y salud en el trabajo.</li>
                        <li>Establecer el cronograma de las actividades necesarias para los procesos de auditoría planeados inicialmente.</li>
                        <li>Hacer un seguimiento a la implementación del sistema de gestión de seguridad y salud en el trabajo con el fin de detectar mejoras, corregir no conformidades, o realizar ajustes.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El programa de auditoría interna aplica para todos los aspectos relacionados al sistema de gestión de seguridad y salud en el trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3. DEFINICIONES</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Auditoría Interna:</strong> Consiste en una evaluación sistemática realizada en la misma institución, por una instancia externa al proceso que se audita. Su propósito es contribuir a que la institución adquiera la cultura del autocontrol. Este nivel puede estar ausente en aquellas entidades que hayan alcanzado un alto grado de desarrollo del autocontrol, de manera que éste sustituya la totalidad de las acciones que debe realizar la auditoría interna. Las auditorías Internas para que sea una herramienta eficaz y fiable deben basarse en los siguientes principios:</p>
                <p><strong>Integridad:</strong> Es el fundamento de la profesionalidad, la honestidad, diligencia, responsabilidad, observar y cumplir todos los requisitos legales aplicables, demostrar competencia, ser imparcial (ser ecuánimes y sin sesgo en sus acciones) y ser sensible a cualquier influencia que se pueda ejercer sobre todo juicio durante la auditoría.</p>
                <p><strong>Presentación Imparcial:</strong> La obligación de informar con veracidad y exactitud.</p>
                <p><strong>Debido cuidado profesional:</strong> Se debe proceder con diligencia y con el debido cuidado de acuerdo a la importancia de la tarea que desempeña y la confianza depositada por el cliente o partes interesadas.</p>
                <p><strong>Confidencialidad:</strong> Seguridad de la información. </p>
                <p><strong>Independencia:</strong> Es la base para la imparcialidad de la auditoría y la objetividad de las conclusiones de la auditoría.</p>
                <p><strong>Enfoque basado en la evidencia:</strong> Método racional para alcanzar conclusiones de las auditorías fiables, reproducibles en un proceso de auditoría sistémico. </p>
                <p><strong>No conformidad:</strong> Incumplimiento de un requisito.</p>
                <p><strong>Acción correctiva:</strong> Es una acción tomada para eliminar las causas de una no conformidad detectada u otra situación indeseable.</p>
                <p><strong>Acción preventiva:</strong> Es una acción tomada para eliminar la causa de una no conformidad potencial u otra situación potencialmente indeseable.</p>
                <p><strong>Sistema de Gestión:</strong> Conjunto de elementos mutuamente relacionados, utilizados para establecer la política y además para definir y controlar una Organización con respecto a la Calidad, Seguridad y Salud Ocupacional, Ambiental y Competencia de Laboratorios de Ensayo y Calibración.</p>
                <p><strong>Alcance de la Auditoría:</strong> El alcance describe la extensión y límites de la auditoría en términos de localización física, unidades organizacionales, actividades y procesos por auditar, y el periodo de tiempo cubierto por la auditoría.</p>
                <p><strong>Auditado:</strong> Organización o persona que se somete a una auditoría.</p>
                <p><strong>Equipo Auditor:</strong> Conformado por el Auditor Líder, el Auditor y el Auditor en formación quienes llevan a cabo una auditoría, con el apoyo de expertos técnicos, si se requieren.</p>
                <p><strong>Auditor:</strong> Persona con la competencia para llevar a cabo una auditoría.</p>
                <p><strong>Auditor Líder:</strong> Persona externa o funcionario de la Organización que coordina y direcciona el desarrollo de la auditoría interna y que cumple con el perfil establecido.</p>
                <p><strong>Auditor en formación:</strong> Persona que se encuentra en la fase de formación como Auditor y acompaña al Auditor en las Auditorías como parte de su formación.</p>
                <p><strong>Competencia:</strong> Habilidad demostrada para aplicar conocimientos y aptitudes.</p>
                <p><strong>Conclusiones de Auditoría:</strong> Resultados de una auditoría que proporciona el equipo auditor tras considerar los objetivos de la auditoría y todos los hallazgos de la misma</p>
                <p><strong>Criterios de la Auditoría: </strong> Comprende la normatividad y documentos utilizados como referencia para realizar la auditoría.</p>
                <p><strong>Evidencia de la Auditoría:</strong> Registros, declaraciones de hecho u otra información que sea pertinente para los criterios de auditoría y que sea verificable.</p>
                <p><strong>Hallazgos de la Auditoría:</strong> Resultados de la evaluación de la evidencia recopilada en la auditoría, frente a los criterios de la misma. Los hallazgos pueden indicar conformidad o no conformidad con los criterios de la auditoría, u oportunidades de mejora.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4. METODOLOGÍA</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>4.1 CRONOGRAMA ANUAL DE AUDITORÍAS</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Elaborar el Plan Anual de Auditorías Internas determinando su alcance: procesos, programas, proyectos, dependencias y/o actividades a auditar o realizar seguimiento, y el cronograma sugerido para su ejecución.</p>
                <p>Para elaborar el Plan Anual de Auditorías Internas se tiene en cuenta lo dispuesto en el Estatuto de Auditoría Interna y la priorización de los temas críticos según la gestión de riesgos de la Administración.</p>
                <p>Presentar ante el COPASST y la alta dirección para su aprobación.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>4.2 CRITERIOS DE AUDITORÍA</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para la ejecución de la auditoría interna del sistema de gestión de seguridad y salud en el trabajo, se deben tener en cuenta los siguientes aspectos a auditar.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="border:1px solid black;width: 50%;background-color: #00aae4;">
                <strong>CRITERIO</strong>
            </td>
            <td style="border:1px solid black;width: 50%;background-color: #00aae4;">
                <strong>EVIDENCIA</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 50%;">
                ISO 45001:20018
            </td>
            <td style="border:1px solid black;width: 50%;">
                CHECKLIST 
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 50%;">
                NORMATIVIDAD LEGAL VIGENTE
            </td>
            <td style="border:1px solid black;width: 50%;">
                CHECKLIST
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 50%;">
                DOCUMENTACIÓN
            </td>
            <td style="border:1px solid black;width: 50%;">
                PROCEDIMIENTOS, POLITICAS, FORMATOS, REGISTROS, ENTREO OTROS.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 50%;">
                ELEMENTO DE PROTECCIÓN PERSONAL
            </td>
            <td style="border:1px solid black;width: 50%;">
                REQUISITOS DE PRODUCTO
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 50%;">
                COMPETENCIA DEL AUDITOR
            </td>
            <td style="border:1px solid black;width: 50%;">
                 HOJA DE VIDA DEL AUDITOR
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 50%;">
                OBSERVACIÓN
            </td>
            <td style="border:1px solid black;width: 50%;">
                VERIFICAR REQUISITOS NECESARIOS DEL EQUIPO AUDITOR
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>4.3 SELECCIÓN DEL EQUIPO AUDITOR</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La selección del auditor interno puede realizarse de 2 maneras:</p>
                <p>
                    <ul>
                        <li><strong>Que se subcontrate:</strong> Si es subcontratado debe dar cumplimiento al perfil de auditor interno para el SGSST y cumplir las funciones establecidas para el mismo, y se controla por el proceso de Gestión de Talento humano y se remitirá al proceso de Gestión de compras y contrataciones.</li>
                        <li><strong>Que sea personal propio de la organización:</strong> en este caso se debe garantizar la objetividad e imparcialidad del auditor, es decir no auditara los procesos, programas que estén bajo su responsabilidad o en procesos donde halla conflicto de intereses; y dar cumplimiento al perfil de auditor interno.</li>
                    </ul>
                </p>
                <p>En cualquiera de los dos casos el perfil que debe cumplir es el siguiente:</p>
                <p><strong>EDUCACIÓN:</strong> Profesional o Técnico con carrera o especialización en Salud Ocupacional, Curso de Auditor Interno en SGSST o ISO 45001:2018</p>
                <p><strong>EXPERIENCIA:</strong> Como mínimo haber ejecutado 1 auditoría en sectores afines a la empresa en procesos del SGSST.</p>
                <p><strong>FORMACIÓN:</strong> Curso virtual 50 horas para el SGSST</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.4 RIESGOS DEL PROGRAMA DE AUDITORÍA</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Es importante contemplar los riesgos que pueda acarrear la auditoría del sistema de gestión de seguridad y salud en el trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>CRITERIOS DE EVALUACIÓN DEL RIESGO</strong>
    </div> 
    <div><br></div>
    <div>
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;background-color: #00aae4;text-align:center;">
                <strong>PROBABILIDAD DE OCURRENCIA(NP)</strong>
            </td>
        </tr>
    </table> 
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 20%;background-color: #00aae4;text-align:center;">
                <strong>NIVEL</strong>
            </td>
            <td style="border:1px solid black;width: 60%;background-color: #00aae4;text-align:center;">
                <strong>DESCRIPCIÓN</strong>
            </td>
            <td style="border:1px solid black;width: 20%;background-color: #00aae4;text-align:center;">
                <strong>VALOR</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;">
                Muy baja
            </td>
            <td style="border:1px solid black;width: 60%;">
                Riesgo cuya probabilidad de ocurrencia es poco posible que se llegue a dar
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                1
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;">
                Baja
            </td>
            <td style="border:1px solid black;width: 60%;">
                Riesgo cuya probabilidad de ocurrencia es posible que se produzca
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                2
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;">
                Moderada
            </td>
            <td style="border:1px solid black;width: 60%;">
                Riesgo cuya probabilidad de ocurrencia es media, es decir es posible que ocurra a mediano plazo
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                3
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;">
                Alta
            </td>
            <td style="border:1px solid black;width: 60%;">
                Riesgo cuya probabilidad de ocurrencia es alta puede ocurrir en un corto periodo de tiempo
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                4
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;">
                Muy alta
            </td>
            <td style="border:1px solid black;width: 60%;">
                Riesgo cuya probabilidad de ocurrencia es muy alta, es decir su ocurrencia es inminente
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                5
            </td>
        </tr>
    </table> 
    </div>
    <div><br></div>
    <div>
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;background-color: #00aae4;text-align:center;">
                <strong>IMPACTO</strong>
            </td>
        </tr>
    </table> 
    <table> 
        <tr>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                1
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <strong>INSIGNIFICANTE</strong>
            </td>
            <td style="border:1px solid black;width: 60%;">
                Si se llegara a presentar tendría consecuencias mínimas a la auditoría
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                2
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <strong>MENOR</strong>
            </td>
            <td style="border:1px solid black;width: 60%;">
                Si se llegara a presentar tendría consecuencias de bajo impacto sobre la auditoría
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                3
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <strong>MODERADO</strong>
            </td>
            <td style="border:1px solid black;width: 60%;">
                Si se llegara a presentar tendría consecuencias de mediano impacto sobre la auditoría  
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                4
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <strong>IMPORTANTE</strong>
            </td>
            <td style="border:1px solid black;width: 60%;">
                Si se llegara a presentar tendría consecuencias de alto impacto sobre la auditoría  
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                5
            </td>
            <td style="border:1px solid black;width: 20%;text-align:center;">
                <strong>CATASTRÓFICO</strong>
            </td>
            <td style="border:1px solid black;width: 60%;">
                Consecuencias valiosas y significativas sobre la auditoría
            </td>
        </tr>
    </table> 
    </div>
    <div><br></div>    
    <div>
        <strong>Aceptabilidad del riesgo</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%= wicked_pdf_image_tag asset_path('imgmv41.jpg'), height: "500", width: "auto" %>
            </td>
        </tr>
    <table> 
    <div><br></div>    
    <div>
        <strong>4.5 PLANIFICACIÓN DEL PROGRAMA DE AUDITORÍA</strong>
    </div> 
    <div>
        <strong>4.5.1 CRONOGRAMA DE ACTIVIDADES </strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:center;width: 50%;">
                <%= wicked_pdf_image_tag asset_path('imgmv42.jpg'), height: "250", width: "auto" %>
            </td>
        </tr>
    <table> 
    <div><br></div> 
    <div>
        <strong>4.5.2 CRITERIOS DE AUDITORÍA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Entre los criterios a tener en cuenta para el plan anual de auditoría de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> según lo establecido por la norma estándar de auditorías, encontramos:</p>
                <p>
                    <ul>
                        <li>Confiabilidad del Equipo auditor.</li>
                        <li>Lineamientos para la auditoría interna tales como plazos, responsables, recursos, lugares, etc.</li>
                        <li>Exactitud de la documentación (Procedimientos, manuales, políticas, entre otros).</li>
                        <li>Requisitos legales, reglamentarios u otros a evaluar.</li>
                        <li>Nivel de madurez de los procesos y los sistemas de gestión que se van a auditar.</li>
                        <li>Acceso a la información del sistema de gestión de seguridad en el trabajo.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.5.3 DOCUMENTACIÓN DE REFERENCIA </strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Procedimientos:</strong> En este apartado se explica el funcionamiento de cada actividad, quiénes la llevan a cabo, cómo se ejecutan y con qué instrumentos.</p>
                <p><strong>Instrucciones de trabajo:</strong> Presenta una descripción detallada de cada actividad o tarea que se realiza en la empresa.</p>
                <p><strong>Registros:</strong> Compilación de todos los documentos que contengan los datos resultantes de realizar las distintas actividades.</p>
                <p><strong>Documentos:</strong> Política SST, programas de capacitación, inducción, inspecciones, mantenimiento, entrega de EPP, entre otros.</p>
                <p>Normatividad legal vigente.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.6 MÉTODOS DE AUDITORÍA </strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Observación visual</strong></p>
                <p>Dentro de las técnicas de auditoría, esta es la más básica para reunir evidencia. Simplemente observar el entorno es una forma poderosa para entender cómo funciona una organización</p>
                <p><strong>Examen de registros</strong></p>
                <p>Los registros son datos o informes que, en su conjunto, conforman una historia. Cuentan lo que ha sucedido en el pasado. Los auditores generalmente aceptan los registros como declaraciones de hechos sucedidos realmente, con la importancia que eso conlleva.</p>
                <p><strong>Entrevistas a empleados</strong></p>
                <p>Una entrevista es una discusión estructurada. A diferencia de una discusión normal, esta cuenta con un objetivo específico: obtener información objetiva sobre el proceso que se audita.</p>
                <p><strong>Muestreo de evidencia</strong></p>
                <p>Las auditorías nunca suelen lograr inspeccionar el 100% de los procesos y procedimientos a causa de tiempo insuficiente. Ante una totalidad difícil de abordar se recurre a muestras, que no necesitan tener una base estadística, pero sí deben ser suficientemente representativas. Si una totalidad de evidencia incluye miles de registros, entonces una muestra representativa aceptable sería a partir de un centenar.</p>
                <p><strong>Revisión de documentos</strong></p>
                <p>Los estándares ISO cada día tratan de reducir el número de documentos obligatorios. Sin embargo, sobre todo al comienzo de la auditoría, los pocos o muchos documentos existentes ofrecen de forma discreta información para comprender cómo se ha construido el sistema de gestión de la calidad.</p>
            </td>
        </tr>
    </table> 
    <div>
        <strong>5. ROLES Y RESPONSABILIDADES DEL EQUIPO AUDITOR</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Realiza la reunión inicial con la que se dará comienzo a la auditoría.</li>
                        <li>Recopila los datos y evidencias que verifiquen la conformidad del sistema documentado, así como la eficacia del sistema.</li>
                        <li>Generar información de las no conformidades que vaya detectando.</li>
                        <li>Genera el informe de auditoría en el que recopilará todos aquellos hallazgos que la auditoría haya sacado a la luz.</li>
                        <li>Apoya e incentiva la participación activa de los auditores, con el propósito de lograr el objetivo general propuesto para la auditoría específica.</li>
                        <li>Realiza una final para el cierre de la auditoría en la que se revisarán todas las conclusiones obtenidas junto con los participantes de la organización en el proceso de la auditoría interna.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div>
        <strong>6. EJECUCIÓN DE LA AUDITORÍA</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Para dar inicio a las diferentes actividades relacionadas a la auditoría interna del sistema de gestión de seguridad y salud en el trabajo se deben tener en cuenta los siguientes aspectos</p>
                <p>
                    <ul>
                        <li>La reunión de apertura será presidida por el auditor líder. </li>
                        <li>Presentación de los participantes en la auditoría</li>
                        <li>Confirmación de los objetivos, alcance y criterios de la auditoría</li>
                        <li>Confirmación del itinerario y otras disposiciones pertinentes con el auditado</li>
                        <li>Explicación del método a utilizar la auditoría</li>
                        <li>Solución de dudas e inquietudes por parte de los auditados</li>
                        <li>Se debe dejar evidencia de las personas que asistieron a la reunión de apertura y de cualquier cambio que se pueda presentar el formato Informe de Capacitación.</li>
                        <li>Recopilación de la información requerida que le permita demostrar la conformidad con los requisitos de cada una de las normas objeto de la auditoría, esto se puede obtener por medio de: Entrevistas, observación de actividades y revisión de documentos.</li>
                        <li>Redacción de hallazgos de la auditoría de acuerdo a la evidencia encontrada y al criterio de la auditoría.</li>
                        <li>Identificación de las no-conformidades.</li>
                    </ul>
                </p>
                <p>Posteriormente se debe realizar la reunión de cierre de la auditoría teniendo en cuenta:</p>
                <p>
                    <ul>
                        <li>La reunión de cierre será presidida por el auditor líder</li>
                        <li>Se Informará sobre los hallazgos de la auditoría y las conclusiones de la misma</li>
                        <li>Se analizarán las no conformidades encontradas y se propondrán las acciones correctivas a implementar y sus respectivas fechas de ejecución.</li>
                        <li>Solución de dudas, diferencia o inquietudes que se puedan presentar.</li>
                        <li>Cuando se requiera recomendaciones para la mejora </li>
                        <li>Se debe dejar evidencia de las personas que asistieron a la reunión de cierre.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div>
        <strong>7. INFORME DE AUDITORÍA</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El informe de auditoría debe realzarse según lo establecido por la organización, y deberá contener la siguiente información.</p>
                <p>
                    <ul>
                        <li>Fecha del informe y numero consecutivo del informe.</li>
                        <li>Periodo que se está auditando.</li>
                        <li>Auditores que participaron.</li>
                        <li>Objetivo y alcance de la auditoría.</li>
                        <li>Personal entrevistado.</li>
                        <li>Actividades desarrolladas.</li>
                        <li>Hallazgos de la auditoría (No conformidades).</li>
                        <li>Conclusiones de la auditoría.</li>
                        <li>La firma del auditor líder que avala la información contenida en el documento.</li>
                        <li>Acciones correctivas, preventivas y de mejora.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div>
        <strong>8. SEGUIMIENTO Y MEDICIÓN DEL PROGRAMA DE AUDITORÍAS</strong>
    </div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El seguimiento y la medición del programa de auditorías se realizará según lo establecido en el procedimiento medición y seguimiento del sg-sst, igualmente el informe de auditoría será revisado en la planeación estratégica y la revisión por la dirección.</p>
                <p>Los aspectos a medir serán:</p>
                <p>
                    <ul>
                        <li>Planeación de las acciones correctivas preventivas y de mejora.</li>
                        <li>Evolución de las no conformidades.</li>
                        <li>Ejecución de las acciones provenientes de la auditoría.</li>
                        <li>Efectividad de las acciones.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <%= render 'firmaelaborodos' %>
