<!DOCTYPE html>
<head>
    <meta charset='utf-8' />
</head>

<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>

<div style="text-align:center;">
        <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>
</div>

<div><br></div>
<div><br></div>

<div style="text-align:center;">
    <strong>Nit: <%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong>
</div>

<div><br></div>
<div><br></div>

<div><br></div>
<table> 
    <tr>
        <td style="text-align:center;width: 50%;">
            <%= wicked_pdf_image_tag asset_path('imgmv43.png'), height: "300", width: "auto" %>
        </td>
    </tr>
<table>     
<div><br></div>

<div><br></div>
<div style="text-align:center;">
</div>

<div><br></div>
<div><br></div>

<p style='page-break-after:always;'></p>

<div>
    <strong>OBJETIVO </strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>Conocer y evaluar desde la alta dirección el estado del Sistema de Gestión de Seguridad y Salud en el Trabajo (SG-SST), asegurando su cumplimiento y los recursos para su implementación, efectividad y mejora continua.</p>
        </td>
    </tr>
</table> 
<div><br></div> 
<div>
    <strong>ALCANCE</strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>Este proceso aplica al Sistema de Gestión de Seguridad y Salud en el Trabajo de    <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
        </td>
    </tr>
</table>     
<div><br></div>    
<div>
    <strong>NORMATIVIDAD</strong>
</div> 
<div><br></div>
<div>
    <strong>Directrices</strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>
                <ul>
                    <li>Política de Seguridad y Salud en el Trabajo</li>
                    <li>Decreto 1072 de 2015 </li>
                    <li>Resolución 0312 de 2019</li>
                </ul>
            </p>
        </td>
    </tr>
</table> 
<div><br></div>    
<div>
    <strong>Lineamientos</strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>
                <ul>
                    <li>El Representante de la Alta Dirección para cumplimiento de este proceso de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                    <li>La revisión al SG-SST se debe realizar teniendo en cuenta los requisitos establecidos en la resolución 0312 de 2019.</li>
                    <li>La Rendición de cuentas de los resultados del SG-SST se presenta de forma anual al representante de la Alta Dirección.</li>
                </ul>
            </p>
        </td>
    </tr>
</table> 
<div><br></div>    
<div>
    <strong>RESPONSABILIDADES</strong>
</div> 
<div>
    <strong>Responsable del Proceso</strong>
</div> 
<div><br></div>
<table> 
    <tr>
        <td style="text-align:justify">
            <p>Responsable del SG-SST.</p>
        </td>
    </tr>
</table> 
<div><br></div>
<div>
    <strong>Responsabilidades Representante de la Alta Dirección:</strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>
                <ul>
                    <li>Realizar revisión del Sistema de Gestión de la Seguridad y Salud en el Trabajo, de conformidad con las modificaciones en los procesos, resultados de las auditorías y demás informes que permitan recopilar información sobre su funcionamiento.</li>
                    <li>Revisar de manera proactiva el SG-SST, evaluando la estructura y recursos asignados en Seguridad y Salud en el Trabajo.</li>
                    <li>Recibir los informes de rendición de cuentas del SG-SST de forma anual con el fin de conocer resultados, análisis y planes de acción del Sistema.</li>
                    <li>Garantizar los recursos y las acciones para el funcionamiento y mejoramiento del SGSST.</li>
                </ul>
            </p>
        </td>
    </tr>
</table> 
<div>
    <strong>Asesor externo del Sistema de Gestión de Seguridad y Salud en el Trabajo.</strong>
</div> 
<div><br></div>
<table> 
    <tr>
        <td style="text-align:justify">
            <p>
                <ul>
                    <li>Presentar informe de rendición de cuentas del SG-SST de forma anual al Representante de la Alta Dirección.</li>
                    <li>Asegurar el desarrollo del SG-SST, definiendo e implementando las acciones preventivas, correctivas y de mejora. </li>
                    <li>Realizar seguimiento al cumplimiento del SG-SST y sus oportunidades de mejoramiento.</li>
                </ul>   
            </p>
        </td>
    </tr>
</table> 
<div><br></div>    
<div>
    <strong>Coordinador o encargado del sistema de Gestión de Seguridad y Salud en el Trabajo</strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>
                <ul>
                    <li>Hacer acompañamiento al proceso de la rendición de cuentas, revisión al SG-SST, suministrando información veraz y oportuna durante el proceso.</li>
                    <li>Enviar plan de acción derivado de la revisión al SG-SST. </li>
                    <li>Dar cumplimiento y hacer seguimiento al cronograma definido.</li>
                    <li>Presentar al Vigía de SST, el informe de resultados del SG-SST y resultados de la Revisión por el Representante de la Alta Dirección.</li>
                    <li>Mantener evidencias y trazabilidad del proceso. </li>
                </ul>
            </p>
        </td>
    </tr>
</table> 
<div><br></div>    
<div>
    <strong>DEFINICIONES</strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p><strong>Representante de la Alta Dirección: </strong>Persona o grupo de personas de nivel jerárquico directivo que dirige, controla y cuenta con poder para la toma de decisiones en la empresa.</p>
            <p><strong>Efectividad: </strong>Medida del impacto de la gestión tanto en el logro de los resultados planificados, como en el manejo de los recursos utilizados y disponibles.</p>
            <p><strong>Mejora continua: </strong>Acción permanente realizada, con el fin de aumentar la capacidad para cumplir los requisitos para el cumplimiento del SG-SST y optimizar el desempeño de los procesos.</p>
            <p><strong>Revisión: </strong>Actividad emprendida para verificar y asegurar la efectividad del Sistema de Gestión en Seguridad y salud en el Trabajo.</p>
        </td>
    </tr>
</table> 
<div><br></div>    
<div>
    <strong>DESCRIPCIÓN DE ACTIVIDADES</strong>
</div> 
<div><br></div>   
<div>
    La revisión del Representante de la Alta Dirección debe permitir:
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>
                <ul>
                    <li>Revisar las estrategias implementadas y determinar si han sido eficaces para alcanzar los objetivos, metas y resultados esperados del Sistema de Gestión de la Seguridad y Salud en el Trabajo.</li>
                    <li>Revisar el cumplimiento del plan de trabajo anual en seguridad y salud en el trabajo y su cronograma.</li>
                    <li>Analizar la suficiencia de los recursos asignados para la implementación del Sistema de Gestión de la Seguridad y Salud en el Trabajo y el cumplimiento de los resultados esperados.</li>
                    <li>Revisar la capacidad del Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST), para satisfacer las necesidades globales de la empresa en materia de seguridad y salud en el trabajo.</li>
                    <li>Analizar la necesidad de realizar cambios en el Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST), incluida la revisión de la política y sus objetivos.</li>
                    <li>Evaluar la eficacia de las medidas de seguimiento con base en las revisiones anteriores del Representante de la Alta Dirección y realizar los ajustes necesarios.</li>
                    <li>Analizar el resultado de los indicadores y de las auditorías anteriores del Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST).</li>
                    <li>Aportar información sobre nuevas prioridades y objetivos estratégicos de la organización que puedan ser insumos para la planificación y la mejora continua.</li>
                    <li>Recolectar información para determinar si las medidas de prevención y control de peligros y riesgos se aplican y son eficaces.</li>
                    <li>Intercambiar información con los trabajadores sobre los resultados y su desempeño en seguridad y salud en el trabajo</li>
                    <li>Servir de base para la adopción de decisiones que tengan por objeto mejorar la identificación de peligros y el control de los riesgos y en general mejorar la gestión en seguridad y salud en el trabajo de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                    <li>Determinar si promueve la participación de los trabajadores</li>
                    <li>Establecer acciones que permitan la mejora continua en seguridad y salud en el trabajo</li>
                    <li>Inspeccionar sistemáticamente los puestos de trabajo, las máquinas y equipos y en general, las instalaciones de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                    <li>Vigilar las condiciones en los ambientes de trabajo.</li>
                    <li>Vigilar las condiciones de salud de los trabajadores.</li>
                    <li>Mantener actualizada la identificación de peligros, la evaluación y valoración de los riesgos.</li>
                    <li>Identificar la notificación y la investigación de incidentes, accidentes de trabajo y enfermedades laborales</li>
                    <li>Identificar deficiencias en la gestión de la seguridad y salud en el trabajo</li>
                </ul>
            </p>
        </td>
    </tr>
</table> 
<div><br></div>
<div>
    <strong>Para lograr la mejora continua se ejecutan las siguientes acciones:</strong>
</div> 
<table> 
    <tr>
        <td style="text-align:justify">
            <p>
                <ul>
                    <li>El cumplimiento de los objetivos del Sistema de Gestión de la Seguridad y Salud en el Trabajo. </li>
                    <li>Mejoramiento sobre los resultados de la intervención en los peligros y los riesgos priorizados.</li>
                    <li>Mejoramiento sobre los resultados de la auditoría y revisión del Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST), incluyendo la investigación de los incidentes, accidentes y enfermedades laborales.</li>
                    <li>Tomar la importancia como estrategia las recomendaciones presentadas por los trabajadores y el Comité de Seguridad y Salud en el Trabajo. </li>
                    <li>Mejoramiento de los resultados de los programas de promoción y prevención.</li>
                    <li>Mejoramiento del resultado de la supervisión realizado por el representante de la alta dirección.</li>
                </ul>
            </p>
        </td>
    </tr>
</table> 
<div><br></div>
<%= render 'firmaelaborodos' %>