<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div style="text-align:center"> 
        <strong>ACTA N°</strong><%= @evidence.id if @evidence.present? %>
    </div> 
    <div><br></div>
    <TABLE>
	    <TR style="border:1px solid black;width: 100%;">
		    <TD ROWSPAN=4 style="border:1px solid black; width: 30%;background-color: #00aae4;padding: 10px;" >OBJETIVO DE LA REUNIÓN</TD>
	    	<TD style="border:1px solid black; width: 10%"></TD>
            <TD style="border:1px solid black; width: 30%;background-color: #00aae4;padding: 10px;">FECHA:</TD> 
            <TD style="border:1px solid black; width: 30%;padding: 10px;"><%= @evidence.date if @evidence.present? %></TD>
	    </TR>
	    <TR>
            <TD style="border:1px solid black; width: 10%"></TD>
            <TD style="border:1px solid black; width: 30%;background-color: #00aae4;padding: 10px;">LUGAR:</TD> 
            <TD style="border:1px solid black; width: 30%;padding: 10px;"><%= @evidence.place if @evidence.present? %></TD>
        </TR>
	    <TR>
            <TD style="border:1px solid black; width: 10%"></TD>
            <TD style="border:1px solid black; width: 30%;background-color: #00aae4;padding: 10px;">HORA DE INICIO:</TD> 
            <TD style="border:1px solid black; width: 30%;padding: 10px;"><%= @evidence.initial_time.strftime("%I:%M %p") if @evidence.present? %></TD>
        </TR>
	    <TR>
            <TD style="border:1px solid black; width: 10%"></TD>
            <TD style="border:1px solid black; width: 30%;background-color: #00aae4;padding: 10px;">HORA FINALIZACIÓN:</TD> 
            <TD style="border:1px solid black; width: 30%;padding: 10px;"><%= @evidence.final_time.strftime("%I:%M %p") if @evidence.present? %></TD>
        </TR>
    </TABLE>
    <div><br></div>
    <div class="row">
        <div><strong>ASISTENTES:</strong> En la presente acta se anexa el control de asistencia COPASST</div>
    </div>
    <div><br></div>
    <TABLE style="width: 100%;>
	    <TR style="border:1px solid black;width: 100%;text-align:center;">
            <TD style="border:1px solid black; width: 30%;text-align:center;background-color: #00aae4">ORDEN DEL DÍA</TD>
	    </TR>
	    <TR>
            <TD style="border:1px solid black; width: 100%">
                <p>
                    <ul>
                        <li>1. Verificación Quórum: Cumplimiento con el número de personas requeridas para dar inicio a la reunión ordinaria del COPASST (Debe ser la mitad más uno, para que sean válidas las decisiones y aceptada el acta de reunión).</li>
                        <li>2. Revisión de compromisos anteriores. </li>
                        <li>3. Temas a tratar.</li>
                        <li>4. Compromisos. </li>
                        <li>5. Programación de la siguiente reunión.</li>
                    </ul>
                </p>
            </TD>
        </TR>
    </TABLE>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <div><strong>DESARROLLO DE LA REUNIÓN</strong></div>
    </div>
    <div><br></div>
    <div class="row text-center">
        <div><strong>Se debe escribir cada desarrollo de las actividades del orden del día</strong></div>
    </div>
    <div><br></div>
    <div><br></div>
    <TABLE style="width: 100%;>
	    <TR style="border:1px solid black;width: 100%;text-align:center;">
            <TD style="border:1px solid black; width: 100%;text-align:center;background-color: #00aae4">COMPROMISOS</TD>
	    </TR>
    </TABLE>
    <TABLE style="width: 100%;">
	    <TR>
            <TD style="border:1px solid black; width: 30%;padding: 20px;background-color: #00aae4">ACTIVIDAD</TD>
            <TD style="border:1px solid black; width: 30%;padding: 20px;background-color: #00aae4">RESPONSABLE</TD>
            <TD style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4">FECHA DE EJECUCIÓN</TD>
            <TD style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4">ESTADO DE CUMPLIMIENTO</TD>
        </TR>
    </TABLE>
    <% if @commitments.present? %>
        <TABLE style="width: 100%;">
            <% @commitments.each do |commitment| %>
                <tr>
                    <td style="border:1px solid black; width: 30%;padding: 10px;">
                        <h6><%= commitment.activity %></h6>                
                    </td>
                    <td style="border:1px solid black; width: 30%;padding: 10px;">
                        <h6><%= commitment.user_responsible %></h6>                
                    </td>
                    <td style="border:1px solid black; width: 20%; text-align:center">
                        <h6><%= commitment.date_ejecution %></h6>                
                    </td>
                    <% if commitment.state_commitment == 0 %>
                        <td style="border:1px solid black; width: 20%; text-align:center">
                            <h6>Pendiente</h6>                
                        </td>
                    <% else %>
                         <td style="border:1px solid black; width: 25%; text-align:center">
                            <h6>Ejecutado</h6>                
                        </td>
                    <% end %>
                </tr>    
            <% end %>
        </table %>
    <% end %>
    <div><br></div>
    <div><br></div>
    <% if @participants.present? %>
        <TABLE style="width: 100%;>
	        <TR style="border:1px solid black;width: 100%;text-align:center;">
                <TD style="border:1px solid black; width: 100%;text-align:center;background-color: #00aae4">PARTICIPANTES</TD>
    	    </TR>
        </TABLE>
        <TABLE style="width: 100%;">
            <% @participants.each do |participant| %>
                <tr>
                    <td style="border:1px solid black; width: 100%;padding: 10px;">
                        <h6><%= participant.user.name %></h6>                
                    </td>
                </tr>    
            <% end %>
        </table %>
    <% end %>
    <div><br></div>
    <div><br></div>
    <div class="row">
        <div>Siendo las <%= @evidence.final_time.strftime("%I:%M %p") if @evidence.present? %>. y cumplido el objetivo, se dio por terminada la reunión en constancia firman:</div>
    </div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelabororesponsable' %>

</div>