<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div>
        <br>
    </div>


    <div>&nbsp;</div>
    <table> 
        <tr>
            <td style="border:1px solid black;width: 100%;background-color: #00aae4;text-align:center;">
                <strong>INTRODUCCIÓN</strong>
            </td>
        </tr>
    </table> 
    <div><br></div>

    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El riesgo biológico ocupacional se puede definir como aquel que surge de la exposición laboral a micro y macroorganismos que pueden causar daño al trabajador. Estos en general pueden ser transmitidos a través del aire, de la sangre y de fluidos corporales.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>El ámbito de las instituciones de salud es uno de los factores de riesgo que genera mayor número de accidentes y asociado a éste se pueden presentar como secuelas las enfermedades generadas por los microorganismos que originaron dicho evento.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>El personal sanitario, es el más expuesto a múltiples agentes patógenos infecciosos, ya sean sospechosos, conocidos o desconocidos, capaces de producir accidentes, exposiciones ocupacionales que derivan en enfermedades en los colaboradores de la salud, es por ello que <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, advierte la necesidad de intervenir el riesgo biológico, a través de herramientas administrativas de vigilancia que permitan el control oportuno del riesgo y sus efectos en los colaboradores.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                <p>En la actualidad, entre las enfermedades infecciosas a las que están expuestos los profesionales sanitarios, destacan la Hepatitis B, Hepatitis C, Hepatitis Delta, VIH y Covid-19, sin olvidar otros virus y enfermedades producidas por otros microorganismos como Tétanos, Tuberculosis, Rubéola, Parotiditis, Sarampión, Varicela, Influenza, H1N1, Meningitis por meningococo, Infecciones respiratorias por Mycoplasma, Difteria, Tosferina, Covid-19, Viruela símica, entre otros.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>1. OBJETIVO</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer prácticas y procedimientos de bioseguridad, ante la exposición a riesgo biológico, derivado del contacto con agentes infecciosos en  <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Está dirigido y vincula a todos los colaboradores y contratistas de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>3. RESPONSABILIDADES</strong>
    </div> 
    <div><br></div>   
    <div>
        <strong>GERENCIA</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Asignar los recursos humanos, técnicos y financieros para el cumplimiento de este sistema de vigilancia epidemiológica.</li>
                        <li>Evaluar anualmente el sistema y sugerir los ajustes necesarios.</li>
                        <li>Proporcionar el tiempo necesario y las condiciones idóneas para que se realicen las evaluaciones de puestos de trabajo en forma adecuada.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>Encargado de la Seguridad y Salud en el Trabajo</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Identificar los peligros y riesgos en los diferentes puestos de trabajo, y establecer las medidas de control necesarias.</li>
                        <li>Coordinar, ejecutar y actualizar el Sistema de Vigilancia Epidemiológica de riesgo Biológico.</li>
                        <li>Programar las actividades necesarias a todo el personal, frente a los riesgos que se encuentran expuestos.</li>
                        <li>Retroalimentar a los trabajadores de los resultados del programa, exámenes médicos ocupacionales, evaluaciones de puestos de trabajo, medidas correctivas, a través de las actividades de capacitación, por medio de metodologías que faciliten la participación de los mismos.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>Trabajadores</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Conocer el programa de vigilancia para riesgo biológico y sus herramientas de intervención del riesgo.</li>
                        <li>Participar en la elaboración y validación de estándares.</li>
                        <li>Cumplir con los protocolos, estándares y procedimientos propuestos para la intervención del riesgo biológico.</li>
                        <li>Participar activamente en las propuestas de soluciones para el control de riesgo biológico.</li>
                        <li>Utilizar, mantener y almacenar los elementos de protección personal en forma correcta.</li>
                        <li>Participar activamente en las actividades de capacitación, entrenamiento, inducción y reinducción.</li>
                        <li>Cumplir con las reglas generales de seguridad y salud en el trabajo y las específicas para la prevención del Riesgo Biológico.</li>
                        <li>Reportar los incidentes, accidentes y exposiciones ocupacionales, ocurridos tanto en los puestos de trabajo, instalaciones de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>Comité paritario de seguridad y salud en el trabajo:</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Apoyar la gestión integral de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, en materia de seguridad y salud en el trabajo.</li>
                        <li>Velar por el cumplimiento de las políticas de seguridad y salud en el trabajo.</li>
                        <li>Realizar inspecciones a las diferentes áreas de trabajo, orientadas a identificar actos y condiciones inseguras y participar activamente en la propuesta de soluciones para el control de riesgo biológico.</li>
                        <li>Participar activamente en las investigaciones de incidentes, accidentes y exposiciones ocupacionales por riesgo biológico y formular planes de acción que prevengan la ocurrencia de nuevos eventos.</li>
                        <li>Recibir y tramitar oportunamente las inquietudes de los trabajadores con respecto al control de riesgo biológico.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>4. RECURSOS</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><strong>Recurso humano: </strong>Es liderado por la responsable del SG-SST, cuenta con el apoyo del Copasst y Asesor externo Profesional en SST, quien se reúne mensualmente para ejecutar tareas relacionadas con la valoración de los factores de riesgo a los que se encuentran expuestos los colaboradores de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>.</li>
                        <li><strong>Recursos físicos y tecnológicos: </strong>Se dispone de una oficina, con equipo de cómputo, impresora, archivadores y papelería.</li>
                        <li><strong>Recurso financiero: </strong>Se tiene un presupuesto para la ejecución y mejora continua del Sistema de Gestión de seguridad y salud en el trabajo, en el cual se incluyen las diferentes actividades relacionadas con la gestión del riesgo biológico.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="border:1px solid black;width: 40%;background-color: #00aae4;text-align:center;">
                <strong>NORMA</strong>
            </td>
            <td style="border:1px solid black;width: 60%;background-color: #00aae4;text-align:center;">
                <strong>ESPECIFICACIÓN</strong>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Código Sustantivo de Trabajo
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                La finalidad primordial de este código es lograr la justicia en las relaciones que surgen entre empleadores y trabajadores, dentro de un espíritu de coordinación económica y equilibrio social.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Circular Unificada de 2004 Dirección General de Riesgos Profesionales
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Instrucciones para la vigilancia, control y administración del Sistema General de Riesgos Profesionales. Numeral 3. Realización de exámenes médicos para efectos de Salud Ocupacional.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 4126 de 2005
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por el cual se modifica parcialmente el Decreto 2676 de 2000, modificado por el Decreto 2763 de 2001 y el Decreto 1669 de 2002, sobre la gestión integral de los residuos hospitalarios y similares.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 4741 de 2005
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por el cual se reglamenta parcialmente la prevención y manejo de los residuos desechos peligrosos generados en el marco de la gestión integral.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 1295 de 1994
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Determina la organización y administración del sistema general de riesgos profesionales.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 1891 de 1994
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Disposiciones sobre control o reducción de factores de riesgo biológicos.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 614 de 1984
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por el cual se define el desarrollo de programas de vigilancia epidemiológica.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 559 de 1991
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Regula la prevención, el control y la vigilancia de las enfermedades transmisibles, especialmente lo relacionado con la infección por el virus de inmunodeficiencia humana, HIV y del SIDA.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 3518 de 2006
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Se reglamenta el sistema de vigilancia en salud pública.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 873 de 2001
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Se promulga el convenio 161 de la OIT, sobre servicios de salud en el trabajo.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 1530 de 1996
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Reglamenta parcialmente la ley 100 de 1993.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Decreto 1072 de 2015
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por medio del cual se expide el Decreto Único Reglamentario del Sector Trabajo
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Ley 9 de 1979
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Código Nacional Sanitario.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Ley 1562 de 2012
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por la cual se modifica el Sistema de Riesgos Laborales y se dictan otras disposiciones en materia de Salud Ocupacional.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 1401 de 2007
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Reglamenta la investigación de accidentes e incidentes de trabajo.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 2346 de 2007
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Regula la práctica de evaluaciones ocupacionales.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 1571 de 1993
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Regula actividades relacionadas con Sangre segura para todos.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 1016 de 1989
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Subprogramas de salud ocupacional.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 2400 de 1979
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Disposiciones de seguridad e higiene industrial. Art. 29-37 sobre residuos y Art. 163-165 sustancias infecciosas y tóxicas.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 0312 de 2019
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por la cual se definen los Estándares Mínimos del Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 223 de 2021
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por medio de la cual se modifica la Resolución 666 de 2020 en el sentido de sustituir su anexo técnico.
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 40%;padding: 20px;">
                Resolución 777 de 2021
            </td>
            <td style="border:1px solid black;width: 60%;padding: 20px;">
                Por medio de la cual se definen los criterios y condiciones para el desarrollo de las actividades económicas, sociales y del Estado y se adopta el protocolo de bioseguridad para la ejecución de estas.
            </td>
        </tr>
    </table>
    <div><br></div>    
    <div>
        <strong>6. DEFINICIONES:</strong>
    </div> 
    <div><br></div>   
    <table > 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><strong>Anatomopatológicos: </strong>El decreto 351 de 2014 lo define como aquellos residuos como partes del cuerpo, muestras de órganos, tejidos o líquidos humanos, generados con ocasión de la realización de necropsias, procedimientos médicos, remoción quirúrgica, análisis de patología, toma de biopsias o como resultado de la obtención de muestras biológicas para análisis químico, microbiológico, citológico o histológico.</li></br>
                        <li><strong>Afectado: </strong>Persona, equipaje, carga, contenedor, medio de transporte, mercancía, paquete postal o resto humano que está infectado o contaminado, o que es portador de fuentes de infección, plagas o contaminación, de modo tal que constituyen un riesgo para la salud pública y la sanidad animal y vegetal.</li></br>
                        <li><strong>Agente patógeno: </strong>Es todo agente biológico capaz de producir infección o enfermedad infecciosa en un huésped.</li></br>
                        <li><strong>Amenaza: </strong>Peligro latente de que un evento físico de origen natural, o causado, o inducido por la acción humana de manera accidental, se presente con una severidad suficiente para causar pérdida de vidas, lesiones u otros impactos en la salud, así como también daños y pérdidas en los bienes, la infraestructura, los medios de sustento, la prestación de servicios y los recursos ambientales.</li></br>
                        <li><strong>Atención en Salud: </strong>Se define como el conjunto de servicios que se prestan al usuario en el marco de los procesos propios del aseguramiento, así como de las actividades, procedimientos e intervenciones asistenciales en las fases de promoción y prevención, diagnóstico, tratamiento y rehabilitación que se prestan a toda la población.</li></br>
                        <li><strong>Aislamiento respiratorio: </strong>Se aplica cuando se prevé la presencia de gotas de origen respiratorio con bajo rango de difusión (hasta 1 metro).</li></br>
                        <li><strong>Aislamiento por gotas: </strong>Se refiere a las medidas para controlar las infecciones por virus respiratorios y otros agentes transmitidos por gotas (> 5 micras) impulsadas a corta distancia a través del aire y que pueden ingresar a través de los ojos, la mucosa nasal, la boca o la piel no intacta de la persona que está en contacto con el paciente.</li></br>
                        <li><strong>Aislamiento por contacto: </strong>Se refiere a las medidas para controlar el contacto directo cuando se produce en el traspaso de sangre o fluidos corporales desde un paciente hacia otro individuo susceptible, el contacto puede hacerse en piel, mucosas o lesiones, así mismo por inóculos directos a torrente sanguíneo y el indirecto: se produce cuando el huésped susceptible entra en contacto con el microorganismo infectante a través de un intermediario inanimado (ropas, fómites, superficies de la habitación) o animado (personal de salud, otro paciente) que estuvo inicialmente en contacto con ese microorganismo, en este caso se utiliza bata desechable anti fluidos o traje de polietileno, este último para alto riesgo biológico.</li></br>
                        <li><strong>Aislamiento: </strong>Separación de una persona o grupo de personas que se sabe o se cree que están infectadas con una enfermedad transmisible y potencialmente infecciosa de aquellos que no están infectados, para prevenir la propagación de COVID-19. El aislamiento para fines de salud pública puede ser voluntario u obligado por orden de la autoridad sanitaria.</li></br>
                        <li><strong>Ambiente Protegido: </strong>Debe usarse en pacientes quienes presenten alteraciones importantes en sus mecanismos inmunitarios como lo son la neutropenia severa o la enfermedad ¨injerto contra huésped¨ posterior a un trasplante alogénico de médula ósea. Es importante resaltar que en los trasplantes alogénicos de médula ósea el paciente debe mantenerse en una habitación que cuente con un sistema de presión positiva de aire, el cual debe mantenerse durante los primeros 100 días postrasplante.</li></br>
                        <li><strong>Antisepsia: </strong>Empleo de sustancias químicas para inhibir o reducir el número de microorganismos de la piel viva, las membranas mucosas o tejidos abiertos a un nivel en el cual no generen infecciones.</li></br>
                        <li><strong>Asepsia: </strong>Ausencia de microorganismos que pueden causar enfermedad. Este concepto incluye la preparación del equipo, la instrumentación y el cambio de operaciones mediante los mecanismos de esterilización y desinfección.</li></br>
                        <li><strong>Antiséptico: </strong>Producto de origen químico utilizado en el control de microorganismos de la piel u otro tejido vivo, sin afectarles sensiblemente.</li></br>
                        <li><strong>Anticuerpo: </strong>Son moléculas proteicas que el cuerpo produce como respuesta a la exposición a un agente biológico al ser reconocido por el sistema inmunológico.</li></br>
                        <li><strong>Antígeno: </strong>Es una sustancia que induce la formación de anticuerpos, debido a que el sistema inmune la reconoce como una amenaza. Esta sustancia puede ser extraña (no nativa) proveniente del ambiente (como químicos) o formada dentro del cuerpo (como toxinas virales o bacterianas).</li></br>
                        <li><strong>Barreras sanitarias/Inmunización: </strong>La vacunación contra la hepatitis B, se realiza al personal de la compañía por cuanto la hepatitis B es una enfermedad transmitida por sangre, producida por un virus 100 veces más infectante que el virus HIV.</li></br>
                        <li><strong>Biosanitarios: </strong>El decreto 351 de 2014 lo define como todos aquellos elementos o instrumentos utilizados y descartados durante la ejecución de las actividades señaladas en el artículo 2 del decreto 351 de 2014 que tienen contacto con fluidos corporales de alto riesgo, tales como: gasas, apósitos, aplicadores, algodones, drenes, vendajes, mechas, guantes, bolsas para transfusiones sanguíneas, catéteres, sondas, sistemas cerrados y abiertos de drenajes, medios de cultivo o cualquier otro elemento desechable que la tecnología médica introduzca.</li></br>
                        <li><strong>Bioseguridad: </strong>Conjunto de medidas preventivas que tienen por objeto eliminar o minimizar el factor de riesgo biológico que pueda llegar a afectar la salud, el medio ambiente o la vida de las personas, asegurando que el desarrollo o producto final de dichos procedimientos no atenten contra la salud y seguridad de los trabajadores.</li></br>
                        <li><strong>Búsqueda activa: </strong>Acciones de la Vigilancia en Salud Pública adelantadas por la entidad territorial en conjunto con las instituciones responsables, tendientes a la identificación de conglomerados en los ámbitos institucional y comunitario, mediante las cuales se logra la identificación de personas con síntomas respiratorios y de posibles contactos de casos probables o confirmados de COVID-19.</li></br>
                        <li><strong>Cadena de transmisión: </strong>La ocurrencia de las enfermedades infecciosas obedece a una secuencia de interacciones que permiten que el microorganismo infectante se ponga en contacto con una persona susceptible y produzca en ella la infección. Las infecciones son resultado de estas interacciones con un microorganismo que deja su hábitat para reproducirse en un huésped (individuo reservorio). Luego, se transmite hacia otros individuos pasando por una ¨puerta de salida¨ (vía para transmitirse desde el huésped, mecanismo de transmisión) y encuentra una puerta de entrada (canal de infección, vía de infección) en un nuevo individuo (huésped susceptible). Esta secuencia de eventos específicos se conoce como “cadena de transmisión” y se produce tanto en IAAS como en infecciones adquiridas en comunidad.</li></br>
                        <li><strong>Caso confirmado por laboratorio: </strong>Toda persona con resultado positivo de una prueba RT-PCR o antigénica para COVID-19; independientemente de los signos y síntomas clínicos.</li></br>
                        <li><strong>Caso confirmado por nexo epidemiológico: </strong>Persona sintomática sin prueba diagnóstica, con contacto estrecho previo con caso confirmado de COVID-19 o en el marco del estudio de un conglomerado en el que se identifique un caso confirmado por laboratorio.</li></br>
                        <li><strong>Clasificación de triage: </strong>Sistema de selección y clasificación de pacientes en los servicios de urgencias, basado en sus necesidades terapéuticas y los recursos disponibles para atenderlo. La Resolución 5596 del 24 de diciembre de 2015 del Ministerio de Salud y Protección Social estipuló cinco categorías de triage, con la salvedad que los tiempos establecidos de atención no aplicarán en situaciones de emergencia o desastre con múltiples víctimas.</li></br>
                        <li><strong>Contacto estrecho: </strong>Es el contacto entre personas en un espacio de 2 metros o menos de distancia, en una habitación o en el área de atención de un caso de COVID-2019 confirmado o probable, durante un tiempo mayor a 15 minutos, o contacto directo con secreciones de un caso probable o confirmado mientras el paciente es considerado infeccioso.</li></br>
                        <li><strong>Contacto Directo: </strong>Se produce cuando el microorganismo pasa de la puerta de salida del reservorio al huésped susceptible, sin mediar otros elementos ni intermediarios en la transmisión. Esta situación se produce en el traspaso directo de sangre o fluidos corporales de un paciente hacia otro individuo susceptible. El contacto puede hacerse en piel, mucosas o lesiones, así mismo por inóculos directos al torrente sanguíneo.</li></br>
                        <li><strong>Contacto Indirecto: </strong>Se produce cuando el huésped susceptible entra en contacto con el microorganismo infectante a través de un intermediario inanimado (ropas, fómites, superficies de la habitación) o animado (personal de salud, otro paciente) que estuvo inicialmente en contacto con ese microorganismo. </li></br>
                        <li><strong>Contacto por gotas: </strong>Cuando la transmisión de microorganismos se produce mediante la expulsión de partículas (gotas) de 5 μm a 100 μm (micrómetros) de diámetro desde nariz o boca, al toser o estornudar, por parte de un paciente infectante o colonizado. Éstas se proyectan a no más de un metro de distancia de quien las emite y pueden traspasar la infección de manera directa a una persona susceptible que esté dentro de esa distancia. También se pueden transmitir de manera indirecta, por contacto (OMS, 2007).</li></br>
                        <li><strong>Cohorte de pacientes: </strong>Agrupar a los pacientes que están colonizados o infectados con un mismo microorganismo, para limitar su atención a un área única y evitar el contacto con otros pacientes. Las cohortes se crean de acuerdo con la confirmación diagnóstica (clínica o microbiológica), criterios epidemiológicos y el modo de transmisión del agente infeccioso. Se prefiere evitar colocar pacientes severamente inmunodeprimidos en habitaciones con otros pacientes. Los estudios de modelado matemático soportan la fuerza de las cohortes en el control de brotes.</li></br>
                        <li><strong>Cohorte de personal de salud: </strong>Asignación de trabajadores de salud para que atiendan únicamente a pacientes infectados o colonizados con un solo patógeno. Así se podría limitar la transmisión del patógeno a pacientes no infectados. Dicha cohorte se deberá realizar sopesando si el personal médico y los recursos son suficientes.</li></br>
                        <li><strong>Cortopunzantes: </strong>El decreto 351 de 2014 lo define como aquellos que por sus características punzantes o cortantes pueden ocasionar un accidente, entre estos se encuentran: limas, lancetas, cuchillas, agujas, restos de ampolletas, pipetas, hojas de bisturí, vidrio o material de laboratorio como tubos capilares, de ensayo, tubos para toma de muestra, láminas portaobjetos y laminillas cubreobjetos, aplicadores, citocepillos, cristalería entera o rota, entre otros.</li></br>
                        <li><strong>COVID-19: </strong>Es una nueva enfermedad, causada por un nuevo coronavirus que no se había visto antes en seres humanos. El nombre de la enfermedad se escogió siguiendo las mejores prácticas establecidas por la Organización Mundial de la Salud (OMS) para asignar nombres a nuevas enfermedades infecciosas en seres humanos.</li></br>
                        <li><strong>Desinfección de bajo nivel: </strong>Procedimiento mediante el cual se tiene efecto sobre las bacterias en forma vegetativa, levaduras y virus de tamaño medio, pero sin acción sobre el bacilo de la tuberculosis.</li></br>
                        <li><strong>Desinfección: </strong>Es la destrucción de microorganismos de una superficie por medio de agentes químicos o físicos.</li></br>
                        <li><strong>Desinfectante: </strong>Es un germicida que inactiva prácticamente todos los microorganismos patógenos reconocidos, pero no necesariamente todas las formas de vida microbiana, ejemplo esporas. Este término se aplica sólo a objetos inanimados.</li></br>
                        <li><strong>Elemento de protección personal en salud: </strong>Son elementos de vestimenta que pueden ser usados por el personal de salud de manera única o combinada, para crear una barrera entre el paciente, el ambiente o un objeto. De esta manera le otorga al personal de salud una barrera frente a la potencial transmisión de agentes infecciosos durante la atención. Este equipamiento deberá siempre usarse en forma conjunta con otras medidas de prevención y control de infecciones requeridas según el tipo de atención a realizar (ej. Higiene de manos o medidas específicas de precauciones según la vía de transmisión del agente infectante).</li></br>
                        <li><strong>Equipo de protección personal: </strong>Conjunto de elementos de protección personal, destinados a ser llevado o sujetado por el trabajador para que le proteja de uno o varios riesgos que puedan amenazar su seguridad o su salud, así como cualquier complemento o accesorio destinado a tal fin.</li></br>
                        <li><strong>Flora bacteriana transitoria: </strong>(Flora contaminante o no colonizante). Se refiere a aquellos gérmenes que se hallan presentes en la superficie de la piel, de forma temporal o transitoria, que se adquiere a través del contacto con los pacientes o personal infectados o colonizados o con superficies contaminadas. Es de fácil remoción mediante la higiene de las manos.</li></br>
                        <li><strong>Flora bacteriana residente: </strong>Se refiere a aquellos gérmenes que se hallan en capas profundas de la piel y se aíslan en la mayoría de las personas, se consideran permanentes residentes, y son de difícil remoción por la fricción mecánica. Esta flora puede sobrevivir y multiplicarse en capas superficiales de la piel.</li></br>
                        <li><strong>Fluidos corporales de alto riesgo: </strong>Se aplican siempre a la sangre y a todos los fluidos que contengan sangre visible. Se incluyen además el semen, las secreciones vaginales, el líquido cefalorraquídeo y la leche materna. Se consideran de alto riesgo por constituir fuente de infección cuando tienen contacto con piel no intacta, mucosas o exposición percutánea con elementos cortopunzantes contaminados con ellos. Fluidos corporales de bajo riesgo: Se aplican a las deposiciones, secreciones nasales, transpiración, lágrimas, orina o vómito, a no ser que contengan sangre visible, caso en el cual serán considerados de alto riesgo.</li></br>
                        <li><strong>Generador: </strong>Es toda persona natural o jurídica, pública o privada que produce o genera residuos en el desarrollo de las actividades contempladas en el artículo 2° del decreto 780 de 2016. Gestión Integral: Conjunto articulado e interrelacionado de acciones de política normativas, operativas, financieras, de planeación, administrativas, sociales, educativas, de evaluación, seguimiento y monitoreo desde la prevención de la generación hasta el aprovechamiento, tratamiento y/o disposición final de los residuos, a fin de lograr beneficios sanitarios y ambientales y la optimización económica de su manejo respondiendo a las necesidades y circunstancias de cada región.</li></br>
                        <li><strong>Gestión externa: </strong>Es la acción desarrollada por el gestor de residuos peligrosos que implica la cobertura y planeación de todas las actividades relacionadas con la recolección, almacenamiento, transporte, tratamiento, aprovechamiento y/o disposición final de residuos fuera de las instalaciones del generador.</li></br>
                        <li><strong>Gestión interna: </strong>Es la acción desarrollada por el generador, que implica la cobertura, planeación e implementación de todas las actividades relacionadas con la minimización, generación, segregación, movimiento interno, almacenamiento interno y/o tratamiento de residuos dentro de sus instalaciones.</li></br>
                        <li>Por Gotas Cuando la transmisión de microorganismos se produce mediante la expulsión de partículas (gotas) de 5 µm a 100 µm (micrómetros) de diámetro desde nariz o boca, al toser o estornudar, por parte de un paciente infectante o colonizado. Estas se proyectan a no más de un metro de distancia de quien las emite y pueden traspasar la infección de manera directa a un paciente susceptible que esté dentro de esa distancia. También se pueden transmitir de manera indirecta, por contacto.</li></br>
                        <li><strong>Hipoclorito: </strong>Es un desinfectante que se encuentra entre los más comúnmente utilizados. Estos desinfectantes tienen un efecto rápido sobre una gran variedad de microorganismos. Son los más apropiados para la desinfección general. Como esté grupo de desinfectantes corroe los metales y produce además efectos decolorantes, es necesario enjuagar lo antes posible las superficies desinfectadas con dicho producto.</li></br>
                        <li><strong>IETS: </strong>Instituto de evaluación tecnológica en salud.  Es una corporación sin ánimo de lucro, de participación mixta y de carácter privado, con patrimonio propio, creado según lo estipulado en la ley 1438 de 2011.</li></br>
                        <li><strong>Limpieza a seco: </strong>Es la eliminación por acción mecánica, utilizando escoba o cepillo (o escobilla) de plástico para barrer partículas y suciedad de las superficies.</li></br>
                        <li><strong>Limpieza: </strong>Proceso de remoción de suciedad visible (p. ej. suciedad y materia orgánica) de objetos y superficies por medios físicos o químicos. Se realiza habitualmente utilizando agua con soluciones detergentes o productos enzimáticos</li></br>
                        <li><strong>Máscara de alta eficiencia (FFP2) o N95: </strong>Están diseñados específicamente para proporcionar protección respiratoria al crear un sello hermético contra la piel y no permitir que pasen partículas (< 5 micras) que se encuentran en el aire, entre ellas, patógenos como virus y bacterias. La designación N95 indica que el respirador filtra al menos el 95% de las partículas que se encuentran en el aire. Se denominan ―N‖ si no son resistentes al aceite, ―R‖ si son algo resistentes al aceite y ―P‖ si son fuertemente resistentes al aceite.</li></br>
                        <li><strong>Material Contaminado: </strong>Es aquel que ha estado en contacto con microorganismos o es sospechoso de estar contaminado.</li></br>
                        <li><strong>Microorganismo: </strong>Es cualquier organismo vivo de tamaño microscópico, incluyendo bacterias, virus, levaduras, hongos, algunas algas y protozoos.</li></br>
                        <li><strong>Minimización: </strong>Es la racionalización y optimización de los procesos, procedimientos y actividades que permiten la reducción de los residuos generados y sus efectos, en el mismo lugar donde se producen.</li></br>
                        <li><strong>Normas de bioseguridad: </strong>Son las normas de precaución que deben aplicar los trabajadores en áreas asistenciales al manipular sangre, secreciones, fluidos corporales o tejidos provenientes de todo paciente y sus respectivos recipientes, independiente de su estado de salud, y forman parte del programa de salud ocupacional.</li></br>
                        <li><strong>NIOSH: </strong>El Instituto Nacional de Seguridad y Salud Ocupacional (The National Institute for Occupational Safety and Health)</li></br>
                        <li><strong>OMS: </strong>Organización Mundial de la Salud: Organismo de la organización de las naciones unidas especializado en gestionar políticas de prevención promoción, intervención mundial en la salud.</li></br>
                        <li><strong>Personas con factores de riesgo: </strong>on las personas con diagnóstico o condición de base que incrementan el riesgo de la gravedad del COVID-19 como, estado de gestación, HTA, DM, ERC, obesidad, EPOC, asma, pacientes inmunosuprimidos, cirrosis hepática, cáncer, AR, lupus o enfermedades mixtas del tejido conectivo, epilepsia, hipotiroidismo, síndrome de Down, enfermedades huérfanas, pacientes con uso de biológicos, TBC y personas hospitalizadas.</li></br>
                        <li><strong>Precaución en salud: </strong>Es el principio de gestión y control de la organización estatal, empresarial y ciudadana, tendiente a garantizar el cumplimiento de las normas de protección de la salud pública, para prevenir y prever los riesgos a la salud de las personas y procurar mantener las condiciones de protección y mejoramiento continuo.</li></br>
                        <li><strong>Prevención: </strong>Es el conjunto de acciones dirigidas a identificar, controlar y reducir los factores de riesgo biológicos, del ambiente y de la salud, que puedan producirse como consecuencia del manejo de los residuos, ya sea en la prestación de servicios de salud o cualquier otra actividad que implique la generación, manejo o disposición de esta clase de residuos, con el fin de evitar que aparezca el riesgo o la enfermedad y se propaguen u ocasionen daños mayores o generen secuelas evitables. </li></br>
                        <li><strong>Producto de higiene doméstica: </strong>Es aquella formulación cuya función principal es remover la suciedad, desinfectar, aromatizar el ambiente y propender el cuidado de utensilios, objetos, ropas o áreas que posteriormente estarán en contacto con el ser humano independiente de su presentación comercial.</li></br>
                        <li><strong>Protección respiratoria convencional o Mascarilla Quirúrgica: </strong>Elemento de protección personal para la vía respiratoria que ayuda a bloquear las gotitas más grandes de partículas, derrames, aerosoles o salpicaduras, que podrían contener microbios, virus y bacterias, para que no lleguen a la nariz o la boca.</li></br>
                        <li><strong>Residuo Biosanitarios: </strong>Son todos aquellos elementos o instrumentos utilizados durante la ejecución de un procedimiento que tiene contacto con materia orgánica, sangre o fluidos corporales del usuario.</li></br>
                        <li><strong>Residuos Peligrosos: </strong>Es cualquier objeto, material, sustancia, elemento o producto que se encuentra en estado sólido o semisólido, o es un líquido o gas contenido en recipientes o depósitos, cuyo generador descarta, rechaza o entrega porque sus propiedades no permiten usarlo nuevamente en la actividad que lo generó o porque la legislación o la normatividad vigente así lo estipula.</li></br>
                        <li><strong>Residuos no peligrosos: </strong>El decreto 351 de 2014 lo define como aquellos producidos por el generador en desarrollo de su actividad, que no presentan ninguna de las características de peligrosidad establecidas en la normativa vigente.</li></br>
                        <li><strong>Residuos o desechos peligrosos con riesgo biológico o infeccioso: </strong>El decreto 351 de 2014 lo define como residuo o desecho con riesgo biológico o infeccioso se considera peligroso, cuando contiene agentes patógenos como microorganismos y otros agentes con suficiente virulencia y concentración como para causar enfermedades en los seres humanos o en los animales.</li></br>
                        <li><strong>Reutilización: </strong>Uso del mismo respirador N95 para múltiples encuentros con pacientes, pero retirándolo después de cada valoración. Se debe almacenar entre los encuentros para volver a ser usado antes de la siguiente evaluación médica.</li></br>
                        <li><strong>SARS: </strong>Síndrome respiratorio agudo severo, por sus siglas en inglés (Severe acute respiratory syndrome).</li></br>
                        <li><strong>SARS-CoV-2: </strong>Versión acortada del nombre del nuevo coronavirus “Coronavirus 2 del Síndrome Respiratorio Agudo Grave” (identificado por primera vez en Wuhan, China) asignado por El Comité Internacional de Taxonomía de Virus, encargado de asignar nombres a los nuevos virus.</li></br>
                        <li><strong>Tamizaje: </strong>Se refiere a las pruebas realizadas de forma estandarizada a todos los miembros de un determinado grupo poblacional, de acuerdo con criterios de riesgo, con el fin de conocer el estado en el que se encuentra, en torno a una situación médica o una enfermedad y también en el marco del Plan de Intervenciones Colectivas- PIC.</li></br>
                        <li><strong>Transmisión por vía aérea: </strong>Por microorganismos contenidos en partículas de < 5 µm de diámetro que pueden mantenerse en suspensión en el aire durante periodos prolongados y son capaces de viajar impulsadas por corrientes de aire a distancias mayores que las gotas.</li></br>
                        <li><strong>Transmisión por vectores: </strong>Por artrópodos o insectos (mosquitos) que tiene la capacidad de transmitir infecciones como dengue, chikungunya, zika, chagas, leishmaniasis y malaria, entre otras. Estos vectores se ubican en zonas por debajo de los 2.200 msnm, por lo que en el país las zonas con alturas menores a la nombrada se consideran endémicas para la trasmisión de estas enfermedades.</li></br>
                        <li><strong>Uso extendido: </strong>Utilización del mismo tapabocas N95 para encuentros repetidos de contacto cercano con varios pacientes, sin quitar el respirador entre las valoraciones de los pacientes. El uso extendido puede implementarse cuando se hace cohorte de pacientes. Se ha recomendado el uso extendido como una opción.</li></br>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>7. MARCO TEÓRICO:</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Difteria: </strong>Es una infección aguda, poco común, se transmite por vía respiratoria desde pacientes enfermos o portadores sintomáticos y por objetos o alimentos (como leche) contaminados, tiene periodo de incubación entre dos a cinco días, la mayoría de los cuadros clínicos son leves, pero cuando la toxina llega al torrente sanguíneo puede producir complicaciones cardiacas y del sistema nervioso. </p>
                <p><strong>Hepatitis b (HB): </strong>La transmisión del virus de la hepatitis B, es un riesgo ocupacional bien conocido para todos los TS, el riesgo de infección se relaciona principalmente con el grado de contacto con sangre en el lugar de trabajo y al estado del antígeno de superficie de la hepatitis B (AgHBs), en la persona fuente.</p>
                <p>En los accidentes con agujas contaminadas con sangre el riesgo de desarrollar HB Clínica cuando el AgHBs y el antígeno de la hepatitis B (AgeHB) son positivos es del 22 al 31% y el riesgo de seroconversión es del 37 al 62%. El riesgo de desarrollar HB clínica cuando el AgHBs es positivo y AgeHB es negativo es del 1 a 6 % y el riesgo de seroconversión es de 23 al 37 %.</p>
                <p>El VHB sobrevive en sangre seca a temperatura ambiente desde una semana a seis meses, muchos de los trabajadores de la salud con hepatitis B, no reportan antecedentes de accidentes o lesión percutánea.</p>
                <p><strong>Hepatitis C (HC): </strong>El virus de la hepatitis C (VHC), no se transmite eficientemente a través de exposiciones ocupacionales, el riesgo de desarrollar HC por exposición accidental percutánea cuando la persona fuente es positiva es de 1.8% (rango 0 a 7%), en Latinoamérica se ha reportado un riesgo del 3 al 10%; su periodo de incubación es de siete semanas, el 70% de las personas que padecen HC desarrollan infección primaria; de estos, del 15 al 25% se curan y del 65 al 85% desarrollan HC crónica en diez años, de los cuales el 20% tienen evolución grave, desencadenando cirrosis en el 3%.</p>
                <p>Cuando el paciente fuente tiene una coinfección VHC y virus de la inmunodeficiencia humana (VIH) se reporta aumento sustancial de la tasa de transmisión del VHC por razones aún desconocidas.</p>
                <p><strong>Meningitis meningocócica: </strong>Es una forma severa de meningitis, aun cuando se trata con antibióticos correctos del 10 a 20% de las personas infectadas mueren, la transmisión nosocomial de la Niseria meningitis es poco común, el periodo de incubación de la enfermedad es de dos a diez días (promedio tres a cuatro días), el riesgo se disminuye aplicando recomendaciones para evitar la exposición a aerosoles. En Colombia de acuerdo al perfil epidemiológico se comienzan las vacunas bivalentes polisacáridos A y C, y la de las proteínas externas B + polisacáridos C. la vacuna polivalente no está disponible en Colombia, por lo cual la recomendación posterior a la exposición está orientada a suministrar la profilaxis.</p>
                <p><strong>Rubéola: </strong>Es una enfermedad viral leve, altamente contagiosa, se transmite entre personas a través de estornudos, tos o contacto con superficies contaminadas (pañuelos, vasos entre otros). La posibilidad de que una persona no vacunada contraiga la enfermedad cuando se pone en contacto es del 90%. Su periodo de incubación oscila entre dos y tres semanas. Se han notificado brotes de rubéola en TS, el cuadro clínico es leve en adultos. Los TS en mayor riesgo de transmitir la rubéola son el personal hospitalario de las áreas de pediatría, médicos y enfermeras en la atención ambulatoria pediátrica y obstétrica. Se considera que un TS es inmune sólo si así lo demuestran las pruebas serológicas o hay prueba corroborada de vacunación contra rubéola durante los 12 meses de vida o después. Para la inmunización se debe preferir la vacuna de la triple viral (sarampión, parotiditis y rubéola).</p>
                <p><strong>Sarampión: </strong>Es una enfermedad viral aguda exantemática, altamente contagiosa, se transmite por góticas infecciosas. Es una enfermedad que tiene comportamiento endémico – epidémico, existe susceptibilidad universal, su periodo de incubación es de diez a once días, cuando se presenta en el adulto produce cuadros clínicos graves, afecta a los TS especialmente durante los brotes, la inmunidad está definida por las pruebas serológicas.</p>
                <p><strong>Tosferina: </strong>Es una enfermedad bacteriana altamente contagiosa, con periodo de incubación de seis a 21 días, se transmite a través de gotitas respiratorias. La inmunidad después de que los niños son vacunados solo dura hasta la adolescencia (cinco a diez años), la vacuna ha tenido efectos secundarios en adultos y adolescentes por lo cual en esta edad no se aplica.</p>
                <p><strong>Tuberculosis: </strong>Enfermedad infecciosa, provocada por un bacilo, que se transmite a través del aire y que se caracteriza por la formación de tubérculos p nódulos en los tejidos infectados, puede afectar a diferentes órganos del cuerpo, en especial a los pulmones, produciendo tos seca, fiebre, expectoraciones sanguinolentas y pérdida de peso.</p>
                <p><strong>Virus de la inmunodeficiencia humana (VIH): </strong>Los estudios epidemiológicos prospectivos en TS reportan que el riesgo de transmisión del VIH después de una exposición percutánea es del 0.3% y después de una exposición de membranas mucosas es de 0.09%, el riesgo de transmisión por piel intacta se ha documentado, pero no se ha calculado, se estima que esté por debajo del riesgo por exposición a membranas mucosas.</p>
                <p>El virus es sensible a las condiciones ambientales, especialmente a la desecación y a la acción de los agentes desinfectantes usuales.  Respecto a las pruebas de laboratorio para VIH/SIDA, la técnica de Elisa es reproducible en el 99.5%, tiene una sensibilidad del 99.7% (rango entre 99.3 a 100%) y una especificidad del 98.4% las pruebas rápidas son excelentes para diagnosticar fuentes sanas en menos de una hora, evitando el uso innecesario de antirretrovirales y sus efectos secundarios, generando oportunidad de intervención que puede modificar o prevenir la replicación viral.</p>
                <p>El uso de antirretrovirales como profilaxis post - exposición disminuye el riesgo ocupacional de infección en un 81%.</p>
                <p><strong>Varicela: </strong>Es una enfermedad viral de alta transmisibilidad, en Colombia un 30% de los casos se reportan entre 15 a 45 años, la transmisión nosocomial del virus de varicela zoster (WZ) es bien reconocida. Del 97 al 99% de los adultos con historia clínica positiva de varicela son seropositivos y la mayoría con historia dudosa o negativa son seronegativas, la vacuna protege aproximadamente del 70 al 90% de los vacunados contra la infección y al 95% contra la infección severa por siete a diez años pos - vacunación.</p>
                <p><strong>Covid-19: </strong>La enfermedad por coronavirus (COVID‑19) es una enfermedad infecciosa provocada por el virus SARS-CoV-2.  La mayoría de las personas que padecen COVID‑19 sufren síntomas de intensidad leve a moderada y se recuperan sin necesidad de tratamientos especiales. Sin embargo, algunas personas desarrollan casos graves y necesitan atención médica.</p>
                <p><strong>La viruela símica o Monkeypox: </strong>Es una enfermedad causada por un virus. Se trata de una infección vírica zoonótica, lo que significa que puede propagarse de los animales al ser humano. También puede propagarse entre seres humanos e igualmente pasar del medio ambiente al ser humano</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>8. INMUNIZACIÓN</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>La vacunación es la medida preventiva más eficaz para evitar el contagio de una enfermedad infecciosa. En el medio laboral se deberá determinar el estado serológico de los trabajadores al inicio de su actividad en la Empresa de tal modo que se puedan indicar las vacunas eficaces y que están disponibles en el momento actual.</p>
                <p>En mujeres gestantes el Subsistema de Gestión de Seguridad y Salud en el Trabajo comprobará que están correctamente inmunizadas frente a: Hepatitis B, Varicela, Rubéola, Sarampión y Parotiditis.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>9. CONTAMINANTES BIOLÓGICOS</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los contaminantes o agentes biológicos son seres vivos (bacterias, virus, protozoos, hongos, gusanos, parásitos) con un determinado ciclo de vida, que, al penetrar en el ser humano, ocasionan enfermedades de tipo infeccioso o parasitario.</p>
                <p>La exposición a los contaminantes biológicos en <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> se puede considerar bajo dos puntos de vista definidos por el tipo de actividad:</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Actividades en las que existe la intención deliberada de manipular contaminantes biológicos.</li>
                        <li>Actividades en las que no existe la intención deliberada de manipular contaminantes biológicos, pero sí puede existir la exposición debido a la naturaleza del trabajo como contacto con productos, los trabajos sanitarios de eliminación de residuos.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>A continuación, alguna enfermedad que pueden producir los diferentes tipos de agentes biológicos:</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Virus: gripe, rabia, hepatitis B, sida etc.</li>
                        <li>Bacterias: carbunco (ántrax), tétanos, tuberculosis, fiebres de malta, etc.</li>
                        <li>Protozoos: amebiasis, toxoplasmosis, etc. </li>
                        <li>Hongos: candidiasis, pie de atleta, histoplasmosis, etc.</li>
                        <li>Gusanos: anquilostomiasis, etc.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>10. FUENTE DE EXPOSICIÓN</strong>
    </div> 
    <div><br></div>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Exposición que surge de la actividad laboral: </strong>Aunque dicha actividad no implica la manipulación o el uso deliberado del agente biológico, éste puede llegar al trabajador a través del contacto con pacientes infectados, así como por el contacto con elementos o medios donde dicho agente vive o puede sobrevivir (materiales, agua, suelo, alimentos, residuos) y que servirían como fuente de exposición.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>11. VÍAS MÁS FRECUENTES DE INFECCIÓN</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><strong>Vía Respiratoria: </strong>Fundamentalmente por la inhalación de aerosoles infecciosos o partículas contaminadas con el agente infeccioso, transmitidas por el aire.</li>
                        <li><strong>Vía Oral: </strong>Fundamentalmente a través de la transferencia de las manos u objetos contaminados a la boca. El procedimiento clásico que más genera infección por esta vía es el pipeteo con la boca (en los laboratorios).</li>
                        <li><strong>Por contacto: </strong>Cuando la piel dañada se pone en contacto con superficies o materiales contaminados. Inoculación. Fundamentalmente por heridas con objetos cortantes, tales como agujas, cuchillas, etc.</li>
                        <li><strong>Vía Ocular: </strong> A través de derrames, salpicaduras o contacto con las manos o por el uso de lentes de contacto contaminados. Para controlar la exposición por esta vía es necesario emplear gafas protectoras, pantallas faciales de forma tal que impida el acceso de salpicaduras a los ojos.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>12. MECANISMOS DE TRANSMISIÓN</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Es el conjunto de medios y sistemas que facilitan el contacto del agente infectivo con el sujeto receptor, depende de las vías de eliminación, la resistencia del agente etiológico al medio exterior.</p>
                <p>De acuerdo con las definiciones anteriormente mencionadas, se pueden identificar las siguientes categorías de agentes de riesgo biológico o materiales potencialmente infecciosos: </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Patógenos humanos: bacterias, hongos, virus y parásitos.</li>
                        <li>Vectores biológicos. </li>
                        <li>Generación de residuos</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>13. REPORTE Y MANEJO DEL ACCIDENTE DE TRABAJO POR RIESGO BIOLÓGICO:</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>En caso de Puncionamiento:</strong></p>
            </td>
        </tr>
    </table>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Evite provocar el sangrado (No realizar presión en el área afectada).</li>
                        <li>Lavado profuso de la herida en la piel con abundante agua y jabón.</li>
                        <li>Evitar la utilización de detergentes, hipoclorito ni sustancias antisépticas.</li>
                        <li>Evitar restregar, cepillar las heridas y/o áreas en contacto con sangre o secreciones corporales.</li>
                        <li>En caso de que se presente mucho sangrado cubra con una gasa</li>
                        <li>Reporte de inmediato al responsable de SST</li>
                        <li>Reporte al área de seguridad y salud en el trabajo</li>
                        <li>Remítase a la IPS a la cual fue direccionado por la ARL</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>En caso salpicadura sangre en los ojos:</strong></p>
            </td>
        </tr>
    </table>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Lave con abundante agua o con solución salina.</li>
                        <li>No se frote los ojos. No restregar ni cepillar las heridas y/o áreas en contacto con sangre o secreciones corporales.</li>
                        <li>Reporte de inmediato al responsable de SST</li>
                        <li>Reporte al área de seguridad y salud en el trabajo</li>
                        <li>Remítase a la IPS a la cual fue direccionado por la ARL </li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>En caso de salpicadura de sangre a la boca:</strong></p>
            </td>
        </tr>
    </table>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Lave con abundante agua.</li>
                        <li>Haga buches de agua y expúlselos.</li>
                        <li>Salive muchas veces</li>
                        <li>Reporte de inmediato al responsable de SST</li>
                        <li>Reporte al área de seguridad y salud en el trabajo</li>
                        <li>Remítase a la IPS a la cual fue direccionado por la ARL</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>En caso de salpicadura en piel no intacta</strong></p>
            </td>
        </tr>
    </table>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Lavar con abundante agua y jabón</li>
                        <li>Evitar frotar vigorosamente la piel</li>
                        <li>Reporte de inmediato al coordinador de prácticas</li>
                        <li>Reporte a la unidad de seguridad y salud en el trabajo</li>
                        <li>Si la fuente es conocida solicite el diligenciamiento del consentimiento firmado y la toma de muestras.</li>
                        <li>Remítase a la IPS a la cual fue direccionado por la ARL</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>En caso de rasguño o mordedura de paciente</strong></p>
            </td>
        </tr>
    </table>   
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li>Lavar con abundante agua y jabón</li>
                        <li>Evitar frotar vigorosamente la piel</li>
                        <li>Reporte de inmediato al responsable de SST</li>
                        <li>Reporte al área de seguridad y salud en el trabajo</li>
                        <li>Remítase a la IPS a la cual fue direccionado por la ARL</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>14. DIAGNÓSTICO DE LAS CONDICIONES DE SALUD, DEL AMBIENTE DE TRABAJO Y DE LAS CONDICIONES ORGANIZACIONALES</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Diagnóstico sociodemográfico</strong></p>
                <p>El conocimiento de variable sociodemográfica como edad, sexo, nivel de escolaridad, origen y procedencia entre otros, facilitan la comprensión del comportamiento y distribución del riesgo biológico, con el fin de tomar medidas tendientes a su prevención, control o eliminación.</p>
                <p><strong>Estadísticas de morbilidad, accidentalidad y exposición a riesgo biológico</strong></p>
                <p>Debe verificarse la calidad de la información y hacer los ajustes que permitan un análisis integral y válido. Conocer la distribución de frecuencia de enfermedades, accidentes y exposiciones año tras año en periodos iguales, ya que estos permitirán conocer el comportamiento epidemiológico real de los eventos, la evolución y su tendencia por áreas de exposición y en toda la empresa para finalmente proyectar y proponer metas de reducción de los eventos después de acciones de intervención.</p>
                <p><strong>Exámenes médicos de ingreso, periódicos y de retiro</strong></p>
                <p>El personal de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, se le realiza los exámenes médicos ocupacionales, tal como lo establece la Resolución 2346 del 11 de julio de 2007: por la cual se regula la práctica de evaluaciones médicas ocupacionales y el manejo y contenido de las historias clínicas ocupacionales. </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Otras fuentes de información:</strong></p>
                <p>
                    <ul>
                        <li>Inspecciones de bioseguridad</li>
                        <li>Inspecciones de seguridad</li>
                        <li>Investigaciones de accidentes de trabajo por riesgo biológico</li>
                        <li>Procedimientos de limpieza, desinfección y esterilización. </li>
                        <li>Plan de señalización y demarcación para residuos</li>
                        <li>Observaciones de comportamiento</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>15. PERSONAS, ÁREAS Y OFICIOS EXPUESTO A RIESGO BIOLÓGICO:</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Personas expuestas a riesgo biológico:</strong></p>
                <p><strong>Colaboradores: </strong> <strong><%= @evidence.number_officials if @evidence.present? %></strong>.</p>
                <p><strong>Áreas y distribución de exposición al riesgo biológico:</strong></p>
                <p><strong>Áreas u oficios con exposición directa:</strong>.</p>
                <p><strong><%= @evidence.direct_exposure_areas if @evidence.present? %></strong></p>
                <p><strong>Control en las personas:</strong></p>
                <p><strong>Evaluaciones medicas ocupacionales</strong></p>
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %></strong> tiene contrato con <strong><%= @evidence.medical_examination_entity if @evidence.present? %></strong>, los cuales son los encargados de realizar los exámenes de ingreso, periódicos y de retiro. </p>
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %></strong> se acoge a la normatividad vigente que es la resolución 2346 de 2007 (Por la cual se regula la práctica de evaluaciones médicas ocupacionales y el manejo y contenido de las historias clínicas ocupacionales), por lo tanto, la IPS nombrada anteriormente emite certificado de actitud laboral y las recomendaciones necesarias de cada trabajador, como también garantizan la conservación y custodia de las historias Clínicas.</p>
                <p><strong>Examen Médico de Ingreso:</strong></p>
                <p>Cuando el personal que ingresa estará expuesto a riesgo biológico el funcionario debe certificar que tiene esquema completo de vacunación en hepatitis y tétano por medio de su carné de vacunación, además de la titulación de anticuerpos para hepatitis B, se considera protegido si Ac HBs mayor 10 UI/ml. Si el resultado es menor, el trabajador deberá realizar un refuerzo de la vacuna y se deberá tomar la titulación nuevamente dos a tres meses después.</p>
                <p><strong>Examen Médico Periódico:</strong></p>
                <p>Se cuenta con exámenes de control de la población expuesta a riesgo biológico, se lleva un control de vigilancia epidemiológica sobre los funcionarios que han tenido accidentes de riesgo biológico, siguiendo el protocolo de seguimiento del accidente.</p>
                <p><strong>Examen de Retiro:</strong></p>
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, tiene contrato con <strong><%= @evidence.medical_examination_entity if @evidence.present? %></strong>, la cual es la encargada de realizar los exámenes de retiro, por lo tanto, al funcionario que se retira se le hace entrega de citatorio para dicho examen el cual cuenta con fecha, hora, dirección y teléfono, del lugar donde se realizará el examen correspondiente.  Dando cumplimiento a la normatividad vigente la Universidad tiene establecido que el examen de retiro se realizará en los cinco (5) días posteriores a la terminación del contrato, que, si por algún motivo el colaborador no puede asistir en la fecha y hora establecida, este deberá reprogramar su cita dentro de los cinco días posteriores a la terminación del contrato.</p>
                <p><strong>Inducción, reinducción, capacitación y entrenamiento para el desarrollo de competencias, programas de educación:</strong></p>
                <p>Se deberá realizar de forma sistemática y permanente a todos los niveles de la empresa de acuerdo con las necesidades personales y generales de los colaboradores y según los programas de vigilancia epidemiológica para riesgo Biológico, este comprende:</p>
                <p><strong>Plan de Inducción:</strong></p>
                <p>Se realiza inducción a los colaboradores, en la cual se les da información con relación al Sistema de Gestión de Seguridad y Salud en el Trabajo y los diferentes riesgos de exposición ocupacional entre los cuales se encuentra el Biológico.</p>
                <p>Durante el proceso de inducción se brinda capacitación en los siguientes temas:</p>
                <p>
                    <ul>
                        <li>Riesgo biológico</li>
                        <li>Principios de bioseguridad</li>
                        <li>Normas generales de bioseguridad</li>
                        <li>Manejo seguro de elementos cortopunzantes</li>
                        <li>Vacunación</li>
                        <li>Uso, eliminación, sustitución, reposición, higiene, almacenamiento, secuencia para calzarse y retirarse los elementos de protección personal.</li>
                        <li>Reporte y manejo de accidentes de trabajo</li>
                    </ul>
                </p>
                <p><strong>Reinducción:</strong></p>
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %></strong> dentro del proceso de reinducción de SST, tiene en cuenta aspectos relacionados con la gestión del riesgo biológico, incluyendo la socialización de normas de bioseguridad.</p>
                <p><strong>Planes de capacitación:</strong></p>
                <p>Los temas básicos o iniciales para todo el personal que labora en la empresa son: bioseguridad, disposición de residuos, asepsia y antisepsia, y específicos para cada área de <strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, accidentes de trabajo por riesgo biológico.</p>
                <p><strong>Gestión de comportamiento:</strong></p>
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, a través del área de seguridad y salud en el trabajo, el Copasst, el comité de infecciones y ARL, realiza observaciones de comportamiento para riesgo biológico, con el fin de verificar cambios en el comportamiento, adherencia a los procedimientos y estándares de seguridad, entre otros, los cuales se retroalimentan de manera positiva, en el momento que se realizan las observaciones de comportamiento.</p>
                <p>Así mismo Durante las inspecciones de riesgo biológico, se realizará observaciones de comportamiento y de encontrar una conducta inadecuada en la disposición de los residuos hospitalarios y similares, será motivo de retroalimentación para su respectiva corrección.</p>
                <p><strong>Entrega de dotación y elementos de protección personal:</strong></p>
                <p><strong><%= @evidence.entity.business_name if @evidence.present? %></strong>, mantiene su responsabilidad y compromiso en el suministro de dotación y elementos de protección personal, a los colaboradores expuestos con el apoyo y las indicaciones del área de Seguridad y Salud en el Trabajo.</p>
                <p>Ver matriz de elementos de protección personal.</p>
                <p>
                    <ul>
                        <li>Se cuenta con una matriz de elementos de protección personal, de acuerdo con el cargo y a la exposición a riesgo biológico.</li>
                        <li>Se cuenta con registro de la entrega de elementos de protección personal.</li>
                        <li>Se cuenta con registro de capacitación en uso, eliminación, sustitución, reposición, higiene, almacenamiento y secuencia para el calzado y retiro de los elementos de protección personal.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>16. ACTUAR Y REVISAR:</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Acciones preventivas y correctivas:</strong></p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las acciones preventivas y correctivas surgen de varias actividades tales como: Investigación de incidentes, accidentes, exposiciones ocupacionales, enfermedades laborales, inspecciones, auditorías, exámenes periódicos, observaciones de comportamiento, autoreporte de las condiciones de salud, análisis de vacunación, perfil sociodemográfico, perfil epidemiológico de la región. y titulación de anticuerpos para Hepatitis B, entre otros.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>17. MEDICIÓN Y SEGUIMIENTO DE DESEMPEÑO:</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Indicadores para el monitoreo de riesgo biológico</strong></p>
            </td>
        </tr>
    </table>   
    <div><br></div> 
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Frecuencia de AT biológico</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>Número de AT biológico que se presentaron en el mes/Número de personal expuesto a riesgo biológico en el mes *100</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver caracterización AT</p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Severidad del AT Biológico</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>Número de días de incapacidad por AT por riesgo biológico en el mes + número de días cargados en el mes /número de trabajadores en el mes. *100</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver caracterización AT</p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Prevalencia de la enfermedad</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>Número de casos nuevos y antiguos de enfermedad laboral por riesgo biológico en el periodo Z / promedio de trabajadores expuestos en el periodo Z. *100.000</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver caracterización EL</p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Incidencia de la enfermedad</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>Número de casos nuevos de enfermedad laboral por riesgo biológico en el periodo Z / promedio de trabajadores expuestos a riesgo biológico en el periodo Z. *100.000</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver caracterización EL</p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Inspecciones de bioseguridad</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>Número de inspecciones de bioseguridad ejecutadas x100 N° de inspecciones de bioseguridad ejecutadas</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver plan de trabajo</p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Observaciones de comportamiento</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>N° de observaciones de comportamiento planeadas *100 N° de observaciones de comportamiento ejecutadas</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver plan de trabajo</p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Capacitación riesgo biológico / normas de bioseguridad</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>N° de capacitaciones programadas para la gestión del riesgo biológico / Número de capacitaciones programadas *100</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver Plan anual de capacitaciones</p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 100%;text-align:center;">
                <p><strong>Seguimiento a estado de inmunización</strong></p>
            </td>
        </tr>
    </table>   
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 70%;padding: 10px;">
                <p>N° de personas con esquema completo de vacunación/número de personas expuestas a riesgo biológico *100</p>
            </td>
            <td style="border:1px solid black;width: 30%;padding: 10px;">
                <p>Ver Matriz de seguimiento al estado de inmunización.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div>
        <strong>18. ANÁLISIS DE LA INFORMACIÓN</strong>
    </div> 
    <div><br></div>    
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Luego de efectuar la recolección de la información y observar las estadísticas de accidentalidad se ha determinado que las personas que más probabilidad tienen de sufrir un accidente biológico son las que laboran en el área de <strong><%= @evidence.biologica_risk_area if @evidence.present? %></strong> y la persona encargada de oficios varios.</p>
            </td>
        </tr>
    </table>   
    <div><br></div>    
    <div><br></div> 

    <%= render 'firmanorepresentante' %>
    <%= render 'firmarepresentante' %>

</div>
<br>