<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<div> 
    <div>
        <br>
    </div>

    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h6><%= @evidence.entity.business_name if @evidence.present? %></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <h6><%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></h6>
            </div>
        </div>
    </div>

    <table> 
        <tr>
            <td style="text-align:justify">
                El señor  <strong><%= @representante_legal.name if @representante_legal.present? %></strong> en calidad de representante legal de  <strong><%= @evidence.entity.business_name if @evidence.present? %></strong> con  NIT:  <strong><%= EvaluationRuleDetail.miles(@evidence.entity.identification_number) if @evidence.present? %>-<%= @evidence.entity.verification_digit if @evidence.entity.verification_digit.present? %></strong>, definió y asignó los siguientes recursos financieros, humanos, técnicos y físicos para la implementación, mantenimiento y continuidad del Sistema de Gestión de Seguridad y Salud en el Trabajo (SG-SST). <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>Recursos financieros</strong>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Para el período comprendido entre el <strong><%= @evidence.initial_period if @evidence.present? %></strong> y el <strong><%= @evidence.final_period if @evidence.present? %></strong>, se cuenta con un presupuesto para las actividades de seguridad y salud en el trabajo de <strong><%= @evidence.letter_value if @evidence.present? %></strong> incluidos impuestos ($<strong><%= @evidence.value if @evidence.present? %></strong> ). <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Los recursos serán gestionados por el responsable del Sistema de Gestión de Seguridad y Salud en el Trabajo y deberán incluir como mínimo: <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                * Pago de servicios profesionales de asesoría y capacitación en seguridad y salud en el trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Compra y/o mantenimiento de equipos de emergencia. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Exámenes médicos ocupacionales. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Adquisición de elementos de protección personal. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Gastos de transporte y papelería. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                El pago de salarios, aportes a la Administradora de Riesgos Laborales ARL no forma parte de este presupuesto. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>Recursos humanos</strong>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                El Sistema de Gestión de Seguridad y Salud en el Trabajo será administrado por el líder de talento humano de la empresa, quien dedicará el tiempo requerido para coordinar las actividades necesarias para la implementación del SG-SST. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>El administrador del SG-SST contará con el apoyo de:</strong>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                * Vigía de SST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Comité de convivencia. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Brigada de emergencia. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Asesor externo contratado para el diseño e implementación del SG-SST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Asesoría de la ARL. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
            La empresa destinará las horas del personal que sean necesarias para participar en las actividades del SG-SST como son: <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                * Participación en simulacro de evaluación. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Asistencia a capacitaciones y actividades de seguridad y salud en el trabajo. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Asistencia a exámenes médicos ocupacionales. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
              Cada uno de los miembros principales y suplentes del comité de convivencia, la brigada de emergencias y el Vigía, podrá disponer de las horas laborales que sean requeridas para la ejecución de sus funciones de acuerdo con la normatividad vigente en Colombia. <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                <strong>Recursos técnicos y tecnológicos</strong>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
            Para la ejecución de las actividades de seguridad y salud en el trabajo, la empresa cuenta con los siguientes recursos técnicos: <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                * Computador portátil para el administrador del SG-SST. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Impresora multiuso para copiado, impresión y escáner de archivos. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Acceso a Internet. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Sistema de almacenamiento en la nube para copias de seguridad de la información. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Equipos celular. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Botiquín de primeros auxilios. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Extintor. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Muebles y enseres. <br>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify">
                * Elementos primarios de oficina <br>
            </td>
        </tr>
        <tr><td><br></td></tr>                
        <tr>
            <td style="text-align:justify">
                Se firma en <strong><%= AdministrativePoliticalDivision.find(@evidence.entity.entity_location_code).municipality_name if @evidence.present? %></strong> a los <strong><%= @evidence.date.day if @evidence.date.present? %></strong> días del mes de <strong><%= localize @evidence.date, format: "%B" if @evidence.date.present? %></strong> del año <strong><%= @evidence.date.year if @evidence.date.present? %></strong>. 
            </td>
        </tr>
  
    </table>

    <%= render 'firmarepresentante' %>    

</div>
<br>