<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <div><br></div>
    <div>
        <strong>COMPONENTE   ESTRATÉGICO</strong>
    </div> 
    <div><br></div>    
    <div>
        <strong>Actividad</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecimiento de los protocolos para la identificación de peligros, evaluación y valoración de los riesgos y generación de controles y defensas necesarios en la operación de <strong><%= @entity.business_name if @entity.present? %>.</strong></p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Objetivos</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>- Establecer la metodología a seguir por <strong><%= @entity.business_name if @entity.present? %></strong> para realizar la identificación de peligros, evaluación y valoración de los riesgos y generación de controles y defensas necesarias, generadas por las actividades realizadas en la empresa por medio de la Matriz de riesgos bajo metodología propia de la empresa basada en GTC 45.</p>
                <p>- Implementar la herramienta de control de cambio que permita no perder de vista el impacto de los controles y defensas del sistema para la mejora continua de la organización.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>Alcance</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento aplica a todos los procesos rutinarios o no rutinarios en las operaciones, tanto para el personal directo y partes Interesadas en la operación de <strong><%= @entity.business_name if @entity.present? %>.</strong></p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Accidente laboral:</strong> es accidente laboral todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca en el trabajador una lesión orgánica, una perturbación funcional, una invalidez o la muerte. Es también accidente laboral aquel que se produce durante la ejecución de órdenes del empleador, o durante la ejecución de una labor bajo su autoridad, aun fuera del lugar y horas de trabajo. </p>
                <p><strong>Peligro:</strong> fuente, situación o acto con potencial de daño en términos de lesión o enfermedad a las personas o una combinación de esto.</p>
                <p><strong>Identificación del peligro:</strong> proceso para reconocer si existe un peligro y definir sus características.</p>
                <p><strong>Nivel de deficiencia (ND):</strong> es la magnitud de la relación esperable entre 1 y el conjunto de peligros detectados y su relación causal directa con posibles incidentes y 2 con la eficacia de las medidas preventivas existentes en un lugar de trabajo.</p>
                <p><strong>Nivel de exposición (NE):</strong> es la situación de exposición a un riesgo que se presenta en un tiempo determinado durante la jornada laboral.</p>
                <p><strong>Nivel de consecuencia (NC):</strong> es la medida de la severidad de las consecuencias.</p>
                <p><strong>Riesgo:</strong> combinación de la probabilidad de que ocurra un evento o exposición peligrosa y la severidad de lesión o enfermedad, que puede ser causada por el evento o la exposición.</p>
                <p><strong>Factor de riesgo:</strong> es todo elemento cuya presencia o modificación aumenta la probabilidad de producir un daño a quien este expuesto a él.</p>
                <p><strong>Fuente del peligro:</strong>  condición o comportamiento del cual se desprende el peligro analizado.</p>
                <p><strong>Evaluación de riesgos:</strong> proceso general de estimar la magnitud de un riesgo y decidir si este es tolerable o no.</p>
                <p><strong>Actividad rutinaria:</strong> actividades realizadas continuamente durante la jornada laboral. Si se realiza más de dos (2) veces por semana se considera actividad rutinaria.</p>
                <p><strong>Actividad no rutinaria:</strong> actividades no realizadas frecuentemente durante la jornada laboral. Si se realiza una (1) vez a la semana, es una actividad no rutinaria. Es también, aquella actividad no planeada.</p>
                <p><strong>Seguridad:</strong> condición de estar libre de un riesgo de daño inaceptable. </p>
                <p><strong>Epp:</strong> equipos de protección personal.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>PROCEDIMIENTO GENERAL</strong>
    </div> 
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 80%;text-align:center;background-color: #00aae4"><strong>PROCEDIMIENTO</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;text-align:jutify;">
                <div>1. Luego de Construir Matriz de riesgos bajo metodología propia de la empresa basada en GTC 45, establecidos en los análisis de riesgos y las inspecciones de seguridad, el responsable de SG-SST de <strong><%= @entity.business_name if @entity.present? %></strong>, deberá divulgar a la gerencia, el contenido con la identificación de peligros, valoración y determinación de control de riesgo para buscar su aval y autorización para la divulgación.</div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;text-align:jutify;">
                <div>2. La gerencia revisará la Coherencia de la Matriz de riesgos bajo metodología propia de la empresa basada en GTC 45, <strong>ésta a su vez será divulgada al COPASST y luego de recibir sus recomendaciones</strong>, autorizará la divulgación a todas las partes interesadas por medio de los canales de comunicación seleccionados.</div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Gerencia General</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;text-align:jutify;">
                <div><strong>3. El Administrador del SG-SST</strong> divulgará a sus grupos de interés, la matriz y realizará la inducción necesaria a todos los niveles y procesos para la administración de la herramienta de forma Sistemática.</div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;text-align:jutify;">
                <div>4. Los procesos y proyectos de la empresa, en cabeza del administrador del SG SST, realizará la actualización de la Matriz de riesgos bajo metodología propia de la empresa basada en GTC 45, de los procesos inmediatamente se genere una eliminación, sustitución, control de Ingeniería, control administrativo o implementación de un elemento de protección personal a un riesgo, así como un cambio y/o mejora de condiciones, comportamientos, formación y/o método para cada uno de los riesgos de la organización, cualquier tipo de accidente principalmente accidente mortal o evento catastrófico.</div>
                <div>Cada proceso reportará al administrador del SG-SST los cambios realizados por medio de correo electrónico y/o cualquier otro canal de comunicación definido por la dirección.</div>
                <div>El administrador del SG-SST se encargará de aplicar la encuesta de construcción de la matriz a todos los niveles de la empresa con el fin de contar con la participación de los empleados en la construcción y actualización de la matriz de peligros.</div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;text-align:jutify;">
                <div>5. El Administrador del SG-SST utilizará el <strong>Formato de Control del Cambio</strong> para actualizar cualquier procedimiento, análisis de riesgo, estándar y en general las Herramientas que por la modificación deban ajustarse, máximo a los 15 días hábiles, así como actualizará las matrices agregando los nuevos controles y defensas obtenidos de la mejora. </div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Administrador del SG-SST Gerencia General</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;text-align:jutify;">
                <div>6. En general los responsables de los planes de acción ejecutarán las mejoras de acuerdo con las fechas previstas.</div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div>Responsables de los planes de Acción</div>
                <div></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;text-align:jutify;">
                <div><strong>Documentos y Evidencias</strong></div>
                <div><br></div>
                <div>Formato de Control de Cambios</div>
                <div>Formato notificación del cambio </div>
                <div>Formato divulgación matriz de riesgos y peligros </div>
                <div>Formato encuesta para construcción de matriz de peligros y riesgos</div>
                <div><br></div>
                <div><strong>MATRIZ DE RIESGOS</strong>bajo Matriz de riesgos bajo metodología propia de la empresa basada en GTC 45.</div>

            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Administrador del SG SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;">
                <div><strong>Periodicidad</strong></div>
                <div><br></div>
                <div>En caso de no presentarse cambios, la herramienta será revisada anualmente en reunión gerencial. </div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Gerencia </div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;">
                <div><strong>Periodicidad</strong></div>
                <div><br></div>
                <div>En caso de no presentarse cambios, la herramienta será revisada anualmente en reunión gerencial. </div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Gerencia </div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;">
                <div><strong>Indicadores</strong></div>
                <div><br></div>
                <div>Priorización del riesgo </div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Administrador del SG-SST</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 80%;padding: 20px;">
                <div><strong>Divulgación</strong></div>
                <div><br></div>
                <div>Será responsabilidad del administrador del SG-SST divulgar la priorización de los riesgos por medio del formato divulgación de matriz. </div>
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                <div></div>
                <div>Administrador del SG-SST</div>
            </td>
        </tr>
    </table %>
    <div><br></div>    
    <div style="text-align:center">
        <strong>INSTRUCTIVO PARA EL DILIGENCIAMIENTO DE LA MATRIZ DE RIESGOS BAJO METODOLOGÍA PROPIA DE LA EMPRESA BASADA EN GTC 45</strong>
    </div> 
    <div><br></div>
    <div><strong>1. Información general</strong></div>
    <div><br></div>
    <div><strong>1.1. Identificación Área/Puesto de Trabajo</strong></div>
    <div><br></div>
    <div><strong>1.1.1. Fecha de Identificación: </strong>Fecha en la cual es Identificado y/o Incluido el Riesgo Nuevo o su modificación en la matriz.</div>
    <div><br></div>
    <div><strong>1.1.2. Proceso Evaluado: </strong>En la Operación de la empresa esta variable está definida por la etapa según el nivel de intervención en la que aparece el riesgo y las opciones serán seleccionadas entre administración y operación las dos de forma simultanea.</div>
    <div><br></div>
    <div><strong>1.1.3. Área/centro de trabajo: </strong>Área, operación o Localización geográfica donde se presenta el riesgo.</div>
    <div><br></div>
    <div><strong>1.1.4. Cargos: </strong>Aquellos oficios expuestos al Riesgo.</div>
    <div><br></div>
    <div><strong>1.1.5. Actividad / Tarea evaluada: </strong>Esta variable establece si el Riesgo se presentan en el Área Administrativa u Operativa o Ambas de forma simultanea.</div>
    <div><br></div>
    <div><strong>1.1.6. Tipo de Actividad: </strong>Define si la Actividad es Rutinaria o No Rutinaria.  El establecimiento de Este Criterio estará definido por el tipo de operación, aquella que hace parte del proceso productivo de la operación será Rutinario y aquel esporádico que no se realiza en la operación cotidiana será No Rutinario.</div>
    <div><br></div>
    <div><strong>2. Identificación del peligro </strong></div>
    <div><br></div>
    <div><strong>2.1. Peligros /Grupo de peligros / Fuente </strong></div>
    <div><br></div>
    <div><strong>2.1.1. Clasificación: </strong>Se deberá seleccionar el Grupo Universal de peligro en el cual se encuentra relacionado el Riesgo Analizado y que está incluido en la lista desplegable, para efectos de la metodología de la GTC 45 (2011) estará definida por la siguiente tabla:</div>
    <div><br></div>
    <div><strong>2.1.2. Descripción del peligro: </strong>Descripción particular de la forma como se puede materializar el peligro en la operación de la organización y sus partes interesadas.</div>
    <div><br></div>
    <div><strong>2.1.3. Fuente del Peligro: </strong>Generador del potencial de pérdida Ejemplo: Peligro: Movimiento Repetitivo, Descripción del Peligro: Movimiento repetitivos por manejo de teclado y mouse ,  la utilización de teléfonos, radios y operación de los vehículos  Fuente del peligro:  Computadores, teléfono , radios, vehículos.</div>
    <div><br></div>
    <% @clasification_dangers.each do |clasification_danger| %>
        <table style="width: 100%;"> 
            <tr style="background-color: #00aae4;border:1px solid black;text-align:center%;">
                <td style="border:1px solid black;text-align:center;width: 100%;">
                    <%= clasification_danger.name %>
                </td>
            </tr>
        </table> 
        <table style="width: 100%;"> 
            <% @clasification_danger_details.where("clasification_danger_id = ?",clasification_danger.id).each do |clasification_danger_detail| %>
                <tr style="1px solid black;text-align:center%;">
                    <td style="border:1px solid black;text-align:center;width: 50%;">
                        <%= clasification_danger_detail.name %>
                    </td>
                    <td style="border:1px solid black;text-align:center;width: 50%;">
                        <% @danger_detail_risks.where("clasification_danger_detail_id = ?",clasification_danger_detail.id).each do |danger_detail_risk| %>
                            <%= danger_detail_risk.name %></br>    
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>    
    <% end %>
    <div><br></div>    
    <div><strong>2.1.4. Consecuencia: </strong>Lesión que sufre la persona cuando se materializa el factor y el tipo de riesgo.</div>
    <div><br></div>
    <div><strong>2.1.5. Expresado o potencial: </strong>Determina si el los eventos evaluados ya se materializaron como un accidente o un incidente (expresado) o si presenta un potencial de ocurrencia sin materializarse (potencial).</div>
    <div><br></div>
    <div><strong>3. Controles existentes: </strong>Identificar los controles existentes en la empresa al momento de realizar la evaluación y análisis de los riesgos, clasificados en fuente (generador directo del riesgo), medio (barreras existentes entre la fuente y la persona) y persona.</div>
    <div><br></div>
    <div><strong>4. Evaluación y análisis del riesgo </strong></div>
    <div><br></div>
    <div><strong>4.1. Efectos posibles: </strong>Para efectos de la metodología GTC 45 la determinación de los efectos posibles se realiza basados en la siguiente tabla:</div>
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="background-color: #00aae4;border:1px solid black; width: 100%;text-align:center;"><strong>CLASIFICACIÓN DE LA GRAVEDAD DE LOS NIVELES DE DAÑO</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 25%; text-align:center;">
                <div><strong>Categoría del daño</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 25%; text-align:center">
                <div><strong>Daño leve</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 25%; text-align:center">
                <div><strong>Daño medio</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 25%; text-align:center">
                <div><strong>Daño extremo</strong></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 25%; text-align:center;">
                <div><strong>Salud</strong></div>
            </td>
            <td style="border:1px solid black; width: 25%; text-align:justify;padding: 20px;">
                <div>Molestias e irritación ejemplo: dolor de cabeza,  Enfermedad que produce malestar ejemplo: diarrea.</div>
            </td>
            <td style="border:1px solid black; width: 25%; text-align:justify;padding: 20px;">
                <div>Enfermedades que causan incapacidad temporal ejemplo: pérdida parcial de la audición, dermatitis, asma, desordenes de las extremidades superiores.</div>
            </td>
            <td style="border:1px solid black; width: 25%; text-align:justify;padding: 20px;">
                <div>Enfermedades agudas o crónicas que generan incapacidad permanente parcial, invalidez o muerte.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 25%; text-align:center;">
                <div><strong>Seguridad</strong></div>
            </td>
            <td style="border:1px solid black; width: 25%; text-align:justify;padding: 20px;">
                <div>Lesiones superficiales, heridas de poca profundidad, contusiones, irritaciones del ojo por material particulado.</div>
            </td>
            <td style="border:1px solid black; width: 25%; text-align:justify;padding: 20px;">
                <div>Laceraciones, heridas profundas, quemaduras de primer grado, conmoción cerebral, esguinces graves, fracturas de huesos cortos.</div>
            </td>
            <td style="border:1px solid black; width: 25%; text-align:justify;padding: 20px;">
                <div>Lesiones que generen amputaciones, fracturas de huesos largos, traumatismo craneoencefálico, quemaduras de segundo y tercer grado, alteraciones severas de mano, de columna vertebral con compromiso de la médula espinal, oculares que comprometan el campo visual, disminución de la capacidad auditiva. </div>
            </td>
        </tr>
    </table>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 100%; text-align:justify;padding: 20px;">La salud y seguridad son categorías de daño que son definidas en forma efectiva por citar algunos ejemplos y ésta lista no es exhaustiva.</td>
        </tr>
    </table>
    <div><br></div>    
    <div><strong>4.2. Trabajadores expuestos: </strong>Aquellos que por su exposición al riesgo en las instalaciones y/o operación de la empresa se hace necesario intervenir por medio de  controles y defensas que para el caso nuestro se clasifican como : </div>
    <div><br></div>
    <div><strong>4.2.1. Vinculados: </strong>Colaboradores contratados directamente. </div>
    <div><br></div>
    <div><strong>4.2.2. Terceros: </strong> Personal contratado por medio de un intermediario que se constituye como el empleador del trabajador, como profesionales y/o Trabajadores independientes, , trabajadores de contratistas, Trabajadores temporales.</div>
    <div><br></div>
    <div><strong>4.2.3. Visitantes: </strong> Cualquier otra persona que ingresa a las instalaciones y/u operación de la empresa y/o que se expone a los riesgos de la operación.</div>
    <div><br></div>
    <div><strong>4.3. Elementos materialización del riesgo: </strong> En esta columna se consignará la información concerniente a eventos que por razón del peligro analizado se han materializado con anterioridad en la operación, tiene que ver con Accidentes/ incidentes o enfermedades ocurridos por este peligro.</div>
    <div><br></div>
    <div><strong>4.4. Medidas de control Existentes: </strong> Como insumo para determinar la probabilidad de ocurrencia de un evento por causa del Peligro analizado, se deberá determinar las medidas tomadas actualmente (<strong>No</strong> las que se deberán tomar) y que estarán clasificadas como:</div>
    <div><br></div>
    <div><strong>4.4.1. Controles en la fuente: </strong> Lista y descripción de los controles existentes actualmente para el control del riesgo como Eliminación, Sustitución, Controles de Ingeniería.</div>
    <div><br></div>
    <div><strong>4.4.2. Controles administrativos: </strong> Descripción de elementos de control tales como: Señalización, Advertencias, Instalación de alarmas, Procedimientos de seguridad, Inspecciones de equipos, Programas de mantenimiento.</div>
    <div><br></div>
    <div><strong>4.4.3. Controles en el trabajador: </strong> Descripción de controles implementados en el trabajador tales como: Educación y entrenamiento, Elementos de protección personal, Sistemas de detención de caídas, etc.</div>
    <div><br></div>
    <div><strong>5. Valoración del Riesgo  </strong></div>
    <div><br></div>
    <div style="text-align:justify">El objetivo fundamental será determinar el nivel de Riesgo de cada Condición de peligro identificada en la operación del personal directo, tercerizado o visitante para poder priorizar la intervención y que será determinado por el cálculo de la siguiente fórmula:</div>
    <div><br></div>
    <div style="text-align:center"><strong>NR = NP X NC</strong></div>
    <div><br></div>
    <div><strong>Siendo:  NR: </strong>Nivel de Riesgo.   NP: </strong>Nivel de Probabilidad.  NC: </strong>Nivel de Consecuencia.</div>
    <div><br></div>
    <div><strong>Nivel de probabilidad: </strong>Para poder determinar el Nivel de Probabilidad se deberá entonces calcular por medio de la siguiente formula: </div>
    <div><br></div>
    <div style="text-align:center"><strong>NP = ND X NE</strong></div>
    <div><br></div>
    <div><strong>Siendo:  NP: </strong>Nivel de probabilidad.   ND: </strong>Nivel de Deficiencia.  NE: </strong>Nivel de Exposición.</div>
    <div><br></div>
    <div><strong>5.1. Nivel de deficiencia: </strong> Despliegue la lista de opciones y seleccione el nivel de deficiencia de acuerdo a los siguientes parámetros:</div>
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="background-color: #00aae4;border:1px solid black; width: 100%;text-align:center;"><strong>DETERMINACIÓN DEL NIVEL DE DEFICIENCIA</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 30%; text-align:center;">
                <div><strong>Nivel de Deficiencia</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 20%; text-align:center">
                <div><strong>ND</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 50%; text-align:center">
                <div><strong>Significado</strong></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Muy Alto (MA)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>10</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Se ha(n) detectado peligro(s) que determina(n) como muy posible la generación de incidentes o la eficacia del conjunto de medidas preventivas exigentes respecto al riesgo es nula o no existe, o ambos.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Alto (A)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>6</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Se ha(n) detectado aguno(s) que pueden dar lugar a consecuencias significativa(s), o la eficacia del conjunto de medidas preventivas existentes es baja, o ambos.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Medio (M)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>2</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Se han detectado peligros que pueden dar lugar a consecuencias poco significativa(s) o de menor importancia, o la eficacia del conjunto de medidas preventivas existentes es moderada, o ambos. </div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Bajo (B)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>No se Asigna Valor</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>No se ha detectado anomalía destacable alguna o la eficacia del conjunto de medidas preventivas existentes es alta, o ambos. El riesgo está controlado. </div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><strong>Nota: </strong> Cuando se selecciona el nivel de deficiencia cualitativo, automáticamente se actualiza el nivel de deficiencia cuantitativo.</div>
    <div><br></div>
    <div><strong>Nivel de exposición: </strong>El nivel de exposición estar definido por la frecuencia con la que se realiza la actividad de Riesgo en la jornada, y se clasifica por continua, frecuente, Ocasional o esporádica. Se calcula de acuerdo con la siguiente tabla:</div>
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Continua (EC)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>4</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Se presenta sin interrupción o varias veces con tiempo prolongado durante la jornada laboral. </div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Frecuencia (EF)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>3</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>La situación de exposición se presenta varias veces durante la jornada laboral por tiempos cortos.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Ocasional (EO)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>2</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>La situación de exposición se presenta algunas veces durante la jornada laboral y por un periodo de tiempo corto.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Esporádica (EE)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>1</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>La situación de exposición se presenta de manera eventual.</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><strong>Nota: </strong>Cuando se selecciona el nivel de Exposición cualitativo, automáticamente se actualiza el nivel de Exposición cuantitativo.</div>
    <div><br></div>
    <div><br></div>
    <div><strong>5.3. Nivel de Probabilidad: </strong>Sera calculado de forma automática por la matriz y tendrá la siguiente valoración:</div>
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="background-color: #00aae4;border:1px solid black; width: 100%;text-align:center;"><strong>DETERMINACIÓN DEL NIVEL DE PROBABILIDAD</strong></td>
        </tr>
    </table>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="background-color: #00aae4;border:1px solid black; width: 40%;text-align:center;">Niveles de probabilidad</td>
            <td style="background-color: #00aae4;border:1px solid black; width: 60%;text-align:center;">Niveles de Exposición (NE)</td>
        </tr>
    </table>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 40%;text-align:center;"></td>
            <td style="border:1px solid black; width: 15%;text-align:center;">4</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">3</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">2</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">1</td>
        </tr>
    </table>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 30%;text-align:center;">Nivel de Deficiencia (ND)</td>
            <td style="border:1px solid black; width: 10%;text-align:center;">10</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">MA - 40</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">MA - 30</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">A - 20</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">A - 10</td>
        </tr>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 30%;text-align:center;"></td>
            <td style="border:1px solid black; width: 10%;text-align:center;">6</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">MA - 24</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">A - 18</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">A - 12</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">M - 6</td>
        </tr>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 30%;text-align:center;"></td>
            <td style="border:1px solid black; width: 10%;text-align:center;">2</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">M - 8</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">M - 6</td>
            <td style="border:1px solid black; width: 15%;text-align:center;"> - 6</td>
            <td style="border:1px solid black; width: 15%;text-align:center;">B - 2</td>
        </tr>
    </table>
    <div><br></div>
    <div>El nivel de probabilidad contará con la siguiente interpretación: </div>
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 20%; text-align:center;">
                <div><strong>Nivel de probabilidad</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 20%; text-align:center">
                <div><strong>NP</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 60%; text-align:justify">
                <div><strong>Significado</strong></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Muy Alto (MA)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>Entre 40 y 24</div>
            </td>
            <td style="border:1px solid black; width: 60%; text-align:justify;padding: 20px;">
                <div>Situación deficiente con exposición continua o muy deficiente con exposición frecuente. </br> Normalmente la materialización del riesgo ocurre con frecuencia.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Alto (A)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>Entre 20 y 10</div>
            </td>
            <td style="border:1px solid black; width: 60%; text-align:justify;padding: 20px;">
                <div>Situación deficiente con exposición frecuente u ocasional, o bien situación muy deficiente con exposición ocasional o esporádica. </br> La materialización del riesgo es posible que suceda varias veces en la vida laboral.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Medio (M)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>Entre 8 y 6</div>
            </td>
            <td style="border:1px solid black; width: 60%; text-align:justify;padding: 20px;">
                <div>Situación deficiente con exposición esporádica, o bien situación mejorable con exposición continuada o frecuente. </br> Es posible que suceda el daño alguna vez.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Bajo (B)</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center">
                <div>Entre 4 y 2</div>
            </td>
            <td style="border:1px solid black; width: 60%; text-align:justify;padding: 20px;">
                <div>Situación mejorable con exposición ocasional o esporádica, o situación sin anomalía destacable con cualquier nivel de exposición. </br> No es esperable que se materialice el riesgo, aunque puede ser concebible.</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><strong>5.4. Nivel de Consecuencias: </strong>El nivel de consecuencia será establecido por los parámetros definidos en esta tabla:</div>
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 20%; text-align:center;">
                <div><strong>Nivel de Consecuencias</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 10%; text-align:center">
                <div><strong>NC</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 70%; text-align:justify;padding: 20px;">
                <div><strong>Significado</br>Daños Personales</strong></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Mortal o Catastrófico (M)</div>
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center">
                <div>100</div>
            </td>
            <td style="border:1px solid black; width: 70%; text-align:justify;padding: 20px;">
                <div>Muerte(s)</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Muy grave (MG)</div>
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center">
                <div>60</div>
            </td>
            <td style="border:1px solid black; width: 70%; text-align:justify;padding: 20px;">
                <div>Lesiones graves irreparables  (Incapacidad permanente parcial o invalidez)</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Grave (G)</div>
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center">
                <div>25</div>
            </td>
            <td style="border:1px solid black; width: 70%; text-align:justify;padding: 20px;">
                <div>Lesiones con incapacidad laboral temporal (ILT)</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>Leve (L)</div>
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center">
                <div>10</div>
            </td>
            <td style="border:1px solid black; width: 70%; text-align:justify">
                <div>Lesiones que no requieren hospitalización.</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><strong>Nota:</strong> Cuando se selecciona el nivel de Consecuencia cualitativo, automáticamente se actualiza el nivel de Consecuencia cuantitativo.</div>
    <div><br></div>
    <div><strong>5.5. Nivel de Riesgo: </strong> La tabla Automáticamente define la Estimación del nivel de riesgo inicial calculada como NR= NP x NC.</div>
    <div><br></div>
    <div>Esta estimación se ubica en la matriz para determinar el nivel de riesgo y de intervención así:</div>
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 40%; text-align:center;">
                <div><strong>Nivel de riesgo de intervención</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 60%; text-align:center;">
                <div><strong>Nivel de probabilidad (NP)</strong></div>
            </td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 40%; text-align:center;">
                <div><strong>NR = NP x NC</strong></div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div><strong>40-24</strong></div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div><strong>20-10</strong></div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div><strong>8-6</strong></div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div><strong>4-2</strong></div>
            </td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Nivel de consecuencias (NC)</div>
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center;">
                <div>100</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>4000-2400</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>2000-1200</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>800-600</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>400-200</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Nivel de consecuencias (NC)</div>
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center;">
                <div>100</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>4000-2400</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>2000-1200</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>800-600</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>400-200</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center;">
                <div>60</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>2400-1440</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>II</br>1200-600</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>II</br>480-360</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>II 240</br>III 120</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center;">
                <div>25</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>I</br>1000-600</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>II</br>500-250</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>II</br>200-150</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>III</br>100 - 50</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                
            </td>
            <td style="border:1px solid black; width: 10%; text-align:center;">
                <div>10</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>II</br>400-240</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>II 200</br>III 100</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>III</br>80-60</div>
            </td>
            <td style="border:1px solid black; width: 15%; text-align:center;">
                <div>III 40</br>IV 20</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div>Der acuerdo con la ubicación en la Tabla, se utilizará la siguiente interpretación del Nivel de Riesgo:</div>
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 30%; text-align:center;">
                <div><strong>Nivel de riesgo y de intervención</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 20%; text-align:center;">
                <div><strong>NR</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 50%; text-align:center;">
                <div><strong>Significado</strong></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>I</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>4000-600</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Situación crítica. Suspender actividades hasta que el riesgo esté bajo control. Intervención urgente.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>II</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>500-150</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Corregir y adoptar medidas de control de inmediato. Sin embargo suspenda actividades si el nivel de consecuencia está por encima de 60.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>III</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>120-40</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Mejorar si es posible. Sería conveniente justificar la intervención y su rentabilidad.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>IV</div>
            </td>
            <td style="border:1px solid black; width: 20%; text-align:center;">
                <div>20</div>
            </td>
            <td style="border:1px solid black; width: 50%; text-align:justify;padding: 20px;">
                <div>Mantener las medidas de control existentes, pero se deberían considerar soluciones o mejoras y se deben hacer comprobaciones periódicas para asegurar que el riesgo aún es tolerable.</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div>Establecida la interpretación del riesgo se define el grado a aceptabilidad así :</div>
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 60%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 30%; text-align:center;">
                <div><strong>Nivel de Riesgo</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 30%; text-align:center;">
                <div><strong>Significado</strong></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>I</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>No Aceptable</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>II</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>No Aceptable</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>III</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Aceptable</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>IV</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Aceptable</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 60%;">
            <td style="background-color: #00aae4;border:1px solid black; width: 30%; text-align:center;">
                <div><strong>Nivel de Riesgo</strong></div>
            </td>
            <td style="background-color: #00aae4;border:1px solid black; width: 30%; text-align:center;">
                <div><strong>Interpretación</strong></div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>I</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Inaceptable</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>II</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Importante</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>III</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Moderado</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>IV</div>
            </td>
            <td style="border:1px solid black; width: 30%; text-align:center;">
                <div>Tolerable</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><strong>Nota : </strong>En nuestra empresa, para aquellos Riesgos Inaceptables será necesario implementar programas de gestión.</div>
    <div><br></div>
    <div><strong>5.6. Requisitos legales existentes en este tema: </strong>Se analizará el peligro revisado y buscando coherencia con la matriz de requisitos legales, se relacionará el requisito legal que se defina como insumo para la intervención de este. Se incluirán los artículos de cada ley, resolución, acuerdo, y en general lineamientos legales que apliquen.</div>
    <div><br></div>
    <div><strong>6. Medidas de intervención </strong></div>
    <div><br></div>
    <div><strong>6.1. Priorización: </strong>Completada la valoración del Riesgo se determinará si los controles existentes son suficientes o no, o si necesitan mejorarse o adoptar nuevos controles para impactar el riesgo.</div>
    <div><br></div>
    <div>Estos controles deberán fijarse de acuerdo con las siguientes jerarquías:</div>
    <div><br></div>
    <div><strong>6.1.1. Eliminación: </strong>Retirar de la operación el riesgo gracias a la modificación de diseños o procesos.</div>
    <div><br></div>
    <div><strong>6.1.2. Sustitución: </strong>Reemplazar la operación o condición por otra más segura.</div>
    <div><br></div>
    <div><strong>6.1.3. Controles de Ingeniería: </strong>Instalación de dispositivos o métodos de ingeniería para el control del riesgo.</div>
    <div><br></div>
    <div><strong>6.1.4. Señalización, advertencias y/o controles administrativos: </strong>Sistemas preventivos que eviten la materialización del Riesgo (Alarmas, Señales, Inspecciones, Controles de acceso).</div>
    <div><br></div>
    <div><strong>6.1.5. Equipos de Protección personal: </strong>Control en las personas por medio de equipos y elementos de protección personal según el riesgo a controlar.</div>
    <div><br></div>
    <div><strong>6.2. Plan de Acción:  </strong>Gracias a la información obtenida en las Inspecciones, Investigaciones, Auditorias reportes de Incidentes y en general cualquier herramienta del sistema que obligue a actualizar o agregar nuevos riesgos y que ha servido como insumos para construir la MATRIZ DE RIESGOS bajo la metodología de la GTC 45 y de acuerdo con la valoración del Riesgo, se deberá definir el plan de acción que ayude a cerrar las brechas entre lo valorado y lo ideal.</div>
    <div><br></div>
    <div>Para el logro del objetivo se deberá diligencia y actualizar cada vez que se realice un cambio o se cumpla un plan la siguiente información:</div>
    <div><br></div>
    <div><strong>6.2.1. Plan de Acción:  </strong>Actividades, equipos, elementos y métodos encaminados al control del riesgo.</div>
    <div><br></div>
    <div><strong>6.2.2. Responsable:  </strong>Persona o proceso asignados para el cumplimiento de la mejora y cierre de brecha.</div>
    <div><br></div>
    <div><strong>6.2.3. Fecha del Compromiso:  </strong>Fecha de elaboración de las actividades del plan.</div>
    <div><br></div>
    <div><strong>6.2.4. Fecha de cierre:  </strong>Fecha definida para que el compromiso establecido en el plan este cerrado.</div>
    <div><br></div>
    <div><strong>6.2.5. Estatus de Intervención:   </strong>En esta columna se realizará el seguimiento del estado de los planes de acción, estableciendo si los planes de acción están <strong>pendientes en proceso, cerrados o pendientes vencidos,</strong> responsabilidad que corresponderá al Administrador del sistema y que a su vez servirá de insumo para los seguimientos trimestrales liderados por la alta dirección.</div>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>
</div>
<br>
</div>