<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    <div><br></div>
    <div>
        <strong>1. OBJETIVO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Definir las actividades a seguir para la conformación y funcionamiento del Comité Paritario de Seguridad y Salud en el Trabajo (COPASST), de <strong><%= @entity.business_name if @entity.present? %>.</strong></p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Este procedimiento se desarrolla para dar cumplimiento a la resolución 2013 de 1986, Ley 1562 del 2012 y Decreto 1072 del 2015 para el COPASST, desde la convocatoria para elección, designación del presidente y secretario del Comité Paritario de Seguridad y salud en el trabajo hasta su puesta en marcha con la primera reunión. Por la conformación de la planta de <strong><%= @entity.business_name if @entity.present? %></strong> este procedimiento entrará en ejecución una vez se cuente con una planta de personal que permita realizar lo estipulado en la normatividad vigente.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3. INSUMOS</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Lineamientos normativos, Planilla de inscripción de aspirantes, Formato de Acta, Tarjetón para elección, Urna.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4. PRODUCTOS Y/O INFORMACIÓN SECUNDARIA</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Publicación de candidatos, Acta de constitución y apertura.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5. NORMAS O REQUISITOS LEGALES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Resolución 2013 de1986</p>
                <p>Ley 1562 del 2012</p>
                <p>Decreto 1072 del 2015</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>6. TÉRMINOS Y DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>COPASST: es el grupo encargado de coordinar, fomentar, controlar y hacer seguimiento de todas las actividades de salud ocupacional en la empresa.</p>
                <p>Miembro del comité: Son representantes de los trabajadores y del empleador que hacen parte del comité.</p>
                <p>Postulantes: Colaborador que pide ser admitido en el comité.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>7. CONDICIONES GENERALES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>* Este procedimiento debe iniciarse tres (3) meses antes del vencimiento del periodo de vigencia del COPASST; el período de vigencia es de 2 años.</p>
                <p>* El COPASST se conforma por un número determinado de personas que dependen del total de empleados de <strong><%= @entity.business_name if @entity.present? %></strong> de acuerdo a la siguiente tabla:</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 40%;padding: 20px;text-align:center;">
                <div>De 10 a	49 Trabajadores</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 20px;text-align:center;">
                <div>Un (1) representante por cada una de las partes.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 40%;padding: 20px;text-align:center;">
                <div>De 50 a	499 Trabajadores</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 20px;text-align:center;">
                <div>Dos (2) representantes por cada una de las partes.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 40%;padding: 20px;text-align:center;">
                <div>De 500 a 999 Trabajadores</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 20px;text-align:center;">
                <div>Tres (3) representantes por cada una de las partes.</div>
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 40%;padding: 20px;text-align:center;">
                <div>de 1000 o más trabajadores</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 20px;text-align:center;">
                <div>Cuatro (4) representantes por cada una de las partes.</div>
            </td>
        </tr>
    </table>
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>* El Comité Paritario de Seguridad y Salud en el Trabajo estará compuesto por un número igual de representantes del empleador y de los trabajadores, con sus respectivos suplentes. La mitad de sus integrantes representan a <strong><%= @entity.business_name if @entity.present? %></strong>, son elegidos por el Representante Legal; la otra mitad de sus integrantes representan a los empleados, y son elegidos por votación.</p>
                <p>* Se deben cumplir los lineamientos legales, institucionales y documentación del subproceso.</p>
                <p>* Los interesados en integrar el comité, deben estar vinculados a la nómina de <strong><%= @entity.business_name if @entity.present? %>.</strong></p>
                <p>* La convocatoria para miembros de comité, debe durar 30 días calendario.</p>
                <p>* El 50% de los miembros del comités se eligen por proceso electoral y el otro 50% lo elige el Representante Legal, de acuerdo a lo estipulado en la resolución 1356 de 2012, la resolución 2013 de 1986.</p>
                <p>* El comité debe sesionar por lo menos 1 vez al mes o de forma extraordinaria por la ocurrencia de un accidente laboral grave o mortal. Esta reunión se debe llevar a cabo en horas laborales.</p>
                <p>* El periodo de gestión del comité es de 2 años según la normatividad actual.</p>
                <p>* Se debe realizar un proceso de formación a los integrantes del COPASST en temas relacionados con la Seguridad y Salud en el Trabajo, inspecciones, investigación de accidentes y normatividad vigente.</p>
                <p>* El COPASST, debe presentar semestralmente, informe de gestión al Representante Legal y al Responsable del SG-SST.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>8. DESCRIPCIÓN DEL PROCEDIMIENTO</strong>
    </div> 
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 5%;text-align:center;background-color: #00aae4"><strong></strong></td>
            <td style="border:1px solid black; width: 25%;text-align:center;background-color: #00aae4"><strong>Actividad (Diagrama de Flujo)</strong></td>
            <td style="border:1px solid black; width: 30%;text-align:center;background-color: #00aae4"><strong>Descripción de la actividad</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>Responsable</strong></td>
            <td style="border:1px solid black; width: 20%;text-align:center;background-color: #00aae4"><strong>Documento o Registro</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>1</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Inicio Ciclo</div>
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Inicio del procedimiento</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div></div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div></div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>2</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Revisa normatividad</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Revisando la normatividad que rige el COPASST, en especial su conformación, y con base en ella se prepara un proyecto de convocatoria a las elecciones, estableciendo la reglamentación de las mismas y los Requisitos para quienes quieran postularse como candidatos. Posteriormente, se remite a Gestión Administrativa y a la Gerencia.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Responsable del SG-SST</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div></div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>3</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Elaborar circular de Convocatoria</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Elabora la circular de convocatoria para las elecciones  del  COPASST,  precisando  los requisitos para las planchas que quieran postularse.</br> Se determinan los lineamientos bajo los cuales se realizará la convocatoria.</br> Se realiza la convocatoria socializándola en todos	los	centros	de	trabajo, para la participación en el proceso de conformación del comité, donde se informan las condiciones para la inscripción de postulantes y realización del proceso, según lo establecido legalmente y por el responsable de SGSST. </br> Una vez realizada la convocatoria, para el caso de los centros de trabajo, el Responsable de SGSST  informará  quiénes  se  postularon, detallando nombres completos y cargos, junto con	su	respectivo	registro	fotográfico, autorización de uso de imagen y correo de postulación. </div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Responsable del SG-SST
                </div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Circular de convocatoria</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>4</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Recibir inscripción de planchas</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Recibiendo las solicitudes de inscripción en el formato de inscripción de planchas para el COPASST, durante una semana.</br> Revisando si las planchas inscritas cumplen los requisitos estipulados en la convocatoria y cumpliendo la normatividad vigente.</br> Anulando aquellas que no los cumplan.</br> El Responsable de SGSST informará quiénes se postularon, detallando nombres completos y cargos,  junto  con  su  respectivo  registro fotográfico, autorización de uso de imagen y correo de postulación.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Responsable de Comunicaciones</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Comunicado interno, Boletín, Correo electrónico.</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>5</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Elaborar tarjetones y Programación de la elección</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Solicita a Gestión Administrativa el diseño del tarjetón con la foto, nombre y cargo de los postulados a conformar el comité, datos que deben ser validados previamente.</br> Se define y notifica la fecha de votación y tiempo de duración de la misma.</br> Para el caso de los centros de trabajo, los líderes deben enviar la propuesta de la jornada de votación al responsable del SGSST para su validación, una vez aprobado, se procede a divulgar.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Responsable de Comunicaciones</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Formato de solicitud de divulgación interna </div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>6</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Designar Comisión Electoral</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Designando los Jurados del proceso de votación y notificándolos mediante comunicado interno.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Gerente</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Oficios de notificación como jurados</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>7</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Realizar la elección</div>
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Elaborando acta de apertura de votación, en el día y tiempo designado para dar inicio a la misma. Realizando la elección por votación universal y secreta. El derecho a votar lo ejercen los funcionarios vinculados a la Empresa, que sean empleados activos, administrativos, asistenciales, incluidos los que se encuentran en período de prueba o con vinculación especial. El sistema de elecciones de <strong><%= @entity.business_name if @entity.present? %></strong>, contará con los siguientes tipos de votos: Voto válido: Es aquel que ha sido marcado, ya sea a favor de una plancha o voto en blanco.</br> Voto en blanco: Este tipo de voto es la expresión de disentimiento o inconformidad del electorado.</br> Cuando del total de votos válidos, los votos en blanco constituyan la mayoría (mitad más uno) deberá convocarse a un nuevo proceso de elección al que deberán inscribirse planchas diferentes a las inscritas en la primera convocatoria.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Jurados de Elección Gerente Gestor Administrativo Líder de Talento Humano Responsable SG- SST Personal de planta de la ESE</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Planilla de votantes firmada Tarjetones marcados</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>8</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Realiza Escrutinio</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Realiza el escrutinio de la votación mediante el sistema de elecciones, acto que se celebrará en la División de Recursos Humanos.</br> Se realiza la verificación de los resultados arrojados por la elección, en presencia de los postulados, se confrontan los totales y se elabora el acta del escrutinio con los resultados de la votación.</br> Se levantará acta de escrutinio la cual debe ser firmada y entregada al Gerente.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Jurados de votación Responsable de SGSST</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Acta de escrutinio</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>9</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Designar miembros representantes</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Una vez elegidos los representantes por parte de los trabajadores, el Representante Legal, previa propuesta de posibles candidatos presentada por el Responsable de SGSST, designará a los representantes por parte del empleador, seleccionando entre ellos al Presidente del COPASST.</br> Se elabora el acta de constitución del comité, con los miembros elegidos por votación y los designados por la Gerencia.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Gerente</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div></div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>10</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Comunicar públicamente resultados</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Socializando los resultados de las elecciones y presentado a los miembros elegidos y los representantes de la empresa.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Responsable del SG-SST</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Circular informativa</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>11</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Notificar de la conformación de comité</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Notificando a los miembros elegidos del comité, con sus funciones y responsabilidades. En la notificación, al presidente del COPASST se le informa que debe realizar la	reunión de apertura del comité a más tardar a los siguientes de la notificación de conformación, convocando al Responsable de SGSST y al Representante de la Dirección para el SG-SST.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Gerente Responsable del SG-SST</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Oficios de notificación</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>12</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Apertura comité</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Se inicia la reunión de apertura de los comités, entre los participantes se designa al secretario. El Representante de la Dirección, hace entrega del informe de gestión del COPASST anterior, así como de sus recomendaciones y lineamientos para la nueva gestión.</br> Se elabora el Representante Legal y al Representante de la Dirección del SG-SST, para su validación.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Miembros del Comité Representante de la Dirección para el SG-SST</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Acta de comité</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>13</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Hacer seguimiento</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>El Representante de la Dirección de forma semestral, revisará los informes parciales de gestión, analizará y evaluará los resultados y realizará la respectiva retroalimentación de los mismos a los comités.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Representante de la Dirección para
                el SG-SST</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Informe de revisión</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>14</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Toma de acciones</div> 
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
                </svg></div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>A partir de la retroalimentación recibida, se realizan los ajustes correspondientes a los planes de trabajo.</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Miembros del comité</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div>Evidencias de acciones realizadas</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>15</div> 
            </td>
            <td style="border:1px solid black; width: 25%;padding: 10px;text-align:center;">
                <div>Fin</div> 
            </td>
            <td style="border:1px solid black; width: 30%;padding: 10px;text-align:justify;">
                <div>Fin del procedimiento</div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div></div> 
            </td>
            <td style="border:1px solid black; width: 20%;padding: 10px;text-align:center;">
                <div></div> 
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><br></div>
    <%= render 'firmaelaborodos' %>  
</div>
<br>
</div>