<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <div><br></div>
    <div>
        <strong>1. OBJETIVO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer la metodología, y criterios para la selección de los miembros del comité de convivencia laboral, el cual cumple un papel fundamental en el desarrollo del sistema de gestión de seguridad y salud en el trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El procedimiento aplica para todos los colaboradores de <strong><%= @entity.business_name if @entity.present? %>.</strong></p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3. DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Comité De Convivencia Laboral: </strong> Los Comités de Convivencia Laboral se conforman como una medida preventiva del acoso laboral que contribuye a proteger a los trabajadores contra los riesgos psicosociales que afectan la salud en los lugares de trabajo. Los integrantes del Comité preferiblemente deben contar con competencias actitudinales y comportamentales, tales como respeto, imparcialidad, tolerancia, serenidad, confidencialidad, reserva en el manejo de información y ética; así mismo, habilidades de comunicación asertiva, liderazgo y resolución de conflictos.</p>
                <p><strong>Acoso laboral: </strong> El acoso laboral, ​ o el anglicismo mobbing, hace referencia tanto a la acción de un hostigador u hostigadores conducente a producir miedo, terror, desprecio o desánimo en el trabajador afectado hacia su trabajo, como el efecto o la enfermedad que produce en el trabajador.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4. ACTIVIDADES</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>4.1. Conformación del comité de convivencia laboral</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Comité de Convivencia Laboral estará compuesto por dos (2) representantes del empleador y dos (2) de los trabajadores, con sus respectivos suplentes. Las entidades públicas y empresas privadas podrán de acuerdo a su organización interna designar un mayor número de representantes, los cuales en todo caso serán iguales en ambas partes.</p>
                <p>Los integrantes del Comité preferiblemente contarán con competencias actitudinales y comportamentales, tales como respeto, imparcialidad, tolerancia, serenidad, confidencialidad, reserva en el manejo de información y ética; así mismo habilidades de comunicación asertiva, liderazgo y resolución de conflictos.</p>
                <p>En el caso de empresas con menos de veinte (20) trabajadores, dicho comité estará conformado por un representante de los trabajadores y uno (1) del empleador, con sus respectivos suplentes. </p>
                <p>El empleador designará directamente a sus representantes y los trabajadores elegirán los suyos a través de votación secreta que represente la expresión libre, espontánea y auténtica de todos los trabajadores, y mediante escrutinio público, cuyo procedimiento deberá ser adoptado por cada empresa o entidad pública, e incluirse en la respectiva convocatoria de la elección.</p>
                <p>El Comité de Convivencia Laboral de entidades públicas y empresas privadas no podrá conformarse con servidores públicos o trabajadores a los que se les haya formulado una queja de acoso laboral, o que hayan sido víctimas de acoso laboral, en los seis (6) meses anteriores a su conformación”.</p>
                <p>Las entidades públicas y las empresas privadas deberán conformar un (1) comité por empresa y podrán voluntariamente integrar comités de convivencia laboral adicionales, de acuerdo a su organización interna, por regiones geográficas o departamentos o municipios del país.</p>
                <p>NOTA: Los representantes de la organización, serán designados por la gerencia general, y los colaboradores elegirán sus representantes por votación libre, y serán ellos los encargados del proceso.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.2.  Periodo de los miembros del comité.</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El período de los miembros del Comité de Convivencia será de dos (2) años, a partir de la conformación del mismo, que se contarán desde la fecha de la comunicación de la elección y/o designación.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.3. Reuniones del comité.</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Comité de Convivencia Laboral se reunirá ordinariamente cada (3) meses, y sesionará con la mitad más uno de sus integrantes y extraordinariamente cuando se presenten casos que requieran de su inmediata intervención y podrá ser convocado por cualquiera de sus integrantes. (Res. No.1356 de 2012 Min trabajo).</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.4. Funciones del comité convivencia laboral</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Comité de Convivencia Laboral tendrá únicamente las siguientes funciones: </p>
                <p>* Recibir y dar trámite a las quejas presentadas en las que se describan situaciones que puedan constituir acoso laboral, así como las pruebas que las soportan. </p>
                <p>* Examinar de manera confidencial los casos específicos o puntuales en los que se formule queja o reclamo, que pudieran tipificar conductas o circunstancias de acoso laboral, al interior de la entidad pública o empresa privada.</p>
                <p>* Escuchar a las partes involucradas de manera individual sobre los hechos que dieron lugar a la queja.</p>
                <p>* Adelantar reuniones con el fin de crear un espacio de diálogo entre las partes involucradas, promoviendo compromisos mutuos para llegar a una solución efectiva de las controversias.</p>
                <p>* Formular un plan de mejora concertado entre las partes, para construir, renovar y promover la convivencia laboral, garantizando en todos los casos el principio de la confidencialidad.</p>
                <p>* Hacer seguimiento a los compromisos adquiridos por las partes involucradas en la queja, verificando su cumplimiento de acuerdo con lo pactado.</p>
                <p>* En aquellos casos en que no se llegue a un acuerdo entre las partes, no se cumplan las recomendaciones formuladas o la conducta persista, el Comité de Convivencia Laboral, deberá remitir la queja a la Procuraduría General de la Nación, tratándose del sector público. En el sector privado, el Comité informará a la alta dirección de la empresa, cerrará el caso y el trabajador puede presentar la queja ante el inspector de trabajo o demandar ante el juez competente.</p>
                <p>* Presentar a la alta dirección de la entidad pública o la empresa privada las recomendaciones para el desarrollo efectivo de las medidas preventivas y correctivas del acoso laboral, así como el informe anual de resultados de la gestión del comité de convivencia laboral y los informes requeridos por los organismos de control. </p>
                <p>* Hacer seguimiento al cumplimiento de las recomendaciones dadas por el Comité de Convivencia a las dependencias de gestión del recurso humano y salud ocupacional de las empresas e instituciones públicas y privadas.</p>
                <p>* Elaborar informes trimestrales sobre la gestión del Comité que incluya estadísticas de las quejas, seguimiento de los casos y recomendaciones, los cuales serán presentados a la alta dirección de la entidad pública o empresa privada.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.5. Funciones del presidente del comité.</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Comité de Convivencia Laboral deberá elegir por mutuo acuerdo entre sus miembros, un presidente, quien tendrá las siguientes funciones: </p>
                <p>* Convocar a los miembros del Comité a las sesiones ordinarias y extraordinarias.</p>
                <p>* Presidir y orientar las reuniones ordinarias y extraordinarias en forma dinámica y eficaz. </p>
                <p>* Tramitar ante la administración de la entidad pública o empresa privada, las     recomendaciones aprobadas en el Comité.</p>
                <p>* Gestionar ante la alta dirección de la entidad pública o empresa privada, los recursos requeridos para el funcionamiento del Comité.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.6. Funciones del secretario del comité.</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Comité de Convivencia Laboral deberá elegir entre sus miembros un secretario, por mutuo acuerdo, quien tendrá las siguientes funciones:</p>
                <p>* Recibir y dar trámite a las quejas presentadas por escrito en las que se describan las situaciones que puedan constituir acoso laboral, así como las pruebas que las soportan.</p>
                <p>* Enviar por medio físico o electrónico a los miembros del Comité la convocatoria realizada por el presidente a las sesiones ordinarias y extraordinarias, indicando el día, la hora y el lugar de la reunión.</p>
                <p>* Citar individualmente a cada una de las partes involucradas en las quejas, con el fin de escuchar los hechos que dieron lugar a la misma.</p>
                <p>* Citar conjuntamente a los trabajadores involucrados en las quejas con el fin de establecer compromisos de convivencia.</p>
                <p>* Llevar el archivo de las quejas presentadas, la documentación soporte y velar por la reserva, custodia y confidencialidad de la información.</p>
                <p>* Elaborar el orden del día y las actas de cada una de las sesiones del Comité. </p>
                <p>* Enviar las comunicaciones con las recomendaciones dadas por el Comité a las diferentes dependencias de la entidad pública o empresa privada.</p>
                <p>* Citar a reuniones y solicitar los soportes requeridos para hacer seguimiento al cumplimiento de los compromisos adquiridos por cada una de las partes involucradas.</p>
                <p>* Elaborar informes trimestrales sobre la gestión del Comité que incluya estadísticas de las quejas, seguimiento de los casos y recomendaciones, los cuales serán presentados a la alta dirección de la entidad pública o empresa privada.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4.7. Obligaciones del empleador</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>* Garantizar un espacio físico para las reuniones y demás actividades del Comité de Convivencia Laboral, así como para el manejo reservado de la documentación.</p>
                <p>* Realizar actividades de capacitación para los miembros del Comité sobre resolución de conflictos, comunicación asertiva y otros temas considerados prioritarios para el funcionamiento del mismo.</p>
                <p>* Desarrollar las medidas preventivas y correctivas de acoso laboral.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5. RESPONSABLES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Coordinador del SG-SST</p>
                <p>Colaboradores de todos los procesos</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <% if @firms.present? %> 
        <br>
        <div class="row"><br></div>
           <table>
                <% cont = 0 %>
                <% @firms.each do |firm| %>
                    <% cont = cont + 1 %>
                    <% if cont == 1 || cont == 3 || cont == 5 || cont ==7 || cont == 9 || cont == 11 || cont == 13  %>
                        <tr> 
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                        <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>
                                                    <div>&nbsp;</div>   
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div> 
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div> 
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div>   
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                        </div>    
                                        <div class="col-11">
                                            <div class="row">
                                                <strong><%= firm.user.name %></strong>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <%= firm.post %>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </td>  
                        <% else %>    
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                            <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>    
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div>   
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div> 
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                    </div>    
                                    <div class="col-11">
                                        <div class="row">
                                            <strong><%= firm.user.name %></strong>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <%= firm.post %>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </td>      
                            </tr>
                        <% end %>
            
                <% end %>
            </table>
        </div>
    <% end %>
</div>
<br>
</div>