<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <div><br></div>
    <div>
        <strong>1. OBJETIVO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Establecer la metodología para realizar la rendición de cuentas frente al Sistema de Gestión de Seguridad y Salud en el Trabajo, con el fin de identificar oportunidades de mejora, necesidad de implementación de acciones correctivas, preventivas y de mejora.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>2. ALCANCE</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Está dirigido para todos aquellos a los que se le han asignado responsabilidades dentro del Sistema de Gestión de Seguridad y Salud en el Trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>3. NORMATIVIDAD</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>* Resolución 0312 de 2019 artículo 16 Ítem del estándar E2.6.1</p>
                <p>* Decreto 1072 de 2015 artículo 2.2.4.6.8 numeral 3</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>4. DEFINICIONES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>Acción de mejora: </strong> Acción de optimización del Sistema de Gestión en Seguridad y Salud en el Trabajo (SG-SST), para lograr mejoras en el desempeño de la organización en Seguridad y salud en el trabajo de forma coherente con la política.</p>
                <p><strong>Alta Dirección: </strong>Persona o grupo de personas que dirigen y controlan una empresa.</p>
                <p><strong>Efectividad: </strong>Logro de los objetivos del sistema de gestión de seguridad y salud en el trabajo con la máxima eficacia y la máxima eficiencia.</p>
                <p><strong>Eficacia: </strong>Es la capacidad de alcanzar el efecto que espera o se desea tras la realización de una acción.</p>
                <p><strong>Eficiencia: </strong>Relación entre el resultado alcanzado y los recursos utilizados.</p>
                <p><strong>Planeación: </strong>Es un proceso de toma de decisiones para alcanzar un futuro deseado, teniendo en cuenta la situación actual y los factores internos y externos que pueden influir en el logro de los objetivos.</p>
                <p><strong>Rendición de cuentas: </strong>Mecanismo por medio del cual las personas e instituciones informan sobre su desempeño.</p>
                <p><strong>Sistema de Gestión de la Seguridad y Salud en el Trabajo-SG-SST: </strong>El sistema de gestión de la seguridad y salud en el trabajo SG-SST consiste en el desarrollo de un proceso lógico y por etapas, basado en la mejora continua y que incluye la política, la organización, la planificación, la aplicación, la evaluación, la auditoria y las acciones de mejora con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que puedan afectar la seguridad y la salud en el trabajo.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>5. RESPONSABILIDAD</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Las responsabilidades se encuentran descritas en la matriz de responsabilidades y rendición de cuentas de los siguientes cargos y roles ante el SG-SST.</p>
                <p>* Gerente General</p>
                <p>* Encargado del SG-SST</p>
                <p>* Comité Paritario de Seguridad y salud en el Trabajo - COPASST</p>
                <p>* Comité PESV</p>
                <p>* Comité de Convivencia Laboral</p>
                <p>* Brigada de emergencias</p>
                <p>* Funcionarios</p>
                <p>* Contratistas</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>6. GENERALIDADES</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>El Decreto 1072 de 2015 numeral 3 del Artículo 2.2.4.6.8 establece como una obligación del empleador la realización de una rendición de cuentas del SG-SST, definida esta como el mecanismo a través del cual las personas y las organizaciones informan sobre su desempeño a todos los interesados.</p>
                <p>El proceso de rendición de cuentas parte de las responsabilidades asignadas en el SG-SST. El numeral 2 del artículo 2.2.4.6.8 del Decreto 1072 de 2015 que establece:</p>
                <p>“2. Asignación y Comunicación de Responsabilidades: Debe asignar, documentar y comunicar las responsabilidades específicas en Seguridad y Salud en el Trabajo SST a todos los niveles de la organización, incluida la alta dirección;”</p>
                <p>“3 Rendición de cuentas al interior de la empresa: A quienes se les hayan delegado responsabilidades en el Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST, tienen la obligación de rendir cuentas internamente en relación con su desempeño. Esta rendición de cuentas se podrá hacer a través de medios escritos, electrónicos, verbales o los que sean considerados por los responsables. La rendición se hará como mínimo anualmente y deberá quedar documentada”.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div>
        <strong>7. DESCRIPCIÓN DE LAS ACTIVIDADES</strong>
    </div> 
    <div><br></div>
    <table style="width: 100%;>
         <tr style="border:1px solid black;width: 100%;text-align:center;">
            <td style="border:1px solid black; width: 5%;text-align:center;background-color: #00aae4"><strong>ITEM</strong></td>
            <td style="border:1px solid black; width: 60%;text-align:center;background-color: #00aae4"><strong>DESCRIPCCIÓN</strong></td>
            <td style="border:1px solid black; width: 35%;text-align:center;background-color: #00aae4"><strong>RESPONSABLE</strong></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>1</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Revisión y verificación de normatividad legal vigente aplicable a la empresa en Seguridad y Salud en el Trabajo.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>2</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Identificar las responsabilidades asignadas y comunicadas a cada rol</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>3</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Identificar los objetivos del plan de trabajo y programas en los cuales participa el rol</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>4</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Envío del formato de informe de rendición de
                cuentas a cada responsable</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Gestión de comunicaciones e información</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>5</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Verificación del cronograma de rendición de cuentas en el Plan Anual de SST</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Oficina asesora de Planeación</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>6</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Enviar citación formal por medio escrito o correo electrónico a las partes</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Oficina asesora de Planeación</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>7</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Realizar la rendición de cuentas</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Cada responsable de rendir cuentas de acuerdo al rol</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>8</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Solicitar los soportes y evidencias de las actividades realizadas por cada rol en el periodo.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Oficina asesora de Planeación</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>9</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Elaborar acta de la rendición cuentas, con las sugerencias de mejora para el cumplimiento de responsabilidades.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Oficina asesora de Planeación</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>10</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>El encargado del SG – SST debe verificar el cumplimiento de los indicadores asociados a
                cada rol.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>11</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Calcular los indicadores de los planes y programas de acuerdo a la rendición de cuentas.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>12</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Contrastar lo planeado frente ejecutado.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>13</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Retroalimentar a cada una de los responsables, explicar qué se hizo para cumplir y si se cumplieron o no los objetivos</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
        <tr style="border:1px solid black;width: 100%;">
            <td style="border:1px solid black; width: 5%;padding: 10px;text-align:center;">
                <div>14</div> 
            </td>
            <td style="border:1px solid black; width: 60%;padding: 10px;text-align:justify;">
                <div>Cada responsable debe elaborar el Acciones correctivas y de mejora (plan y seguimiento) para el cumplimiento de los aspectos a mejorar dejando claridad sobre las causas y responsables de la ejecución.</div> 
            </td>
            <td style="border:1px solid black; width: 35%;padding: 10px;text-align:center;">
                <div>Grupo Gestión Humana y SST</div> 
            </td>
        </tr>
    </table>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <% if @firms.present? %> 
        <br>
        <div class="row"><br></div>
           <table>
                <% cont = 0 %>
                <% @firms.each do |firm| %>
                    <% cont = cont + 1 %>
                    <% if cont == 1 || cont == 3 || cont == 5 || cont ==7 || cont == 9 || cont == 11 || cont == 13  %>
                        <tr> 
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                        <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>
                                                    <div>&nbsp;</div>   
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div> 
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div> 
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div>   
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                        </div>    
                                        <div class="col-11">
                                            <div class="row">
                                                <strong><%= firm.user.name %></strong>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <%= firm.post %>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </td>  
                        <% else %>    
                            <td style="border:0px solid black; width: 33%; text-align:center">
                                <div class="row  text-center"> 
                                    <div class="col-11">
                                            <div>&nbsp;</div>
                                            <% if firm.authorize_firm == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <%= image_tag firm.user.firm, class: "firma" %>
                                                        <p align="center">________________________________</p>
                                                    <% end %>
                                                <% else %>    
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>&nbsp;</div>
                                                    <div>
                                                        <p align="center">________________________________</p>
                                                    </div>    
                                                <% end %>
                                            <% else %>
                                                <div>&nbsp;</div>   
                                                <div>&nbsp;</div>
                                                <div>&nbsp;</div> 
                                                <div>
                                                    <p align="center">________________________________</p>
                                                </div>    
                                            <% end %>     
                                    </div>    
                                    <div class="col-11">
                                        <div class="row">
                                            <strong><%= firm.user.name %></strong>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <%= firm.post %>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </td>      
                            </tr>
                        <% end %>
            
                <% end %>
            </table>
        </div>
    <% end %>
</div>
<br>
</div>