<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @matrix_action_item do |form| %> 
        <% @matrix_action_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
   
        <%= form.hidden_field :consecutive, :value => @cant.to_i, class: "form-control" %>
        <%= form.hidden_field :matrix_corrective_action_id, :value => params[:id].to_i, class: "form-control" %>
        <table style="width: 100%;">
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :date_action_conformity,  style: "display: block" %>
                    <%= form.date_field :date_action_conformity,  class: "form-control" %>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :origin_action,  style: "display: block" %>
                    <%= form.select(:origin_action, [['Estudios y/o Recomendaciones ARL', 0], ['Revisi贸n General', 1], ['Quejas y Reclamos', 2], ['Inspecciones', 3], ['Proveedores y/o Contratistas', 4], ['Accidentes o Incidentes', 5], ['Auditoria Interna', 6], ['Auditoria Externa', 7], ['Otros', 8]]) %>
                </td>
            </tr>    
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="border:1px solid black; width: 100%; text-align:center">
                    <strong>SOLICITUD ACCION</strong><br>
                    <%= form.radio_button :type_corrective, 0 %>
                    <label for="accionpreventiva">Acci贸n Preventiva</label>
                    <%= form.radio_button :type_corrective, 1 %>
                    <label for="accionmejora">Acci贸n de Mejora</label>                    
                    <%= form.radio_button :type_corrective, 2 %>
                    <label for="accioncorrectiva">Acci贸n Correctiva</label>                    
                </td>
            </tr>    
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <strong>Fue detectada en:</strong><br>
                    <div>
                    <%= form.label :campus,  style: "display: block" %>
                    <%= form.collection_select :campus, @locations.order(id: :asc), :id, :name_locate, { prompt: '--Seleccionar Centro de Trabajo--' },
                    { class: 'form-control input-sm select2' } %><br>
                    </div>    
                    <%= form.label :area,  style: "display: block" %>
                    <%= form.text_field :area,  class: "form-control" %>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :description_action,  style: "display: block" %>
                    <%= form.text_area :description_action,  class: "form-control" %>
                </td>
            </tr>    
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :clasification_type_corrective,  style: "display: block" %>
                    <%= form.text_field :clasification_type_corrective,  class: "form-control" %>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :year,  style: "display: block" %>
                    <%= form.select(:year, [['2022', 2022], ['2023', 2023], ['2024', 2024]]) %>
                </td>
            </tr> 
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :action_implement,  style: "display: block" %>
                    <%= form.select(:action_implement, [['Inmediata', 0], ['Corto Plazo', 1], ['Mediano Plazo', 2], ['Largo Plazo', 3]]) %>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :responsible,  style: "display: block" %>
                    <%= form.text_field :responsible,  class: "form-control" %>
                </td>
            </tr> 
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :commitment_date,  style: "display: block" %>
                    <%= form.date_field :commitment_date,  class: "form-control" %>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :closet_date,  style: "display: block" %>
                    <%= form.date_field :closet_date,  class: "form-control" %>
                </td>
            </tr> 
            <tr>    
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :took_actions,  style: "display: block" %>
                    <%= form.select(:took_actions, [['No', 0], ['Si', 1]]) %>
                </td>
                <td style="border:1px solid black; width: 50%; text-align:center">
                    <%= form.label :state_actions,  style: "display: block" %>
                    <%= form.select(:state_actions, [['Abierto', 0], ['En proceso', 1], ['Cerrado', 2]]) %>
                </td>
            </tr> 
        </table>
        <br>        

        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>
