<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @protection_element do |form| %>
        <% @protection_element.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="col-sm-8">
            <% entities = Entity.label_empresas %>
            <%= form.label :entity, style: "display: block" %>
                <%= form.collection_select :entity, entities, :id, :business_name, { prompt: '--Seleccionar--' },
                { class: 'form-control input-sm select2' } %>
        </div>
        </br> 
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>
        </br>    
        <div class="form-group">    
            <%= form.label :body_protect, style: "display: block" %>
            <%= form.text_field :body_protect,  class: "form-control" %>
        </div>
        </br>
        <div class="form-group">    
            <%= form.label :rule_protection, style: "display: block" %>
            <%= form.text_field :rule_protection,  class: "form-control" %>
        </div>
        </br>
        <div class="form-group">    
            <%= form.label :durability, style: "display: block" %>
            <%= form.text_field :durability,  class: "form-control" %>
        </div>
        </br>
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :cost_element, style: "display: block" %>
                <%= form.number_field :cost_element,  class: "form-control" %>
            </div>
            <div class="col-sm-5">
                <%= form.label :stok_min, style: "display: block" %>
                <%= form.number_field :stok_min,  class: "form-control" %>
            </div>
        </div>        
        </br>
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :prom_person_use, style: "display: block" %>
                <%= form.text_field :prom_person_use,  class: "form-control" %>
            </div>
            <div class="col-sm-5">
                <%= form.label :proveedor_element, style: "display: block" %>
                <%= form.text_field :proveedor_element,  class: "form-control" %>
            </div>
        </div>        
        </br>
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :cant_person_use, style: "display: block" %>
                <%= form.number_field :cant_person_use,  class: "form-control" %>
            </div>
            <div class="col-sm-5">
                <%= form.label :total_anual_person, style: "display: block" %>
                <%= form.number_field :total_anual_person,  class: "form-control" %>
            </div>
        </div>        
        </br>
        <div class="form-group">    
            <%= form.label :technical_sheet, style: "display: block" %>
            <%= form.text_area :technical_sheet,  class: "form-control" %>
        </div>
        </br>    
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :date_sheet,  style: "display: block" %>
                <%= form.radio_button :date_sheet, 0 %>
                <label for="N/A">N/A</label>
                <%= form.radio_button :date_sheet, 1 %>
                <label for="No">NO</label>
                <%= form.radio_button :date_sheet, 2 %>
                <label for="Si">SI</label>
            </div>
            <div class="col-sm-5">
                <%= form.label :delivery_format,  style: "display: block" %>
                <%= form.radio_button :delivery_format, 0 %>
                <label for="N/A">N/A</label>
                <%= form.radio_button :delivery_format, 1 %>
                <label for="No">NO</label>
                <%= form.radio_button :delivery_format, 2 %>
                <label for="Si">SI</label>
            </div>
        </div>        
        <br>
        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :personal_induction,  style: "display: block" %>
                <%= form.radio_button :personal_induction, 0 %>
                <label for="N/A">N/A</label>
                <%= form.radio_button :personal_induction, 1 %>
                <label for="No">NO</label>
                <%= form.radio_button :personal_induction, 2 %>
                <label for="Si">SI</label>
            </div>
            <div class="col-sm-5">
                <%= form.label :state_protection,  style: "display: block" %>
                <%= form.radio_button :state_protection, 0 %>
                <label for="No">NO</label>
                <%= form.radio_button :state_protection, 1 %>
                <label for="Si">SI</label>
            </div>
        </div>        
        <br>
        <div class="form-group">    
            <%= form.label :img_elem,  style: "display: block" %> 
            <%= form.file_field :img_elem,  class: "form-control", accept:"image/*", capture:"environment" %>
        </div>
        <div><br></div>
        <% if @protection_element.present? %>
            <% if @protection_element.img_elem.attached? %>
                <% if @protection_element.img_elem.image? %> 
                    <%= image_tag @protection_element.img_elem, data: {previews_target: "preview"}, class: "image_peq" %>
                <% end %>
            <% else %> 
                <%= image_tag("avatar.jpg", class: "avatar-mini") %>
            <% end %>
        <% end %>     
        <div><br></div>
        <div class="form-group">    
            <%= form.label :img_ficha,  style: "display: block" %> 
            <%= form.file_field :img_ficha,  class: "form-control", accept:"image/*", capture:"environment" %>
        </div>
        <div><br></div>
        <% if @protection_element.present? %>
            <% if @protection_element.img_ficha.attached? %>
                <% if @protection_element.img_ficha.image? %> 
                    <%= image_tag @protection_element.img_ficha, data: {previews_target: "preview"}, class: "image_peq" %>
                <% end %>
            <% else %> 
                <%= image_tag("avatar.jpg", class: "avatar-mini") %>
            <% end %>
        <% end %>     
        <div><br></div>
        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, protection_elements_path %>
    <% end %>
</div>        
<br>