<tr>
    <td><%= protection_element.id %></td>
    <td><%= protection_element.name %></td> 
    <td><%= ProtectionElement.label_state_protection(protection_element.state_protection) %></td>
    <td><%= link_to t('common.edit'), edit_protection_element_path(protection_element), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= link_to t('common.delete'), protection_element, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el elemento de protección?' }, class: 'btn btn-sm btn-danger' %></td>
</tr>