<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @presentation do |form| %>
        <% @presentation.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>
        </br>

        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, presentations_path %>
    <% end %>
</div>        
<br>

<br>
<div class="container col-11 card p-5">
    <%= form_for @presentation do |f| %>
       <div class="row">
          <div class="form-group">
            <h5><%= f.label :"Adjuntar_Presentación:", style: "display: block" %></h5>
            <%= f.file_field :archivo, multiple: false %>
            <%= f.submit 'Subir Presentación', class: 'btn btn-primary' %>
          </div> 
        </div>
    <% end %>
    <br> 
</div>  
<br>
