<tr>
    <td><%= adm_exam.id %></td>
    <td><%= adm_exam.name %></td>
    <td><%= adm_exam.cant_questions %></td>
    <td><%= adm_exam.percentage_min %></td>
    <td><%= adm_exam.cant_attempts %></td>
    <td><%= adm_exam.time_max %></td>
    <td><%= link_to t('common.edit'), edit_adm_exam_path(adm_exam), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>


