<div class="container col-12 card p-5">
    <br> 
    <%= form_with model: @audit_report_item do |form| %>
        <% @audit_report_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <%= form.hidden_field :audit_report_id, :value => params[:id].to_i, class: "form-control" %>

        <div class="row g-2">
            <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccionar el tipo de hallazgo."><%= t('.type_finding') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button> <br>          
                <%= form.select(:type_finding, [['Conformidad', 0], ['No conformidad', 1], ['Observación', 2]]) %>
            </div>  
            <div class="col-sm-6">
                <%= form.label :type_action, style: "display: block" %>
                <%= form.radio_button :type_action, 0 %>
                <label for="preventiva">Preventiva</label>&nbsp;&nbsp; 
                <%= form.radio_button :type_action, 1 %>
                <label for="correctiva">Correctiva</label>&nbsp;&nbsp;   
                <%= form.radio_button :type_action, 2 %>
                <label for="mejora">Mejora</label>&nbsp;&nbsp;   
            </div>        
        </div>   

        <div class="form-group"> 
            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar el proceso."><%= t('.process') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :process,  class: "form-control" %>
        </div>

        <div class="form-group"> 
            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar el hallazgo."><%= t('.finding') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :finding,  class: "form-control" %>
        </div>


        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
    <% end %>

</div>
<br>
