<div class="container col-11 card p-5">
    <%= form_with model: @template do |form| %>
        <% @template.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, templates_path %>
        <div><br></div>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :document_vigente,  style: "display: block" %>
                <%= form.radio_button :document_vigente, 0 %>
                <label for="novigente">No</label>
                <%= form.radio_button :document_vigente, 1 %>
                <label for="sivigente">Si</label>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
            </div>
        </div>    

        <br> 
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :format_number, style: "display: block" %>
                <%= form.number_field :format_number,  class: "form-control" %>
            </div>
            <div class="col-sm-4">
                <%= form.label :version, style: "display: block" %>
                <%= form.number_field :version,  class: "form-control" %>
            </div>
            <div class="col-sm-3">
                <%= form.label :state,  style: "display: block" %>
                <%= form.radio_button :state, 0 %>
                <label for="noactivo">No activo</label>
                <%= form.radio_button :state, 1 %>
                <label for="activo">Activo</label>
            </div>
        </div>    
        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>
            <div class="col-sm-4">
                <%= form.label :date_updated, style: "display: block" %>
                <%= form.date_field :date_updated,  class: "form-control" %>
            </div>
            <div class="col-sm-3">
                <%= form.label :not_current, style: "display: block" %>
                <%= form.date_field :not_current,  class: "form-control" %>
            </div>
        </div>    
        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :reference, style: "display: block" %>
                <%= form.text_field :reference,  class: "form-control" %>
            </div>
            <div class="col-sm-4">
                <%= form.label :process_document,  style: "display: block" %>
                <%= form.radio_button :process_document, 0 %>
                <label for="sgsst">SG-SST</label>
            </div>
            <div class="col-sm-3">
                <%= form.label :type_document,  style: "display: block" %>
                <%= form.radio_button :type_document, 0 %>
                <label for="acta">Acta</label>
                <%= form.radio_button :type_document, 1 %>
                <label for="informe">Informe</label>
                <%= form.radio_button :type_document, 2 %>
                <label for="encuesta">Encuesta</label>
                <%= form.radio_button :type_document, 3 %>
                <label for="encuesta">Documento</label>                
            </div>
        </div>    
        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :type_soport,  style: "display: block" %>
                <%= form.radio_button :type_soport, 0 %>
                <label for="fisico">Físico</label>
                <%= form.radio_button :type_soport, 1 %>
                <label for="electronico">Electrónico</label>
                <%= form.radio_button :type_soport, 2 %>
                <label for="hibrido">Híbrido</label>
            </div>
            <div class="col-sm-4">
                <%= form.label :name_dependence,  style: "display: block" %>
                <%= form.radio_button :name_dependence, 0 %>
                <label for="sgsstd">SG-SST</label>
            </div>
            <div class="col-sm-3">
                <%= form.label :dependence_admin,  style: "display: block" %>
                <%= form.radio_button :dependence_admin, 0 %>
                <label for="sgssta">SG-SST</label>
            </div>
        </div>    
        <br>
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :description, style: "display: block" %>
            <%= form.text_field :description,  class: "form-control" %>
        </div>


        <div class="form-group">    
            <%= form.label :filing, style: "display: block" %>
            <%= form.text_field :filing,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :standar_detail_item_id,  style: "display: block" %>
            <%= form.collection_select :standar_detail_item_id, StandarDetailItem.all.order(id: :asc), :id, :description, { prompt: '--Seleccionar--' },
            { class: 'form-control input-sm select2' } %>
        </div> 
        <div class="form-group">    
            <%= form.label :observations, style: "display: block" %>
            <%= form.text_field :observations,  class: "form-control" %>
        </div>
        <div class="form-group">    
            <%= form.label :control_changes, style: "display: block" %>
            <%= form.text_field :control_changes,  class: "form-control" %>
        </div>
        <br>    
        <br>    
        <div class="form-group">
               <h5>Ingresar las personas que firman el formato</h5>
        </div>
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :firm_representante,  style: "display: block" %>
                <%= form.radio_button :firm_representante, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :firm_representante, 1 %>
                <label for="Si">Si</label>
            </div>
            <div class="col-sm-4">
                <%= form.label :firm_responsable,  style: "display: block" %>
                <%= form.radio_button :firm_responsable, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :firm_responsable, 1 %>
                <label for="Si">Si</label>
            </div>
        </div>    
        <br>
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :firm_asesor,  style: "display: block" %>
                <%= form.radio_button :firm_asesor, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :firm_asesor, 1 %>
                <label for="Si">Si</label>
            </div>
            <div class="col-sm-4">
                <%= form.label :firm_presidente_copasst,  style: "display: block" %>
                <%= form.radio_button :firm_presidente_copasst, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :firm_presidente_copasst, 1 %>
                <label for="Si">Si</label>
            </div>
        </div>    
        <br>
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :firm_secretario_copasst,  style: "display: block" %>
                <%= form.radio_button :firm_secretario_copasst, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :firm_secretario_copasst, 1 %>
                <label for="Si">Si</label>
            </div>
            <div class="col-sm-4">
                <%= form.label :firm_vigia,  style: "display: block" %>
                <%= form.radio_button :firm_vigia, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :firm_vigia, 1 %>
                <label for="Si">Si</label>
            </div>
        </div>    
        <div class="form-group">
               <h5>Ingresar las personas participantes en el formato</h5>
        </div>
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :participant_responsable,  style: "display: block" %>
                <%= form.radio_button :participant_responsable, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :participant_responsable, 1 %>
                <label for="Si">Si</label>
            </div>
            <div class="col-sm-4">
                <%= form.label :participant_representante,  style: "display: block" %>
                <%= form.radio_button :participant_representante, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :participant_representante, 1 %>
                <label for="Si">Si</label>
            </div>
        </div>    
        <br>
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :participant_asesor,  style: "display: block" %>
                <%= form.radio_button :participant_asesor, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :participant_asesor, 1 %>
                <label for="Si">Si</label>
            </div>
            <div class="col-sm-4">
                <%= form.label :participant_vigia,  style: "display: block" %>
                <%= form.radio_button :participant_vigia, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :participant_vigia, 1 %>
                <label for="Si">Si</label>
            </div>
        </div>    
        <br>
        <br>
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :participant_colaborador,  style: "display: block" %>
                <%= form.radio_button :participant_colaborador, 0 %>
                <label for="No">No</label>
                <%= form.radio_button :participant_colaborador, 1 %>
                <label for="Si">Si</label>
            </div>
            <div class="col-sm-4">
            </div>
        </div>    

        <br>    
        <div class="form-group">
               <h5>Archivos adjuntos:</h5>
        </div>         
        <%= render 'templates/attachment', post: @template%>
       
    <% end %>

    <%= form_for @template do |f| %>
        <div class="row">
           <div class="form-group">
             <h5><%= f.label :Adjuntar, style: "display: block" %></h5>
             <%= f.file_field :file %>
 
             <%= f.submit 'Subir plantilla', class: 'btn btn-primary' %>
           </div> 
         </div>
     <% end %> 
 
</div>        
<br>