<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @template do |form| %>
        <% @template.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, templates_path %>

        <div class="form-group">    
            <%= form.label :format_number, style: "display: block" %>
            <%= form.number_field :format_number,  class: "form-control" %>
        </div>
     
        
        <div class="form-group">    
            <%= form.label :date, style: "display: block" %>
            <%= form.date_field :date,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :date_updated, style: "display: block" %>
            <%= form.date_field :date_updated,  class: "form-control" %>
        </div>

        
        <div class="form-group">    
            <%= form.label :version, style: "display: block" %>
            <%= form.number_field :version,  class: "form-control" %>
        </div>

        <div class="col-sm-3">
            <%= form.label :state,  style: "display: block" %>
            <%= form.radio_button :state, 0 %>
            <label for="Inactivo"><%= t('common.inactivo') %></label>
            <%= form.radio_button :state, 1 %>
            <label for="Activo"><%= t('common.activo') %></label>
        </div>

        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :description, style: "display: block" %>
            <%= form.text_field :description,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :reference, style: "display: block" %>
            <%= form.text_field :reference,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :filing, style: "display: block" %>
            <%= form.text_field :filing,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :standar_detail_item_id,  style: "display: block" %>
            <%= form.collection_select :standar_detail_item_id, StandarDetailItem.all.order(id: :asc), :id, :description, { prompt: '--Seleccionar--' },
            { class: 'form-control input-sm select2' } %>
        </div> 
        <br>    
        <div class="form-group">
               <h5>Archivos adjuntos:</h5>
        </div>         
        <%= render 'templates/attachment', post: @template%>
       
    <% end %>

    <%= form_for @template do |f| %>
        <div class="row">
           <div class="form-group">
             <h5><%= f.label :Adjuntar, style: "display: block" %></h5>
             <%= f.file_field :file %>
 
             <%= f.submit 'Subir plantilla', class: 'btn btn-primary' %>
           </div> 
         </div>
     <% end %> 
 
</div>        
<br>