<tr>
    <td style="text-align:center;"><%= template.format_number %></td>
    <td><%= highlight template.name, params.dig(:q, :name_cont) %></td>
    <td><%= template.date %></td>
    <td><%= template.date_updated %></td>
    <td style="text-align:center;"><%= template.version %></td>
    <td><%= template.label_state(template.state) %></td>
    <td style="text-align:center;"><%= template.standar_detail_item_id %></td>
    <td><%= template.reference %></td>
    <td><%= template.description %></td>

    <td><%= link_to t('common.edit'), edit_template_path(template), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>