<tr>
    <td><%= template.format_number %></td>
    <td><%= template.name %></td>
    <td><%= template.date %></td>
    <td><%= template.date_updated %></td>
    <td><%= template.version %></td>
    <td><%= template.label_state %></td>
    <td><%= template.standar_detail_item_id %></td>
    <td><%= template.reference %></td>
    <td><%= template.description %></td>

    <td><%= link_to t('common.edit'), edit_template_path(template), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>