<%= render 'shared/header2' %>
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div>
        </div>
        <div class="container">
            <%= link_to t('.create_template'), new_template_path, class: 'btn btn-xs btn-primary'  %> 
        </div>
        <hr>
    <table class="table table-hover">
        <thead> 
            <tr>
                <th scope="col"><%= t('.format_number') %></th>
                <th scope="col"><%= t('.name') %></th>
                <th scope="col"><%= t('.date') %></th>
                <th scope="col"><%= t('.date_updated') %></th>
                <th scope="col"><%= t('.version') %></th>
                <th scope="col"><%= t('.state') %></th>
                <th scope="col"><%= t('.standar_detail_item_id') %></th>
                <th scope="col"><%= t('.reference') %></th>
                <th scope="col"><%= t('.description') %></th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'template', collection: @templates  %>  
        </tbody>      
    </table>
</div>