<div class="container col-12 card p-5">
    <br>
    <%= form_with model: @matrix_protection_item do |form| %>
        <% @matrix_protection_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>   
        </br>
        <div class="col-sm-4">
            <%= form.label :protection_element_id,  style: "display: block" %>
            <%= form.collection_select :protection_element_id, @protection_elements.order(id: :asc), :id, :name, { prompt: '--Seleccionar Elemento de Protección--' },
            { class: 'form-control input-sm select2' } %>
        </div>        
        </br>

        <div class="col-sm-3">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar la durabilidad."><%= t('.durability') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :durability,  class: "form-control" %>
        </div>
        </br>
        <div class="row g-2">
            <div class="col-sm-3">
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar inducción personal."><%= t('.state_protection') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.select(:state_protection, [['N/A', 0], ['Servicios Generales', 1], ['Odontólogo / Auxiliar de Odontología', 2], ['Operarios', 3]]) %>
            </div>  
            <div class="col-sm-2">
            </div>  
            <div class="col-sm-4"> 
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar inducción personal."><%= t('.personal_induction') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.select(:personal_induction, [['N/A', 0], ['NO', 1], ['SI', 2]]) %>
            </div>        
        </div>   
        </br>
        <div class="row g-2">
            <div class="col-sm-3">
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar ficha técnica."><%= t('.date_sheet') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.select(:date_sheet, [['N/A', 0], ['NO', 1], ['SI', 2]]) %>
            </div>  
            <div class="col-sm-2">
            </div>  
            <div class="col-sm-4"> 
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar formato de entrega."><%= t('.delivery_format') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.select(:delivery_format, [['N/A', 0], ['NO', 1], ['SI', 2]]) %>
            </div>        
        </div>   
        </br>


        <%= form.hidden_field :matrix_protection_id, :value => params[:id].to_i, class: "form-control" %>

        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, matrix_protections_path(entity_id: Current.user.entity) %>
    <% end %>

</div>
<br>
<div class="container col-12 card p-5">
    <hr>
    <br>
    <div class="d-flex">
        <div class="container">
            <h class="display-6">Elementos de Protección Personal</h>
        </div> 
    </div>
    <hr>
            
    <% if @matrix_protection_items.present? %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID DEL ELEMENTO</th>
                    <th scope="col">ELEMENTO DE PROTECCIÓN</th>
                    <th scope="col">IMAGEN</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% @matrix_protection_items.each do |matrix_protection_item| %>
                    <tr>
                        <td><%= matrix_protection_item.protection_element.id %></td>
                        <td><%= matrix_protection_item.protection_element.name %></td>
                        <td>
                            <% if matrix_protection_item.present? %>
                                <% if matrix_protection_item.protection_element.img_elem.attached? %>
                                    <% if matrix_protection_item.protection_element.img_elem.image? %> 
                                        <%= image_tag matrix_protection_item.protection_element.img_elem, data: {previews_target: "preview"}, class: "image_peq" %>
                                    <% end %>
                                <% else %> 
                                    <%= image_tag("avatar.jpg", class: "avatar-mini") %>
                                <% end %>
                            <% end %>     
                        </td> 
                        <td><%= link_to t('common.edit'), edit_matrix_protection_item_path(matrix_protection_item), class: 'btn btn-xs btn-primary'  %></td>
                        <td><%= link_to t('common.delete'), matrix_protection_item, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el elemento?' }, class: 'btn btn-xs btn-danger' %></td>
                    </tr>
                <% end %>     
            </tbody>      
        </table>
    <% end %>     
</div>
        
<br>