<% if @entity.present? %>
    <h2><%= @entity.business_name %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h2>
<% end %>
<div>
    <%= link_to t('.create_matrix_danger_risk'), new_matrix_danger_risk_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary' if Current.user.level > 0 && Current.user.level < 3 %>
</div>
</br>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Ver</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead> 
    <% if @matrix_danger_risks.present? %>
        <% @matrix_danger_risks.each do |matrix_danger_risk| %>
            <tr>
                <td><%= matrix_danger_risk.created_at.strftime("%F") %></td>
                <td><%= link_to t('common.show_matrix_danger_risk'), matrix_danger_risk_path(matrix_danger_risk.id), class: 'btn btn-sm btn btn-warning' %></td>
                <td><%= button_to "Delete", matrix_danger_risk, method: :delete, class:"btn btn-sm btn-danger" %></td>
            </tr>    
        <% end %>
    <% else %>
        <div>
            <%= link_to t('.create_matrix_danger_risk'), new_matrix_danger_risk_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary' if Current.user.level > 0 && Current.user.level < 3 %>
        </div>
    <% end %>
</table>  


