<% if @entity.present? %>
    <h2><%= @entity.business_name %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h2>
<% end %>
 
<% if @matrix_danger_risk.present? %>
    <td><%= link_to t('common.show_matrix_danger_risk'), matrix_danger_risk_path(@matrix_danger_risk.id), class: 'btn btn-sm btn btn-warning' %></td>
    <td><%= link_to t('common.edit_matrix_danger_risk'), edit_matrix_danger_risk_path(@matrix_danger_risk.id), class: 'btn btn-sm btn btn-warning'  if Current.user.level > 0 && Current.user.level < 3 %></td>
    <td><%= link_to t('common.danger'), crear_item_matrix_danger_risks_path(@matrix_danger_risk.id), class: 'btn btn-sm btn btn-warning' %></td>
    <td><%= link_to "PDF", resumen_pdf_matrix_danger_risks_path(@matrix_danger_risk.id, format: 'pdf'), class: 'btn btn-sm btn-success' %></td>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#instruDiligenciamiento">
Instrucciones de diligenciamiento
</button>

<!-- Modal -->
<div class="modal fade" id="instruDiligenciamiento" tabindex="-1" aria-labelledby="instruDiligenciamientoLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="instruDiligenciamientoLabel">Instrucciones de diligenciamiento</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<u>ACTIVIDAD</u>: Describir la actividad General ejemplo permanecia en puesto, jefe, asistente, etc <br>
<u>TAREA</u>: Descripción paso a paso de la actividad a realizar en los puestos de trabajo <br>
<u>ACTIVIDAD RUTINARIA</u>: Actividad que forma parte de la operación normal de la organización, se ha planificado y es estandarizable. <br>
<u>ACTIVIDAD NO RUTINARIA</u>: Actividad que no forma parte de la operación normal de la organización, que no estandarizable debido a la diversidad de escenarios y condiciones bajo las cuales pudiera presentarse. <br>
<u>ClASIFICACIÓN DE PELIGRO</u>: Seleccionar lista desplegable los peligros <br>
<u>DESCRIPCIÓN DE PELIGRO</u>: Seleccionar lista desplegable los factores de peligros <br>
<u>FUENTE</u>: Lo que genera el peligro <br>
<u>SALUD</u>: Tener en cuanta las condiciones de salud que puede generar la exposición al factor de Peligro, enfermedades de origen laboral <br>
<u>SEGURIDAD</u>: Efectos posibles en cuanto a lesiones, accidentes laborales <br>
<u>DESCRIPCIÓN DEL CONTROL EXISTENTE</u>: Controles con los que se cuentan en el momento de la identificación del Peligro <br>
<u>EXPUESTOS</u>: Escriba el número de personas expuestas directa a un(os) peligro(s). <br> 
<u>NIVEL DE DEFICIENCIA (ND)</u>: Es la magnitud de la relación esperable entre (1) el conjunto de peligros detectados y su relación causal directa con posibles incidentes y (2) con la eficacia de las medidas preventivas existentes en un lugar de trabajo. <br>
<u>NIVEL DE EXPOSICIÓN (NE)</u>: Es la situación de exposición a un riesgo que se presenta en un tiempo determinado durante la jornada laboral. <br>
<u>NIVEL DE PROBABILIDAD (NP)</u>: Es el producto del Nivel de Deficiencia (ND) por el Nivel de Exposición (NE). <br>
<u>NIVEL DE CONSECUENCIA (NC)</u>: Es una medida de la severidad de las consecuencias. <br>
<u>NIVEL DE RIESGO</u>: Magnitud de un riesgo resultante del producto del Nivel de Probabilidad (NP) por el Nivel de Consecuencia (NC). <br>
<u>EVALUACIÓN DEL RIESGO</u>: Proceso para determinar el nivel de riesgo asociado al nivel de probabilidad y el nivel de consecuencia. <br>
<u>MEDIDAS DE CONTROL</u>: Describa las medidas implementadas en la fuente, medio o persona con el fin de minimizar la ocurrencia de incidentes. <br>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
</div>
</div>
</div> 
</div>
    <%= link_to t('common.indicator'), graficosmpr_path(@matrix_danger_risk.id), class: 'btn btn-sm btn btn-success' %>

    <div class="container col-12">

        <br>
        <div class="row g-2">
            <div class="col-sm-3">
                <strong>Fecha de creación</strong><br>
                <%= @matrix_danger_risk.created_at.strftime("%F") %> 
            </div>        
        </div>

        <hr>

        <div class="row g-4">
            <div class="col-sm-3">
                <strong><%= t('.user_legal_representative') %></strong><br>
                <%=  @matrix_danger_risk.name_user(@matrix_danger_risk.user_legal_representative)  %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.firm_legal_representative') %></strong><br>
                <%= @matrix_danger_risk.label_firm(@matrix_danger_risk.firm_legal_representative) %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.date_firm_legal_representative') %></strong><br>
                <%= @matrix_danger_risk.date_firm_legal_representative %> 
            </div>
            <div class="col-sm-3">
                <% if @matrix_danger_risk.firm_legal_representative.to_i == 0 %>
                    <%= link_to t('common.firmar'), firmar_rep_matrix_danger_risks_path(@matrix_danger_risk.id, 1), class: 'btn btn-sm btn btn-warning' %>
                <% end %>    
            </div>
        </div>
        <div class="row g-4">
            <div class="col-sm-3">
                <strong><%= t('.user_adviser_sst') %></strong><br>
                <%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_adviser_sst) %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.firm_adviser_sst') %></strong><br>
                <%= @matrix_danger_risk.label_firm(@matrix_danger_risk.firm_adviser_sst) %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.date_firm_adviser_sst') %></strong><br>
                <%= @matrix_danger_risk.date_firm_adviser_sst %> 
            </div>
            <div class="col-sm-3">
                <% if @matrix_danger_risk.firm_adviser_sst.to_i == 0 %>
                    <%= link_to t('common.firmar'), firmar_adv_matrix_danger_risks_path(@matrix_danger_risk.id, 2), class: 'btn btn-sm btn btn-warning' %>
                <% end %>      
            </div>
        </div>

        <div class="row g-4">
            <div class="col-sm-3">
                <strong><%= t('.user_responsible_sst') %></strong><br>
                <%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_responsible_sst) %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.firm_responsible_sst') %></strong><br>
                <%= @matrix_danger_risk.label_firm(@matrix_danger_risk.firm_responsible_sst) %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.date_firm_responsible_sst') %></strong><br>
                <%= @matrix_danger_risk.date_firm_responsible_sst %> 
            </div>
            <div class="col-sm-3">
                <% if @matrix_danger_risk.firm_responsible_sst.to_i == 0 %>
                    <%= link_to t('common.firmar'), firmar_res_matrix_danger_risks_path(@matrix_danger_risk.id, 3), class: 'btn btn-sm btn btn-warning' %>
                <% end %>     
            </div>
        </div>

    </div>           
    <br> 
    <div class="container">
        <h class="display-6">Resumen estado de los Peligros y Riesgos</h>
    </div> 
    <div class="container">
        <table class="table table-hover">
            <tr>
                <td>
                    <a class="btn btn-sm btn-primary" href="<%= total_items_matrix_danger_risks_path(@matrix_danger_risk.id, 'T')%>" role="button" >
                        Total Peligros y Riesgos <span class="badge bg-secondary"><%= @total_items.to_i %></td> </span>
                    </button>
                </td> 
                <td>
                    <a class="btn btn-sm btn-primary" href="<%= total_items_matrix_danger_risks_path(@matrix_danger_risk.id, 'I No Aceptable')%>" role="button" >
                        Nivel I <span class="badge bg-danger"><%= @uno.to_i %></td> </span>
                    </button>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="<%= total_items_matrix_danger_risks_path(@matrix_danger_risk.id, 'II No Aceptable')%>" role="button" >
                        Nivel II <span class="badge bg-warning"><%= @dos.to_i %></td> </span>
                    </button>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="<%= total_items_matrix_danger_risks_path(@matrix_danger_risk.id, 'III Aceptable')%>" role="button" >
                        Nivel III <span class="badge bg-warning"><%= @tres.to_i %></td> </span>
                    </button>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="<%= total_items_matrix_danger_risks_path(@matrix_danger_risk.id, 'IV Aceptable')%>" role="button" >
                        Nivel IV <span class="badge bg-success"><%= @cuatro.to_i %></td> </span>
                    </button>
                </td>
            </tr>
        </table>  
    </div> 
    <hr>

    <div class="row g-2">
        <div class="col-sm-4">
            <% if @matrix_danger_risk.present? %> 
                <%= form_with url: "/matrix_danger_risks", method: :get do |form| %>
                    <h5 scope="col">Filtrar por Cargo: </h5>
                    <%= form.collection_select :id, @cargos, :id, :name, { prompt: '--Seleccionar Cargo--' },
                    { class: 'form-control input-sm select2' , onChange: 'this.form.requestSubmit()', value: params[:id] } if @cargos.present? %>
                    <%= form.hidden_field :entity_id, :value => @matrix_danger_risk.entity_id, class: "form-control" if @matrix_danger_risk.present? %>
                <% end %> 
            <% end %>     
        </div>  
        <div class="col-sm-3">
            <% if @matrix_danger_risk.present? %> 
                <%= form_with url: "/matrix_danger_risks", method: :get do |form| %>
                    <h5 scope="col">Filtrar Intervenido: </h5>
                    <%= form.select :danger_intervened,[['NO'], ['SI'], ['TODOS']],{ prompt: '--Seleccionar--' },
                    { class: 'form-control input-sm select2' , onChange: 'this.form.requestSubmit()', value: params[:danger_intervened] } if @cargos.present? %>
                    <%= form.hidden_field :entity_id, :value => @matrix_danger_risk.entity_id, class: "form-control" if @matrix_danger_risk.present? %>
                <% end %> 
            <% end %>     
        </div>  
        <div class="col-sm-4">
            <% if @matrix_danger_risk.present? %> 
                <%= form_with url: "/matrix_danger_risks", method: :get do |form| %>
                    <h5 scope="col">Filtrar Nivel de Riesgo:</h5>
                    <%= form.select :risk_level_interpretation,[['I No Aceptable'], ['II No Aceptable'], ['III Aceptable'], ['IV Aceptable'],['TODOS']],{ prompt: '--Seleccionar--' },
                    { class: 'form-control input-sm select2' , onChange: 'this.form.requestSubmit()', value: params[:risk_level_interpretation] } if @cargos.present? %>
                    <%= form.hidden_field :entity_id, :value => @matrix_danger_risk.entity_id, class: "form-control" if @matrix_danger_risk.present? %>
                <% end %> 
            <% end %>     
        </div>  

    </div>  

    <br>
    <h2>Peligros y Riesgos</h2>
    <table class="table table-hover"> 
        <thead> 
            <tr>
                <th scope="col">Nro.</th>
                <th scope="col">Cargo</th>
                <th scope="col">Tarea</th>
                <th scope="col">Clasificación</th>
                <th scope="col">Descripción</th>
                <th scope="col">Nivel de riesgo</th>
                <th scope="col">Intervenido</th>
                <th scope="col">Ver/Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Duplicar</th>
            </tr>
        </thead>

        <% @nro = 0 %>

        <% @matrix_danger_items.each do |matrix_danger_item| %>
            <% @nro += 1 %>    
            <tr> 
                <td scope="col"><%= @nro %></td>  
                <td scope="col"><%= CompanyPosition.name_cargo(matrix_danger_item.type_cargo) %></td>
                <td scope="col"><button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="<%= matrix_danger_item.task %>"><%= matrix_danger_item.task.slice(0, 20) %>...</button></td>
                <td scope="col"><%= matrix_danger_item.clasification_danger_detail.clasification_danger.name if matrix_danger_item.clasification_danger_detail_id.present? && matrix_danger_item.clasific2ation_danger_detail_id.to_i > 0 %></td>
                <td scope="col"><%= matrix_danger_item.clasification_danger_detail.name if matrix_danger_item.clasification_danger_detail_id.present? && matrix_danger_item.clasification_danger_detail_id.to_i > 0 %></td>
                <% if matrix_danger_item.risk_level_interpretation.to_s == 'I No Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#F03553"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %>    
                <% if matrix_danger_item.risk_level_interpretation.to_s == 'II No Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#D98F3B"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %>    
               <% if matrix_danger_item.risk_level_interpretation.to_s == 'III Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#F0E835"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %>    
               <% if matrix_danger_item.risk_level_interpretation.to_s == 'IV Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#038018"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %>    
               <% if matrix_danger_item.danger_intervened == 0  %>
                    <td style="text-align:center;">NO</td>
                <% else  %>    
                    <td style="text-align:center;">SI</td>
                <% end  %>    
                <td><%= link_to t('common.update_matrix_danger_item'), edit_matrix_danger_item_path(matrix_danger_item.id), class: 'btn btn-sm btn-warning' %></td>
                <td><%= button_to 'Delete', matrix_danger_item, method: :delete, class:'btn btn-sm btn-danger' %></td>
                <td><%= button_to 'Duplicar',  duplicar_item_matrix_danger_risks_path(matrix_danger_item.id), class:'btn btn-sm btn-warning' %></td>
            </tr>
        <% end %>  
    </table>  
    <br> 
    <hr> 
<% else %>
    <div>
        <%= link_to t('.create_matrix_danger_risk'), new_matrix_danger_risk_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary' if Current.user.level > 0 && Current.user.level < 3 %>
    </div>
<% end %>


