<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>

<div> 
    <br>
    <table class="table table-hover"> 
        <thead>
            <tr>
                <td rowspan="4"; style="border:1px solid black; text-align:center; padding-bottom: 40px;">
                    <% if @matrix_danger_risk.entity.logo.present? then %>
                        <%=  image_tag  @matrix_danger_risk.entity.logo, class: "image_peq" %>
                    <% end %>
                </td>
                <td rowspan="4"; style="border:1px solid black;text-align:center">
                    <div class="col-12"><h5>MATRIZ DE IDENTIFICACIÓN DE PELIGROS, EVALUACIÓN Y VALORACION DE LOS RIESGOS</h5><h6><%= @matrix_danger_risk.entity.business_name if @matrix_danger_risk.present? %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h6></div>
                </td>
                <td style="border:1px solid black">Fecha de Creación:</td>

                <td style="border:1px solid black"><%= @template.date if @template.present? %></td>
            </tr>
            <tr>  
                <td style="border:1px solid black">Fecha de Actualización:</td>
                <td style="border:1px solid black"><%= @template.date_updated if @template.present? %></td>
            </tr>
            <tr> 
                <td style="border:1px solid black">Versión:</td>
                <td style="border:1px solid black"><%= @template.version if @template.present? %></td>
            </tr>
            <tr> 
                <td style="border:1px solid black">Código:</td>
                <td style="border:1px solid black"><%= @template.reference if @template.present? %></td>
            </tr>
        </thead>
    </table> 

    <hr>

<% if @matrix_danger_risk.present? %>
    <table style="border:1px solid black; width: 100%"> 
        <thead>
            <tr>
                <th scope="col"; style="border:1px solid black">Fecha creación</th>
                <th scope="col"; style="border:1px solid black">Representante legal</th>
                <th scope="col"; style="border:1px solid black">Asesor SST</th>
                <th scope="col"; style="border:1px solid black">Responsable SST</th>

            </tr>
        </thead>
        <tr>  
            <td scope="col"; style="border:1px solid black"><%= @matrix_danger_risk.created_at.strftime("%F") %></td>   
            <td scope="col"; style="border:1px solid black"><%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_legal_representative) %></td>
            <td scope="col"; style="border:1px solid black"><%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_adviser_sst) %></td>
            <td scope="col"; style="border:1px solid black"><%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_responsible_sst) %></td> 
        </tr>
    </table>  
    <br>
    <h2>Peligros y Riesgos</h2>
    <table style="border:1px solid black; width: 100%"> 
        <thead> 
            <tr>
                <th scope="col"; style="border:1px solid black">Nro.</th>
                <th scope="col"; style="border:1px solid black">Fecha propuesta</th>
                <th scope="col"; style="border:1px solid black">Tarea</th>
                <th scope="col"; style="border:1px solid black">Descripción de Peligro</th>
                <th scope="col"; style="border:1px solid black">Nivel de riesgo</th>
                <th scope="col"; style="border:1px solid black">Control de ingeniería</th>
                <th scope="col"; style="border:1px solid black">Controles administrativas, señalización advertencia</th>
                <th scope="col"; style="border:1px solid black">Equipos/Elementos de protección personal</th>
            </tr>
        </thead>

        <% @matrix_danger_items.each do |matrix_danger_item| %>
            <tr> 
                <td scope="col"; style="border:1px solid black"><%= matrix_danger_item.consecutive %></td>  
                <td scope="col"; style="border:1px solid black"><%= matrix_danger_item.proposed_date %></td>
                <td scope="col"; style="border:1px solid black"><%= matrix_danger_item.task %></td>  
                <td scope="col"; style="border:1px solid black"><%= matrix_danger_item.clasification_danger_detail.name if matrix_danger_item.clasification_danger_detail_id.present? && matrix_danger_item.clasification_danger_detail_id.to_i > 0 %></td>
                <% if matrix_danger_item.risk_level_interpretation.to_s == 'I No Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#F03553"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %>    
                <% if matrix_danger_item.risk_level_interpretation.to_s == 'II No Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#D98F3B"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %>    
               <% if matrix_danger_item.risk_level_interpretation.to_s == 'III Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#F0E835"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %>    
               <% if matrix_danger_item.risk_level_interpretation.to_s == 'IV Aceptable'  %>
                    <td style="border:1px solid black; text-align:center; background-color:#038018"><%= matrix_danger_item.risk_level_interpretation %></td>
                <% end  %> 
                <td scope="col"; style="border:1px solid black"><%= matrix_danger_item.intervention_measures_engineering_control %></td>  
                <td scope="col"; style="border:1px solid black"><%= matrix_danger_item.intervention_measures_acsw %></td>  
                <td scope="col"; style="border:1px solid black"><%= matrix_danger_item.intervention_measures_ppee %></td>  
            </tr>
        <% end %> 
        <tr>
            <td colspan="3"; style="border:1px solid black; text-align:center">&nbsp;
                <% if @matrix_danger_risk.firm_legal_representative == 1 %>
                    <% if @rep.present? %>
                        <% if @rep.firm.attached? %>
                           <% if @rep.firm.image? %> 
                                <%= image_tag @rep.firm, class: "firma" %>
                           <% end %>
                        <% end %>
                    <% end %> 
                <% else %>
                   <div></br></div>         
                <% end %>     
            </td>
            <td colspan="3"; style="border:1px solid black; text-align:center">&nbsp;
                <% if @matrix_danger_risk.firm_adviser_sst == 1 %>
                    <% if @adv.present? %>
                        <% if @adv.firm.attached? %>
                            <% if @adv.firm.image? %> 
                                <%= image_tag @adv.firm, class: "firma" %>
                            <% end %>
                        <% end %>
                    <% end %>     
                <% else %>
                    <div></br></div>         
                <% end %>     
            </td>
            <td colspan="3"; style="border:1px solid black; text-align:center">&nbsp;
                <% if @matrix_danger_risk.firm_responsible_sst == 1 %>
                    <% if @res.present? %>
                        <% if @res.firm.attached? %>
                            <% if @res.firm.image? %> 
                                <%= image_tag @res.firm, class: "firma" %>
                            <% end %>
                        <% end %>
                    <% end %>     
                <% else %>
                    <div></br></div>         
                <% end %>     
            </td>
        </tr>
        <tr>
            <td colspan="3"; style="border:1px solid black; text-align:center"><%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_legal_representative) %> - Representante Legal</td>
            <td colspan="3"; style="border:1px solid black; text-align:center"><%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_adviser_sst) %> - Asesor SST</td>
            <td colspan="3"; style="border:1px solid black; text-align:center"><%= @matrix_danger_risk.name_user(@matrix_danger_risk.user_responsible_sst) %> - Responsable SST</td>
        </tr>
    </table>  
    <br> 
    <hr> 
<% end %>



</div>    
