<%= form_with url: cargar_archivompr_matrix_danger_risks_path, multipart: true, method: :post do |form| %>
  <div>
    <%= form.label :archivo, "Seleccione un archivo" %><br>
    <%= form.file_field :archivo %>
  </div>

  <br>

  <div>
    <%= form.submit "Cargar archivo" %>
  </div>
   <br>
  <div>
    <%= link_to "Retornar", request.referer || root_path, class: "btn btn-secondary" %>
  </div>


<% end %>