
<% if @matrix_danger_items.present? %>
<table class="table table-hover" style="border:1px solid black"> 
    <thead>
        <tr>
            <th scope="col">Nro.</th>
            <th scope="col">Fecha propuesta</th>
            <th scope="col">Tarea</th>
            <th scope="col">Descripción de Peligro</th>
            <th scope="col">Nivel de riesgo</th>
            <th scope="col">Control de ingeniería</th>
            <th scope="col">Controles administrativas, señalización advertencia</th>
            <th scope="col">Equipos/Elementos de protección personal</th>
        </tr>
    </thead> 
    <tbody>
        <% if params[:format].to_s == 'T' %>
            <% @matrix_danger_items.each do |matrix_danger_item| %>
                <tr>
                    <td scope="col"><%= matrix_danger_item.consecutive %></td>  
                    <td scope="col"><%= matrix_danger_item.proposed_date %></td>
                    <td scope="col"><%= matrix_danger_item.task %></td>  
                    <td scope="col"><%= matrix_danger_item.clasification_danger_detail.name if matrix_danger_item.clasification_danger_detail_id.present? && matrix_danger_item.clasification_danger_detail_id.to_i > 0 %></td>
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'I'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#F03553"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %>    
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'II'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#D98F3B"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %>    
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'III'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#F0E835"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %>    
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'IV'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#038018"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %> 
                    <td scope="col"><%= matrix_danger_item.intervention_measures_engineering_control %></td>  
                    <td scope="col"><%= matrix_danger_item.intervention_measures_acsw %></td>  
                    <td scope="col"><%= matrix_danger_item.intervention_measures_ppee %></td>  
                </tr>
            <% end %>
        <% else %> 
            <% @matrix_danger_items.where(risk_level_interpretation: params[:format].to_s).each do |matrix_danger_item| %>
                <tr>
                    <td scope="col"><%= matrix_danger_item.consecutive %></td>  
                    <td scope="col"><%= matrix_danger_item.proposed_date %></td>
                    <td scope="col"><%= matrix_danger_item.task %></td>  
                    <td scope="col"><%= matrix_danger_item.clasification_danger_detail.name if matrix_danger_item.clasification_danger_detail_id.present? && matrix_danger_item.clasification_danger_detail_id.to_i > 0 %></td>
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'I'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#F03553"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %>    
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'II'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#D98F3B"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %>    
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'III'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#F0E835"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %>    
                    <% if matrix_danger_item.risk_level_interpretation.to_s == 'IV'  %>
                        <td style="border:1px solid black; text-align:center; background-color:#038018"><%= matrix_danger_item.risk_level_interpretation %></td>
                    <% end  %> 
                    <td scope="col"><%= matrix_danger_item.intervention_measures_engineering_control %></td>  
                    <td scope="col"><%= matrix_danger_item.intervention_measures_acsw %></td>  
                    <td scope="col"><%= matrix_danger_item.intervention_measures_ppee %></td>  
                </tr>
            <% end %>
        <% end %>           
    </tbody>   
    </table>         
<% end %>     
