
<tr>
    <td><%= entity.identification_number %></td>
    <td><%= highlight entity.business_name, params.dig(:q, :business_name_cont)  %></td>
    <td><%= entity.first_name %></td>
    <td><%= entity.second_name %></td>
    <td><%= entity.surname %></td>
    <td><%= entity.second_surname %></td>
    <td><%= link_to t('common.edit'), edit_entity_path(entity), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>
