<%= render 'shared/header2' %>
<div class="container col-12">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div>
        </div>
        <div>
            <%= link_to t('.create_entity'), new_entity_path, class: 'btn btn-xs btn-primary' %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('common.identification_number') %></th>
                <th scope="col"><%= t('common.business_name') %></th>
                <th scope="col"><%= t('common.first_name') %></th>
                <th scope="col"><%= t('common.second_name') %></th>
                <th scope="col"><%= t('common.surname') %></th>
                <th scope="col"><%= t('common.second_surname') %></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'entity', collection: @entities  %>  
        </tbody>      
    </table>
</div>


