<tr>
    <td><%= adm_calendar.year %></td>
    <td><%= adm_calendar.label_si_no(adm_calendar.bisiesto) %></td>
    <td><%= adm_calendar.label_day_initial(adm_calendar.day_initial) %></td>
    <td><%= adm_calendar.label_si_no(adm_calendar.generated) %></td>
    <td><%= link_to t('common.ver_calendario'), ver_calendario_path(adm_calendar.id), class: 'btn btn-xs btn-primary'  %></td>
    <td><%= link_to t('common.edit'), edit_adm_calendar_path(adm_calendar), class: 'btn btn-xs btn-primary'  %></td>
    <td><%= link_to t('common.generar_calendar'), generar_path(adm_calendar.id), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>