<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @matrix_legal_item do |form| %>
        <% @matrix_legal_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %> 
            </div>
        <% end %>

        <div class="form-group">    
            <%= form.label :risk_factor,  style: "display: block" %>
            <%= form.text_field :risk_factor,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :issuing_entity,  style: "display: block" %>
            <%= form.text_field :issuing_entity,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :requirement,  style: "display: block" %>
            <%= form.text_field :requirement,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :rule_name,  style: "display: block" %>
            <%= form.text_field :rule_name,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :applicable_article,  style: "display: block" %>
            <%= form.text_field :applicable_article,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :evidence_compliance,  style: "display: block" %>
            <%= form.text_field :evidence_compliance,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :responsible,  style: "display: block" %>
            <%= form.text_field :responsible,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :description_compliance,  style: "display: block" %>
            <%= form.text_area :description_compliance,  class: "form-control" %>
        </div>
        </br>
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :fec_norma,  style: "display: block" %>
                <%= form.date_field :fec_norma,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <%= form.label :year,  style: "display: block" %>
                <%= form.number_field :year,  class: "form-control" %>
            </div>        
        </div>        
        </br>    
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :meets, style: "display: block" %>
                <%= form.radio_button :meets, 0 %>
                <label for="no_cumple">NO (0%)</label>&nbsp;&nbsp; 
                <%= form.radio_button :meets, 1 %>
                <label for="si_cumple">PARCIAL (50%)</label>&nbsp;&nbsp;   
                <%= form.radio_button :meets, 2 %>
                <label for="na">SI (100%)</label> 
            </div>  
        </div>   

        <br>     
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, matrix_legal_path(@matrix_legal_item.matrix_legal_id) %>
    <% end %>

    <hr>
    <%= form_for @matrix_legal_item do |f| %>
        <div class="row">
           <div class="form-group">
             <h5><%= f.label :Adjuntar, style: "display: block" %></h5>
             <%= f.file_field :attach_evidence %>
 
             <%= f.submit 'Subir evidencia', class: 'btn btn-primary' %>
           </div> 
         </div>
     <% end %> 
 


</div>        
<br>
