
<% if params[:rule_id].present? %>

    <% if standar_detail_item.standar_detail.standar.rule.id ==  params[:rule_id].to_i %>
        <tr>
            <td><%= standar_detail_item.order_nro %></td>
            <td><%= standar_detail_item.item_nro %></td>
            <td><%= standar_detail_item.description %></td>
            <td><%= standar_detail_item.maximun_value %></td>
            <td><%= standar_detail_item.standar_detail.description %></td>
            <td><%= standar_detail_item.label_aplica %></td>
            <td><%= link_to t('common.edit'), edit_standar_detail_item_path(standar_detail_item)  %></td>
        </tr> 

    <% end %>
<% else %>
    <tr>
        <td><%= standar_detail_item.order_nro %></td>
        <td><%= standar_detail_item.item_nro %></td>
        <td><%= standar_detail_item.description %></td>
        <td><%= standar_detail_item.maximun_value %></td>
        <td><%= standar_detail_item.standar_detail.description %></td>
        <td><%= standar_detail_item.label_aplica %></td>
        <td><%= link_to t('common.edit'), edit_standar_detail_item_path(standar_detail_item), class: 'btn btn-xs btn-primary'  %></td>
    </tr> 
<% end %>





