<br>
<div class="container col-11" 
    <br>
    <h2 class="display-5"><%= t('.title') %></h2>
    <%= link_to t('common.resources_ext'), resources_ext_plan_path(@emergency_plan.id), class: 'btn btn-sm btn btn-primary' %>
    <%= link_to t('common.resources_int'), resources_int_plan_path(@emergency_plan.id), class: 'btn btn-sm btn btn-primary' %>
    <%= link_to t('common.brigadistas_plan'), brigadistas_plan_path(@emergency_plan.id), class: 'btn btn-sm btn btn-primary' %>
    <%= link_to t('common.equipements_plan'), equipements_plan_path(@emergency_plan.id), class: 'btn btn-sm btn btn-primary' %>
 
    <hr>
</div>    


<%= render 'form' %>  