<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h2><%= @template.name if @template.present? %></h2>
    </div>

    <div><br></div>

    <div class="row text-center">
                <h2><%= @entity.business_name if @entity.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2>Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h2>
    </div>

    <div><br></div>
    <div class="row text-center">
        <h2><%= @emergency_plan.ciudad if  @emergency_plan.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h2><%= @emergency_plan.date_plan if @emergency_plan.present? %></h2>
    </div>
    <div><br></div>

    <p style='page-break-after:always;'></p>

    <div class="row text-center">
        <strong>TABLA DE CONTENIDO</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>1. INTRODUCCIÓN</p>
                <p>2. CAPÍTULO I. REQUISITOS GENERALES</p>
                <p>2.1. OBJETIVOS</p>
                <p>2.1.1. Objetivo General</p>
                <p>2.1.2. Objetivos Específicos</p>
                <p>2.2. MARCO LEGAL</p>
                <p>2.3. ALCANCE</p>
                <p>2.4. DEFINICIÓN DE TÉRMINOS BÁSICOS</p>
                <p>3. CAPÍTULO II. DESCRIPCIÓN</p>
                <p>3.1. RESEÑA HISTÓRICA</p>
                <p>3.2. INFORMACIÓN GENERAL DE LA SEDE</p>
                <p>3.3. CARACTERÍSTICAS GENERALES DE LA EDIFICACIÓN</p>
                <p>3.4. MAPA DE LA SEDE (TOMADO DE LA PLATAFORMA GOOGLE MAPS)</p>
                <p>3.5. ANTECEDENTES HISTÓRICOS DE INCIDENTES O EMERGENCIAS PRESENTADAS</p>
                <p>3.5.1. Entorno</p>
                <p>3.5.2. Vías de Acceso</p>
                <p>3.6. ACTIVIDAD ECONÓMICA DE NOMBRE EMPRESA</p>
                <p>3.7. DESCRIPCIÓN GENERAL DE LA POBLACIÓN</p>
                <p>3.7.1. Jornadas Laborales</p>
                <p>3.8. DESCRIPCIÓN DEL PROCESO OPERATIVO</p>
                <p>3.9. DESCRIPCIÓN DE EQUIPOS</p>
                <p>3.9.1. Equipos Utilizados</p>
                <p>3.10. DESCRIPCIÓN DE INSUMOS</p>
                <p>4. CAPÍTULO III. ANÁLISIS DE VULNERABILIDAD</p>
                <p>4.1. ELEMENTOS ESTRUCTURALES</p>
                <p>4.2. INSTALACIONES ESPECIALES</p>
                <p>4.3. ANTECEDENTES DE EMERGENCIA</p>
                <p>4.4. </p>
                <p>4.5. IDENTIFICACIÓN DE AMENAZAS</p>
                <p>4.5.1. Amenazas de origen natural</p>
                <p>4.5.2. Amenazas de origen antrópico</p>
                <p>4.6. VALORACIÓN DE AMENAZAS</p>
                <p>4.6.1. Escala de probabilidad (Amenaza) y escala de gravedad (Vulnerabilidad)</p>
                <p>4.6.2. Matriz de Vulnerabilidad</p>
                <p>4.7. EVALUACIÓN DE LA AMENAZA</p>
                <p>5. CAPÍTULO IV. BRIGADAS DE EMERGENCIA</p>
                <p>5.1.1. Brigadas de Emergencia</p>
                <p>5.1.2. Listado General de Brigadistas</p>
                <p>5.1.3. Perfiles de Brigadistas</p>
                <p>5.2. FUNCIONES Y RESPONSABILIDADES</p>
                <p>5.2.1. Comité Operativo de Emergencia</p>
                <p>5.2.2. Comité Paritario de Seguridad y Salud en el Trabajo – COPASST </p>
                <p>5.2.3. Jefe de Brigadas</p>
                <p>5.2.4. Antes del evento</p>
                <p>5.2.5. Durante el evento</p>
                <p>5.2.6. Después del evento</p>
                <p>5.2.7. Brigadistas</p>
                <p>5.2.8. Contra Incendios</p>
                <p>5.2.10. Primeros Auxilios</p>
                <p>5.2.11. Búsqueda y rescate</p>
                <p>6. CAPÍTULO V. PLAN DE EMERGENCIA</p>
                <p>6.1. INVENTARIO DE RECURSOS PARA EMERGENCIA</p>
                <p>6.1.1. Recursos Internos</p>
                <p>6.1.2. Recursos Externos</p>
                <p>6.2. ACTIVIDADES PREVENTIVAS</p>
                <p>6.3. ACTIVIDADES OPERATIVAS</p>
                <p>7. CAPÍTULO VI. PLAN DE EVACUACIÓN</p>
                <p>7.1. FASES DE EVACUACIÓN</p>
                <p>7.2. ETAPAS</p>
                <p>7.2.1. Detección</p>
                <p>7.2.2. Alarma</p>
                <p>7.2.3. Preparación</p>
                <p>7.2.4. Salida</p>
                <p>7.3. NORMAS DE EVACUACIÓN</p>
                <p>7.3.1. Procedimiento general</p>
                <p>7.3.2. Procedimientos generales para las brigadas</p>
                <p>7.3.3. Criterios de decisión para ordenar la evacuación</p>
                <p>7.3.4. Procedimiento para líderes de evacuación</p>
                <p>7.4. RUTAS DE EVACUACIÓN</p>
                <p>7.4.1. Áreas Críticas</p>
                <p>7.4.2. Puntos de Encuentro</p>
                <p>8. CAPÍTULO VII. EMERGENCIAS MÉDICAS</p>
                <p>8.1. CLASIFICACIÓN</p>
                <p>8.2. FUNCIONES Y RESPONSABILIDADES FRENTE AL MEDEVAC</p>
                <p>8.3. RED ASISTENCIAL</p>
                <p>9. CAPÍTULO VIII. SIMULACROS DE EMERGENCIA</p>
                <p>9.1. CLASIFICACIÓN DE LOS SIMULACROS</p>
                <p>9.2. EJECUCIÓN DE LOS SIMULACROS</p>
                <p>10. AUDITORÍA Y CONTROL</p>
                <p>11. BIBLIOGRAFÍA</p>

            </td>
        </tr>
    </table> 
    <div><br></div>  
    <p style='page-break-after:always;'></p>  
    <div style="text-align:center">
        <strong>1. INTRODUCCIÓN</strong>
    </div> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Ante los múltiples factores de riesgo a los que se encuentra expuesta una organización la mejor opción es estar preparados; de ahí la importancia de diseñar e implementar planes de emergencia apropiados que brinden respaldo en situaciones difíciles a los que una empresa se ve abocada durante y después de una crisis creando una cultura de prevención y preparación para emergencias entre los trabajadores.</p>
                <p>La atención de las emergencias que se puedan presentar en sus fases de control y mitigación, requiere de una organización eficiente y flexible, en donde cada persona o entidad involucrada conozca en forma clara y sea capaz de poner en operación sus funciones y responsabilidades, de ahí la importancia que todo el personal tenga una preparación adecuada y sepa actuar ante una emergencia de cualquier índole.</p>
                <p>Por lo anterior NOMBRE EMPRESA, ha desarrollado el presente plan de emergencias que proporciona los lineamientos necesarios para la preparación y respuesta a las emergencias que pueden afectar esta empresa.</p>
            </td>
        </tr>
    </table> 
    <p style='page-break-after:always;'></p>
    <div style="text-align:center">
        <strong>2. CAPÍTULO I. REQUISITOS GENERALES</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>2.1. OBJETIVOS</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong>2.1.1. Objetivo General</strong>
    </div> 
    <div><br></div>  
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Diseñar e implementar el plan de emergencias empresarial de NOMBRE EMPRESA con su oficina en el municipio de <strong><%= @emergency_plan.ciudad if @emergency_plan.present? %></strong>, que permita prevenir y controlar eventos de tipo catastrófico provocados por amenazas de origen natural o provocados por el hombre mediante el desarrollo de un esquema organizado y documentado para su intervención.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>2.1.2. Objetivos Específicos</strong>
    </div> 
    <div><br></div>  
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Identificar las diversas amenazas existentes en NOMBRE EMPRESA.</p>
                <p>Determinar el grado de vulnerabilidad ante dichas emergencias.</p>
                <p>Lograr que todos los empleados estén adecuadamente preparados para manejar emergencias y salvaguardar la seguridad y la salud de todos.</p>
                <p>Establecer la organización administrativa y operativa que determine responsabilidades de dirección, supervisión y ejecución de las acciones durante situaciones de emergencia.</p>
                <p>Aplicar un esquema organizado para la protección de los empleados de NOMBRE EMPRESA mediante un plan de evacuación de edificaciones. Practicar periódicamente todas las actividades realizando simulacros de acuerdo con el documento maestro del presente plan de emergencia.</p>
                <p>Proteger los activos y bienes de NOMBRE EMPRESA y el medio ambiente.</p>
                <p>Establecer los canales de comunicación durante la emergencia y activar una respuesta rápida y eficiente.</p>
                <p>Dar cumplimiento al apartado del Decreto 1072 de 2015, Libro 2, Parte 2, Título 4, Capítulo 6, Artículo 2.2.4.6.25 Planes de emergencia.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>2.2. MARCO LEGAL</strong>
    </div> 
    <div><br></div>  
    <table> 
        <tr>
            <td style="text-align:justify">
                <p><strong>LEY 9 DE 1979 Código Sanitario Título III:</strong>Relativo a la salud ocupacional, establece para los empleadores las siguientes exigencias relacionadas con emergencias:</p>
                <p><strong>Art. 93 - Áreas de Circulación:</strong>Claramente demarcadas, tener amplitud suficiente para el tránsito seguro de las personas y provistas de señalización adecuada.</p>
                <p><strong>Art. 96 - Puertas de Salida:</strong>En número suficiente y de características apropiadas para facilitar la evacuación del personal en caso de emergencia, las cuales no podrán mantenerse obstruidas o con seguro durante la jornada de trabajo.</p>
                <p><strong>Art.  114 - Prevención y Extinción de Incendios:</strong>Disponer de personal capacitado, métodos, equipos y materiales adecuados y suficientes.</p>
                <p><strong>Art. 116 - Equipos y dispositivos para la Extinción de Incendios:</strong>Con diseño, construcción y mantenimiento que permita su uso inmediato con la máxima eficiencia.</p>
                <p><strong>Art. 117 - Equipos, herramientas, instalaciones y redes eléctricas:</strong>Diseñados, construidos, instalados, mantenidos, accionados y señalizados de manera que prevenga los riesgos de incendio ó contacto con elementos sometidos a tensión.</p>
                <p><strong>Art. 127 – Todo lugar de trabajo tendrá las facilidades y los recursos necesarios para la prestación de los primeros auxilios a los trabajadores.</strong></p>
                <p><strong>RESOLUCIÓN 2400 DE 1979, Estatuto de Seguridad Industrial</strong>(expedida por el Ministerio del Trabajo), también contempla los siguientes requisitos para los centros de trabajo:</p>
                <p><strong>Art. 4 - Edificios y Locales:</strong>Construcción segura y firme; techos o cerchas con suficiente resistencia a los efectos del viento y su propia carga; cimiento ó piso sin sobrecarga; factor de seguridad acero estructural (4 para cargas estáticas y 6 en dinámicas).</p>
                <p><strong>Art. 14 - Escaleras de Comunicación entre plantas del edificio:</strong>Espaciosas, con condiciones de solidez, estabilidad y seguridad, preferiblemente de materiales incombustibles.</p>
                <p><strong>Art. 205 - Peligro de incendio o explosión en centros de trabajo:</strong>Provistos de tomas de agua con sus correspondientes mangueras, tanques de reserva y extintores.</p>
                <p><strong>Art. 206 - Construcciones bajo riesgo de Incendio y Explosión:</strong>Dotadas de muros corta - fuegos para impedir la propagación del incendio entre un local de trabajo y otro.</p>
                <p><strong>Art. 207 - Salidas de Emergencia:</strong>Suficientes, libres de obstáculos y convenientemente distribuidas.</p>
                <p><strong>Art. 220 - Extintores:</strong>Adecuados según combustible utilizado y clase de incendio.</p>
                <p><strong>Art. 223 - Brigada Contra Incendio:</strong>Debidamente entrenada y preparada.</p>
                <p><strong>DECRETO 614 DE 1984 (Arts. 28 a 30) y LA RESOLUCIÓN 1016 DE 1989 (Art. 11):</strong>Se establece a toda empresa, la obligación de ejecutar de manera permanente el programa de salud ocupacional, del cual se hace expresa la necesidad de organizar y desarrollar un plan de emergencia teniendo en cuenta las ramas preventiva, pasiva o estructural y activa o de control.</p>
                <p><strong>La Rama Preventiva:</strong>Está relacionada con la aplicación de normas legales y técnicas sobre combustibles, equipos eléctricos, fuentes de calor y sustancias peligrosas propias de la actividad económica de ALIANZA FONDO DE EMPLEADOS.</p>
                <p><strong>La Rama Pasiva o Estructural:</strong>Con el diseño y construcción de edificaciones con materiales resistentes, vías de salida suficientes y adecuadas para la evacuación, de acuerdo con los riesgos existentes y el número de trabajadores.</p>
                <p><strong>La Rama Activa o de Control:</strong>Con la organización en emergencias y la conformación de la brigada. Así mismo, con la instalación de protecciones relacionadas con los sistemas de detección, alarma, comunicación, selección y distribución de equipos de control fijo o portátil, automático o manual. De igual manera, con la inspección y prueba de eficiencia, demarcación, señalización y mantenimiento de los sistemas de control y de protección utilizados.</p>
                <p><strong>EL DECRETO 1400 DE 1984 Y DISPOSICIONES REGLAMENTARIAS: </strong>Conforman el Código Colombiano de Construcciones Sismo Resistentes y actualizado por LA LEY 400 DE 1997 Y EL DECRETO 33 DE 1998.</p>
                <p><strong>RESOLUCIÓN 1016 DE 1989, Art. 11:</strong>(Ministerio de Trabajo y Seguridad Social): Sistemas de detección, Sistemas de extinción, Condiciones eléctricas.</p>
                <p><strong>LA RESOLUCIÓN 1802 DE 1989(del Ministerio de salud):</strong>Crea los Comités Hospitalarios de Emergencia.</p>
                <p><strong>EL DECRETO 919 DE 1989:</strong>Organiza el Sistema Nacional para Prevención y Atención de Desastres.</p>
                <p><strong>EL DECRETO 1295 DEL 22 DE JUNIO DE 1994:</strong>Artículo 35, literal b, , la Capacitación básica para el montaje de la Brigada de Primeros Auxilios.</p>
                <p><strong>NSR- 98: </strong>Norma Colombiana de Diseño y Construcción Sismo Resistente, Asociación Colombiana de Ingeniería Sísmica, 1998.</p>
                <p><strong>ICONTEC: </strong>ha emitido algunas recomendaciones relacionadas con la prevención de desastres. También ha sacado normatividad sobre temas relacionados con las brigadas de emergencia y sobre equipos de protección contra incendios y emergencias como es el caso de la <strong>NORMA NTC 2885</strong> (Equivalente a la ANSI/NFPA 10 de 1994) que trata sobre el manejo de extintores portátiles; hay otras que orientan sobre la organización y entrenamiento para las unidades contra incendio de las brigadas de emergencia. <strong>NORMA NTC 1669,1458, 1488.</strong></p>
                <p><strong>DECRETO 2190 DE 1995:</strong>Elaboración y Desarrollo del Plan Nacional de Contingencia</p>
                <p><strong>LA RESOLUCIÓN 04445 DE 1996 (del Ministerio de Salud):</strong>Establece las condiciones que las instituciones prestadoras de servicios de salud han de cumplir en la materia.</p>
                <p><strong>DECRETO UNICO REGLAMENTARIO 1072 DE 2015:</strong>Libro 2, Parte 2, Título 4, Capítulo 6, Artículo 2.2.4.6.25 Planes de emergencia.</p>
                <p><strong>NORMATIVIDAD INTERNACIONAL:</strong>Normas de la entidad norteamericana: <strong>NATIONAL FIRE PROTECTION ASSOCIATION (NFPA)</strong></p>
                <p><strong>NORMA 10 NFPA:</strong>Establece el tipo, la distribución y uso de extintores portátiles</p>
                <p><strong>NORMA 30 NFPA:</strong>Sobre el almacenamiento de líquidos inflamables y combustibles</p>
                <p><strong>NORMA 101 NFPA:</strong>Código de seguridad Humana</p>
                <p><strong>NORMA 600 NFPA:</strong>Sobre la formación de brigadas de emergencia</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>2.3. ALCANCE</strong>
    </div> 
    <div><br></div>  
    <table> 
        <tr> 
            <td style="text-align:justify">
                <p>Estar preparados para atender en forma efectiva las emergencias que se puedan presentar en NOMBRE DE EMPRESA mediante procedimientos, responsabilidades claras, infraestructura, con los medios adecuados y personal entrenado y formado, para controlar el efecto de una emergencia, protegiendo la integridad de todas las personas, las instalaciones, los equipos y el medio ambiente.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>2.4. DEFINICIÓN DE TÉRMINOS BÁSICOS</strong>
    </div> 
    <div><br></div>  
    <table> 
        <tr> 
            <td style="text-align:justify">
                <p>A continuación, se precisan algunos conceptos básicos de obligatorio conocimiento dentro de la teoría y práctica en el manejo fiable de las emergencias.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>
                    <ul>
                        <li><strong>ACCIDENTE DE TRABAJO:</strong>Bajo la consideración de la nueva norma de ley 1562 de 2012 es definido así: Artículo 3° Es accidente de trabajo, todo suceso repentino que sobrevenga por causa o con ocasión del trabajo y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte. Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador o contratante durante la ejecución de una labor bajo su autoridad, aún fuera del lugar y horas de trabajo. Igualmente se considera accidente de trabajo el que se produzca durante el traslado de los trabajadores o contratistas desde su residencia a los lugares de trabajo o viceversa, cuando el transporte lo suministre el empleador. También se considera como accidente de trabajo el ocurrido durante el ejercicio de la función sindical, aunque el trabajador se encuentre el permiso sindical siempre que el accidente se produzca en cumplimiento de dicha función.</li>
                        <li><strong>ALARMA:</strong>Aviso por el cual se informa a la comunidad para que sigan instrucciones específicas de emergencia debido a la presencia real o inminente de una amenaza.</li>
                        <li><strong>ALERTA:</strong>Período anterior a la ocurrencia de un desastre, declarado con el fin de tomar precauciones específicas, debido a la probable y cercana ocurrencia de un desastre.</li>
                        <li><strong>AMENAZA:</strong>Se refiere a la potencialidad que tiene un evento natural, una actividad humana o una acción mecánica, de causar daños o destrucción independiente de la existencia en el área amenazada de habitantes y/o bienes materiales.</li>
                        <li><strong>BRIGADA DE EMERGENCIAS:</strong>Grupo operativo con entrenamiento para atender emergencias incipientes.</li>
                        <li><strong>CALAMIDAD PÚBLICA:</strong>Situación en la cual se presenta daño o alteración de las condiciones normales de vida en un área geográfica determinada, causada por fenómenos naturales y por efectos catastróficos de la acción del hombre en forma accidental, que no requiera en su fase de recuperación de acciones de reconstrucción, bastando con las de rehabilitación para recuperar la normalidad.</li>
                        <li><strong>COMITÉ DE EMERGENCIAS:</strong>Grupo administrativo de las emergencias antes, durante y después de los eventos; responsable de organizar planear y poner en funcionamiento el plan de emergencias.</li>
                        <li><strong>DAMNIFICADO:</strong>Víctima que no sufrió ninguna lesión en su cuerpo, pero perdió la estructura de soporte de sus necesidades básicas, como vivienda, medio de subsistencia.</li>
                        <li><strong>DESASTRE:</strong>Daño grave o alteración grave de las condiciones normales de vida en un área geográfica determinada, causada por fenómenos naturales y por efectos catastróficos de la acción del hombre en forma accidental, que requiera por ello de la especial atención de los organismos del Estado y de otras entidades de carácter humanitario o de servicio social (Decreto 918/89)</li>
                        <li><strong>DOTACIÓN PARA ATENCIÓN DE EMERGENCIAS:</strong>Vestimenta que sirve de protección al grupo operativo que enfrenta la emergencia.</li>
                        <li><strong>DGPAD:</strong>Dirección general para la prevención y atención de desastres</li>
                        <li><strong>DPAE:</strong>Dirección de prevención y atención de emergencias de Bogotá</li>
                        <li><strong>EQUIPOS PARA ATENCIÓN DE EMERGENCIAS:</strong>Equipos destinados para ser operados por los brigadistas de acuerdo al factor de riesgo.</li>
                        <li><strong>EMERGENCIA:</strong>Situación que aparece cuando, en la combinación de factores conocidos, surge un fenómeno o suceso que no se esperaba, eventual, inesperado y desagradable por causar daños o alteraciones en las personas, los bienes, los servicios o el medio ambiente, sin exceder la capacidad de respuesta de la comunidad afectada.</li>
                        <li><strong>EMERGENCIA INCIPIENTE:</strong>Evento que puede ser controlado por un grupo con entrenamiento básico y con equipos disponibles en el área de acuerdo al factor de riesgo.</li>
                        <li><strong>EMERGENCIA INTERNA:</strong>Es Aquel evento que ocurre, comprometiendo gran parte de la entidad involucrada, requiriendo de personal especializado para su atención.</li>
                        <li><strong>EMERGENCIA MÉDICA:</strong>Se denomina a toda situación que se presenta repentinamente, ocasionando perturbación, al poner en peligro la integridad física o mental de las personas.</li>
                        <li><strong>EVACUACIÓN:</strong>Período durante el cual la comunidad responde a la inminencia del desastre, reubicándose provisionalmente en una zona segura.</li>
                        <li><strong>GRAVEDAD:</strong>Grado de afectación resultante de un evento</li>
                        <li><strong>HAZ-MAT:</strong>Materiales peligrosos, del inglés Hazardous Materials.</li>
                        <li><strong>IMPACTO:</strong>Acción directa de una amenaza sobre un grupo de personas, sobre sus bienes, infraestructura y el medio ambiente. Deriva en un desastre o emergencia de determinadas proporciones, dependiendo de las características del evento y de la vulnerabilidad de la población afectada.</li>
                        <li><strong>INCIDENTE DE TRABAJO:</strong>"Suceso acaecido en el curso del trabajo o en relación con este, que tuvo el potencial de ser un accidente en el que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdida en los procesos. Resolución número 1401 del 14 de mayo de 2007- Ministerio de Protección Social.</li>
                        <li><strong>LESIONADO:</strong>Víctima del desastre que sufrió un trauma, daño o enfermedad en su cuerpo a causa del desastre.</li>
                        <li><strong>MEC:</strong>Módulo de Estabilización y Clasificación</li>
                        <li><strong>MITIGACIÓN:</strong>Son todas aquellas medidas de prevención conducentes a disminuir total o parcialmente el grado de vulnerabilidad a que están sometidos elementos bajo riesgo.</li>
                        <li><strong>PLAN DE EMERGENCIAS MÉDICAS:</strong>Programa por medio del cual con procedimientos sencillos, claros y precisos todas las personas estarán en capacidad de responder de manera adecuada y segura ante un evento imprevisto en el cual se ven comprometidas vidas humanas.</li>
                        <li><strong>PELIGRO:</strong>Fuente, situación o acto con potencial de daño en términos de enfermedad o lesión a las personas o una combinación de estos. (Norma OHSAS 18001:2007)</li>
                        <li><strong>PMU:</strong>Puesto de Mando Unificado.</li>
                        <li><strong>PREPARACIÓN:</strong>Está dirigida a estructurar la respuesta para la atención de las emergencias que inevitablemente se pueden presentar, reforzando así las medidas de prevención y mitigación de las consecuencias.</li>
                        <li><strong>PREVENCIÓN:</strong>Es equivalente a decir que mediante la intervención directa del peligro puede evitarse su ocurrencia, es decir impedir la causa primaria del desastre.</li>
                        <li><strong>PREVISIÓN:</strong>Determinar las posibles amenazas y las condiciones de vulnerabilidad de una comunidad.</li>
                        <li><strong>RECONSTRUCCIÓN:</strong>Es el proceso de recuperación a mediano y largo plazo de las estructuras afectadas por la ocurrencia de un desastre mediante la reparación del daño físico sufrido en la infraestructura; dando un proceso de reasentamiento de la comunidad damnificada.</li>
                        <li><strong>REDUCCIÓN:</strong>Término que agrupa los conceptos de prevenir la ocurrencia, mitigar las pérdidas, prepararse para las consecuencias y alertar la presencia.</li>
                        <li><strong>REHABILITACIÓN:</strong>Es una etapa intermedia en la cual se continúa con las actividades de atención inicial de la población, pero en ella se restablece el funcionamiento de las líneas vitales, tales como la energía, el agua, las vías y las telecomunicaciones y otros servicios básicos como la salud y el abastecimiento de alimentos; previa a la reconstrucción definitiva de las viviendas y la infraestructura de la comunidad.</li>
                        <li><strong>RESCATE:</strong>Consiste en la aplicación de técnicas de estabilización, remoción, penetración extracción de víctimas por desastres o accidentes, que se encuentren atrapados o aprisionados por estructuras, vehículos (aéreos, terrestres o acuáticos), o perdidos en zonas de selva, nevados y náufragos o víctimas de inundaciones.</li>
                        <li><strong>RESPUESTA:</strong>Es la etapa que corresponde a la ejecución de las acciones previstas en la etapa de preparación. En esta fase se da la reacción inmediata para la atención oportuna de la población afectada.</li>
                        <li><strong>RIESGO:</strong>Se refiere a las consecuencias esperables al ocurrir un fenómeno natural o una actividad humana, en término de muertes o heridas causadas a la población y a la destrucción de propiedades o de cualquier tipo de pérdida económica.</li>
                        <li><strong>SIMULACRO:</strong>Ejercicio de práctica de los procedimientos de emergencia en condiciones simuladas.</li>
                        <li><strong>TRIAGE:</strong>Método utilizado para clasificar al personal accidentado de acuerdo a la severidad de la lesión (Código de colores), para determinar la prioridad de atención y el sitio al cual debe ser remitido.</li>
                        <li><strong>URGENCIA:</strong>Alteración de la integridad física o mental de una persona causada por un trauma o por una enfermedad de cualquier etiología que genere una demanda de atención médica inmediata y efectiva, tendiente a disminuir los riesgos de invalidez y muerte.</li>
                        <li><strong>VÍCTIMA:</strong>Todas aquellas personas lesionadas, damnificadas o afectadas por la ocurrencia del desastre.</li>
                        <li><strong>VULNERABILIDAD:</strong>Es el grado de predisposición intrínseca de un sujeto o sistema a sufrir una pérdida por un determinado factor de riesgo al cual se está expuesto.</li>
                    </ul>
                </p>
            </td>
        </tr>
    </table> 
    <div><br></div>    
    <div style="text-align:center">
        <strong>3. CAPÍTULO II. DESCRIPCIÓN</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>3.1. RESEÑA HISTÓRICA</strong>
    </div> 
    <div><br></div>  
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>NOMBRE EMPRESA, fue creada en el año <strong><%= @emergency_plan.empresa_fue_creada if  @emergency_plan.present? %></strong> cuenta con <strong><%= @emergency_plan.numero_sedes if  @emergency_plan.present? %></strong> sedes.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div>
        <strong>3.2. INFORMACIÓN GENERAL DE LA SEDE</strong>
    </div> 
    <div><br></div>  
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Sede:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.sede if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Ciudad:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.ciudad if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Dirección:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.direccion if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Ubicación Geográfica:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.ubi_geografica if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Perímetro Norte:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.per_norte if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Perímetro Sur:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.per_sur if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Perímetro Oriente:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.per_oriente if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Perímetro Occidente:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.per_occidente if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Vías de Acceso Peatonal:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.vias_peatonal if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Vías de Acceso Vehicular:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.vias_vehicular if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Sector de influencia:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= EmergencyPlan.label_sector_influencia(@emergency_plan.sector_influencia) if  @emergency_plan.present? %></strong>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div>
        <strong>3.3. CARACTERÍSTICAS GENERALES DE LA EDIFICACIÓN</strong>
    </div> 
    <div><br></div>  
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Características de la construcción y tipo de acabados:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.carac_construccion if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Tiempo de construcción:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.tiempo_construccion if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Terreno (m2):</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.terreno if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Construidos (m2):</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.construido if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Número de pisos:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.pisos if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Perímetro Sur:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.per_sur if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Número de entradas y salidas:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.entradas_salidas if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Número de Locales Externos:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.locales_externos if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Cumple con el Código de Sismo Resistencia:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.cumple_sismo if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Escalera de emergencia:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.escalera_emergencia if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Sótano:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.sotano if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Sótano:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.sotano if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Ascensores:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.ascensores if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Instalaciones eléctricas:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.inst_electricas if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Fallas estructurales:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.fallas_estructurales if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Redes de Gas:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.redes_gas if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Control y restricciones de acceso:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.control_acceso if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Redes contra incendio:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.redes_contra_incendio if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Hidrantes:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.hidrantes if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Sistema de alarma:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.sis_alarma if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Sistema de detección de Humo y/o Calor:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.sis_humo if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Sistema de iluminación de emergencia:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.sis_iluminacion_emer if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Equipos de comunicación:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.equipo_comunicacion if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Tanque de reserva H2O:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.tanqueh2o if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Planta de Energía:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.planta_energia if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 50%;padding: 5px;background-color: #00aae4;">
                <strong>Almacenamiento de químicos:</strong>
            </td>
            <td style="border:1px solid black; width: 50%;padding: 5px;">
                <strong><%= @emergency_plan.almacenamiento_quimico if  @emergency_plan.present? %></strong>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div>
        <strong>3.4. MAPA DE LA SEDE (TOMADO DE LA PLATAFORMA GOOGLE MAPS).</strong>
    </div> 
    <div><br></div>  
    <div>
        <%= @emergency_plan.mapa_sede if  @emergency_plan.present? %>
    </div> 
    <div><br></div>  
    <div>
        <strong>3.5. ANTECEDENTES HISTÓRICOS DE INCIDENTES O EMERGENCIAS PRESENTADAS.</strong>
    </div> 
    <div><br></div>  
    <div><br></div>  
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 45%;text-align:center; background-color: #00aae4;">
                <strong>ANTECEDENTE</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center; background-color: #00aae4;">
                <strong>SI/NO</strong>
            </td>
            <td style="border:1px solid black; width: 45%;text-align:center; background-color: #00aae4;">
                <strong>DESCRIPCIÓN</strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Accidentes y/o Incidentes de Trabajadores</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;padding: 5px;">
                <% if  @emergency_plan.accidentes_trabaja == 0 %>
                    <strong>NO</strong>
                <% else %>
                    <strong>SI</strong>
                <% end %>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.obs_accidentes_trabaja if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Accidentes y/o Incidentes de Visitantes</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;padding: 5px;">
                <% if  @emergency_plan.accidentes_visi == 0 %>
                    <strong>NO</strong>
                <% else %>
                    <strong>SI</strong>
                <% end %>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.obs_accidentes_visi if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Asalto</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;padding: 5px;">
                <% if  @emergency_plan.asalto == 0 %>
                    <strong>NO</strong>
                <% else %>
                    <strong>SI</strong>
                <% end %>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.obs_asalto if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Evento Terroristas</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;padding: 5px;">
                <% if  @emergency_plan.evento_terrorista == 0 %>
                    <strong>NO</strong>
                <% else %>
                    <strong>SI</strong>
                <% end %>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.obs_evento_terrorista if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Movimiento Telúrico</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;padding: 5px;">
                <% if  @emergency_plan.mov_telurico == 0 %>
                    <strong>NO</strong>
                <% else %>
                    <strong>SI</strong>
                <% end %>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.desc_mov_telurico if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Inundaciones</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;padding: 5px;">
                <% if  @emergency_plan.inundaciones == 0 %>
                    <strong>NO</strong>
                <% else %>
                    <strong>SI</strong>
                <% end %>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.desc_inundaciones if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Incendio</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;padding: 5px;">
                <% if  @emergency_plan.incendio == 0 %>
                    <strong>NO</strong>
                <% else %>
                    <strong>SI</strong>
                <% end %>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.desc_incendio if  @emergency_plan.present? %></strong>
            </td>
        </tr>
    </table>
    <div><br></div>
    <div>
        <strong>3.5.1. Entorno</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong>La entidad se encuentra ubicada sobre la DIRECCIÓN, al lado derecho se encuentra <strong><%= @emergency_plan.aquien_lado_derecho if  @emergency_plan.present? %></strong>.</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong>Las actividades económicas que se encuentran alrededor de NOMBRE EMPRESA son de  <strong><%= @emergency_plan.espe_actividades if  @emergency_plan.present? %></strong>.</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong>3.5.2. Vías de Acceso</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong>Para acceder a las instalaciones se puede hacer por la <strong><%= @emergency_plan.vias_acceso if  @emergency_plan.present? %></strong>.</strong>
    </div> 
    <div><br></div> 
    <div>
        <strong>3.6. ACTIVIDAD ECONÓMICA DE NOMBRE EMPRESA</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong><strong><%= @emergency_plan.codigo_empresa if  @emergency_plan.present? %></strong>.</strong>
    </div> 
    <div><br></div> 
    <div>
        <strong>3.7. DESCRIPCIÓN GENERAL DE LA POBLACIÓN</strong>
    </div> 
    <div><br></div>  
    <table style="width: 100%">
        <tr>    
            <td ROWSPAN=2 style="border:1px solid black; width: 20%;text-align:center; background-color: #00aae4;">
                <strong>TIPO</strong>
            </td>
            <td ROWSPAN=2 style="border:1px solid black; width: 20%;text-align:center; background-color: #00aae4;">
                <strong>LUGAR DE TRABAJO</strong>
            </td>
            <td ROWSPAN=2 style="border:1px solid black; width: 10%;text-align:center; background-color: #00aae4;">
                <strong>NÚMERO</strong>
            </td>
            <td  COLSPAN=2 style="border:1px solid black; width: 20%;text-align:center; background-color: #00aae4;">
                <strong>GÉNERO</strong>
            </td>
            <td  COLSPAN=3 style="border:1px solid black; width: 30%;text-align:center; background-color: #00aae4;">
                <strong>VINCULACIÓN</strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 10%;text-align:center; background-color: #00aae4;">
                <strong>M</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center; background-color: #00aae4;">
                <strong>F</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center; background-color: #00aae4;">
                <strong>DIREC</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center; background-color: #00aae4;">
                <strong>IND.</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center; background-color: #00aae4;">
                <strong>SOCIOS</strong>
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 20%;text-align:center;">
                Administrativo
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                NOMBRE EMPRESA
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_administrativo if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_admin_m if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_admin_f if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_admin_directa if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_admin_ind if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_admin_soc if  @emergency_plan.present? %>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 20%;text-align:center;">
                Operativo
            </td>
            <td style="border:1px solid black; width: 20%;text-align:center;">
                NOMBRE EMPRESA
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_operativo if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_oper_m if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_oper_f if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_oper_directa if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_oper_ind if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_oper_soc if  @emergency_plan.present? %>
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 40%;text-align:center;">
                <strong>TOTAL</strong>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_total if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_total_m if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_total_f if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_total_dir if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_total_ind if  @emergency_plan.present? %>
            </td>
            <td style="border:1px solid black; width: 10%;text-align:center;">
                <%= @emergency_plan.per_total_soc if  @emergency_plan.present? %>
            </td>
        </tr>
    </table>
    <div><br></div> 
    <div>
        <strong>3.7.1. Jornadas Laborales</strong>
    </div> 
    <div><br></div>  
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 45%;text-align:center; background-color: #00aae4;">
                <strong>TIPO</strong>
            </td>
            <td style="border:1px solid black; width: 45%;text-align:center; background-color: #00aae4;">
                <strong>JORNADA LABORAL</strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Lunes a viernes</strong>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.jornada_laboral_lunes if  @emergency_plan.present? %></strong>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong>Sábados</strong>
            </td>
            <td style="border:1px solid black; width: 45%;padding: 5px;">
                <strong><%= @emergency_plan.jornada_laboral_sabado if  @emergency_plan.present? %></strong>
            </td>
        </tr>
    </table>
    <div><br></div> 
    <div>
        <strong>3.8. DESCRIPCIÓN DEL PROCESO OPERATIVO</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong><%= @emergency_plan.descripcion_operativo if  @emergency_plan.present? %>.</strong>
    </div> 
    <div><br></div> 
    <div>
        <strong>3.9. DESCRIPCIÓN DE EQUIPOS.</strong>
    </div> 
    <div><br></div>  
    <div>
        <strong>3.9.1. Equipos Utilizados</strong>
    </div> 
    <div><br></div> 
    <table> 
        <tr>
            <td style="text-align:justify">
                <p>Los equipos propios de las labores, como equipos de cómputo, impresoras, fax, escáner, teléfonos, caja fuerte y mobiliario de NOMBRE EMPRESA.</p>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 40%;text-align:center; background-color: #00aae4;">
                <strong>TIPO DE EQUIPO</strong>
            </td>
            <td style="border:1px solid black; width: 40%;text-align:center; background-color: #00aae4;">
                <strong>NOMBRE</strong>
            </td>
        </tr>
        <% @equipement_used_plans.each do |equipement_used_plan| %>
            <tr>    
                <td style="border:1px solid black; width: 40%;padding: 5px;">
                    <% if equipement_used_plan.type_equipement == 0 %>
                        Herramientas eléctricas
                    <% else %>
                        Herramientas manuales
                    <% end %>
                </td>
                <td style="border:1px solid black; width: 40%;padding: 5px;">
                    <%= equipement_used_plan.name %>
                </td>
            </tr>
        <% end %>
    </table> 
    <div><br></div>  
    <div>
        <strong>3.10. DESCRIPCIÓN DE INSUMOS.</strong>
    </div> 
    <div><br></div> 
    <div style="text-align:center">
        <%= @emergency_plan.descripcion_insumos if  @emergency_plan.present? %>.
    </div> 
    <div><br></div>
    <div style="text-align:center">
        <strong>4. CAPÍTULO III. ANÁLISIS DE VULNERABILIDAD</strong>
    </div> 
    <div><br></div>
    <div>
        <strong>4.1. ELEMENTOS ESTRUCTURALES.</strong>
    </div> 
    <div><br></div>  
    <div>
        La entidad se encuentra ubicada sobre la <strong><%= @emergency_plan.direccion if  @emergency_plan.present? %></strong>, al lado derecho se encuentra con <strong><%= @emergency_plan.elementos_derecho if  @emergency_plan.present? %></strong>, sobre el lado izquierdo con <strong><%= @emergency_plan.elementos_izquierdo if  @emergency_plan.present? %></strong>.
    </div> 
    <div><br></div>
    <div>
        <strong>4.2. INSTALACIONES ESPECIALES.</strong>
    </div> 
    <div><br></div>  
    <div>
        <%= @emergency_plan.inst_especiales if  @emergency_plan.present? %>.
    </div> 
    <div><br></div>
    <div>
        <strong>4.3. ANTECEDENTES DE EMERGENCIA.</strong>
    </div> 
    <div><br></div>  
    <div>
        <%= @emergency_plan.antec_emergencia if  @emergency_plan.present? %>.
    </div> 
    <div><br></div>
    <div>
        <strong>4.4.</strong>
    </div> 
    <div><br></div>  

        
                    





    <div><br></div>
        


    <div><br></div>   
    <div><br></div>   
    <div class="row"><br></div>
    <table style="width: 100%">
        <tr>    
            <td style="border:0px solid black; width: 50%; text-align:center">
                    <% if @user_responsable.present? %>
                        <div class="row  text-center"> 
                            <div class="col-11">
                                <div>Firma del usuario responsable:</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <% if @emergency_plan.firm_responsible == 1 %>
                                   <% if @user_responsable.firm.attached? %>
                                      <% if @user_responsable.firm.image? %> 
                                           <%= image_tag @user_responsable.firm, class: "firma" %>
                                            <p align="center">________________________________</p>
                                      <% end %>
                                    <% end %>
                                <% else %>    
                                    <p align="center">________________________________</p>
                                 <% end %>     
                            </div>
                           <div class="col-11">
                                <div class="row">
                                    <h6><strong><%= @user_responsable.name %></strong></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><%= @user_responsable.activity %></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><%= @user_responsable.document.abbreviation %>: <%= Firm.miles(@user_responsable.nro_document) %></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6>Fecha firma: <%= @emergency_plan.date_firm_responsible  if @emergency_plan.date_firm_responsible %></h6>
                                </div>
                            </div>
                        </div>
                        <br>
                    <% end %>    
            </td>
        </tr>
    </tabled>


</div>