<div class="container col-12 card p-5">
    <br> 
    <%= form_with model: @brigadista_plan do |form| %>
        <% @brigadista_plan.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  
     
        <div class="form-group"> 
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingrese el nombre del Brigadista.">Nombre del Brigadiasta: <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :name_brigadista,  class: "form-control" %>
        </div>
        </br>    
        <div class="form-group"> 
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingrese el perfil del Brigadista.">Perfil del Brigadiasta: <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :perfil_brigadista,  class: "form-control" %>
        </div>
        </br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
    <% end %>

</div>
