<div class="container col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    <br>
    <%= form_with model: @kit do |form| %>
        <% @kit.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <p class="fst-normal fs-3"><strong>LISTA DE CHEQUEO BOTIQUÍN DE PRIMEROS AUXILIOS</strong> </p>
        </div>
        <br>     
        <div class="col-sm-12 p-3 mb-2 text-dark">    
            <%= form.label :area,  style: "display: block" %>
            <%= form.text_field :area,  class: "form-control", required: true %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 text-dark">    
            <%= form.label :type_kit,  style: "display: block" %>
            <%= form.radio_button :type_kit, 0, required: true %>
            <label for="A">Tipo A</label></br>
            <%= form.radio_button :type_kit, 1, required: true %>
            <label for="B">Tipo B</label></br>
            <%= form.radio_button :type_kit, 2, required: true %>
            <label for="C">Tipo C</label></br>
        </div>
        <br>  
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :clasification_kit,  style: "display: block" %>
            <%= form.radio_button :clasification_kit, 0, required: true %>
            <label for="portatil">Portátil</label></br>
            <%= form.radio_button :clasification_kit, 1, required: true %>
            <label for="fijo">Fijo</label></br>
        </div>
        <br>  
        <br>  
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :gauze,  style: "display: block" %>
            <%= form.radio_button :gauze, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :gauze, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :gauze, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :gauze_obs,  style: "display: block" %>
            <%= form.text_field :gauze_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :sticking_plaster,  style: "display: block" %>
            <%= form.radio_button :sticking_plaster, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :sticking_plaster, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :sticking_plaster, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :sticking_plaster_obs,  style: "display: block" %>
            <%= form.text_field :sticking_plaster_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :tongue_depressor,  style: "display: block" %>
            <%= form.radio_button :tongue_depressor, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :tongue_depressor, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :tongue_depressor, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :tongue_depressor_obs,  style: "display: block" %>
            <%= form.text_field :tongue_depressor_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :gloves,  style: "display: block" %>
            <%= form.radio_button :gloves, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :gloves, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :gloves, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :gloves_obs,  style: "display: block" %>
            <%= form.text_field :gloves_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :elastic_bandage25,  style: "display: block" %>
            <%= form.radio_button :elastic_bandage25, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :elastic_bandage25, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :elastic_bandage25, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :elastic_bandage25_obs,  style: "display: block" %>
            <%= form.text_field :elastic_bandage25_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :elastic_bandage55,  style: "display: block" %>
            <%= form.radio_button :elastic_bandage55, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :elastic_bandage55, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :elastic_bandage55, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :elastic_bandage55_obs,  style: "display: block" %>
            <%= form.text_field :elastic_bandage55_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :sell_cotton35,  style: "display: block" %>
            <%= form.radio_button :sell_cotton35, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :sell_cotton35, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :sell_cotton35, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :sell_cotton35_obs,  style: "display: block" %>
            <%= form.text_field :sell_cotton35_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :sell_cotton55,  style: "display: block" %>
            <%= form.radio_button :sell_cotton55, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :sell_cotton55, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :sell_cotton55, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :sell_cotton55_obs,  style: "display: block" %>
            <%= form.text_field :sell_cotton55_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :soap,  style: "display: block" %>
            <%= form.radio_button :soap, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :soap, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :soap, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :soap_obs,  style: "display: block" %>
            <%= form.text_field :soap_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :saline_solution,  style: "display: block" %>
            <%= form.radio_button :saline_solution, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :saline_solution, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :saline_solution, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :saline_solution_obs,  style: "display: block" %>
            <%= form.text_field :saline_solution_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :thermometer,  style: "display: block" %>
            <%= form.radio_button :thermometer, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :thermometer, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :thermometer, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :thermometer_obs,  style: "display: block" %>
            <%= form.text_field :thermometer_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :alcohol,  style: "display: block" %>
            <%= form.radio_button :alcohol, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :alcohol, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :alcohol, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :alcohol_obs,  style: "display: block" %>
            <%= form.text_field :alcohol_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :sterile_gauze,  style: "display: block" %>
            <%= form.radio_button :sterile_gauze, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :sterile_gauze, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :sterile_gauze, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :sterile_gauze_obs,  style: "display: block" %>
            <%= form.text_field :sterile_gauze_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :dressing,  style: "display: block" %>
            <%= form.radio_button :dressing, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :dressing, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :dressing, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :dressing_obs,  style: "display: block" %>
            <%= form.text_field :dressing_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :scissors,  style: "display: block" %>
            <%= form.radio_button :scissors, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :scissors, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :scissors, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :scissors_obs,  style: "display: block" %>
            <%= form.text_field :scissors_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :flashlight,  style: "display: block" %>
            <%= form.radio_button :flashlight, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :flashlight, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :flashlight, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :flashlight_obs,  style: "display: block" %>
            <%= form.text_field :flashlight_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :batteries,  style: "display: block" %>
            <%= form.radio_button :batteries, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :batteries, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :batteries, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :batteries_obs,  style: "display: block" %>
            <%= form.text_field :batteries_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :spinal_board,  style: "display: block" %>
            <%= form.radio_button :spinal_board, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :spinal_board, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :spinal_board, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :spinal_board_obs,  style: "display: block" %>
            <%= form.text_field :spinal_board_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :adult_cervical_collar,  style: "display: block" %>
            <%= form.radio_button :adult_cervical_collar, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :adult_cervical_collar, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :adult_cervical_collar, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :adult_cervical_collar_obs,  style: "display: block" %>
            <%= form.text_field :adult_cervical_collar_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :child_cervical_collar,  style: "display: block" %>
            <%= form.radio_button :child_cervical_collar, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :child_cervical_collar, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :child_cervical_collar, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :child_cervical_collar_obs,  style: "display: block" %>
            <%= form.text_field :child_cervical_collar_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :adult_immobilizers_top,  style: "display: block" %>
            <%= form.radio_button :adult_immobilizers_top, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :adult_immobilizers_top, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :adult_immobilizers_top, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :adult_immobilizers_top_obs,  style: "display: block" %>
            <%= form.text_field :adult_immobilizers_top_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :adult_immobilizers_lower,  style: "display: block" %>
            <%= form.radio_button :adult_immobilizers_lower, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :adult_immobilizers_lower, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :adult_immobilizers_lower, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :adult_immobilizers_lower_obs,  style: "display: block" %>
            <%= form.text_field :adult_immobilizers_lower_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :child_immobilizers_top,  style: "display: block" %>
            <%= form.radio_button :child_immobilizers_top, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :child_immobilizers_top, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :child_immobilizers_top, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :child_immobilizers_top_obs,  style: "display: block" %>
            <%= form.text_field :child_immobilizers_top_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :child_immobilizers_lower,  style: "display: block" %>
            <%= form.radio_button :child_immobilizers_lower, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :child_immobilizers_lower, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :child_immobilizers_lower, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :child_immobilizers_lower_obs,  style: "display: block" %>
            <%= form.text_field :child_immobilizers_lower_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :disposable_cups,  style: "display: block" %>
            <%= form.radio_button :disposable_cups, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :disposable_cups, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :disposable_cups, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :disposable_cups_obs,  style: "display: block" %>
            <%= form.text_field :disposable_cups_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :lood_pressure_monitor,  style: "display: block" %>
            <%= form.radio_button :lood_pressure_monitor, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :lood_pressure_monitor, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :lood_pressure_monitor, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :lood_pressure_monitor_obs,  style: "display: block" %>
            <%= form.text_field :lood_pressure_monitor_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :stethoscope,  style: "display: block" %>
            <%= form.radio_button :stethoscope, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :stethoscope, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :stethoscope, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :stethoscope_obs,  style: "display: block" %>
            <%= form.text_field :stethoscope_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :mask_rcp,  style: "display: block" %>
            <%= form.radio_button :mask_rcp, 0, required: true %>
            <label for="na">N/A</label></br>
            <%= form.radio_button :mask_rcp, 1, required: true %>
            <label for="si">SI</label></br>
            <%= form.radio_button :mask_rcp, 2, required: true %>
            <label for="no">NO</label></br>

            <%= form.label :mask_rcp_obs,  style: "display: block" %>
            <%= form.text_field :mask_rcp_obs,  class: "form-control" %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2  text-dark">    
            <%= form.label :recomendaciones,  style: "display: block" %>
            <%= form.text_area :recomendaciones,  class: "form-control" %>
        </div>
        <br>
        <br>


        <% if params[:entity_id].present? %>
            <%= form.hidden_field :entity_id, :value => params[:entity_id].to_i, class: "form-control" %>
            <%= form.hidden_field :user_id, :value => Current.user.id.to_i, class: "form-control" %>
            <%= form.hidden_field :date_creation, :value => Time.now, class: "form-control" %>
        <% end %>

        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>
        <div><br></div>
  <% end %>
</div>
</div>    
