<br>
<div class="container col-11" 
    <br>
        <h class="display-5">INSPECCIÓN DE BOTIQUÍN DE PRIMEROS AUXILIOS</h>
    <hr>
    
    <br>
 
    <% if params[:entity_id].present? %>
        <%= render 'kits' %> 
    <% else %>
        <%= form_with model: @kit, method: :get do |form| %>
            <div class="row g-2">
                <div class="col-sm-7">
                    <% if Current.user.level == 1 %>
                        <%= form.label :Entidad, style: "display: block" %>
                        <%= form.collection_select :entity_id, @entities, :id, :business_name, { prompt: '--Seleccionar Entidad--' },
                        { class: 'form-control input-sm select2' } %>
                    <% else %>
                        <div class="container">
                            <h class="display-6"><%= @entities.business_name %></h>
                        </div> 
                        <%= form.hidden_field :entity_id, :value => @entities.id.to_i, class: "form-control" %>
                    <% end %>
                </div>
            </div>    
            <br>    
            <button type="submit" class="btn btn-primary">Consultar</button>
        <% end %>

    <% end %>     
