<div class="container-fluid py-4">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            <%= render 'encabezado' %>
            <div class="row g-3 mt-2">
                <div class="col-12 col-md-6">
                    <div class="border rounded p-2 h-100">
                        <strong>Fecha:</strong>
                        <%= @kit.date_creation if @kit.present? %>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="border rounded p-2 h-100">
                        <strong>Área:</strong>
                        <%= @kit.area if @kit.present? %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="border rounded p-2">
                        <strong>Responsable:</strong>
                        <%= @kit.user.name if @kit.present? %>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="border rounded p-2 h-100">
                        <strong>Tipo de Botiquín:</strong><br>
                        <%= Kit.label_type_kit(@kit.type_kit) if @kit.present? %>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="border rounded p-2 h-100">
                        <strong>Clasificación de Botiquín:</strong><br>
                        <%= Kit.label_clasification_kit(@kit.clasification_kit) if @kit.present? %>
                    </div>
                </div>
            </div>
            <div class="table-responsive mt-4">
                <table class="table table-bordered align-middle text-center">
                    <thead class="table-light">
                        <tr>
                            <th style="width:35%">Elemento</th>
                            <th style="width:10%">SI</th>
                            <th style="width:10%">NO</th>
                            <th style="width:10%">N/A</th>
                            <th style="width:35%">Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= t('.gauze') %></td>
                            <td class="text-center"><%= "X" if @kit.gauze == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.gauze == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.gauze == 0 %></td>
                            <td><%= @kit.gauze_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.sticking_plaster') %></td>
                            <td class="text-center"><%= "X" if @kit.sticking_plaster == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.sticking_plaster == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.sticking_plaster == 0 %></td>
                            <td><%= @kit.sticking_plaster_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.tongue_depressor') %></td>
                            <td class="text-center"><%= "X" if @kit.tongue_depressor == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.tongue_depressor == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.tongue_depressor == 0 %></td>
                            <td><%= @kit.tongue_depressor_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.gloves') %></td>
                            <td class="text-center"><%= "X" if @kit.gloves == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.gloves == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.gloves == 0 %></td>
                            <td><%= @kit.gloves_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.elastic_bandage25') %></td>
                            <td class="text-center"><%= "X" if @kit.elastic_bandage25 == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.elastic_bandage25 == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.elastic_bandage25 == 0 %></td>
                            <td><%= @kit.elastic_bandage25_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.elastic_bandage55') %></td>
                            <td class="text-center"><%= "X" if @kit.elastic_bandage55 == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.elastic_bandage55 == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.elastic_bandage55 == 0 %></td>
                            <td><%= @kit.elastic_bandage55_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.sell_cotton35') %></td>
                            <td class="text-center"><%= "X" if @kit.sell_cotton35 == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.sell_cotton35 == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.sell_cotton35 == 0 %></td>
                            <td><%= @kit.sell_cotton35_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.sell_cotton55') %></td>
                            <td class="text-center"><%= "X" if @kit.sell_cotton55 == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.sell_cotton55 == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.sell_cotton55 == 0 %></td>
                            <td><%= @kit.sell_cotton55_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.soap') %></td>
                            <td class="text-center"><%= "X" if @kit.soap == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.soap == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.soap == 0 %></td>
                            <td><%= @kit.soap_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.saline_solution') %></td>
                            <td class="text-center"><%= "X" if @kit.saline_solution == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.saline_solution == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.saline_solution == 0 %></td>
                            <td><%= @kit.saline_solution_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.thermometer') %></td>
                            <td class="text-center"><%= "X" if @kit.thermometer == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.thermometer == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.thermometer == 0 %></td>
                            <td><%= @kit.thermometer_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.alcohol') %></td>
                            <td class="text-center"><%= "X" if @kit.alcohol == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.alcohol == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.alcohol == 0 %></td>
                            <td><%= @kit.alcohol_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.sterile_gauze') %></td>
                            <td class="text-center"><%= "X" if @kit.sterile_gauze == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.sterile_gauze == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.sterile_gauze == 0 %></td>
                            <td><%= @kit.sterile_gauze_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.dressing') %></td>
                            <td class="text-center"><%= "X" if @kit.dressing == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.dressing == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.dressing == 0 %></td>
                            <td><%= @kit.dressing_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.scissors') %></td>
                            <td class="text-center"><%= "X" if @kit.scissors == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.scissors == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.scissors == 0 %></td>
                            <td><%= @kit.scissors_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.flashlight') %></td>
                            <td class="text-center"><%= "X" if @kit.flashlight == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.flashlight == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.flashlight == 0 %></td>
                            <td><%= @kit.flashlight_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.batteries') %></td>
                            <td class="text-center"><%= "X" if @kit.batteries == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.batteries == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.batteries == 0 %></td>
                            <td><%= @kit.batteries_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.spinal_board') %></td>
                            <td class="text-center"><%= "X" if @kit.spinal_board == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.spinal_board == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.spinal_board == 0 %></td>
                            <td><%= @kit.spinal_board_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.adult_cervical_collar') %></td>
                            <td class="text-center"><%= "X" if @kit.adult_cervical_collar == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.adult_cervical_collar == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.adult_cervical_collar == 0 %></td>
                            <td><%= @kit.adult_cervical_collar_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.child_cervical_collar') %></td>
                            <td class="text-center"><%= "X" if @kit.child_cervical_collar == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.child_cervical_collar == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.child_cervical_collar == 0 %></td>
                            <td><%= @kit.child_cervical_collar_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.adult_immobilizers_top') %></td>
                            <td class="text-center"><%= "X" if @kit.adult_immobilizers_top == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.adult_immobilizers_top == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.adult_immobilizers_top == 0 %></td>
                            <td><%= @kit.adult_immobilizers_top_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.adult_immobilizers_lower') %></td>
                            <td class="text-center"><%= "X" if @kit.adult_immobilizers_lower == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.adult_immobilizers_lower == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.adult_immobilizers_lower == 0 %></td>
                            <td><%= @kit.adult_immobilizers_lower_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.child_immobilizers_top') %></td>
                            <td class="text-center"><%= "X" if @kit.child_immobilizers_top == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.child_immobilizers_top == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.child_immobilizers_top == 0 %></td>
                            <td><%= @kit.child_immobilizers_top_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.child_immobilizers_lower') %></td>
                            <td class="text-center"><%= "X" if @kit.child_immobilizers_lower == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.child_immobilizers_lower == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.child_immobilizers_lower == 0 %></td>
                            <td><%= @kit.child_immobilizers_lower_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.disposable_cups') %></td>
                            <td class="text-center"><%= "X" if @kit.disposable_cups == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.disposable_cups == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.disposable_cups == 0 %></td>
                            <td><%= @kit.disposable_cups_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.lood_pressure_monitor') %></td>
                            <td class="text-center"><%= "X" if @kit.lood_pressure_monitor == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.lood_pressure_monitor == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.lood_pressure_monitor == 0 %></td>
                            <td><%= @kit.lood_pressure_monitor_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.stethoscope') %></td>
                            <td class="text-center"><%= "X" if @kit.stethoscope == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.stethoscope == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.stethoscope == 0 %></td>
                            <td><%= @kit.stethoscope_obs %></td>
                        </tr>
                        <tr>
                            <td><%= t('.mask_rcp') %></td>
                            <td class="text-center"><%= "X" if @kit.mask_rcp == 1 %></td>
                            <td class="text-center"><%= "X" if @kit.mask_rcp == 2 %></td>
                            <td class="text-center"><%= "X" if @kit.mask_rcp == 0 %></td>
                            <td><%= @kit.mask_rcp_obs %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="mt-4">
    <div class="border rounded p-3">
        <strong>Recomendaciones</strong>
        <p class="mb-0 mt-2">
          <%= @kit.recomendaciones if @kit.recomendaciones.present? %>
        </p>
    </div>
</div>
<div class="mt-5">                
    <% if @kit.present? && @kit.kit_fotos.attached? %>
            <hr class="my-5">
            <h4 class="mb-4">Archivos adjuntos</h4>
            <div class="row g-4" data-controller="previews">
                <% @kit.kit_fotos.each do |file| %>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-header text-truncate">
                                 <strong><%= file.filename %></strong>
                            </div>
                            <div class="card-body text-center">
                                <% if file.image? %> 
                                    <p class="small fw-bold"><%= file.blob.filename %></p>
                                    <%= image_tag file, data: { previews_target: "preview" }, class: "img-fluid rounded mb-3" %>
                                <% elsif file.video? %>
                                    <p class="small fw-bold"><%= file.blob.filename %></p>
                                    <%= video_tag url_for(file), controls: true, class: "img-fluid rounded mb-3" %>
                                <% elsif file.audio? %>
                                    <p class="small fw-bold"><%= file.blob.filename %></p>
                                    <audio controls class="w-100 mb-3">
                                        <source src="<%= url_for(file) %>">
                                    </audio>
                                <% else %>
                                    <div class="py-4">
                                        <i class="bi bi-file-earmark fs-1"></i>
                                        <div class="mt-2">
                                            <%= file.filename %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class="card-footer text-center">
                                <%= link_to "Descargar", rails_blob_path(file, disposition: "attachment"), class: "btn btn-success btn-sm w-100" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
    <% end %>
    <hr class="my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">
                        Firma del responsable de la inspección
                    </h5>
                </div>
                <div class="card-body">
                <div class="mb-3">
                    <strong>Nombre</strong><br>
                    <span class="text-decoration-underline">
                        <%= @kit.user.name if @kit.present? %>
                    </span>
                </div>
                <div class="mb-3">
                    <strong>Cargo</strong><br>
                    <%= @kit.post if @kit.present? %>
                </div>
                <div class="mb-3">
                    <strong>Firma</strong>
                    <% if @kit.firm_user == 1 %>
                        <% if @kit.user.firm.attached? %>
                            <% if @kit.user.firm.image? %>
                                <div class="mt-3">
                                      <%= image_tag @kit.user.firm, class: "img-fluid", style: "max-height:150px;" %>
                                </div>
                            <% end %>
                        <% else %>
                                <div class="border rounded p-4 text-center text-muted mt-3">
                                    No existe firma registrada.
                                </div>
                        <% end %>
                    <% else %>
                        <div class="border-bottom mt-5"></div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div><%= link_to "Retornar", request.referer || root_path, class: "btn btn-secondary" %></div> 
