<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div align="left"; class="container col-12">
    <table style="border:0px solid black;width: 100%">
        <tr style="padding: 20px;">
            <td rowspan="2" style="border:1px solid black; width: 20%; text-align:center">
                <% if @entity.logo.present? then %>
                    <%=  image_tag  @entity.logo, class: "image_peq" %>
                <% end %>   
            </td>
            <td style="border:1px solid black; text-align:center">
                <div class="col-10"><h6><%= @entity.business_name if @entity.present? %></h6></div>
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; text-align:center">
                <div class="col-10"><h6><%= @template.name if @template.present? %></h6></div>
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 25%">
                <h6>CÓDIGO: </h6>                
            </td>
            <td style="border:1px solid black; width: 25%">
                <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.reference if @template.present? %></small></h6>                
            </td>

            <td style="border:1px solid black; width: 25%">
                <h6>VERSIÓN: </h6>                
            </td>
            <td style="border:1px solid black; width: 25%">
                <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.version if @template.present? %></small></h6>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%">
                <h6>FECHA DE ELABORACIÓN: </h6>                 
            </td>
            <td style="border:1px solid black; width: 25%">
                <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.date if @template.present? %></small></h6>                
            </td>

            <td style="border:1px solid black; width: 25%">
                <h6>FECHA DE ACTUALIZACIÓN: </h6>                
            </td>
            <td style="border:1px solid black; width: 25%">
                <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.date_updated if @template.present? %></small></h6>                
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>Empresa: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%= @entity.business_name if @entity.present? %></p>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>Fecha: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%= @route_control.date_control if @route_control.present? %></p>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>Usuario: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%= @route_control.user.name if @route_control.present? %></p>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>Documento: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%= @route_control.user.nro_document if @route_control.present? %></p>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>Cargo: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%=  User.label_activity(@route_control.user.activity)  if @route_control.present? %></p>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>Tipo de Vehículo: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%=  RouteControl.label_tipo_vehiculo(@route_control.vehicle_type)  if @route_control.present? %></p>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>lugar: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%= @route_control.place if @route_control.present? %></p>                
            </td>
        </tr>
        <tr>    
            <td style="border:1px solid black; width: 25%;padding: 5px;">
                <p><strong>Observaciones: </strong></p>                
            </td>
            <td style="border:1px solid black; width: 75%;padding: 5px;">
                <p><%= @route_control.observation if @route_control.present? %></p>                
            </td>
        </tr>

    </table>
    <div></br></div>
</div>