<% if @entity.present? %>
    <h2><%= @entity.business_name %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h2>
<% end %>


<% if @description_jobs.present? %>
    <%= link_to t('common.create_description_job'), new_description_job_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>

    <table class="table table-hover"> 
        <thead>
            <tr>
                <th scope="col">Fecha de Emisión</th>
                <th scope="col"><%= t('.name_job') %></th>
                <th scope="col"><%= t('.state_job') %></th>
                <th scope="col">Firma Elaboró</th>
                <th scope="col">Firma Revisó</th>
                <th scope="col">Firma Aprobó</th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col"><%= t('common.delete') %></th>
                <th scope="col"><%= t('common.pdf') %></th>
            </tr>
        </thead>

        <% @description_jobs.each do |description_job| %>
            <tr> 
                <td><%= description_job.date_firm_aprobo if description_job.date_firm_aprobo.present? %></td>
                <td><%= description_job.name_job %></td>
                <td><%= description_job.label_state_job(description_job.state_job) %></td>

                <% if description_job.firm_elaboro.to_i == 0 %>
                    <td><%= link_to t('common.firmar'), firmar_ela_description_jobs_path(description_job.id, 1), class: 'btn btn-sm btn btn-warning' %></td>
                <% else %> 
                    <td><%= description_job.label_firma(description_job.firm_elaboro) %></td>
                <% end %>      

                <% if description_job.firm_reviso.to_i == 0 %>
                    <td><%= link_to t('common.firmar'), firmar_rev_description_jobs_path(description_job.id, 2), class: 'btn btn-sm btn btn-warning' %></td>
                <% else %> 
                    <td><%= description_job.label_firma(description_job.firm_reviso) %></td>
                <% end %> 

                <% if description_job.firm_aprobo.to_i == 0 %>
                    <td><%= link_to t('common.firmar'), firmar_apr_description_jobs_path(description_job.id, 3), class: 'btn btn-sm btn btn-warning' %></td>
                <% else %> 
                    <td><%= description_job.label_firma(description_job.firm_aprobo) %></td>
                <% end %>  

                <td><%= link_to t('common.show'), description_job, class: 'btn btn-sm btn-primary' %></td>
                <td><%= link_to t('common.edit'), edit_description_job_path(description_job), class: 'btn btn-sm btn-primary'  %></td>
                <td><%= link_to t('common.delete'), description_job, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el cargo?' }, class: 'btn btn-sm btn-danger' %></td>
                <td><%= link_to "PDF", pdf_description_jobs_path(description_job.id, format: 'pdf'), class: 'btn btn-sm btn-success' %></td>
        </tr>
        <% end %>  
        <hr>  
    </table>  
    <br>
<% else %>
    <div>
        <%= link_to t('common.create_description_job'), new_description_job_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>
    </div>
<% end %>
