    <br>
    <%= form_with model: @description_job do |form| %>
        <% @description_job.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>   
        <div class="container col-11 card p-5">
            <div class="col-sm-3">
                <%= form.label :state_job,  style: "display: block" %>
                <%= form.select(:state_job, [['NO VIGENTE', 0], ['VIGENTE', 1]]) %>
            </div>        
            <div></br></div>
            <table>
                <tr> 
                    <td style="width: 40%;border:1px solid black; background-color: #00aae4;">
                        <strong><%= form.label :name_job, style: "display: block" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.text_field :name_job,  class: "form-control" %>
                    </td>
                </tr>
                <tr> 
                    <td style="width: 40%;border:1px solid black; background-color: #00aae4;">
                        <strong><%= form.label :immediate_boss, style: "display: block" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.text_field :immediate_boss,  class: "form-control" %>
                    </td>
                </tr>
            </table>

            <table>
                <tr>    
                    <td style="width: 100%;border:1px solid black; text-align:center; background-color: #00aae4;">
                        <strong>Objetivo del Cargo</strong>               
                    </td>
                </tr>
                <tr>    
                    <td style="width: 100%;border:1px solid black;">
                        <%= form.text_field :objetive_job, class: "form-control" %>
                    </td>
                </tr>
                <tr>    
                    <td style="width: 100%;border:1px solid black; text-align:center; background-color: #00aae4;">
                        <strong>Perfil del Cargo</strong>               
                    </td>
                </tr>
            </table>

            <table>    
                <tr> 
                    <td style="width: 40%;border:1px solid black;">
                        <strong><%= form.label :academic_training, style: "display: block; background-color: #00aae4;" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.text_field :academic_training,  class: "form-control" %>
                    </td>
                </tr>
                <tr> 
                    <td style="width: 40%;border:1px solid black; background-color: #00aae4;">
                        <strong><%= form.label :experience, style: "display: block" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.text_field :experience,  class: "form-control" %>
                    </td>
                </tr>
                <tr> 
                    <td style="width: 40%;border:1px solid black;">
                        <strong><%= form.label :salary_range, style: "display: block; background-color: #00aae4;" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.text_field :salary_range,  class: "form-control" %>
                    </td>
                </tr>
                <tr> 
                    <td style="width: 40%;border:1px solid black;">
                        <strong><%= form.label :type_contract, style: "display: block; background-color: #00aae4;" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.text_field :type_contract,  class: "form-control" %>
                    </td>
                </tr>
                <tr> 
                    <td style="width: 40%;border:1px solid black;">
                        <strong><%= form.label :working_hours, style: "display: block; background-color: #00aae4;" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.text_field :working_hours,  class: "form-control" %>
                    </td>
                </tr>
                <tr> 
                    <td style="width: 40%;border:1px solid black;">
                        <strong><%= form.label :required_knowledge, style: "display: block; background-color: #00aae4;" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.rich_text_area :required_knowledge,  class: "form-control" %>
                    </td>
                </tr>
                <tr> 
                    <td style="width: 40%;border:1px solid black;">
                        <strong><%= form.label :competencies, style: "display: block; background-color: #00aae4;" %></strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.rich_text_area :competencies,  class: "form-control" %>
                    </td>
                </tr>
            </table>
            <table>    
                <tr>    
                    <td style="width: 100%;border:1px solid black; text-align:center; background-color: #00aae4;">
                        <strong>Funciones del Cargo</strong>               
                    </td>
                </tr>
                <tr>    
                    <td style="width: 100%;border:1px solid black;">
                        <%= form.rich_text_area :job_functions, class: "form-control" %>
                    </td>
                </tr>
                <tr>    
                    <td style="width: 100%;border:1px solid black; text-align:center; background-color: #00aae4;">
                        <strong>Roles y responsabilidades de Seguridad y Salud en el Trabajo </strong>               
                    </td>
                </tr>
                <tr>    
                    <td style="width: 100%;border:1px solid black;">
                        <%= form.rich_text_area :roles_responsibilities, class: "form-control" %>
                    </td>
                </tr>
                <tr>    
                    <td style="width: 100%;border:1px solid black; text-align:center; background-color: #00aae4;">
                        <strong>Observaciones</strong>               
                    </td>
                </tr>
                <tr>    
                    <td style="width: 100%;border:1px solid black;">
                        <%= form.text_area :observations, class: "form-control" %>
                    </td>
                </tr>
            </table>
            <table>    
                <tr> 
                    <td style="width: 40%;border:1px solid black; background-color: #00aae4;">
                        <strong>Elaboró:</strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.collection_select :user_elaboro, User.all.order(id: :asc), :id,  :name, style: "width=400px" %>
                    </td>
                </tr>            
                <tr> 
                    <td style="width: 40%;border:1px solid black; background-color: #00aae4;">
                        <strong>Revisó:</strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.collection_select :user_reviso, User.all.order(id: :asc), :id,  :name, style: "width=400px" %>
                    </td>
                </tr>            
                <tr> 
                    <td style="width: 40%;border:1px solid black; background-color: #00aae4;">
                        <strong>Aprobó:</strong>               
                    </td>
                    <td style="width: 60%;border:1px solid black;">
                        <%= form.collection_select :user_aprobo, User.all.order(id: :asc), :id,  :name, style: "width=400px" %>
                    </td>
                </tr>            
            </table>  

            <% if params[:entity_id].present? %>
                <%= form.hidden_field :entity_id, :value => params[:entity_id].to_i, class: "form-control" %>
            <% else %>
                <%= form.hidden_field :entity_id, :value => @entity.id if @entity.id.present? %>
            <% end %>                
  
            <div></br></div>
            <div>
                <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
                <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>
            </div> 
        </div> 

    <% end %>
<br>