<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @description_job do |form| %>
        <% @description_job.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>

        <table>
            <tr>
                <td>
                    <h4>Usuario Aprobó Cargo</h4> 
                    <%= DescriptionJob.name_user(@description_job.user_aprobo) %>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Firma autorizada del Usuario</h4> 
                    <%= form.radio_button :firm_aprobo, 0 %>
                    <label for="no">No</label>&nbsp;&nbsp; 
                    <%= form.radio_button :firm_aprobo, 1 %>
                    <label for="si">Si</label>&nbsp;&nbsp;   
                </td>
            </tr>
        </table>
        <%= form.hidden_field :date_firm_aprobo, :value => Time.now, class: "form-control" %>


        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>

