
<div  id="bodyencabezado" class="container col-12">   <nav class="navbar navbar-light">
      <div class="container">
         <div align="right"; class="container col-1">
            <a class="navbar-brand" href="/">
               <%= image_tag 'LogoConesst202305232.png',:width => "130",  :height=>"130" %>
            </a>
         </div>

         <div class="container col-6">
            <h2> <%=  t('.title')%></h2>
            <% if Current.user %>
               <p> Bienvenido(a): <%= Current.user.name %></p>
            <% end %>
         </div>

         <div margin-bottom: 10em; class="container col-3">
            <%= link_to t('.login'), new_session_path unless Current.user %>
            <%= link_to t('.register'), new_user_path unless Current.user %>
            <%= link_to t('.logout'), session_path(Current.user), data: { turbo_method: :delete, turbo_confirm: t('common.confirm')} if Current.user %>         
         </div> 

         <div class="container col-1">
            <% if Current.user %>
               <% if Current.user.avatar.attached? %>
                  <% if Current.user.avatar.image? %> 
                       <%= image_tag Current.user.avatar, data: {previews_target: "preview"}, class: "avatar-mini" %>
                  <% end %>
               <% else %> 
                  <%= image_tag("avatar.jpg", class: "avatar-mini") %>
               <% end %>
            <% end %> 
            </br>
            <div align="center"; >
            </br>
            <% if @cant_noti.present? %>
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-outline-primary position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal" >
              Notificaciones
               <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                 <%= @cant_noti %>+
                 <span class="visually-hidden">unread messages</span>
               </span>
   
            </button>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Notificaciones</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <table>
                        <tr>     
                           <td style="border:0px solid black; width: 25%"><strong>Origen</strong></td>
                           <td style="border:0px solid black; width: 25%"><strong>Empresa</strong></td>
                           <td style="border:0px solid black; width: 35%"><strong>Actividad</strong></td>
                           <td style="border:0px solid black; width: 15%"><strong>Fecha o Mes</strong></td>
                           <td style="border:0px solid black; width: 15%"><strong>Ver</strong></td>
                        </tr>    
                           
 
                           <% i = 0 %>
                           <% while i < @cant_noti %>
                              <% if @notificaciones[i][3] < Time.now %>
                                 <tr>    
                                    <td style="border:0px solid black; width: 25%;padding: 5px;color:#FF0000"><%= @notificaciones[i][0] %></td>
                                    <td style="border:0px solid black; width: 25%;padding: 5px;color:#FF0000"><%= @notificaciones[i][1] %></td>
                                    <td style="border:0px solid black; width: 35%;padding: 5px;color:#FF0000"><%= @notificaciones[i][2] %></td>
                                    <td style="border:0px solid black; width: 15%;padding: 5px;color:#FF0000"><%= @notificaciones[i][3] %></td>
                                    <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                    <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% end %>
                                 </tr>
                              <% end %>       
                              <% if @notificaciones[i][3] == Time.now %>
                                 <tr>    
                                    <td style="border:0px solid black; width: 25%;padding: 5px;color:#FFF00"><%= @notificaciones[i][0] %></td>
                                    <td style="border:0px solid black; width: 25%;padding: 5px;color:#FFF00"><%= @notificaciones[i][1] %></td>
                                    <td style="border:0px solid black; width: 35%;padding: 5px;color:#FFF00"><%= @notificaciones[i][2] %></td>
                                    <td style="border:0px solid black; width: 15%;padding: 5px;color:#FFF00"><%= @notificaciones[i][3] %></td>
                                    <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                    <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 

                                    <% end %>
                                 </tr>  
                              <% end %>       
                              <% if @notificaciones[i][3] > Time.now %>
                                 <tr>    
                                    <td style="border:0px solid black; width: 25%;padding: 5px;color:#008000"><%= @notificaciones[i][0] %></td>
                                    <td style="border:0px solid black; width: 25%;padding: 5px;color:#008000"><%= @notificaciones[i][1] %></td>
                                    <td style="border:0px solid black; width: 35%;padding: 5px;color:#008000"><%= @notificaciones[i][2] %></td>
                                    <td style="border:0px solid black; width: 15%;padding: 5px;color:#008000"><%= @notificaciones[i][3] %></td>
                                    <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                    <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                    <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                       <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 

                                    <% end %>
                                 </tr>  
                              <% end %>
                              <% i = i + 1 %>
                           <% end %>
                     </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
         </div>

      </div>
   </nav>
</div> 


