
<div  id="bodyencabezado" class="container" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;padding-top: 10px;", class="container col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5;">
   <div class="row" > 
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <a class="navbar-brand" href="/">
               <%= image_tag 'LogoConesst202305232.png',  :width => "130",  :height=>"130" %>
            </a>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-5 col-lg-5 col-xl-5">
            <h2> <%=  t('.title')%></h2>
            <% if Current.user %>
               <p> Bienvenido(a): <%= Current.user.name %></p>
               <p> Último ingreso: <%= Current.user.ultima_date_login %></p>
            <% end %>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-1 col-lg-1 col-xl-1">
            <%= link_to t('.login'), new_session_path unless Current.user %>
            <%= link_to t('.register'), new_user_path unless Current.user %>
            <a class="nav-link active" aria-current="page" href="/users/cambiar_clave/path" style="color: #0000FF; " text-left data-bs-toggle="tooltip" data-bs-placement="top" title="Cambio de clave">
               <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                   <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                  <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
               </svg>
            </a>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2 mb-3">
            <%= button_to t('.logout'), session_path(Current.user), class: 'btn btn-sm btn-primary rounded-pill', method: :delete, data: { data_turbo_confirm: t('common.confirm')} if Current.user %>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-2 col-lg-2 col-xl-2 text-center">
         <% if Current.user %>
            <% if Current.user.avatar.attached? %>
               <% if Current.user.avatar.image? %> 
                 <%= image_tag Current.user.avatar, data: {previews_target: "preview"}, class: "avatar-mini" %>
               <% end %>
            <% else %> 
               <%= image_tag("avatar.jpg", class: "avatar-mini") %>
            <% end %>
         <% end %> 
                  <div></br></div>

         <% if @cant_noti.present? %>
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-outline-primary position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal" >
               Notificaciones
               <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <%= @cant_noti %>+
                  <span class="visually-hidden">unread messages</span>
               </span>
            </button>
         <% end %>
      </div>

   </div>  
   <div class="row" >  
      <div align="right"; class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                     <div class="modal-header">
                       <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Notificaciones</strong></h1>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <table>
                           <tr>     
                              <td style="border:0px solid black; width: 25%"><strong>Origen</strong></td>
                              <td style="border:0px solid black; width: 25%"><strong>Empresa</strong></td>
                              <td style="border:0px solid black; width: 35%"><strong>Actividad</strong></td>
                              <td style="border:0px solid black; width: 15%"><strong>Fecha o Mes</strong></td>
                              <td style="border:0px solid black; width: 15%"><strong>Ver</strong></td>
                           </tr>    
                           
 
                           <% i = 0 %>
                           <% if @cant_noti.present? %>
                              <% while i < @cant_noti %>
                                 <% if @notificaciones[i][3] < Time.now %>
                                    <tr>    
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FF0000"><%= @notificaciones[i][0] %></td>
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FF0000"><%= @notificaciones[i][1] %></td>
                                       <td style="border:0px solid black; width: 35%;padding: 5px;color:#FF0000"><%= @notificaciones[i][2] %></td>
                                       <td style="border:0px solid black; width: 15%;padding: 5px;color:#FF0000"><%= @notificaciones[i][3] %></td>
                                       <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                       <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Citación" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", activity_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Moto" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", moto_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Automóvil" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", car_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% end %>
                                    </tr>
                                 <% end %>       
                                 <% if @notificaciones[i][3] == Time.now %>
                                    <tr>    
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FFF00"><%= @notificaciones[i][0] %></td>
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FFF00"><%= @notificaciones[i][1] %></td>
                                       <td style="border:0px solid black; width: 35%;padding: 5px;color:#FFF00"><%= @notificaciones[i][2] %></td>
                                       <td style="border:0px solid black; width: 15%;padding: 5px;color:#FFF00"><%= @notificaciones[i][3] %></td>
                                       <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                       <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Citación" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", activity_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Moto" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", moto_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Automóvil" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", car_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% end %>
                                    </tr>  
                                 <% end %>       
                                 <% if @notificaciones[i][3] > Time.now %>
                                    <tr>    
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#008000"><%= @notificaciones[i][0] %></td>
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#008000"><%= @notificaciones[i][1] %></td>
                                       <td style="border:0px solid black; width: 35%;padding: 5px;color:#008000"><%= @notificaciones[i][2] %></td>
                                       <td style="border:0px solid black; width: 15%;padding: 5px;color:#008000"><%= @notificaciones[i][3] %></td>
                                       <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                       <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Citación" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", activity_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Moto" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", moto_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Automóvil" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", car_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% end %>
                                    </tr>  
                                 <% end %>
                                 <% i = i + 1 %>
                              <% end %>   
                           <% end %>
                        </table>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>
      </div>
   </div>
</div> 


