
<div  id="bodyencabezado" class="container" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;padding-top: 10px;", class="container col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5;">
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-12 col-md-2 text-center mb-3 mb-md-0">
            <a class="navbar-brand d-inline-block" href="/">
               <%= image_tag 'LogoConesst202305232.png', width: 130, height: 130, class: "img-fluid" %>
            </a>
         </div>
         <div class="col-12 col-md-5 text-center text-md-start mb-3 mb-md-0">
             <h2><%= t('.title') %></h2>
             <% if Current.user %>
               <p class="mb-1">Bienvenido(a): <%= Current.user.name %></p>
               <p class="mb-0">Último ingreso: <%= Current.user.ultima_date_login %></p>
             <% end %>
         </div>
        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="d-flex justify-content-center align-items-center gap-3">
               <% if Current.user %>
                   <a href="/users/cambiar_clave/path" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Cambio de clave" aria-label="Cambio de clave">
                     <i class="bi bi-key-fill fs-1"></i>
                   </a>
                   <%= button_to session_path(Current.user), method: :delete, class: "btn btn-sm btn-primary rounded-pill", data: {turbo_confirm: t('common.confirm') } do %>
                     <i class="bi-box-arrow-right  me-1"></i>
                     <span class="d-inline"><%= t('.logout') %></span>
                   <% end %>
              <% else %>
                   <%= link_to t('.login'), new_session_path, class: "btn btn-sm btn-outline-primary" %> 
                   <%= link_to t('.register'), new_user_path, class: "btn btn-sm btn-primary" %>
              <% end %>
            </div>
        </div>
        <div class="col-12 col-md-2 text-center">
             <% if Current.user %>
                 <a href="/users/actualizar_datos/path" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar datos" aria-label="Actualizar datos">
                   <% if Current.user.avatar.attached? %>
                        <% if Current.user.avatar.image? %>
                             <%= image_tag Current.user.avatar, data: { previews_target: "preview" }, class: "avatar-mini img-fluid" %>
                        <% end %>
                   <% else %>
                     <%= image_tag "avatar.jpg", class: "avatar-mini img-fluid" %>
                   <% end %>
                 </a>
            <% end %>
       </div>
     </div>
   </div>


   <!-- ========================= -->
   <!-- TABLA PARA PC -->
   <!-- ========================= -->
   <div class="d-none d-lg-block">
      <div align="right"; class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-end">
         <% if @cant_noti.present? %>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Ver notificaciones">
              <button class="btn btn-sm btn-outline-primary position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Ver notificaciones">
                   <i class="bi bi-bell-fill me-1"></i>Notificaciones
                   <% if @cant_noti.to_i > 0 %>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <%= @cant_noti %>+
                        <span class="visually-hidden">Notificaciones sin leer</span>
                        </span>
                  <% end %>
              </button>
            </span>
         <% end %>
         &nbsp;&nbsp;&nbsp;
            <% if @cant_firma.present? %>
               <a class="btn btn-sm btn-outline-primary position-relative" href="firms/penfirma/1" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Firmar documentos" aria-label="Firmar documentos">
                 <i class="bi bi-pen-fill me-1"></i>Firmar documentos
                 <% if @cant_firma.to_i > 0 %>
                     <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <%= @cant_firma %>+
                        <span class="visually-hidden">Documentos pendientes por firma </span>
                     </span>
                  <% end %>
               </a>
            <% end %>
      </div>
   </div> 
   <!-- ========================= -->
   <!-- VERSION CELULAR -->
   <!-- ========================= -->
   <div class="d-lg-none">
      <div class="card-body">
         <div class="d-flex flex-column align-items-center gap-3">
            <% if @cant_noti.present? %>
               <div class="w-100 d-flex justify-content-center">
                   <span data-bs-toggle="tooltip" data-bs-placement="top" title="Ver notificaciones">
                      <button type="button" class="btn btn-sm btn-outline-primary position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Ver notificaciones">
                        <i class="bi bi-bell-fill me-1"></i>Notificaciones
                        <% if @cant_noti.to_i > 0 %>
                             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                  <%= @cant_noti %>+
                                  <span class="visually-hidden">Notificaciones sin leer</span>
                           </span>
                        <% end %>
                     </button>
                   </span>
              </div>
            <% end %>
            <% if @cant_firma.present? %>
               <div class="w-100 d-flex justify-content-center">
                   <a class="btn btn-sm btn-outline-primary position-relative" href="firms/penfirma/1" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Firmar documentos" aria-label="Firmar documentos">
                      <i class="bi bi-pen-fill me-1"></i>Firmar documentos
                         <% if @cant_firma.to_i > 0 %>
                             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                               <%= @cant_firma %>+
                                 <span class="visually-hidden">Documentos pendientes por firma</span>
                              </span>
                           <% end %>
                   </a>
               </div>
            <% end %>
       </div>
     </div>
   </div>
   
   <div class="row" >  
      <div align="right"; class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                     <div class="modal-header">
                       <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Notificaciones</strong></h1>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <table>
                           <tr>     
                              <td style="border:0px solid black; width: 25%"><strong>Origen</strong></td>
                              <td style="border:0px solid black; width: 25%"><strong>Empresa</strong></td>
                              <td style="border:0px solid black; width: 35%"><strong>Actividad</strong></td>
                              <td style="border:0px solid black; width: 15%"><strong>Fecha o Mes</strong></td>
                              <td style="border:0px solid black; width: 15%"><strong>Ver</strong></td>
                           </tr>    
                           
 
                           <% i = 0 %>
                           <% if @cant_noti.present? %>
                              <% while i < @cant_noti %>
                                 <% if @notificaciones[i][3] < Time.now %>
                                    <tr>    
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FF0000"><%= @notificaciones[i][0] %></td>
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FF0000"><%= @notificaciones[i][1] %></td>
                                       <td style="border:0px solid black; width: 35%;padding: 5px;color:#FF0000"><%= @notificaciones[i][2] %></td>
                                       <td style="border:0px solid black; width: 15%;padding: 5px;color:#FF0000"><%= @notificaciones[i][3] %></td>
                                       <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                       <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Citación" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", activity_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Moto" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", moto_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Automóvil" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", car_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Solicitud de EPP" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_epp_recuest_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Extintor" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", adm_extinguisher_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% end %>
                                    </tr>
                                 <% end %>       
                                 <% if @notificaciones[i][3] == Time.now %>
                                    <tr>    
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FFF00"><%= @notificaciones[i][0] %></td>
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#FFF00"><%= @notificaciones[i][1] %></td>
                                       <td style="border:0px solid black; width: 35%;padding: 5px;color:#FFF00"><%= @notificaciones[i][2] %></td>
                                       <td style="border:0px solid black; width: 15%;padding: 5px;color:#FFF00"><%= @notificaciones[i][3] %></td>
                                       <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                       <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Citación" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", activity_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Moto" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", moto_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Automóvil" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", car_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Solicitud de EPP" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_epp_recuest_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Extintor" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", adm_extinguisher_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% end %>
                                    </tr>  
                                 <% end %>       
                                 <% if @notificaciones[i][3] > Time.now %>
                                    <tr>    
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#008000"><%= @notificaciones[i][0] %></td>
                                       <td style="border:0px solid black; width: 25%;padding: 5px;color:#008000"><%= @notificaciones[i][1] %></td>
                                       <td style="border:0px solid black; width: 35%;padding: 5px;color:#008000"><%= @notificaciones[i][2] %></td>
                                       <td style="border:0px solid black; width: 15%;padding: 5px;color:#008000"><%= @notificaciones[i][3] %></td>
                                       <% if @notificaciones[i][0] == "Plan anual de trabajo" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_annual_work_plan_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td>
                                       <% elsif @notificaciones[i][0] == "Matriz de Peligros y Riesgos" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_danger_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz ACPM" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_action_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Matriz Actos y Condiciones Inseguras" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_matrix_unsafe_item_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Compromiso Acta de Reunión COPASST - VIGÍA" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_commitment_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Citación" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", activity_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Moto" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", moto_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Lista Chequeo Automóvil" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", car_checklist_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Solicitud de EPP" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", edit_epp_recuest_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% elsif @notificaciones[i][0] == "Extintor" %>
                                          <td style="border:0px solid black"><%= link_to "Ver", adm_extinguisher_path(@notificaciones[i][4]), class: 'btn btn-sm btn-primary'  %></td> 
                                       <% end %>
                                    </tr>  
                                 <% end %>
                                 <% i = i + 1 %>
                              <% end %>   
                           <% end %>
                        </table>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>
      </div>
   </div>
</div> 


