<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @training_item do |form| %>
        <% @training_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    

        <div class="form-group"> 
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar el tema de la capacitación."><%= t('.training_topic') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :training_topic,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar el tiempo de la capacitación en minutos ejemplo: 20 minutos."><%= t('.duration') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :duration,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Especificar el objetivo de la capacitación que se va a realizar."><%= t('.goals') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :goals,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar el alcance de la capacitación que se va a realizar."><%= t('.scope') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :scope ,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar los recursos."><%= t('.resources') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :resources,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar los recursos."><%= t('.responsible') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :responsible,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar la fecha en que se programa la capacitación."><%= t('.date_training') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.date_field :date_training,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar el porcentaje de covertura en capacitación."><%= t('.training_coverage_percentage') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.number_field :training_coverage_percentage,  class: "form-control", step: 0.01 %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Indicar el porcentaje de trabajadores capacitados."><%= t('.percentage_trained_workers') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.number_field :percentage_trained_workers,  class: "form-control", step: 0.01 %>
        </div>

        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Observaciones."><%= t('.observation') %> <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :observation,  class: "form-control" %>
        </div>

        <br>  
        <div class="form-group">   
            <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        </div>    
    <% end %>
    <hr>
</div>        
