<% if @entity.present? %>
    <h class="display-6"><%= @entity.business_name %> Nit: <%=@entity.identification_number %></h>
<% end %>

<div>
    <%= link_to t('common.new_admin_extent_danger'), crear_admin_extent_admin_extent_dangers_path, class: 'btn btn-sm btn-outline-primary' %></td>
</div>
<div></br></div>
<% if @admin_extent_dangers.present? %>
    <table class="table table-hover">
        <thead> 
            <tr>    
                <th style="border:1px solid black;" scope="col"><%= t('.id') %></th>
                <th style="border:1px solid black;" scope="col"><%= t('.date_creation') %></th>
                <th style="border:1px solid black;" scope="col"><%= t('.state_extent') %></th>
                <th style="border:1px solid black;" scope="col"><%= t('.entity_id') %></th>
                <th style="border:1px solid black;" scope="col"><%= t('.user_id') %></th>
                <th style="border:1px solid black;text-align:center;" scope="col"> Cargo</th>
            </tr>
        </thead>
        <tbody>  
                <% @admin_extent_dangers.each do |admin_extent_danger| %>
                    <tr>
                        <td style="border:1px solid black"><%= admin_extent_danger.id %></td>
                        <td style="border:1px solid black"><%= admin_extent_danger.date_creation %></td>
                        <td style="border:1px solid black"><%= admin_extent_danger.label_state_extent(admin_extent_danger.state_extent) %></td>
                        <td style="border:1px solid black"><%= admin_extent_danger.entity.business_name %></td>
                        <td style="border:1px solid black"><%= admin_extent_danger.user.name %></td>
                        <td style="border:1px solid black"><%= admin_extent_danger.post %></td>
                    </tr>
                <% end %>
        </tbody>      
    </table>
<% end %>
<hr>

