<div class="container col-10 card p-5">
    <br>

    <div class="col-sm-12 p-3 mb-4 bg-info text-dark"  >    
        <div class="row text-center">
            <h4>PELIGRO / RIESGO</h4> </br>
            <h5><%= @form_prevention.clasification_danger.name if @form_prevention.present? %></h5>

            <h4>DESCRIPCIÓN PELIGRO / RIESGO</h4> </br>
            <h5><%= @form_prevention.clasification_danger_detail.name if @form_prevention.present? %></h5>

            <div>N/A: No Aplica   /   ELI: Eliminación / SUS: Sustitución / CI: Controles de Ingeniería / CA: Controles Administrativos / EPP: Elementos de Protección Personal</div>

        </div> 
        <div></br></div>   
        <div>
            <%= form_with model: @form_prevention do |form| %>
                <% @form_prevention.errors.full_messages.each do |error| %>
                    <div class="alert alert-danger" role="alert">
                        <%= error%> <%= alert %>
                    </div>
                <% end %>  
                        <div style="text-align:center;border:0px solid black;width: 100%;"> 
                            <%= form.label :eli,  style: "display: block" %> 
                            <%= form.radio_button :eli, 0 %>
                            <label for="no_aplica">N/A</label>
                            <%= form.radio_button :eli, 1 %>
                            <label for="eliminacion">ELI</label>
                            <%= form.radio_button :eli, 2 %>
                            <label for="sustitucion">SUS</label>
                            <%= form.radio_button :eli, 3 %>

                            <label for="controlesingenieria">CI</label>
                            <%= form.radio_button :eli, 4 %>
                            <label for="controlesadiministrativos">CA</label>
                            <%= form.radio_button :eli, 5 %>
                            <label for="elementospp">EPP</label>
                        </div>
                        <div></br></div>
                        <div style="text-align:center;"> 
                            <button type="submit" class="btn btn-sm btn-outline-dark"><%=t('common.submit')%></button> 
                            <%= link_to '<button class="btn btn-sm btn-outline-dark" type="button">Retornar</button>'.html_safe, :back %>
                        </div>
            <% end %>    
        </div>
    </div>
    <br>  
</div>        
<br>
