<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @type_condition_inspection do |form| %>
        <% @type_condition_inspection.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <br/>    
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>
        <br/>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, templates_path %>
    <% end %>
</div>        
<br>