<!-- render 'shared/header2' -->
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div>
        </div>
        <div class="container">
            <%= link_to t('.create_type_condition_inspection'), new_type_condition_inspection_path, class: 'btn btn-sm btn-primary'  %> 
        </div>
        <hr>
    <table class="table table-hover">
        <thead> 
            <tr>
                <th scope="col"><%= t('.id') %></th>
                <th scope="col"><%= t('.name') %></th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'type_condition_inspection', collection: @type_condition_inspections  %>  
        </tbody>      
    </table>
</div>