<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<br>

<table style="border:0px solid black; width: 100%">
    <tr>
        <td rowspan="2" style="border:1px solid black; width: 20%; text-align:center">
            <% if @survey_profile.entity.logo.present? then %>
                <%=  image_tag  @survey_profile.entity.logo, class: "image_peq" %>
            <% end %>   
        </td>
        <td style="border:1px solid black; text-align:center">
            <div class="col-10"><h6><%= @survey_profile.entity.business_name if @survey_profile.present? %></h6></div>
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; text-align:center">
            <div class="col-10"><h6><%= @template.name if @template.present? %></h6></div>
        </td>
    </tr>
</table>
<table style="width: 100%">
    <tr>    
        <td style="border:1px solid black; width: 25%">
            <h6>CÓDIGO: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.reference if @template.present? %></small></h6>                
        </td>

        <td style="border:1px solid black; width: 25%">
            <h6>VERSIÓN: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.version if @template.present? %></small></h6>                
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; width: 25%">
            <h6>FECHA DE ELABORACIÓN: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.date if @template.present? %></small></h6>                
        </td>

        <td style="border:1px solid black; width: 25%">
            <h6>FECHA DE ACTUALIZACIÓN: </h6>                
        </td>
        <td style="border:1px solid black; width: 25%">
            <h6>&nbsp;&nbsp;<small class="text-muted"><%= @template.date_updated if @template.present? %></small></h6>                
        </td>
    </tr>
</table>

<div> 
   
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

    <div class="row text-center">
                <h2><%= @survey_profile.entity.business_name if @survey_profile.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>

    <div class="row text-center">
        <h2><%= @survey_profile.entity.identification_number if @survey_profile.present? %></h2>
    </div>

    <div><br></div>
    <div><br></div>
    <div class="row text-center">
        <h2>ESTUDIO SOCIODEMOGRÁFICO </h2>
    </div>

    <div><br></div>

    <div class="row text-center">
        <h4><%= @survey_profile.date_profile if @survey_profile.present? %></h4>
    </div>

    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
                
    
    <div class="row text-center">
        <strong>INFORMACIÓN GENERAL DE LA EMPRESA</strong>
    </div>
    <div><br></div>
    <table> 
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>RAZÓN SOCIAL:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @survey_profile.entity.business_name if @survey_profile.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>NIT:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @survey_profile.entity.identification_number if @survey_profile.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>DIRECCIÓN:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @survey_profile.entity.entity_address if @survey_profile.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>TELÉFONO:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @survey_profile.entity.phone_number_entity if @survey_profile.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>CIUDAD/DEPARTAMENTO:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @administrative_political_division.municipality_name if @administrative_political_division.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>REPRESENTANTE LEGAL:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @survey_profile.entity.first_name_legal_representative + ' ' +  @survey_profile.entity.second_name_legal_representative + ' ' + @survey_profile.entity.surname_legal_representative + ' ' + @survey_profile.entity.second_surname_legal_representative if @survey_profile.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>CENTROS DE TRABAJO:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @cantidadsedes if @cantidadsedes.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>RESPONSABLE DEL SG-SST:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @responsablesst.name if @responsablesst.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>PAGO:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= Entity.label_pay(@survey_profile.entity.pay_entity) if @survey_profile.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>ACTIVIDAD ECONÓMICA:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @economic_activity.economic_activity_description if @economic_activity.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>ARL:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%= @arl.name if @arl.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>CLASE DE RIESGO ASIGNADO POR LA ARL:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
                <%=  @claseriesgo.name if @claseriesgo.present? %>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid black;width: 30%;background-color: #00aae4;padding: 5px;">
                <strong>CONTEXTO DE LA ORGANIZACIÓN:</strong>
            </td>
            <td style="border:1px solid black;width: 70%;padding: 5px;">
               <%=  @survey_profile.entity.objeto_entity if @survey_profile.present? %>
            </td>
        </tr>
    </table> 
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>OBJETIVO </strong>
            </div>
        </div>
    </div>
    <table> 
        <tr>
            <td style="text-align:justify">
                Documentar los criterios que permitan elaborar el diagnóstico de condiciones de salud y perfil sociodemográfico de la población trabajadora en <%= @survey_profile.entity.business_name if @survey_profile.entity.present? %> con el fin de priorizar las diversas variables que se deban intervenir, a través de la promoción y prevención en la salud en el trabajo, de acuerdo con los hallazgos identificados.
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>ALCANCE </strong>
            </div>
        </div>
    </div>
    <table> 
        <tr>
            <td style="text-align:justify">
            Inicia con la recopilación de los insumos necesarios para elaborar el diagnóstico de las condiciones de salud y perfil sociodemográfico, empleando una encuesta de perfil sociodemográfico, terminando con la elaboración, socialización y divulgación del informe. El proceso aplica para todos los empleados y/o colaboradores de <%= @survey_profile.entity.business_name if @survey_profile.entity.present? %>.
            </td>
        </tr>
        <tr><td><br></td></tr>                
    </table>
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>MARCO NORMATIVO </strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <table style="width: 100%">
        <ul>
            <tr>
                <td style="text-align:justify">
                    <div class="row"> 
                        <div class="col-11">
                            <li>Decreto 1072 del 26 de mayo del 2015, artículo 2.2.4.6.20 numeral 9 "La existencia-de un procedimiento para efectuar el diagnóstico de las condiciones de salud de los trabajadores, para la definición de las prioridades de control e intervención".</li>
                        </div>
                    </div>
                </td>    
            </tr>    
        </ul>
        <ul>
            <tr>
                <td style="text-align:justify">
                    <div class="row"> 
                        <div class="col-11">
                            <li>Resolución 2346 del 11 de julio de 2007, Expedido por el Ministerio de la Protección Social. "Por la cual se regula la práctica de evaluaciones médicas ocupacionales y el manejo del contenido de las historias clínicas ocupacionales".</li>
                        </div>
                    </div>
                </td>    
            </tr>    
        </ul>
        <ul>
            <tr>
                <td style="text-align:justify">
                    <div class="row"> 
                        <div class="col-11">
                            <li>Resolución 0312 de 2019, estándares mínimos en el ciclo Hacer del “PHVA”, estándar condiciones de salud en el trabajo, en los Ítems 3.1.1 “descripción sociodemográfica. Diagnóstico de condiciones de salud”, y 3.1.2 “Actividades de Promoción y Prevención”.</li>
                        </div>
                    </div>
                </td>    
            </tr>    
        </ul>
    </table>
    <div><br></div>
    <div class="row">
        <div class="col-11 text-center">
            <div class="row">
                <strong>ESTUDIO SOCIODEMOGRÁFICO: VARIABLES ANALIZADAS</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>1. GÉNERO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    
    <% if @datos_genero.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">GENERO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_genero.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelgenero(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_genero)]) if @cant_genero > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%= @cant_genero %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "GÉNERO", download: {filename: "Género"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_genero.present? %>
            </div>             
        </div>
    <% end %>
    <div><br></div>

    <div class="row">
        <div>
            <div class="row">
                <strong>2. EDAD</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_edad.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">EDAD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_edad.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labeledad(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_edad)]) if @cant_edad > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_edad  %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "EDAD", download: {filename: "Edad"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_edad.present? %>
            </div>             
        </div>
    <% end %>    
    <div><br></div>


    <div class="row">
        <div>
            <div class="row">
                <strong>3. ESTADO CIVIL</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    
    <% if @datos_estado_civil.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">ESTADO CIVIL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_estado_civil.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelestadocivil(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_estado_civil )]) if @cant_estado_civil > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_estado_civil if @cant_estado_civil.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "ESTADO CIVIL", download: {filename: "Estado Civil"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_estado_civil.present? %>
            </div>             
        </div>
    <% end %>    
    <div><br></div>

    <div class="row">
        <div>
            <div class="row">
                <strong>4. TIENE HIJOS</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_hijos.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">TIENE HIJOS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_hijos.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelhijos(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_hijos)]) if @cant_hijos > 0 %> 
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_hijos if @cant_hijos.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "TIENE HIJOS", download: {filename: "TIENE HIJOS"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_hijos.present? %>
            </div>             
        </div>
    <% end %>    

    <div class="row">
        <div>
            <div class="row">
                <strong>5. NÚMERO DE HIJOS</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_numero_hijos.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">NÚMERO DE HIJOS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_numero_hijos.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelnumerohijos(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_numero_hijos)]) if @cant_numero_hijos > 0 %> 
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_numero_hijos if @cant_numero_hijos.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "NÚMERO DE HIJOS", download: {filename: "NÚMERO DE HIJOS"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_numero_hijos.present? %>
            </div>             
        </div>
    <% end %>    

    <div class="row">
        <div>
            <div class="row">
                <strong>6. PERSONAS A CARGO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_personas_cargo.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">PERSONAS A CARGO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_personas_cargo.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelpersonasacargo(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_personas_cargo)]) if @cant_personas_cargo > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_personas_cargo if @cant_personas_cargo.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "PERSONAS A CARGO", download: {filename: "PERSONAS A CARGO"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_personas_cargo.present? %>
            </div>             
        </div>
    <% end %>  
    
    
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>7. CIUDAD-MUNICIPIO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_ciudad.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">CIUDAD - MUNICIPIO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_ciudad.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelciudad(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_ciudad)]) if @cant_ciudad > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_ciudad if @cant_ciudad.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "CIUDAD - MUNICIPIO", download: {filename: "Ciudad - Municipio"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_ciudad.present? %>
            </div>             
        </div>
    <% end %> 
    
    
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>8. TENENCIA DE VIVIENDA</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_vivienda.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">TENENCIA DE VIVIENDA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_vivienda.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelvivienda(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_vivienda)]) if @cant_vivienda > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_vivienda if @cant_vivienda.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "TENENCIA DE VIVIENDA", download: {filename: "Tenencia de Vivienda"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_vivienda.present? %>
            </div>             
        </div>
    <% end %>    

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>9. ESTRATO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_estrato.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">ESTRATO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_estrato.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelestrato(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_estrato)]) if @cant_estrato > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_estrato if @cant_estrato.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "ESTRATO", download: {filename: "Estrato"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_estrato.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>10. NIVEL DE ESCOLARIDAD</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_nivel.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">NIVEL DE ESCOLARIDAD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_nivel.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelnivel(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_nivel )]) if @cant_nivel > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_nivel if @cant_nivel.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "NIVEL DE ESCOLARIDAD", download: {filename: "Nivel de Escolaridad"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_nivel.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>11. PROMEDIO SALARIO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_salario.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">PROMEDIO SALARIO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_salario.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelsalario(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_salario)]) if @cant_salario > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_salario if @cant_salario.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "PROMEDIO SALARIO", download: {filename: "Promedio Salario"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_salario.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>12. TIPO DE CONTRATO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_contrato.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">TIPO DE CONTRATO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_contrato.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelcontrato(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_contrato)]) if @cant_contrato > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_contrato if @cant_contrato.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "TIPO DE CONTRATO", download: {filename: "Tipo de Contrato"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_contrato.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>13. TURNO DE TRABAJO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_turno_trabajo.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">TURNO DE TRABAJO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_turno_trabajo.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelturno(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_turno_trabajo)]) if @cant_turno_trabajo > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_turno_trabajo if @cant_turno_trabajo.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "TURNO DE TRABAJO", download: {filename: "TURNO DE TRABAJO"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_turno_trabajo.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>14. ENTIDAD BANCARIA</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_banco.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">ENTIDAD BANCARIA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_banco.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelbanco(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_banco)]) if @cant_banco > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_banco if @cant_banco.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "ENTIDAD BANCARIA", download: {filename: "ENTIDAD BANCARIA"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_banco.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>15. SERVICIOS BÁSICOS</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_servicios.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">SERVICIOS BÁSICOS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_servicios.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelservicios(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_servicios)]) if @cant_servicios > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_servicios if @cant_servicios.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "SERVICIOS BÁSICOS", download: {filename: "SERVICIOS BÁSICOS"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_servicios.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>16. EPS</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_eps.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">EPS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_eps.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labeleps(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_eps)]) if @cant_eps > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_eps if @cant_eps.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "EPS", download: {filename: "EPS"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_eps.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>17. FONDO DE PENSIÓN</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_pension.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-11">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">FONDO DE PENSIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_pension.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelpension(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_pension)]) if @cant_pension > 0%>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_pension if @cant_pension.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div></br></div>
            <div class="col-sm-11">
                <%= pie_chart  @datosg, title: "FONDO DE PENSIÓN", download: {filename: "Fondo de Pensión"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_pension.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>18. ARL</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_arl.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">ARL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_arl.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelarl(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_arl)])  if @cant_arl > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_arl if @cant_arl.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "ARL", download: {filename: "ARL"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_arl.present? %>
            </div>             
        </div>
    <% end %> 

    
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>19. FONDO DE CESANTÍAS</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_cesantia.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">FONDO DE CESANTÍAS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_cesantia.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelcesantia(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_cesantia)]) if @cant_cesantia > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_cesantia if @cant_cesantia.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "CESANTÍA", download: {filename: "Cesantía"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_cesantia.present? %>
            </div>             
        </div>
    <% end %>     


    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>20. ¿Vive con personas que tengan alguna discapacidad?</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_discapacidad.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">¿Vive con personas que tengan alguna discapacidad?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_discapacidad.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labeldiscapacitadas(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_discapacidad)])  if @cant_discapacidad > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_discapacidad if @cant_discapacidad.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "¿Vive con personas que tengan alguna discapacidad?", download: {filename: "DISCAPACIDAD"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_discapacidad.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>21. TIPO DE DISCAPACIDAD</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_tipo_discapacidad.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">TIPO DE DISCAPACIDAD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_tipo_discapacidad.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labeltipodiscapacitadas(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_tipo_discapacidad)])  if @cant_tipo_discapacidad > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_tipo_discapacidad if @cant_tipo_discapacidad.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "TIPO DE DISCAPACIDAD", download: {filename: "TIPO DE DISCAPACIDAD"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_tipo_discapacidad.present? %>
            </div>             
        </div>
    <% end %> 
    
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>22. USO DEL TIEMPO LIBRE</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_tiempo.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">USO DEL TIEMPO LIBRE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_tiempo.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labeltiempo(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_tiempo)]) if @cant_tiempo > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_tiempo if @cant_tiempo.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "USO DEL TIEMPO LIBRE", download: {filename: "Uso Tiempo Libre"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_tiempo.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>23. LE HAN DIAGNOSTICADO ALGUNA ENFERMEDAD</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_enfermedad.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">LE HAN DIAGNOSTICADO ALGUNA ENFERMEDAD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_enfermedad.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelenfermedad(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_enfermedad)]) if @cant_enfermedad > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_enfermedad if @cant_enfermedad.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "LE HAN DIAGNOSTICADO ALGUNA ENFERMEDAD", download: {filename: "Diagnosticado Enfermedad"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_enfermedad.present? %>
            </div>             
        </div>
    <% end %> 
   
    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>24. FUMA</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_fuma.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">FUMA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_fuma.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelfuma(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_fuma)]) if @cant_fuma > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_fuma if @cant_fuma.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "FUMA", download: {filename: "Fuma"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_fuma.present? %>
            </div>             
        </div>
    <% end %> 


    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>25. CUAL CIGARRILLO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_cual_fuma.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">CUAL CIGARRILLO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_cual_fuma.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelcualcigarrillo(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_cual_fuma)]) if @cant_cual_fuma > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_cual_fuma if @cant_cual_fuma.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "CUAL CIGARRILLO", download: {filename: "CUAL CIGARRILLO"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_cual_fuma.present? %>
            </div>             
        </div>
    <% end %> 



    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>26. CONSUME BEBIDAS ALCOHÓLICAS</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_bebida.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">CONSUME BEBIDAS ALCOHÓLICAS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_bebida.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelbebida(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_bebida)]) if @cant_bebida > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_bebida if @cant_bebida.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "CONSUME BEBIDAS ALCOHÓLICAS", download: {filename: "Bebidas"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_bebida.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>27. PRACTICA ALGÚN DEPORTE</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_deporte.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">PRACTICA ALGÚN DEPORTE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_deporte.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labeldeporte(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_deporte)]) if @cant_deporte > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_deporte if @cant_deporte.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "PRACTICA ALGÚN DEPORTE", download: {filename: "Deporte"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_deporte.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>28. TIPO DE SANGRE</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_sangre.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">TIPO DE SANGRE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_sangre.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelsangre(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_sangre)]) if @cant_sangre > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_sangre if @cant_sangre.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "TIPO DE SANGRE", download: {filename: "Tipo Sangre"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_sangre.present? %>
            </div>             
        </div>
    <% end %> 

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>29. ÁREA DE TRABAJO</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_area.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">ÁREA DE TRABAJO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_area.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelarea(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_area)]) if @cant_area > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_area if @cant_area.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "AREA", download: {filename: "Area"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_area.present? %>
            </div>             
        </div>
    <% end %>     

    <div><br></div>
    <div class="row">
        <div>
            <div class="row">
                <strong>30. MEDIO DE TRANSPORTE</strong>
            </div>
        </div>
    </div>
    <div><br></div>
    <% if @datos_transporte.present? %>
        <% @datosg = [] %>        
        <div class="row g-2">
            <div class="col-sm-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2"; style="text-align:center;border:1px solid black;background-color: #00aae4">MEDIO DE TRANSPORTE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @datos_transporte.each do |dato| %>
                            <tr>
                                <td style="text-align:justify;border:1px solid black;">
                                    <% dato[0] = Profile.labelmediotransporte(dato[0]) %>
                                    <% @datosg.push([dato[0], ((dato[1]*100) / @cant_transporte)]) if @cant_transporte > 0 %>
                                    <%=  dato[0] %>
                                </td>    
                                <td style="text-align:center;border:1px solid black;">
                                    <%=  dato[1] %>
                                </td>    
                            </tr>    
                        <% end %>
                        <tr>
                            <td style="text-align:justify;background-color: #00aae4;border:1px solid black;">
                                Total
                            </td>    
                            <td style="text-align:center;background-color: #00aae4;border:1px solid black;">
                                <%=  @cant_transporte if @cant_transporte.present? %>
                            </td>    
                        </tr>    
                    </tbody %>
                </table>        
    
            </div>
            <div class="col-sm-6">
                <%= pie_chart  @datosg, title: "MEDIO DE TRANSPORTE", download: {filename: "MEDIO DE TRANSPORTE"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de acción", ytitle: "Cantidad", prefix: "Cantidad: ", suffix: "%" if @datos_transporte.present? %>
            </div>             
        </div>
    <% end %>     


    <div><br></div>
    <div><br></div>
    <div class="row"><br></div>
    <table style="width: 100%">
        <tr>    
            <td style="border:0px solid black; width: 50%; text-align:center">
                        <div class="row  text-center"> 
                            <div class="col-11">
                                <div>Elaboró:</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <% if @survey_profile.firm_elaboro == 1 %>
                                   <% if @user_elaboro.firm.attached? %>
                                      <% if @user_elaboro.firm.image? %> 
                                           <%= image_tag @user_elaboro.firm, class: "firma" %>
                                            <p align="center">________________________________</p>
                                      <% end %>
                                    <% end %>
                                <% else %>    
                                    <p align="center">________________________________</p>
                                 <% end %>     
                            </div>
                           <div class="col-11">
                                <div class="row">
                                    <h6><strong><%= @user_elaboro.name %></strong></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6>Asesor SG-SST</h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><%= @user_elaboro.document.abbreviation %>: <%= Firm.miles(@user_elaboro.nro_document) %></h6>
                                </div>
                            </div>
                        </div>
                        <br>
            </td>
            <td style="border:0px solid black; width: 50%; text-align:center">
                        <div class="row  text-center"> 
                            <div class="col-11">
                                <div>Aprobó:</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <% if  @survey_profile.firm_aprobo == 1 %>
                                   <% if @user_aprobo.firm.attached? %>
                                      <% if @user_aprobo.firm.image? %> 
                                           <%= image_tag @user_aprobo.firm, class: "firma" %>
                                            <p align="center">________________________________</p>
                                      <% end %>
                                    <% end %>
                                <% else %>    
                                    <p align="center">________________________________</p>
                                 <% end %>     
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><strong><%= @user_aprobo.name %></strong></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6>Representante Legal</h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><%= @user_aprobo.document.abbreviation %>: <%= Firm.miles(@user_aprobo.nro_document) %></h6>
                                </div>
                            </div>
            
                        </div>
                        <br>
            </td>
        </tr>
    </table>
    

</div>