<tr>
    <td><%= event.date_new %></td>
    <td><%= event.user.name %></td>
    <td><%= event.entity.business_name %></td>
    <td style="text-align:center;"><%= Event.labelsino(event.work_accident) %></td>
    <td style="text-align:center;"><%= Event.labelsino(event.mortal_accident) %></td>
    <td style="text-align:center;"><%= Event.labelsino(event.occupational_disease) %></td>
    <td><%= link_to t('common.show'), event, class: 'btn btn-sm btn-primary' %></td>
    <td><%= link_to t('common.edit'), edit_event_path(event), class: 'btn btn-sm btn-secondary'  %></td>
    <td><%= button_to "Delete", event, method: :delete, class:"btn btn-sm btn-danger"  if Current.user.level > 0 &&  Current.user.level < 3 %></td>
</tr>

