<tr>
    <td><%= event.date_new %></td>
    <td><%= event.user.name %></td>
    <td><%= event.entity.business_name %></td>
    <td><%= link_to t('common.show'), event, class: 'btn btn-xs btn-primary' %></td>
    <td><%= link_to t('common.edit'), edit_event_path(event), class: 'btn btn-xs btn-secondary'  %></td>
    <td><%= link_to t('common.delete'), event, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar la novedad?' }, class: 'btn btn-xs btn-danger' %></td>
</tr>
