<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @event do |form| %>
        <% @event.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    

        <div class="row g-3">
            <div class="col-sm-8">
                <%= form.label :entity_id, style: "display: block" %>
                <%= form.collection_select :entity_id, Entity.all.order(id: :asc), :id, :business_name, { prompt: '--Seleccionar--' },
                { class: 'form-control input-sm select2' } %>
            </div>        
            <div class="col-sm-3">
                <%= form.label :date_new, style: "display: block" %>
                <%= form.date_field :date_new,  class: "form-control" %>
            </div>        
        </div>   
        <br>
        <div class="row g-3">
            <div class="col-sm-11">
                <%= form.label :user_id, style: "display: block" %>
                <%= form.collection_select :user_id, User.all.order(id: :asc), :id, :name, { prompt: '--Seleccionar--' },
                { class: 'form-control input-sm select2' } %>
            </div>        
        </div>   
        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :work_accident, style: "display: block" %>
                <%= form.radio_button :work_accident, 0 %>
                <label for="no_accidente_trabajo">NO</label>
                <%= form.radio_button :work_accident, 1 %>
                <label for="si_accidente_trabajo">SI</label>
            </div>        
            <div class="col-sm-4">
                <%= form.label :mortal_accident, style: "display: block" %>
                <%= form.radio_button :mortal_accident, 0 %>
                <label for="no_accidente_mortal">NO</label>
                <%= form.radio_button :mortal_accident, 1 %>
                <label for="si_accidente_mortal">SI</label>
            </div>        
            <div class="col-sm-3">
                <%= form.label :occupational_disease, style: "display: block" %>
                <%= form.radio_button :occupational_disease, 0 %>
                <label for="no_enfermedad_profesional">NO</label>
                <%= form.radio_button :occupational_disease, 1 %>
                <label for="si_enfermedad_profesional">SI</label>
            </div>        
        </div>   
        <br>
        <div class="col-sm-11">
                <%= form.label :affected_body,  style: "display: block" %>
                <%= form.select(:affected_body, [['Sin clasificar', 0], ['Cerebro', 1], ['Oído (s)  externo', 2], ['Oído (s)  interno (incluyendo la audición)', 3], ['Ojo (s) (incluye nervios ópticos y visión)', 4], ['Párpado', 5], ['Mandíbula (incluyendo el mentón)', 6], ['Boca (incluye labios, diente, lengua, garganta y sentido del gusto)', 7], ['Mejilla', 8], ['Nariz (incluye fosas nasales, senos y sentido del olfato)', 9], ['Ceja', 10], ['Cara, partes múltiples (cualquier combinación de las partes arriba citadas)', 11], ['Cara, no identificada en otra parte', 12], ['Cuero cabelludo', 13], ['Cráneo (incluye solamente lesiones óseas de la bóveda y la base craneal sin compromiso cerebral', 14], ['Cabeza, múltiple, cualquier combinación de las partes anteriores', 15], ['Cabeza no identificada en otra parte', 16], ['Cuello (incluye columna cervical y médula espinal correspondiente)', 17], ['Brazo', 18], ['Hombro', 19], ['Codo', 20], ['Antebrazo', 21], ['Extremidades superiores (cualquier combinación de las partes anteriores)', 22], ['Extremidades superiores (arriba de la muñeca), no identificada en otra parte', 23], ['Muñecas', 24], ['Mano (excluyendo la muñeca y los dedos)', 25], ['Mano,  incluyendo dedos', 26], ['Dedo (s)', 27], ['Extremidades superiores, múltiples (cualquier combinación de las partes anteriores)', 28], ['Extremidades superiores, no identificada en otra parte', 29], ['Abdomen (incluye órganos internos y sus hernias)', 30], ['Espalda (incluye músculos de la espalda, columna, dorso lumbar, región lumbar y médula espinal)', 31], ['Tórax (incluye costillas, esternón y órganos internos del tórax)', 32], ['Caderas (incluye pelvis, órganos pélvicos y nalgas,  escroto, coxis, pubis, sacro, ilíaco y órganos genitales)', 33], ['Hombros (incluye axila)  región escapular,  omoplato y clavícula', 34], ['Tronco, múltiples (cualquier combinación de las partes anteriores)', 35], ['Tronco,  no identificada en otra parte', 36], ['Muslo', 37], ['Rodilla (incluye región poplítea),  corva', 38], ['Pierna  (entre la rodilla y el tobillo)', 39], ['Extremidades inferiores múltiples (cualquier combinación de las partes anteriores)', 40], ['Extremidades inferiores,  no identificadas en otra parte (arriba del tobillo)', 41], ['Tobillos', 42], ['Pié (excluyendo tobillo y dedos)', 43], ['Dedo(s) o  artejos', 44], ['Extremidades inferiores,  múltiples  (cualquier combinación de las partes anteriores)', 45], ['Extremidades inferiores no identificadas en otra parte', 46], ['Parte múltiples  (se aplica cuando se ha afectado más de una de las partes principales del cuerpo,  tales como,  un brazo, una pierna)', 47], ['Sistemas orgánicos (Se aplica cuando la totalidad de un sistema orgánico ha sido afectado, sin lesión específica en ninguna otra parte, como en el caso de intoxicación,  acción corrosiva que afecte órganos internos,  lesión de centros nerviosos, etc.  No se aplica cuando el daño en el sistema es producido por una lesión externa, que afecta una parte externa, tal como una lesión en la espalda que incluye daño a los nervios de la medula espinal)', 48], ['Sistema circulatorio  (corazón, sangre, arterias, venas,  etc.)', 49], ['Sistema digestivo', 50], ['Sistema excretorio (riñones, vejiga, intestinos, etc.)', 51], ['Sistema músculo-esquelético  (huesos, articulaciones, tendones, músculos, etc.', 52], ['Sistema nervioso', 53], ['Sistema respiratorio (pulmones, etc.)', 54], ['Varios sistemas orgánicos', 55], ['Otros sistemas orgánicos', 56], ['Partes del cuerpo,  no identificadas en otra parte', 57], ['Sin clasificar (insuficiente información para identificar la parte afectada)', 58]]) %></br>
        </div>        
        <br>

        <div class="col-sm-11">
            <div class="col-sm-4">
                <%= form.label :type_injure,  style: "display: block" %>
                <%= form.select(:type_injure, [['Sin clasificar', 0], ['Amputación o enucleación', 1], ['Asfixia, estrangulación, ahogamiento', 2], ['Quemadura (calórica) incluye eritema', 3], ['Quemadura  (química) incluye eritema', 4], ['Inflamación de vías respiratorias  (por agentes químicos)', 5], ['Concusión cerebral', 6], ['Enfermedad infecciosa o contagiosa -Ántrax, brucelosis, tuberculosis, etc.', 7], ['Contusión, machacón, magulladura, conservándose la superficie de la piel intacta; traumatismo, atrición, hematoma, edema y equimosis traumáticos', 8], ['Vesículas  (ampollas)', 9], ['Cortada, laceración, pinchazo, herida abierta, avulsión, sección, desprendimiento y fractura de las uñas', 10], ['Dermatitis-erupción, inflamación de la piel o tejido subcutáneo, incluyendo pústulas, etc.', 11], ['Luxación, esguince', 12], ['Choque eléctrico, electrocución, quemadura eléctrica', 13], ['Fractura, fisura ósea', 14], ['Congelación, lesión cutánea producida por el frío y otros efectos de la exposición a bajas temperaturas', 15], ['Pérdida de la audición o su deterioro (como lesión separada no como secuela de otra lesión)', 16], ['Insolación, calambres calóricos, agotamiento o postración por calor y otros efectos del calor ambiental.  No incluye quemaduras solares u otros efectos de radiaciones', 17], ['Hernias, ruptura.  Incluye tanto las hernias inguinales como no inguinales', 18], ['Inflamación o irritación de las articulaciones, tendones o músculos. Incluye bursitis, sinovitis, tenosinovitis, etc.  No incluye distensiones o desgarros de músculos y tendones o sus consecuencias', 19], ['Envenenamiento (sistémico)', 20], ['Neumoconiosis - incluye la de los mineros del carbón, asbestosis, silicosis, etc.', 21], ['Efectos de las radiaciones, quemaduras solares y toda forma de lesión de los tejidos, huesos o fluidos del cuerpo, producidos por exposición a radiaciones.', 22], ['Raspaduras, abrasiones (heridas superficiales), conjuntivitis por cuerpo extraño no alojado, excoriación, erosión, fricción.', 23], ['Lesiones en ojos tales como rayones de córnea, heridas en cristalino', 24], ['Distensiones, desgarros (incluye lumbalgias por esfuerzo)', 25], ['Lesiones múltiples', 26], ['Enfermedad ocupacional no identificada en otra parte.  Hiperqueratosis, neuropatía', 27], ['Otras lesiones no identificadas en otra parte', 28], ['Sin clasificar, no determinada', 29]]) %></br>
            </div>        
        </div>        
        <br>
    
        <div class="col-sm-4">
                <%= form.label :accident_agent,  style: "display: block" %>
                <%= form.select(:accident_agent, [['Sin clasificar', 0], ['Personas', 1], ['Alta presión (como trabajo en un cajón neumático,  zambullida profunda, etc.)', 2], ['Baja presión (aire enrarecido como en alturas extremas)', 3], 
                ['Animales.  (Excepto los que siguen)', 4], ['Pájaros', 5], ['Insectos', 6], ['Reptiles', 7], ['Huesos', 8], ['Secreciones', 9], ['Plumas', 10], ['Pieles, cerdas, lana, etc.  (en estado bruto)', 11], ['Cueros y pieles curtidas', 12], 
                ['Productos animales,  no especificados en otra parte', 13], ['Movimiento del cuerpo (excluyendo levantar, halar, empujar, etc.)', 14], ['Calderas', 15], ['Autoclave', 16], ['Recipientes presurizados (para gases o líquidos),  compresor', 17], 
                ['Cilindros de oxígeno y acetileno', 18], ['Líneas de presión  (mangueras o tubos - para líquidos presurizados, gases o vapores)', 19], ['Recipientes a presión,  no especificados en otra parte', 20], 
                ['Barriles,  toneles pequeños, tambores,  canecas, baldes', 21], ['Bultos, paquetes', 22], ['Cajas, huacales, cartones, canastas', 23], ['Botellas, cántaros, frascos, etc.', 24], ['Ampollas', 25], ['Capilares', 26], ['Vasos', 27], 
                ['Tubos de ensayo,  tubos de vidrio', 28], ['Tanques,  arcones, tolvas, silos, etc.  (No presurizados)', 29], ['Recipientes,  no especificados en otra parte', 30], ['Edificios de oficinas, de planta, residenciales, paredes, etc.', 31], 
                ['Puertas de edificios', 32], ['Ascensor', 33], ['Ventana', 34], ['Puentes', 35], ['Represas, esclusas, compuertas, etc.', 36], ['Tribunas, graderías, estadios, etc.', 37], ['Andamios, tablados, tarimas,  plataformas, etc.', 38], 
                ['Torres, postes, etc.', 39], ['Muelles, dársenas, desembarcaderos, etc.', 40], ['Edificios y estructuras, no especificados en otra parte', 41], ['Ladrillo', 42], ['Porcelana, loza.', 43], ['Tubos de desagüe,  tubos de alcantarilla, revestimiento de chimeneas, etc.', 44], 
                ['Azulejos (decorativos, no para soportar carga;  mosaicos, etc.)', 45], ['Alfarería', 46], ['Mosaicos estructurales (vidriados, comunes o mate).', 47], ['Artículos de cerámica no especificados en otra parte.', 48], ['Ácidos', 49], ['Alcoholes', 50], 
                ['Alcalis, soda cáustica, cementos, amoníaco, cal, silicato de sodio, etc.', 51], ['Alcalis, soda cáustica, cementos, amoníaco, cal, silicato de sodio, etc.', 52], ['Compuestos de Arsénico', 53], ['Bisulfuro de carbono', 54], ['Bióxido de carbono', 55], 
                ['Monóxido de carbono', 56], ['Cianuro o compuestos cianógenos', 57], ['Compuestos halogenados, no especificados en otra parte (tricloroetileno, percloroetileno, cloruro de metilo, refrigerantes, flúor, bromo y  yodo)', 58], 
                ['Compuestos metálicos, no especificados en otra parte (plomo, mercurio, zinc,  bronce, cadmio, cromo, sulfato de aluminio y ferroso.)', 59], ['Óxidos de nitrógeno  (Humos nitrosos).', 60], ['Formol', 61], ['Cidex', 62], ['Hipocloritos', 63], 
                ['Sustancias químicas y compuestos químicos no especificados en otras partes', 64], ['Botas, zapatos, etc.', 65], ['Polainas', 66], ['Guantes', 67], ['Sombreros, elementos para cubrir la cabeza', 68], ['Sacos o sobretodos, impermeables', 69], ['Camisas, blusas, suéteres chaquetas', 70], 
                ['Ternos, pantalones, vestidos, overoles', 71], ['Medias, para mujer y para hombre', 72], ['Ropa interior', 73], ['Vestuario, no especificado en otra parte', 74], ['Carbón', 75], ['Coque', 76], ['Aceite crudo, A. C. P. M.', 77], ['Gasolina, compuestos líquidos de hidrocarburos (parafinas, olefinas, etc.)', 78], 
                ['Hidrocarburos gaseosos (metano, etano, etileno, propano, butano, isobutano, butileno, isobutileno, gas licuado del petróleo, GLP, etc.) ', 79], ['Querosene o petróleo de uso doméstico', 80], ['Aceites lubricantes y refrigerantes, grasas', 81], ['Aceite de cocina', 82], ['Gases manufacturados', 83], 
                ['Solventes de nafta (éter de petróleo, extractos minerales, limpiadores de nafta, solventes de caucho, solventes stoddard, solventes aromáticos, toluol etc.', 84], ['Asfaltos y aceites de petróleo para caminos', 85], ['Derivados del petróleo y del carbón, no especificados en otra parte', 86], 
                ['Frío (atmosférico, ambiental)', 87], ['Transportadores por gravedad', 88], ['Transportadores de fuerza mecánica', 89], ['Productos biológicos (sueros, toxinas, antitoxinas, vacunas, plasma, etc.)', 90], ['Otras medicinas', 91], ['Motores', 92], ['Generadores', 93], ['Transformadores, convertidores', 94], 
                ['Conductores', 95], ['Tableros de distribución, barras colectoras, interruptores, fusibles, cortadores de circuitos, cajas de distribución, etc.', 96], ['Reóstato, aparatos de arranque y control, condensadores, rectificadores, acumuladores', 97], ['Aparatos magnéticos y electrolíticos', 98], ['Artefactos para calefacción', 99], 
                ['Ventiladores', 100], ['Aparatos eléctricos, no especificados en otra parte', 101], ['Estufa', 102], ['Llamas, fuego, humo', 103], ['Frutas y sus derivados', 104], ['Granos y sus derivados', 105], ['Carnes y sus derivados', 106], ['Leche y sus derivados', 107], ['Vegetales y sus derivados', 108], 
                ['Productos alimenticios, no especificados en otra parte', 109], ['Gabinetes, archivadores, bibliotecas, etc.', 110], ['Portahistorias', 111], ['Incubadora', 112], ['Sillas, bancas, etc.', 113], ['Mostradores, bancos de trabajo, etc.', 114], ['Escritorios', 115], ['Coberturas para pisos, carpetas, alfombras, esteras, etc.', 116], 
                ['Equipo para alumbrado, lámparas, bombillas, etc.', 117], ['Veladoras', 118], ['Mesas', 119], ['Camas, camillas', 120], ['Mesas portátiles', 121], ['Carrotermo', 122], ['Mobiliario, muebles, adornos fijos, accesorios, no especificados en otra parte', 123], 
                ['Artículos de vidrio, no especificados en otra parte. (Cristalería, fibras de vidrio, láminas, etc. - Excluyendo botellas, jarros, frascos o revestimientos de vidrio).', 124], ['Vidrio', 125], ['Hachas', 126], ['Jeringa', 127], ['Sopletes', 128], ['Cinceles escoplo, formón', 129], ['Palancas de hierro, alzaprimas, barras', 130], 
                ['Limas', 131], ['Horquillas', 132], ['Martillo, macho, mandarria, mazo', 133], ['Hachuelas', 134], ['Recogedores', 135], ['Azadones', 136], ['Cuchillos', 137], ['Machetes', 138], ['Bisturí', 139], ['Picos', 140], ['Cepillos, garlopas', 141], ['Alicates, tenazas, pinzas', 142], ['Brocas', 143], ['Taladro manual', 144], 
                ['Punzones', 145], ['Sogas, cadenas', 146], ['Microscopio', 147], ['Serruchos, seguetas, cortavidrios', 148], ['Tijeras, cizallas', 149], ['Lapicero', 150], ['Destornilladores, monta- tornillos', 151], ['Palas', 152], ['Traperos', 153], ['Llaves para tuercas y para tubos', 154], ['Cuchillas de afeitar', 155], 
                ['Herramientas manuales, no mecanizadas, no especificadas en otra parte', 156], ['Esmeriles portátiles y otros con piedras abrasivas', 157], ['Pulidoras, gratas, brilladoras, enceradoras. (sin piedra abrasiva)', 158], ['Cinceles', 159], ['Taladros', 160], ['Máquina cortadora de tela', 161], ['Martillos, pisones', 162], 
                ['Planchadoras', 163], ['Cuchillos, navajas', 164], ['Herramientas accionadas con pólvora (Ramset). Armas de fuego', 165], ['Picadora de verduras', 166], ['Punzonadoras', 167], ['Remachadoras', 168], ['Sopladoras de arena', 169], ['Sierras', 170], ['Destornilladores, monta- tornillos', 171], ['Herramientas para soldar', 172], 
                ['Herramientas manuales, mecanizadas, no especificadas en otra parte', 173], ['Calor atmosférico, ambiental (Excluyendo objetos y sustancias calientes)', 174], ['Equipos de calefacción, no especificados en otra parte. (Hornos, retortas, calentadores de ambiente, estufas, cocinas, etc., que no sean eléctricos)', 175], ['Greca', 176], 
                ['Grúas, cabrias', 177], ['Elevadores, montacargas, ascensores', 178], ['Palas, dragas', 179], ['Elevadores neumáticos', 180], ['Elevadores de cadena, diferencial de cadena', 181], ['Elevadores eléctricos', 182], ['Pescante de malacate, malacate de poste o de pértiga', 183], ['Gatos (mecánicos, hidráulicos, neumáticos, etc.).', 184], 
                ['Ganchos (para transporte de trozas de madera).', 185], ['Cubos o cucharones de minería, cangilones', 186], ['Aparatos de izar, no especificados en otra parte', 187], ['Agentes infecciosos y parasitarios, no especificados en otra parte. (bacterias, hongos, parásitos, virus, etc. - excluyendo productos químicos, drogas, preparados medicinales o alimentos contaminados)', 188], 
                ['Escaleras fijas', 189], ['Escaleras de extensión', 190], ['Escaleras de paso ancho', 191], ['Escaleras de mano rectas, sencillas', 192], ['Escaleras, no especificadas en otra parte', 193], ['Agua caliente', 194], ['Corporales', 195], ['Otros líquidos, no especificados en otra parte', 196], ['Agitadores, mezcladoras, volteadores o revolvedoras, etc.', 197], 
                ['Máquinas agrícolas, no especificadas en otra parte, corta césped', 198], ['Bruñidoras, pulidoras, lijadoras, esmeriladoras', 199], ['Máquinas para fundir, forjar y máquinas fijas automáticas para soldar metales', 200], ['Inyectoras, extrusoras, sopladoras de plásticos', 201], ['Máquinas trituradoras, pulverizadoras, molinos, etc.', 202], ['Majadora de carnes', 203], 
                ['Máquinas para taladrar, barrenar, tornear (roscadora, fresadora y cepilladora para metales, limadora, molinos, rectificadoras)', 204], ['Máquinas para movimiento de tierra y construcción de carreteras. No especificadas en otra parte', 205], ['Máquinas para minería y túneles, no especificados en otra parte', 206], ['Máquinas de oficina', 207], 
                ['Máquinas empacadoras y envolvedoras, encelofanadoras, etiqueteadoras, abridoras, selladoras', 208], ['Máquinas recogedoras, peinadoras y cardadoras', 209], ['Cepilladoras, planeadoras, molduradoras, trompos. (para madera), canteadora, barrenadora para madera)', 210], ['Prensas, troqueladoras, estampadoras, elaboradoras de puntillas, tapadoras, cadenas, etc., (excepto máquinas de imprenta).', 211], 
                ['Máquinas de imprenta', 212], ['Laminadoras, trefiladoras', 213], ['Sierras, máquinas sinfín, circular', 214], ['Máquinas tamizadoras y separadoras', 215], ['Cizallas, cortadoras, rebanadoras. (Cortadoras de disco), guillotinas', 216], ['Máquinas de coser, hilvanar', 217], ['Máquinas de tejer, hacer punto o hilar, selfatina, continuas, bobinado', 218], ['Máquinas, no especificadas en otra parte, básculas', 219], 
                ['Correas', 220], ['Cadenas, sogas, cables', 221], ['Bobinas, poleas, garruchas o roldanas', 222], ['Embragues de fricción', 223], ['Engranajes', 224], ['Aparatos de transmisión de fuerza mecánica, no especificados en otra parte', 225], ['Artículos de metal, no especificados en otra parte. (Platinas, varillas, alambres, tuercas, pernos, tornillos, puntillas, etc. Incluye metal fundido, lingotes, chatarra fundida, clavos, pero no minerales u otras materias primas en bruto.', 226], 
                ['Estribos', 227], ['Metal caliente', 228], ['Cubetas odontológicas', 229], ['Agujas', 230], ['Remaches', 231], ['Pines', 232], ['Patos baños', 233], ['Tapas', 234], ['Pesas', 235], ['Latas', 236], ['Productos minerales, metálicos, no especificados en otra parte. (Productos de minería, en bruto o semi- procesados, tales como minerales en bruto y concentrados de minerales).', 237], ['Productos minerales, no metálicos, no especificados en otra parte (productos de minería, excavaciones, canteras, etc., tales como. lodo, tierra, arcilla, arena, cascajo, piedra, etc.).', 238], 
                ['Ruido', 239], ['Papel y artículos de pulpa, no especificados  en otra parte', 240], ['Partículas (no identificadas)', 241], ['Plantas, árboles, vegetación (en condiciones naturales o sin procesar, no incluye granos trillados, frutas, cosechas, troncos con ramas, etc.)', 242], ['Artículos plásticos, no especificados en otra parte (polvos, láminas, varillas, modelados, etc., pero no las sustancias químicas puras o componentes usados en la fabricación de plásticos), caucho', 243], 
                ['Artículos de caucho, tapón de gases arteriales', 244], ['Placa radiográfica', 245], ['Motores (vapor, combustión interna, etc.).', 246], ['Bombas. (Compresores de aire incluidos).', 247], ['Turbinas (hidráulicas, neumáticas, etc.).', 248], ['Bombas y generadores de energía, no especificados en otra parte', 249], ['Isótopos y sustancias radioactivas para uso industrial o médico', 250], ['Radio', 251], ['Cesio', 252], ['Combustible para reactor atómico, en bruto o procesado', 253], 
                ['Desperdicios o desechos radioactivos de reactores atómicos', 254], ['Radiaciones solares', 255], ['Equipos de rayos ultravioleta', 256], ['Equipos de soldadura autógena y eléctrica, arco eléctrico', 257], ['Equipos de rayos x y fluoroscopia', 258], ['Sustancias o equipos radioactivos, no especificados en otra parte', 259], ['Jabones, detergentes, compuestos para limpieza, no especificados en otra parte', 260], ['Sílice', 261], ['Desechos industriales, escombros, materiales de desperdicios, no especificados en otra parte', 262], ['Vapor de agua', 263], 
                ['Productos textiles, no especificados en otra parte, (Incluye fibras animales después de la primera limpieza o lavado, fibras vegetales y sintéticas- (excepto las de vidrio), hilazas, hilos, mercancías en depósito, fieltros y otros productos textiles', 264], ['De tracción animal', 265], ['Aéreos', 266], ['Vehículos motorizados para carreteras', 267], ['Bicicletas y otros vehículos no motorizados para carretera', 268], ['Carritos de mano, plataformas con rodillos y otros vehículos no motorizados', 269], 
                ['Levantadores de horquilla, montacargas, apiladores, cargadores de madera y otros vehículos cargadores motorizados', 270], ['Tractores y otros vehículos de remolque motorizados', 271], ['Vehículos sobre rieles', 272], ['Trineos y otros vehículos para transporte sobre nieve y hielo', 273], ['Vehículos acuáticos', 274], ['Vehículos, no especificados en otra parte', 275], ['Productos de madera, no especificados en otra parte (Troncos, madera aserrada, tablas, postes, vigas, astillas y otros productos de madera).', 276], 
                ['Piso (de un edificio, una mina, un vehículo, un andamio, etc.)', 277], ['Terrenos (al aire libre).', 278], ['Rampas', 279], ['Techos', 280], ['Pasillos o plataformas (superficies elevadas permanentes).', 281], ['Aceras, senderos, pasillos. (Al aire libre)', 282], ['Escaleras, escalones. (Que sean parte integral de la edificación)', 283], ['Calles, caminos, carreteras', 284], ['Superficies de trabajo, no especificadas en otra parte', 285], ['Misceláneos, no especificados en otra parte', 286], ['Equipos de sueros, sondas', 287], ['Desconocidos, sin identificar (distintos a partículas)', 288]]) %></br>
        </div>   
        <br>
        <div class="col-sm-4">
                <%= form.label :accident_mechanism,  style: "display: block" %>
                <%= form.select(:accident_mechanism, [['Sin clasificar', 0], ['Objetos fijos', 1], ['Objetos en movimiento', 2], ['Golpeado contra objetos no especificados', 3], ['Objetos que caen (incluye personas)', 4], ['Objetos que vuelan', 5], ['Golpeado o lesionado por otra persona', 6], ['Golpeado por, no especificado en otra parte', 7], ['De andamios, de pasillos,  de plataformas, de sillas,  de techos, etc.', 8], ['De escaleras', 9], ['De materiales apilados', 10], ['De vehículos', 11], ['En escaleras propias de edificios', 12], ['Dentro de pozos, excavaciones, aberturas en los pisos, etc.  (Desde el borde la abertura)', 13], ['Caída a un nivel inferior,  no especificado en otra parte', 14], ['Caer en el pasillo o en la superficie de trabajo', 15], ['Caer sobre o contra objetos', 16], ['Caída a un mismo nivel, no especificada en otra parte', 17], ['Engranajes, rodillos.', 18], ['Un objeto movible y uno fijo', 19], ['Dos o más objetos móviles (que no están engranados)', 20], ['Materiales aplastantes que pueden derrumbarse en un momento dado (deslizamientos de tierra,  derrumbamiento de edificios, etc.', 21], ['Dos objetos fijos', 22], ['Cogido en, debajo o entre, no especificados en otra parte', 23], ['Por recostarse, arrodillarse o sentarse en objetos (no vibrantes)', 24], ['Por objetos operados manualmente (no vibrantes)', 25], ['Por objetos vibrantes', 26], ['Por materias extrañas en los ojos', 27], ['Por repetición de presión', 28], ['Fricción o raspadura no especificada en otra parte', 29], ['Mordida de persona o de animal', 30], ['Proveniente de movimientos involuntarios ', 31], ['Proveniente de movimientos voluntarios', 32], ['Al levantar objetos', 33], ['Al halar o empujar objetos', 34], ['Al manipular o lanzar objetos', 35], ['Sobre- esfuerzo, no especificado en otra parte', 36], ['Contacto con corriente eléctrica', 37], ['Altas temperaturas- atmosféricas, o ambientales', 38], ['Bajas temperaturas- atmosféricas o ambientales', 39], ['Objetos o sustancias calientes', 40], ['Objetos o sustancias frías', 41], ['Por inhalación', 42], ['Por ingestión', 43], ['Por absorción', 44], ['Secreciones líquidas corporales', 45], ['Líquidos contaminados o líquidos que han estado en contacto con pacientes', 46], ['Accidente de aviación', 47], ['Accidentes de buses', 48], ['Accidente de barco o botes', 49], ['Accidente de tranvías o trenes subterráneos', 50], ['Accidente de taxis', 51], ['Accidente de trenes', 52], ['Accidente de vehículos públicos no especificados en otra parte', 53], ['Con un vehículo que se mueve en dirección contraria por el mismo camino, calle o carretera', 54], ['Con un vehículo que se mueve en la misma dirección, en el mismo camino,  calle o carretera', 55], ['Con un vehículo que se mueve en una carretera de intersección o cruce', 56], ['Precipitarse contra o rozar lateralmente con un vehículo u objeto parado en la vía', 57], ['Precipitarse contra o rozar lateralmente con un vehículo u objeto parado a un lado de la vía', 58], ['Ser golpeado por otro vehículo mientras está parado en la vía', 59], ['Ser  golpeado por otro vehículo mientras se está parado fuera de la vía', 60], ['Otros accidentes con choques no especificados', 61], ['Volcarse', 62], ['Salirse fuera de la vía (sin control)', 63], ['Parada o arranque intempestivo (que lance a los ocupantes fuera o contra partes interiores del vehículo o lance el contenido del vehículo contra los ocupantes)', 64], ['Otros accidentes sin choque', 65], ['Tipos de accidentes, no especificados en otra parte', 66], ['No clasificado, datos insuficientes', 67]]) %></br>
        </div>        
        <br>
        <div class="col-sm-4">
                <%= form.label :name_disease,  style: "display: block" %>
                <%= form.grouped_collection_select(:name_disease, TableDisease.order(:id), :detail_diseases, :clasification_disease, :id, :name) %>
        </div>   


        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :disability_start_date, style: "display: block" %>
                <%= form.date_field :disability_start_date,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <%= form.label :disability_end_date, style: "display: block" %>
                <%= form.date_field :disability_end_date,  class: "form-control" %>
            </div>        
        </div>   
        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :laboral_inhability, style: "display: block" %>
                <%= form.radio_button :laboral_inhability, 0 %>
                <label for="no_enfermedad_laboral">NO</label>
                <%= form.radio_button :laboral_inhability, 1 %>
                <label for="si_enfermedad_laboral">SI</label>
            </div>        
            <div class="col-sm-4">
                <%= form.label :common_inhability, style: "display: block" %>
                <%= form.radio_button :common_inhability, 0 %>
                <label for="no_enfermedad_comun">NO</label>
                <%= form.radio_button :common_inhability, 1 %>
                <label for="si_enfermedad_comun">SI</label>
            </div>        
        </div>   

        <%= form.hidden_field :user_reports, :value => Current.user.id, class: "form-control" %>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, events_path %>
    <% end %>
</div>
<br>

