<!-- render 'shared/header2' -->
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
               <%= link_to t('.create_event'), new_event_path, class: 'btn btn-sm btn-primary'  %>
            </div> 
        </div>
        <hr>
        <%= search_form_for @q do |f| %>
            <%= f.label :date_new_eq %>
            <%= f.date_field :date_new_eq %>
            &nbsp;&nbsp;
            <%= f.label :entity_id_eq %>
            <%= f.select :entity_id_eq, Entity.pluck(:business_name, :id).uniq,  {include_blank: true}, style: "width: 200px;" %>
            </br> 
            <%= f.label :user_id_eq %>
            <%= f.select :user_id_eq, User.pluck(:name, :id).uniq,  {include_blank: true}, style: "width: 200px;" %>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Buscar</button>
        <% end %>
    </br>        
    <%== pagy_info(@pagy) %>
    <%== pagy_bootstrap_combo_nav_js(@pagy) %>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= sort_link(@q, :date_new, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :user_id, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :entity_id, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :work_accident, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :mortal_accident, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :occupational_disease, default_order: :desc) %></th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col"><%= t('common.delete') %></th>                
            </tr>
        </thead>
        <tbody> 
            <%= render partial: 'event', collection: @events  %>  
        </tbody>      
    </table>
    </br>        
    <%== pagy_info(@pagy) %>
    <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </br>        
</div>


