<%= render 'shared/header2' %>
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
               <%= link_to t('.create_event'), new_event_path, class: 'btn btn-sm btn-primary'  %>
            </div> 
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('common.date_new') %></th>
                <th scope="col"><%= t('common.usuario_id') %></th>
                <th scope="col"><%= t('common.entity_id') %></th>
                <th scope="col"><%= t('.work_accident') %></th>
                <th scope="col"><%= t('.mortal_accident') %></th>
                <th scope="col"><%= t('.occupational_disease') %></th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col"><%= t('common.delete') %></th>                
            </tr>
        </thead>
        <tbody> 
            <%= render partial: 'event', collection: @events  %>  
        </tbody>      
    </table>

</div>


