<br>
<div class="container col-11"> 
    <div class="row g-2">
        <div class="col-sm-10">
            <h2 class="display-5"><%= t('.title')%></h2>
        </div>        
        <div class="col-sm-1">
            <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, events_path %>
        </div> 
        <hr>
    </div>            
</div>  

<div class="container col-11">
    <br>
        <div class="row g-3">
            <div class="col-sm-6">
                <strong><%= t('.entity_id') %></strong>
                <%= @event.entity.business_name %> 
            </div>        
            <div class="col-sm-6">
               <strong><%= t('.date_new') %></strong>
               <%= @event.date_new %>
            </div>        
        </div>   
        
        <div class="row g-3">
            <div class="col-sm-11">
                <strong><%= t('.user_id') %></strong>
                <%= @event.user.name %> 
            </div>        
        </div>  

        <div class="row g-3"> 
            <div class="col-sm-4">
               <strong><%= t('.work_accident') %></strong>
               <%= @event.label_work_accident %>
            </div>        
            <div class="col-sm-4">
                <strong><%= t('.mortal_accident') %></strong>
                <%= @event.label_mortal_accident %>
            </div>        
            <div class="col-sm-4">
                <strong><%= t('.occupational_disease') %></strong>
                <%= @event.label_occupational_disease %>
            </div>        
        </div>  
        
        <div class="row g-3">
            <div class="col-sm-4">
               <strong><%= t('.disability_start_date') %></strong>
               <%= @event.disability_start_date %>
            </div>        
            <div class="col-sm-4">
                <strong><%= t('.disability_end_date') %></strong>
                <%= @event.disability_end_date %>
            </div>        
        </div>  
        
        <div class="row g-3">
            <div class="col-sm-4">
               <strong><%= t('.laboral_inhability') %></strong>
               <%= @event.label_laboral_inhability %>
            </div>        
            <div class="col-sm-4">
                <strong><%= t('.common_inhability') %></strong>
                <%= @event.label_common_inhability %>
            </div>        
        </div>  
     
</div>    
<br>




