<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @check_list_item do |form| %>
        <% @check_list_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>
        <br>    
        <div class="form-group">    
            <%= form.label :state,  style: "display: block" %>
            <%= form.select(:state, [['Activo', 0], ['Inactivo', 1]]) %>
        </div>
        <br>    
        <div class="form-group">    
            <%= form.label :clasification,  style: "display: block" %>
            <%= form.select(:clasification, [['Condiciones generales del área', 0], ['Control de sustancias químicas', 1], ['Uso de EPP', 2], ['Control de riesgos térmicos', 3], ['Control de aplicación de químicos y pintura', 4], ['Control de radiación UV', 5], ['Control de herramientas y riesgo mecánico', 6], ['Control de procesos de inmesión y grabado', 7], ['Condiciones del trabajador', 8]]) %>
        </div>
        <br>    
        <div class="form-group">    
            <%= form.label :item, style: "display: block" %>
            <%= form.text_field :item,  class: "form-control" %>
        </div>
        <br>    
        <%= form.hidden_field :check_list_id, :value => @check_list.id, class: "form-control" if @check_list.present? %>
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, check_lists_path %>
    <% end %>
</div>        
<br>