<br>
<div class="container col-11"> 
    <div class="row g-2">
        <h2 class="display-5">Frecuencia de Accidentalidad</h2>

       <hr>
    </div>  
    <div class="row g-3">
        <div class="col-sm-5">
            <%= column_chart  @datos_frecuencia_accidentalidad, title: "Frecuencia de accidentalidad", download: {filename: "FrecuenciaAccidentalidad"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", suffix: " Accidentes de trabajo" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Nro.Accidentes</th>
                        <th scope="col">Nro.Funcionarios</th>
                        <th scope="col">Indicador</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_work_accidents %></td>
                            <td><%= rep.total_officials %></td>
                            <td>
                                <%= rep.frecuencia_accidentalidad %>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="popover" title="Por cada cien (100) funcionarios y contratistas que laboraron en el mes de <%= Calendar.label_month(rep.month)%>, se presentaron <%= rep.frecuencia_accidentalidad %> accidentes de trabajo."><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
                            </td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>        
    <hr>
    
    <div class="row g-2">
         <h2 class="display-5">Severidad de Accidentalidad</h2>
         <hr>
    </div>
    <div class="row g-3">
        <div class="col-sm-5">
           <%= column_chart  @datos_severidad_accidentalidad, title: "Severidad de accidentalidad", download: {filename: "SeveridadAccidentalidad"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", suffix: " días por accidentes de trabajo" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Nro.Día Incapacidad</th>
                        <th scope="col">Nro.Funcionarios</th>
                        <th scope="col">Indicador</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_days_severidad_accidents %></td>
                            <td><%= rep.total_officials %></td>
                            <td><%= rep.severidad_accidentalidad %></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="popover" title="Por cada cien (100) funcionarios y contratistas que laboraron en el mes de <%= Calendar.label_month(rep.month)%>, se perdieron <%= rep.severidad_accidentalidad %> días por accidentes de trabajo."><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
                            </td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>        
    
    <div class="row g-2">
         <h2 class="display-5">Ausentismo</h2>
         <hr>
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
           <%= column_chart  @datos_ausentismo, title: "Ausentismo", download: {filename: "Ausentismo"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", suffix: "% de días de ausentismo" if @report_official.present? %>
        </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Año</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Días de ausencia</th>
                    <th scope="col">Días de trabajo</th>
                    <th scope="col">Indicador</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <%  @report_official.each do |rep| %>
                    <tr>
                        <td><%= rep.year %></td>
                        <td><%= rep.month %></td>
                        <td><%= rep.total_days_absenteeism %></td>
                        <td><%= (rep.working_days_month * rep.total_officials) %></td>
                        <td><%= rep.ausentismo_causa_medica %></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="popover" title="<%= rep.ausentismo_causa_medica %>% de días de ausentismo por incapacidad médicas laboral o común en el mes de <%= Calendar.label_month(rep.month)%>."><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
                        </td>
                    </tr>    
                <% end %>
            </tbody>
        </table>
        <hr>
    </div>

    <div class="row g-2">
         <h2 class="display-5">Prevalencia de enfermedad laboral</h2>
         <hr>
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
            <%= column_chart  @datos_prevalencia, title: "Prevalencia de enfermedad laboral", download: {filename: "PrevalenciaEnfermedadLaboral"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", suffix: " Casos de enfermedad laboral" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Casos nuevos antiguos</th>
                        <th scope="col">Promedio funcionarios contratistas</th>
                        <th scope="col">Indicador</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_occupational_disease %></td>
                            <td><%= rep.promedio_year_officials %></td>
                            <td><%= rep.prevalencia_enfermedad_laboral.to_i %></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="popover" title="Por cada 100.000 trabajadores existen <%= rep.prevalencia_enfermedad_laboral %> casos de enfermedad laboral en el periodo <%= Calendar.label_month(rep.month)%> - <%= rep.year %>."><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
                            </td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>        
    <br>
    <hr>
    
    <div class="row g-2">
         <h2 class="display-5">Incidencia de enfermedad laboral</h2>
         <hr>
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
           <%= column_chart  @datos_incidencia, title: "Incidencia de enfermedad laboral", download: {filename: "IncidenciaEnfermedadLaboral"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", suffix: " Casos nuevos de enfermedad laboral" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Casos nuevos</th>
                        <th scope="col">Promedio funcionarios contratistas</th>
                        <th scope="col">Indicador</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
    
    
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_occupational_disease_year %></td>
                            <td><%= rep.promedio_year_officials %></td>
                            <td><%= rep.incidencia_enfermedad_laboral.to_i %></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="popover" title="Por cada 100.000 trabajadores existen <%= rep.incidencia_enfermedad_laboral %> casos nuevos de enfermedad laboral en el periodo <%= Calendar.label_month(rep.month)%> - <%= rep.year %>."><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
                            </td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
            <hr>
        </div>
    </div>        

   
    <div class="row g-2">
         <h2 class="display-5">Proporción de accidentes de trabajos mortales</h2>
         <hr>
    </div>
    <div class="row g-3">
        <div class="col-sm-5">
            <%= column_chart  @datos_proporcion, title: "Proporción de accidentes de trabajo mortales", download: {filename: "ProporcionAcidentesMortales"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", suffix: "% de casos mortales" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Accidentes mortales en el año</th>
                        <th scope="col">Accidentes en el año</th>
                        <th scope="col">Indicador</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
    
    
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_accidents_mortal_year %></td>
                            <td><%= rep.total_accidents_work_year %></td>
                            <td><%= rep.proporcion_accidentes_mortales %></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="popover" title="En el periodo <%= Calendar.label_month(rep.month)%> - <%= rep.year %> el <%= rep.proporcion_accidentes_mortales %>% de accidentes de trabajo fueron mortales."><%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
                            </td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>

            <hr>
        </div>
    </div>        
    <br>
    <hr>
    
    <div class="row g-2">
         <h2 class="display-5">INDICADORES MINIMOS DE SST (Res 0312/2019, artículo 30)</h2>
         <hr>
    </div>
    
    <hr>
    <table class="table">
            <tr>
                <td style="border:1px solid black; width: 100%; text-align:center"><h3>Indicadores mínimos del año <%= @year %> Resolución 0312</h3></td>
            </tr> 
    </table>
    <table class="table">
            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Indicadores</small></td>
                <td style="border:1px solid black;text-align:center"><small>Enero</small></td>
                <td style="border:1px solid black;text-align:center"><small>Febrero</small></td>
                <td style="border:1px solid black;text-align:center"><small>Marzo</small></td>
                <td style="border:1px solid black;text-align:center"><small>Abril</small></td>
                <td style="border:1px solid black;text-align:center"><small>Mayo</small></td>
                <td style="border:1px solid black;text-align:center"><small>Junio</small></td>
                <td style="border:1px solid black;text-align:center"><small>Julio</small></td>
                <td style="border:1px solid black;text-align:center"><small>Agosto</small></td>
                <td style="border:1px solid black;text-align:center"><small>Septiembre</small></td>
                <td style="border:1px solid black;text-align:center"><small>Octubre</small></td>
                <td style="border:1px solid black;text-align:center"><small>Noviembre</small></td>
                <td style="border:1px solid black;text-align:center"><small>Diciembre</small></td>
                <td style="border:1px solid black;text-align:center"><small>Total</small></td>
            </tr>
            
            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de accidentes laborales en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_work_accidents(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_total_work_accidents(@report_official) if @report_official.present? %></td>
            </tr>
            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de días de incapacidad por accidente en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_days_severidad_accidents(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_total_days_severidad_accidents(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de días de ausencia en el mes (por causa común y laboral)</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_days_absenteeism(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_total_days_absenteeism(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de días de trabajo programados en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_working_days_month(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_working_days_month(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de trabajadores DEPENDIENTES en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center">Promedio: <%= @report_official.promedio_number_oficial(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de trabajadores INDEPENDIENTES en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_independent(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center">Promedio: <%= @report_official.promedio_number_oficial_independent(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de trabajadores ESTUDIANTES en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_student(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center">Promedio: <%= @report_official.promedio_number_oficial_student(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de trabajadores TEMPORALES (EN MISIÓN) en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_temporary(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center">Promedio: <%= @report_official.promedio_number_oficial_temporary(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de trabajadores COOPERADOS en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_cooperative(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center">Promedio: <%= @report_official.promedio_number_oficial_cooperative(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de trabajadores OTROS CONTRATOS en el mes</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_other(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center">Promedio: <%= @report_official.promedio_number_oficial_other(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Enfermedades laborales </small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease_final(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>Número de Enfermedad Laboral en el año</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease_year(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease_year_final(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>TOTAL TRABAJADORES</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_officials(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center">Promedio: <%= @report_official.pro_total_officials(@report_official, 12) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>TOTAL DÍAS DE TRABAJO PROGRAMADOS</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_dias_trabajo_programados(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.sum_total_dias_trabajo_programados(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>FRECUENCIA DE LA ACCIDENTALIDAD</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_frecuencia_accidentalidad(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_frecuencia_accidentalidad(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>SEVERIDAD DE LA ACCIDENTALIDAD</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_severidad_accidentalidad(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_severidad_accidentalidad(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>AUSENTISMO POR CAUSA MÉDICA</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_ausentismo_causa_medica(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_ausentismo_causa_medica(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>PREVALENCIA DE LA ENFERMEDAD LABORAL</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_prevalencia_enfermedad_laboral(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_prevalencia_enfermedad_laboral(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>INCIDENCIA DE LA ENFERMEDAD LABORAL</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_incidencia_enfermedad_laboral(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_incidencia_enfermedad_laboral(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><small>PROPORCIÓN DE ACCIDENTES MORTALES</small></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_proporcion_accidentes_mortales(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_proporcion_accidentes_mortales(@report_official) if @report_official.present? %></td>
            </tr>

    </table>
    <br>
    <hr>                   
</div>  



