<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>

<br>
<div class="container col-11"> 
    <div>
        <h3 style="text-align:center">Indicadores Matriz de Peligros y Riesgos</h3>
        <h3 style="text-align:center"><%= @entity.business_name %>  Nit:<%= @entity.identification_number %></h3>
    </div> 

    <hr>
    
    <div>
         <h4 style="text-align:center">Indicador Nivel de Riesgo</h4>
         <hr>
    </div>

    
    <div class="row g-2">
        <div class="col-sm-5">
            <table  class="table" >
                <thead>
                    <tr>
                        <th colspan="3"; style="text-align:center">Clasificación Por Nivel De Riesgo</th>
                    </tr>
                    <tr>
                        <th scope="col" style="text-align:center">Aceptabilidad del Riesgo</th>
                        <th scope="col" style="text-align:center">Nivel de Riesgo (NR)</th>
                        <th scope="col" style="text-align:center">Riesgo Inicial</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @datos_nivel_riesgo.each do |dat| %>
                        
                        <tr>
                            <td style="text-align:center"><%= dat[0] %></td>
                            <% if dat[0].to_s == 'No aceptable'  %>
                                <td style="border:1px solid black; text-align:center; background-color:#F03553"> I</td>
                            <% end  %>    
                            <% if dat[0].to_s == 'Aceptable con controles'  %>
                                <td style="border:1px solid black; text-align:center; background-color:#D98F3B"> II </td>
                            <% end  %>    
                        
                            <% if dat[0].to_s == 'Mejorable'  %>
                                <td style="border:1px solid black; text-align:center; background-color:#F0E835">III</td>
                            <% end  %>    
   
                            <% if dat[0].to_s == 'Aceptable'  %>
                                <td style="border:1px solid black; text-align:center; background-color:#038018"> IV</td>
                            <% end  %>    
                            <td style="text-align:center"><%= dat[1] %></td>
                        </tr>    
                    <% end %>
                    <tr>
                        <td colspan="2"; style="text-align:center">Total</td>
                        <td style="text-align:center"><%= @total %></td> 
                    </tr>
                </tbody>
            </table>
        </div>        
        <div class="col-sm-5">
            <%= column_chart  @datos_nivel_riesgo, title: "Indicador Nivel de Riesgo", download: {filename: "NivelRiesgo"}, download: {background: "#FFFFFF"}, xtitle: "Nivel de riesgo", ytitle: "Cantidad", prefix: "Cantidad: " if @datos_nivel_riesgo.present? %>
        </div>        

    </div>  
    <hr>
    
    <div>
         <h4 style="text-align:center">Indicador Tipo de Riesgos</h4>
         <hr>
    </div>

    
    <div class="row g-2">
        <div class="col-sm-5">
            <table  class="table" >
                <thead>
                    <tr>
                        <th colspan="3"; style="text-align:center">Clasificación Por Tipo De Riesgo</th>
                    </tr>
                    <tr>
                        <th scope="col" style="text-align:center">Tipo De Riesgo</th>
                        <th scope="col" style="text-align:center">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @datos_tipo_riesgo.each do |dat| %>
                        
                        <tr>
                            <td ><%= dat[0] %></td>
                            <td style="text-align:center"><%= dat[1] %></td>
                        </tr>    
                    <% end %>
                    <tr>
                        <td style="text-align:center">Total</td>
                        <td style="text-align:center"><%= @total_tipo %></td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <div class="col-sm-5">
            <%= column_chart  @datos_tipo_riesgo, title: "Indicador Tipo de Riesgo", download: {filename: "TipoRiesgo"}, download: {background: "#FFFFFF"}, xtitle: "Tipo de riesgo", ytitle: "Cantidad", prefix: "Cantidad: " if @datos_tipo_riesgo.present? %>
        </div>        

    </div>  
    <hr>
    <div>
        <div class="col-sm-11">
            <table  class="table" >
                <thead>
                    <tr>
                        <th colspan="3"; style="text-align:center">Clasificación Por Descripción De Riesgo</th>
                    </tr>
                    <tr>
                        <th scope="col" >Tipo De Riesgo</th>
                        <th scope="col" >Descripción Tipo De Riesgo</th>
                        <th scope="col" style="text-align:center">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @datos_desc_tipo_riesgo.each do |dat| %>
                        
                        <tr>
                            <td ><%= dat[0] %></td>
                            <td ><%= dat[1] %></td>
                            <td style="text-align:center"><%= dat[2] %></td>
                        </tr>    
                    <% end %>
                    <tr>
                        <td colspan="2"; style="text-align:center">Total</td>
                        <td style="text-align:center"><%= @total_desc %></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>  
  
    <br>
    <hr>
</div>  



