<br>
<div class="container col-11"> 
    <div class="row g-2">
        <h2 class="display-5">Frecuencia de Accidentalidad</h2>

       <hr>
    </div>  
    <div class="row g-3">
        <div class="col-sm-5">
            <%= column_chart  @datos_frecuencia_accidentalidad, title: "Frecuencia de accidentalidad", download: {filename: "FrecuenciaAccidentalidad"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", prefix: "Indicador: ", suffix: "%" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Nro.Accidentes</th>
                        <th scope="col">Nro.Funcionarios</th>
                        <th scope="col">Indicador</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_work_accidents %></td>
                            <td><%= rep.total_officials %></td>
                            <td><%= rep.frecuencia_accidentalidad %></td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>        
    <hr>
    
    <div class="row g-2">
         <h2 class="display-5">Severidad de Accidentalidad</h2>
         <hr>
    </div>
    <div class="row g-3">
        <div class="col-sm-5">
           <%= column_chart  @datos_severidad_accidentalidad, title: "Severidad de accidentalidad", download: {filename: "SeveridadAccidentalidad"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", prefix: "Indicador: ", suffix: "%" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Nro.Día Incapacidad</th>
                        <th scope="col">Nro.Funcionarios</th>
                        <th scope="col">Indicador</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_days_severidad_accidents %></td>
                            <td><%= rep.total_officials %></td>
                            <td><%= rep.severidad_accidentalidad %></td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
            <hr>
        </div>
    </div>        
    
    <div class="row g-2">
         <h2 class="display-5">Ausentismo</h2>
         <hr>
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
           <%= column_chart  @datos_ausentismo, title: "Ausentismo", download: {filename: "Ausentismo"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", prefix: "Indicador: ", suffix: "%" if @report_official.present? %>
        </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Año</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Días de ausencia</th>
                    <th scope="col">Días de trabajo</th>
                    <th scope="col">Indicador</th>
                </tr>
            </thead>
            <tbody>
                <%  @report_official.each do |rep| %>
                    <tr>
                        <td><%= rep.year %></td>
                        <td><%= rep.month %></td>
                        <td><%= rep.total_days_absenteeism %></td>
                        <td><%= (rep.working_days_month * rep.total_officials) %></td>
                        <td><%= rep.ausentismo_causa_medica %></td>
                    </tr>    
                <% end %>
            </tbody>
        </table>
        <hr>
    </div>

    <div class="row g-2">
         <h2 class="display-5">Prevalencia de enfermedad laboral</h2>
         <hr>
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
            <%= column_chart  @datos_prevalencia, title: "Prevalencia de enfermedad laboral", download: {filename: "PrevalenciaEnfermedadLaboral"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", prefix: "Indicador: ", suffix: "%" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Casos nuevos y antiguos</th>
                        <th scope="col">Promedio de funcionarios y contratistas</th>
                        <th scope="col">Indicador</th>
                    </tr>
                </thead>
                <tbody>
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_occupational_disease %></td>
                            <td><%= rep.promedio_year_officials %></td>
                            <td><%= rep.prevalencia_enfermedad_laboral %></td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>        
    <br>
    <hr>
    
    <div class="row g-2">
         <h2 class="display-5">Incidencia de enfermedad laboral</h2>
         <hr>
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
           <%= column_chart  @datos_incidencia, title: "Incidencia de enfermedad laboral", download: {filename: "IncidenciaEnfermedadLaboral"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", prefix: "Indicador: ", suffix: "%" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Casos nuevos</th>
                        <th scope="col">Promedio de funcionarios y contratistas</th>
                        <th scope="col">Indicador</th>
                    </tr>
                </thead>
                <tbody>
    
    
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_occupational_disease_year %></td>
                            <td><%= rep.promedio_year_officials %></td>
                            <td><%= rep.incidencia_enfermedad_laboral %></td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>
            <hr>
        </div>
    </div>        

   
    <div class="row g-2">
         <h2 class="display-5">Proporción de accidentes de trabajos mortales</h2>
         <hr>
    </div>
    <div class="row g-3">
        <div class="col-sm-5">
            <%= column_chart  @datos_proporcion, title: "Proporción de accidentes de trabajo mortales", download: {filename: "ProporcionAcidentesMortales"}, download: {background: "#FFFFFF"}, xtitle: "Fecha", ytitle: "Indicador", prefix: "Indicador: ", suffix: "%" if @report_official.present? %>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Accidentes mortales en el año</th>
                        <th scope="col">Accidentes en el año</th>
                        <th scope="col">Indicador</th>
                    </tr>
                </thead>
                <tbody>
    
    
                    <%  @report_official.each do |rep| %>
                        <tr>
                            <td><%= rep.year %></td>
                            <td><%= rep.month %></td>
                            <td><%= rep.total_accidents_mortal_year %></td>
                            <td><%= rep.total_accidents_work_year %></td>
                            <td><%= rep.proporcion_accidentes_mortales %></td>
                        </tr>    
                    <% end %>
                </tbody>
            </table>

            <hr>
        </div>
    </div>        
    <br>
    <hr>
    
    <div class="row g-2">
         <h2 class="display-5">INDICADORES MINIMOS DE SST (Res 0312/2019, artículo 30)</h2>
         <hr>
    </div>
    
    <hr>
    <table class="table">
            <tr>
                <td style="border:1px solid black; width: 100%; text-align:center"><h3>Indicadores mínimos del año <%= @year %> Resolución 0312</h3></td>
            </tr> 
    </table>
    <table class="table">
            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Indicadores</h5></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Enero</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Febrero</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Marzo</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Abril</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Mayo</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Junio</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Julio</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Agosto</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Septiembre</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Octubre</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Noviembre</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Diciembre</p></td>
                <td style="padding:15px; border:1px solid black; writing-mode:vertical-lr; transform:rotate(180deg); text-align:center"><p>Total</p></td>
            </tr>
            
            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de accidentes incapacitantes en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_work_accidents(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_total_work_accidents(@report_official) if @report_official.present? %></td>
            </tr>
            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de días de incapacidad por accidente en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_days_severidad_accidents(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_total_days_severidad_accidents(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de días de ausencia en el mes (por causa común y laboral)</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_days_absenteeism(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_total_days_absenteeism(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de días de trabajo programados en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_working_days_month(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.suma_working_days_month(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de trabajadores DEPENDIENTES en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.promedio_number_oficial(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de trabajadores INDEPENDIENTES en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_independent(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.promedio_number_oficial_independent(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de trabajadores ESTUDIANTES en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_student(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.promedio_number_oficial_student(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de trabajadores TEMPORALES (EN MISIÓN) en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_temporary(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.promedio_number_oficial_temporary(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de trabajadores COOPERADOS en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_cooperative(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.promedio_number_oficial_cooperative(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de trabajadores OTROS CONTRATOS en el mes</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_number_oficial_other(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.promedio_number_oficial_other(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Enfermedades laborales años anteriores</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease(@report_official, 12) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>Número de Enfermedad Laboral en el año</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease_year(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_occupational_disease_year(@report_official, 12) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>TOTAL TRABAJADORES</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_officials(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_total_officials(@report_official, 12) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>TOTAL DÍAS DE TRABAJO PROGRAMADOS</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_total_dias_trabajo_programados(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_total_dias_trabajo_programados(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>FRECUENCIA DE LA ACCIDENTALIDAD</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_frecuencia_accidentalidad(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_frecuencia_accidentalidad(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>SEVERIDAD DE LA ACCIDENTALIDAD</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_severidad_accidentalidad(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_severidad_accidentalidad(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>SEVERIDAD DE LA ACCIDENTALIDAD</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_severidad_accidentalidad(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_severidad_accidentalidad(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>AUSENTISMO POR CAUSA MÉDICA</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_ausentismo_causa_medica(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_ausentismo_causa_medica(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>PREVALENCIA DE LA ENFERMEDAD LABORAL</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_prevalencia_enfermedad_laboral(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_prevalencia_enfermedad_laboral(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>INCIDENCIA DE LA ENFERMEDAD LABORAL</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_incidencia_enfermedad_laboral(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_incidencia_enfermedad_laboral(@report_official) if @report_official.present? %></td>
            </tr>

            <tr>
                <td style="border:1px solid black; width: 30%; text-align:center"><h5>PROPORCIÓN DE ACCIDENTES MORTALES</h5></td>
                <% for j in 1...13  %>
                    <td style="border:1px solid black; text-align:center"><%= @report_official.dato_proporcion_accidentes_mortales(@report_official, j) if @report_official.present? %></td>
                <% end %>    
                <td style="border:1px solid black; text-align:center"><%= @report_official.pro_proporcion_accidentes_mortales(@report_official) if @report_official.present? %></td>
            </tr>

    </table>

</div>  



