<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @report_official do |form| %>
        <% @report_official.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    

        <div class="row g-3">
            <div class="col-sm-8">
                <%= form.label :entity_id, style: "display: block" %>
                <%= form.collection_select :entity_id, Entity.all.order(id: :asc), :id, :business_name, { prompt: '--Seleccionar--' },
                { class: 'form-control input-sm select2' } %>
            </div>        
        </div>   

        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :year, style: "display: block" %>
                <%= form.number_field :year,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <%= form.label :month, style: "display: block" %>
                <%= form.number_field :month,  class: "form-control" %>
            </div>        
        </div>   

        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :number_oficial, style: "display: block" %>
                <%= form.number_field :number_oficial,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <%= form.label :number_oficial_independent, style: "display: block" %>
                <%= form.number_field :number_oficial_independent,  class: "form-control" %>
            </div>        
        </div>   

        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :number_oficial_student, style: "display: block" %>
                <%= form.number_field :number_oficial_student,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <%= form.label :number_oficial_temporary, style: "display: block" %>
                <%= form.number_field :number_oficial_temporary,  class: "form-control" %>
            </div>        
        </div>   
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :number_oficial_cooperative, style: "display: block" %>
                <%= form.number_field :number_oficial_cooperative,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <%= form.label :number_oficial_other, style: "display: block" %>
                <%= form.number_field :number_oficial_other,  class: "form-control" %>
            </div>        
        </div>   

        <div class="col-sm-4">
            <%= form.label :working_days_month, style: "display: block" %>
            <%= form.number_field :working_days_month,  class: "form-control" %>
        </div>         

        <%= form.hidden_field :user_reports, :value => Current.user.id, class: "form-control" %>
        <%= form.hidden_field :date, :value => Time.now, class: "form-control" %>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, report_officials_path %>
    <% end %>
</div>
<br>

 
         