<tr>
    <td><%= report_official.year %></td>
    <td><%= ReportOfficial.label_month(report_official.month) %></td>
    <td><%= ReportOfficial.label_entidad(report_official.entity_id) %></td>
    <td><%= report_official.total_officials %></td>
    <td><%= report_official.working_days_month %></td> 
    <td><%= link_to t('common.edit'), edit_report_official_path(report_official), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= link_to t('common.delete'), report_official, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el reporte?' }, class: 'btn btn-sm btn-danger' %></td>
    <td><%= link_to t('common.update_indicator'), actualizar_indicadores_report_officials_path(report_official), class: 'btn btn-sm btn-primary'  %></td>

</tr>
