<%= render 'shared/header2' %>
<br>
<div class="container col-12">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5">Registro de funcionarios</h2>
               <%= link_to t('.create_report_official'), new_report_official_path, class: 'btn btn-sm btn-primary'  %>
            </div> 
        </div>
        <hr>
    <table class="table table-hover"> 
        <thead>
            <tr>
                <th scope="col"><%= t('common.year') %></th>
                <th scope="col"><%= t('common.month') %></th>
                <th scope="col"><%= t('common.entity_id') %></th>
                <th scope="col">Funcionarios</th>
                <th scope="col"><%= t('common.working_days_month') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col"><%= t('common.delete') %></th> 
                <th scope="col"><%= t('common.update_indicator') %></th> 

            </tr>
        </thead>
        <tbody>
            <%= render partial: 'report_official', collection: @report_officials  %>  
        </tbody>      
    </table>
</div>

