<tr>
    <td><%= list.numero %></td>
    <td><%= list.created_at.strftime("%Y-%m-%d")  %></td>
    <td><%= List.label_entity(list.entity_id)  %></td>
    <td><%= List.label_name(list.check_list_id) %></td>
    <td><%= link_to t('common.ver'), list_path(list.id), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= button_to t('common.delete'), list, method: :delete, class:"btn btn-sm btn-danger" %></td>
    <td><%= link_to "PDF", list_pdf_path(list.id, format: 'pdf'), class: 'btn btn-sm btn-outline-primary'  %></td>

</tr>