<tr>
    <td><%= adm_attendance.date_attendance %></td>
    <td><%= adm_attendance.description %></td>
    <td><%= adm_attendance.entity.business_name %></td>

    <td><%= link_to t('common.edit'), edit_adm_attendance_path(adm_attendance), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= link_to "PDF", adm_attendance_pdf_path(adm_attendance.id, format: 'pdf'), class: 'btn btn-sm btn-outline-primary'  %></td>
    <td>
        <%  @cant_reg =  AdmAttendance.contador(adm_attendance.id) %>
        <% if @cant_reg.present? %>
            <!-- Button trigger modal --> 
            <button class="btn btn-sm btn-outline-primary position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                Registrados
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      <%= @cant_reg %>+
                     <span class="visually-hidden">unread messages</span>
                </span>
            </button>
        <% end %>
    </td>
  
</tr>
