<head>
    <meta charset='utf-8' />
</head>
<div class="container col-11 card p-5"> 
    <table class="table">
        <thead> 
            <tr>    
                <td style="width: 30%;"><strong>Nombre</strong></td>
                <td style="width: 15%;"><strong>Documento</strong></td>
                <td style="width: 15%;"><strong>Cargo</strong></td>
                <td style="width: 15%;"><strong>Área</strong></td>
                <td style="width: 25%;"><strong>Firma</strong></td>
            </tr>
        </thead>
        <tbody>
            <% if  @attendances.present? %>
                <%  @attendances.each do |attendance| %>
                    <tr >
                        <td style="width: 30%;"><h5></br><%= attendance.user.name %></h5></td>
                        <td style="width: 15%;"><h5></br><%= attendance.user.nro_document %></h5></td>
                        <td style="width: 15%;"><h5></br><%= User.label_activity(attendance.user.activity) if attendance.user.activity.present? %></h5></td>
                        <td style="width: 15%;"><h5></br><%= User.label_area_employee(attendance.user.area_employee) if attendance.user.area_employee.present? %></h5></td>
                        <td style="width: 25%;">
                            <%= image_tag(Evaluation.wicked_blob_path(attendance.user.firm),:width => "120") %>
                        </td>
                    </tr>
                <% end %>
            <% end %>        
        </tbody>      
    </table>
</div>

