<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-12"> 
    <%= render 'encabezado' %>
    <div></br></div>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <th style="border:1px solid black">NOMBRE Y APELLIDO</th>
            <th style="border:1px solid black">N° DE DOCUMENTO</th>
            <th style="border:1px solid black">CARGO</th>
            <th style="border:1px solid black">UNIDAD DE GESTIÓN A LA QUE PERTENECE:</th>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid black"><%=@colaborador.name%></td>
            <td style="border:1px solid black"><%=@colaborador.nro_document%></td>
            <td style="border:1px solid black"><%=@provides_protection.post_colaborador%></td>
            <td style="border:1px solid black"><%=@provides_protection.unit_colaborador%></td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
    </table>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid white">
                <div class="row text-center">
                    <strong>COMPROMISO</strong>
                </div> 
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid white">
                <div class="row text-justify">
                    <p>Me comprometo a utilizar adecuadamente durante la jornada laboral los elementos de protección personal suministrados por <strong><%= @provides_protection.entity.business_name if @provides_protection.present? %></strong> con el fin de dar cumplimiento a las normas de Seguridad y Salud en el Trabajo vigentes y aplicables para la entidad, las cuales contribuyen a mi bienestar mental, físico y social.</p>
                </div> 
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid white">
                <div class="row text-justify">
                    <p>"El uso de los equipos y elementos de protección personal (incluyendo ropa de trabajo) está enmarcado en la siguiente normatividad:                                                                                                                                                                                                                                                                                LEY 9 DE 1979: Art. 122, sobre elementos de protección personal: “a- Los empleadores están obligados a proporcionar a cada trabajador, sin costo para este, elementos de protección personal” RESOLUCIÓN 2400 de 1979: Son obligaciones de los trabajadores: Utilizar y mantener adecuadamente las instalaciones de la empresa, los elementos de trabajo, los dispositivos para el control de riesgos y los equipos de protección personal que el patrono suministre, y conservar el orden y aseo en los lugares de trabajo.  Decreto 1072 de 2015 Art. 2.2.4.6.12): Se debe registrar la entrega de Equipos y Elementos de protección personal. Resolución 0312 de 2019 establece los estándares mínimos del Sistema de Gestión de SST" </p>
                </div> 
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid white">
                <div class="row text-justify">
                    <p>El presente compromiso quedará archivado en el Área de Talento Humano para los fines pertinentes.</p>
                </div> 
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>

    </table>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid white;text-align:center">
                <strong>ELEMENTOS DE PROTECCIÓN PERSONAL (EPP)</strong>
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
    </table>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <th style="border:1px solid black;text-align:center">ITEM</th>
            <th style="border:1px solid black">DESCRIPCIÓN</th>
            <th style="border:1px solid black;text-align:center">CANTIDAD</th>
            <th style="border:1px solid black;text-align:center">FECHA</th>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <% @provides_protection_items.each do |provides_protection_item| %>             
            <tbody>
                <tr>
                    <td style="background-color: white;">&nbsp;</td>
                    <td style="border:1px solid black;text-align:center"><%= provides_protection_item.num %></td>
                    <td style="border:1px solid black"><%= provides_protection_item.protection_element.name %></td>
                    <td style="border:1px solid black;text-align:center"><%= provides_protection_item.cant %></td>
                    <td style="border:1px solid black;text-align:center"><%= provides_protection_item.date_entrega %></td>
                    <td style="background-color: white;">&nbsp;</td>
                </tr>
            </body>
        <% end %>
    </table>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid white;text-align:center">
                <strong>DATOS DEL RESPONSABLE DE LA ENTREGA DE LOS ELEMENTOS</strong>
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
    </table>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <th style="border:1px solid black">NOMBRE Y APELLIDOS</th>
            <th style="border:1px solid black">CÉDULA</th>
            <th style="border:1px solid black">CARGO</th>
            <th style="border:1px solid black">FECHA FIRMA</th>
            <th style="border:1px solid black">FIRMA</th>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid black"><%= @responsable.name %></td>
            <td style="border:1px solid black"><%= @responsable.nro_document %></td>
            <td style="border:1px solid black"><%= @responsable.activity %></td>
            <td style="border:1px solid black"><%= @provides_protection.date_firm_responsible %></td>
            <td style="border:1px solid black">
                <% if @provides_protection.firm_responsible == 1 %>
                    <% if @responsable.firm.attached? %>
                       <% if @responsable.firm.image? %> 
                            <%= image_tag @responsable.firm, class: "firma" %>
                            <p align="center">________________________________</p>
                        <% end %>
                    <% end %>
                <% end %>    
            </td>
            <td style="background-color: white;">&nbsp;</td>
                </tr>
            </body>
    </table>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid white;text-align:center">
                <strong>DATOS DEL COLABORADOR</strong>
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
    </table>
    <table class="table table-hover" style="border:1px solid white"> 
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <th style="border:1px solid black">NOMBRE Y APELLIDOS</th>
            <th style="border:1px solid black">CÉDULA</th>
            <th style="border:1px solid black">CARGO</th>
            <th style="border:1px solid black">FECHA FIRMA</th>
            <th style="border:1px solid black">FIRMA</th>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: white;">&nbsp;</td>
            <td style="border:1px solid black"><%= @colaborador.name %></td>
            <td style="border:1px solid black"><%= @colaborador.nro_document %></td>
            <td style="border:1px solid black"><%= @provides_protection.post_colaborador %></td>
            <td style="border:1px solid black"><%= @provides_protection.date_firm_colaborador %></td>
            <td style="border:1px solid black">
                <% if @provides_protection.firm_colaborador == 1 %>
                    <% if @colaborador.firm.attached? %>
                       <% if @colaborador.firm.image? %> 
                            <%= image_tag @colaborador.firm, class: "firma" %>
                            <p align="center">________________________________</p>
                        <% end %>
                    <% end %>
                <% end %>    
            </td>
            <td style="background-color: white;">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

</div>    
