<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_document'), new_document_path, class: 'btn btn-sm btn-primary'  %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.document_type') %></th>
                <th scope="col"><%= t('.code') %></th>
                <th scope="col"><%= t('.abbreviation') %></th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'document', collection: @documents  %>  
        </tbody>      
    </table>
</div>
