<tr>
    <td><%= view_video.date_view %></td>
    <td><%= highlight view_video.name_view, params.dig(:q, :name_view_cont) %></td>
    <td><%= view_video.user_id %></td>
    <td><%= view_video.user.name %></td>
    <td><%= ViewVideo.label_type(view_video.type_presentation) %></td>
</tr>
