<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @activity do |form| %>
        <% @activity.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %> 
        
        <div class="col-sm-8">
            <%= form.label :entity_id, style: "display: block" %>
            <%= form.collection_select :entity_id, Entity.all.order(id: :asc), :id, :business_name, { prompt: '--Seleccionar--' },
            { class: 'form-control input-sm select2' } %>
        </div>  
        <br> 
        <div class="row g-2">
            <div class="col-sm-7">
                <%= form.label :origin, style: "display: block" %>
                <%= form.select(:origin, [['Compromiso acta reunión', 'Compromiso acta reunión'], ['Plan de trabajo', 'Plan de trabajo'], ['Plan de auditoría', 'Plan de auditoría'], ['Plan de capacitaciones', 'Plan de capacitaciones'], ['Comité convivencia', 'Comité convivencia'], ['COPASST', 'COPASST'], ['CCL', 'CCL'], ['Brigada de emergencia', 'Brigada de emergencia'], ['Otros', 'Otros']]) %>
            </div> 

            <div class="col-sm-4">
                <%= form.label :state, style: "display: block" %>
                <%= form.select(:state, [['Pendiente', 0], ['Cumplida', 1], ['Cancelada', 2]]) %>
            </div> 
        </div>  
        <br> 
        <div class="row g-3">
            <div class="col-sm-6">
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div> 

            <div class="col-sm-3">
                <%= form.label :citation, style: "display: block" %>
                <%= form.time_field :citation %>
            </div>
            
            <div class="col-sm-2">
                <%= form.label :notify,  style: "display: block" %> 
                <%= form.radio_button :notify, 0 %>
                <label for="no_aplica">No</label>
                <%= form.radio_button :notify, 1 %>
                 <label for="si_aplica">Si</label>
            </div>        
        </div>  
        <br> 
        <div class="form-group">    
            <%= form.label :description, style: "display: block" %>
            <%= form.text_area :description,  class: "form-control" %>
        </div>
        <br> 
        <div class="form-group">    
            <%= form.label :observation, style: "display: block" %>
            <%= form.text_area :observation,  class: "form-control" %>
        </div>
        <br>
        <%= form.hidden_field :calendar_id, :value => params[:id].to_i, class: "form-control" %>
        <%= form.hidden_field :user_id, :value => Current.user.id.to_i, class: "form-control" %>
        
        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div> 
<br>

