<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<%= stylesheet_link_tag "calendar", "data-turbo-track": "reload" %>
<div class="container">
    <h2 class="display-5">Calendario   <%= @adm_calendar.year if @adm_calendar.present? %></h2>
</div> 
<hr>
<% m = 1 %> 
<div class="container col-12 card p-5">
    <div class="row g-7">
        <div class="col-sm-2" >
            <div> 
                <button type="button" class="btn btn-outline-danger">Día festivo</button>
            </div>
        </div>
        <div class="col-sm-1" >
            <div></div>
        </div>
        <div class="col-sm-2" >
            <div> 
                <button type="button" class="btn btn-outline-warning">Día con actividad</button>
            </div>
        </div>
        <div class="col-sm-1" >
            <div></div>
        </div>
        <div class="col-sm-2" >
            <div> 
                <button type="button" class="btn btn-outline-secondary">Día actual</button>
            </div>
        </div>
        <div class="col-sm-1" >
            <div></div>
        </div>
        <div class="col-sm-2" >
            <div>
                <button type="button" class="btn btn-outline-primary">Día sin actividad</button>
            </div>
        </div>        
        <div class="col-sm-1" >
            <div></div>
        </div>
    </div>      
    <br>
        <div><br></div>
    
    
    <div class="row g-3">
        
            <% while m < 13 %> 
                <div class="col-sm-4">
                    <div style="width: 300px;">
                        <% if m == 1 then %><h1>Enero</h1><% end %>
                        <% if m == 2 then %><h1>Febrero</h1><% end %>
                        <% if m == 3 then %><h1>Marzo</h1><% end %>
                        <% if m == 4 then %><h1>Abril</h1><% end %>
                        <% if m == 5 then %><h1>Mayo</h1><% end %>
                        <% if m == 6 then %><h1>Junio</h1><% end %>
                        <% if m == 7 then %><h1>Julio</h1><% end %>
                        <% if m == 8 then %><h1>Agosto</h1><% end %>
                        <% if m == 9 then %><h1>Septiembre</h1><% end %>
                        <% if m == 10 then %><h1>Octubre</h1><% end %>
                        <% if m == 11 then %><h1>Noviembre</h1><% end %>
                        <% if m == 12 then %><h1>Diciembre</h1><% end %>
     
                        <ol>
                            <li class="day-name">Lu</li>
                            <li class="day-name">Ma</li>
                            <li class="day-name">Mi</li>
                            <li class="day-name">Ju</li>
                            <li class="day-name">Vi</li>
                            <li class="day-name">Sá</li>
                            <li class="day-name">Do</li> 

                            <% if @calendars.present? %>  
                                <% @calendars.where("month = ?", m).each do |calendar| %>  
                                    <% if calendar.day == 1 then %>
                                        <% if calendar.festive == 1 then %>
                                            <li style="grid-column-start: <%= calendar.diasem(calendar) %>;"><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-danger'  %></li>
                                        <% elsif calendar.hoy(calendar) == 1 %>
                                            <li style="grid-column-start: <%= calendar.diasem(calendar) %>;"><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-secondary'  %></li>
                                        <% elsif calendar.event(calendar) == 1 %>
                                            <li style="grid-column-start: <%= calendar.diasem(calendar) %>;"><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-warning'  %></li>
                                        <% else %>
                                            <li style="grid-column-start: <%= calendar.diasem(calendar) %>;"><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-primary'  %></li>
                                        <% end %>
                                    <% else %>
                                        <% if calendar.festive == 1 then %>
                                            <li><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-danger'  %></li>
                                        <% elsif calendar.hoy(calendar) == 1 %>
                                            <li><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-secondary'  %></li>
                                        <% elsif calendar.event(calendar) == 1 %>
                                            <li><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-warning'  %></li>
                                        <% else %>
                                            <li><%= link_to calendar.day, detail_path(calendar.id), class: 'btn btn-outline-primary'  %></li>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </ol>
                    </div>
                </div>
                <% m = m + 1 %> 
            <% end %>
        
    </div>      
</div>
