<div class="container col-12 card p-5">
    <br> 
    <%= form_with model: @simulacrum_item do |form| %>
        <% @simulacrum_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Clasificación: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.select(:clasification, [['METODOLOGÍA', 0], ['PERSONAL EVACUADO', 1], ['ACTIVIDADES PREVIAS AL SIMULACRO', 2], ['SECUENCIA CRONOLÓGICA DE EVENTOS', 3]]) %>
                </td>
            </tr>
        </table>
        </br> 
        <div><strong><h5>METODOLOGÍA</h5></strong></div>

        <table style="width: 100%;">        
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Nombre: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :name,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Cargo en el ejercicio: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :position_exercise,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Área de trabajo: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :area_work,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Funciones: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_area :functions,  class: "form-control" %>
                </td>
            </tr>
       </table>
       </br> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Nombre</strong>               
                </td>
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Cargo en el ejercicio</strong>               
                </td>
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Área de trabajo</strong>               
                </td>
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Funciones</strong>               
                </td>
            </tr>
            <% if @simulacrum_items.present? %>
                <%  @simulacrum_items.where("clasification = ?",0).each  do |item| %>
                    <tr>    
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.name  %>               
                        </td>
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.position_exercise  %>               
                        </td>
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.area_work  %>               
                        </td>
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.functions  %>               
                        </td>
                    </tr>
                <% end %>               
            <% end %>               
        </table>
        <div></br></div>
        </br> 
        <div><strong><h5>PERSONAL EVACUADO</h5></strong></div>

        <table style="width: 100%;">        
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Piso: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :floor,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Área: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :evacuated_personal_area,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Nombre: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :evacuated_personal_name,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Cargo: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_area :evacuated_personal_cargo,  class: "form-control" %>
                </td>
            </tr>
       </table>
       </br> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Piso</strong>               
                </td>
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Área</strong>               
                </td>
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Nombre</strong>               
                </td>
                <td style="width: 25%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Cargo</strong>               
                </td>
            </tr>
            <% if @simulacrum_items.present? %>
                <%  @simulacrum_items.where("clasification = ?",1).each  do |item| %>
                    <tr>    
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.floor  %>               
                        </td>
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.evacuated_personal_area  %>               
                        </td>
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.evacuated_personal_name  %>               
                        </td>
                        <td style="width: 25%;border:1px solid black;padding: 5px;">
                            <%= item.evacuated_personal_cargo  %>               
                        </td>
                    </tr>
                <% end %>               
            <% end %>               
        </table>
        <div></br></div>
        <div><strong><h5>ACTIVIDADES PREVIAS AL SIMULACRO</h5></strong></div>

        <table style="width: 100%;">        
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Actividad: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :previous_activity,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Fecha: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.date_field :date_previous,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Responsable: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :responsible_previous,  class: "form-control" %>
                </td>
            </tr>
       </table>
       </br> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Programación de actividades preparatorias del simulacro</strong>               
                </td>
            </tr>    
       </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 40%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Actividad</strong>               
                </td>
                <td style="width: 20%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Fecha</strong>               
                </td>
                <td style="width: 40%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Responsable</strong>               
                </td>
            </tr>
            <% if @simulacrum_items.present? %>
                <%  @simulacrum_items.where("clasification = ?",2).each  do |item| %>
                    <tr>    
                        <td style="width: 40%;border:1px solid black;padding: 5px;">
                            <%= item.previous_activity  %>               
                        </td>
                        <td style="width: 20%;border:1px solid black;padding: 5px;">
                            <%= item.date_previous  %>               
                        </td>
                        <td style="width: 40%;border:1px solid black;padding: 5px;">
                            <%= item.responsible_previous  %>               
                        </td>
                    </tr>
                <% end %>               
            <% end %>               
        </table>
        <div></br></div>
        <div><strong><h5>SECUENCIA CRONOLÓGICA DE EVENTOS</h5></strong></div>

        <table style="width: 100%;">        
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Hora: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.time_field :time_sequence_crono,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 50%;border:1px solid black;">
                    <strong>Actividad: </strong>
                </td>
                <td style="width: 50%;border:1px solid black;">
                    <%= form.text_field :activity_sequence,  class: "form-control" %>
                </td>
            </tr>
       </table>
       </br> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 30%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Hora</strong>               
                </td>
                <td style="width: 70%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Actividad</strong>               
                </td>
            </tr>
            <% if @simulacrum_items.present? %>
                <%  @simulacrum_items.where("clasification = ?",3).each  do |item| %>
                    <tr>    
                        <td style="width: 30%;border:1px solid black;padding: 5px;">
                            <%= item.time_sequence_crono  %>               
                        </td>
                        <td style="width: 70%;border:1px solid black;padding: 5px;">
                            <%= item.activity_sequence  %>               
                        </td>
                    </tr>
                <% end %>               
            <% end %>               
        </table>
        <div></br></div>


        <%= form.hidden_field :simulacrum_id, :value => params[:id].to_i, class: "form-control" if params[:id].present? %>
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>

 