<tr>
    <td><%= highlight administrative_political_division.department_code, params.dig(:q, :department_code_eq) %></td>
    <td><%= highlight administrative_political_division.department_name, params.dig(:q, :department_name_cont) %></td>
    <td><%= highlight administrative_political_division.municipality_code, params.dig(:q, :municipality_code_eq) %></td>
    <td><%= highlight administrative_political_division.municipality_name, params.dig(:q, :municipality_name_cont) %></td>
    <td><%= highlight administrative_political_division.town_center_name, params.dig(:q, :town_center_name_cont) %></td>
    <td><%= highlight administrative_political_division.town_center_code, params.dig(:q, :town_center_code_eq) %></td>
    <td><%= administrative_political_division.classification %></td>
    <td><%= link_to t('common.edit'), edit_administrative_political_division_path(administrative_political_division), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>
