<tr>
    <td><%= administrative_political_division.department_code %></td>
    <td><%= administrative_political_division.department_name %></td>
    <td><%= administrative_political_division.municipality_code %></td>
    <td><%= administrative_political_division.municipality_name %></td>
    <td><%= administrative_political_division.town_center_name %></td>
    <td><%= administrative_political_division.town_center_code %></td>
    <td><%= administrative_political_division.classification %></td>

    <td><%= link_to t('common.edit'), edit_administrative_political_division_path(administrative_political_division), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>
