<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @administrative_political_division do |form| %>
        <% @administrative_political_division.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">    
            <%= form.label :department_code, style: "display: block" %>
            <%= form.text_field :department_code,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :department_name, style: "display: block" %>
            <%= form.text_field :department_name,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :municipality_code, style: "display: block" %>
            <%= form.text_field :municipality_code,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :municipality_name, style: "display: block" %>
            <%= form.text_field :municipality_name,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :town_center_name, style: "display: block" %>
            <%= form.text_field :town_center_name,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :town_center_code, style: "display: block" %>
            <%= form.text_field :town_center_code,  class: "form-control" %>
        </div>

        <div class="form-group">    
            <%= form.label :classification, style: "display: block" %>
            <%= form.text_field :classification,  class: "form-control" %>
        </div>

        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, administrative_political_divisions_path %>

    <% end %>
  </div>
  <br>    
</div>        
 

