<!-- render 'shared/header2' -->
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_administrative_political_division'), new_administrative_political_division_path, class: 'btn btn-sm btn-primary'  %>
        </div> 
        <hr>
    <table class="table table-hover">
        <thead> 
            <tr>
                <th scope="col"><%= t('.department_code') %></th>
                <th scope="col"><%= t('.department_name') %></th>
                <th scope="col"><%= t('.municipality_code') %></th>
                <th scope="col"><%= t('.municipality_name') %></th>
                <th scope="col"><%= t('.town_center_name') %></th>
                <th scope="col"><%= t('.town_center_code') %></th>
                <th scope="col"><%= t('.classification') %></th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'administrative_political_division', collection: @administrative_political_divisions  %>  
        </tbody>      
    </table>
</div>

