<br>
<div>
    <table class="table table-hover" style="border:1px solid black"> 
        <thead>
            <tr>
                <td rowspan="4"; style="background-color: black;">&nbsp;</td>
                <td rowspan="4"; style="border:1px solid black; text-align:center; padding-bottom: 40px;">
                    <% if @unsafe_condition.entity.logo.present? then %>
                        <%=  image_tag  @unsafe_condition.entity.logo, class: "image_peq" %>
                    <% end %>
                </td>
                <td rowspan="4"; colspan="6"; style="text-align:center; padding-bottom: 40px;">
                    <div><h5>REPORTE DE ACTOS Y CONDICIONES INSEGURAS</h5><h6><%= @unsafe_condition.entity.business_name if @unsafe_condition.present? %> Nit: <%= @unsafe_condition.entity.identification_number if @unsafe_condition.present? %> </h6></div>
                </td>
                <td rowspan="4";  style="text-align:center"></td>

                <td colspan="2"; style="border:1px solid black">Fecha de Creaci贸n:</td>

                <td style="border:1px solid black"><%= @unsafe_condition.created_at.strftime("%F")  if @unsafe_condition.present? %></td>
                <td style="background-color: black;">&nbsp;</td>

            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Fecha de Actualizaci贸n:</td>
                <td style="border:1px solid black"><%= @unsafe_condition.updated_at.strftime("%F")  if @unsafe_condition.present? %></td>
                <td style="background-color: black;">&nbsp;</td>
            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Versi贸n:</td>
                <td style="border:1px solid black"><%= @unsafe_condition.version if @unsafe_condition.present? %></td>
                <td style="background-color: black;">&nbsp;</td>
            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">C贸digo:</td>
                <td style="border:1px solid black"><%= @unsafe_condition.code if @unsafe_condition.present? %></td>
                <td style="background-color: black;">&nbsp;</td>
            </tr>
        </thead>

        <br>
        <table>

            <tr> 
                <td style="background-color: black;">&nbsp;</td>
                <td colspan="6"; style="border:1px solid black;">
                    <strong>Fecha de reporte:</strong>               
                </td>
                <td style="border:1px solid black;">
                    <%= @unsafe_condition.date_report  if @unsafe_condition.date_report.present? %>
                </td>
                <td style="background-color: black;">&nbsp;</td>
            </tr>
            <tr>    
                <td style="background-color: black;">&nbsp;</td>
                <td style="border:1px solid black;">
                    <strong>ugar y sede del reporte:</strong>               
                </td>
                <td style="border:1px solid black;">
                    <%= @unsafe_condition.place_report  if @unsafe_condition.place_report.present? %>
                </td>
                <td style="background-color: black;">&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: black;">&nbsp;</td>
                <td style="border:1px solid black;">
                    <strong>Persona que reporta:</strong>               
                </td>
                <td style="border:1px solid black;">
                    <%= @reporta.name  if @reporta.present? %> 
                </td>
                <td style="background-color: black;">&nbsp;</td>
            </tr>
            <tr>    
                <td style="background-color: black;">&nbsp;</td>
                <td style="border:1px solid black;">
                    <strong>Cargo de la persona que reporta:</strong>               
                </td>
                <td style="border:1px solid black;">
                    <%= @reporta.activity  if @reporta.present? %> 
                </td>
                <td style="background-color: black;">&nbsp;</td>
            </tr>
        </table>    


    </table>    
<div>

