<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>

<div class="container col-11 card p-5"> 
    <table style="border:1px solid black">
        <tr>
            <td rowspan="2" style="border:1px solid black; width: 20%; text-align:center">
                
                    <% if @history_evaluation.entity.logo.present? then %>
                        <%=  image_tag  @evidence.entity.logo, class: "image_peq" %>
                    <% end %>   
                
            </td>
            <td style="border:1px solid black; text-align:center">
                <div class="col-10"><h5><%= @history_evaluation.entity.business_name if @evidence.present? %></h5></div>
            </td>
        </tr>
    </table>
</div>
<br>