<head> 
    <meta charset='utf-8' />
</head>

<br>
<div> 
    <div class="row g-2">
        <div class="col-sm-10">
            <h2 class="display-5">Copia evaluación:</h2>
        </div>        
        <hr>
    </div>            
</div>   

    <div>
        <br>
            <div class="row g-2">
                <div class="col-sm-12">
                    <strong><%= t('.entity_id') %></strong>
                    <%= @history_evaluation.entity.business_name if @history_evaluation.present? %> 
                </div>        
            </div>

            <div class="row g-2">
                <div class="col-sm-4"> 
                    <strong><%= t('.evaluation_id') %></strong>
                    <%= @history_evaluation.evaluation_id if @history_evaluation.present? %> 
                </div>        

                <div class="col-sm-4">
                    <strong><%= t('.date_create_evaluation') %></strong>
                    <%= @history_evaluation.date_create_evaluation if @history_evaluation.present? %> 
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.date_history_evaluation') %></strong>
                    <%= @history_evaluation.date_history_evaluation if @history_evaluation.present? %> 
                </div>        
            </div>

            <div class="row g-2">
                <div class="col-sm-12">
                    <strong><%= t('.rule_id') %></strong>
                    <%= @history_evaluation.rule.name if @history_evaluation.present? %> 
                </div>        
            </div>

            <div class="row g-2"> 
                <div class="col-sm-6">
                <strong><%= t('.number_employees') %></strong>
                <%= @history_evaluation.number_employees if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-6">
                    <strong><%= t('.risk_level_id') %></strong>
                    <%= @history_evaluation.risk_level.name if @history_evaluation.present? %>
                </div>        
            </div>  

            <div class="row g-3">
                <div class="col-sm-4">
                    <strong><%= t('.completed_items') %></strong>
                    <%= @history_evaluation.completed_items if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.unfulfilled_items') %></strong>
                    <%= @history_evaluation.unfulfilled_items if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.not_apply_items') %></strong>
                    <%= @history_evaluation.not_apply_items if @history_evaluation.present? %>
                </div>        
            </div>  

            <div class="row g-3">
                <div class="col-sm-4">
                    <strong><%= t('.score') %></strong>
                    <%= @history_evaluation.score if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.percentage') %></strong>
                    <%= @history_evaluation.percentage if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4"> 
                    <strong><%= t('.result') %></strong>
                    <% if @history_evaluation.result.to_s == 'ACEPTABLE' %>
                        <div style="color:#008000";><%= @history_evaluation.result %> </div>
                    <% end  %>     
                    <% if @history_evaluation.result.to_s == 'MODERADAMENTE ACEPTABLE'  %>
                        <div style="color:#FFD200";><%= @history_evaluation.result %> </div>
                    <% end  %>    
                    <% if @history_evaluation.result.to_s == 'CRÍTICO'  %>
                        <div style="color:#FF0000";><%= @history_evaluation.result %> </div>
                    <% end  %>    
                </div>        
            </div>  
            <div class="row g-3">
                <div class="col-sm-4">
                    <strong><%= t('.expected_goald') %></strong>
                    <%= @history_evaluation.expected_goald if @history_evaluation.present? %>%
                </div>        
                <div class="col-sm-4">
                </div>        
                <div class="col-sm-4"> 
                </div>        
            </div>  
        
            <div class="row g-2">
                <div class="col-sm-12">
                    <strong><%= t('.observation') %></strong>
                    <%= @history_evaluation.observation if @history_evaluation.present? %> 
                </div>        
            </div>
    </div>    
    <br>
<br>
<div class="container col-12" 
    <br>
    <h2 class="display-5">Estándares que aplican para la norma</h2> 
    <hr>
</div> 
<br>  

<div class="container col-12">  
    </br>        

    <table class="table table-hover">
        <tbody>
            <tr>  
                <th scope="col">Ciclo</th>
                <th scope="col">Item</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cumple</th>
                <th scope="col">Aplica Norma</th>
                <th scope="col">Puntaje</th>
            </tr>
         
            <% @history_items.each do |evaluation_items| %> 
                    <tr> 
                        <td style="padding: 5px;"><%= Standar.label_cycle(evaluation_items.cycle) %></td>
                        <td style="padding: 5px;"><%= evaluation_items.evaluation_rule_detail.standar_detail_item.item_nro %></td>
                        <td style="padding: 5px;"><%= evaluation_items.description%></td>
                        <td style="padding: 5px;"><%= HistoryEvaluation.label_meets(evaluation_items.meets) %></td>
                        <td style="padding: 5px;"><%= HistoryEvaluation.label_apply(evaluation_items.apply) %></td>
                        <td style="padding: 5px;"><%= evaluation_items.score %></td>
                    </tr>  
            <% end %> 
        </tbody>   
 
    </table>
    </br>  
    <br>
    <h2 class="display-5">Estándares que no aplican para la norma</h2> 
    <hr>
    <div class="row g-3">
        <div class="col-sm-4">
           <strong><%= t('.score_int') %>:</strong>
           <%= @history_evaluation.score_int  %>%
        </div>        
        <div class="col-sm-4">
            <strong>Estado:</strong>
            <% if  @history_evaluation.score_int > 85.99  %>
                <div style="color:#008000";>ACEPTABLE</div>
            <% end  %>    
            <% if @history_evaluation.score_int > 60.99 && @history_evaluation.score_int < 86  %>
                <div style="color:#FFD200";>MODERADAMENTE ACEPTABLE</div>
            <% end  %>    
            <% if @history_evaluation.score_int < 61 %>
                <div style="color:#FF0000";>CRÍTICO</div>
            <% end  %>    
        </div>        
    </div>  

    <table class="table table-hover">
        <tbody>
            <tr>  
                <th scope="col">Ciclo</th>
                <th scope="col">Item</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cumple</th>
                <th scope="col">Aplica Norma</th>
                <th scope="col">Puntaje</th>
            </tr>
 
         
            <% @history_itemsno.each do |evaluation_items| %> 
                    <tr> 
                        <td style="padding: 5px;"><%= Standar.label_cycle(evaluation_items.evaluation_rule_detail.standar_detail_item.standar_detail.standar.cycle) %></td>
                        <td style="padding: 5px;"><%= evaluation_items.evaluation_rule_detail.standar_detail_item.item_nro %></td>
                        <td style="padding: 5px;"><%= evaluation_items.evaluation_rule_detail.standar_detail_item.description%></td>
                        <td style="padding: 5px;"><%= HistoryEvaluation.label_meets(evaluation_items.meets) %></td>
                        <td style="padding: 5px;"><%= HistoryEvaluation.label_apply(evaluation_items.apply) %></td>
                        <td style="padding: 5px;"><%= evaluation_items.score %></td>
                    </tr>  
            <% end %> 
        </tbody>   
 
    </table>
    </br>  
    
    

    
</div>  
<br> 

    <br> 
    <div class="row"><br></div>
    <table style="width: 100%">
        <tr>    
            <td style="border:0px solid black; width: 50%; text-align:center">
                    <% if @user_responsible.present? %>
                        <div class="row  text-center"> 
                            <div class="col-11">
                                <div>Firma del Asesor externo de apoyo en la ejecución del SG-SST:</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <% if @history_evaluation.firm_responsible_execution == "1" %>
                                   <% if @user_responsible.firm.attached? %>
                                      <% if @user_responsible.firm.image? %> 
                                            <%= image_tag(Evaluation.wicked_blob_path(@user_responsible.firm), class: "firmapdf")%>
                                            <p align="center">________________________________</p>
                                      <% end %>
                                    <% end %>
                                <% else %>    
                                    <p align="center">________________________________</p>
                                 <% end %>     
                            </div>
                           <div class="col-11">
                                <div class="row">
                                    <strong><%= @user_responsible.name %></strong>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <%= @user_responsible.activity %>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <%= @user_responsible.document.abbreviation %>: <%= Firm.miles(@user_responsible.nro_document) %>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    Fecha firma: <%= @history_evaluation.date_firm_responsible  if @history_evaluation.date_firm_responsible.present? %>
                                </div>
                            </div>
                        </div>
                        <br>
                    <% end %>    
            </td>
            <td style="border:0px solid black; width: 50%; text-align:center">
                    <% if @user_representante.present? %>
                        <div class="row  text-center"> 
                            <div class="col-11">
                                <div>Firma del Empleador o Contratante:</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <% if  @history_evaluation.firm_employee_contractor == "1" %>
                                   <% if @user_representante.firm.attached? %>
                                      <% if @user_representante.firm.image? %> 
                                           <%= image_tag(Evaluation.wicked_blob_path(@user_representante.firm), class: "firmapdf")%>
                                            <p align="center">________________________________</p>
                                      <% end %>
                                    <% end %>
                                <% else %>    
                                    <p align="center">________________________________</p>
                                 <% end %>     
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <strong><%= @user_representante.name %></strong>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    Representante Legal
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <%= @user_representante.document.abbreviation %>: <%= Firm.miles(@user_representante.nro_document) %>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    Fecha firma: <%= @history_evaluation.date_firm_employee  if @history_evaluation.date_firm_employee.present? %>
                                </div>
                            </div>
            
                        </div>
                        <br> 
                    <% end %>    
            </td>
        </tr>
    </table>
    
    <br>
