<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('common.date_history_evaluation') %></th>
                <th scope="col"><%= t('common.completed_items') %></th>
                <th scope="col"><%= t('common.unfulfilled_items') %></th>
                <th scope="col"><%= t('common.not_apply_items') %></th>
                <th scope="col"><%= t('common.score') %></th>
                <th scope="col"><%= t('common.percentage') %></th>
                <th scope="col"><%= t('common.result') %></th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col"><%= t('common.delete') %></th>                
            </tr>
        </thead>
        <tbody> 
            <%= render partial: 'history_evaluation', collection: @history_evaluations if @history_evaluations.present? %>  
        </tbody>      
    </table>
</div>


