<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11"> 
    <div class="row g-2">
        <div class="col-sm-10">
            <h2 class="display-5"><%= t('.title')%></h2>
        </div>        
        <hr>
    </div>            
</div>   

    <div class="container col-11">
        <br>
            <div class="row g-2">
                <div class="col-sm-12">
                    <strong><%= t('.entity_id') %></strong>
                    <%= @history_evaluation.entity.business_name if @history_evaluation.present? %> 
                </div>        
            </div>

            <div class="row g-2">
                <div class="col-sm-4">
                    <strong><%= t('.evaluation_id') %></strong>
                    <%= @history_evaluation.evaluation_id if @history_evaluation.present? %> 
                </div>        

                <div class="col-sm-4">
                    <strong><%= t('.date_create_evaluation') %></strong>
                    <%= @history_evaluation.date_create_evaluation if @history_evaluation.present? %> 
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.date_history_evaluation') %></strong>
                    <%= @history_evaluation.date_history_evaluation if @history_evaluation.present? %> 
                </div>        
            </div>

            <div class="row g-2">
                <div class="col-sm-12">
                    <strong><%= t('.rule_id') %></strong>
                    <%= @history_evaluation.rule.name if @history_evaluation.present? %> 
                </div>        
            </div>

            <div class="row g-2"> 
                <div class="col-sm-6">
                <strong><%= t('.number_employees') %></strong>
                <%= @history_evaluation.number_employees if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-6">
                    <strong><%= t('.risk_level_id') %></strong>
                    <%= @history_evaluation.risk_level.name if @history_evaluation.present? %>
                </div>        
            </div>  

            <div class="row g-3">
                <div class="col-sm-4">
                    <strong><%= t('.completed_items') %></strong>
                    <%= @history_evaluation.completed_items if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.unfulfilled_items') %></strong>
                    <%= @history_evaluation.unfulfilled_items if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.not_apply_items') %></strong>
                    <%= @history_evaluation.not_apply_items if @history_evaluation.present? %>
                </div>        
            </div>  

            <div class="row g-3">
                <div class="col-sm-4">
                    <strong><%= t('.score') %></strong>
                    <%= @history_evaluation.score if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4">
                    <strong><%= t('.percentage') %></strong>
                    <%= @history_evaluation.percentage if @history_evaluation.present? %>
                </div>        
                <div class="col-sm-4"> 
                    <strong><%= t('.result') %></strong>
                    <% if @history_evaluation.result.to_s == 'ACEPTABLE' %>
                        <div style="color:#008000";><%= @history_evaluation.result %> </div>
                    <% end  %>     
                    <% if @history_evaluation.result.to_s == 'MODERADAMENTE ACEPTABLE'  %>
                        <div style="color:#FFD200";><%= @history_evaluation.result %> </div>
                    <% end  %>    
                    <% if @history_evaluation.result.to_s == 'CRÍTICO'  %>
                        <div style="color:#FF0000";><%= @history_evaluation.result %> </div>
                    <% end  %>    
                </div>        
            </div>  
            <div class="row g-3">
                <div class="col-sm-4">
                    <strong><%= t('.expected_goald') %></strong>
                    <%= @history_evaluation.expected_goald if @history_evaluation.present? %>%
                </div>        
                <div class="col-sm-4">
                </div>        
                <div class="col-sm-4"> 
                </div>        
            </div>  
        
            <div class="row g-2">
                <div class="col-sm-12">
                    <strong><%= t('.observation') %></strong>
                    <%= @history_evaluation.observation if @history_evaluation.present? %> 
                </div>        
            </div>
    </div>    
    <br>
    <div class="container col-11">
        <% if @history_items.present? %>
            <%= render partial: 'history_items'  %>   
        <% end %> 
    </div>    

    <br> 
    <div class="row"><br></div>
    <table style="width: 100%">
        <tr>    
            <td style="border:0px solid black; width: 50%; text-align:center">
                    <% if @user_responsible.present? %>
                        <div class="row  text-center"> 
                            <div class="col-11">
                                <div>Firma del Asesor externo de apoyo en la ejecución del SG-SST:</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <% if @history_evaluation.firm_responsible_execution == "1" %>
                                   <% if @user_responsible.firm.attached? %>
                                      <% if @user_responsible.firm.image? %> 
                                           <%= image_tag @user_responsible.firm, class: "firma" %>
                                            <p align="center">________________________________</p>
                                      <% end %>
                                    <% end %>
                                <% else %>    
                                    <p align="center">________________________________</p>
                                 <% end %>     
                            </div>
                           <div class="col-11">
                                <div class="row">
                                    <h6><strong><%= @user_responsible.name %></strong></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><%= @user_responsible.activity %></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><%= @user_responsible.document.abbreviation %>: <%= Firm.miles(@user_responsible.nro_document) %></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6>Fecha firma: <%= @history_evaluation.date_firm_responsible  if @history_evaluation.date_firm_responsible.present? %></h6>
                                </div>
                            </div>
                        </div>
                        <br>
                    <% end %>    
            </td>
            <td style="border:0px solid black; width: 50%; text-align:center">
                    <% if @user_representante.present? %>
                        <div class="row  text-center"> 
                            <div class="col-11">
                                <div>Firma del Empleador o Contratante:</div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <% if  @history_evaluation.firm_employee_contractor == "1" %>
                                   <% if @user_representante.firm.attached? %>
                                      <% if @user_representante.firm.image? %> 
                                           <%= image_tag @user_representante.firm, class: "firma" %>
                                            <p align="center">________________________________</p>
                                      <% end %>
                                    <% end %>
                                <% else %>    
                                    <p align="center">________________________________</p>
                                 <% end %>     
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><strong><%= @user_representante.name %></strong></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6>Representante Legal</h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6><%= @user_representante.document.abbreviation %>: <%= Firm.miles(@user_representante.nro_document) %></h6>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <h6>Fecha firma: <%= @history_evaluation.date_firm_employee  if @history_evaluation.date_firm_employee.present? %></h6>
                                </div>
                            </div>
            
                        </div>
                        <br> 
                    <% end %>    
            </td>
        </tr>
    </table>
    
    <br>
