<tr>
    <td><%= standar.name %></td>
    <td><%= standar.description %></td>
    <td><%= standar.value %></td>
    <td><%= Standar.label_cycle(standar.cycle) %></td>
    <td><%= standar.rule_id %></td>

    <td><%= link_to t('common.edit'), edit_standar_path(standar), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>