<%= render 'shared/header2' %>
<br>
<div class="container col-11" class="text-center">
    <div class="row g-2">
        <div class="col-sm-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg> &nbsp;Evaluación Estándares Mínimos
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="card">
                            <div class="card-header">
                                Evaluación Estándares Mínimos
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ver el estado actual de la evaluación de la Empresa y sus historicos. <a href="evaluations" class="btn btn-primary btn-sm">Ver</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                            <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1"/>
                        </svg> &nbsp;  Informes
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="card-header">
                                    Matriz Legal
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Es la compilación de los requisitos normativos exigibles a la empresa acorde con las actividades propias e inherentes de su actividad productiva, los cuales dan los lineamientos normativos y técnicos para desarrollar el Sistema de Gestión de la Seguridad y Salud en el Trabajo (SG-SST). <a href="matrix_legals" class="btn btn-primary btn-sm">Ver</a> </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Matriz de Peligros y Riesgos
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Te permite analizar el riesgo al definir cada evento como de impacto alto, medio o bajo en una escala del 1 al 25. Una vez que evalúes la gravedad y la probabilidad de cada riesgo, otorgarás la prioridad correspondiente a cada uno y te prepararás para ellos en consecuencia. <a href="matrix_danger_risks" class="btn btn-primary btn-sm">Ver</a> </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Matriz Plan de Trabajo
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Permite presentar de forma sistemática y lógica los objetivos de un programa y sus relaciones de causalidad. Asimismo, sirve para evaluar si se han alcanzado los objetivos y para definir los factores externos al programa que pueden influir en su consecución. <a href="annual_work_plans" class="btn btn-primary btn-sm">Ver</a> </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Matriz de Seguimiento ACPM
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Hacer seguimiento a todas las recomenadciones y aciones correctivas solicitadas por Salud Ocupacional y las diferentes áreas en temas de Seguridad y Salud en el Trabajo. <a href="matrix_corrective_actions" class="btn btn-primary btn-sm">Ver</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                            </svg> &nbsp;Indicadores
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="card-header">
                                    Indicadores de Resultados
                                </div>
                                <div class="card-body">
                                    <p class="card-text">medidas verificables de los cambios alcanzados en el periodo definido, teniendo como base la programación hecha y la aplicación de los recursos propios del programa o del sistema de gestión. <a href="indicadores/resultado" class="btn btn-primary btn-sm">Ver</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408z"/>
                        </svg> &nbsp;Multimedia
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="card-header">
                                    Multimedia
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Ingresa aquí para ver las capacitaciones virtuales. <a href="contents" class="btn btn-primary btn-sm">Ver</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg> &nbsp;Evaluaciones
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="card-header">
                                    Evaluaciones
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Ingresa aquí para realizar las evaluaciones que se encuentrán disponibles para tu empresa. <a href="exams" class="btn btn-primary btn-sm">Ver</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div></br></div>
            <div class="container col-11" class="text-center">
                <div class="row g-2">
                    <div class="col-sm-6"> 
                        <div>
                            <%= link_to image_tag("calendar2.png", class: "calendar"), calendar_path(Date.today.year), class: 'btn btn-outline-primary'  %>
                            <h5>Próximos eventos</h5>
                            <hr>
                            <%  @calendars.each do |calendar| %>
                                <%  @activities.where("calendar_id = ?", calendar.id).each do |activity| %>
                                    <div>
                                        <strong><%= calendar.day  %> de <%= Calendar.label_month(calendar.month) %></strong><br>
                                        <%= link_to activity.description, activity_path(activity) %> <%= activity.citation.strftime("%I:%M %p") %>
                                    </div>
                                <% end %>
                            <% end %>
                            <hr>
                        </div>
                    </div>    
                </div>
            </div> 
        </div>
        <div class="col-sm-1">
        </div>    
        <div class="col-sm-4  card p-5"> 
            <div>
                <h5 class="text-center">Cuadro de Indicadores </br>  <small class="text-body-secondary"><%= @entity.business_name if @entity.present? %></small></h5>
                <table>
                    <tr><td><hr></td><td><hr></td></tr>
                    <tr>    
                        <td> 
                            <%= pie_chart  @datos_generales, title: "Estándares Mínimos", download: {filename: "GraficaCiclo"}, download: {background: "#FFFFFF"}, xtitle: "Cumplidos", ytitle: "Porcentaje", prefix: "Porcentaje: ", suffix: "%", colors: ["#008000", "#FF0000"], donut: true, label: 'true', width: "150px", height: "150px", legend: "bottom", loading: "Loading..."  if @datos_generales.present? %>
                        </td>
                        <td>
                            <%= pie_chart  @datos_sex, title: "Sexo", download: {filename: "Sexo"}, download: {background: "#FFFFFF"}, xtitle: "Hombres", ytitle: "Mujeres", prefix: "Cant: ", colors: ["#0000ff", "#FFC0CB"], donut: true, label: 'true', width: "150px", height: "150px", legend: "bottom", loading: "Loading..."  if @datos_sex.present? %>
                        </td>
                    </tr>
                    <tr><td><hr></td><td><hr></td></tr>
                    <tr>    
                        <td>
                            <div><strong>Colaboradores</strong> <span class="badge text-bg-primary"><%=   @total_colaboradores  if @total_colaboradores.present? %></span>
                                <%= pie_chart  @datos_clasificacion_cargo, download: {filename: "Sexo"}, download: {background: "#FFFFFF"}, xtitle: "Hombres", ytitle: "Mujeres", prefix: "Cant: ", colors: ["#FF0000", "#FFFF00"], donut: true, label: 'true', width: "150px", height: "100px", legend: "bottom", loading: "Loading..."  if @datos_clasificacion_cargo.present? %>
                            </div>    
                        </td>
                        <td>
                            <div>  
                                <%=  image_tag('icoaccidentemortal.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @accidentes_mortales %></span>&nbsp;<strong>Accidentes mortales</strong>
                            </div>
                        </td>
                    </tr>    
                    <tr><td><hr></td><td><hr></td></tr>
                    <tr>    
                        <td>
                            <div>
                                <%=  image_tag('icoaccidente.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @accidentes_trabajo %></span>&nbsp;<strong>Accidentes de trabajo</strong> 
                            </div>    
                        </td>
                        <td>
                            <div>  
                                <%=  image_tag('icosevaccidente.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @dias_incapacidad_accidentes %></span>&nbsp;<strong>Días de incapacidad por accidentes</strong>
                            </div>
                        </td>
                    </tr>
                    <tr><td><hr></td><td><hr></td></tr>
                    <tr>    
                        <td>
                            <div>
                                <%=  image_tag('icoenfermedadlaboral.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @enfermedad_laboral %></span>&nbsp;<strong>Enfermedad laboral</strong>
                            </div>    
                        </td>
                        <td>
                            <div>  
                                <%=  image_tag('icosevincapacitado.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @dias_comun_laboral %></span>&nbsp;<strong>Días ausencia por incapacidad común o laboral</strong>
                            </div>
                        </td>
                    </tr>
                    <tr><td><hr></td><td><hr></td></tr>
                    <tr>    
                        <td>
                            <div>
                                <%=  image_tag('icoactosycondiciones.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @totalactos%></span>&nbsp;<strong>Actos y condiciones inseguras</strong>
                            </div>    
                        </td>
                        <td>
                            <div>  
                                <%=  image_tag('icointervencioninseguros.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @totalactosinter %></span>&nbsp;<strong>Actos intervenidos</strong>
                            </div>
                        </td>
                    </tr>
                    <tr><td><hr></td><td><hr></td></tr>
                    <tr>    
                        <td>
                            <div>
                                <%=  image_tag('icopeligro.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @totalpeligros%></span>&nbsp;<strong>Total Peligros/Riesgos</strong>
                            </div>    
                        </td>
                        <td>
                            <div>  
                                <%=  image_tag('icolistadopeligro.png', height: "50", width: "auto")  %>&nbsp;<span class="badge text-bg-primary"><%= @totalpeligrosinter %></span>&nbsp;<strong>Peligros/Riesgos Intervenidos</strong>
                            </div>
                        </td>
                    </tr>
                    <tr><td><hr></td><td><hr></td></tr>

                </table>
            </div>
        </div>    
    </div>
</div> 
<br>
