<div class="container col-12 card p-5">
    <br>
    <%= form_with model: @res_int_plan do |form| %>
        <% @res_int_plan.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  
     
        <div class="form-group"> 
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingrese el nombre del elemento para la Prevención y Atención de Emergencias y Desastres que posee la Empresa.">Descripción: <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
            <%= form.text_field :description,  class: "form-control" %>
        </div>
        </br>    
        <div class="row g-3">
            <div class="col-sm-3">
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingrese la cantidad de recursos.">Cantidad: <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.text_field :cant,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingrese la clase.">Lugar: <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.text_field :clase,  class: "form-control" %>
            </div>        
            <div class="col-sm-4">
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingrese la ubicación.">ubicación: <%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>           
                <%= form.text_field :ubication,  class: "form-control" %>
            </div>        
        </div>  
        </br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
    <% end %>

</div>
<br>
