<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @commitment do |form| %>
        <% @commitment.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  
  
        <div>
            <div class="form-group">    
                <%= form.label :activity, style: "display: block" %>
                <%= form.text_area :activity,  class: "form-control" %>
            </div>
            </br>
            <div class="form-group">    
                <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del usuario responsable.">Usuario responsable:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
                    <%= form.collection_select :user_id, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
            </div>
            </br>
            <div class="row g-2">
                <div class="col-sm-5">
                    <%= form.label :date_ejecution, style: "display: block" %>
                    <%= form.date_field :date_ejecution,  class: "form-control" %>
                </div>
                <div class="col-sm-4">
                    <%= form.label :state_commitment,  style: "display: block" %>
                    <%= form.radio_button :state_commitment, 0, disabled: false %>
                    <label for="pendiente">Pendiente</label>
                    <%= form.radio_button :state_commitment, 1, disabled: false %>
                    <label for="ejecutado">Ejecutado</label>
                </div> 
            </div>        
            <br>
            <br>
            <%= form.submit 'Guardar', class: "btn btn-sm btn-primary", data: { turbo_confirm: 'Desea guardar los cambios?' }  %>     
            <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back  %>
        </div>            
    <% end %>

</div>