<table class="table table-hover"> 
    <thead>
        <tr>
            <th>NRO</th>
            <th>PROCESO</th>
            <th>ACTIVIDAD</th>
            <th>RESPONSABLE</th>
            <th>Valor presupuestado IVA incluido Año</th>
            <th>EJECUTADO</th>
            <th>APROBADO</th>
            <th>FECHA DE APROBACIÓN</th>
        </tr>
    </thead>
    t.integer :consecutive, default: 0
    t.string :process
    t.string :activity
    t.string :responsible
    t.integer :value, default: 0
    t.integer :executed, default: 0
    t.integer :approved, default: 0
    t.date :date_approved

    <% @training_items.each do |training_item| %>             
        <tbody>
            <tr> 
                <td><%= training_item.consecutive %></td>
                <td><%= training_item.process %></td>
                <td><%= training_item.activity %></td>
                <td><%= training_item.responsible %></td>
                <td><%= training_item.value %></td>
                <td><%= training_item.executed %></td>
                <td><%= training_item.approved %></td>
                <td><%= training_item.date_approved  %></td>
            </tr>
        </body>
    <% end %>
</table>
