<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div>
    <table class="table table-hover" style="border:1px solid black"> 
        <thead>
            <tr>
                <td rowspan="4"; style="border:1px solid black; text-align:center; padding-bottom: 40px;">
                    <% if @resource.entity.logo.present? then %>
                        <%=  image_tag  @resource.entity.logo, class: "image_peq" %>
                    <% end %>
                </td>
                <td rowspan="4"; colspan="7"; style="text-align:center; padding-bottom: 40px;">
                    <div><h5>ASIGNACIÓN DE RECURSOS PARA EL SG-SST <%= @resource.year if @resource.present? %></h5><h6><%= @resource.entity.business_name if @resource.present? %> Nit: <%= @resource.entity.identification_number if @resource.present? %> </h6></div>
                </td>
                <td rowspan="4";  style="text-align:center"></td>

                <td colspan="2"; style="border:1px solid black">Fecha de Creación:</td>

                <td style="border:1px solid black"><%= @template.date if @template.present? %></td>

            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Fecha de Actualización:</td>
                <td style="border:1px solid black"><%= @template.date_updated if @template.present? %></td>
            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Versión:</td>
                <td style="border:1px solid black"><%= @template.version if @template.present? %></td>
            </tr>
            <tr> 
                <td colspan="2"; style="border:1px solid black">Código:</td>
                <td style="border:1px solid black"><%= @template.reference if @template.present? %></td>
            </tr>

            <tr>
                <th rowspan="2"; style="border:1px solid black;text-align:center">Nro.</th>
                <th rowspan="2"; style="border:1px solid black">Proceso</th>
                <th rowspan="2"; style="border:1px solid black">Actividad</th>
                <th rowspan="2"; style="border:1px solid black">Responsable</th>
                <th rowspan="2"; style="border:1px solid black;text-align:center">Valor presupuestado IVA incluido Año</th>
                <th colspan="2"; style="border:1px solid black;text-align:center">Ejecutado</th>
                <th colspan="2"; style="border:1px solid black;text-align:center">Aprobado</th>
                <th style="border:1px solid black;text-align:center">Fecha de Aprobación </th>
                <th rowspan="2"; style="border:1px solid black;text-align:center">Editar</th>
                <th rowspan="2"; style="border:1px solid black;text-align:center">Eliminar</th>
            </tr>   

            <tr>
                <th style="border:1px solid black;text-align:center">SI</th>
                <th style="border:1px solid black;text-align:center">NO</th>
                <th style="border:1px solid black;text-align:center">SI</th>
                <th style="border:1px solid black;text-align:center">NO</th>                
                <th style="border:1px solid black;text-align:center">aaaa/mm/dd</th>
            </tr>   

        </thead>

        <% @resource_items.each do |resource_item| %>             
            <tbody>
                <tr>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.consecutive %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.process %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.activity %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.responsible %></td>
                    <td style="border:1px solid black;text-align:center">$<%= resource_item.miles(resource_item.value) %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.labelxs(resource_item.executed) %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.labelxn(resource_item.executed) %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.labelxs(resource_item.approved) %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.labelxn(resource_item.approved) %></td>
                    <td style="border:1px solid black;text-align:center"><%= resource_item.date_approved  %></td>
                    <td style="border:1px solid black; text-align:center;"><%= link_to t('common.edit'), edit_resource_item_path(resource_item), class: 'btn btn-sm btn-primary'  %></td>
                    <td style="border:1px solid black; text-align:center;"><%= link_to t('common.delete'), resource_item_path(resource_item), data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar la asignación de recurso?' }, class: 'btn btn-sm btn-danger' %></td>
                </tr> 
            </body>
        <% end %>
        <tr style="border:1px solid black">
            <td  colspan="4";style="border:1px solid black"><br>
                <% if @resource.firm_legal_representative == 1 %>
                    <% if @rep.present? %>
                        <% if @rep.firm.attached? %>
                           <% if @rep.firm.image? %> 
                                <%= image_tag @rep.firm, class: "firma" %>
                            <% end %>
                        <% end %>
                    <% end %>     
                <% end %>     
            </td>
            <td  colspan="4";style="border:1px solid black"><br>
                <% if @resource.firm_adviser_sst == 1 %>
                    <% if @adv.present? %>
                        <% if @adv.firm.attached? %>
                            <% if @adv.firm.image? %> 
                                <%= image_tag @adv.firm, class: "firma" %>
                            <% end %>
                        <% end %>
                    <% end %>     
                <% end %>     
            </td>
            <td  colspan="4";style="border:1px solid black"><br>
                <% if @resource.firm_responsible_sst == 1 %>
                    <% if @res.present? %>
                        <% if @res.firm.attached? %>
                            <% if @res.firm.image? %> 
                                <%= image_tag @res.firm, class: "firma" %>
                            <% end %>
                        <% end %>
                    <% end %>     
                <% end %>     
            </td>
        </tr> 
        <tr>
            <td  colspan="4"><%= @resource.name_user(@resource.user_legal_representative) %> - Representante Legal</td>
            <td  colspan="8"></td>
        </tr>
    </table>
</div>    
