<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div>
        </div>
        <div class="container">
            <%= link_to t('.create_car_checklist'), new_car_checklist_path, class: 'btn btn-sm btn-primary'  %> 
        </div>
        </br>        

        <%= search_form_for @q do |f| %>
            <%= f.label :date_list %>
            <%= f.date_field :date_list_eq %>

            <%= f.label :user_id %>
            <%= f.select :user_id_eq, @users.pluck(:name, :id).uniq,  {include_blank: true}, style: "width: 200px;" %>

            <%= f.label :plate_car %>
            <%= f.search_field :plate_car_cont %>

            <button type="submit" class="btn btn-sm btn-primary">Buscar</button>
        <% end %>
        </br>  
        <%== pagy_info(@pagy) %>
        <%== pagy_bootstrap_combo_nav_js(@pagy) %>


        <hr>
    <table class="table table-hover">
        <thead> 
            <tr>
                <th scope="col"><%= sort_link(@q, :date_list, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :plate_car, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :user_id, default_order: :desc) %></th>
                <th scope="col">Firma</th>
                <th scope="col"><%= t('.user_autoriza') %></th>
                <th scope="col">Firma</th>
                <th scope="col">Adjuntos</th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col">PDF</th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'car_checklist', collection: @car_checklists  %>  
        </tbody>      
    </table>
</div>