<%= render 'shared/header2' %>
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_exam_question'), new_exam_question_path, class: 'btn btn-xs btn-primary'  %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.number') %></th>
                <th scope="col"><%= t('.adm_exam_id') %></th>
                <th scope="col"><%= t('.question') %></th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'exam_question', collection: @exam_questions  %>  
        </tbody>      
    </table>
</div>
