<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @meeting_commitment do |form| %>
        <% @meeting_commitment.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        </br>    
        <div class="form-group col-4">     
            <%= form.label :number, style: "display: block" %>
            <%= form.number_field :number,  class: "form-control", min:1 %>
        </div>
        </br>
        <div class="form-group">    
            <%= form.label :commitment, style: "display: block" %>
            <%= form.text_field :commitment,  class: "form-control" %>
        </div>
        </br>
        <div class="form-group">    
            Nombre responsable: <%= @meeting_commitment.responsible %>
        </div> 
        </br>
        <div class="form-group col-4">    
            <%= form.label :date_commitment, style: "display: block" %>
            <%= form.date_field :date_commitment,  class: "form-control", required: true  %>
        </div>
        </br>
        <div class="form-group">    
            <%= form.label :state_commitment, style: "display: block" %>
            <%= form.text_field :state_commitment,  class: "form-control" %>
        </div>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
    <% end %>
</div>        
<br>
