
<%= turbo_frame_tag dom_id(room) do %>
  <div class="room">
    <h3><%= link_to room.name, room_path(room), data: { turbo_frame: "_top" } %><br><br></h3>
    <%= link_to "Edit", edit_room_path(room) %>
    <%= link_to "Delete", room_path(room), data: { "data-turbo-method": :delete, turbo_confirm: "Are you sure?"  } %>
    <%= link_to "Eliminar", room_path(room), data: { turbo_method: :delete, turbo_confirm: "¿Estásss seguro?" } %>
    <%= button_to "Delete", room, method: :delete, class:"btn btn-sm btn-danger" %></td>
  </div>
<% end %>



