<div class="container col-12 card p-5">
    <br> 
    <%= form_with model: @change_management_item do |form| %>
        <% @change_management_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %> 
        <table style="width: 100%;">
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>ACTIVIDAD: </strong>
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.rich_text_area :activity_plannig,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>RESPONSABLE: </strong>
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.collection_select :responsible_planning, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>COMUNICAR CAMBIO A: </strong>
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.text_field :communicate_change,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>FECHA EJECUCIÓN: </strong>
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.date_field :date_execution,  class: "form-control" %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;">
                    <strong>FECHA SEGUIMIENTO: </strong>
                </td>
                <td style="width: 70%;border:1px solid black;">
                    <%= form.date_field :date_continue,  class: "form-control" %>
                </td>
            </tr>
       </table>
       </br> 
        <%= form.hidden_field :change_management_id, :value => params[:id].to_i, class: "form-control" if params[:id].present? %>
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>
