<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
    <%= render 'encabezado' %>
    <div></br></div>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>FECHA:</strong>               
                </td>
                <td style="width: 70%;border:1px solid black;padding: 5px;">
                    <%= @change_management.date_change  if @change_management.present? %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>AREA:</strong>                
                </td>
                <td style="width: 70%;border:1px solid black;padding: 5px;">
                    <%= ChangeManagement.label_area(@change_management.code_area)  %>
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>DESCRIPCIÓN DEL CAMBIO</strong></br>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;">
                    <%= @change_management.description_change  if @change_management.present? %>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>ANÁLISIS DE RIESGOS Y ASPECTOS / REQUISITOS LEGALES APLICABLES</strong></br>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;">
                    <%= @change_management.analisys_change  if @change_management.present? %>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>RECOMENDACIONES DEL ADMINISTRADOR DEL SG-SST </strong></br>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;">
                    <%= @change_management.recomendations_change  if @change_management.present? %>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>ANÁLISIS DEL IMPACTO DEL SISTEMA  </strong></br>                
                </td>
            </tr>
        </table>
        <table style="width: 100%;">        
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>PELIGROS Y RIESGOS: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.dangers_change  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>REQUISITOS LEGALES: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.requeriment_legal  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>CONTROL OPERATIVO: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.operational_control  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>PROCEDIMIENTOS  DE TRABAJO: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.work_procedure  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>OTROS: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.others  if @change_management.present? %>
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>PLANEACIÓN DEL CAMBIO</strong></br>                
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 30%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>ACTIVIDAD</strong>               
                </td>
                <td style="width: 20%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>RESPONSABLE</strong>               
                </td>
                <td style="width: 20%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>COMUNICAR CAMBIO A:</strong>               
                </td>
                <td style="width: 10%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>FECHA EJECUCIÓN</strong>               
                </td>
                <td style="width: 10%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>FECHA SEGUIMIENTO</strong>               
                </td>
                <td style="width: 10%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>Editar</strong>               
                </td>
            </tr>
            <% if @change_management_items.present? %>
                <%  @change_management_items.each do |item| %>
                    <tr>    
                        <td style="width: 30%;border:1px solid black;padding: 5px;">
                            <%= item.activity_plannig  %>               
                        </td>
                        <td style="width: 20%;border:1px solid black;padding: 5px;">
                            <%= ChangeManagement.label_user(item.responsible_planning) %>                
                        </td>
                        <td style="width: 20%;border:1px solid black;padding: 5px;">
                             <%= item.communicate_change %>               
                        </td>
                        <td style="width: 10%;border:1px solid black;padding: 5px;">
                            <%= item.date_execution  %>               
                        </td>
                        <td style="width: 10%;border:1px solid black;padding: 5px;">
                            <%= item.date_continue  %>               
                        </td>
                        <td style="width: 10%;border:1px solid black;text-align:center;padding: 5px;">
                            <%= link_to t('common.edit_change_management_item'), edit_change_management_item_path(item.id), class: 'btn btn-sm btn btn-warning' %>               
                        </td>
                    </tr>
                <% end %>               
            <% end %>               
        </table>
        <div></br></div>
        <div><%= link_to 'Crear planeación', crear_item_paso_cambio_path(@change_management), class: 'btn btn-sm btn-warning' if Current.user.level > 0 && Current.user.level < 3 %></div>
        <div></br></div>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 60%;border:1px solid black;padding: 5px;">
                    <strong>Elaborado por: </strong>                
                    <%= @user.name if @user.present? %></br>
                </td>
                <td style="width: 40%;border:1px solid black;padding: 5px;text-align:center;">
                    <% if @change_management.firm_user_elaborated == 1 %>
                        <div>
                        <% if @user.firm.attached? %>
                            <% if @user.firm.image? %> 
                                <%= image_tag @user.firm, class: "firma" %>
                            <% end %>
                        <% end %>
                    <% end %>    
                </td>
            </tr>
        </table>
</div>    
<div></br></div>
<div></br></div>