<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= javascript_importmap_tags %>
</head>
<br>
<table style="border:0px solid black;width: 100%;">
    <tr>
        <td rowspan="2" style="border:1px solid black; width: 20%; text-align:center">
            <% if @change_management.entity.logo.present? then %>
                <%=  image_tag  @change_management.entity.logo, class: "image_peq" %>
            <% end %>   
        </td>
        <td style="border:1px solid black; text-align:center">
            <div class="col-10"><%= @change_management.entity.business_name if @change_management.present? %></div>
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; text-align:center">
            <div class="col-10"><%= @template.name if @template.present? %></div>
        </td>
    </tr>
</table>
<table style="border:0px solid black;width: 100%;">
    <tr>    
        <td style="border:1px solid black; width: 25%">
            CÓDIGO:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<small class="text-muted"><%= @template.reference if @template.present? %></small>                
        </td>

        <td style="border:1px solid black; width: 25%">
            VERSIÓN:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<small class="text-muted"><%= @template.version if @template.present? %></small>                
        </td>
    </tr>
    <tr>    
        <td style="border:1px solid black; width: 25%">
            FECHA DE ELABORACIÓN:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<small class="text-muted"><%= @template.date if @template.present? %></small>                
        </td>

        <td style="border:1px solid black; width: 25%">
            FECHA DE ACTUALIZACIÓN:                 
        </td>
        <td style="border:1px solid black; width: 25%">
            &nbsp;&nbsp;<small class="text-muted"><%= @template.date_updated if @template.present? %></small>                
        </td>
    </tr>
</table>
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
    <div></br></div>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>FECHA:</strong>               
                </td>
                <td style="width: 70%;border:1px solid black;padding: 5px;">
                    <%= @change_management.date_change  if @change_management.present? %>               
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>AREA:</strong>                
                </td>
                <td style="width: 70%;border:1px solid black;padding: 5px;">
                    <%= ChangeManagement.label_area(@change_management.code_area)  %>
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>DESCRIPCIÓN DEL CAMBIO</strong></br>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;">
                    <%= @change_management.description_change  if @change_management.present? %>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>ANÁLISIS DE RIESGOS Y ASPECTOS / REQUISITOS LEGALES APLICABLES</strong></br>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;">
                    <%= @change_management.analisys_change  if @change_management.present? %>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>RECOMENDACIONES DEL ADMINISTRADOR DEL SG-SST </strong></br>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;">
                    <%= @change_management.recomendations_change  if @change_management.present? %>                
                </td>
            </tr>
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>ANÁLISIS DEL IMPACTO DEL SISTEMA  </strong></br>                
                </td>
            </tr>
        </table>
        <table style="width: 100%;">        
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>PELIGROS Y RIESGOS: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.dangers_change  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>REQUISITOS LEGALES: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.requeriment_legal  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>CONTROL OPERATIVO: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.operational_control  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>PROCEDIMIENTOS  DE TRABAJO: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.work_procedure  if @change_management.present? %>
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;border:1px solid black;padding: 5px;">
                    <strong>OTROS: </strong>                
                </td>
                <td style="width: 50%;border:1px solid black;padding: 5px;">
                    <%= @change_management.others  if @change_management.present? %>
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 100%;border:1px solid black;padding: 5px;text-align:center;background-color:#00aae4;">
                    <strong>PLANEACIÓN DEL CAMBIO</strong></br>                
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 40%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>ACTIVIDAD</strong>               
                </td>
                <td style="width: 20%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>RESPONSABLE</strong>               
                </td>
                <td style="width: 20%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>COMUNICAR CAMBIO A:</strong>               
                </td>
                <td style="width: 10%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>FECHA EJECUCIÓN</strong>               
                </td>
                <td style="width: 10%;border:1px solid black;text-align:center;padding: 5px;background-color:#00aae4;">
                    <strong>FECHA SEGUIMIENTO</strong>               
                </td>
            </tr>
            <% if @change_management_items.present? %>
                <%  @change_management_items.each do |item| %>
                    <tr>    
                        <td style="width: 40%;border:1px solid black;padding: 5px;">
                            <%= item.activity_plannig  %>               
                        </td>
                        <td style="width: 20%;border:1px solid black;padding: 5px;">
                            <%= ChangeManagement.label_user(item.responsible_planning) %>                
                        </td>
                        <td style="width: 20%;border:1px solid black;padding: 5px;">
                             <%= item.communicate_change %>               
                        </td>
                        <td style="width: 10%;border:1px solid black;padding: 5px;">
                            <%= item.date_execution  %>               
                        </td>
                        <td style="width: 10%;border:1px solid black;padding: 5px;">
                            <%= item.date_continue  %>               
                        </td>
                    </tr>
                <% end %>               
            <% end %>               
        </table>
        <table style="width: 100%;">
            <tr>    
                <td style="width: 60%;border:1px solid black;padding: 5px;">
                    <strong>Elaborado por: </strong>                
                    <%= @user.name if @user.present? %></br>
                </td>
                <td style="width: 40%;border:1px solid black;padding: 5px;text-align:center;">
                    <% if @change_management.firm_user_elaborated == 1 %>
                        <div>
                        <% if @user.firm.attached? %>
                            <% if @user.firm.image? %> 
                                <%= image_tag @user.firm, class: "firma" %>
                            <% end %>
                        <% end %>
                    <% end %>    
                </td>
            </tr>
        </table>
</div>    
<div></br></div>
<div></br></div>