<%= render 'shared/header2' %>

<br>
<div class="container col-11 card p-5">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_level'), new_level_path, class: 'btn btn-xs btn-primary'  %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('common.id') %></th>
                <th scope="col"><%= t('common.name') %></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'level', collection: @levels  %>  
        </tbody>      
    </table>
</div>
<br>