<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @matrix_goal do |form| %>
        <% @matrix_goal.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>

        <div class="row g-2">
            <div class="col-sm-3">
                <%= form.label :year, style: "display: block" %>
                <%= form.number_field :year,  class: "form-control", required: true %>
            </div>        
        </div>   

        <br>
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Representante Legal.">Representante Legal:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_representante, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <br>    
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Asesor SST.">Asesor SST:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_asesor, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <br>    
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Responsable SST.">Responsable SST:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_responsible, User.usuarios_empresa.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <% if params[:entity_id].present? %>
            <%= form.hidden_field :entity_id, :value => params[:entity_id].to_i, class: "form-control"  %>
            <%= form.hidden_field :date_unsafe, :value => Time.now, class: "form-control" %>
        <% else %>
            <%= form.hidden_field :entity_id, :value => @matrix_goal.entity_id, class: "form-control" if @matrix_goal.present? %>
        <% end %>
        

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>