<div class="container col-12 card p-5">
    <br>
    <%= form_with model: @matrix_goal_item do |form| %>
        <% @matrix_goal_item.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>   
        </br>

        <div class="row g-2">
            <div class="col-sm-4">
                Seleccionar Indicador:
                <%= form.collection_select :indicator_id, Indicator.all.order(id: :asc), :id, :name, { prompt: '--Seleccionar Indicador--' },
                { class: 'form-control input-sm select2' } %>
            </div>        
            <div class="col-sm-3">
                Meta:
                <%= form.number_field :meta, in: 0.00..100.0, step: 0.01,  class: "form-control" %>
            </div>
        </div>      
        </br>
        <div class="form-group">
            Objetivos generales:
            <%= form.text_area :objetives,  class: "form-control" %>
        </div>
        </br>
        <%= form.hidden_field :matrix_goal_id, :value => params[:id].to_i, class: "form-control" %>

        <br>    
        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, matrix_goals_path(entity_id: Current.user.entity) %>
    <% end %>
</div>
<br>
<div class="container col-12 card p-5">
    <hr>
    <br>
    <div class="d-flex">
        <div class="container">
            <h class="display-6">Objetivos y Metas</h>
        </div> 
    </div>
    <hr>
            
    <% if @matrix_goal_items.present? %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">OBJETIVOS Y METAS</th>
                    <th scope="col">META</th>
                    <th scope="col">INDICADOR</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% @matrix_goal_items.each do |matrix_goal_item| %>
                    <tr>
                        <td><%= matrix_goal_item.objetives %></td>
                        <td><%= matrix_goal_item.meta %></td>
                        <td><%= matrix_goal_item.indicator.name if matrix_goal_item.indicator_id > 0 %></td>
                        <td><%= link_to t('common.edit'), edit_matrix_goal_item_path(matrix_goal_item), class: 'btn btn-sm btn-primary'  %></td>
                        <td><%= button_to "Delete", matrix_goal_item, method: :delete, class:"btn btn-sm btn-danger" %></td>
                    </tr>
                <% end %>     
            </tbody>      
        </table>
    <% end %>     
</div>
        
<br>