<div class="container col-11 card p-5">
    </br>
    <h2><strong><%= @indicator.name %></strong></h2></br>
    <div class="col-sm-10">
        <strong><%= t('.description') %></strong>
        <%=  @indicator.description  %> 
    </div>
    </br>        
    <div class="row g-2">
        <div class="col-sm-5">
            <strong><%= t('.cycle_id') %></strong>
            <%= @cycles.find(@indicator.cycle_id).name %> 
        </div>        
        <div class="col-sm-5">
            <strong><%= t('.periodicity') %></strong>
            <%= Indicator.label_periodicidad(@indicator.periodicity) %> 
        </div>        
    </div>
    </br>        
    <div class="col-sm-10">
        <strong><%= t('.formula') %></strong>
        <%=  @indicator.formula  %> 
    </div>
    </br>        
    <div class="col-sm-10">
        <strong><%= t('.interpretation') %></strong>
        <%=  @indicator.interpretation  %> 
    </div>
    </br>        
    <div class="row g-2">
        <div class="col-sm-5">
            <strong><%= t('.limit_one') %></strong>
            <%= @indicator.limit_one %> 
        </div>        
        <div class="col-sm-5">
            <strong><%= t('.limit_two') %></strong>
            <%= @indicator.limit_two %>  
        </div>        
    </div>
    </br>        
    <div class="col-sm-10">
        <strong><%= t('.information_source') %></strong>
        <%=  @indicator.information_source  %> 
    </div>
    </br>        
    <div class="col-sm-10">
        <strong><%= t('.responsible_management') %></strong>
        <%=  @indicator.responsible_management  %> 
    </div>
    </br>        
    <div class="col-sm-10">
        <strong><%= t('.type_indicator') %></strong>
        <%=  @indicator.type_indicator  %> 
    </div>
    </br>        
    <div class="col-sm-10">
        <strong><%= t('.person_result') %></strong>
        <%=  @indicator.person_result  %> 
    </div>
    <div></br></div>        
    </br>  
    <div>      
        <%= link_to t('common.return'), indicators_path, class: 'btn btn-sm btn-primary' %></td>
    </div>
</div>
