<div class="container col-12 card p-5">
    <br>  
    <%= form_with model: @matrix_condition do |form| %>
        <% @matrix_condition.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>

        <br>
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Representante Legal.">Representante Legal:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_representante, User.all.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <br>    
        <div class="form-group">    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccione el nombre del Asesor SST.">Asesor SST:<%= image_tag 'ayuda.png',:width => "25",  :height=>"25" %></button>
            <%= form.collection_select :user_responsible, User.all.order(id: :asc), :id,  :name, style: "width=50px" %>
        </div>
        <br>    

        <%= form.hidden_field :entity_id, :value => params[:entity_id].to_i, class: "form-control" %>
        <%= form.hidden_field :date_unsafe, :value => Time.now, class: "form-control"  %>


        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>

 