<% if @entity.present? %>
    <h2><%= @entity.business_name %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %></h2>
<% end %>
 
<% if @matrix_condition.present? %> 
    <td><%= link_to t('common.show_matrix_condition'), matrix_condition_path(@matrix_condition.id), class: 'btn btn-sm btn btn-warning' %></td>
    <td><%= link_to t('common.crear_item'), crear_item_condition_path(@matrix_condition.id), class: 'btn btn-sm btn btn-warning' %></td>
    <td><%= link_to "PDF", condition_pdf_path(@matrix_condition.id, format: 'pdf'), class: 'btn btn-sm btn-success' %></td>
    
    <div class="container col-12">
        <br>
        <div class="row g-2">
            <div class="col-sm-3">
                <strong>Fecha de creación</strong><br>
                <%= @matrix_condition.date_unsafe %> 
            </div>        
        </div>

        <div class="row g-4">
            <div class="col-sm-3">
                <strong><%= t('.user_representante') %></strong><br>
                <%=  MatrixCondition.name_user(@matrix_condition.user_representante)  %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.firm_representante') %></strong><br>
                <%= MatrixCondition.label_firm(@matrix_condition.firm_representante) %> 
            </div>        
            <div class="col-sm-3">
                <% if @matrix_condition.firm_representante.to_i == 0 %>
                    <%= link_to t('common.firmar'), firmar_representante_path(@matrix_condition.id, 1), class: 'btn btn-sm btn btn-warning' %>
                <% else %>    
                    <%= @matrix_condition.date_firm_representante %> 
                <% end %>    
            </div>
        </div>
        <div class="row g-4">
            <div class="col-sm-3">
                <strong><%= t('.user_responsible') %></strong><br>
                <%=  MatrixCondition.name_user(@matrix_condition.user_responsible)  %> 
            </div>        
            <div class="col-sm-3">
                <strong><%= t('.firm_responsible') %></strong><br>
                <%= MatrixCondition.label_firm(@matrix_condition.firm_responsible) %> 
            </div>        
            <div class="col-sm-3">
                <% if @matrix_condition.firm_responsible.to_i == 0 %>
                    <%= link_to t('common.firmar'), firmar_responsible_path(@matrix_condition.id, 2), class: 'btn btn-sm btn btn-warning' %>
                <% else %>    
                    <%= @matrix_condition.date_firm_responsible %> 
                <% end %>    
            </div>
        </div>
    </div>           
    <br> 
    <hr>
<% else %>
    <div>
        <%= link_to t('common.create_matrix_condition'), new_matrix_condition_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>
    </div>
<% end %>


