<tr>
    <td><%= allow_exam.id %></td>
    <td><%= allow_exam.entity.business_name %></td>
    <td><%= allow_exam.description %></td>
    <td><%= allow_exam.user.name %></td>
    <td><%= link_to 'Participantes', seleccionar_usuarios_examen_path(allow_exam), class: 'btn btn-sm btn-primary'  %></td>

    <td><%= link_to t('common.edit'), edit_allow_exam_path(allow_exam), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= button_to "Delete", allow_exam, method: :delete, class:"btn btn-sm btn-danger" %></td>
</tr>
