<tr>
    <td><%= allow_exam.id %></td>
    <td><%= allow_exam.entity.business_name %></td>
    <td><%= allow_exam.adm_exam.description %></td>
    <td><%= allow_exam.date_initial %></td>
    <td><%= allow_exam.date_final %></td>
    <td><%= allow_exam.user.name %></td>
    <td><%= link_to t('common.edit'), edit_allow_exam_path(allow_exam), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>
