<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_allow_exam'), new_allow_exam_path, class: 'btn btn-sm btn-primary'  %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.id') %></th>
                <th scope="col"><%= t('.entity_id') %></th>
                <th scope="col"><%= t('.adm_exam_id') %></th>
                <th scope="col"><%= t('.date_initial') %></th>
                <th scope="col"><%= t('.date_final') %></th>
                <th scope="col"><%= t('.user_id') %></th>
                <th scope="col">Participantes</th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'allow_exam', collection: @allow_exams  %>  
        </tbody>      
    </table>
</div>

