<% if @entity.present? %>
    <h3><%= @entity.business_name %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h3>
<% end %>


<% if @adm_extinguishers.present? %>
    <%= link_to t('common.create_adm_extinguisher'), new_adm_extinguisher_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>
    <div></br></div>
    <table class="table table-hover"> 
        <thead>
            <tr>
                <td style="border:1px solid black; text-align:center;">
                    Fecha de creación
                </td>
                <td style="border:1px solid black;">
                    Usuario responsable
                </td>
                <td style="border:1px solid black; text-align:center;">
                    Firma inspección
                </td>
                <td style="border:1px solid black; text-align:center;">
                    Adicionar Extintor
                </td>
                <td style="border:1px solid black; text-align:center;">
                    Ver
                </td>
                <td style="border:1px solid black; text-align:center;">
                    PDF
                </td>
                <td style="border:1px solid black; text-align:center;">
                    Borrar
                </td>
            </tr>
        </thead>

        <% if @adm_extinguishers.present? %>
            <% @adm_extinguishers.each do |adm_extinguisher| %>
                <tr>
                    <td style="border:1px solid black; text-align:center;">
                        <%= adm_extinguisher.date_creation %> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <%= adm_extinguisher.user.name %> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <% if adm_extinguisher.firm_user == 0 %>
                            <%= link_to t('common.firmar'), firmar_extinguisher_adm_extinguishers_path(adm_extinguisher.id, 1), class: 'btn btn-sm btn btn-warning' %>
                        <% else %>
                            <%= adm_extinguisher.date_firm_user %>    
                        <% end %>           
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <%= link_to t('common.crear_item_extinguisher'), crear_item_extinguisher_adm_extinguishers_path(adm_extinguisher.id), class: 'btn btn-sm btn-warning' %> &nbsp;
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <%= link_to t('common.show_adm_extinguisher'), adm_extinguisher_path(adm_extinguisher.id), class: 'btn btn-sm btn-warning' %> &nbsp;
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <%= link_to "PDF", ver_extinguisher_adm_extinguishers_path(adm_extinguisher.id, format: 'pdf'), class: 'btn btn-sm btn-success' %> &nbsp;
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <%= button_to "Delete", adm_extinguisher, method: :delete, class:"btn btn-sm btn-danger" %>
                    </td>
                </tr>
            <% end %>  
        <% end %>  
    </table>  
    <br>
<% else %>
    <div>
        <%= link_to t('common.create_adm_extinguisher'), new_adm_extinguisher_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>
    </div>
<% end %>
