<div class="container col-5 card p-5">
    <br>
    <%= form_with model: @extinguisher do |form| %>
        <% @extinguisher.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <p class="fst-normal fs-3"><strong>LISTA DE CHEQUEO INSPECCIÓN DE EXTINTORES</strong> </p>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :nro,  style: "display: block" %>
            <%= form.number_field :nro,  class: "form-control", required: true %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :type_extinguisher,  style: "display: block" %>
            <%= form.radio_button :type_extinguisher, 0, required: true %>
            <label for="ExtintorH2O">Extintor H2O</label></br>
            <%= form.radio_button :type_extinguisher, 1, required: true %>
            <label for="ExtintorCO2">Extintor CO2</label></br>
            <%= form.radio_button :type_extinguisher, 2, required: true %>
            <label for="MultipropositoABC">Extintor Multiproposito ABC</label></br>
            <%= form.radio_button :type_extinguisher, 3, required: true %>
            <label for="ExtintorSolkafla">Extintor Solkaflam</label></br>
            <%= form.radio_button :type_extinguisher, 4, required: true %>
            <label for="ExtintorClaseD">Extintor Clase D</label></br>
            <%= form.radio_button :type_extinguisher, 5, required: true %>
            <label for="ExtintorTipoK">Extintor Tipo K</label></br>
        </div>
        <br>  
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :ability,  style: "display: block" %>
            <%= form.text_field :ability,  class: "form-control", required: true %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :ring,  style: "display: block" %>
            <%= form.radio_button :ring, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :ring, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :ring, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :ring, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :pressure_gauge,  style: "display: block" %>
            <%= form.radio_button :pressure_gauge, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :pressure_gauge, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :pressure_gauge, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :pressure_gauge, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :barrette,  style: "display: block" %>
            <%= form.radio_button :barrette, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :barrette, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :barrette, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :barrette, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :handle,  style: "display: block" %>
            <%= form.radio_button :handle, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :handle, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :handle, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :handle, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :valve,  style: "display: block" %>
            <%= form.radio_button :valve, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :valve, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :valve, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :valve, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :hose,  style: "display: block" %>
            <%= form.radio_button :hose, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :hose, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :hose, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :hose, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :nozzle,  style: "display: block" %>
            <%= form.radio_button :nozzle, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :nozzle, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :nozzle, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :nozzle, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :cylindrical_body,  style: "display: block" %>
            <%= form.radio_button :cylindrical_body, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :cylindrical_body, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :cylindrical_body, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :cylindrical_body, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :decal,  style: "display: block" %>
            <%= form.radio_button :decal, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :decal, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :decal, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :decal, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :medium,  style: "display: block" %>
            <%= form.radio_button :medium, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :medium, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :medium, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :medium, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :signaling,  style: "display: block" %>
            <%= form.radio_button :signaling, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :signaling, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :signaling, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :signaling, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :location,  style: "display: block" %>
            <%= form.radio_button :location, 0, required: true %>
            <label for="na">NA</label></br>
            <%= form.radio_button :location, 1, required: true %>
            <label for="nt">NT</label></br>
            <%= form.radio_button :location, 2, required: true %>
            <label for="bueno">B</label></br>
            <%= form.radio_button :location, 3, required: true %>
            <label for="no">M</label></br>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :area_location,  style: "display: block" %>
            <%= form.text_field :area_location,  class: "form-control", required: true %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :date_vec_carga,  style: "display: block" %>
            <%= form.date_field :date_vec_carga,  class: "form-control", required: true %>
        </div>
        <br>
        <div class="col-sm-12 p-3 mb-2 bg-info text-dark">    
            <%= form.label :observation,  style: "display: block" %>
            <%= form.text_field :observation,  class: "form-control", required: true %>
        </div>
        <br>
        <%= form.hidden_field :adm_extinguisher_id, :value => params[:id].to_i, class: "form-control" %>

        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    
  <% end %> 
</div>

 
