<div class="container col-11 card p-5">
    <br>
    <div class="form-group">
       <h5>Archivos adjuntos:</h5>
    </div>         
    <hr>
    <% if @extinguisher.extinguisher_fotos.attached? %>
        <div data-controller="previews" >
            <% @extinguisher.extinguisher_fotos.each do |file|%>
                <br>
                <% if file.image? %>
                    <div>
                        <%= file.blob.filename %>
                        <%= image_tag file, data: {previews_target: "preview"}, class: "image" %>
                        <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                        <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                    </div> 
                <% elsif file.video? %>
                    <%= video_tag url_for(file), controls: "", width: "400px" %>          
                    <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                    <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                <% elsif file.audio? %>
                    <%= audio_tag(url_for(file), controls: "") %>          
                    <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                    <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                <% else %>
                    <%= link_to file.filename, url_for(file) %>          
                    <%= link_to "Borrar Archivo", purge_attachment_path(file), data: { 'turbo-method': :delete, 'turbo-confirm': 'Est치 seguro de eliminar el archivo?' }, class: 'btn btn-sm btn-danger' %> 
                    <%= link_to "Descargar Archivo", rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-sm btn-success' %>    
                <% end %>
            <% end %>  
        </div>
    <% end %>  
</div>


<br>
<div class="container col-11 card p-5">
    <%= form_for @extinguisher do |f| %>
       <div class="row">
          <div class="form-group">
            <h5><%= f.label :"Adjuntar_Archivos:", style: "display: block" %></h5>
            <%= f.file_field :extinguisher_fotos, multiple: true %>

            <%= f.submit 'Subir Archivos', class: 'btn btn-sm btn-primary' %>
          </div> 
        </div>
    <% end %>
    <div><br></div>
    <div><br></div> 
    <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, :back %>

</div>  
<br>

