<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>
    
    <div><br></div>
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black;width: 50%;">
                <strong>Fecha: </strong> <%= @adm_extinguisher.date_creation if @adm_extinguisher.present? %>
            </td>
            <td style="border:1px solid black;width: 50%;">
                <strong>Área: </strong> <%= @adm_extinguisher.area if @adm_extinguisher.present? %>
            </td>
        </tr>
    </table>
    <table style="width: 100%;"> 
        <tr>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>EXTINTOR_No.</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>TIPO, CLASE</font> 
            </td>
            <td style="height:200px; border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>CAPACIDAD(Libras)</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>ANILLO DE VERIFICACIÓN</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>MANÓMETRO</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>PASADOR SEGURIDAD</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>MANIJA DESCARGA Y TRANSPORTE</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>VÁLVULA</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>MANGUERA</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>BOQUILLA</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>CUERPO CILÍNDRICO</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>CALCOMANIA DE IDENTIFICACION-INSTRUCCIONES</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>SOPORTE</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>SEÑALIZACIÓN</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>UBICACIÓN</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>ÁREA DE UBICACIÓN</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>FECHA DE CARGA</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>FECHA DE VENCIMIENTO</font> 
            </td>
            <td style="border:1px solid black; text-align:center;transform: rotate(270deg);">
                <FONT SIZE=1>OBSERVACIONES</font> 
            </td>
        </tr>
        <% if @extinguishers.present? %>
             <% @extinguishers.each do |extinguishers| %>
                <tr>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= extinguishers.nro %></font> 
                    </td>
                    <td style="border:1px solid black;">
                        <FONT SIZE=1><%= Extinguisher.label_type(extinguishers.type_extinguisher) %></font> 
                    </td>
                    <td style="border:1px solid black;text-align:center;">
                        <FONT SIZE=1><%= extinguishers.ability %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.ring) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.pressure_gauge) %> </font>
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.barrette) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.handle) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.valve) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.hose) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.nozzle) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.cylindrical_body) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.decal) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.medium) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.signaling) %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= Extinguisher.label(extinguishers.location) %></font> 
                    </td>
                    <td style="border:1px solid black;">
                        <FONT SIZE=1><%= extinguishers.area_location %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= extinguishers.date_carga %></font> 
                    </td>
                    <td style="border:1px solid black; text-align:center;">
                        <FONT SIZE=1><%= extinguishers.date_vec_carga %></font> 
                    </td>
                    <td style="border:1px solid black;">
                        <FONT SIZE=1><%= extinguishers.observation %></font> 
                    </td>
                </tr>
            <% end %>
        <% end %>          
    </table>
    <div><br></div>
    <div><u><%= @adm_extinguisher.user.name if @adm_extinguisher.present? %></u></div>
    <div>Nombre de quien realiza la inspección</div>
    <div>&nbsp;</div>
        <% if @adm_extinguisher.firm_user == 1 %>
            <div>
                <% if @adm_extinguisher.user.firm.attached? %>
                    <% if @adm_extinguisher.user.firm.image? %> 
                        <strong>Firma:</strong>&nbsp;&nbsp;<%= image_tag @adm_extinguisher.user.firm, class: "firma" %>
                    <% end %>
                <% end %>
            </div>
            <div>Cargo: <%= @adm_extinguisher.post if @adm_extinguisher.present? %></div>
        <% else %>    
            <div>Firma: ________________________________</div>
            <div>Cargo: <%= @adm_extinguisher.post if @adm_extinguisher.present? %></div>
        <% end %>     
    </div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
</div>    
