<tr>
    <td><%= rule.id %></td>
    <td><%= rule.name %></td>
    <td><%= rule.description %></td>
    <td><%= rule.creation_date %></td>
    <td><%= rule.date_update %></td>

    <td><%= link_to t('common.edit'), edit_rule_path(rule), class: 'btn btn-xs btn-primary'  %></td>
    
</tr>