<br>
<div class="container col-11 card p-5">
    <h class="display-5" style="text-align:center">Ficha Técnica</h>
    <hr>

    <div class="form-group">    
        <h5><strong>Evaluación:</strong>
            <%= @adm_exam.name %> 
        </h5>
    </div>
    <br>
    <div class="form-group">    
        <h5><strong>Descripción:</strong>
            <%= @adm_exam.description %> 
        </h5>
    </div>
    <br>
    <div class="row g-2">
        <div class="col-sm-5">
            <h5><strong>Número de preguntas:</strong>
                <%= @adm_exam.cant_questions %> 
            </h5>    
        </div>        
        <div class="col-sm-5">
            <h5><strong>Porcentaje mínimo aprobación:</strong>
                <%= @adm_exam.percentage_min %>
            </h5>
        </div>        
    </div>   
    <br>
    <div class="row g-2">
        <div class="col-sm-5">
            <h5><strong>Número de intentos:</strong>
                <%= @adm_exam.cant_attempts %> 
            </h5>    
        </div>        
        <div class="col-sm-5">
            <h5><strong>Tiempo máximo evaluación:</strong>
                <%= @adm_exam.time_max %>
            </h5>
        </div>        
    </div>
    <br>   
    <div class="form-group">    
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    </div>
    <br>
</div>


