<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11" 
        <br>
        <h2>Normas Legales</h2> <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, matrix_legals_path(entity_id: Current.user.entity) %>

        <hr>

        <br>
        <table style="border:1px solid black;width: 100%;">
            <thead>
                <tr>
                    <th scope="col" style="border:1px solid black"><%= t('.risk_factor') %></th>
                    <th scope="col" style="border:1px solid black"><%= t('.description_compliance') %></th>
                    <th scope="col" style="border:1px solid black">Crear</th>
                </tr>
            </thead> 

            <% if @legal_rules.present? %>
                <tbody>
                    <% @legal_rules.each do |legal_rule| %>
                        <tr>
                            <td style="border:1px solid black"><%= legal_rule.risk_factor %></td>
                            <td style="border:1px solid black"><%= legal_rule.description_compliance %></td>
                            <td style="border:1px solid black"><%= link_to "Crear requisito legal", grabar_rule_matrix_legals_path(legal_rule: legal_rule.id, matrix_legal: params[:id]), class: 'btn btn-sm btn-primary' %></td>
                        </tr>
                    <% end %>           
                </tbody>      
            <% end %>    
        </table>
</div>        
<br>


