<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @matrix_legal do |form| %>
        <% @matrix_legal.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>

        <table>
            <tr>
                <td>
                    <h4>Representante Legal</h4> 
                    <%= @matrix_legal.name_user(@matrix_legal.user_legal_representative) %>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Firma autorizada del Representante Legal</h4> 
                    <%= form.radio_button :firm_legal_representative, 0 %>
                    <label for="no">No</label>&nbsp;&nbsp; 
                    <%= form.radio_button :firm_legal_representative, 1 %>
                    <label for="si">Si</label>&nbsp;&nbsp;   
                </td>
            </tr>
        </table>
        <%= form.hidden_field :date_firm_legal_representative, :value => Time.now, class: "form-control" %>
        <br>    

        
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, :back %>
    <% end %>
</div>        
<br>

 