
<% if @matrix_legal_items.present? %>
<table class="table table-hover" style="border:1px solid black"> 
    <thead>
        <tr>
            <th scope="col" style="border:1px solid black"><%= t('.consecutive') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.year') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.risk_factor') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.issuing_entity') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.requirement') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.rule_name') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.applicable_article') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.apply') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.evidence_compliance') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.responsible') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.meets') %></th>
            <th scope="col" style="border:1px solid black"><%= t('.description_compliance') %></th>
        </tr>
    </thead> 
    <tbody>
        <% if params[:format].to_i == 3 %>
            <% @matrix_legal_items.each do |matrix_legal_item| %>
                <tr>
                    <td style="border:1px solid black"><%= matrix_legal_item.consecutive %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.year %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.risk_factor %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.issuing_entity %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.requirement %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.rule_name %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.applicable_article %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.label_apply(matrix_legal_item.apply) %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.evidence_compliance %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.responsible %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.label_meets(matrix_legal_item.meets) %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.description_compliance %></td>
                </tr>
            <% end %>
        <% else %>
            <% @matrix_legal_items.where(meets: params[:format].to_i).each do |matrix_legal_item| %>
                <tr>
                    <td style="border:1px solid black"><%= matrix_legal_item.consecutive %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.year %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.risk_factor %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.issuing_entity %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.requirement %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.rule_name %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.applicable_article %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.label_apply(matrix_legal_item.apply) %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.evidence_compliance %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.responsible %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.label_meets(matrix_legal_item.meets) %></td>
                    <td style="border:1px solid black"><%= matrix_legal_item.description_compliance %></td>
                </tr>
            <% end %>
        <% end %>           
    </tbody>   
    </table>         
<% end %>     
