<% if @entity.present? %>
    <h2><%= @entity.business_name %> Nit: <%= EvaluationRuleDetail.miles(@entity.identification_number) if @entity.identification_number.present? %>-<%= @entity.verification_digit if @entity.verification_digit.present? %></h2>
<% end %>


<% if @annual_work_plans.present? %>
    <%= link_to t('.create_annual_work_plan'), new_annual_work_plan_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>

    <table class="table table-hover"> 

        <% @annual_work_plans.each do |annual_work_plan| %>
            <hr>
            <div class="col-sm-8">
                <h3>Plan de trabajo del año: <%= annual_work_plan.year %> </h3>
            </div>        

            <%= link_to t('common.create_item_annual_work_plan'), crear_item_plan_annual_work_plans_path(annual_work_plan.id), class: 'btn btn-sm btn-warning' %> &nbsp;
            <%= link_to t('common.show_annual_work_plan'), annual_work_plan_path(annual_work_plan.id), class: 'btn btn-sm btn-warning' %> &nbsp;
            <%= link_to 'Excel', annual_work_plan_path(annual_work_plan.id, format: :xlsx), class: 'btn btn-sm btn-success' %> &nbsp;
            <%= link_to "PDF", ver_plan_annual_work_plans_path(annual_work_plan.id, format: 'pdf'), class: 'btn btn-sm btn-success' %> &nbsp;
            <%= link_to t('common.indicator'), graficosmpt_path(annual_work_plan.id), class: 'btn btn-sm btn btn-success' %>

            <div class="container col-12">
                <br>
                <div class="row g-2">
                    <div class="col-sm-3">
                        <strong>Fecha de creación</strong><br>
                        <%= annual_work_plan.created_at.strftime("%F") %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong>Última fecha de actualización</strong><br>
                        <%= annual_work_plan.updated_at.strftime("%F") %> 
                    </div>        
                </div>

                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.code') %></strong><br>
                        <%= annual_work_plan.code %> 
                    </div>
                    <div class="col-sm-3">
                        <strong><%= t('.version') %></strong><br>
                        <%= annual_work_plan.version %> 
                    </div>
                    <div class="col-sm-3">
                        <strong><%= t('.date_create') %></strong><br>
                        <%= annual_work_plan.date_create %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_update') %></strong><br>
                        <%= annual_work_plan.date_update %> 
                    </div>        
                </div>
                <br>

                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.user_legal_representative') %></strong><br>
                        <%=  annual_work_plan.name_user(annual_work_plan.user_legal_representative)  %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.firm_legal_representative') %></strong><br>
                        <%= annual_work_plan.label_firm(annual_work_plan.firm_legal_representative) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_firm_legal_representative') %></strong><br>
                        <%= annual_work_plan.date_firm_legal_representative %> 
                    </div>
                    <div class="col-sm-3">
                        <% if annual_work_plan.firm_legal_representative.to_i == 0 %>
                            <%= link_to t('common.firmar'), firmar_rep_annual_work_plans_path(annual_work_plan.id, 1), class: 'btn btn-sm btn btn-warning' %>
                        <% end %>    
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.user_adviser_sst') %></strong><br>
                        <%= annual_work_plan.name_user(annual_work_plan.user_adviser_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.firm_adviser_sst') %></strong><br>
                        <%= annual_work_plan.label_firm(annual_work_plan.firm_adviser_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_firm_adviser_sst') %></strong><br>
                        <%= annual_work_plan.date_firm_adviser_sst %> 
                    </div>
                    <div class="col-sm-3">
                        <% if annual_work_plan.firm_adviser_sst.to_i == 0 %>
                            <%= link_to t('common.firmar'), firmar_adv_annual_work_plans_path(annual_work_plan.id, 2), class: 'btn btn-sm btn btn-warning' %>
                        <% end %>    
                    </div>
                </div>

                <div class="row g-4">
                    <div class="col-sm-3">
                        <strong><%= t('.user_responsible_sst') %></strong><br>
                        <%= annual_work_plan.name_user(annual_work_plan.user_responsible_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.firm_responsible_sst') %></strong><br>
                        <%= annual_work_plan.label_firm(annual_work_plan.firm_responsible_sst) %> 
                    </div>        
                    <div class="col-sm-3">
                        <strong><%= t('.date_firm_responsible_sst') %></strong><br>
                        <%= annual_work_plan.date_firm_responsible_sst %> 
                    </div>
                    <div class="col-sm-3">
                        <% if annual_work_plan.firm_responsible_sst == 0 %>
                            <%= link_to t('common.firmar'), firmar_res_annual_work_plans_path(annual_work_plan.id, 3), class: 'btn btn-sm btn btn-warning' %>
                        <% end %>           
                    </div>
                </div>

            </div>           
        <% end %>  
        <hr>  
    </table>  
    <br>
<% else %>
    <div>
        <%= link_to t('.create_annual_work_plan'), new_annual_work_plan_path(entity_id: @entity.id), class: 'btn btn-sm btn-primary'  %>
    </div>
<% end %>
