<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @situation_condition do |form| %>
        <% @situation_condition.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>
        <br/>    
        <div class="row g-2">
            <div class="col-sm-8">
                <%= form.label :type_condition_inspection_id, style: "display: block" %>
                <%= form.collection_select :type_condition_inspection_id, TypeConditionInspection.all.order(id: :asc), :id, :name, { prompt: '--Seleccionar--' },
                { class: 'form-control input-sm select2' } %>
            </div>        
        </div>   
        <br/>    
        <div class="form-group">    
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name,  class: "form-control" %>
        </div>
        <br/>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, templates_path %>
    <% end %>
</div>        
<br>