<br>
<div class="d-flex">
    <div class="container">
        <h5><strong>Compromisos acordados en esta reunión</h5></strong>
    </div> 
</div>
<hr>
<table class="table table-hover">
        <tr>
            <td><h5><strong>No.</h5></strong></td>
            <td><h5><strong>Compromiso</h5></strong></td>
            <td><h5><strong>Responsable</h5></strong></td>
            <td><h5><strong>Fecha acordada para compromiso</h5></strong></td>
            <td><h5><strong>Resultado Esperado</h5></strong></td>
        </tr>
        <% @meeting_commitments.each do |meeting_commitment| %>
            <tr>
                <td><%= meeting_commitment.number %></td>
                <td><%= meeting_commitment.commitment %></td>
                <td><%= meeting_commitment.responsible %></td>
                <td><%= meeting_commitment.date_commitment %></td>
                <td><%= meeting_commitment.state_commitment %></td>
            </tr>
        <% end %>     
</table>
<br>