<br>
<div class="d-flex">
    <div class="container">
        <h class="display-6">Compromisos acordados en esta reunión</h>
    </div> 
</div>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Compromiso</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha acordada para compromiso</th>
            <th scope="col">Resultado Esperado</th>
        </tr>
    </thead>
    <tbody>
        <% @meeting_commitments.each do |meeting_commitment| %>
            <tr>
                <td><%= meeting_commitment.number %></td>
                <td><%= meeting_commitment.commitment %></td>
                <td><%= meeting_commitment.responsible %></td>
                <td><%= meeting_commitment.date_commitment %></td>
                <td><%= meeting_commitment.state_commitment %></td>
            </tr>
        <% end %>     
    </tbody>      
</table>
<br>