<div class="container col-11 card p-5"> 
    <%= render 'encabezado' %>

    <%= form_with model: @meeting_minute do |form| %>
        <br>
        <%= form.hidden_field :record_number, :value => @numero_acta, class: "form-control" if @numero_acta.present? %>
        <%= form.hidden_field :entity_id, :value => @entity.id, class: "form-control" if @entity.present? %>
        <%= form.hidden_field :evaluation_id, :value => @evaluation.id, class: "form-control" if @evaluation.present? %>
        <%= form.hidden_field :user_id, :value => Current.user.id, class: "form-control" if Current.present? %>
        <%= form.hidden_field :elaborated, :value => Current.user.name, class: "form-control" if Current.present? %>
        
        <div class="row">
            <div class="col-4">
                <%= form.label :date, style: "display: block" %>
                <%= form.date_field :date,  class: "form-control" %>
            </div>
            <div class="col-4" style="text-align:center">
                Acta número:</br> <%= @numero_acta %>
            </div>
            <div class="col-4">
                <%= form.label :area_process_committee,  style: "display: block" %>
                <%= form.select(:area_process_committee, [['Sin seleccionar', 'Sin seleccionar'], ['SG-SST', 'SG-SST']]) %>
            </div>
        </div>
        </br>
        <div class="col">
            <%= form.label :objective_meeting, style: "display: block" %>
            <%= form.text_field :objective_meeting,  class: "form-control" %>
        </div>
        </br>
        <div class="col">
            <%= form.label :meeting_type,  style: "display: block" %>
            <%= form.select(:meeting_type, [['Sin seleccionar', 'Sin seleccionar'], ['Comité', 'Comité'], ['Asesoría', 'Asesoría'], ['Auditoría', 'Auditoría']]) %>
        </div>
        </br>
        <div class="row">
            <div class="col-5">
                <%= form.label :place, style: "display: block" %>
                <%= form.text_field :place,  class: "form-control" %>
            </div>
            <div class="col-3">
                <%= form.label :start_time, style: "display: block" %>
                <%= form.time_field :start_time,  class: "form-control" %>
            </div>
            <div class="col-3">
                <%= form.label :end_time, style: "display: block" %>
                <%= form.time_field :end_time,  class: "form-control" %>
            </div>
        </div>
        </br>
        <hr>        
        <% if @meeting_attendees.present? %>
            <%= render partial: 'asistentes'  %>  
        <% end %>
        <br>
        <hr>   
        <br>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <h class="display-6">Orden del Día:</h>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    <tr>
                        <%= form.label :order_day, style: "display: block" %>
                        <%= form.rich_text_area :order_day %>
                    </tr>
                </tbody>      
            </table>
        </div>
        <hr>
        <br>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <h class="display-6">Temas tratados:</h>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    <tr>
                        <%= form.label :Issues, style: "display: block" %>
                        <%= form.rich_text_area :Issues,  class: "form-control" %>
                    </tr>
                </tbody>      
            </table>
        </div>
        <hr>
        <br>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <h class="display-6">Proposiciones y varios</h>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    <tr>
                        <%= form.label :miscellaneous_propositions, style: "display: block" %>
                        <%= form.rich_text_area :miscellaneous_propositions,  class: "form-control" %>
                    </tr>
                </tbody>      
            </table>
        </div>
        <br>
        <% if @meeting_commitments.present? %>
            <%= render partial: 'commitments'  %>  
        <% end %>
        <br>
        <div class="row">
            <div class="col">
                <h5>Agotada la reunión, se da por terminada siendo las: <small class="text-muted"><%= @meeting_minute.end_time if @meeting_minute.present? %></small></h5>                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h5>Para constancia firman:</h5>                
            </div>
        </div>
        <br>
        <% if @assistants.present? %>
            <%= render partial: 'firmantes'  %>  
        <% end %>
        <br>
        <div>
            Elaboró: <%= Current.user.name %>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
            <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, occupational_risk_managers_path %>
        </div>
    <% end %>
</div>
<br>


