
<tr>
    <td><%= meeting_minute.date %></td>
    <td><%= meeting_minute.entity.business_name %></td>
    <td><%= meeting_minute.evaluation_id %></td>
    <td><%= meeting_minute.evaluation.date_evaluation %></td>
    <td><%= meeting_minute.user.name %></td>
    <td><%= link_to t('common.show'), meeting_minute, class: 'btn btn-xs btn-primary' %></td>
    <td><%= link_to t('common.edit'), edit_meeting_minute_path(meeting_minute), class: 'btn btn-xs btn-secondary'  %></td>
    <td><%= link_to t('common.delete'), meeting_minute, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el acta?' }, class: 'btn btn-xs btn-danger' %></td>
    <td><%= link_to t('common.create_meeting_attendee'), crear_asistente_meeting_minutes_path(meeting_minute.id), class: 'btn btn-xs btn btn-warning' %></td>
    <td><%= link_to t('common.create_meeting_commitment'), crear_compromiso_meeting_minutes_path(meeting_minute.id), class: 'btn btn-xs btn btn-warning' %></td>
    <td><%= link_to t('common.create_meeting_signature'), crear_firma_meeting_minutes_path(meeting_minute.id), class: 'btn btn-xs btn btn-warning' %></td>
    <td><%= link_to "PDF", meeting_minute_path(meeting_minute.id, format: 'pdf'), class: 'btn btn-sm btn-success' %></td>
</tr>  


