<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @assistant do |form| %>
        <% @assistant.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    

        <br>
        <% if Current.user.level > 0 && Current.user.level < 4 %>
            <div class="form-group" >    
                <strong>Seleccionar usuario para firma del acta: </strong>
                <%= form.collection_select :user_id, User.all.order(id: :asc), :id,  :name, style: "width=50px" %>
            </div>  
            <%= form.hidden_field :meeting_minute_id, :value => params[:id].to_s, class: "form-control" %>
            <br>    
        <% end %>        
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
    <% end %>
    <hr>
    <br>
    <div class="d-flex">
        <div class="container">
            <h class="display-6">Asistentes que firman en esta reunión</h>
        </div> 
    </div>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Firmar Acta</th>

            </tr>
        </thead>
        <tbody>
            <% @assistants.each do |firma| %>
                <tr>
                    <td><%= firma.name %></td>
                    <td><%= firma.post %></td>
                    <td><%= link_to t('common.edit'), edit_assistant_path(firma), class: 'btn btn-sm btn-primary' if Current.user.level > 0 &&  Current.user.level < 3 %></td>
                    <td><%= link_to t('common.delete'), firma, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar la firma?' }, class: 'btn btn-sm btn-danger'  if Current.user.level > 0 &&  Current.user.level < 3 %></td>
                    <td>
                        <% if firma.firm_assistant == 0 %>
                            <%= link_to t('common.firmar_acta'), firmar_assistent_path(firma.id), class: 'btn btn-sm btn-primary' if Current.user.id == firma.user_id %>
                        <% else %>
                            <%= firma.date_firm %>
                        <% end %>
                    </td>
                </tr>
            <% end %>     
        </tbody>      
    </table>
    <br>
        
</div>        
<br>