<%= render 'shared/header2' %>
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.date') %></th>
                <th scope="col"><%= t('.entity_id') %></th>
                <th scope="col"><%= t('.evaluation_id') %></th>
                <th scope="col"><%= t('.date_evaluation') %></th>
                <th scope="col"><%= t('.user_id') %></th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col"><%= t('common.delete') %></th>
                <th scope="col"><%= t('common.attendee') %></th>
                <th scope="col"><%= t('common.commitment') %></th>
                <th scope="col"><%= t('common.signature') %></th>
                <th scope="col">PDF</th>
            </tr>
        </thead> 
        <tbody>
            <%= render partial: 'meeting_minute', collection: @meeting_minutes  %>  
        </tbody>      
    </table>
    <%= link_to t('.create_meeting_minute'), new_meeting_minute_path, class: 'btn btn-xs btn-primary'  %> 
</div>



