<div align="left"; class="container col-12">
    <a class="navbar-brand" href="/">
        <%= image_tag 'LogoConesst202305232.png',:width => "100",  :height=>"100" %>
    </a>
</div>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <hr>

        <%= search_form_for @q do |f| %>
            <%= f.label :date_eq %>
            <%= f.date_field :date_eq %>
            &nbsp;&nbsp;
            
            <%= f.label :entity_id_eq %>
            <%= f.select :entity_id_eq, Entity.pluck(:business_name, :id).uniq,  {include_blank: true}, style: "width: 200px;" %>
            &nbsp;&nbsp;

            <%= f.label :version_eq %>
            <%= f.select :version_eq,  [['Acta de Asesoría', 0], ['Acta del COPASST', 1], ['Acta de la Brigada de Emergencia', 2], ['Acta del Comité de Convivencia', 3]],  {include_blank: true}, style: "width: 200px;" %>
            &nbsp;&nbsp;

            <button type="submit" class="btn btn-primary">Buscar</button>
        <% end %>
    </br>        
    <%== pagy_info(@pagy) %>
    <%== pagy_bootstrap_combo_nav_js(@pagy) %>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= sort_link(@q, :date, default_order: :desc)  %></th>
                <th scope="col"><%= sort_link(@q, :entity_id, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :record_number, default_order: :desc) %></th>
                <th scope="col"><%= sort_link(@q, :version, default_order: :desc)  %></th>
                <th scope="col"><%= t('common.show') %></th>
                <th scope="col"><%= t('common.edit') %></th>
                <th scope="col"><%= t('common.delete') %></th>
                <th scope="col"><%= t('common.attendee') %></th>
                <th scope="col"><%= t('common.commitment') %></th>
                <th scope="col"><%= t('common.signature') %></th>
                <th scope="col">PDF</th>
                <th scope="col">Duplicar Acta</th>
            </tr>
        </thead> 
        <tbody>
            <%= render partial: 'meeting_minute', collection: @meeting_minutes  %>  
        </tbody>      
    </table>
    </br>        
    <%== pagy_info(@pagy) %>
    <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </br>        
    <%= link_to t('.create_meeting_minute'), new_meeting_minute_path, class: 'btn btn-xs btn-primary' if Current.user.level > 0 &&  Current.user.level < 4 || Current.user.ccl == 1 || Current.user.secretary_copasst == 1 || Current.user.copasst == 1 %> 
    </br> 
</div>



