<head>
    <meta charset='utf-8' />
</head>

        <table  style="width: 100%;border: 1px solid #B5B2B2;">
            <tr>
                <td style="width: 20%; text-align:center;">
                    <% if @entity.logo.present? then %>
                        <%= image_tag(Evaluation.wicked_blob_path(@entity.logo),:width => "80",  :height=>"80") %>
                    <% end %>   
                </td>
                <td style="text-align:center;text-transform:uppercase;font-size: 14px;">
                    <div class="col-10"><strong><%= @entity.business_name if @entity.present? %></strong></div>
                    <div class="col-10"><strong><%= @template.name if @template.present? %></strong></div>
                </td>
            </tr>
        </table>
        <table  style="width: 100%;border: 1px solid #B5B2B2;">
            <tr>    
                <td style="width: 30%;font-size: 12px;">
                    <strong>Código: </strong>                
                </td>
                <td style="width: 20%;font-size: 12px;">
                    <strong>&nbsp;&nbsp;<%= @template.reference if @template.present? %></strong>                
                </td>

                <td style="width: 30%;font-size: 12px;">
                    <strong>Versión: </strong>                
                </td>
                <td style="width: 20%;font-size: 12px;">
                    <strong>&nbsp;&nbsp;<%= @template.version if @template.present? %></strong>                
                </td>
            </tr>
            <tr>    
                <td style="width: 30%;font-size: 12px;">
                    <strong>Fecha de elaboración: </strong>                
                </td>
                <td style="width: 20%;font-size: 12px;">
                    <strong>&nbsp;&nbsp;<%= @template.date if @template.present? %></strong>                
                </td>

                <td style="width: 30%;font-size: 12px;">
                    <strong>Fecha de actualización: </strong>                
                </td>
                <td style="width: 20%;font-size: 12px;">
                    <strong>&nbsp;&nbsp;<%= @template.date_updated if @template.present? %></strong>                
                </td>
            </tr>
        </table>


    <table style="border:0px solid black;width: 100%;">
        <br>
        <tr>
            <td style="border:0px solid black; width: 40%;">
                Fecha: <small class="text-muted"><%= @meeting_minute.date if @meeting_minute.present? %></small>                
            </td>
            <td style="border:0px solid black; width: 30%;">
                Acta N°: <small class="text-muted"><%= @meeting_minute.record_number if @meeting_minute.present? %></small>                
            </td>
            <td style="border:0px solid black; width: 40%;">
                Clasificación Acta:</br> <small class="text-muted"><%= MeetingMinute.label_clasificacion(@meeting_minute.version) if @meeting_minute.present? %></small>                
            </td>
        </tr>
    </table>
    <table style="border:1px solid black;width: 100%;">
        <div>
            Área / Proceso / Comité : <small class="text-muted"><%= @meeting_minute.area_process_committee if @meeting_minute.present? %></small>                
        </div>
        <div>
            Objetivo de la Reunión: <small class="text-muted"><%= @meeting_minute.objective_meeting if @meeting_minute.present? %></small>                
        </div>
        <div>
            Tipo de reunión: <small class="text-muted"><%= @meeting_minute.meeting_type if @meeting_minute.present? %></small>                
        </div>
        </table>
        <table style="border:0px solid black;width: 100%;">
            <tr>
                <td style="border:0px solid black; width: 40%;">
                    Lugar: <small class="text-muted"><%= @meeting_minute.place if @meeting_minute.present? %></small>                
                </td>
                <td style="border:0px solid black; width: 40%;">
                    Hora inicio: <small class="text-muted"><%= @meeting_minute.start_time.strftime("%I:%M %p")  if @meeting_minute.start_time.present? %></small>                
                </td>
                <td style="border:0px solid black; width: 40%;">
                    Hora fin: <small class="text-muted"><%= @meeting_minute.end_time.strftime("%I:%M %p") if @meeting_minute.end_time.present? %></small>                
                </td>
            </tr>
        </table>
        <hr>
        <% if @meeting_attendees.present? %>
            <br>
            <div class="d-flex">
                <div class="container">
                    <strong>Asistentes</strong>
                </div> 
            </div>
            <hr>
        
            <table style="border:0px solid black;width: 100%;">
                <tr>
                        <td style="border:0px solid black; width: 40%;"><strong>Nombre</strong></td>
                        <td style="border:0px solid black; width: 40%;"><strong>Cargo</strong></td>
                        <td style="border:0px solid black; width: 40%;"><strong>Área / Proceso</strong></td>
                </tr>
                <% @meeting_attendees.each do |meeting_attendee| %>
                    <tr>
                        <td style="border:0px solid black; width: 40%;"><%= meeting_attendee.name %></td>
                        <td style="border:0px solid black; width: 40%;"><%= meeting_attendee.post %></td>
                        <td style="border:0px solid black; width: 40%;"><%= meeting_attendee.process_area %></td>
                    </tr>
                <% end %>     
            </table>
        <% end %> 
        <br>
        <hr>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <strong>Orden del Día:</strong>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    <tr>
                        <%= @meeting_minute.order_day if @meeting_minute.present? %>
                    </tr>
                </tbody>      
            </table>
        </div>
        <br>
        <hr>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <strong>Temas tratados:</strong>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    <tr>
                        <%= @meeting_minute.Issues if @meeting_minute.present? %>
                    </tr>
                </tbody>      
            </table>
        </div>
        <br>
        <hr>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <strong>Proposiciones y varios</strong>
                    </tr>
                </thead>
                <hr>
                <tbody>
                    <tr>
                        <%= @meeting_minute.miscellaneous_propositions if @meeting_minute.present? %>
                    </tr>
                </tbody>      
            </table>
        </div>
        <br>
        <hr>    
        <% if @meeting_commitments.present? %>
            <%= render partial: 'commitments'  %>  
        <% end %>
        <br>
        <div class="row">
            <div class="col">
                Agotada la reunión, se da por terminada siendo las: <small class="text-muted"><%= @meeting_minute.end_time.strftime("%I:%M %p") if @meeting_minute.end_time.present? %></small>                
            </div>
        </div>
        <div></div>
        <div class="row">
            <div class="col">
                Para constancia firman:                
            </div>
        </div>
        <br/>
        <% if @assistants.present? %> 
            <br>
 
            <div align="left"; class="container col-12">
                <br> 
                <table>
                    <% cont = 0 %>
                    <% @assistants.each do |firm| %>
                        <% cont = cont + 1 %>
                        <% if cont == 1 || cont == 3 || cont == 5 || cont ==7 || cont == 9  %>
                            <tr> 
                                <td style="border:0px solid black; width: 33%; text-align:center">

                                <div class="row  text-center"> 
                                        <div class="col-11">
                                            <div>&nbsp;</div>
                                            <div>&nbsp;</div>
                                            <% if firm.firm_assistant == 1 %>
                                                <% if firm.user.firm.attached? %>
                                                    <% if firm.user.firm.image? %> 
                                                        <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag(Evaluation.wicked_blob_path(firm.user.firm), class: "firmapdf")%></div>
                                                        <p align="center">______________________</p>
                                                    <% end %>
                                                <% end %>
                                            <% else %>
                                                <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>    
                                                <p align="center">______________________</p>
                                            <% end %>       
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <strong><%= firm.user.name %></strong>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <%= firm.post %>
                                            </div>
                                        </div>
                                        <div class="col-11">
                                            <div class="row">
                                                <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </td>      

                        <% else %>    
                            <td style="border:0px solid black; width: 33%; text-align:center">

                                <div class="row  text-center"> 
                                    <div class="col-11">
                                        <div>&nbsp;</div>
                                        <div>&nbsp;</div>
                                        <% if firm.firm_assistant == 1 %>
                                            <% if firm.user.firm.attached? %>
                                                <% if firm.user.firm.image? %> 
                                                    <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"><%= image_tag(Evaluation.wicked_blob_path(firm.user.firm), class: "firmapdf")%></div>
                                                    <p align="center">______________________</p>
                                                <% end %>
                                            <% end %>
                                        <% else %>  
                                            <div  style="padding: 0;height: 70px;display: flex;justify-content: center;align-items: flex-end;"></div>  
                                            <p align="center">______________________</p>
                                        <% end %>     
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <strong><%= firm.user.name %></strong>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <%= firm.post %>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <%= firm.user.document.abbreviation %>: <%= Firm.miles(firm.user.nro_document) %>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </td>     
                
                            </tr>
                        <% end %>    
                    <% end %>
                    <% if cont == 0 || cont == 2 || cont == 4 || cont = 6 || cont == 8  %>
                        </tr>
                    <% end %>
                </table>   
            </div>
          
        <% end %>
        <br> 
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                      Elaboró: <small class="text-muted"><%= @meeting_minute.elaborated if @meeting_minute.present? %></small>                
            </div>
        </div>
    </table>
<br>

