<tr>
    <td><%= highlight economic_activity_code.risk_class, params.dig(:q, :risk_class_eq) %></td>
    <td><%= highlight economic_activity_code.ciu_code, params.dig(:q, :ciu_code_eq) %></td>
    <td><%= economic_activity_code.additional_digits %></td>
    <td><%= highlight economic_activity_code.economic_activity_description, params.dig(:q, :economic_activity_description_cont) %></td>

    <td><%= link_to t('common.edit'), edit_economic_activity_code_path(economic_activity_code), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>



