<%= render 'shared/header2' %>
<br>
<div class="container col-11">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_economic_activity_code'), new_economic_activity_code_path, class: 'btn btn-sm btn-primary'  %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.risk_class') %></th>
                <th scope="col"><%= t('.ciu_code') %></th>
                <th scope="col"><%= t('.additional_digits') %></th>
                <th scope="col"><%= t('.economic_activity_description') %></th>
                <th scope="col"><%= t('common.edit') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'economic_activity_code', collection: @economic_activity_codes  %>  
        </tbody>      
    </table>
</div>
